<ion-header>
  <ion-toolbar color="blue-default">

    <ion-buttons slot="start">
      <ion-button ion-button clear (click)="close()">
        <ion-icon class="icon-size-back" ios="ios-arrow-back" md="ios-arrow-back">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <span>{{"pages.login.privacy_txt" | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="background terms" padding>
  <p [innerHTML]="privacy | safeHtml" *ngIf="privacy !== null && privacy !== undefined"></p>
</div>