<div *ngIf="speakers && speakers.length > 0" class="top-space">
    <h5 *ngIf="showTitle" [style.color]="title_color" class="text-center">
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ (title) ? title : "global.texts.speakers" | translate }}</strong>
    </h5>
    <ion-item class="clickable-component" detail="true" [style.background]="bg_content_color" lines="none"
        *ngFor="let speaker of speakers; let i = index" (click)="profileDetails(speaker)">
        <ion-avatar>
            <ion-img [src]="speaker?.photoUrl" *ngIf="speaker.photoUrl !== ''"></ion-img>
            <ngx-avatar name="{{speaker?.name}}" initialsSize="2" *ngIf="speaker?.photoUrl == ''" size="40">
            </ngx-avatar>
        </ion-avatar>
        &nbsp;&nbsp;
        <ion-label>
            <p class="name" [style.color]="title_color">
                <strong>{{speaker.name}}</strong></p>
            <span
                *ngIf="speaker?.principal_title !== '' && speaker?.principal_title !== null && speaker?.principal_title !== undefined">{{speaker?.principal_title}}<br></span>
            <span
                *ngIf="speaker?.company !== '' && speaker?.company !== null && speaker?.company !== undefined">{{speaker?.company}}<br></span>
        </ion-label>
    </ion-item>
</div>