<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" *ngIf="languages?.PtBR">
        <a class="nav-link {{eventLanguage == 'pt_BR' ? 'active' : ''}}" (click)="activeLanguage = 'PtBR'"
            id="translate-pt-tab" data-toggle="tab" href="#translate-pt" role="tab" aria-controls="translate-pt"
            aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.EnUS">
        <a class="nav-link {{eventLanguage == 'en_US' ? 'active' : ''}}" (click)="activeLanguage = 'EnUS'"
            id="translate-en-tab" data-toggle="tab" href="#translate-en" role="tab" aria-controls="translate-en"
            aria-selected="false">{{"comp.event_info.english" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.EsES">
        <a class="nav-link {{eventLanguage == 'es_ES' ? 'active' : ''}}" (click)="activeLanguage = 'EsES'"
            id="translate-es-tab" data-toggle="tab" href="#translate-es" role="tab" aria-controls="translate-es"
            aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.FrFR">
        <a class="nav-link {{eventLanguage == 'fr_FR' ? 'active' : ''}}" (click)="activeLanguage = 'FrFR'"
            id="translate-fr-tab" data-toggle="tab" href="#translate-fr" role="tab" aria-controls="translate-fr"
            aria-selected="false">{{"comp.event_info.french" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.DeDE">
        <a class="nav-link {{eventLanguage == 'de_DE' ? 'active' : ''}}" (click)="activeLanguage = 'DeDE'"
            id="translate-de-tab" data-toggle="tab" href="#translate-de" role="tab" aria-controls="translate-de"
            aria-selected="false">{{"comp.event_info.german" | translate}}</a>
    </li>
</ul>
<br><br>

<form>
    <div class="form-group">
        <label>{{ "global.icon" | translate }}</label>
        <div class="icon-selector">
            <div class="dropdown">
                <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <label class="icon-selector">
                        <input type="radio" name="icon-selected" value="" />
                        <i class="material-icons" *ngIf="selectedIconFamily == 'material-icons'">{{selectedIcon}}</i>
                        <span class="b3-icons {{selectedIconFamily}}"
                            *ngIf="selectedIconFamily !== 'material-icons'"></span>
                        <!-- selectedImage é a variável do ngModel, pode ser substituida pelo nome que utilizar no ngModel -->
                    </label>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div *ngFor="let icon of iconsImg; let i = index">
                        <div id="menu">
                            <li>
                                <!--<input type="radio" name="md-add-circle" value="" />-->
                                <a (click)="setIcon(icon);" class="float-left">
                                    <i class="material-icons" *ngIf="icon.family == 'material-icons'">{{icon.icon}}</i>
                                    <span class="b3-icons {{icon.family}}"
                                        *ngIf="icon.family !== 'material-icons'"></span>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="alert-danger" *ngIf="errorLevantamento == true">
            <p>
                <i class='material-icons'>error</i>{{"comp.survey.name_error" | translate}}
            </p>
        </div>

        <div class="tab-pane fade {{eventLanguage == 'pt_BR' ? 'show active' : ''}}" id="translate-pt" role="tabpanel"
            aria-labelledby="translate-pt-tab">
            <div class="form-group" *ngIf="languages?.PtBR">
                <label for="nameFeedback_pt_br">{{"comp.survey.survey_name" | translate}}</label>
                <input [(ngModel)]="feedbackName['PtBR']" type="text" name="nameFeedback_pt_br" id="nameFeedback_pt_br"
                    class="form-control" placeholder="{{'comp.survey.name_placeholder' | translate}}">
            </div>
        </div>

        <div class="tab-pane fade {{eventLanguage == 'en_US' ? 'show active' : ''}}" id="translate-en" role="tabpanel"
            aria-labelledby="translate-en-tab">
            <div class="form-group" *ngIf="languages?.EnUS">
                <label for="nameFeedback_en_us">{{"comp.survey.survey_name" | translate}}</label>
                <input [(ngModel)]="feedbackName['EnUS']" type="text" name="nameFeedback_en_us" id="nameFeedback_en_us"
                    class="form-control" placeholder="{{'comp.survey.name_placeholder' | translate}}">
            </div>
        </div>

        <div class="tab-pane fade {{eventLanguage == 'es_ES' ? 'show active' : ''}}" id="translate-es" role="tabpanel"
            aria-labelledby="translate-es-tab">
            <div class="form-group" *ngIf="languages?.EsES">
                <label for="nameFeedback_es_es">{{"comp.survey.survey_name" | translate}}</label>
                <input [(ngModel)]="feedbackName['EsES']" type="text" name="nameFeedback_es_es" id="nameFeedback_es_es"
                    class="form-control" placeholder="{{'comp.survey.name_placeholder' | translate}}">
            </div>
        </div>

        <div class="tab-pane fade {{eventLanguage == 'fr_FR' ? 'show active' : ''}}" id="translate-fr" role="tabpanel"
            aria-labelledby="translate-fr-tab">
            <div class="form-group" *ngIf="languages?.FrFR">
                <label for="nameFeedback_fr_fr">{{"comp.survey.survey_name" | translate}}</label>
                <input [(ngModel)]="feedbackName['FrFR']" type="text" name="nameFeedback_fr_fr" id="nameFeedback_fr_fr"
                    class="form-control" placeholder="{{'comp.survey.name_placeholder' | translate}}">
            </div>
        </div>

        <div class="tab-pane fade {{eventLanguage == 'de_DE' ? 'show active' : ''}}" id="translate-de" role="tabpanel"
            aria-labelledby="translate-de-tab">
            <div class="form-group" *ngIf="languages?.DeDE">
                <label for="nameFeedback_de_de">{{"comp.survey.survey_name" | translate}}</label>
                <input [(ngModel)]="feedbackName['DeDE']" type="text" name="nameFeedback_de_de" id="nameFeedback_de_de"
                    class="form-control" placeholder="{{'comp.survey.name_placeholder' | translate}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <input [(ngModel)]="changeAnswers" type="checkbox" id="change-answer" name="change-answer"
            value="change-answer">
        <label for="change-answer">&nbsp; {{"comp.survey.answer_change" | translate}}</label>
    </div>

    <div class="form-group">
        <input [(ngModel)]="activeWeight" type="checkbox" id="active-weight" name="active-weight" value="active-weight">
        <label for="active-weight">&nbsp; {{"comp.survey.response_options_with_weight" | translate}}</label>
    </div>

    <div class="form-group">
        <input [(ngModel)]="activeMarker" type="checkbox" id="active-marker" name="active-marker" value="active-marker">
        <label for="active-marker">&nbsp; {{"comp.survey.response_options_with_bookmark" | translate}}</label>
    </div>

    <!-- *ngIf="feedbackLinkedToSession" -->
    <div class="form-group">
        <label for="search-for-feedback">{{"comp.survey.link_method" | translate}}</label>

        <select [(ngModel)]="searchFor" class="custom-select" name="search-for-feedback" id="search-for-feedback"
            (change)="changeSessionType()">
            <option value="AllSessions" selected>{{"global.all_sessions" | translate}}</option>
            <option value="SpecificSession">{{"global.specific_session" | translate}}</option>
            <option value="ScheduleModule">{{"global.specific_module" | translate}}</option>
            <option value="SpecificGroup">{{"global.specific_group" | translate}}</option>
            <option value="SessionTrack">{{"global.specific_track" | translate}}</option>
        </select>
    </div>

    <!-- for specific module -->
    <div class="form-group" *ngIf="scheduleModuleVisibility == true">
        <label>{{"global.select_module" | translate}}</label>

        <select class="custom-select" name="scheduleModuleFeedback" id="scheduleModuleFeedback"
            (change)="moduleSelectedChange()">
            <option value="-1" disabled>{{ "global.select_option" | translate }}</option>
            <option *ngFor="let module of scheduleModules; let i = index" value="{{module.uid}}">
                <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                <span *ngIf="userLanguage == 'en_US'">{{module?.name.EnUS}}</span>
                <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
            </option>
        </select>
    </div>

    <!-- for specific track of module -->
    <div class="form-group" *ngIf="scheduleModuleTrackVisibility == true">
        <label>{{"global.select_module" | translate}}</label>
        <br>
        <select class="custom-select" name="scheduleModuleTrackFeedback" id="scheduleModuleTrackFeedback"
            (change)="moduleSelectedChange()">
            <option value="-1" disabled>{{ "global.select_option" | translate }}</option>
            <option *ngFor="let module of scheduleModules; let i = index" [value]="module.uid">
                <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                <span *ngIf="userlanguage == 'en_US'">{{module?.name.EnUS}}</span>
                <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
            </option>
        </select>
    </div>

    <!-- for specific session -->
    <div class="form-group" *ngIf="scheduleModuleSessionVisibility == true">
        <label>{{"global.select_module" | translate}}</label>
        <br>
        <select class="custom-select" name="scheduleModuleSessionFeedback" id="scheduleModuleSessionFeedback"
            (change)="moduleSelectedChange()">
            <option value="-1" disabled>{{"global.select_option" | translate}}</option>
            <option *ngFor="let module of scheduleModules; let i = index" value="{{module.uid}}">
                <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                <span *ngIf="userlanguage == 'en_US'">{{module?.name.EnUS}}</span>
                <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
            </option>
        </select>
    </div>

    <div class="form-group" *ngIf="specificGroupVisibility == true">
        <label for="session">{{ "global.group" | translate }}</label>
        <br>
        <!-- Autocomplete start -->
        <div class="form-group">
            <input type="text" class="form-control validate filter-input form-control" name="session"
                [(ngModel)]=queryGroup (keyup)=filterGroup() placeholder="{{'global.tracks_placeholder' | translate}}">
        </div>
        <div *ngIf="filteredGroup?.length > 0">
            <ul>
                <li *ngFor="let group of filteredGroup">
                    <div class="group-name" [style.background]="group.bgColor" [style.color]="group.txtColor">
                        <a (click)="selectGroup(group)">{{group.name}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="selectedGroups?.length > 0">
            <span *ngFor="let itemn of selectedGroups" class="group-name" [style.background]="itemn.bgColor"
                [style.color]="itemn.txtColor">{{itemn.name}}
                <a (click)="removeGroup(itemn)">
                    <i class="material-icons closebtn">close</i>
                </a>
            </span>
            <br>
            <hr>
        </div>
        <!-- Autocomplete final -->
        <br>
    </div>



    <!-- schedules modules tracks area -->
    <div class="form-group" *ngIf="specificTrackVisibility">
        <label for="sessionTrack">{{"global.tracks" | translate}}</label>
        <br>
        <!-- Autocomplete start -->
        <div class="form-group">
            <input type="text" class="form-control validate filter-input form-control" name="track" [(ngModel)]=query
                (keyup)=filter() placeholder="{{'global.tracks_placeholder' | translate}}">
        </div>
        <div *ngIf="filteredList?.length > 0">
            <ul>
                <li *ngFor="let item of filteredList">
                    <div class="group-name" [style.background]="item.bgColor" [style.color]="item.txtColor">
                        <a (click)="select(item)">{{item.name}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="selectedTracks?.length > 0">
            <span *ngFor="let item of selectedTracks" class="group-name" [style.background]="item.bgColor"
                [style.color]="item.txtColor">{{item.name}}
                <a (click)="remove(item)">
                    <i class="material-icons closebtn">close</i>
                </a>
            </span>
            <br>
            <hr>
        </div>
        <!-- Autocomplete final -->
        <br>
    </div>




    <!-- schedule modules sessions area-->
    <div class="form-group" *ngIf="SelectedSessionVisibility == true">
        <label for="session">{{"global.sessions" | translate}}</label>
        <br>
        <!-- Autocomplete start -->
        <div class="form-group">
            <input type="text" class="form-control validate filter-input form-control" name="session"
                [(ngModel)]=querySession (keyup)=filterSession()
                placeholder="{{'global.tracks_placeholder' | translate}}">
        </div>
        <div *ngIf="filteredSession?.length > 0">
            <ul *ngFor="let session of filteredSession">
                <li>
                    <div class="group-name simple-chip">
                        <a (click)="selectSession(session)">{{session}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="selectedSessions?.length > 0">
            <div *ngFor="let itemn of selectedSessions">
                <span *ngIf="userLanguage && eventLanguage" class="group-name simple-chip">
                    {{itemn | getNameSession: [userLanguage, eventLanguage]}}
                    <a (click)="removeSession(itemn)">
                        <i class="material-icons closebtn">close</i>
                    </a>
                </span>
            </div>

            <!-- <span *ngFor="let itemn of selectedSessions" class="group-name simple-chip">
                {{itemn.name}}
        <a (click)="removeSession(itemn)">
          <i class="material-icons closebtn">close</i>
        </a>
      </span> -->
            <br>
            <hr>
        </div>
        <!-- Autocomplete final -->
        <br>
    </div>

</form>

<div class="alert-danger" *ngIf="errorNoQuestions">
    <p>
        <i class='material-icons'>error</i>{{"comp.survey.error_no_questions" | translate}}
    </p>
</div>

<form id="form-questions">
    <h5>{{ "comp.survey.questions" | translate }}</h5>
    <hr>

    <div class="form-group">
        <div class="alert-danger" *ngIf="errorTitle == true">
            <p>
                <i class='material-icons'>error</i>{{"comp.survey.error_title" | translate}}</p>
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'PtBR'">
            <label for="title_pt_br">{{ "global.title_" | translate }}</label>
            <input [(ngModel)]="questionTitle['PtBR']" type="text" class="form-control" id="title_pt_br"
                name="title_pt_br" placeholder="{{'comp.survey.title_placeholder' | translate}}">
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'EnUS'">
            <label for="title_en_us">{{ "global.title_" | translate }}</label>
            <input [(ngModel)]="questionTitle['EnUS']" type="text" class="form-control" id="title_en_us"
                name="title_en_us" placeholder="{{'comp.survey.title_placeholder' | translate}}">
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'EsES'">
            <label for="title_es_es">{{ "global.title_" | translate }}</label>
            <input [(ngModel)]="questionTitle['EsES']" type="text" class="form-control" id="title_es_es"
                name="title_es_es" placeholder="{{'comp.survey.title_placeholder' | translate}}">
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'FrFR'">
            <label for="title_fr_fr">{{ "global.title_" | translate }}</label>
            <input [(ngModel)]="questionTitle['FrFR']" type="text" class="form-control" id="title_fr_fr"
                name="title_fr_fr" placeholder="{{'comp.survey.title_placeholder' | translate}}">
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'DeDE'">
            <label for="title_de_de">{{ "global.title_" | translate }}</label>
            <input [(ngModel)]="questionTitle['DeDE']" type="text" class="form-control" id="title_de_de"
                name="title_de_de" placeholder="{{'comp.survey.title_placeholder' | translate}}">
        </div>
    </div>

    <div class="infobooth">
        <div class="form-group" *ngIf="activeLanguage == 'PtBR'">
            <label for="infobooth_de_de">{{ "global.title_" | translate }}</label>
            <ckeditor [(ngModel)]="questionInfobooth['PtBR']" [ngModelOptions]="{standalone: true}">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'EnUS'">
            <label for="infobooth_de_de">{{ "global.title_" | translate }}</label>
            <ckeditor [(ngModel)]="questionInfobooth['EnUS']" [ngModelOptions]="{standalone: true}">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'EsES'">
            <label for="infobooth_de_de">{{ "global.title_" | translate }}</label>
            <ckeditor [(ngModel)]="questionInfobooth['EsES']" [ngModelOptions]="{standalone: true}">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'FrFR'">
            <label for="infobooth_de_de">{{ "global.title_" | translate }}</label>
            <ckeditor [(ngModel)]="questionInfobooth['FrFR']" [ngModelOptions]="{standalone: true}">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
        </div>

        <div class="form-group" *ngIf="activeLanguage == 'DeDE'">
            <label for="infobooth_de_de">{{ "global.title_" | translate }}</label>
            <ckeditor [(ngModel)]="questionInfobooth['DeDE']" [ngModelOptions]="{standalone: true}">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
        </div>
    </div>

    <!-- Tipos de perguntas -->
    <div id="question-optionsFeedback">
        <div class="alert-danger" *ngIf="errorSelectQuestion == true">
            <p>
                <i class='material-icons'>error</i> {{"comp.survey.error_question_type" | translate}}
            </p>
        </div>

        <label>{{ "global.option_reply" | translate }}</label>

        <!-- permitido selecionar somente uma resposta -->
        <div class="form-group">
            <input [(ngModel)]="questionType" [ngModelOptions]="{standalone: true}" type="radio" name="questionType"
                id="oneSelect" value="oneSelect" class="questionType"> &nbsp;
            <label for="oneSelect">{{"comp.survey.one_select" | translate}}</label>
            <br>

            <!-- permitido selecionar várias respostas -->
            <input [(ngModel)]="questionType" [ngModelOptions]="{standalone: true}" type="radio" name="questionType"
                id="multipleSelect" value="multipleSelect" class="questionType"> &nbsp;
            <label for="multipleSelect" class="black-text">{{"comp.survey.multiple_select" | translate}}
            </label>
            <br>

            <!-- permitido selecionar uma classificação -->
            <input [(ngModel)]="questionType" [ngModelOptions]="{standalone: true}" type="radio" name="questionType"
                id="evaluation" value="evaluation" class="questionType"> &nbsp;
            <label for="evaluation" class="black-text">{{"comp.survey.evaluation" | translate}}</label>
            <br>

            <!-- Permitido digitar uma resposta -->
            <input [(ngModel)]="questionType" [ngModelOptions]="{standalone: true}" type="radio" name="questionType"
                id="dissertative" value="dissertative" class="questionType"> &nbsp;
            <label for="dissertative" class="black-text">{{"comp.survey.dissertative" | translate}}
            </label>
            <br>

            <!-- Permitido digitar uma resposta -->
            <input [(ngModel)]="questionType" [ngModelOptions]="{standalone: true}" type="radio" name="questionType"
                id="yesOrNo" value="yesOrNo" class="questionType"> &nbsp;
            <label for="yesOrNo" class="black-text">{{"comp.survey.yes_or_no" | translate}}
            </label>
            <br>

        </div>
    </div>

    <!-- Opcões de gráfico para exibição de resultados -->
    <!-- <div *ngIf="questionType == 'oneSelect' || questionType == 'multipleSelect' || questionType == 'evaluation'">
      <label>{{ "global.charts" | translate }}</label>
  
      <div class="alert-danger" *ngIf="errorOptionGraphic == true">
        <p>
          <i class='material-icons'>error</i> {{"comp.survey.error_option_graphic" | translate}}
        </p>
      </div>
      <div class="row"> -->
    <!-- pie chart -->
    <!-- <div class="col-sm-4 col-md-4">
          <input [(ngModel)]="chartType" [ngModelOptions]="{standalone: true}" type="radio" name="chartType" id="pieChart"
            value="PieChart"> &nbsp;
          <label for="pieChart" class="black-text">{{ "global.pizza" | translate }}</label>
        </div> -->
    <!-- horizontal chart -->
    <!-- <div class="col-sm-4 col-md-4">
          <input [(ngModel)]="chartType" [ngModelOptions]="{standalone: true}" type="radio" name="chartType"
            id="horizontalBarChart" value="BarChart"> &nbsp;
          <label for="horizontalBarChart" class="black-text">{{ "global.ho_bars" | translate }}</label>
        </div> -->
    <!-- vertical chart -->
    <!-- <div class="col-sm-4 col-md-4">
          <input [(ngModel)]="chartType" [ngModelOptions]="{standalone: true}" type="radio" name="chartType"
            id="verticalBarChart" value="ColumnChart"> &nbsp;
          <label for="verticalBarChart" class="black-text">{{ "global.ver_bars" | translate }}</label>
        </div>
      </div>
    </div> -->


    <!-- Opções de respostas -->
    <div *ngIf="questionType == 'oneSelect' || questionType == 'multipleSelect'">
        <div class="alert-danger" *ngIf="errorOptionAnswer == true">
            <p>
                <i class='material-icons'>error</i>{{"comp.survey.error_option_answer" | translate}}
            </p>
        </div>

        <br>
        <label class="float-left">{{"comp.survey.answers" | translate}} &nbsp; &nbsp;
        </label>

        <div class="align-flex">
            <a id="clonador" (click)="addAnswerOption()">
                <i class="material-icons add-icon" title='{{"global.addReply" | translate}}'>add_circle_outline</i>
            </a>
        </div>
        <br>
        <div id="answer-block">
            <div class="clone" *ngFor="let answer of listAnswers; let i = index">
                <div class="row">

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'PtBR'">
                        <input [(ngModel)]="answer.answer['PtBR']" [ngModelOptions]="{standalone: true}" type="text"
                            class=" form-control" placeholder="{{'comp.survey.answers_placeholder' | translate}}">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'EnUS'">
                        <input [(ngModel)]="answer.answer['EnUS']" [ngModelOptions]="{standalone: true}" type="text"
                            class=" form-control" placeholder="{{'comp.survey.answers_placeholder' | translate}}">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'EsES'">
                        <input [(ngModel)]="answer.answer['EsES']" [ngModelOptions]="{standalone: true}" type="text"
                            class=" form-control" placeholder="{{'comp.survey.answers_placeholder' | translate}}">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'FrFR'">
                        <input [(ngModel)]="answer.answer['FrFR']" [ngModelOptions]="{standalone: true}" type="text"
                            class=" form-control" placeholder="{{'comp.survey.answers_placeholder' | translate}}">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'DeDE'">
                        <input [(ngModel)]="answer.answer['DeDE']" [ngModelOptions]="{standalone: true}" type="text"
                            class=" form-control" placeholder="{{'comp.survey.answers_placeholder' | translate}}">
                    </div>

                    <div class="col-sm-2 col-md-2" *ngIf="activeWeight">
                        <input [(ngModel)]="answer.weight" [ngModelOptions]="{standalone: true}" type="number" min="0"
                            class="answerWeight form-control"
                            placeholder="{{'comp.survey.weight_placeholder' | translate}}">
                    </div>

                    <div class="col-sm-3 col-md-3" *ngIf="activeMarker">
                        <input [(ngModel)]="answer.marker" [ngModelOptions]="{standalone: true}" type="text"
                            class="answerOption form-control" placeholder="Marcador">
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <div class="align-flex-manage">
                            <i (click)="removeAnswerOption(i)" class='material-icons Delete-answer icon-delete'
                                title='{{"global.delete" | translate}}'>delete</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PONTOS DA QUESTÃO EVALUATION, DISSERTATIVE E DATE -->
    <div class="row" *ngIf="(questionType == 'evaluation' || questionType == 'dissertative' || questionType == 'yesOrNo') && activeWeight">
        <div class="form-group col-6">
            <label for="question-points">{{"comp.survey.question_points" | translate}}</label>
            <input [(ngModel)]="questionPoints" type="number" class="form-control" id="question-points"
                name="question-points" placeholder="{{'comp.survey.question_points_plc' | translate}}">
        </div>
    </div>

    <div>
        <br>
        <button id="cancelQuestion"
            class="btn btn-custom-cancel btn-margin-right-default">{{ "global.clean" | translate }}</button>
        <input type="submit" value="{{'comp.survey.btn_add' | translate}}"
            class="btn btn-custom btn-margin-right-default" (click)="addQuestion()">
    </div>
    <br>

    <div class="table-stats order-table ov-h" *ngIf="listQuestions.length >= 1">
        <table class="table">
            <thead>
                <tr>
                    <th>{{"global.title_" | translate}}</th>
                    <th class="text-center">{{"global.question_format" | translate}}</th>
                    <!-- <th class="text-center">{{"global.graphic" | translate}}</th> -->
                    <th>{{"global.manage" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of listQuestions; let i = index;">
                    <td>{{question.title[activeLanguage]}}</td>
                    <td class="text-center">{{question.type}}</td>
                    <!-- <td class="text-center">{{question.graphic}}</td> -->
                    <td>
                        <a class="float-right" (click)="removeQuestion(i)">
                            <i class='material-icons btnDelete'>delete</i> </a>
                        <a class="float-right" (click)="getEditQuestion(i)"> <i
                                class='material-icons btnEdit'>create</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Fim da exibição das perguntas já criadas -->

    <br>
    <div class="col-xs-12 float-right" *ngIf="!loader">
        <button class="btn btn-custom-cancel btn-margin-right-default"
            (click)="cancel()">{{"global.btn_cancel" | translate}}</button>
        <button class="btn btn-custom btn-margin-right-default"
            (click)="createFeedback()">{{"global.btn_create" | translate}}</button>
    </div>

    <!-- <div class="col-xs-12 float-right" *ngIf="loader"> -->
    <div class="align-loader" *ngIf="loader">
        <div class="loader-default"></div>
    </div>
    <!-- </div> -->

</form>