  .player-container {
    // Use 16:9 aspect ratio
    position: relative;
    width: 100%;
    padding-bottom: 100% * 9/16;
  }

  .player-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
  }
  
  .player-log {
    margin-top: 10px;
    color: #666;
    font-size: 0.8em;
    font-family: monospace;
  }

  .logo {
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    font-size: 3em;
    color: #fff;
  }