<section *ngIf="surveyView == true && loader == false">
    <div class="align-buttons">
        <button class="btn btn-custom btn-margin-right-default" (click)="surveyView=false"
            routerLink="create-survey">{{"global.btn_new" | translate}}</button>
        <button class="btn btn-custom btn-margin-right-default" (click)="typeExport = 'allSurvey'" data-toggle="modal"
            data-target="#exportModal">{{"global.export_all" | translate}}</button>
        <div class="float-right">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="survey-tab" data-toggle="tab" href="#survey" role="tab"
                        aria-controls="survey" aria-selected="true">{{"global.listing" | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="survey-result-tab" data-toggle="tab" href="#survey-result" role="tab"
                        aria-controls="survey-result" aria-selected="false">{{"global.results" | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <br>

    <div class="onReorder-btn-save text-center" *ngIf="onReorderShow == true">
        <div class="alert alert-light" *ngIf="loaderOrder == false">
            {{"global.remind_save_changes" | translate}}
            <br>
            <button class="btn btn-custom btn-margin-top"
                (click)="saveNewOrder()">{{"global.btn_save" | translate}}</button>
        </div>

        <div class="align-loader" *ngIf="loaderOrder == true">
            <div class="loader-default"></div>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="survey" role="tabpanel" aria-labelledby="survey-tab">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-no-bg float-right" data-toggle="tooltip" data-placement="bottom"
                        title='{{"comp.questions.on_all" | translate}}' (click)="enableAll()">
                        <i class="material-icons icon-size">visibility</i>
                    </button>

                    <button class="btn btn-no-bg float-right" data-toggle="tooltip" data-placement="bottom"
                        title='{{"comp.questions.off_all" | translate}}' (click)="disableAll()">
                        <i class="material-icons icon-size delete-icon">visibility_off</i>
                    </button>
                </div>
            </div>

            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{"global.name" | translate}}</th>
                            <th>{{"global.manage" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody [dragula]='"bag-survey"' [dragulaModel]='surveys'>
                        <tr *ngFor="let survey of surveys; let i = index">
                            <td>
                                <i class="material-icons drag-icon">drag_indicator</i>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="name" *ngIf="userLanguage == 'pt_BR'">{{survey.title.PtBR}}</span>
                                <span class="name" *ngIf="userLanguage == 'en_US'">{{survey.title.EnUS}}</span>
                                <span class="name" *ngIf="userLanguage == 'es_ES'">{{survey.title.EsES}}</span>
                                <span class="name" *ngIf="userLanguage == 'fr_FR'">{{survey.title.FrFR}}</span>
                                <span class="name" *ngIf="userLanguage == 'de_DE'">{{survey.title.DeDE}}</span>
                            </td>
                            <td>
                                <a class="click-function" *ngIf="survey.visibility == true"
                                    (click)="changeVisibilitySurvey(survey.uid, survey.visibility)">
                                    <i class="material-icons default-icon">visibility_off</i>
                                </a>

                                <a class="click-function" *ngIf="survey.visibility == false"
                                    (click)="changeVisibilitySurvey(survey.uid, survey.visibility)">
                                    <i class="material-icons default-icon">visibility</i>
                                </a>
                                <a routerLink="edit-survey/{{moduleId}}/{{survey.uid}}"><i
                                        class="material-icons default-icon">create</i></a>
                                <a (click)="getRemoveSurvey(survey.uid, i)"><i
                                        class="material-icons default-icon delete-icon">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- RESULTADOS -->
        <div class="tab-pane fade" id="survey-result" role="tabpanel" aria-labelledby="survey-result-tab">

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-custom-cancel btn-margin-right-default btn-clear-all float-right"
                        (click)="clearAllResults()">{{"global.clear_all" | translate}}</button>
                </div>
            </div>

            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{"global.name" | translate}}</th>
                            <th>{{"global.manage" | translate}}</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let survey of surveys; let i = index">
                        <tbody class="tbody-width">
                            <tr>
                                <td>
                                    <span class="name" *ngIf="userLanguage == 'pt_BR'">{{survey.title.PtBR}}</span>
                                    <span class="name" *ngIf="userLanguage == 'en_US'">{{survey.title.EnUS}}</span>
                                    <span class="name" *ngIf="userLanguage == 'es_ES'">{{survey.title.EsES}}</span>
                                    <span class="name" *ngIf="userLanguage == 'fr_FR'">{{survey.title.FrFR}}</span>
                                    <span class="name" *ngIf="userLanguage == 'de_DE'">{{survey.title.DeDE}}</span>
                                </td>
                                <td class="">
                                    <a class="click-function" (click)="expandirQuestions(i, survey);">
                                        <i
                                            class="material-icons d-icon result-icons expand float-right">{{ (!survey.expand) ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</i>
                                    </a>
                                    <a class="click-function" (click)="getSurveyClear(survey)">
                                        <i class="material-icons d-icon-delete icon-manage float-right"
                                            data-toggle="modal" data-target="#modalClearAllResultsSurvey">clear</i>
                                    </a>

                                    <a class="click-function" (click)="surveyExportId = survey.uid; typeExport='survey'"
                                        data-toggle="modal" data-target="#exportModal">
                                        <i class="material-icons d-icon default-icon float-right">file_download</i>
                                    </a>
                                </td>
                            </tr>

                            <tr class="width-tr" *ngFor="let q of survey.questions; let j = index">
                                <div id="collapseSurveyQuestion{{i}}"
                                    class="hideAll hidden{{i}} collapse collapse-custom"
                                    [attr.data-parent]="'#surveyAccordion' + i">
                                    <td class="td-width">
                                        <span class="name-question"
                                            *ngIf="userLanguage == 'pt_BR'">{{q.title.PtBR}}</span>
                                        <span class="name-question"
                                            *ngIf="userLanguage == 'en_US'">{{q.title.EnUS}}</span>
                                        <span class="name-question"
                                            *ngIf="userLanguage == 'es_ES'">{{q.title.EsES}}</span>
                                        <span class="name-question"
                                            *ngIf="userLanguage == 'fr_FR'">{{q.title.FrFR}}</span>
                                        <span class="name-question"
                                            *ngIf="userLanguage == 'de_DE'">{{q.title.DeDE}}</span>
                                    </td>
                                    <td class="td-width">
                                        <div class="flex-align-q-survey">
                                            <a class="click-function" *ngIf="q.visibility"
                                                (click)="changeVisibilityQuestion(survey.uid, q.uid, q.visibility, i, j)">
                                                <i class="material-icons default-icon">visibility_off</i>
                                            </a>

                                            <a class="click-function" *ngIf="!q.visibility"
                                                (click)="changeVisibilityQuestion(survey.uid, q.uid, q.visibility, i, j)">
                                                <i class="material-icons default-icon">visibility</i>
                                            </a>
                                            <a (click)="getQuestionClear(survey.uid, q.uid)">
                                                <i class="material-icons accordion-delete-icon result-icons float-right"
                                                    data-toggle="modal"
                                                    data-target="#modalClearAllResultsSurvey">clear</i>
                                            </a>
                                            <a (click)="surveyExportId = survey.uid; questionExportId = q.uid; typeExport='question'"
                                                data-toggle="modal" data-target="#exportModal">
                                                <i
                                                    class="material-icons accordion-icon result-icons float-right">file_download</i>
                                            </a>
                                        </div>
                                    </td>
                                </div>
                            </tr>

                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>

<!-- Modal Export survey Loading -->
<div class="modal fade" id="exportLoading" tabindex="-1" role="dialog" aria-labelledby="exportLoadingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>

                <div class="text-center export-message">
                    {{"global.modals.exporting_results" | translate}} <br>
                    {{"global.modals.some_minutes" | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export Survey -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel"><strong>{{"global.export" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <select [(ngModel)]="exportLanguage" class="form-control">
                        <option value="PtBR" *ngIf="languages?.PtBR">{{"comp.event_info.portuguese" | translate}}
                        </option>
                        <option value="EnUS" *ngIf="languages?.EnUS">{{"comp.event_info.english" | translate}}</option>
                        <option value="EsES" *ngIf="languages?.EsES">{{"comp.event_info.spanish" | translate}}</option>
                        <option value="FrFR" *ngIf="languages?.FrFR">{{"comp.event_info.french" | translate}}</option>
                        <option value="DeDE" *ngIf="languages?.DeDE">{{"comp.event_info.german" | translate}}</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <select [(ngModel)]="exportFileType" class="form-control">
                        <option value="excel">Excel</option>
                        <option value="pdf">PDF</option>
                    </select>
                </div> -->

                <button class="btn btn-custom float-right"
                    (click)="exportData()">{{"global.btn_export" | translate}}</button>
                <!-- <div class="align-loader">
          <div class="loader-default"></div>
        </div> -->
            </div>
        </div>
    </div>
</div>

<!-- modal clear survey -->
<swal #clearSurveySwal title='{{"global.modals.clear" | translate}}'
    text='{{"global.modals.clear_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_clear" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="clearSurvey()">
</swal>

<!-- modal remove survey -->
<swal #removeSurveySwal title='{{"global.modals.delete" | translate}}'
    text='{{"global.modals.delete_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeSurvey()">
</swal>

<!-- modal clear question -->
<swal #clearQuestionSwal title='{{"global.modals.clear" | translate}}'
    text='{{"global.modals.clear_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_clear" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="clearQuestion()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<div *ngIf="surveyView == false">
    <router-outlet></router-outlet>
</div>