<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <span *ngIf="questionModule">{{questionModule?.name[userLanguage]}}</span>
        </ion-title>
        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-ask-question [eventId]="eventId" [moduleId]="moduleId" [itemId]="itemId" [userId]="userId"
        [moduleType]="'item'" [questions]="questions" [questionModule]="questionModule">
    </app-ask-question>
</ion-content>