<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"comp.notifications.title" | translate}}</h4>
                    <!-- <h4 class="box-title float-left" *ngIf="module && event">
            {{module | getNameModule: [userLanguage, event?.language]}}</h4> -->
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default"
                            routerLink="/event/{{eventId}}/create-notification/{{moduleId}}">{{"global.btn_new" | translate}}</button>
                        <!-- <button class=" btn btn-custom btn-margin-right-default" data-toggle="modal"
              data-target="#importModalNotification">{{"global.btn_import"
                  |
                  translate}}</button> -->
                        <!-- <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
              data-target="#exportNotifications" (click)="exportAllNotifications()">{{"global.btn_export"
                  |
                  translate}}</button> -->
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label>
                                &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete"
                                (click)="removeSelected()">{{"global.delete_selecteds" | translate}}</button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="desc">{{"global.latest" | translate}}</option>
                                <option value="asc">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" *ngIf="loader == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"global.title_" | translate}}</th>
                                    <th class="text-center">{{"global.status" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let notification of notifications | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td class="select-td">
                                        <div class="form-check">
                                            <input [(ngModel)]="notificationsSelected[notification.uid]"
                                                class="form-check-input" type="checkbox" id="selectAttendeee">
                                        </div>
                                    </td>
                                    <td>
                                        <span class="name">{{notification.principal_title}}</span>
                                        <!-- <span class="name" *ngIf="event_language == 'en_US'">{{notification.headings.en}}</span>
                    <span class="name" *ngIf="event_language == 'es_ES'">{{notification.headings.es}}</span>
                    <span class="name" *ngIf="event_language == 'fr_FR'">{{notification.headings.fr}}</span>
                    <span class="name" *ngIf="event_language == 'de_DE'">{{notification.headings.de}}</span> -->
                                    </td>
                                    <td class="text-center">
                                        <i class="material-icons delivered"
                                            *ngIf="notification.delivery_date <= dateNow">check_circle_outline</i>
                                        <i class="material-icons scheduled"
                                            *ngIf="notification.delivery_date > dateNow">date_range</i>
                                    </td>
                                    <td>
                                        <a (click)="notificationView = notification" data-toggle="modal"
                                            data-target="#modalViewNotification"><i
                                                class="material-icons default-icon manage-icon">remove_red_eye</i></a>
                                        <a (click)="getNotificationDelete(notification.uid)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>

<!-- Modal View Notification -->
<div class="modal fade" id="modalViewNotification" tabindex="-1" role="dialog"
    aria-labelledby="modalViewNotificationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendEmailUserLabel">
                    <strong>{{"global.notification" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="notificationView = null">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body" *ngIf="notificationView !== null">

                <div class="form-group">
                    <label>{{"global.title_" | translate}}</label>
                    <input class="form-control" placeholder='{{"global.title_plc" | translate}}'
                        [(ngModel)]="notificationView.principal_title" readonly />
                </div>

                <div class="form-group">
                    <label>{{"global.message" | translate}}</label>
                    <textarea class="form-control" placeholder='{{"global.message_plc" | translate}' [(ngModel)]="notificationView.principal_content" readonly></textarea>
        </div>
        <div class="form-group">
          <label>{{"global.status" | translate}}</label>
          <br/>
          <i class="material-icons delivered" *ngIf="notificationView.delivery_date <= dateNow">check_circle_outline</i>
          <i class="material-icons scheduled" *ngIf="notificationView.delivery_date > dateNow">date_range</i>
          &nbsp;{{notificationView.delivery_date | date: "dd/MM/yyyy - HH:mm"}}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Export Locations -->
<div class="modal fade" id="exportNotifications" tabindex="-1" role="dialog" aria-labelledby="exportNotificationsLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="align-loader">
          <div class="loader-default"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title=' {{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
                        icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
                        cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f"
                        [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteNotification()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
  text='{{"global.modals.success_message" | translate}}' icon="success"
  confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
  icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
  [showCancelButton]="false">
</swal>

<!-- modal not data export -->
<swal #notExport title='{{"global.modals.error" | translate}}'
  text='{{"global.modals.error_not_data_to_export" | translate}}' icon="error"
  confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>