.table-stats table th img, .table-stats table td img {
    max-width: 55px;
}

.location-miniature {
    object-fit: fill;
    width: 55px;
    height: 55px;
}

.flex-blank {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivered {
    color: #1FC94F;
    font-size: 16px;
}

.scheduled {
    color: #878787;
    font-size: 16px;
}