<ion-header no-shadow>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title *ngIf="!searchOpen">
            <ion-label *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</ion-label>
            <ion-label *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</ion-label>
            <ion-label *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</ion-label>
            <ion-label *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</ion-label>
            <ion-label *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</ion-label>
        </ion-title>

        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}'
            (ionCancel)="searchOpen=false" (keyup)="searchBar($event)">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ion-card class="card-custom ion-color" [style.background]="menu_color">
            <ion-card-content>
                <ion-grid *ngIf="!loader">
                    <ion-row>
                        <ion-col size="2" class="text-center"><span class="text-bold"
                                [style.color]="menu_text_color">{{"global.texts.position" | translate}}</span>
                        </ion-col>
                        <ion-col size="7"><span class="text-bold"
                                [style.color]="menu_text_color">{{"global.texts.name" | translate}}</span></ion-col>
                        <ion-col size="3"><span class="text-bold float-right"
                                [style.color]="menu_text_color">{{"global.texts.points" | translate}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="align-row" *ngIf="myUser !== null && myUser">
                        <ion-col size="2" class="text-center"><span class="text-bold"
                                [style.color]="menu_text_color">{{myUser.position}}</span>
                        </ion-col>
                        <ion-col size="7">
                            <div class="align-col">
                                <img class="ranking-pic" src="{{myUser.photoUrl}}" *ngIf="myUser.photoUrl !== ''">
                                <ngx-avatar name="{{myUser?.name}}" initialsSize="2" *ngIf="myUser?.photoUrl == ''"
                                    size="40">
                                </ngx-avatar>
                                &nbsp;&nbsp;
                                <p class="user-ranking-name text-bold" [style.color]="menu_text_color">{{myUser.name}}.
                                </p>
                            </div>
                        </ion-col>
                        <ion-col size="3"><span class="text-bold float-right align-points"
                                [style.color]="menu_text_color">{{myUser.points}}</span></ion-col>
                    </ion-row>
                </ion-grid>
                <!-- await loading attendees list -->
                <div *ngIf="loader">
                    <ion-item lines="none" class="ion-color custom-skeleton-color-item">
                        <ion-avatar slot="start">
                            <!-- <ion-skeleton-text></ion-skeleton-text> -->
                            <img src="../../../assets/images/grey.jpg">
                        </ion-avatar>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                            </h3>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card class="card-custom" *ngIf="!loader">
            <ion-card-content>
                <ion-grid>
                    <ion-row class="align-row below-attendees" [style.background]="bg_content_color"
                        *ngFor="let attendee of attendees">
                        <ion-col size="2" class="text-center"><span class="text-bold"
                                [style.color]="title_color">{{attendee.position}}.</span>
                        </ion-col>
                        <ion-col size="7">
                            <div class="align-col">
                                <img class="ranking-pic" src="{{attendee.photoUrl}}" *ngIf="attendee.photoUrl !== ''">
                                <ngx-avatar name="{{attendee?.name}}" initialsSize="2" *ngIf="attendee?.photoUrl == ''"
                                    size="40">
                                </ngx-avatar> &nbsp;&nbsp;
                                <p class="user-ranking-name text-bold" [style.color]="text_content_color">
                                    {{attendee.name}}</p>
                            </div>
                        </ion-col>
                        <ion-col size="3"><span class="text-bold float-right align-points"
                                [style.color]="text_content_color">{{attendee.points}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <!-- await loading attendees list -->
        <div *ngIf="loader">
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-text>
                    <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                </ion-text>
                <ion-avatar slot="start">
                    <!-- <ion-skeleton-text></ion-skeleton-text> -->
                    <img src="../../../assets/images/grey.jpg">
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text> &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>