.card-custom {
  margin: 0 auto !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  max-width: 10000px; // <- Emmanuel Aires -< correction for ion-card global
  width: 100%; // <- Emmanuel Aires -< correction for ion-card global
}

ion-card-content,
ion-grid {
  padding: 2px !important;
}

.text-bold {
  font-weight: bold;
}

.align-row {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.below-attendees {
  margin-bottom: 5px;
  border-radius: 10px;
}

.align-col {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.ranking-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 3px;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 99%;
}

.align-points {
  margin-right: 15px;
}

.custom-skeleton-color-item {
  background: transparent;
}
