.custom-avatar {
    display: flex;
    justify-content: center;
}

.change-passwd {
    color: #34abe2 !important;
    cursor: pointer;
}

.change-passwd-cancel {
    color: #c91f1f !important;
    cursor: pointer;
}

.avatar-size {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}