<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>
        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
            <!-- <p>{{"global.texts.profile" | translate}}</p> -->
        </ion-title>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <div *ngIf="loader == false">
            <br>
            <div class="no-avatar-align">
                <ngx-avatar name="{{name}}" initialsSize="2" *ngIf="photoUrl == ''" size="100"></ngx-avatar>
            </div>
            <img [src]="photoUrl" class="profile-picture" (click)="openImage(photoUrl)" *ngIf="photoUrl !== ''">
            <div class="flex-align">
                <ion-item detail="false" lines="none" class="ion-color">
                    <ion-label class="ion-text-wrap">
                        <div class="spacing">
                            <p class="name" [style.color]="title_color">{{name}}</p>
                            <p class="companie-title" [style.color]="text_content_color">
                                <span>{{title}}</span>
                                <br> {{company}}
                            </p>
                        </div>
                        <div class="social-icons">
                            <!-- Display icon if have url -->
                            <ion-icon name="logo-twitter" class="twitter" *ngIf="twitter !== null && twitter !== ''"
                                (click)="openLink(twitter)">
                            </ion-icon>
                            <ion-icon name="logo-linkedin" class="linkedin" *ngIf="linkedin !== null && linkedin !== ''"
                                (click)="openLink(linkedin)">
                            </ion-icon>
                            <ion-icon name="logo-facebook" class="facebook" *ngIf="facebook !== null && facebook !== ''"
                                (click)="openLink(facebook)">
                            </ion-icon>
                            <ion-icon name="logo-instagram" class="instagram"
                                *ngIf="instagram !== null && instagram !== ''" (click)="openLink(instagram)"></ion-icon>
                            <ion-icon name="link" class="link-site" *ngIf="site !== null && site !== ''"
                                (click)="openLink(site)">
                            </ion-icon>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="chat-row" *ngIf="allowChat == true">
                <ion-button shape="round" class="btn-default ion-color" [style.border-color]="menu_color"
                    [style.color]="menu_color" (click)="openChat()" *ngIf="!isDegrade">
                    <ion-icon name="chatboxes"></ion-icon> &nbsp; {{"global.texts.start_chat" | translate}}
                </ion-button>
                <ion-button shape="round" class="btn-default ion-color" [style.border-color]="btn_color1"
                    [style.color]="btn_color1" (click)="openChat()" *ngIf="isDegrade">
                    <ion-icon name="chatboxes"></ion-icon> &nbsp; {{"global.texts.start_chat" | translate}}
                </ion-button>

                <ion-icon *ngIf="event && event.allow_visio && event.allow_visio_for_2" class="icon-camera"
                    [style.color]="(isDegrade) ? btn_color1 : menu_color" name="videocam" (click)="createVisio()">
                </ion-icon>
                <br>
            </div>
            <!-- Only display if the description is filled  -->
            <ion-card class="custom-card" [style.background]="bg_content_color"
                *ngIf="description !== null && description !== undefined && description !== ''">
                <ion-card-content>
                    <!-- <span [style.color]="title_color"> <strong>{{"global.texts.about" | translate}}</strong>
                    </span><br> -->
                    <span class="description" [innerHTML]="description | safeHtml">
                    </span>
                </ion-card-content>
            </ion-card>

            <!-- Only display if custom field is filled  -->
            <ion-card class="custom-card" [style.background]="bg_content_color" *ngIf="showCardCustomField">
                <ion-card-content>
                    <div *ngFor="let item of listCustomFields; let i = index">
                        <!-- <div *ngIf="type == 5; else speakerCustomField">
                            <div
                                *ngIf="item.activeView && item.value != '' && item.value != undefined && item.value != null">
                                <span class="custom-field-title" [style.color]="title_color">{{item.name}}</span>
                                <br>
                                <span class="custom-field-answer"
                                    [style.color]="text_content_color">{{item.value}}</span>
                            </div>
                        </div>
                        <ng-template #speakerCustomField> -->
                        <div *ngIf="item.activeView">
                            <div *ngIf="item?.type == 'text' && item?.textValue[userLanguageFormated] !== ''">
                                <span class="b3-icons {{item.iconFamily}} menu-icon"
                                    *ngIf="item.iconFamily !== 'material-icons'"
                                    [style.color]="text_content_color"></span>
                                <i class="{{item.iconFamily}} menu-icon" *ngIf="item.iconFamily == 'material-icons'"
                                    [style.color]="text_content_color">{{item.icon}}</i>&nbsp;
                                <span class="custom-field-title" [style.color]="title_color">
                                    {{item?.name[userLanguageFormated]}}</span>
                                <br>
                                <span class="custom-field-answer"
                                    [style.color]="text_content_color">{{item?.textValue[userLanguageFormated]}}</span>
                            </div>


                            <div *ngIf="item?.type == 'select' && item?.value[userLanguageFormated] !== ''">

                                <span class="b3-icons {{item.iconFamily}} menu-icon"
                                    *ngIf="item.iconFamily !== 'material-icons'"
                                    [style.color]="text_content_color"></span>
                                <i class="{{item.iconFamily}} menu-icon" *ngIf="item.iconFamily == 'material-icons'"
                                    [style.color]="text_content_color">{{item.icon}}</i>&nbsp;<span
                                    class="custom-field-title" [style.color]="title_color">
                                    {{item?.name[userLanguageFormated]}}</span>
                                <br>
                                <span class="custom-field-answer"
                                    [style.color]="text_content_color">{{item?.value[userLanguageFormated]}}</span>
                            </div>

                        </div>


                        <!-- <div
                            *ngIf="item.activeView && (item.value[userLanguageFormated] !== '' || item.textValue[userLanguageFormated] !== '')">
                            <span class="custom-field-title"
                                [style.color]="title_color">{{item.name[userLanguageFormated]}}</span>
                            <br>
                            <span class="custom-field-answer" [style.color]="text_content_color"
                                *ngIf="item.type == 'text'">{{item.textValue[userLanguageFormated]}}</span>
                            <span class="custom-field-answer" [style.color]="text_content_color"
                                *ngIf="item.type == 'select'">{{item.value[userLanguageFormated]}}</span>
                        </div> -->
                        <!-- </ng-template> -->
                    </div>
                </ion-card-content>
            </ion-card>

            <ng-container *ngIf="documents.length >= 1">
                <h6 class="profile-subtitles" [style.color]="title_color">
                    {{"pages.documents.default_title" | translate}}</h6>
                <ion-list>
                    <ion-virtual-scroll [items]="documents">
                        <ion-item detail lines="none" [style.background]="bg_content_color"
                            class="align-flex clickable-doc" *virtualItem="let document"
                            (click)="openDocument(document)">
                            <ion-thumbnail slot="start">
                                <img src="../../../assets/images/{{document.icon}}">
                            </ion-thumbnail>
                            <ion-label *ngIf="global.language == 'pt_BR'" [style.color]="title_color">
                                {{document?.name.PtBR}}</ion-label>
                            <ion-label *ngIf="global.language == 'en_US'" [style.color]="title_color">
                                {{document?.name.EnUS}}</ion-label>
                            <ion-label *ngIf="global.language == 'es_ES'" [style.color]="title_color">
                                {{document?.name.EsES}}</ion-label>
                            <ion-label *ngIf="global.language == 'fr_FR'" [style.color]="title_color">
                                {{document?.name.FrFR}}</ion-label>
                            <ion-label *ngIf="global.language == 'de_DE'" [style.color]="title_color">
                                {{document?.name.DeDE}}</ion-label>
                        </ion-item>
                    </ion-virtual-scroll>
                </ion-list>
            </ng-container>

            <ng-container *ngIf="listSessions.length >= 1">
                <h6 class="profile-subtitles" [style.color]="title_color">{{"pages.profile.sessions" | translate}}</h6>
                <ion-virtual-scroll [items]="listSessions" [headerFn]="dateHeader">
                    <ion-item-divider class="ion-color" *virtualHeader="let header">
                        <span [style.color]="title_color">{{ header }}</span>
                    </ion-item-divider>
                    <ion-item lines="none" *virtualItem="let session" (click)="openSession(session)"
                        [style.background]="bg_content_color">
                        <div class="session-date">
                            <span class="time" [style.color]="text_content_color">
                                {{session.startTime}}
                                <span *ngIf="session.endTime"> <br>
                                    {{session.endTime}}</span>
                            </span>
                            &nbsp;&nbsp;&nbsp;
                        </div>

                        <div class="divider"></div>

                        <div class="session-details">
                            <p class="session-name" [style.color]="title_color">
                                {{session | getNameSession: [userLanguage, eventLanguage]}}<br />
                                <span *ngIf="session.locations.length >= 1">
                                    <!-- <br> -->
                                    <ion-label class="local">
                                        <small style="display:inline-flex; align-items: center"
                                            *ngFor="let location of session.locations" [style.color]="link_color">
                                            <ion-icon name="pin"></ion-icon>&nbsp;{{location.name}}
                                        </small>
                                    </ion-label>
                                </span>
                                <span *ngIf="session.tracks.length >= 1">
                                    <!-- <br> -->
                                    <small class="track-name" *ngFor="let track of session.tracks"
                                        [style.color]="track.txtColor" [style.background]="track.bgColor">
                                        <span *ngIf="global.language == 'pt_BR'">{{track?.name.PtBR}}</span>
                                        <span *ngIf="global.language == 'en_US'">{{track?.name.EnUS}}</span>
                                        <span *ngIf="global.language == 'es_ES'">{{track?.name.EsES}}</span>
                                        <span *ngIf="global.language == 'fr_FR'">{{track?.name.FrFR}}</span>
                                        <span *ngIf="global.language == 'de_DE'">{{track?.name.DeDE}}</span>
                                    </small>
                                </span>
                            </p>
                        </div>
                    </ion-item>
                </ion-virtual-scroll>
            </ng-container>
        </div>
        <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>
    </div>
</ion-content>