.chat-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .btn-default {
        margin: 0;
        margin-right: 10px;
    }

    .icon-camera {
        font-size: 30px;
        cursor: pointer;
    }

    .icon-camera:hover {
        opacity: 0.9;
    }
}

.clickable-doc {
    cursor: pointer;
}

.card-custom {
    margin: 0 !important;
    background: #ffffff;
}

.no-avatar-align {
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}

.no-bg {
    background: transparent !important;
}

.flex-align {
    display: flex;
    justify-content: center;
}

// .name {
//     margin-top: .6vh;
//     margin-bottom: 1vh;
//     font-weight: bold;
//     font-size: 1.3em;
//     line-height: 1em;
//     text-align: center;
// }

.companie-title {
    text-align: center;
    font-size: 1em;
}

.spacing {
    text-align: center;
    margin-bottom: 2px;
}

.social-icons {
    font-size: 1.9em;
    text-align: center;
}

.linkedin {
    color: #0077b5;
    padding-right: 2px;
}

.twitter {
    color: #1da1f2;
    padding-right: 2px;
}

.facebook {
    color: #3b5998;
    padding-right: 2px;
}

.instagram {
    color: #c13584;
    padding-right: 2px;
}

.link-site {
    color: rgba(0, 0, 0, 0.5);
}

.fields {
    margin-bottom: 8px;
}

.field-title {
    font-weight: 700;
}

.custom-field-title {
    font-weight: bold;
    font-size: 1em;
}

.custom-field-answer {
    font-size: 0.9em;
}

.align-flex {
    display: flex;
    align-items: center;
}

.profile-subtitles {
    font-weight: bold;
    padding-left: 5vw;
}

.btn-default {
    border-radius: 15px;
    background: transparent;
    border: 1px solid;
}

.session-date {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.session-details {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 20px;
}

.time-align {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 0.8em;
}

.date {
    width: 100%;
}

.divider {
    height: 100%;
    width: 1px;
    opacity: 0.2;
    background: rgba(0, 0, 0, 0.5);
}

.session-name {
    font-weight: bold;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70vw;
}

.name {
    margin-top: 0.6vh;
    margin-bottom: 0.6vh;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 99vw;
    text-align: center;
}

.local {
    font-weight: 200 !important;
}

.track-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 500;
    font-size: 0.64em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

ion-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 4px !important;
}