.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-btn-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;

    label {
        display: flex;
    }

    .icon-not-send {
        font-size: 26px;
        cursor: pointer;
    }
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.btn-publish {
    width: fit-content !important;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background: rgb(41, 115, 162);
}

.background {
    padding-top: 5px;
}

#textArea {
    width: 100%;
    height: auto;
}

.post-user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
}

.user-comment-picture {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
}

.date {
    font-size: 0.8em;
    font-weight: 300;
}

.post-description {
    margin-top: 6px;
    margin-bottom: 15px;
}

.img-post {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

// .divider {
// margin-top: 6px;
// margin-bottom: 6px;
// width: 100%;
// height: 1px;
// background: rgba(0, 0, 0, 0.04);
// }

.post-n-comment-div {
    margin-left: 17px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.delete-btn {
    float: right;
    padding-right: 10px;
}

.align-texts-like {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.align-texts-comment {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-like {
    font-size: 1.4em;
}

.icon-not-like {
    font-size: 1.4em;
    color: #d3d3d3;
}

.icon-comment {
    margin-right: 3px;
    font-size: 1.4em;
}

.normal-text {
    font-size: 1.1em;
}

@media only screen and (min-width: 320px) {
    .normal-text {
        font-size: 0.96em;
    }
}

.total-likes {
    margin-left: 8px;
}

.input-comment {
    resize: none;
}

.pos-btn-send {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-col-size {
    display: flex;
    align-items: center;
}

.btn-send-msg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-send {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more {
    text-align: center;
}

.icon-fixed {
    float: right;
}

#icon_fixed {
    width: 17px;
    height: 17px;
}

.icon-trash {
    float: right;
}

.color-trash {
    color: #c91f1f;
}

.st0 {
    fill: #808080;
}

.btn-attach-picture {
    font-size: 22px; // color: #000000;
}

.display-flex-align {
    display: flex;
    align-items: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.separator-vertical {
    width: 1px;
    height: 55%;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 6px;
}

#myImg {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    object-fit: cover;
}

.description-input {
    padding-top: 10px;
    // padding-left: 100px; //
    height: 45%;
    resize: none;
    background: #ffffff;
}

.text-input-ios {
    margin: 0 auto;
}

.text-input-md {
    margin: 0 auto;
}

.mg-card {
    margin-top: 4px;
}

.btn-default {
    padding: 8px;
    font-size: 1em;
    border-radius: 15px;
    min-width: 100%;
}

.name-post {
    margin-left: 8px;
    margin-bottom: 8px;
}

.post-img {
    width: 110%;
    max-height: 60%;
    // border-radius: 8px !important; //
    //
    display: block;
}

.align-footer-post {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.social-sharing {
    float: right;
    font-size: 1.2em;
}

.header-post-item {
    border: none !important;
    padding: 0 !important;
}

.align-button-options {
    display: flex;
    justify-content: flex-end;
}

.more-options-btn {
    font-size: 1.4em;
}