<div class="background">
    <div *ngIf="!loader && showListQuizs">

        <ion-item-divider *ngIf="unansweredQuizs.length > 0">
            <div class="lateral-color-card-warn">
            </div>
            <h6 *ngIf="unansweredQuizs.length > 0" class="section-title"> &nbsp;&nbsp;&nbsp; {{"pages.survey.not_answered" |
                      translate}}</h6>
        </ion-item-divider>

        <div *ngFor="let quiz of unansweredQuizs; let i = index">
            <ion-item detail class="card-content clickable-component" [style.background]="bgcontentcolor"
                (click)="openUnansweredQuiz(i)">
                <span class="b3-icons {{quiz?.iconFamily}} menu-icon" *ngIf="quiz?.iconFamily !== 'material-icons'"
                    [style.color]="menu_color"></span>
                <i class="{{quiz?.iconFamily}} menu-icon" *ngIf="quiz?.iconFamily == 'material-icons'"
                    [style.color]="menu_color">{{quiz?.icon}}</i>
                &nbsp; &nbsp;
                <span [style.color]="title_color">{{quiz?.title[userLanguage]}}</span>
            </ion-item>
        </div>

        <ion-item-divider *ngIf="answeredQuizs.length > 0">
            <div class="lateral-color-card-ok">
            </div>
            <h6 *ngIf="answeredQuizs.length > 0" class="section-title">&nbsp;&nbsp;&nbsp; {{"pages.survey.answered" |
                      translate}}</h6>
        </ion-item-divider>

        <div *ngFor="let quiz of answeredQuizs; let i = index">
            <ion-item detail *ngIf="(quiz?.change_answer || quiz?.view_answered) && quiz?.visibility"
                class="card-content clickable-component" [style.background]="bg_content_color"
                (click)="openAnsweredQuiz(i)">
                <span class="b3-icons {{quiz?.iconFamily}} menu-icon" *ngIf="quiz?.iconFamily !== 'material-icons'"
                    [style.color]="menu_color"></span>
                <i class="{{quiz?.iconFamily}} menu-icon" *ngIf="quiz?.iconFamily == 'material-icons'"
                    [style.color]="menu_color">{{quiz?.icon}}</i>
                &nbsp; &nbsp;
                <span [style.color]="title_color">{{quiz?.title[userLanguage]}}</span>
            </ion-item>

            <ion-item *ngIf="(quiz?.change_answer == false && quiz?.view_answered == false) && quiz?.visibility"
                class="card-content" [style.background]="bg_content_color">
                <span class="b3-icons {{quiz?.iconFamily}} menu-icon" *ngIf="quiz?.iconFamily !== 'material-icons'"
                    [style.color]="menu_color"></span>
                <i class="{{quiz?.iconFamily}} menu-icon" *ngIf="quiz?.iconFamily == 'material-icons'"
                    [style.color]="menu_color">{{quiz?.icon}}</i>
                &nbsp; &nbsp;
                <span [style.color]="title_color">{{quiz?.title[userLanguage]}}</span>
            </ion-item>
        </div>
    </div>

    <div *ngIf="!showListQuizs">
        <app-quiz [componentMode]="true" [backToList]="backToList" [eventId]="eventId" [moduleId]="quizModule.uid"
            [quizId]="quizSelectedId" [sessionId]="sessionId" [userId]="userId" [scheduleModuleId]="quizModule.uid"
            (stopLoaderEvent)="stopLoader($event)" (goBackEvent)="goBackToList($event)"></app-quiz>
    </div>

    <div *ngIf="loader && quizs.length > 1">
        <ion-item-divider style="height: 60px;">
            <ion-skeleton-text animated style="width: 150px; margin-left: 20px;"></ion-skeleton-text>
        </ion-item-divider>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <ion-avatar slot="start"
                style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <ion-skeleton-text style="width: 25px; height: 25px"></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
        </ion-item>
    </div>
</div>