<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <span>{{questionModule?.name[userLanguage]}}</span>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background" *ngIf="!loader">
        <div *ngFor="let item of listItems; let i = index">
            <ion-item detail class="card-content clickable-component" [style.background]="bg_content_color"
                *ngIf="item.visibility" (click)="openItem(item)">
                <span [style.color]="title_color">{{item.name[userLanguage]}}</span>
            </ion-item>
        </div>
    </div>

    <div class="background" *ngIf="loader">
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <ion-label>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
        </ion-item>
    </div>
</ion-content>