<ion-header>
  <ion-toolbar
    class="ion-color"
    [style.background]="menu_color"
    [style.color]="menu_text_color"
  >
    <ion-buttons slot="start">
      <ion-back-button icon="md-arrow-back" text=""> </ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p *ngIf="training !== null">{{training.title[userLanguage]}}</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="true"></ion-button>
      <ion-button [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="align-loader-custom" *ngIf="loader == true">
  <div class="loader-default"></div>
</div>

<ion-content *ngIf="setResultVerify">
  <!-- Progress Bar -->
  <span class="percent-align-center" [style.color]="menu_color">
    {{indexSlide + 1}} {{"global.texts.of" | translate}}
    {{training.questions.length * 2}}
  </span>
  <div class="progress-outer">
    <div
      class="progress-inner"
      [style.width]="progress + '%'"
      [style.background]="menu_color"
    ></div>
  </div>

  <div id="countdown" *ngIf="training.active_timer">
    <div id="countdown-number" [style.color]="menu_color">{{counter}}</div>

    <svg>
      <circle r="18" cx="20" cy="20" [style.stroke]="menu_color"></circle>
    </svg>
  </div>
  <div class="spacer"></div>

  <div class="background">
    <form class="margin-">
      <ion-list class="custom-ion-list" *ngIf="training">
        <ion-slides #mySlider>
          <ion-slide *ngFor="let aux of result; let i = index">
            <div *ngIf="i % 2 != 0">
              <!-- CASO NÃO TENHA RESPONDIDO -->
              <ion-item
                lines="none"
                *ngIf="!training.questions[(i - 1)/2].answered"
              >
                <ion-grid>
                  <ion-row>
                    <ion-col class="col-flexed">
                      <div
                        *ngIf="training.questions[(i - 1)/2].explanation[userLanguage] !== null &&
                      training.questions[(i - 1)/2].explanation[userLanguage] !== undefined &&
                      training.questions[(i - 1)/2].explanation[userLanguage] !== ''"
                      >
                        <span
                          >{{training.questions[(i -
                          1)/2].explanation[userLanguage]}}</span
                        >
                        <br /><br />
                      </div>
                      <label class="ion-text-wrap">
                        {{"pages.training.good_bad_answer" | translate}}</label
                      >
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="col-spacing">
                      <ion-buttons class="align-center-btns">
                        <button
                          class="training-btn-custom text-dark-gray-btn btn-border btn-verify-color-default 
                        {{resultVerify[(i - 1)/2] == true ? 'btn-verify-color-yes' : ''}}"
                          (click)="setVerifyAnswer(i, true)"
                        >
                          {{"global.buttons.yes" | translate}}
                        </button>
                        <button
                          class="training-btn-custom text-dark-gray-btn btn-border btn-verify-color-default 
                        {{resultVerify[(i - 1)/2] == false ? 'btn-verify-color-no' : ''}}"
                          (click)="setVerifyAnswer(i, false)"
                        >
                          {{"global.buttons.no" | translate}}
                        </button>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <!-- CASO TENHA RESPONDIDO -->
              <ion-item
                lines="none"
                *ngIf="training.questions[(i - 1)/2].answered"
              >
                <ion-grid>
                  <ion-row>
                    <ion-col class="col-flexed">
                      <label class="ion-text-wrap"
                        >{{"pages.training.good_bad_answer" | translate}}</label
                      >
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col-spacing">
                      <ion-buttons class="align-center-btns">
                        <!-- CASO TENHA ESCOLHIDO A OPÇÃO SIM -->
                        <button
                          class="training-btn-custom text-dark-gray-btn btn-border btn-verify-color-yes"
                          *ngIf="resultVerify[(i - 1)/2]"
                        >
                          {{"global.buttons.yes" | translate}}
                        </button>

                        <!-- CASO NÃO TENHA ESCOLHIDO A OPÇÃO SIM -->
                        <button
                          class="training-btn-custom text-dark-gray-btn btn-border btn-verify-color-default"
                          *ngIf="!resultVerify[(i - 1)/2]"
                        >
                          {{"global.buttons.yes" | translate}}
                        </button>

                        <!-- CASO TENHA ESCOLHIDO A OPÇÃO NÃO -->
                        <button
                          class="training-btn-custom text-dark-gray-btn btn-border btn-verify-color-no"
                          *ngIf="!resultVerify[(i - 1)/2]"
                        >
                          {{"global.buttons.no" | translate}}
                        </button>

                        <!-- CASO NÃO TENHA ESCOLHIDO A OPÇÃO NÃO -->
                        <button
                          class="training-btn-custom text-dark-gray-btn btn-border btn-verify-color-default"
                          *ngIf="resultVerify[(i - 1)/2]"
                        >
                          {{"global.buttons.no" | translate}}
                        </button>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <div class="align-buttons-training">
                <!-- *ngIf="!training.questions[(i - 1) / 2].answered || training.change_answer" -->
                <ion-button
                  shape="round"
                  class="btn-default btn-custom-shape ion-color"
                  [style.background]="menu_color"
                  [style.color]="menu_text_color"
                  (click)="sendTraining(training.questions[(i - 1)/2], i - 1, i)"
                >
                  {{"global.buttons.answer" | translate}}
                </ion-button>

                <button
                  class="arrow-btn"
                  [style.background]="menu_color"
                  [style.color]="menu_text_color"
                  (click)="slidePrevious()"
                >
                  <ion-icon
                    class="icon-size-arrow"
                    name="arrow-back"
                  ></ion-icon>
                </button>

                &nbsp;

                <button
                  class="arrow-btn"
                  [style.background]="menu_color"
                  [style.color]="menu_text_color"
                  (click)="slideNext()"
                >
                  <ion-icon
                    class="icon-size-arrow"
                    name="arrow-forward"
                  ></ion-icon>
                </button>
              </div>
            </div>

            <div *ngIf="i % 2 == 0">
              <div
                class="container-image-question"
                *ngIf="training.questions[i/2].image != null && 
              training.questions[i/2].image != undefined"
              >
                <div
                  class="image-question"
                  [ngStyle]="{'background-image':'url('+ training.questions[i/2].image +')'}"
                >
                  <img src="../../../assets/images/1x1px.png" />
                </div>
              </div>

              <ion-item-divider class="ion-text-wrap">
                <ion-label
                  class="question-title ion-text-wrap ion-text-center"
                  style="width: 100%;"
                  [style.color]="title_color"
                >
                  {{training.questions[i/2].title[userLanguage]}}
                </ion-label>
              </ion-item-divider>

              <!-- <ion-item-divider> -->
              <div
                class="infobooth"
                *ngIf="training.questions[i/2].infobooth[userLanguage] !== undefined 
                && training.questions[i/2].infobooth[userLanguage] !== null
                && training.questions[i/2].infobooth[userLanguage] !== ''"
              >
                <small>
                  <p
                    *ngIf="userLanguage=='DeDE'"
                    [innerHTML]="training.questions[i/2].infobooth.DeDE | safeHtml"
                  ></p>
                  <p
                    *ngIf="userLanguage=='EnUS'"
                    [innerHTML]="training.questions[i/2].infobooth.EnUS | safeHtml"
                  ></p>
                  <p
                    *ngIf="userLanguage=='EsES'"
                    [innerHTML]="training.questions[i/2].infobooth.EsES | safeHtml"
                  ></p>
                  <p
                    *ngIf="userLanguage=='FrFR'"
                    [innerHTML]="training.questions[i/2].infobooth.FrFR | safeHtml"
                  ></p>
                  <p
                    *ngIf="userLanguage=='PtBR'"
                    [innerHTML]="training.questions[i/2].infobooth.PtBR | safeHtml"
                  ></p>
                </small>
              </div>
              <!-- </ion-item-divider> -->

              <div
                class="questions-to-user"
                *ngIf="training.questions[i/2].type == 'oneSelect'"
              >
                <div (click)="presentToast(training.questions[i/2].answered)">
                  <ion-list>
                    <ion-radio-group
                      [(ngModel)]="result[i]"
                      [ngModelOptions]="{standalone: true}"
                      ngDefaultControl
                    >
                      <div
                        *ngFor="let option of training.questions[i/2].answers; let o = index"
                      >
                        <!-- exibe normalmente -->
                        <ion-item lines="none" class="justify-text ion-color">
                          <ion-label
                            class="option-size ion-text-wrap"
                            [style.color]="content_text_color"
                          >
                            {{option.answer[userLanguage]}}
                          </ion-label>
                          <ion-radio
                            value="{{option.uid}}"
                            [disabled]="training.questions[i/2].answered == true && training.change_answer == false"
                          >
                          </ion-radio>
                        </ion-item>
                      </div>
                    </ion-radio-group>
                  </ion-list>
                </div>
                <br />
              </div>

              <div
                class="questions-to-user"
                *ngIf="training.questions[i/2].type == 'multipleSelect'"
              >
                <ion-list
                  (click)="presentToast(training.questions[i/2].answered)"
                >
                  <div
                    *ngFor="let option of training.questions[i/2].answers; let t = index"
                  >
                    <!-- exibe normalmente -->
                    <ion-item lines="none" class="justify-text ion-color">
                      <ion-label
                        class="option-size ion-text-wrap"
                        [style.color]="content_text_color"
                      >
                        {{option.answer[userLanguage]}}
                      </ion-label>
                      <ion-checkbox
                        [(ngModel)]="result[i][t]"
                        [ngModelOptions]="{standalone: true}"
                        [disabled]="training.questions[i/2].answered == true && training.change_answer == false"
                        ngDefaultControl
                      >
                      </ion-checkbox>
                    </ion-item>
                  </div>
                </ion-list>
                <br />
              </div>

              <br />
              <div class="align-buttons-training">
                <ion-button
                  shape="round"
                  class="btn-default btn-custom-shape ion-color"
                  [style.background]="menu_color"
                  [style.color]="menu_text_color"
                  *ngIf="!training.questions[i/2].answered || training.change_answer"
                  (click)="slideNext()"
                  >{{"global.buttons.answer" | translate}}
                  <!-- sendTraining(training.questions[i/2], i) -->
                </ion-button>

                <button
                  class="arrow-btn"
                  [style.background]="menu_color"
                  [style.color]="menu_text_color"
                  *ngIf="training.questions.length > 1"
                  (click)="slidePrevious()"
                >
                  <ion-icon
                    class="icon-size-arrow"
                    name="arrow-back"
                  ></ion-icon>
                </button>

                &nbsp;

                <button
                  class="arrow-btn"
                  [style.background]="menu_color"
                  [style.color]="menu_text_color"
                  *ngIf="training.questions.length > 1"
                  (click)="slideNext()"
                >
                  <ion-icon
                    class="icon-size-arrow"
                    name="arrow-forward"
                  ></ion-icon>
                </button>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-list>
    </form>
  </div>
</ion-content>
