<!-- Loading -->
<ng-template #loading>
    <div class="align-loader">
        <div class="loader-default"></div>
    </div>
</ng-template>
<!-- End Loading -->

<ng-template #noResult>
    <span>No result :(</span>
</ng-template>

<!-- Content -->
<div *ngIf="event$ | async as event; else loading">
    <div *ngIf="module$ | async as module; else loading">
        <div class="row" *ngIf="groupDiscussions$ | async as gds; else loading">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title float-left">
                            {{
                                module
                                    | getNameModule
                                        : [userLanguage, event.language]
                            }}
                        </h4>

                        <div class="actions float-right">
                            <button
                                routerLink="/event/{{
                                    eventId
                                }}/group-discussions/{{ moduleId }}/create"
                                class="btn btn-custom btn-margin-right-default"
                            >
                                {{ 'global.btn_new' | translate }}
                            </button>

                            <button
                                class="btn btn-custom btn-margin-right-default"
                                data-toggle="modal"
                                data-target="#importModal"
                                (click)="onPrepare()"
                            >
                                {{ 'global.btn_import' | translate }}
                            </button>

                            <button
                                class="btn btn-custom btn-margin-right-default"
                                data-toggle="modal"
                                data-target="#exportLoading"
                                (click)="onExport(gds)"
                                [disabled]="!gds.length"
                            >
                                {{ 'global.btn_export' | translate }}
                            </button>
                            <button
                                class="btn btn-custom-settings"
                                data-toggle="modal"
                                data-target="#settingsModal"
                            >
                                <i class="material-icons icon-settings"
                                    >settings</i
                                >
                            </button>
                        </div>
                    </div>
                </div>

                <div class="header-options" [hidden]="!gds.length">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="select-delete-options">
                                <div class="form-check float-left">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="selectAll"
                                        (change)="onSelectAll($event, gds)"
                                    />

                                    <label
                                        class="form-check-label"
                                        for="selectAll"
                                    >
                                        {{ 'global.select_all' | translate }}
                                    </label>
                                    &nbsp;
                                </div>

                                <button
                                    class="btn btn-custom-no-bg btn-outline-delete"
                                    [swal]="deleteSwal"
                                    [disabled]="!selected.length"
                                    (confirm)="onRemoveSelected()"
                                >
                                    {{ 'global.delete_selecteds' | translate }}
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-5">
                            <div class="pipe-filter float-right">
                                <div class="input-group md-3">
                                    <input
                                        type="text"
                                        class="form-control"
                                        (change)="onSearch($event)"
                                        [disabled]="gds.length < 2"
                                        aria-describedby="basic-addon1"
                                        placeholder="{{
                                            'global.search_plc' | translate
                                        }}"
                                    />

                                    <div class="input-group-prepend">
                                        <span
                                            class="input-group-text"
                                            id="basic-addon1"
                                        >
                                            <i
                                                class="material-icons search-icon"
                                                >search
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-2">
                            <div class="form-group">
                                <select
                                    (change)="onOrderChange($event)"
                                    [disabled]="gds.length < 2"
                                    class="custom-select float-right"
                                    id="select-left"
                                >
                                    <option
                                        *ngFor="let o of orderOptions"
                                        [value]="o.value"
                                    >
                                        {{ o.text | translate }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="gds.length; else noResult">
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>

                                        <th class="text-center">
                                            {{
                                                'comp.group_discussions.discussions'
                                                    | translate
                                            }}
                                        </th>

                                        <th class="text-center">
                                            {{
                                                'comp.group_discussions.creation_date'
                                                    | translate
                                            }}
                                        </th>

                                        <th class="text-center">
                                            {{
                                                'comp.group_discussions.group_creator'
                                                    | translate
                                            }}
                                        </th>

                                        <th class="text-center">
                                            {{
                                                'comp.group_discussions.participants'
                                                    | translate
                                            }}
                                        </th>

                                        <th class="text-center">
                                            {{
                                                'comp.group_discussions.visibility'
                                                    | translate
                                            }}
                                        </th>

                                        <th class="text-center">
                                            {{
                                                'comp.group_discussions.config'
                                                    | translate
                                            }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let gd of gds
                                                | sortGroupDiscussions
                                                    : currentOrderOption
                                                | filter: q
                                                | paginate
                                                    : {
                                                          itemsPerPage: 10,
                                                          currentPage: currentPage
                                                      }
                                        "
                                    >
                                        <td class="select-td">
                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    [checked]="
                                                        selected.includes(gd.id)
                                                    "
                                                    (change)="onChecked(gd.id)"
                                                />
                                            </div>
                                        </td>

                                        <td>
                                            <span class="text-center">
                                                <p>
                                                    {{ gd.title }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="text-center">
                                                <p>
                                                    {{
                                                        gd.createdAt.toDate()
                                                            | date: 'dd/MM/yyyy'
                                                    }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="text-center">
                                                <p>
                                                    {{ gd.groupCreator.name }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="text-center">
                                                <p>
                                                    {{
                                                        gd.participants
                                                            | getNameParticipant
                                                    }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="text-center">
                                                <p>
                                                    {{
                                                        gd.visibility
                                                            | transformVisibility
                                                            | translate
                                                    }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <div class="text-center">
                                                <!-- Edit group discussion -->
                                                <a
                                                    routerLink="/event/{{
                                                        eventId
                                                    }}/group-discussions/{{
                                                        moduleId
                                                    }}/edit/{{ gd.id }}"
                                                    data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="{{
                                                        'comp.group_discussions.edit_tooltip'
                                                            | translate
                                                    }}"
                                                    ><i
                                                        class="material-icons default-icon"
                                                        >create</i
                                                    ></a
                                                >
                                                <!-- End Edit group discussion -->

                                                <a
                                                    class="click-function"
                                                    (click)="
                                                        onEnableOrDisable(
                                                            gd.id,
                                                            gd.disabled
                                                        )
                                                    "
                                                >
                                                    <i
                                                        class="material-icons default-icon"
                                                        >{{
                                                            gd.disabled
                                                                ? 'visibility_off'
                                                                : 'visibility'
                                                        }}
                                                    </i>
                                                </a>

                                                <!-- delete confirm modal -->
                                                <a
                                                    [swal]="deleteSwal"
                                                    (confirm)="onDelete(gd.id)"
                                                >
                                                    <i
                                                        class="material-icons default-icon delete-icon"
                                                        data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{
                                                            'comp.group_discussions.delete_tooltip'
                                                                | translate
                                                        }}"
                                                    >
                                                        delete
                                                    </i>
                                                </a>
                                                <!-- End Delete confirm modal -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-align">
            <pagination-controls
                (pageChange)="currentPage = $event"
                class="custom-pagination"
                responsive="true"
                directionLinks="false"
                autoHide="true"
            ></pagination-controls>
        </div>
    </div>
    <!-- End Content -->

    <!-- Import Modal -->
    <div
        class="modal fade"
        id="importModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="importModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importModalLabel">
                        <strong>{{ 'global.btn_import' | translate }}</strong>

                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>

                <div class="modal-body text-center">
                    <div class="container">
                        <p class="import-text">
                            {{ 'comp.speakers.import_text_01' | translate }}
                        </p>

                        <p class="import-text">
                            {{ 'global.modal_help' | translate }}

                            <button
                                class="btn btn-custom-outline"
                                (click)="onDownloadTemplate()"
                            >
                                {{ 'global.btn_download' | translate }}
                            </button>
                        </p>

                        <p class="import-text">
                            <strong>*</strong>
                            {{ 'comp.speakers.import_text_02' | translate }}
                        </p>
                    </div>

                    <form>
                        <div class="form-group">
                            <div class="custom-file">
                                <input
                                    #inputFile
                                    type="file"
                                    class="custom-file-input"
                                    id="customFile"
                                    (change)="onFileChange($event)"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                />

                                <label
                                    class="custom-file-label"
                                    for="customFile"
                                >
                                    {{
                                        'global.modal_placeholder' | translate
                                    }}</label
                                >

                                <label
                                    class="custom-file-label"
                                    for="customFile"
                                    >{{ filename }}</label
                                >
                            </div>
                        </div>
                    </form>

                    <div *ngIf="prepareResult">
                        <div
                            class="container"
                            *ngIf="prepareResult.errors.length"
                        >
                            <div class="alert alert-warning" role="alert">
                                <ul>
                                    <li
                                        *ngFor="let err of prepareResult.errors"
                                    >
                                        {{ err | translate }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="container"
                            *ngIf="prepareResult.failed.rows.length"
                        >
                            <div
                                class="alert alert-warning"
                                role="alert"
                                *ngIf="prepareResult.failed.participants.length"
                            >
                                <span>{{
                                    'comp.group_discussions.invalid_participants'
                                        | translate
                                }}</span>

                                <br />

                                <ul>
                                    <li
                                        *ngFor="
                                            let err of prepareResult.failed
                                                .participants
                                        "
                                    >
                                        {{ err }}
                                    </li>
                                </ul>
                            </div>

                            <div
                                class="alert alert-warning"
                                role="alert"
                                *ngIf="prepareResult.failed.rows.length"
                            >
                                <span>
                                    {{ prepareResult.failed.rows.length }}
                                    {{
                                        'comp.group_discussions.groups_failed'
                                            | translate
                                    }}
                                </span>
                            </div>
                        </div>

                        <div
                            class="container"
                            *ngIf="!prepareResult.ready.length"
                        >
                            <div class="alert alert-warning" role="alert">
                                <span>{{
                                    'comp.group_discussions.import_empty'
                                        | translate
                                }}</span>
                            </div>
                        </div>

                        <div
                            class="container"
                            *ngIf="prepareResult.ready.length"
                        >
                            <div class="alert alert-success" role="alert">
                                <span>
                                    {{ prepareResult.ready.length }}
                                    {{
                                        'comp.group_discussions.import_ready'
                                            | translate
                                    }}</span
                                >
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div
                            class="alert alert-success"
                            role="alert"
                            *ngIf="importResult"
                        >
                            {{ 'global.import_data_success' | translate }}

                            <br />

                            <span>
                                {{ importResult.success.created }}
                                {{
                                    'comp.group_discussions.groups_created'
                                        | translate
                                }}
                            </span>

                            <br />

                            <span>
                                {{ importResult.success.updated }}
                                {{
                                    'comp.group_discussions.groups_updated'
                                        | translate
                                }}
                            </span>
                        </div>
                    </div>
                </div>

                <div
                    class="text-center"
                    *ngIf="prepareResult"
                    [hidden]="!prepareResult.ready.length || importResult"
                >
                    <button
                        type="button"
                        class="btn btn-custom-cancel"
                        data-dismiss="modal"
                    >
                        {{ 'global.btn_cancel' | translate }}
                    </button>
                    &nbsp;
                    <button
                        type="button"
                        class="btn btn-custom"
                        (click)="onImport()"
                    >
                        {{ 'global.btn_import' | translate }}
                    </button>

                    <div class="align-loader" [hidden]="!importing">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Import Modal -->

<!-- Modal Export -->
<div
    class="modal fade"
    id="exportLoading"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exportLoadingLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Export -->

<!-- Modal delete confirm -->
<swal
    #deleteSwal
    title="{{ 'global.modals.delete' | translate }}"
    text="{{ 'global.modals.delete_message' | translate }}"
    icon="error"
    confirmButtonText="{{ 'global.modals.btn_delete' | translate }}"
    cancelButtonText="{{ 'global.modals.btn_cancel' | translate }}"
    confirmButtonColor="#c91f1f"
    [showCancelButton]="true"
    [focusCancel]="true"
>
</swal>
<!-- End Modal delete confirm -->

<!-- Modal Settings -->
<div
    class="modal fade"
    id="settingsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="settingsModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <ng-template #loadingModal>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="align-loader">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="module$ | async as module; else loadingModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">
                        <strong>
                            {{ 'global.modal_configs' | translate }}
                        </strong>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>
                                        <strong>
                                            {{
                                                'comp.group_discussions.allow_participant_create'
                                                    | translate
                                            }}
                                        </strong>
                                    </h5>
                                    <br />
                                    <div class="form-group">
                                        <ui-switch
                                            uncheckedLabel="{{
                                                'global.no_btn' | translate
                                            }}"
                                            checkedLabel="{{
                                                'global.yes_btn' | translate
                                            }}"
                                            [(ngModel)]="
                                                module.allow_participant_create
                                            "
                                            (change)="
                                                setSetting(
                                                    'allow_participant_create',
                                                    module.allow_participant_create
                                                )
                                            "
                                            size="small"
                                        >
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>
                                        <strong>
                                            {{
                                                'comp.group_discussions.allow_participant_create_visio'
                                                    | translate
                                            }}
                                        </strong>
                                    </h5>
                                    <br />
                                    <div class="form-group">
                                        <ui-switch
                                            uncheckedLabel="{{
                                                'global.no_btn' | translate
                                            }}"
                                            checkedLabel="{{
                                                'global.yes_btn' | translate
                                            }}"
                                            [(ngModel)]="
                                                module.allow_participant_create_visio
                                            "
                                            (change)="
                                                setSetting(
                                                    'allow_participant_create_visio',
                                                    module.allow_participant_create_visio
                                                )
                                            "
                                            size="small"
                                        >
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>
                                        <strong>
                                            {{
                                                'comp.group_discussions.link_sessions'
                                                    | translate
                                            }}
                                        </strong>
                                    </h5>
                                    <br />
                                    <div class="form-group">
                                        <ui-switch
                                            uncheckedLabel="{{
                                                'global.no_btn' | translate
                                            }}"
                                            checkedLabel="{{
                                                'global.yes_btn' | translate
                                            }}"
                                            [(ngModel)]="module.link_sessions"
                                            (change)="
                                                setSetting(
                                                    'link_sessions',
                                                    module.link_sessions
                                                )
                                            "
                                            size="small"
                                        >
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
