<div class="padding-top-40">
  <ion-grid class="ion-padding">
    <ion-row class="padding-top-40">
      <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
        <h3 class="login-title">{{"global.buttons.acess_by_shortcode" | translate}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
        <ion-label class="input-label-text">{{"global.texts.code" | translate}}</ion-label>
        <ion-input class="custom-input border-n-shadow" type="text"
          placeholder='{{"global.alerts.type_event_shortcode" | translate}}' [(ngModel)]="shortcode">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
        <ion-button shape="round" class="btn-default bg-blue" (click)="checkShortcode()" color="blue-default"
          [disabled]="activeLoader">
          <span *ngIf="!activeLoader">{{"global.buttons.btn_verify"| translate}}</span>
          <ion-spinner name="crescent" color="light" *ngIf="activeLoader"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>