.custom-input {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px !important;
    padding-top: 0;
    height: 35px;
    float: left;
}

.border-n-shadow {
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
}

.login-title {
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;
}

.login-title,
.input-label-text {
    color: rgba(0, 0, 0, 0.65);
    font-size: .8em;
    padding-left: 3px;
}