<div class="card">
    <div class="card-body">
        <label class="text-bold">{{"global.terms_of_use" | translate}}</label>
        <ckeditor [(ngModel)]="terms">
            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
        </ckeditor>
        <br>
        <button class="btn btn-secondary float-right" type="submit" (click)="saveTerms()" [swal]="confirmSwal">{{"global.save"
      | translate}}</button>
    </div>
</div>

<swal #confirmSwal title="Sucesso!" text="Os dados foram salvos com sucesso." icon="success" confirmButtonText="OK"
    confirmButtonColor="#1FC94F" [showCancelButton]="false">