<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav" *ngIf="userType == 0 || userType == 1">
                    <li class="menu-title">{{"comp.adm_dashboard.accounts" | translate}}</li><!-- /.menu-title -->
                    <li *ngIf="userType == 0">
                        <a class="side-b3-link" routerLink="/dashboard/supergod" routerLinkActive="activeMenu"> <i
                                class="menu-icon material-icons">people_outline</i>{{"comp.adm_dashboard.supergods"
              | translate}}
                        </a>
                    </li>
                    <li>
                        <a class="side-b3-link" routerLink="/dashboard/god" routerLinkActive="activeMenu"> <i
                                class="menu-icon material-icons">people_outline</i>{{"comp.adm_dashboard.gods"
              | translate}}
                        </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle side-b3-link" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i
                                class="menu-icon material-icons">work_outline</i>{{"comp.adm_dashboard.clients" | translate}}</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon material-icons">people_outline</i><a routerLink="/dashboard/client"
                                    routerLinkActive="activeMenu"
                                    class="side-b3-link">{{"comp.adm_dashboard.users" | translate}}</a></li>
                            <li><i class="menu-icon ti-mobile"></i><a class="side-b3-link"
                                    routerLink="/dashboard/containers"
                                    routerLinkActive="activeMenu">{{"comp.adm_dashboard.containers" | translate}}</a>
                            </li>
                            <li class="disabled"><i class="menu-icon ti-shopping-cart"></i><a class="side-b3-link"
                                    routerLink="#"
                                    routerLinkActive="activeMenu">{{"comp.adm_dashboard.sales" | translate}}</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">{{"comp.adm_dashboard.events" | translate}}</li><!-- /.menu-title -->
                    <li>
                        <a routerLink="/dashboard/events-b3" routerLinkActive="activeMenu" class="side-b3-link"> <i
                                class="menu-icon material-icons">date_range</i>{{"comp.adm_dashboard.intern"
              | translate}}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/events-client" routerLinkActive="activeMenu" class="side-b3-link"> <i
                                class="menu-icon material-icons">date_range</i>{{"comp.adm_dashboard.clients"
              | translate}}
                        </a>
                    </li>
                    <li class="menu-title">{{"comp.adm_dashboard.application" | translate}}</li><!-- /.menu-title -->
                    <li>
                        <a routerLink="/dashboard/app-container" routerLinkActive="activeMenu" class="side-b3-link"> <i
                                class="menu-icon material-icons">smartphone</i>{{"comp.containers.container"
                | translate}}
                        </a>
                        <!-- <a routerLink="/dashboard/terms-of-use" routerLinkActive="activeMenu" class="side-b3-link"> <i
                class="menu-icon material-icons">info_outline</i>{{"comp.adm_dashboard.terms_of_use"
                | translate}}</a>
            <a routerLink="/dashboard/privacy" routerLinkActive="activeMenu" class="side-b3-link"> <i
                class="menu-icon material-icons">info_outline</i>{{"comp.adm_dashboard.privacy_terms"
                | translate}}</a> -->
                    </li>
                    <li class="menu-title disabled">{{"comp.adm_dashboard.reports" | translate}}</li>
                    <!-- /.menu-title -->
                    <li class="disabled">
                        <!-- <a class="side-b3-link"> <i class="menu-icon material-icons">bar_chart</i>Acessos</a> -->
                        <a class="side-b3-link disabled" routerLink="/dashboard/logs" routerLinkActive="activeMenu"> <i
                                class="menu-icon material-icons">save</i>{{"comp.adm_dashboard.logs_use"
              | translate}}</a>
                    </li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" (click)="redirectDashboard()"><img src='../../../assets/images/{{navLogo}}'
                            alt="Logo"></a>
                    <a class="navbar-brand hidden" (click)="redirectDashboard()"><img
                            src='../../../assets/images/{{navLogo}}' alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="user-name">{{displayName}} &nbsp;</span>
                            <ngx-avatar name="{{displayName}}" size="40"
                                *ngIf="photoUrl == null || photoUrl == undefined || photoUrl == ''"></ngx-avatar>
                            <img [src]="photoUrl" class="avatar-image"
                                *ngIf="photoUrl !== null && photoUrl !== undefined && photoUrl !== ''">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" routerLink="/dashboard/profile/{{userUid}}"
                                routerLinkActive="activeMenu"><i class="fa fa- user"></i>{{"comp.adm_dashboard.my_profile"
                | translate}}</a>
                            <a class="nav-link" (click)="logoutUser()"><i class="fa fa-power -off"></i>{{"comp.adm_dashboard.logout"
                | translate}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        {{license}}
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>

</body>