<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <p>{{"pages.interactivity.default_title" | translate}}</p>
        </ion-title>
        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ion-list>
            <ion-item *ngIf="moduleSurvey !== null && moduleSurvey !== undefined"
                (click)="openPage(moduleSurvey.viewApp)" class="clickable-component">
                <ion-avatar item-start>
                    <span class="b3-icons icon-space {{moduleSurvey.iconFamily}}"
                        *ngIf="moduleSurvey.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{moduleSurvey.iconFamily}} icon-space"
                        *ngIf="moduleSurvey.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{moduleSurvey.icon}}</i>
                </ion-avatar>
                <ion-label class="spaced ion-text-wrap">
                    <h2 *ngIf="global.language == 'pt_BR'" class="module-title" [style.color]="title_color">
                        {{moduleSurvey.name.PtBR}}</h2>
                    <h2 *ngIf="global.language == 'en_US'" class="module-title" [style.color]="title_color">
                        {{moduleSurvey.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'es_ES'" class="module-title" [style.color]="title_color">
                        {{moduleSurvey.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'fr_FR'" class="module-title" [style.color]="title_color">
                        {{moduleSurvey.name.FrFR}}</h2>
                    <h2 *ngIf="global.language == 'de_DE'" class="module-title" [style.color]="title_color">
                        {{moduleSurvey.name.DeDE}}</h2>

                    <p>{{"pages.interactivity.survey_description" | translate}}</p>
                </ion-label>
            </ion-item>

            <ion-item *ngIf="moduleQuiz !== null && moduleQuiz !== undefined" (click)="openPage(moduleQuiz.viewApp)"
                class="clickable-component">
                <ion-avatar item-start>
                    <span class="b3-icons icon-space {{moduleQuiz.iconFamily}}"
                        *ngIf="moduleQuiz.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{moduleQuiz.iconFamily}} icon-space" *ngIf="moduleQuiz.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{moduleQuiz.icon}}</i>
                </ion-avatar>
                <ion-label class="spaced ion-text-wrap">
                    <h2 *ngIf="global.language == 'pt_BR'" class="module-title" [style.color]="title_color">
                        {{moduleQuiz.name.PtBR}}</h2>
                    <h2 *ngIf="global.language == 'en_US'" class="module-title" [style.color]="title_color">
                        {{moduleQuiz.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'es_ES'" class="module-title" [style.color]="title_color">
                        {{moduleQuiz.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'fr_FR'" class="module-title" [style.color]="title_color">
                        {{moduleQuiz.name.FrFR}}</h2>
                    <h2 *ngIf="global.language == 'de_DE'" class="module-title" [style.color]="title_color">
                        {{moduleQuiz.name.DeDE}}</h2>
                    <p>{{"pages.interactivity.quiz_description" | translate}}</p>
                </ion-label>
            </ion-item>

            <ion-item *ngIf="moduleTraining !== null && moduleTraining !== undefined"
                (click)="openPage(moduleTraining.viewApp)" class="clickable-component">
                <ion-avatar item-start>
                    <span class="b3-icons icon-space {{moduleTraining.iconFamily}}"
                        *ngIf="moduleTraining.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{moduleTraining.iconFamily}} icon-space"
                        *ngIf="moduleTraining.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{moduleTraining.icon}}</i>
                </ion-avatar>
                <ion-label class="spaced ion-text-wrap">
                    <h2 *ngIf="global.language == 'pt_BR'" class="module-title" [style.color]="title_color">
                        {{moduleTraining.name.PtBR}}</h2>
                    <h2 *ngIf="global.language == 'en_US'" class="module-title" [style.color]="title_color">
                        {{moduleTraining.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'es_ES'" class="module-title" [style.color]="title_color">
                        {{moduleTraining.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'fr_FR'" class="module-title" [style.color]="title_color">
                        {{moduleTraining.name.FrFR}}</h2>
                    <h2 *ngIf="global.language == 'de_DE'" class="module-title" [style.color]="title_color">
                        {{moduleTraining.name.DeDE}}</h2>
                    <p>{{"pages.interactivity.training_description" | translate}}</p>
                </ion-label>
            </ion-item>

            <ion-item *ngIf="moduleAskQuestion !== null && moduleAskQuestion !== undefined"
                (click)="openPage(moduleAskQuestion.viewApp)" class="clickable-component">
                <ion-avatar item-start>
                    <span class="b3-icons icon-space {{moduleAskQuestion.iconFamily}}"
                        *ngIf="moduleAskQuestion.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{moduleAskQuestion.iconFamily}} icon-space"
                        *ngIf="moduleAskQuestion.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{moduleAskQuestion.icon}}</i>
                </ion-avatar>
                <ion-label class="spaced ion-text-wrap">
                    <h2 *ngIf="global.language == 'pt_BR'" class="module-title" [style.color]="title_color">
                        {{moduleAskQuestion.name.PtBR}}</h2>
                    <h2 *ngIf="global.language == 'en_US'" class="module-title" [style.color]="title_color">
                        {{moduleAskQuestion.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'es_ES'" class="module-title" [style.color]="title_color">
                        {{moduleAskQuestion.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'fr_FR'" class="module-title" [style.color]="title_color">
                        {{moduleAskQuestion.name.FrFR}}</h2>
                    <h2 *ngIf="global.language == 'de_DE'" class="module-title" [style.color]="title_color">
                        {{moduleAskQuestion.name.DeDE}}</h2>

                    <p>{{"pages.interactivity.ask_question_description" | translate}}</p>
                </ion-label>
            </ion-item>

            <ion-item *ngIf="moduleWordCloud !== null && moduleWordCloud !== undefined"
                (click)="openPage(moduleWordCloud.viewApp)" class="clickable-component">
                <ion-avatar item-start>
                    <span class="b3-icons icon-space {{moduleWordCloud.iconFamily}}"
                        *ngIf="moduleWordCloud.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{moduleWordCloud.iconFamily}} icon-space"
                        *ngIf="moduleWordCloud.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{moduleWordCloud.icon}}</i>
                </ion-avatar>
                <ion-label class="spaced ion-text-wrap">
                    <h2 *ngIf="global.language == 'pt_BR'" class="module-title" [style.color]="title_color">
                        {{moduleWordCloud.name.PtBR}}</h2>
                    <h2 *ngIf="global.language == 'en_US'" class="module-title" [style.color]="title_color">
                        {{moduleWordCloud.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'es_ES'" class="module-title" [style.color]="title_color">
                        {{moduleWordCloud.name.EnUS}}</h2>
                    <h2 *ngIf="global.language == 'fr_FR'" class="module-title" [style.color]="title_color">
                        {{moduleWordCloud.name.FrFR}}</h2>
                    <h2 *ngIf="global.language == 'de_DE'" class="module-title" [style.color]="title_color">
                        {{moduleWordCloud.name.DeDE}}</h2>
                    <p>{{"pages.interactivity.ask_question_description" | translate}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>