<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">

    <ion-buttons slot="start">
      <ion-back-button icon="md-arrow-back" text=""></ion-back-button>
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>

    <ion-title>
      <!-- <p>{{"pages.schedule_detail.transmit" | translate}}</p> -->
      <p>Lista de Lives</p>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onPullToRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div spinner-wrapper>
    <ion-spinner *ngIf="isFetching && mayShowSpinner"></ion-spinner>
  </div>

  <div *ngIf="userType <= 4">
    <ion-button shape="round" 
      class="btn-default ion-color start-live-button" 
      [style.border-color]="menu_color" 
      [style.color]="menu_color"
      (click)="startLive()" *ngIf="!isDegrade">
      <ion-icon name="videocam"></ion-icon> &nbsp;
      Iniciar Live
    </ion-button>
    
    <ion-button shape="round"
      class="btn-default ion-color start-live-button" 
      [style.border-color]="btn_color1" 
      [style.color]="btn_color1"
      (click)="startLive()" *ngIf="isDegrade">
      <ion-icon name="videocam"></ion-icon> &nbsp;
      Iniciar Live
    </ion-button>
    <br>
  </div>

  <p class="ion-text-center no-broadcasts-text" *ngIf="!isFetching && !errorMessage && (!broadcasts || broadcasts.length === 0)">
    No broadcasts available right now. Pull to refresh list.
  </p>

  <div padding error *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <ion-card *ngFor="let broadcast of broadcasts" [ngClass]="['broadcast-' + broadcast.type]"
    (click)="playBroadcast(broadcast)">

    <div class="userInfoWrapper">
      <!-- image of profile user -->
      <ion-avatar (click)="redirectProfile()">
        <img [src]="broadcast?.photoUrl"
            *ngIf="broadcast?.photoUrl !== '' && broadcast?.photoUrl !== null">
        <ngx-avatar name="{{broadcast?.userName}}" initialsSize="2" size="40"
        *ngIf="broadcast?.photoUrl === '' || broadcast?.photoUrl === null 
        && (broadcast?.userName !== null && broadcast?.userName !== '')">
        </ngx-avatar>
      </ion-avatar>
  
      <ion-label class="ion-text-wrap">
        <!-- name of user -->
        <span *ngIf="broadcast?.userName !== '' && broadcast?.userName !== null"
          class="float-left name-post" [style.color]="title_color"
          (click)="redirectProfile()">{{broadcast?.userName}}
        </span>
      </ion-label>
    </div>

    <div broadcast-preview *ngIf="broadcast.preview">
      <img src="{{ broadcast.preview }}" />
    </div>

    <div no-broadcast-preview *ngIf="!broadcast.preview">
      <!-- use an ionicon as fallback if no preview url is provided -->
      <ion-icon name="film"></ion-icon>
    </div>

    <ion-card-content>
      <ion-card-title>{{ broadcast.title || 'Untitled broadcast' }}</ion-card-title>
      <ion-row>
        <!--
        Social buttons example
        Note that likes and comments are NOT features provided via Bambuser's API:s
        Based on https://ionicframework.com/docs/components/#card-advanced-social
        -->
        <!-- <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col> -->
        <ion-col>
          <!-- For live broadcasts, just show a live badge -->
          <ion-icon name="radio-button-on" class="live-indicator" *ngIf="broadcast.created && broadcast.type === 'live'"></ion-icon>
          <ion-note class="live-text-indicator" *ngIf="broadcast.created && broadcast.type === 'live'">
            LIVE
          </ion-note>

          <!-- For archived broadcasts, use moment.js to generate a relative timestamp -->
          <ion-note *ngIf="broadcast.created && broadcast.type === 'archived'">
            {{ luxon.convertDateToStringTitlePortBrazilDDMM(luxon.convertTimestampToDate(broadcast.created)) }} às
            {{ luxon.convertDateToStringTitlePortBrazilHHMM(luxon.convertTimestampToDate(broadcast.created)) }} 
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>