[error] {
  background-color: red;
  color: white;
}

[spinner-wrapper] {
  text-align: center;
}

.live-indicator {
  color: red;
  position: relative;
  top: 2.5px;
  font-size: 15px;
}

.live-text-indicator {
  position: relative;
  left: -6px;
}

[broadcast-preview] {
  // fixed aspect ratio
  // https://stackoverflow.com/a/11552460
  object-position: center; /* Center the image within the element */
  overflow:hidden;
  width: 100vw;
  height: 100vw / 16 * 9;
}

[no-broadcast-preview] {
  font-size: 10em;
  text-align: center;
}

ion-row {
  ion-icon {
    padding-right: 0.5em;
  }
}

ion-spinner {
  margin: auto;
}

ion-card-title {
  padding-left: 5px;
}

.start-live-button {
  margin-top: 10px;
}

.no-broadcasts-text {
  color: #b4b4b4;
}

div.userInfoWrapper {
  display:flex;
  align-items:center;
}

ion-avatar {
  padding: 10px;
}