.clickable-doc {
    cursor: pointer;
}

.card-custom {
  margin: 0 !important;
  background: #ffffff;
}

.no-avatar-align {
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: block;
}

.no-bg {
  background: transparent !important;
}

.spacing {
  margin-bottom: 100px;
}

.flex-align {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name {
  margin-top: 0.6vh;
  margin-bottom: 1vh;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1em;
  text-align: center;
}

.companie-title {
  text-align: center;
  font-size: 1em;
}

.social-icons {
  font-size: 1.7em;
  text-align: center;
}

.linkedin {
  color: #0077b5;
  padding-right: 2px;
}

.twitter {
  color: #1da1f2;
  padding-right: 2px;
}

.facebook {
  color: #3b5998;
  padding-right: 2px;
}

.instagram {
  color: #c13584;
  padding-right: 2px;
}

.link-site {
  color: rgba(0, 0, 0, 0.5);
}

.fields {
  margin-bottom: 8px;
}

.field-title {
  font-weight: 700;
}

.custom-field-title {
  font-weight: bold;
  font-size: 1em;
}

.custom-field-answer {
  font-size: 0.9em;
}

.qrcode {
  margin: 0 auto;
  display: block;
}

.profile-subtitles {
  font-weight: bold;
  padding-left: 5vw;
}
