<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>
        <ion-title>
            <p>{{"global.texts.profile" | translate}}</p>
        </ion-title>
        <!-- Display this button only profile is from logged user and edit is habilited for this attendee module -->
        <ion-buttons slot="end" (click)="editProfile()" *ngIf="editProfileActive">
            <ion-button slot="icon-only">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!editProfileActive">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <div *ngIf="loader == false">
            <br>
            <div class="no-avatar-align">
                <ngx-avatar name="{{name}}" initialsSize="2" *ngIf="photoUrl == ''" size="100"></ngx-avatar>
            </div>
            <img [src]="photoUrl" class="profile-picture" (click)="openImage(photoUrl)" *ngIf="photoUrl !== ''">
            <div class="flex-align">
                <ion-item detail="false" lines="none" class="ion-color">
                    <ion-label class="ion-text-wrap">
                        <div class="spacing">
                            <p class="name" [style.color]="title_color">{{name}}</p>
                            <p class="companie-title" [style.color]="text_content_color">
                                <span>{{title}}</span>
                                <br> {{company}}
                            </p>
                        </div>
                        <div class="social-icons">
                            <!-- Display icon if have url -->
                            <ion-icon name="logo-twitter" class="twitter" *ngIf="twitter !== null && twitter !== ''"
                                (click)="openLink(twitter)">
                            </ion-icon>
                            <ion-icon name="logo-linkedin" class="linkedin" *ngIf="linkedin !== null && linkedin !== ''"
                                (click)="openLink(linkedin)">
                            </ion-icon>
                            <ion-icon name="logo-facebook" class="facebook" *ngIf="facebook !== null && facebook !== ''"
                                (click)="openLink(facebook)">
                            </ion-icon>
                            <ion-icon name="logo-instagram" class="instagram"
                                *ngIf="instagram !== null && instagram !== ''" (click)="openLink(instagram)"></ion-icon>
                            <ion-icon name="link" class="link-site" *ngIf="site !== null && site !== ''"
                                (click)="openLink(site)">
                            </ion-icon>
                        </div>
                    </ion-label>
                </ion-item>
            </div>

            <!-- Only display if the description is filled  -->
            <ion-card class="custom-card"
                *ngIf="description !== null && description !== undefined && description !== ''"
                [style.background]="bg_content_color">
                <ion-card-content>
                    <!-- <span [style.color]="title_color"><strong>{{"global.texts.about" | translate}}</strong></span><br> -->
                    <span class="description" [innerHTML]="description | safeHtml">
                    </span>
                </ion-card-content>
            </ion-card>

            <!-- Only display if custom field is filled  -->
            <ion-card class="custom-card" *ngIf="showCardCustomField" [style.background]="bg_content_color">
                <ion-card-content>
                    <div *ngFor="let item of listCustomFields; let i = index">
                        <!-- <div *ngIf="type == 5; else speakerCustomField">
              <div *ngIf="item.value != '' && item.value != undefined && item.value != null">
                <span class="custom-field-title" [style.color]="title_color">{{item.name}}</span>
                <br>
                <span class="custom-field-answer" [style.color]="text_content_color">{{item.value}}</span>
              </div>
            </div>
            <ng-template #speakerCustomField> -->
                        <div *ngIf="item?.type == 'text' && item?.textValue[userLanguage] !== ''">
                            <span class="b3-icons {{item.iconFamily}} menu-icon"
                                *ngIf="item.iconFamily !== 'material-icons'" [style.color]="text_content_color"></span>
                            <i class="{{item.iconFamily}} menu-icon" *ngIf="item.iconFamily == 'material-icons'"
                                [style.color]="text_content_color">{{item.icon}}</i>&nbsp;
                            <span class="custom-field-title" [style.color]="title_color">
                                {{item?.name[userLanguage]}}</span>
                            <br>
                            <span class="custom-field-answer"
                                [style.color]="text_content_color">{{item?.textValue[userLanguage]}}</span>
                        </div>

                        <div *ngIf="item?.type == 'select' && item?.value[userLanguage] !== ''">
                            <span class="b3-icons {{item.iconFamily}} menu-icon"
                                *ngIf="item.iconFamily !== 'material-icons'" [style.color]="text_content_color"></span>
                            <i class="{{item.iconFamily}} menu-icon" *ngIf="item.iconFamily == 'material-icons'"
                                [style.color]="text_content_color">{{item.icon}}</i>&nbsp;
                            <span class="custom-field-title" [style.color]="title_color">
                                {{item?.name[userLanguage]}}</span>
                            <br>
                            <span class="custom-field-answer"
                                [style.color]="text_content_color">{{item?.value[userLanguage]}}</span>
                        </div>
                        <!-- <div *ngIf="item?.value[userLanguage] !== '' || item?.textValue[userLanguage] !== ''">
              <span class="custom-field-title" [style.color]="title_color">{{item?.name[userLanguage]}}</span>
              <br>
              <span class="custom-field-answer" [style.color]="text_content_color"
                *ngIf="item?.type == 'text'">{{item?.textValue[userLanguage]}}</span>
              <span class="custom-field-answer" [style.color]="text_content_color"
                *ngIf="item?.type == 'select'">{{item?.value[userLanguage]}}</span>
            </div> -->
                        <!-- </ng-template> -->
                    </div>
                </ion-card-content>
            </ion-card>

            <!-- user documents -->
            <ng-container *ngIf="documents.length >= 1">
                <h6 class="profile-subtitles" [style.color]="title_color">
                    {{"pages.documents.default_title" | translate}}</h6>
                <ion-list>
                    <ion-virtual-scroll [items]="documents">
                        <ion-item detail lines="none" [style.background]="bg_content_color" class="align-flex clickable-doc"
                            *virtualItem="let document" (click)="openDocument(document)">
                            <ion-thumbnail slot="start">
                                <img src="../../../assets/images/{{document.icon}}">
                            </ion-thumbnail>
                            <ion-label *ngIf="global.language == 'pt_BR'" [style.color]="title_color">
                                {{document?.name.PtBR}}</ion-label>
                            <ion-label *ngIf="global.language == 'en_US'" [style.color]="title_color">
                                {{document?.name.EnUS}}</ion-label>
                            <ion-label *ngIf="global.language == 'es_ES'" [style.color]="title_color">
                                {{document?.name.EsES}}</ion-label>
                            <ion-label *ngIf="global.language == 'fr_FR'" [style.color]="title_color">
                                {{document?.name.FrFR}}</ion-label>
                            <ion-label *ngIf="global.language == 'de_DE'" [style.color]="title_color">
                                {{document?.name.DeDE}}</ion-label>
                        </ion-item>
                    </ion-virtual-scroll>
                </ion-list>
            </ng-container>

            <ion-grid *ngIf="allowQR">
                <ion-row>
                    <ion-col text-center>
                        <ngx-qrcode qrc-element-type="canvas" [qrc-value]="userId" qrc-class="aclass"
                            qrc-errorCorrectionLevel="L">
                        </ngx-qrcode>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
        <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>
    </div>



</ion-content>