.table-stats table th img, .table-stats table td img {
    max-width: 55px;
}

.location-miniature {
    object-fit: fill;
    width: 55px;
    height: 55px;
}

.flex-blank {
    display: flex;
    align-items: center;
    justify-content: center;
}