<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="box-title float-left">{{"comp.locations.page_title" | translate}}</h4> -->
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#newLocation">{{"global.btn_new" | translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#importModalLocation">{{"global.btn_import"
                |
                translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#exportLoadingLocation" (click)="exportAllLocations()">{{"global.btn_export"
                |
                translate}}</button>
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label>
                                &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete"
                                (click)="removeSelected()">{{"global.delete_selecteds" | translate}}</button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="blank-page" *ngIf="loader == false && blankPage == true">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="flex-blank">
                            <img clas="blank-page-img" src="../.././../../../assets/images/location-vector.svg">
                            <br>
                            <div>
                                <h4>{{"comp.locations.no_local_title" | translate}}</h4>
                                <span>{{"comp.locations.no_local_msg" | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="loader == false && blankPage == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"global.locations" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let location of locations | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td class="select-td">
                                        <div class="form-check">
                                            <input [(ngModel)]="locationsSelected[location.uid]"
                                                class="form-check-input" type="checkbox" id="selectAttendeee">
                                        </div>
                                    </td>
                                    <td>
                                        <img class="location-miniature img-thumbnail" [src]="location?.image"
                                            *ngIf="location.image !== ''">
                                        <img class="location-miniature img-thumbnail"
                                            src="../../../../../assets/images/location-vector.svg"
                                            *ngIf="location.image == ''">
                                        <span class="name">{{location.name}}</span>
                                    </td>
                                    <td>
                                        <a><i class="material-icons default-icon" (click)="getEditLocation(location)"
                                                data-toggle="modal" data-target="#editLocation">create</i></a>
                                        <a (click)="getDelete(location.uid)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>
<!-- Create Modal -->
<div class="modal fade" id="newLocation" data-backdrop="static" role="dialog" aria-labelledby="newLocationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newLocationLabel">
                    <strong>{{"comp.locations.new_location" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">&times;</span>
                    </button>
                </h5>
            </div>
            <form [formGroup]="formValidation">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nameTitle">{{"global.name" | translate}}</label>
                        <input type="text" name="nameTitle" class="form-control"
                            placeholder='{{"global.placeholder_name" | translate}}'
                            [formControl]="formValidation.controls['name']">
                        <!-- msg error input name -->
                        <div class="alert alert-danger" role="alert" *ngIf="nameError == true">
                            <span>{{"global.required_name" | translate}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{"global.image" | translate}}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile"
                                (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .gif">
                            <label class="custom-file-label" for="customFile"
                                *ngIf="fileName == null">{{"global.select_file" | translate}}</label>
                            <label class="custom-file-label" for="customFile"
                                *ngIf="fileName !== null">{{fileName}}</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">{{"global.description" | translate}}</label>
                        <textarea name="description" class="form-control"
                            placeholder='{{"global.placeholder_description" | translate}}' rows="3"
                            [formControl]="formValidation.controls['description']"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom-cancel" data-dismiss="modal" (click)="clearForm()"
                        *ngIf="loaderBtn == false">{{"global.btn_cancel" | translate}}</button>
                    <button type="button" class="btn btn-custom" (click)="addLocation(formValidation.value)"
                        *ngIf="loaderBtn == false">{{"global.btn_add" | translate}}</button>
                    <div class="align-loader" *ngIf="loaderBtn == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editLocation" data-backdrop="static" role="dialog" aria-labelledby="editLocationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLocationLabel">
                    <strong>{{"comp.locations.edit_local" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>

            <form [formGroup]="formValidationEdit">
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{"global.identifier" | translate}}</label>
                        <input class="form-control" type="text"
                            [formControl]="formValidationEdit.controls['identifierEdit']"
                            placeholder='{{"global.identifier_plc" | translate}}' disabled />
                    </div>
                    <div class="form-group">
                        <label for="nameTitleEdit">{{"global.name" | translate}}</label>
                        <input type="text" name="nameTitleEdit" class="form-control"
                            placeholder='{{"global.placeholder_name" | translate}}'
                            [formControl]="formValidationEdit.controls['nameEdit']">
                        <!-- msg error input name -->
                        <div class="alert alert-danger" role="alert"
                            *ngIf="nameEdit.errors?.minlength || nameEdit.errors?.required">
                            <span *ngIf="nameEdit.errors?.minlength">{{"global.invalid_name" | translate}} <br></span>
                            <span *ngIf="nameEdit.errors?.required">{{"global.required_name" | translate}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{"global.image" | translate}}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile"
                                (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .gif">
                            <label class="custom-file-label" for="customFile"
                                *ngIf="fileName == null">{{"global.select_file" | translate}}</label>
                            <label class="custom-file-label" for="customFile"
                                *ngIf="fileName !== null">{{fileName}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descriptionEdit">{{"global.description" | translate}}</label>
                        <textarea name="descriptionEdit" class="form-control"
                            placeholder='{{"global.placeholder_description" | translate}}' rows="3"
                            [formControl]="formValidationEdit.controls['descriptionEdit']"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom-cancel" data-dismiss="modal"
                        *ngIf="loaderBtn == false">{{"global.btn_cancel" | translate}}</button>
                    <button type="button" class="btn btn-custom" (click)="editLocation(formValidationEdit.value)"
                        *ngIf="loaderBtn == false">{{"global.btn_save" | translate}}</button>
                    <div class="align-loader" *ngIf="loaderBtn == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Import Locations -->
<div class="modal fade" id="importModalLocation" tabindex="-1" role="dialog" aria-labelledby="importModalLocationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLocationLabel">
                    <strong>{{"global.btn_import" | translate}}</strong>
                    <button type="button" class="close" (click)="clearInputFile(); clearMessages();"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <p class="import-text text-center">
                    {{"comp.attendees.import_text_01" | translate}}
                </p>
                <p class="import-text text-center">
                    {{"global.modal_help" | translate}}
                    <br>
                    <button class="btn btn-custom-outline"
                        (click)="exportTemplate()">{{"global.btn_download" | translate}}</button>
                </p>
                <form>
                    <div class="form-group">
                        <div class="custom-file">
                            <input #inputFile type="file" class="custom-file-input" id="customFile"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                (change)="onFileChange($event)">
                            <label class="custom-file-label" for="customFile" *ngIf="nameFile == null">
                                {{"global.modal_placeholder" | translate}}</label>
                            <label class="custom-file-label" for="customFile"
                                *ngIf="nameFile !== null">{{nameFile}}</label>
                        </div>
                    </div>
                </form>

                <div class="alert alert-warning text-center" role="alert" *ngIf="errorImport == true">
                    {{"global.import_some_data_01" | translate}}
                    <br><br>
                    {{"global.import_some_data_02" | translate}}
                    <br><br>
                    <p class="import-text">
                        <button class="btn btn-custom-outline"
                            (click)="downloadImportError()">{{"global.btn_download" | translate}}</button>
                    </p>
                    <br>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="successImport == true">
                    {{"global.import_data_success" | translate}}

                    <br><br>

                    <span *ngIf="totalCreated > 0"> {{totalCreated}}
                        {{"comp.locations.created_locations" | translate}}
                    </span>
                    <br>
                    <span *ngIf="totalUpdated > 0"> {{totalUpdated}}
                        {{"comp.locations.updated_locations" | translate}}</span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errorCheckImport == true">
                    <div *ngFor="let msgError of messageErrors; let i = index">
                        {{msgError}}
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errorImport == true">
                    <span>{{totalFail}} {{"comp.locations.import_failed" | translate}}</span>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-custom-cancel" (click)="clearInputFile(); clearMessages();"
                        data-dismiss="modal" *ngIf="loaderImport == false">{{"global.btn_cancel" | translate}}</button>
                    &nbsp;
                    <button type="button" class="btn btn-custom" (click)="checkImport()"
                        *ngIf="loaderImport == false">{{"global.btn_import" | translate}}</button>
                    <div class="align-loader" *ngIf="loaderImport == true">
                        <div class="loader-default"></div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export Locations -->
<div class="modal fade" id="exportLoadingLocation" tabindex="-1" role="dialog"
    aria-labelledby="exportLoadingLocationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteLocation()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>