.main-background {
    background: #EFEFEF;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.cloud {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}