<section class="main-background">
  <div class="cloud">
    <angular-tag-cloud [data]="data" [overflow]="options.overflow" [zoomOnHover]="zoomOnHoverOptions"
      [randomizeAngle]="options.randomizeAngle">
    </angular-tag-cloud>
  </div>
</section>
