<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
      </ion-back-button>
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    <ion-title>
      <span>
          <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
          <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
          <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
          <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
          <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
      </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="allowButtonsHeader">
      <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
      <ion-button [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-center>
          <ion-icon class="icon-size" name="cloud-outline" [style.color]="menu_color"></ion-icon>
          <p class="default-title" *ngIf="wordTitle == null || wordTitle == undefined || wordTitle == ''"
            [style.color]="title_color">
            <strong>{{"pages.word_cloud.default_title" | translate}}</strong>
          </p>

          <p class="custom-title" [style.color]="title_color"><strong>{{wordTitle}}</strong></p>
          <p class="subtitle-cloud">{{wordSubtitle}}</p>
          <form [formGroup]="form">
            <ion-card class="custom-card" [style.background]="bg_content_color">
              <ion-card-content>
                <ion-list no-lines>
                  <ion-item>
                    <ion-textarea type="text" placeholder='{{"pages.word_cloud.type_word" | translate}}'
                      formControlName="wordAnswer">
                    </ion-textarea>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <div class="red-alert" *ngIf="wordRequired">
              <p class="red-alert-text">{{"pages.word_cloud.required_word" | translate}}
              </p>
            </div>

            <div class="warning-alert" *ngIf="wordMax">
              <p class="warning-alert-text">{{"pages.word_cloud.answer_max_char_txt" | translate}} &nbsp;
                <strong>{{wordMaxChars}}</strong> &nbsp;
                {{"pages.word_cloud.characters" | translate}}</p>
            </div>

            <ion-button type="submit" shape="round" class="btn-default btn-custom-shape ion-color" [style.background]="menu_color"
              [style.color]="menu_text_color" (click)="sendWord()" *ngIf="!loader">
              {{"global.buttons.comment" | translate}}</ion-button>
            <!-- <button [style.background]="menu_color" [style.color]="menu_text_color" class="btn-center"
              (click)="sendWord()">{{"global.buttons.comment" | translate}}</button> -->
          </form>
          <div class="align-loader-custom" *ngIf="loader">
            <div class="loader-default"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>