
// ion-title {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     text-transform: uppercase;
// }
.icon-size {
    font-size: 5em !important;
    opacity: 0.6;
}
.btn-center {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 1em;
    text-transform: uppercase;
}
.red-alert,
.warning-alert {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 8px;
}
.red-alert {
    background: #df4040c9;
}
.warning-alert {
    background: #dfcf40c9;
}
.red-alert-text {
    color: white;
}
.warning-alert-text {
    color: #000000;
}
.custom-title {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}
.subtitle {
    margin: 0;
    padding: 0;
}

.btn-custom-shape {
    border-radius: 15px !important;
}

.align-loader-custom {
    margin-top: 15px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 0 auto;
}