<section class="main-background">
    <div class="container custom-container">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <h2 class="header-title">{{"comp.ask_question.moderate_title" | translate}}</h2>
                <!-- <h4>{{sessionName}}</h4> -->
                <hr>
                <div class="buttons-top">
                    <button type="button" class="btn btn-no-bg" data-target="#" (click)="enableAll()"
                        data-toggle="tooltip" data-placement="bottom" title="{{'comp.questions.on_all' | translate}}">
                        <i class="material-icons icon-size true-icon">visibility</i>
                    </button>
                    <button type="button" class="btn btn-no-bg" data-target="#" (click)="disableAll()"
                        data-toggle="tooltip" data-placement="bottom" title="{{'comp.questions.off_all' | translate}}">
                        <i class="material-icons icon-size false-icon">visibility_off</i>
                    </button>
                    <br>
                    <br>
                    <div class="card" *ngIf="loader == false">
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>{{"global.title" | translate}}</th>
                                            <th>{{"global.manage" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="questions.length > 0">
                                        <tr *ngFor="let question of questions; let i = index">
                                            <td class="question-description">{{question.question}}</td>
                                            <td>
                                                <ui-switch color="#1FC94F" size='small'
                                                    *ngIf="question.visibility == true"
                                                    (change)="changeVisibility(question)" checked></ui-switch>
                                                <ui-switch color="#1FC94F" size='small'
                                                    *ngIf="question.visibility == false"
                                                    (change)="changeVisibility(question)"></ui-switch>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>