<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
      </ion-back-button>
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    <ion-title>
      <p>{{mapName}}</p>
    </ion-title>
    <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
      <ion-button [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="background" *ngIf="loader == true">
    <div class="align-loader">
      <div class="loader-default"></div>
    </div>
  </div>
  <div #map id="map"></div>
</ion-content>