.name-lenght {
  overflow: hidden;
  max-width: 700px;

  // max-width: 20ch;
}

.banner {
  display: block;
  max-width: 700px;
  margin: 10px auto !important;
  object-fit: contain;
  object-position: top;
  padding-bottom: 50px;

  // width: 100vw;
  // max-height: 100px;
}

.card-content {
  padding-top: 4px;
}

.full-card {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}
