<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>
        <ion-title *ngIf="!searchOpen">
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>
        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}' showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}' (ionCancel)="searchOpen=false" (keyup)="searchBar($event)">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="openQr()">
                <ion-icon name="qr-scanner"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-item *ngIf="enableChangeOrder" lines="none">
            <ion-label>{{"global.texts.filter" | translate}}</ion-label>
            <ion-select interface="action-sheet" placeholder="Select One" value="all" (ionChange)="changeOrder(event)" [cancelText]='cancelTxt' [(ngModel)]="typeOrder">
                <ion-select-option value="asc">{{"global.texts.a_z" | translate}}</ion-select-option>
                <ion-select-option value="desc">{{"global.texts.z_a" | translate}}</ion-select-option>
                <ion-select-option value="present">{{"pages.checkin.showed" | translate}}</ion-select-option>
                <ion-select-option value="away">{{"pages.checkin.away" | translate}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ion-grid>
            <ion-row>
                <ion-col size="5" text-center>
                    <h4 class="checkin-true-number">{{attendeesPresent}}</h4>
                    <p class="checkin-true-text">{{"pages.checkin.showed" | translate}}</p>
                </ion-col>
                <ion-col size="2" text-center>
                    <span class="hifen">-</span>
                </ion-col>
                <ion-col size="5" text-center>
                    <h4 class="checkin-false-number">{{attendeesAway}}</h4>
                    <p class="checkin-false-text">{{"pages.checkin.away" | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <br>
        <div *ngIf="!loader">
            <ion-virtual-scroll [items]="attendees" [headerFn]="attendeeHeader">
                <ion-item-divider class="ion-color" *virtualHeader="let header">
                    {{ header }}
                </ion-item-divider>
                <ion-item lines="none" class="ion-color" [style.background]="bg_content_color" *virtualItem="let attendee" (click)="confirmAttendeeChangeStatus(attendee)">
                    <ion-avatar slot="start">
                        <img [src]="attendee?.photoUrl" *ngIf="attendee.photoUrl !== ''">
                        <ngx-avatar name="{{attendee?.name}}" initialsSize="2" *ngIf="attendee?.photoUrl == ''" size="40">
                        </ngx-avatar>
                    </ion-avatar>

                    <ion-label>
                        <p class="name" [style.color]="title_color">{{attendee?.name}}</p>
                        <p class="job-info" [style.color]="text_content_color">
                            <span *ngIf="attendee?.title !== ''"> {{attendee?.principal_title}}</span><br>
                            <span *ngIf="attendee?.company !== ''"> {{attendee?.company}}</span>
                        </p>
                        <div class="checkin-status">
                            <ion-icon class="checkin-yes" name="ios-checkmark-circle" *ngIf="attendee.checkinStatus == true">
                            </ion-icon>
                            <ion-icon class="checkin-no" name="ios-close-circle" *ngIf="attendee.checkinStatus  == false"></ion-icon>
                        </div>
                    </ion-label>

                </ion-item>
            </ion-virtual-scroll>
        </div>
        <!-- await loading attendees list -->
        <div *ngIf="loader">
            <ion-item-divider>
                <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
            </ion-item-divider>
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-avatar slot="start">
                    <!-- <ion-skeleton-text></ion-skeleton-text> -->
                    <img src="../../../assets/images/grey.jpg">
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <h3>
                        <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
                    </h3>
                    <h3>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>