.checkin-status {
    position: absolute;
    top: 15px;
    right: 10px;
}

.checkin-no {
    color: #FD3F3F;
    font-size: 25px;
}

.checkin-yes {
    color: #A1F593;
    font-size: 25px;
}

.checkin-true-number,
.checkin-true-text,
.checkin-false-number,
.checkin-false-text {
    margin: 0 auto;
    padding: 0;
}

.checkin-true-number,
.checkin-false-number {
    font-size: 3em;
    font-weight: 600;
}

.checkin-true-text,
.checkin-false-text {
    font-size: 1.1em;
}

.checkin-true-number {
    color: #A1F593;
}

.checkin-false-number {
    color: #FD3F3F;
}

.hifen {
    font-size: 2.5em;
    font-weight: bold;
}