<div class="settings">
    <ng-container *ngIf="groupDiscussion$ | async as grp">
        <ion-list lines="none">
            <ng-container *ngIf="userId">
                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>
                            {{ 'pages.group_chat.notifications' | translate }}
                        </ion-label>
                    </ion-item-divider>

                    <ion-item>
                        <ion-toggle
                            [checked]="!isMuted(grp.mutedParticipants, userId)"
                            (ionChange)="onNotificationToggle($event)"
                        >
                        </ion-toggle>

                        <ion-label text-wrap>
                            {{ 'pages.group_chat.toggle' | translate }}
                        </ion-label>
                    </ion-item>
                </ion-item-group>
            </ng-container>

            <ion-item-group>
                <ion-item-divider>
                    <ion-label>
                        {{ 'pages.group_chat.group_info' | translate }}
                    </ion-label>
                </ion-item-divider>

                <ion-item [routerLink]="url" (click)="onDismiss()" detail>
                    <ion-label>
                        {{ 'pages.group_chat.display_group_info' | translate }}
                    </ion-label>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </ng-container>
</div>
