textarea {
    resize: none;
}

.event-name {
    font-weight: bold;
}

.event-email {
    font-weight: 400;
    font-size: .9em;
}

.event-description {
    margin-top: 10px;
    font-weight: 200;
    font-size: .8em;
}

.chip {
    margin-bottom: 2px;
}

.change-api-id {
    color: #1f8bc9;
}

.change-api-id-cancel {
    color: #c91f1f;
}

.change-api-id:hover, .change-api-id-cancel:hover{
    cursor: pointer;
}