<body>

    {{inputStartDate.dirty}}





    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"comp.new_event.event_name" | translate}}</label>
                                <input [formControl]="formValidation.controls['title']" #inputStartDate
                                    class="form-control" type="text">

                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                    *ngIf="formValidation.value.title.length <= 0">
                                    {{"global.required_field" | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label
                                    for="inlineFormInputGroup">{{"comp.new_event.event_shortcode" | translate}}</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">{{defaultAppUrl}}</div>
                                    </div>
                                    <input disabled [formControl]="formValidation.controls['shortcode']" type="text"
                                        class="form-control" id="inlineFormInputGroup">

                                    <div class="alert alert-danger red-text text-darken-3 left-align"
                                        *ngIf="formValidation.value.shortcode.length <= 0">
                                        {{"comp.new_event.shortcode_required" | translate}}
                                    </div>

                                    <div *ngIf="invalidShortcodeError"
                                        class="alert alert-danger red-text text-darken-3 left-align">
                                        {{"comp.new_event.invalid_shortcode_indb" | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"global.start_date" | translate}}</label>
                                <input [formControl]="formValidation.controls['startDate']" class="form-control"
                                    type="date">
                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                    *ngIf="formValidation.value.startDate.length <= 0">
                                    {{"global.required_field" | translate}}
                                </div>

                                <div class="alert alert-danger red-text text-darken-3 left-align" *ngIf="dateError">
                                    {{"comp.new_event.end_date_before_start" | translate}}
                                </div>

                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                    *ngIf="startDatePastError">
                                    {{"comp.new_event.date_invalid_format" | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"comp.new_event.end_date" | translate}}</label>
                                <input [formControl]="formValidation.controls['endDate']" class="form-control"
                                    type="date">

                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                    *ngIf="formValidation.value.endDate.length <= 0">
                                    {{"global.required_field" | translate}}
                                </div>

                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                    *ngIf="endDatePastError">
                                    {{"comp.new_event.date_invalid_format" | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"global.visibility" | translate}}</label>
                                <select [formControl]="formValidation.controls['visibility']" class="custom-select">
                                    <option [ngValue]="true">{{"global.public" | translate}}</option>
                                    <option [ngValue]="false">{{"global.private" | translate}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"comp.new_event.part_limit" | translate}}</label>
                                <input [formControl]="formValidation.controls['userLimit']" type="number"
                                    class="form-control" placeholder="Ex: 80" name="userLimit">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="galleryLimit">{{"global.gallery_max_size" | translate}}</label>
                            <select class="custom-select" id="galleryLimit" name="galleryLimit"
                                [formControl]="formValidation.controls['gallery_file_limit']">
                                <option value="1024000">1MB</option>
                                <option value="2048000">2MB</option>
                                <option value="3072000">3MB</option>
                                <option value="5120000">5MB</option>
                                <option value="10240000">10MB</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="documentsLimit">{{"global.documents_max_size" | translate}}</label>
                            <select class="custom-select" id="documentsLimit" name="documentsLimit"
                                [formControl]="formValidation.controls['documents_file_limit']">
                                <option value="1024000">1MB</option>
                                <option value="2048000">2MB</option>
                                <option value="3072000">3MB</option>
                                <option value="5120000">5MB</option>
                                <option value="10240000">10MB</option>
                            </select>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"global.allow_chat_use" | translate}}</label>
                                <select [formControl]="formValidation.controls['allowChatUse']" class="custom-select">
                                    <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                    <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"global.allow_broadcast_use" | translate}}</label>
                                <select [formControl]="formValidation.controls['allowBroadcastUse']"
                                    class="custom-select">
                                    <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                    <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{"global.allow_visio_use" | translate}}</label>
                                <select [formControl]="formValidation.controls['allowVisioUse']" class="custom-select">
                                    <option [value]="true">{{"global.enabled" | translate}}</option>
                                    <option [value]="false">{{"global.disabled" | translate}}</option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="formValidation.get('allowVisioUse').value == true" class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{"comp.attendees.allow_visio" | translate}}</label>
                                <select [formControl]="formValidation.controls['allowVisioUseFor2']"
                                    class="custom-select">
                                    <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                    <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-left">APP ID <small>({{"global.notifications" | translate}})</small>
                                </label>
                                <label class="float-right change-api-id" (click)="changeAppIdOneSignal()"
                                    *ngIf="!allowChangeAppIdOneSignal"><small>{{"global.change" | translate}}</small></label>
                                <label class="float-right change-api-id-cancel" (click)="changeAppIdOneSignal()"
                                    *ngIf="allowChangeAppIdOneSignal"><small>{{"global.btn_cancel" | translate}}</small></label>
                                <input [formControl]="formValidation.controls['notification_app_id']" type="text"
                                    class="form-control" placeholder="..." name="notification_app_id" disabled
                                    *ngIf="!allowChangeAppIdOneSignal">
                                <input [formControl]="formValidation.controls['notification_app_id']" type="text"
                                    class="form-control" placeholder="..." name="notification_app_id"
                                    *ngIf="allowChangeAppIdOneSignal">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-left">API ID <small>({{"global.notifications" | translate}})</small>
                                </label>
                                <label class="float-right change-api-id" (click)="changeApiId()"
                                    *ngIf="allowChangeApiId == false"><small>{{"global.change" | translate}}</small></label>
                                <label class="float-right change-api-id-cancel" (click)="changeApiId()"
                                    *ngIf="allowChangeApiId"><small>{{"global.btn_cancel" | translate}}</small></label>
                                <input [formControl]="formValidation.controls['notification_api_id']" type="text"
                                    class="form-control" placeholder="..." name="notification_api_id" disabled
                                    *ngIf="allowChangeApiId == false">
                                <input [formControl]="formValidation.controls['notification_api_id']" type="text"
                                    class="form-control" placeholder="..." name="notification_api_id"
                                    *ngIf="allowChangeApiId">
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"comp.new_event.select_the_modules" | translate}}</label>
                                <br>

                                <div *ngFor="let m of modulesAvailable">
                                    <div class="chip float-left" (click)="addModule(m)"
                                        *ngIf="m.selected == false; else selectedModule">
                                        <span *ngIf="userLanguage == 'pt_BR'">{{m.name.PtBR}}</span>
                                        <span *ngIf="userLanguage == 'en_US'">{{m.name.EnUS}}</span>
                                        <span *ngIf="userLanguage == 'es_ES'">{{m.name.EsES}}</span>
                                        <span *ngIf="userLanguage == 'fr_FR'">{{m.name.FrFR}}</span>
                                        <span *ngIf="userLanguage == 'de_DE'">{{m.name.DeDE}}</span>
                                    </div>
                                    <ng-template #selectedModule>
                                        <div class="chip selected-chip float-left">
                                            <span *ngIf="userLanguage == 'pt_BR'">{{m.name.PtBR}}</span>
                                            <span *ngIf="userLanguage == 'en_US'">{{m.name.EnUS}}</span>
                                            <span *ngIf="userLanguage == 'es_ES'">{{m.name.EsES}}</span>
                                            <span *ngIf="userLanguage == 'fr_FR'">{{m.name.FrFR}}</span>
                                            <span *ngIf="userLanguage == 'de_DE'">{{m.name.DeDE}}</span>
                                            <span class="closebtn" (click)="removeModule(m)">&times;</span>
                                        </div>
                                    </ng-template>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4">
            <div class="card">
                <div class="card-header text-center">
                    <span class="text-bold">{{"global.resume" | translate}}</span>
                </div>
                <div class="card-body text-center">

                    <h4 class="event-name">{{formValidation.value.title}}</h4>
                    <h6 class="event-email">{{formValidation.value.startDate}} - {{formValidation.value.endDate}}</h6>
                    <span class="event-description">
                        <a href="#">{{defaultAppUrl}}{{formValidation.value.shortcode}}</a>
                    </span>
                    <br>

                    <span *ngIf="formValidation.value.visibility"
                        class="event-description">{{"global.public" | translate}} -
                        {{formValidation.value.userLimit}} <span
                            class="lowercase">{{"global.attendees" | translate}}</span>
                        <br></span>

                    <span *ngIf="!formValidation.value.visibility"
                        class="event-description">{{"global.private" | translate}} -
                        {{formValidation.value.userLimit}} <span
                            class="lowercase">{{"global.attendees" | translate}}</span>
                        <br></span>

                    <br> <br>
                    <button type="submit" *ngIf="!loader" class="btn btn-secondary btn-center" (click)="updateEvent()"
                        [disabled]="!formValidation.valid || qtdModels <= 0">{{"global.update"
            | translate}}</button>

                    <br>
                    <div class="alert alert-danger red-text text-darken-3 left-align" *ngIf="updateEventError">
                        {{"global.update_failed" | translate}}
                    </div>

                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" (confirm)="redirectList()"
    [showCancelButton]="false">
</swal>