<!-- attendees -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="back-div">
                <a class="back-link" routerLink="/dash"><i class="material-icons">arrow_back</i> &nbsp; {{"global.btn_back"
          |
          translate}}</a>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"global.employees" | translate}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" routerLink="/dash/create-employee">{{"global.btn_new"
              |
              translate}}</button>
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>

                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <select [(ngModel)]="typeOrder" class="custom-select" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body--" *ngIf="loader == false">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="avatar">{{"global.user" | translate}}</th>
                                    <th class="text-center">{{"global.title" | translate}}</th>
                                    <th class="text-center">{{"global.company" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let employee of listEmployees | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

                                    <td class="avatar">
                                        <div class="round-img align-avatar-name">
                                            <ngx-avatar name="{{employee.name}}" size="45" initialsSize="2"
                                                *ngIf="employee.photoUrl == '' || employee.photoUrl == null || employee.url == null">
                                            </ngx-avatar>
                                            <img class="rounded-circle" src="{{employee.photoUrl}}" alt=""
                                                *ngIf="employee.photoUrl == '' && employee.photoUrl == null && employee.url == null">
                                            <span class="name">{{employee.name}} </span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span class="complement-info">{{employee.title}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="complement-info">{{employee.company}}</span>
                                    </td>
                                    <td>
                                        <a routerLink="/dash/edit-employee/{{employee.uid}}"><i
                                                class="material-icons default-icon">create</i></a>
                                        <!--<a routerLink="#"><i class="material-icons default-icon">lock</i></a>-->
                                        <a [swal]="deleteSwal" (click)="getEmployeeRemove(employee, i)"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>
<!-- /.attendees -->

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeEmployee()">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>