.name {
    margin-left: 8px;
}

.user-group {
    color: #ffffff;
}

.group-name {
    border-radius: 8px;
    padding: 3px;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
}

.color-blue {
    background: blue;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.back-div {
    width: 100%;
    display: flex;
    align-items: center;
}

.back-link {
    display: flex;
    align-items: center;
    color: #2F73A2;
}

.back-link:hover {
    color: #878787;
}