<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <span>{{"pages.feed_news.default_title" | translate}}</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ion-card class="custom-card mg-card custom-card" [style.background]="bg_content_color">
            <ion-card-header class="header-post-item">
                <ion-item *ngIf="post">
                    <!-- image of profile user -->
                    <ion-avatar *ngIf="post.creator.img.url !== ''">
                        <img src="{{post.creator.img.url}}">
                    </ion-avatar>

                    <ion-avatar *ngIf="post.creator.img.url === ''">
                        <ngx-avatar name="{{post.creator.name}}" initialsSize="2" size="40"></ngx-avatar>
                    </ion-avatar>

                    <ion-label class="ion-text-wrap">
                        <!-- name of user -->
                        <span *ngIf="post !== null" class="float-left name-post" [style.color]="title_color">{{post.creator.name}}</span>


                        <!-- more options for share and delete -->
                        <ion-icon class="float-right more-options-btn" slot="icon-only" name="more" [style.color]="text_content_color" (click)="moreOptions(post)"></ion-icon>

                        <!-- this icon informs to user if post is fixed-->
                        <span *ngIf="post !== null && post.fixedTop === 0" class="float-right">
              <div class="icon-fixed">
                <svg version="1.1" id="icon_fixed" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300"
                  style="enable-background:new 0 0 300 300;" xml:space="preserve">
                  <g>
                    <g>
                      <path class="st0" d="M150,0C67.2,0,0,67.2,0,150s67.2,150,150,150s150-67.2,150-150S232.8,0,150,0z M78.1,221.6l35.5-57.2
                                 c3,3.9,6.3,7.8,10.1,11.6c3.7,3.7,7.6,7.1,11.6,10.1L78.1,221.6z M218.6,128.1c-3.8,3.8-10.2,4.2-17.3,1.7l-19,19
                                 c9.6,15.5,11.8,30.7,4.4,38.1c-3,3-7.3,4.5-12.3,4.5c-9.3,0-21.2-4.9-32.8-13.6c-0.3-0.2-0.5-0.4-0.8-0.6c-0.8-0.6-1.6-1.3-2.5-2
                                 c-0.3-0.3-0.6-0.5-1-0.8c-0.8-0.7-1.6-1.3-2.3-2c-0.3-0.3-0.6-0.5-0.9-0.8c-1-1-2.1-2-3.1-3c-1.2-1.2-2.3-2.4-3.4-3.6
                                 c-0.7-0.7-1.3-1.5-1.9-2.2c-0.3-0.4-0.7-0.8-1.1-1.2c-0.8-1-1.6-2-2.4-3c-0.1-0.1-0.2-0.3-0.3-0.4c-13.5-17.9-17.9-36.6-9.3-45.2
                                 c3-3,7.3-4.5,12.3-4.5c7.4,0,16.5,3.1,25.8,8.8l19-19c-2.4-7.1-2-13.5,1.7-17.3c7.1-7.1,23.4-2.3,36.3,10.7
                                 C220.9,104.7,225.7,121,218.6,128.1z" />
                    </g>
                  </g>
                </svg>
              </div>
            </span>
                    </ion-label>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <!-- Post text description -->
                <p *ngIf="post !== null" class="post-description" [style.color]="text_content_color" [innerHTML]="post.description | safeHtml">
                </p>
                <!-- Post image: in openImage() pass the feed image url to use zoom -->
                <img *ngIf="post !== null" class="post-img" src="{{post.img.url}}" (click)="openImage(post.img.url)">

                <div class="divider"></div>
                <!-- Post likes -->
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <div class="align-texts-like">
                                <span *ngIf="post !== null && verifiesLikedPost(post) === true" class="normal-text" (click)="removeLike(post)">
                  <ion-icon name="thumbs-up" class="icon-like" [style.color]="menu_color"></ion-icon>&nbsp;
                  {{contLikes(post.likes)}} {{"pages.feed_news.likes" | translate}}
                </span>

                                <span *ngIf="post !== null && verifiesLikedPost(post) === false" class="normal-text" (click)="addLike(post)">
                  <ion-icon name="thumbs-up" class="icon-not-like"></ion-icon>&nbsp;
                  {{contLikes(post.likes)}} {{"pages.feed_news.likes" | translate}}
                </span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="divider"></div>

                <ion-item *ngFor="let comment of comments">
                    <ion-avatar>
                        <ngx-avatar *ngIf="comment.creator.img === ''" name="{{comment.creator.name}}" initialsSize="2" size="30">
                        </ngx-avatar>
                        <ion-img *ngIf="comment.creator.img !== ''" src="{{comment.creator.img}}"></ion-img>
                    </ion-avatar>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <span class="float-left name-post-comment">
                {{comment.creator.name}}
              </span>

                            <span *ngIf="post !== null && (post.creator.uid === userLoggedId || comment.creator.uid === userLoggedId)" (click)="deleteComment(comment)" class="float-right">
                <div class="icon-trash">
                  <ion-icon name="trash" class="color-trash"></ion-icon>
                </div>
              </span>
                        </ion-text>
                        <br>
                        <p [style.color]="text_content_color">{{comment.text}}</p>
                    </ion-label>
                </ion-item>
            </ion-card-content>
        </ion-card>
        <br>
    </div>
</ion-content>

<ion-footer no-border *ngIf="isComment === true">
    <div class="input-wrap">
        <ion-textarea #chatInput placeholder='{{"pages.feed_news.comments_plc" | translate}}' [(ngModel)]="textArea" (keyup.enter)="sendMsg()"></ion-textarea>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="createComment()" *ngIf="textArea !== '' && textArea !== null && textArea !== undefined">
                <ion-icon name="send" class="send-icon" [style.color]="menu_color"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
</ion-footer>