ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}

#textArea {
    width: 100%;
    height: auto;
}

.post-user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
}

.user-comment-picture {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
}

.date {
    font-size: 0.8em;
    font-weight: 300;
}

.post-description {
    margin-top: 6px;
    margin-bottom: 5px;
}

.img-post {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.divider {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.04);
}

.post-n-comment-div {
    margin-left: 17px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.delete-btn {
    float: right;
    padding-right: 10px;
}

.align-texts-like {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.align-texts-comment {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.normal-text {
    font-size: 1.1em;
}

.total-likes {
    margin-left: 8px;
}

.input-comment {
    resize: none;
}

.pos-btn-send {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-col-size {
    display: flex;
    align-items: center;
}

.btn-send-msg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-send {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more {
    text-align: center;
}

.icon-fixed {
    float: right;
}

#icon_fixed {
    width: 18px;
    height: 18px;
}

.st0 {
    fill: #808080;
}

.btn-attach-picture {
    font-size: 22px; // color: #000000;
}

.display-flex-align {
    display: flex;
    align-items: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left
}

.separator-vertical {
    width: 1px;
    height: 55%;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 6px;
}

#myImg {
    width: 45px;
    height: 45px;
    border-radius: 6px;
}

.description-input {
    padding-top: 10px;
    height: 45%;
    resize: none;
    background: #ffffff;
}

.text-input-ios {
    margin: 0 auto;
}

.text-input-md {
    margin: 0 auto;
}

.mg-card {
    margin-top: 4px;
}

.btn-default {
    padding: 8px;
    font-size: 1em;
    border-radius: 15px;
    min-width: 100%;
}

.name-post {
    margin-left: 8px;
}

.post-img {
    width: 100%;
    max-height: 60%;
    border-radius: 8px !important;
}

.txt-mg {
    margin-left: 10px;
}

.icon-like {
    font-size: 1.3em;
}

.icon-not-like {
    font-size: 1.3em;
    color: #d3d3d3
}

.icon-comment {
    margin-right: 3px;
    font-size: 1.3em;
}

.icon-trash {
    float: right;
}

.color-trash {
    color: #c91f1f
}

.input-wrap {
    padding: 5px;
    display: flex;

    textarea {
        flex: 1;
        border: 0;
        border-bottom: 1px rgba(0, 0, 0, 0.3);
        border-style: solid;
    }
}

.social-sharing {
    float: right;
    font-size: 1.2em;
}

.header-post-item {
    border: none !important;
    padding: 0 !important;
}

.more-options-btn {
    font-size: 1.4em;
}