<ion-content>
    <div class="background">
        <div class="padding-left-10 padding-top-20">
            <ion-button fill="clear" color="dark" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </div>
        <div class="logo padding-top-40">
            <img [src]="logoUrl" class="custom-logo"
                *ngIf="logoUrl !== '' && logoUrl !== undefined && logoUrl !== null">
        </div>
        <div *ngIf="normalView">
            <ion-grid class="ion-padding">
                <!-- <ion-row class="padding-top-20">
          <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
            <button class="btn-default btn-shaped ion-color fb-btn" (click)="signInWithFacebook()"
              [disabled]="activeLoader" *ngIf="event?.publicOptions.facebook_btn">
              <span *ngIf="!activeLoader"> <i
                  class="fab fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Continuar com
                  Facebook</strong></span>
              <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
            </button>
            <button class="btn-default btn-shaped ion-color twitter-btn" (click)="signInWithTwitter()"
              [disabled]="activeLoader" *ngIf="event?.publicOptions.twitter_btn">
              <span *ngIf="!activeLoader"> <i
                  class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Continuar
                  com
                  Twitter</strong></span>
              <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
            </button>
            <button class="btn-default btn-shaped ion-color google-btn" (click)="signInWithGoogle()"
              [disabled]="activeLoader" *ngIf="event?.publicOptions.google_btn">
              <span *ngIf="!activeLoader"> <img src="../../../assets/images/google.png"
                  class="btn-img">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Continuar
                  com
                  Google</strong></span>
              <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
            </button>
            <button class="btn-default btn-shaped ion-color microsoft-btn" (click)="signInWithMicrosoft()"
              [disabled]="activeLoader" *ngIf="event?.publicOptions.microsoft_btn">
              <span *ngIf="!activeLoader"> <i class="fab fa-microsoft"></i>&nbsp;&nbsp;&nbsp;<strong>Continuar
                  com
                  Microsoft</strong></span>
              <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
            </button>
            <button class="btn-default btn-shaped ion-color yahoo-btn" (click)="signInWithYahoo()"
              [disabled]="activeLoader" *ngIf="event?.publicOptions.yahoo_btn">
              <span *ngIf="!activeLoader"> <i
                  class="fab fa-yahoo"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Continuar
                  com
                  Yahoo</strong></span>
              <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
            </button>
          </ion-col>
        </ion-row> -->
                <ion-row class="padding-top-20">
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <h3 class="login-title">{{"pages.login.access_your_account" | translate}}</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <ion-label class="input-label-text">{{"pages.login.email" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="email"
                            placeholder='{{"pages.login.input_email_plc" | translate}}' [disabled]="emailDisabled"
                            [(ngModel)]="email" (keyup.enter)="verifyEmail()"></ion-input>

                        <p class="invalid-code"><br><br>{{msgEmail}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="insertPasswordView == true">
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <ion-label class="input-label-text">{{"pages.login.password" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="password" placeholder="******"
                            [(ngModel)]="password" (keyup.enter)="makeLogin()">
                        </ion-input>

                        <br> <a class="forgot-password" (click)="forgotPassword()">{{"pages.login.forgot_pass"
          |
          translate}}</a>
                        <p class="invalid-code">{{msgPassword}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="insertPasswordView == true">
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <div class="term-conditions">
                            <ion-checkbox color="primary" [(ngModel)]="termCheck" disabled *ngIf="termCheck">
                            </ion-checkbox>
                            <ion-checkbox color="primary" [(ngModel)]="termCheck" *ngIf="!termCheck"></ion-checkbox>
                            <ion-label class="space-condition">{{"pages.login.accept_term" | translate}}&nbsp;<a
                                    class="conditions-class" ion-button clear icon-only
                                    (click)="openTermsOfUseAndPrivacy('termsOfUse')">{{"pages.login.terms_of_use"
                      | translate}}</a>
                                {{"global.texts.and" | translate}}&nbsp;<a class="conditions-class" ion-button clear
                                    icon-only (click)="openTermsOfUseAndPrivacy('privacy')">{{"pages.login.privacy_txt"
                      | translate}}</a></ion-label>
                        </div>
                        <p class="invalid-code">{{msgTermRequired}}</p>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <button class="btn-default btn-shaped ion-color" [style.color]="menuTxtColor"
                            [style.background]="menuColor" (click)="verifyEmail()" *ngIf="insertPasswordView == false"
                            color="blue-default" [disabled]="activeLoader">
                            <span *ngIf="!activeLoader">{{"global.buttons.btn_verify" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </button>
                        <button class="btn-default btn-shaped ion-color" [style.color]="menuTxtColor"
                            [style.background]="menuColor" (click)="makeLogin()" *ngIf="insertPasswordView == true"
                            [disabled]="activeLoader" color="blue-default">
                            <span *ngIf="!activeLoader">{{"global.buttons.enter" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </button>
                        <div class="divider-default" *ngIf="insertPasswordView == false"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngIf="firstAccessView == true">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <p class="login-title">{{"pages.login.first_access_txt_01" | translate}}</p>
                        <p class="explanation-txt">{{"pages.login.first_access_txt_02" | translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-label class="input-label-text">{{"pages.login.verify_code" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="number" placeholder="238477"
                            pattern="[0-9]*" min="0" max="10" [(ngModel)]="codeNumberTyped"></ion-input>
                        <br><br> <br><span class="timer">{{"pages.login.remaining_time" | translate}}
                            {{timeRemaining}}</span>
                        <p class="invalid-code" *ngIf="msgCode !== null"><br><br>{{msgCode}}</p>
                        <p class="invalid-code" *ngIf="msgTimeRemaining !== null">{{msgTimeRemaining}}</p>
                        <ion-button class="btn-default" color="medium" shape="round" fill="outline" *ngIf="count == 0"
                            [disabled]="activeLoader2" (click)="createCodeNumber(); activeLoader2=true">
                            <span *ngIf="!activeLoader2">{{"pages.login.resend_code" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader2"></ion-spinner>
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-button shape="round" class="btn-default" (click)="verifyCodeNumber()" color="blue-default"
                            [disabled]="activeLoader">
                            <span *ngIf="!activeLoader">{{"global.buttons.btn_verify" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngIf="createPassView == true">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <p class="login-title">{{"pages.login.great_title" | translate}}</p>
                        <p class="explanation-txt">{{"pages.login.make_pass_txt" | translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-label class="input-label-text">{{"pages.login.new_pass" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="password" placeholder="******"
                            [(ngModel)]="createPass"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-label class="input-label-text">{{"pages.login.confirm_new_pass" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="password" placeholder="******"
                            [(ngModel)]="confirmPass"></ion-input>
                        <p class="invalid-code" *ngIf="msgPassword !== null"><br><br>{{msgPassword}}</p>
                        <p class="invalid-code" *ngIf="msgCreateAccount !== null"><br><br>{{msgCreateAccount}}</p>
                        <p class="invalid-code" *ngIf="msgEmailAlreadyUse !== null"><br><br>{{msgEmailAlreadyUse}}
                            <br>
                            <a class="forgot-password" (click)="forgotPassword()">{{"pages.login.forgot_pass"
                |
                translate}}</a>
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <div class="term-conditions">
                            <ion-checkbox color="primary" [(ngModel)]="termCheck" disabled *ngIf="termCheck">
                            </ion-checkbox>
                            <ion-checkbox color="primary" [(ngModel)]="termCheck" *ngIf="!termCheck"></ion-checkbox>
                            <ion-label class="space-condition">{{"pages.login.accept_term" | translate}}&nbsp;<a
                                    class="conditions-class" ion-button clear icon-only
                                    (click)="openTermsOfUseAndPrivacy('termsOfUse')">{{"pages.login.terms_of_use"
                      | translate}}</a>
                                {{"global.texts.and" | translate}}&nbsp;<a class="conditions-class" ion-button clear
                                    icon-only (click)="openTermsOfUseAndPrivacy('privacy')">{{"pages.login.privacy_txt"
                      | translate}}</a></ion-label>
                        </div>
                        <p class="invalid-code">{{msgTermRequired}}</p>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-button shape="round" class="btn-default" (click)="createAccount()" color="blue-default"
                            [disabled]="activeLoader">
                            <span *ngIf="!activeLoader">{{"pages.login.btn_make_pass" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>