<ion-button slot="icon-only" id="chatBtn" routerLink="/event/{{eventId}}/chat-history" *ngIf="allowChat == true">
  <ion-icon name="chatbubbles" [style.color]="menu_text_color"></ion-icon>
  <ion-badge color="danger" id="chat-badge" *ngIf="chatBadge >= 1">{{chatBadge}}</ion-badge>
</ion-button>
<ion-button slot="icon-only" id="notifyBtn" (click)="openNotifications()">
  <ion-icon name="notifications" [style.color]="menu_text_color"></ion-icon>
  <ion-badge color="danger" id="notify-badge" *ngIf="notificationBadge >= 1">
    {{notificationBadge}}</ion-badge>
</ion-button>