#notifyBtn,
#chatBtn {
    position: relative;
}

#notify-badge,
#chat-badge,
#menu-badge-ctrl {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
}

.menu-badges-align {
    width: 100%;
    height: 100%;
}

ion-icon {
    font-size: 1.2em;
}