.no-avatar-align {
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}

.user-name {
    text-align: center;
    font-weight: 800;
}

.last-checkins-title {
    margin-left: 15px;
}

.btn-default {
    border-radius: 15px;
    background: transparent;
    border: 1px solid;
}