<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="openQr()">
                <ion-icon name="qr-scanner"></ion-icon>
            </ion-button>
            <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
        </ion-buttons>

        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <br>
        <div *ngIf="attendee !== null">
            <div class="no-avatar-align">
                <ngx-avatar name="{{attendee.name}}" initialsSize="2" *ngIf="attendee.photoUrl == ''" size="100">
                </ngx-avatar>
            </div>
            <img [src]="attendee.photoUrl" class="profile-picture" (click)="openImage(photoUrl)"
                *ngIf="attendee.photoUrl !== ''">
            <h3 class="user-name">{{attendee.name}}</h3>
        </div>

        <ion-button shape="round" class="btn-default ion-color" [style.border-color]="menu_color"
            [style.color]="menu_color" (click)="openQr()" *ngIf="!isDegrade">
            <ion-icon name="qr-scanner"></ion-icon> &nbsp; {{"global.texts.read_qrcode" | translate}}
        </ion-button>
        <ion-button shape="round" class="btn-default ion-color" [style.border-color]="btn_color1"
            [style.color]="btn_color1" (click)="openQr()" *ngIf="isDegrade">
            <ion-icon name="qr-scanner"></ion-icon> &nbsp; {{"global.texts.read_qrcode" | translate}}
        </ion-button>

        <div class="last-checkins" *ngIf="lastCheckins !== null">
            <br><br>
            <h5 class="last-checkins-title">{{"pages.checkin.last_checkins" | translate}}</h5>
            <ion-item *ngFor="let checkin of lastCheckins">
                <label class="ion-text-wrap">{{checkin?.name}}</label>
            </ion-item>
        </div>
    </div>
</ion-content>