<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title>
            <p *ngIf="global?.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global?.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global?.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global?.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global?.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <pinch-zoom>
        <div class="background" padding>
            <ng-container *ngIf="!loader">
                <div [innerHTML]="htmlContent?.PtBR | safeHtml" *ngIf="global?.language == 'pt_BR'"></div>
                <div [innerHTML]="htmlContent?.EnUS | safeHtml" *ngIf="global?.language == 'en_US'"></div>
                <div [innerHTML]="htmlContent?.EsES | safeHtml" *ngIf="global?.language == 'es_ES'"></div>
                <div [innerHTML]="htmlContent?.FrFR | safeHtml" *ngIf="global?.language == 'fr_FR'"></div>
                <div [innerHTML]="htmlContent?.DeDE | safeHtml" *ngIf="global?.language == 'de_DE'"></div>
            </ng-container>

            <div class="align-loader" *ngIf="loader">
                <div class="loader-default"></div>
            </div>
        </div>
    </pinch-zoom>
</ion-content>