<!-- attendees -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- display the module name according to the user's language. -->
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default"
                            routerLink="/event/{{eventId}}/create-schedule/{{moduleId}}">{{"global.btn_new"
              |
              translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#tracksModal" data-backdrop="static" data-keyboard="false"
                            *ngIf="scheduleModule">{{scheduleModule.trackName[userLanguageFormated]}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#importModal">{{"global.btn_import"
              |
              translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            (click)="exportAllSessions()">{{"global.btn_export"
              |
              translate}}</button>

                        <button class="btn btn-custom-settings" data-toggle="modal" data-placement="bottom"
                            data-target="#settingsModal">
                            <i class="material-icons icon-settings"
                                title='{{"global.configs" | translate}}'>settings</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-7">

                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input class="form-check-input" type="checkbox" value="" id="selectAll"
                                    (change)="updateAllCheckedSessions($event)">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label> &nbsp;
                            </div>

                            <button [swal]="removeSelectedSwal" class="btn btn-custom-no-bg btn-outline-delete">{{"global.delete_selecteds"
                | translate}}</button>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="avatar">{{"global.session" | translate}}</th>
                                    <th class="text-center">{{"global.hour" | translate}}</th>
                                    <th class="text-center">{{"global.location" | translate}}</th>
                                    <th class="text-center" *ngIf="scheduleModule">
                                        <div class="btn-group">
                                            <span class="btn-drop-custom dropdown-toggle btn-drop-track"
                                                data-toggle="dropdown">
                                                <span
                                                    class="normal-txt">{{scheduleModule.trackName[userLanguageFormated]}}</span>
                                                <span class="caret"></span>
                                            </span>
                                            <ul id="dropdown-menu-2" class="dropdown-menu drop-track" role="menu">
                                                <form>
                                                    <li class="">
                                                        <select class="selectpicker custom-select" name="trackFilter"
                                                            (change)="filterSessionTrack()" [(ngModel)]="trackFilter">
                                                            <option value="all" selected>
                                                                {{ "global.select_all" | translate }}</option>
                                                            <option *ngFor="let track of tracks; let i = index"
                                                                value="{{track.uid}}">
                                                                {{track.name[userLanguageFormated]}}
                                                            </option>
                                                        </select>
                                                    </li>
                                                </form>
                                            </ul>
                                        </div>
                                    </th>
                                    <th class="text-center">{{"global.speakers" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- *ngFor="let attendee of listAttendees | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"> -->
                                <tr *ngFor="let session of sessions | filterSessions: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                                    class="avatar">
                                    <td>
                                        <div class="round-img align-avatar-name">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="session"
                                                    id="selectSessions"
                                                    [checked]="sessionsChecked.indexOf(session) >= 0"
                                                    (change)="updateCheckedSession(session, $event)">
                                                <span *ngIf="userLanguage && eventLanguage" class="name">
                                                    {{session | getNameSession: [userLanguage, eventLanguage]}}</span>
                                                <br>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <span class="complement-info">{{session.date}} - {{session.startTime}}
                                            {{session.endTime}}</span>
                                    </td>

                                    <td class="text-center">
                                        <!-- <span class="complement-info">{{session.locations}}</span> -->
                                        <span *ngFor="let location of session.locations"
                                            class="complement-info">{{location.name}} </span>
                                    </td>

                                    <td>
                                        <div class="align-tracks">
                                            <span class=" track-name-mini"
                                                *ngFor="let track of session.tracks; let i = index"
                                                [style.color]="track.txtColor"
                                                [style.background]="track.bgColor">{{track.name[principalEventLangFormated]}}
                                            </span>
                                        </div>

                                    </td>
                                    <!-- <td class="text-center">
                    <div class="align-groups">
                      <div class="group-circle color-blue" data-toggle="tooltip" data-placement="bottom" title="Group A"></div>
                      <div class="group-circle color-red" data-toggle="tooltip" data-placement="bottom" title="Group B"></div>
                    </div>
                  </td> -->

                                    <td class="text-center">
                                        <span *ngFor="let speaker of session.speakers"
                                            class="complement-info">{{speaker.name}} </span>
                                    </td>

                                    <td>
                                        <a routerLink="/event/{{eventId}}/edit-schedule/{{moduleId}}/{{session.uid}}"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title='{{"global.btn_edit" | translate}}'><i
                                                class="material-icons default-icon">create</i></a>
                                        <a (click)="setSessionRemove(session)" [swal]="deleteSwal" data-toggle="tooltip"
                                            data-placement="bottom" title='{{"global.btn_delete" | translate}}'><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- /.table-stats -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
</div>

<div *ngIf="loader" class="align-loader">
    <div class="loader-default"></div>
</div>

<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>
<!-- /.attendees -->

<!-- IMPORT MODAL -->

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel"><strong>{{"global.btn_import" | translate}}</strong>
                    <button type="button" class="close" (click)="clearInputFile(); clearMessages();"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>

            <div class="modal-body text-center">
                <div class="container">
                    <!-- *ngIf="theError == false && theErrorApi == false && theErrorApiDb == false && successMsg == false"> -->
                    <p class="import-text">
                        {{"comp.schedule.import_text_01" | translate}}
                    </p>
                    <p class="import-text">
                        {{"global.modal_help" | translate}}
                        <br>
                        <button class="btn btn-custom-outline"
                            (click)="exportTemplate()">{{"global.btn_download" | translate}}</button>
                    </p>
                    <p class="import-text">
                        <strong>*</strong> {{"comp.schedule.import_text_02" | translate}}
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <div class="custom-file">
                            <input #inputFile type="file" class="custom-file-input" id="customFile"
                                (change)="onFileChange($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label class="custom-file-label" for="customFile" *ngIf="nameFile == null">
                                {{"global.modal_placeholder" | translate}}</label>
                            <label class="custom-file-label" for="customFile"
                                *ngIf="nameFile !== null">{{nameFile}}</label>
                        </div>
                    </div>
                </form>
                <div class="container" *ngIf="theErrorApi == true && theError == false && theErrorApiDb == false">
                    <div class="alert alert-warning" role="alert">
                        {{"global.import_some_data_01" | translate}}
                        <br><br> {{"global.import_some_data_02" | translate}}
                        <br><br>
                        <p class="import-text">
                            <button class="btn btn-custom-outline" (click)="downloadSessionsImportError()">{{"global.btn_download" |
                translate}}</button>
                        </p>
                        <br>
                        <div *ngFor="let msgError of messageErros; let i = index">
                            {{msgError}}
                        </div>
                    </div>


                    <br>
                    <div class="alert alert-danger" role="alert" *ngFor="let message of messageErrors; let i = index;">
                        {{message}}
                    </div>
                </div>
                <div class="container" *ngIf="invalidFormatSheetMsg !== null">
                    <div class="alert alert-danger" role="alert">
                        {{invalidFormatSheetMsg}}
                    </div>
                </div>
                <div class="container" *ngIf="theError == true && theErrorApi == false && theErrorApiDb == false">
                    <p class="import-text" role="alert">
                        {{"global.import_some_data_03" | translate}}
                    </p>

                    <div class="alert alert-danger" role="alert" *ngFor="let message of messageErrors; let i = index;">
                        {{message}}
                    </div>
                </div>

                <div class="container" *ngIf="theErrorApiDb == true && theError == false && theErrorApi == false">
                    <div class="alert alert-danger" role="alert">
                        {{"global.import_some_data_04" | translate}}
                    </div>
                </div>

                <div class="container" *ngIf="successMsg == true">
                    <div class="alert alert-success" role="alert">
                        {{"global.import_data_success" | translate}}
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-custom-cancel" (click)="clearInputFile(); clearMessages();"
                    data-dismiss="modal" *ngIf="loaderImport == false">{{"global.btn_cancel" | translate}}</button>
                &nbsp;
                <button type="button" class="btn btn-custom" (click)="checkImport()" *ngIf="loaderImport == false">{{"global.btn_import"
          | translate}}</button>

                <div class="align-loader" *ngIf="loaderImport == true">
                    <div class="loader-default"></div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>




<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeSession()">
</swal>

<!-- modal delete confirm remove selected sessions -->
<swal #removeSelectedSwal title='{{"global.modals.delete" | translate}}'
    text='{{"global.modals.delete_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="onDeleteAll()">
</swal>

<!-- Modal Export Attendees -->
<div class="modal fade" id="exportLoading" tabindex="-1" role="dialog" aria-labelledby="exportLoadingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tracks -->
<div class="modal fade" id="tracksModal" tabindex="-1" role="dialog" aria-labelledby="tracksModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tracksModalLabel"><strong>{{"global.tracks" | translate}}</strong>
                    <button type="button" class="close" (click)="clearTrackInputs()" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <ul class="nav nav-tabs" id="myTabTracks" role="tablist">
                <li class="nav-item" *ngIf="languages?.PtBR">
                    <a class="nav-link {{event.language == 'pt_BR' ? 'active' : ''}}" id="track-ptbr-tab"
                        data-toggle="tab" role="tab" aria-selected="false"
                        (click)="activeTrackLanguage='PtBR'">{{"comp.event_info.portuguese" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.EnUS">
                    <a class="nav-link {{event.language == 'en_US' ? 'active' : ''}}" id="track-enus-tab"
                        data-toggle="tab" role="tab" aria-selected="false"
                        (click)="activeTrackLanguage='EnUS'">{{"comp.event_info.english" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.EsES">
                    <a class="nav-link {{event.language == 'es_ES' ? 'active' : ''}}" id="track-eses-tab"
                        data-toggle="tab" role="tab" aria-selected="false"
                        (click)="activeTrackLanguage='PtBR'">{{"comp.event_info.spanish" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.FrFR">
                    <a class="nav-link {{event.language == 'fr_FR' ? 'active' : ''}}" id="track-frfr-tab"
                        data-toggle="tab" role="tab" aria-selected="false"
                        (click)="activeTrackLanguage='FrFR'">{{"comp.event_info.french" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.DeDE">
                    <a class="nav-link {{event.language == 'de_DE' ? 'active' : ''}}" id="custom-field-dede-tab"
                        data-toggle="tab" role="tab" aria-selected="false"
                        (click)="activeTrackLanguage='DeDE'">{{"comp.event_info.german" | translate}}</a>
                </li>
            </ul>
            <div class="modal-body">
                <div class="form-group">
                    <label>{{"comp.schedule.rename_button" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="newTrackName[activeTrackLanguage]"
                        placeholder='{{"global.placeholder_name" | translate}}'>
                    <div class="alert alert-danger" role="alert" *ngIf="blankTrackName">
                        {{"comp.schedule.track_name_blank_principal_lang" | translate}}
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="renameTrackError">
                    {{"comp.schedule.rename_track_error" | translate}}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="renameTrackOk">
                    {{"comp.schedule.rename_track_ok" | translate}}
                </div>
                <button class="btn btn-custom float-right"
                    (click)="renameTrack()">{{"global.btn_save" | translate}}</button>
                <br>
                <hr>

                <div class="text-center">
                    <span class="text-track-import container">{{"global.import_export_data" | translate}}</span>
                    <br><br>
                    <div class="form-group">
                        <div class="custom-file">
                            <input #inputFileTrack type="file" class="custom-file-input" id="customFileTrack"
                                (change)="getTrackFile($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label class="custom-file-label" for="customFileTrack" *ngIf="nameFile == null">
                                {{"global.modal_placeholder" | translate}}</label>
                            <label class="custom-file-label" for="customFileTrack"
                                *ngIf="nameFile !== null">{{nameFile}}</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-custom btn-margin-right-default" (click)="ExportTracks()"
                        *ngIf="loaderImportTrack == false">{{"global.btn_export" | translate}}</button>
                    <button type="button" class="btn btn-custom btn-margin-right-default" (click)="checkTracks()"
                        *ngIf="loaderImportTrack == false">{{"global.btn_import" | translate}}</button>
                    <div class="align-loader" *ngIf="loaderImportTrack == true">
                        <div class="loader-default"></div>
                    </div>
                    <div class="errors-track" *ngIf="messageErrors?.length >= 1">
                        <br />
                        <div class="alert alert-danger" *ngFor="let errorMsg of messageErrors">
                            <span>{{errorMsg}}</span>
                        </div>
                    </div>
                    <div class="errors-track" *ngIf="invalidFormatSheetTrackMsg !== null">
                        <br />
                        <div class="alert alert-danger" role="alert">{{invalidFormatSheetTrackMsg}}</div>
                    </div>
                    <div *ngIf="theErrorTrack">
                        <br>
                        <div class="alert alert-danger">
                            <span *ngFor="let error of messageErrors">{{error}} <br></span>
                        </div>
                    </div>
                    <div *ngIf="successMsgTrack">
                        <br>
                        <div class="alert alert-success">
                            <span>{{"global.import_data_success" | translate}}</span>
                            <br><br>

                            <span *ngIf="importTrackCreated > 0"> {{importTrackCreated}}
                                {{"comp.schedule.tracks_created" | translate}}
                            </span>
                            <br>
                            <span *ngIf="importTrackUpdated > 0"> {{importTrackUpdated}}
                                {{"comp.schedule.tracks_updated" | translate}}</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>{{"global.identifier" | translate}}</label>
                    <input class="form-control" [(ngModel)]="trackIdentifier" type="text" *ngIf="!editTrackView"
                        placeholder='{{"global.identifier_plc" | translate}}' />
                    <input class="form-control" [(ngModel)]="trackIdentifier" type="text" *ngIf="editTrackView"
                        disabled="true" placeholder='{{"global.identifier_plc" | translate}}' />
                    <div class="alert alert-danger" role="alert" *ngIf="trackIdentifierDouble">
                        {{"global.identifier_double" | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" [(ngModel)]="trackName[activeTrackLanguage]" type="text"
                        placeholder='{{"global.placeholder_name" | translate}}' />
                </div>
                <div class="form-group">
                    <label>{{"global.bg_color" | translate}}</label>
                    <input class="form-control" [(ngModel)]="nTrackBgColor" [(colorPicker)]="nTrackBgColor"
                        cpPosition="top" [value]="nTrackBgColor" />
                </div>
                <div class="form-group">
                    <label>{{"global.text_color" | translate}}</label>
                    <input class="form-control" [(ngModel)]="nTrackTxtColor" [(colorPicker)]="nTrackTxtColor"
                        cpPosition="top" [value]="nTrackTxtColor" />
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="trackErrorMsg">
                    {{"global.fill_all_fields" | translate}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="trackNameLength">
                    {{"global.name_min_1_character" | translate}}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="trackEditSuccess">
                    {{"global.data_success" | translate}}
                </div>
                <!-- (click)="createTrack()" -->
                <button class="btn btn-custom float-right" (click)="createTrack()"
                    *ngIf="newTrackLoader == false && editTrackView == false">{{"global.btn_add" | translate}}
                </button>
                <button class="btn btn-custom float-right" (click)="editTrack()"
                    *ngIf="newTrackLoader == false && editTrackView == true">{{"global.btn_save" | translate}}
                </button>
                <div class="align-loader" *ngIf="newTrackLoader == true">
                    <div class="loader-default"></div>
                </div>
                <div class="form-group">
                    <br>
                    <hr>
                    <ng-container *ngFor="let track of tracks; let i = index">
                        <span class="track-name" [style.color]="track.txtColor"
                            [style.background]="track.bgColor">{{track.name[userLanguageFormated]}}
                            &nbsp;<i class="material-icons edit-icon" (click)="getEditTrack(track.uid, i)">create</i>
                            <i class="material-icons remove-icon" [swal]="deleteSwalTrack"
                                (click)="getTrackDelete(track.uid, i)">close</i>
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<!-- modal delete track confirm -->
<swal #deleteSwalTrack title='{{"global.modals.delete" | translate}}'
    text='{{"global.modals.delete_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteTrack()">
</swal>

<!-- Modal Settings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel"><strong>{{"global.modal_configs" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="moduleSettings-tab" data-toggle="tab" href="#moduleSettings"
                            role="tab" aria-controls="moduleSettings"
                            aria-selected="true">{{"global.configs" | translate}}</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="moduleSettings" role="tabpanel"
                        aria-labelledby="moduleSettings-tab">
                        <br>
                        <span>
                            <strong>
                                {{"comp.schedule.enable_calendar" | translate}}
                            </strong>

                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="changeEnablePersonalSchedule()" *ngIf="habiliedPersonal === true" checked>
                            </ui-switch>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="changeEnablePersonalSchedule()" *ngIf="habiliedPersonal  === false">
                            </ui-switch>
                        </span>
                        <br><br>

                        <span>
                            <strong>
                                {{"comp.schedule.enable_limit" | translate}}
                            </strong>

                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}' (change)="changeEnableLimitSchedule()"
                                *ngIf="habilitedLimit === true" checked>
                            </ui-switch>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}' (change)="changeEnableLimitSchedule()"
                                *ngIf="habilitedLimit === false">
                            </ui-switch>
                        </span>
                        <br><br>

                        <!-- Next or prev session button config -->
                        <span>
                            <strong>
                                {{"comp.schedule.allow-next-prev-btn" | translate}}
                            </strong>

                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                [(ngModel)]="allowNextPrevBtn" checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="changeAllowNextPrevBtn()">
                            </ui-switch>
                        </span>
                        <br><br>

                        <!-- Visio configuration -->
                        <span *ngIf="allowVisioSetting">
                            <strong>
                                {{"comp.schedule.allow_visio" | translate}}
                            </strong>

                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                [(ngModel)]="allowVisioUse" checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="changeAllowVisioSchedule()">
                            </ui-switch>
                            <br><br>
                        </span>

                        <!-- Orators name field -->
                        <span>
                            <strong>
                                {{"comp.schedule.modify_orators_field" | translate}}
                            </strong>

                            <br>
                            <input style="max-width: 50%;" type="text" class="form-control" [(ngModel)]="oratorsField"
                                (change)="oratorsFieldChanged()" />
                            <br><br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>