.track-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin-right: 3px;
    margin-bottom: 4px;
}

.track-name-mini {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.5em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin-right: 2px;
}

.align-tracks {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.align-groups {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.group-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 1px;
}

.color-blue {
    background: #4f9bce;
}

.color-red {
    background: red;
    color: #4f9bce;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.remove-icon,
.edit-icon {
    cursor: pointer;
    font-size: 14px;
}

.remove-icon:hover {
    color: #c91f1f;
}

.normal-txt {
    font-weight: 200 !important;
}

.btn-drop-custom {
    background: transparent;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em !important;
    cursor: pointer;
}

.btn-drop-custom:focus {
    outline: none !important;
}

.dropdown-menu {
    background: transparent !important;
    border: none !important;
}

#dropdown-menu-2 {
    padding: 8px;
}

.text-track-import {
    color: rgba(0, 0, 0, 0.5);
}
