.align-content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    max-width: 40vw;
    max-height: 40vh;
}

// loader
.loader-splash {
    width: 45px;
    height: 45px;
    display: inline-flex;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: #2F73A2;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-left-color: #639EBC;
    border-right-color: rgba(255, 255, 255, 0.3);
    -webkit-animation: loader-splash 1s ease-in-out infinite;
    animation: loader-splash 1s ease-in-out infinite;
}

.align-loader-custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@keyframes loader-splash {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-splash {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}