<!-- Clients -->
<div class="orders">
    <div class="row justify-content-end">
        <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <select [(ngModel)]="typeOrder" class="custom-select" id="select-left" (change)="changeOrder()">
                    <option value="asc">{{"global.a_z" | translate}}</option>
                    <option value="desc">{{"global.z_a" | translate}}</option>
                    <option value="recent">{{"global.latest" | translate}}</option>
                    <option value="oldest">{{"global.oldest" | translate}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="pipe-filter float-right">
                <div class="input-group md-3">
                    <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                        placeholder='{{"global.search_plc" | translate}}'>

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="material-icons search-icon">search</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"comp.adm_dashboard.clients" | translate}}</h4>
                    <button class="btn btn-secondary float-right" routerLink="/dashboard/client/create">{{"global.btn_new" |
            translate}}</button>
                </div>
                <div class="card-body--" *ngIf="loader == false">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="avatar">{{"global.user" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let user of listUsers | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td class="avatar">
                                        <div class="round-img align-avatar-name">
                                            <ngx-avatar name="{{user.name}}" *ngIf="user.photoUrl == ''"></ngx-avatar>
                                            <img class="rounded-circle" src="../../../assets/images/no-avatar.svg"
                                                alt="" *ngIf="user.photoUrl !== ''">
                                            <span class="name">{{user.name}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <a routerLink="/dashboard/client/edit/{{user.uid}}"><i
                                                class="material-icons default-icon">create</i></a>
                                        <a [swal]="deleteSwal" (click)="getUserRemove(user.uid, i)"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>
<!-- /.clients -->

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeUser()">
</swal>