<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!searchOpen">
      <span>{{"pages.chat.new_chat" | translate}}</span>
    </ion-title>
    <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}' showCancelButton="true"
      cancelButtonText='{{"global.buttons.cancel" | translate}}' (ionCancel)="searchOpen=false"
      (keyup)="searchBar($event)">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div *ngIf="attendees.length >= 1 && loader == false">
      <ion-virtual-scroll [items]="attendees" [headerFn]="attendeeHeader">
        <ion-item-divider *virtualHeader="let header">
          {{ header }}
        </ion-item-divider>
        <ion-item detail lines="none" *virtualItem="let attendee" class="ion-color"
          [style.background]="bg_content_color" (click)="close(attendee.uid)">
          <ion-avatar slot="start">
            <ion-img [src]="attendee?.photoUrl" *ngIf="attendee.photoUrl !== ''" cache=true></ion-img>
            <ngx-avatar name="{{attendee?.name}}" initialsSize="2" *ngIf="attendee?.photoUrl == ''" size="40">
            </ngx-avatar>
          </ion-avatar>

          <ion-label>
            <p class="name" [style.color]="title_color">{{attendee?.name}}</p>
            <span class="job-info" [style.color]="text_content_color" *ngIf="attendee?.principal_title !== ''">
              {{attendee?.principal_title}}</span><br>
            <span class="job-info" [style.color]="text_content_color" *ngIf="attendee?.company !== ''">
              {{attendee?.company}}</span>
          </ion-label>

        </ion-item>
      </ion-virtual-scroll>
    </div>
    <!-- await loading attendees list -->
    <div *ngIf="loader">
      <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <ion-avatar slot="start">
          <!-- <ion-skeleton-text></ion-skeleton-text> -->
          <img src="../../../assets/images/grey.jpg">
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <h3>
            <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          </h3>
          <h3>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>