textarea {
  resize: none;
}

.user-name {
  font-weight: bold;
}

.user-email {
  font-weight: 400;
  font-size: .9em;
}

.user-description {
  margin-top: 10px;
  font-weight: 200;
  font-size: .8em;
}

.div-100 {
  width: 100%;
}

.card-header-collapse {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .08)
}

.btn-collapse {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.6);
}

.avatar-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.avatar-size {
  width: 80px;
  height: 80px;
}

li {
  list-style: none;
}

.group-name {
  border-radius: 8px;
  padding: 4px;
  font-weight: 300;
  font-size: 0.7em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: max-content;
  float: left;
  margin: 2px;
}

.chip-doc {
  display: inline-flex;
  align-items: center;
  padding: 0 25px;
  height: auto;
  font-weight: 300;
  font-size: 0.7em;
  // line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.chip-doc img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
}
