<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>

                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default"
                            routerLink="/event/{{eventId}}/custom-pages-create/{{moduleId}}">{{"global.btn_new"
            |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>

<div class="onReorder-btn-save text-center" *ngIf="onReorderShow == true">
    <div class="alert alert-light" *ngIf="loaderGeneral == false">
        {{"global.remind_save_changes" | translate}}
        <br>
        <button class="btn btn-custom btn-margin-top" (click)="saveReorder()">{{"global.btn_save" | translate}}</button>
    </div>

    <div class="align-loader" *ngIf="loaderGeneral == true">
        <div class="loader-default"></div>
    </div>
    <br>
</div>

<div class="card">
    <div class="card-body--">
        <div class="table-stats order-table ov-h">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{"global.title_" | translate}}</th>
                        <th>{{"global.manage" | translate}}</th>
                    </tr>
                </thead>
                <tbody [dragula]='"bag-pages-list"' [dragulaModel]='pages'>
                    <tr class="table-module" *ngFor="let page of pages; let i = index;">
                        <td class="name">
                            <i class="material-icons drag-icon float-left">drag_indicator</i>

                            <span *ngIf="userLanguage == 'pt_BR'"
                                class="box-title float-left">{{page?.title.PtBR}}</span>
                            <span *ngIf="userLanguage == 'en_US'"
                                class="box-title float-left">{{page?.title.EnUS}}</span>
                            <span *ngIf="userLanguage == 'es_ES'"
                                class="box-title float-left">{{page?.title.EsES}}</span>
                            <span *ngIf="userLanguage == 'fr_FR'"
                                class="box-title float-left">{{page?.title.FrFR}}</span>
                            <span *ngIf="userLanguage == 'de_DE'"
                                class="box-title float-left">{{page?.title.DeDE}}</span>
                        </td>
                        <td class="manage">
                            <a routerLink="/event/{{eventId}}/custom-pages-edit/{{moduleId}}/{{page.uid}}"><i
                                    class="material-icons default-icon">create</i></a>
                            <a [swal]="deleteSwal" (click)="getPageRemove(page)"><i
                                    class="material-icons default-icon delete-icon">delete</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removePage()">
</swal>


<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>