<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 *ngIf="userLanguage == 'pt_BR'" class="box-title float-left">{{module?.name.PtBR}}</h4>
                    <h4 *ngIf="userLanguage == 'en_US'" class="box-title float-left">{{module?.name.EnUS}}</h4>
                    <h4 *ngIf="userLanguage == 'es_ES'" class="box-title float-left">{{module?.name.EsES}}</h4>
                    <h4 *ngIf="userLanguage == 'fr_FR'" class="box-title float-left">{{module?.name.FrFR}}</h4>
                    <h4 *ngIf="userLanguage == 'de_DE'" class="box-title float-left">{{module?.name.DeDE}}</h4>
                </div>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="principal-tab" data-toggle="tab" href="#principal" role="tab"
                        aria-controls="principal" aria-selected="true">
                        {{"global.principal" | translate}} -
                        <span *ngIf="event?.language == 'pt_BR'">{{"comp.event_info.portuguese" | translate}}</span>
                        <span *ngIf="event?.language == 'en_US'">{{"comp.event_info.english" | translate}}</span>
                        <span *ngIf="event?.language == 'es_ES'">{{"comp.event_info.spanish" | translate}}</span>
                        <span *ngIf="event?.language == 'fr_FR'">{{"comp.event_info.french" | translate}}</span>
                        <span *ngIf="event?.language == 'de_DE'">{{"comp.event_info.german" | translate}}</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="languages?.PtBR && event?.language !== 'pt_BR'">
                    <a class="nav-link" id="translate-pt-tab" data-toggle="tab" href="#translate-pt" role="tab"
                        aria-controls="translate-pt"
                        aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.EnUS && event?.language !== 'en_US'">
                    <a class="nav-link" id="translate-en-tab" data-toggle="tab" href="#translate-en" role="tab"
                        aria-controls="translate-en" aria-selected="false">{{"comp.event_info.english" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.EsES && event?.language !== 'es_ES'">
                    <a class="nav-link" id="translate-es-tab" data-toggle="tab" href="#translate-es" role="tab"
                        aria-controls="translate-es" aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.FrFR && event?.language !== 'fr_FR'">
                    <a class="nav-link" id="translate-fr-tab" data-toggle="tab" href="#translate-fr" role="tab"
                        aria-controls="translate-fr" aria-selected="false">{{"comp.event_info.french" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.DeDE && event?.language !== 'de_DE'">
                    <a class="nav-link" id="translate-de-tab" data-toggle="tab" href="#translate-de" role="tab"
                        aria-controls="translate-de" aria-selected="false">{{"comp.event_info.german" | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="principal" role="tabpanel" aria-labelledby="principal-tab">
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label>
                        {{"comp.infobooth.title" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <input [(ngModel)]="title[principalEventLanguageFormated]" class="form-control" type="text"
                        placeholder='{{"comp.infobooth.title_plc" | translate}}'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description">{{"comp.infobooth.enter_code" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <ckeditor [(ngModel)]="htmlContent[principalEventLanguageFormated]">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="translate-pt" role="tabpanel" aria-labelledby="translate-pt-tab">
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label>
                        {{"comp.infobooth.title" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <input [(ngModel)]="title.PtBR" class="form-control" type="text"
                        placeholder='{{"comp.infobooth.title_plc" | translate}}'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description">{{"comp.infobooth.enter_code" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <ckeditor [(ngModel)]="htmlContent.PtBR">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="translate-en" role="tabpanel" aria-labelledby="translate-pt-tab">
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label>
                        {{"comp.infobooth.title" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <input [(ngModel)]="title.EnUS" class="form-control" type="text"
                        placeholder='{{"comp.infobooth.title_plc" | translate}}'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description">{{"comp.infobooth.enter_code" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <ckeditor [(ngModel)]="htmlContent.EnUS">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="translate-es" role="tabpanel" aria-labelledby="translate-pt-tab">
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label>
                        {{"comp.infobooth.title" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <input [(ngModel)]="title.EsES" class="form-control" type="text"
                        placeholder='{{"comp.infobooth.title_plc" | translate}}'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description">{{"comp.infobooth.enter_code" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <ckeditor [(ngModel)]="htmlContent.EsES">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="translate-fr" role="tabpanel" aria-labelledby="translate-pt-tab">
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label>
                        {{"comp.infobooth.title" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <input [(ngModel)]="title.FrFR" class="form-control" type="text"
                        placeholder='{{"comp.infobooth.title_plc" | translate}}'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description">{{"comp.infobooth.enter_code" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <ckeditor [(ngModel)]="htmlContent.FrFR">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="translate-de" role="tabpanel" aria-labelledby="translate-pt-tab">
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label>
                        {{"comp.infobooth.title" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <input [(ngModel)]="title.DeDE" class="form-control" type="text"
                        placeholder='{{"comp.infobooth.title_plc" | translate}}'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description">{{"comp.infobooth.enter_code" | translate}}
                        <span title="campo obrigatório" class="campo-obrigatorio">*</span>
                    </label>
                    <ckeditor [(ngModel)]="htmlContent.DeDE">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger" role="alert" *ngIf="errorPrincipalLanguageBlank">
            {{"comp.infobooth.principal_language_blank" | translate}}
        </div>
        <br>
        <button class="btn btn-custom float-right" (click)="updatePage();">{{"global.btn_save" |
            translate}}</button>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false"
    (confirm)="location.back()">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>