<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" *ngIf="languages?.PtBR">
        <a class="nav-link {{eventLanguage == 'pt_BR' ? 'active' : ''}}" (click)="activeLanguage = 'PtBR'"
            id="translate-pt-tab" data-toggle="tab" href="#translate-pt" role="tab" aria-controls="translate-pt"
            aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.EnUS">
        <a class="nav-link {{eventLanguage == 'en_US' ? 'active' : ''}}" (click)="activeLanguage = 'EnUS'"
            id="translate-en-tab" data-toggle="tab" href="#translate-en" role="tab" aria-controls="translate-en"
            aria-selected="false">{{"comp.event_info.english" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.EsES">
        <a class="nav-link {{eventLanguage == 'es_ES' ? 'active' : ''}}" (click)="activeLanguage = 'EsES'"
            id="translate-es-tab" data-toggle="tab" href="#translate-es" role="tab" aria-controls="translate-es"
            aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.FrFR">
        <a class="nav-link {{eventLanguage == 'fr_FR' ? 'active' : ''}}" (click)="activeLanguage = 'FrFR'"
            id="translate-fr-tab" data-toggle="tab" href="#translate-fr" role="tab" aria-controls="translate-fr"
            aria-selected="false">{{"comp.event_info.french" | translate}}</a>
    </li>
    <li class="nav-item" *ngIf="languages?.DeDE">
        <a class="nav-link {{eventLanguage == 'de_DE' ? 'active' : ''}}" (click)="activeLanguage = 'DeDE'"
            id="translate-de-tab" data-toggle="tab" href="#translate-de" role="tab" aria-controls="translate-de"
            aria-selected="false">{{"comp.event_info.german" | translate}}</a>
    </li>
</ul>
<br><br>

<!-- ////////////////////// INICIO SURVEY OPTIONS /////////////////////////////////-->
<div id="quiz-options">
    <form [formGroup]="formGroup">

        <div class="form-group">
            <label>{{ "global.icon" | translate }}</label>
            <div class="icon-selector">
                <div class="dropdown">
                    <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <label class="icon-selector">
                            <input type="radio" name="icon-selected" value="" />
                            <i class="material-icons"
                                *ngIf="selectedIconFamily == 'material-icons'">{{selectedIcon}}</i>
                            <span class="b3-icons {{selectedIconFamily}}"
                                *ngIf="selectedIconFamily !== 'material-icons'"></span>
                            <!-- selectedImage é a variável do ngModel, pode ser substituida pelo nome que utilizar no ngModel -->
                        </label>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div *ngFor="let icon of iconsImg; let i = index">
                            <div id="menu">
                                <li>
                                    <!--<input type="radio" name="md-add-circle" value="" />-->
                                    <a (click)="setIcon(icon);" class="float-left">
                                        <i class="material-icons"
                                            *ngIf="icon.family == 'material-icons'">{{icon.icon}}</i>
                                        <span class="b3-icons {{icon.family}}"
                                            *ngIf="icon.family !== 'material-icons'"></span>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {{eventLanguage == 'pt_BR' ? 'show active' : ''}}" id="translate-pt"
                role="tabpanel" aria-labelledby="translate-pt-tab">
                <div class="form-group" *ngIf="languages?.PtBR">
                    <label for="quiz_name_pt_br">{{"global.name" | translate}}</label>
                    <input type="text" class="form-control" id="quiz_name_pt_br" formControlName="quiz_name_pt_br">
                </div>
            </div>

            <div class="tab-pane fade {{eventLanguage == 'en_US' ? 'show active' : ''}}" id="translate-en"
                role="tabpanel" aria-labelledby="translate-en-tab">
                <div class="form-group" *ngIf="languages?.EnUS">
                    <label for="quiz_name_en_us">{{"global.name" | translate}}</label>
                    <input type="text" class="form-control" id="quiz_name_en_us" formControlName="quiz_name_en_us">
                </div>
            </div>

            <div class="tab-pane fade {{eventLanguage == 'es_ES' ? 'show active' : ''}}" id="translate-es"
                role="tabpanel" aria-labelledby="translate-es-tab">
                <div class="form-group" *ngIf="languages?.EsES">
                    <label for="quiz_name_es_es">{{"global.name" | translate}}</label>
                    <input type="text" class="form-control" id="quiz_name_es_es" formControlName="quiz_name_es_es">
                </div>
            </div>

            <div class="tab-pane fade {{eventLanguage == 'fr_FR' ? 'show active' : ''}}" id="translate-fr"
                role="tabpanel" aria-labelledby="translate-fr-tab">
                <div class="form-group" *ngIf="languages?.FrFR">
                    <label for="quiz_name_fr_fr">{{"global.name" | translate}}</label>
                    <input type="text" class="form-control" id="quiz_name_fr_fr" formControlName="quiz_name_fr_fr">
                </div>
            </div>

            <div class="tab-pane fade {{eventLanguage == 'de_DE' ? 'show active' : ''}}" id="translate-de"
                role="tabpanel" aria-labelledby="translate-de-tab">
                <div class="form-group" *ngIf="languages?.DeDE">
                    <label for="quiz_name_de_de">{{"global.name" | translate}}</label>
                    <input type="text" class="form-control" id="quiz_name_de_de" formControlName="quiz_name_de_de">
                </div>
            </div>
        </div>


        <!-- <div class="form-group form-group-edited" *ngIf="quizMaxResponsesVisibility == true">
          <input type="checkbox" name="max-responses-checkbox" id="max-responses-checkbox" (change)="changeMaxResponses()"
            checked> {{"comp.edit_quiz.max_quiz_answer" | translate}}
        </div>
    
        <div class="form-group form-group-edited" *ngIf="quizMaxResponsesVisibility == false">
          <input type="checkbox" name="max-responses-checkbox" id="max-responses-checkbox" (change)="changeMaxResponses()">
          {{"comp.edit_quiz.max_quiz_answer" | translate}}
        </div>
    
        <div class="form-group" *ngIf="quizMaxResponsesVisibility == true">
          {{"comp.edit_quiz.max_number" | translate}}
          <input type="number" name="max-responses" id="max-responses" placeholder='{{"comp.edit_quiz.max_limit_plc" | translate}}'
            formControlName="maxResponses">
        </div> -->

        <div class="form-group">
            <input type="checkbox" id="change-answer" name="change-answer" formControlName="changeAnswer">
            <label for="change-answer">&nbsp; {{"comp.survey.answer_change" | translate}}</label>
        </div>

        <div class="form-group">
            <input [(ngModel)]="activeTimerEdit" type="checkbox" name="activeTimerEdit" id="activeTimerEdit"
                formControlName="activeTimerEdit" (change)="changeActiverTimer()">
            <label for="activeTimerEdit">&nbsp; {{ "comp.quiz.timer_is_active" | translate }}</label>
        </div>

        <div class="form-group" id="max-timer-container-edit" *ngIf="activeTimerEdit == true">
            <label for="max-timer-edit">{{ "comp.quiz.seconds_answer_question" | translate }}</label>
            <input type="number" name="maxTimerEdit" id="maxTimerEdit" class="form-control col-3"
                formControlName="maxTimerEdit">
        </div>

        <div class="form-group">
            <input type="checkbox" id="view-answered" name="view-answered" formControlName="viewAnswered">
            <label for="view-answered">&nbsp; {{ "comp.quiz.view_answer_after_send" | translate }}</label>
        </div>
    </form>

    <div class="form-group">
        <input [(ngModel)]="activeWeight" type="checkbox" id="active-weight" name="active-weight" value="active-weight">
        <label for="active-weight">&nbsp; {{"comp.survey.response_options_with_weight" | translate}}</label>
    </div>

    <div class="form-group">
        <input [(ngModel)]="activeMarker" type="checkbox" id="active-marker" name="active-marker" value="active-marker">
        <label for="active-marker">&nbsp; {{"comp.survey.response_options_with_bookmark" | translate}}</label>
    </div>

    <form>
        <!-- <div class="form-group">
        <input [(ngModel)]="quizLinkedToSession" type="checkbox" name="quizLinkedToSessionEdit"
          id="quizLinkedToSessionEdit" (change)="changeTypeQuiz()">
        <label for="quizLinkedToSessionEdit">&nbsp; {{ "comp.quiz.link_quiz" | translate }}</label>
      </div> -->

        <!-- *ngIf="quizLinkedToSession" -->
        <div class="form-group">
            <label for="search-for-quiz-edit">{{"comp.survey.link_method" | translate}}</label>

            <select [(ngModel)]="quizType" class="custom-select" name="search-for-quiz-edit" id="search-for-quiz-edit"
                (change)="changeSessionType()">
                <option value="Pattern" disabled>{{"global.select_option" | translate}}</option>
                <option value="AllSessions">{{"global.all_sessions" | translate}}</option>
                <option value="SpecificSession">{{"global.specific_session" | translate}}</option>
                <option value="ScheduleModule">{{"global.specific_module" | translate}}</option>
                <option value="SpecificGroup">{{"global.specific_group" | translate}}</option>
                <option value="SessionTrack">{{"global.specific_track" | translate}}</option>
            </select>
        </div>
        <!-- for specific module -->
        <div class="form-group" *ngIf="scheduleModuleVisibility == true">
            <label>{{"global.select_module" | translate}}</label>

            <select [(ngModel)]="scheduleModuleQuizEdit" class="custom-select" name="scheduleModuleQuizEdit"
                id="scheduleModuleQuizEdit" (change)="moduleSelectedChange()">
                <option value="-1" disabled>{{"global.select_option" | translate}}</option>
                <option *ngFor="let module of scheduleModules; let i = index" value="{{module.uid}}">
                    <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                    <span *ngIf="userLanguage == 'en_US'">{{module?.name.EnUS}}</span>
                    <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                    <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                    <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
                </option>
            </select>
        </div>

        <!-- for specific track of module -->
        <div class="form-group" *ngIf="scheduleModuleTrackVisibility == true">
            <label>{{"global.select_module" | translate}}</label>
            <br>
            <select [(ngModel)]="scheduleModuleTrackQuizEdit" class="custom-select" name="scheduleModuleTrackQuizEdit"
                id="scheduleModuleTrackQuizEdit" (change)="moduleSelectedChange()">
                <option value="-1" disabled>{{"global.select_option" | translate}}</option>
                <option *ngFor="let module of scheduleModules; let i = index" [value]="module.uid">
                    <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                    <span *ngIf="userLanguage == 'en_US'">{{module?.name.EnUS}}</span>
                    <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                    <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                    <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
                </option>
            </select>
        </div>

        <!-- for specific session of module-->
        <div class="form-group" *ngIf="scheduleModuleSessionVisibility == true">
            <label>{{"global.select_module" | translate}}</label>
            <br>
            <select [(ngModel)]="scheduleModuleSessionQuizEdit" class="custom-select"
                name="scheduleModuleSessionQuizEdit" id="scheduleModuleSessionQuizEdit"
                (change)="moduleSelectedChange()">
                <option value="-1" disabled>{{"global.select_option" | translate}}</option>
                <option *ngFor="let module of scheduleModules; let i = index" value="{{module.uid}}">
                    <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                    <span *ngIf="userLanguage == 'en_US'">{{module?.name.EnUS}}</span>
                    <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                    <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                    <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
                </option>
            </select>
        </div>

        <div class="form-group" *ngIf="specificGroupVisibility == true">
            <label for="session">{{ "global.group" | translate }}</label>
            <br>
            <!-- Autocomplete start -->
            <div class="form-group">
                <input type="text" class="form-control validate filter-input form-control" name="session"
                    [(ngModel)]=queryGroup (keyup)=filterGroup()
                    placeholder="{{'global.groups_placeholder' | translate}}">
            </div>
            <div *ngIf="filteredGroup?.length > 0">
                <ul>
                    <li *ngFor="let group of filteredGroup" (click)="selectGroup(group)">
                        <div class="group-name" [style.background]="group.bgColor" [style.color]="group.txtColor">
                            <a>{{group.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="selectedGroups?.length > 0">
                <span *ngFor="let itemn of selectedGroups" class="group-name" [style.background]="itemn.bgColor"
                    [style.color]="itemn.txtColor">{{itemn.name}}
                    <a (click)="removeGroup(itemn)">
                        <i class="material-icons closebtn">close</i>
                    </a>
                </span>
            </div>
            <!-- Autocomplete final -->
        </div>

        <!-- schedules modules tracks area -->
        <div class="form-group" *ngIf="specificTrackVisibility">
            <label for="sessionTrack">{{"global.tracks" | translate}}</label>
            <br>
            <!-- Autocomplete start -->
            <div class="form-group">
                <input type="text" class="form-control validate filter-input form-control" name="track"
                    [(ngModel)]=query (keyup)=filter() placeholder="{{'global.tracks_placeholder' | translate}}">
            </div>
            <div *ngIf="filteredList?.length > 0">
                <ul *ngFor="let item of filteredList">
                    <li>
                        <div class="group-name">
                            <a (click)="select(item)" *ngIf="userLanguage == 'pt_BR'">{{item.name.PtBR}}</a>
                            <a (click)="select(item)" *ngIf="userLanguage == 'en_US'">{{item.name.EnUS}}</a>
                            <a (click)="select(item)" *ngIf="userLanguage == 'es_ES'">{{item.name.EsES}}</a>
                            <a (click)="select(item)" *ngIf="userLanguage == 'fr_FR'">{{item.name.FrFR}}</a>
                            <a (click)="select(item)" *ngIf="userLanguage == 'de_DE'">{{item.name.DeDE}}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="selectedTracks?.length > 0">
                <span *ngFor="let item of selectedTracks" class="group-name" [style.background]="item.color">
                    <span *ngIf="userLanguage == 'pt_BR'">{{item.name.PtBR}}</span>
                    <span *ngIf="userLanguage == 'en_US'">{{item.name.EnUS}}</span>
                    <span *ngIf="userLanguage == 'es_ES'">{{item.name.EsES}}</span>
                    <span *ngIf="userLanguage == 'fr_FR'">{{item.name.FrFR}}</span>
                    <span *ngIf="userLanguage == 'de_DE'">{{item.name.DeDE}}</span>

                    <a (click)="remove(item)">
                        <i class="material-icons closebtn">close</i>
                    </a>
                </span>
            </div>
            <!-- Autocomplete final -->
        </div>

        <!-- schedule modules sessions area-->
        <div class="form-group" *ngIf="SelectedSessionVisibility == true">
            <label for="session">{{"global.session" | translate}}</label>
            <br>
            <!-- Autocomplete start -->
            <div class="form-group">
                <input type="text" class="form-control validate filter-input form-control" name="session"
                    [(ngModel)]=querySession (keyup)=filterSession()
                    placeholder="{{'global.session_placeholder' | translate}}">
            </div>
            <div *ngIf="filteredSession?.length > 0">
                <ul *ngFor="let session of filteredSession">
                    <li>
                        <div class="group-name simple-chip">
                            <a (click)="selectSession(session)"
                                *ngIf="userLanguage == 'pt_BR'">{{session.name.PtBR}}</a>
                            <a (click)="selectSession(session)"
                                *ngIf="userLanguage == 'en_US'">{{session.name.EnUS}}</a>
                            <a (click)="selectSession(session)"
                                *ngIf="userLanguage == 'es_ES'">{{session.name.EsES}}</a>
                            <a (click)="selectSession(session)"
                                *ngIf="userLanguage == 'fr_FR'">{{session.name.FrFR}}</a>
                            <a (click)="selectSession(session)"
                                *ngIf="userLanguage == 'de_DE'">{{session.name.DeDE}}</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div *ngIf="selectedSessions?.length > 0">
                <br>
                <span>{{"comp.survey.survey_name" | translate}}</span>
                <hr>

                <div *ngFor="let itemn of selectedSessions">
                    <span *ngIf="userLanguage && eventLanguage" class="group-name simple-chip">
                        <span *ngIf="userLanguage == 'pt_BR'">{{itemn.name.PtBR}}</span>
                        <span *ngIf="userLanguage == 'en_US'">{{itemn.name.EnUS}}</span>
                        <span *ngIf="userLanguage == 'es_ES'">{{itemn.name.EsES}}</span>
                        <span *ngIf="userLanguage == 'fr_FR'">{{itemn.name.FrFR}}</span>
                        <span *ngIf="userLanguage == 'de_DE'">{{itemn.name.DeDE}}</span>

                        <a (click)="removeSession(itemn)">
                            <i class="material-icons closebtn">close</i>
                        </a>
                    </span>
                </div>

            </div>
            <!-- Autocomplete final -->
        </div>
    </form>

</div>
<!-- ////////////////////// FIM SURVEY OPTIONS /////////////////////////////////-->
<hr>
<!-- <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#modalQuiz">{{"comp.edit_quiz.add_question"
      | translate}}
    </button> -->

<div *ngIf="allowShowAddQuestion == true">
    <br>
    <a class="item-link add-question-mg" (click)="addQuestionShow=true">
        <i class="material-icons add-icon">add</i> {{ "comp.survey.add_question" | translate}}</a>
    <br><br>
</div>

<!-- add new question -->
<div *ngIf="addQuestionShow == true">
    <br>
    <form [formGroup]="formNewQuestion" id="form-questions">
        <div id="msgError" class="alert-danger">
            <!-- msgs de error de validação -->
        </div>

        <div class="form-group">
            <div class="alert-danger" *ngIf="errorTitleCreate == true">
                <p>
                    <i class='material-icons'>error</i>{{"comp.quiz.error_title" | translate}}</p>
            </div>

            <div *ngIf="activeLanguage == 'PtBR'">
                <label for="title_pt_br">{{ "global.title_" | translate }}</label>
                <input type="text" class="form-control" id="title_pt_br" name="title_pt_br"
                    placeholder="{{'comp.edit_survey.question_title_placeholder' | translate}}"
                    [formControl]="formNewQuestion.controls['title_pt_br']">
            </div>

            <div *ngIf="activeLanguage == 'EnUS'">
                <label for="title_en_us">{{ "global.title_" | translate }}</label>
                <input type="text" class="form-control" id="title_en_us" name="title_en_us"
                    placeholder="{{'comp.edit_survey.question_title_placeholder' | translate}}"
                    [formControl]="formNewQuestion.controls['title_en_us']">
            </div>

            <div *ngIf="activeLanguage == 'EsES'">
                <label for="title_es_es">{{ "global.title_" | translate }}</label>
                <input type="text" class="form-control" id="title_es_es" name="title_es_es"
                    placeholder="{{'comp.edit_survey.question_title_placeholder' | translate}}"
                    [formControl]="formNewQuestion.controls['title_es_es']">
            </div>

            <div *ngIf="activeLanguage == 'FrFR'">
                <label for="title_fr_fr">{{ "global.title_" | translate }}</label>
                <input type="text" class="form-control" id="title_fr_fr" name="title_fr_fr"
                    placeholder="{{'comp.edit_survey.question_title_placeholder' | translate}}"
                    [formControl]="formNewQuestion.controls['title_fr_fr']">
            </div>

            <div *ngIf="activeLanguage == 'DeDE'">
                <label for="title_de_de">{{ "global.title_" | translate }}</label>
                <input type="text" class="form-control" id="title_de_de" name="title_de_de"
                    placeholder="{{'comp.edit_survey.question_title_placeholder' | translate}}"
                    [formControl]="formNewQuestion.controls['title_de_de']">
            </div>
        </div>

        <div class="infobooth">
            <div class="form-group" *ngIf="activeLanguage == 'PtBR'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formNewQuestion.controls['infobooth_pt_br']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'EnUS'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formNewQuestion.controls['infobooth_en_us']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'EsES'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formNewQuestion.controls['infobooth_es_es']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'FrFR'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formNewQuestion.controls['infobooth_fr_fr']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'DeDE'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formNewQuestion.controls['infobooth_de_de']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>
        </div>

        <!-- TYPE IMAGE -->
        <div class="form-group">
            <label>{{"global.picture" | translate}}</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" accept=".png, .jpg, .jpeg, .gif"
                    (change)="onUploadChangeNew($event)">
                <label class="custom-file-label" for="customFile"
                    *ngIf="fileNameNew == null">{{"global.select_picture" | translate}}</label>
                <label class="custom-file-label" for="customFile" *ngIf="fileNameNew !== null">{{fileNameNew}}</label>
            </div>
        </div>

        <!-- Tipos de perguntas -->
        <div id="question-options">
            <div class="alert-danger" *ngIf="errorSelectQuestionCreate == true">
                <p>
                    <i class='material-icons'>error</i> {{"comp.quiz.error_question_type" | translate}}
                </p>
            </div>

            <label>{{ "global.option_reply" | translate }}</label>

            <!-- permitido selecionar somente uma resposta -->
            <div class="form-group">
                <input type="radio" name="newRadioTypeQuestion" id="oneSelect" value="oneSelect" class="questionType"
                    [formControl]="formNewQuestion.controls['radioTypeQuestion']" (change)="changeTypeQuestionCreate()">
                &nbsp;
                <label for="oneSelect">{{"comp.survey.one_select" | translate}}</label>
                <br>

                <!-- permitido selecionar várias respostas -->
                <input type="radio" name="newRadioTypeQuestion" id="multipleSelect" value="multipleSelect"
                    class="questionType" [formControl]="formNewQuestion.controls['radioTypeQuestion']"
                    (change)="changeTypeQuestionCreate()"> &nbsp;
                <label for="multipleSelect" class="black-text">{{"comp.survey.multiple_select" | translate}}</label>
                <br>
            </div>
        </div>

        <!-- Opcões de gráfico para exibição de resultados -->
        <div id="chart-options" *ngIf="blockGraphicTypevisibilityCreate">
            <label>{{ "global.charts" | translate }}</label>

            <!-- Gráfico de torta -->
            <div class="form-group">
                <div class="alert-danger" *ngIf="errorSelectChartTypeCreate">
                    <p>
                        <i class='material-icons'>error</i>{{"comp.quiz.error_graphic" | translate}}
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <input type="radio" name="chartType" id="pieChart" value="PieChart"
                            [formControl]="formNewQuestion.controls['radioTypeGraphic']"> &nbsp;
                        <label for="pieChart" class="black-text">{{ "global.pizza" | translate }}</label>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="radio" name="chartType" id="horizontalBarChart" value="BarChart"
                            [formControl]="formNewQuestion.controls['radioTypeGraphic']"> &nbsp;
                        <label for="horizontalBarChart" class="black-text">{{ "global.ho_bars" | translate }}</label>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="radio" name="chartType" id="verticalBarChart" value="ColumnChart"
                            [formControl]="formNewQuestion.controls['radioTypeGraphic']"> &nbsp;
                        <label for="verticalBarChart" class="black-text">{{ "global.ver_bars" | translate }}</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Graphic difusion -->
        <div id="question-options">
            <div class="alert-danger" *ngIf="errorSelectGraphicDifusionCreate == true">
                <p>
                    <i class='material-icons'>error</i> {{"comp.survey.error_no_difusion" | translate}}
                </p>
            </div>

            <label>{{ "comp.survey.graphic_difusion" | translate }}</label>

            <div class="form-group">
                <input type="radio" name="newRadioGraphicDifusion" id="showDifusion" value="yes" class="questionType"
                    [formControl]="formNewQuestion.controls['radioGraphicDifusion']">
                &nbsp;
                <label for="showDifusion">{{"comp.survey.graphic_difusion_show" | translate}}</label>
                <br>

                <input type="radio" name="newRadioGraphicDifusion" id="noDifusion" value="no" class="questionType"
                    [formControl]="formNewQuestion.controls['radioGraphicDifusion']"> &nbsp;
                <label for="noDifusion"
                    class="black-text">{{"comp.survey.graphic_difusion_dont_show" | translate}}</label>
                <br>
            </div>
        </div>

    </form>

    <!-- Opções de respostas -->
    <div id="answer-options" *ngIf="blockOptionsAnswersVisibilityCreate">
        <div class="alert-danger" *ngIf="errorOptionAnswerCreate == true">
            <p>
                <i class='material-icons'>error</i>{{"comp.quiz.error_option_answer" | translate}}
            </p>
        </div>

        <span class="float-left">{{"comp.survey.answers" | translate}} &nbsp; &nbsp;</span>
        <div class="align-flex">
            <a id="clonador" (click)="cloneInputNewQuestion()">
                <i class="material-icons add-icon">add_circle_outline</i>
            </a>
        </div>
        <br>
        <div class="clone" *ngFor="let aux of listNewQuestion; let i = index">
            <div class="row align-flex-manage">

                <div class="col-sm-3 col-md-1">
                    <input *ngIf="typeNewQuestion == 'oneSelect'" type="radio" name="correctAnswerQuiz"
                        [checked]="listNewQuestion[i].correct" (change)="updateCorrectAnswer(i)"
                        class="correctAnswerQuiz form-control">

                    <input *ngIf="typeNewQuestion == 'multipleSelect'" type="checkbox" name="correctAnswerQuiz[i]"
                        [checked]="listNewQuestion[i].correct" (change)="updateCorrectAnswer(i)"
                        class="correctAnswerQuiz form-control">
                </div>



                <div class="col-sm-9 col-md-5" *ngIf="activeLanguage == 'PtBR'">
                    <input type="text" id="answer_option_PtBR" name="answer_option_PtBR"
                        class="answer_option_PtBR form-control"
                        placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].answer.PtBR">
                </div>

                <div class="col-sm-9 col-md-5" *ngIf="activeLanguage == 'EnUS'">
                    <input type="text" id="answer_option_EnUS" name="answer_option_EnUS"
                        class="answer_option_EnUS form-control"
                        placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].answer.EnUS">
                </div>

                <div class="col-sm-9 col-md-5" *ngIf="activeLanguage == 'EsES'">
                    <input type="text" id="answer_option_EsES" name="answer_option_EsES"
                        class="answer_option_EsES form-control"
                        placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].answer.EsES">
                </div>

                <div class="col-sm-9 col-md-5" *ngIf="activeLanguage == 'FrFR'">
                    <input type="text" id="answer_option_FrFR" name="answer_option_FrFR"
                        class="answer_option_FrFR form-control"
                        placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].answer.FrFR">
                </div>

                <div class="col-sm-9 col-md-5" *ngIf="activeLanguage == 'DeDE'">
                    <input type="text" id="answer_option_DeDE" name="answer_option_DeDE"
                        class="answer_option_DeDE form-control"
                        placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].answer.DeDE">
                </div>




                <div class="col-sm-12 col-md-2" *ngIf="activeWeight">
                    <input type="number" id="answerWeight" name="answerWeight" class="answerWeight form-control"
                        placeholder="{{'comp.survey.weight_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].weight">
                </div>

                <div class="col-sm-12 col-md-2" *ngIf="activeMarker">
                    <input type="text" id="answerMarker" name="answerMarker" class="answerOption form-control"
                        placeholder="{{'comp.edit_survey.marker_placeholder' | translate}}"
                        [(ngModel)]="listNewQuestion[i].marker">
                </div>

                <div class="col-sm-12 col-md-2">
                    <a class="click-function">
                        <i class='material-icons icon-delete Delete-answer' title='Delete'
                            (click)="deleteInputNewQuestion(i)">delete</i>
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>

    <button id="cancelQuestion" (click)="cancelNewQuestion()" class="btn btn-custom-cancel btn-margin"
        data-dismiss="modal">{{
        "global.btn_cancel" | translate }}</button>
    <button id="adicionar-pergunta" class="btn btn-custom" (click)="newQuestion(formNewQuestion.value)">{{"global.btn_add"
        | translate}}</button>
    <br>
    <br>
</div>

<div class="edit-question-div" *ngIf="editQuestionShow == true">
    <form [formGroup]="formEditQuestion">
        <div class="form-group">
            <div class="alert-danger" *ngIf="errorTitleEdit == true">
                <p>
                    <i class='material-icons'>error</i>{{"comp.quiz.error_title" | translate}}</p>
            </div>

            <div *ngIf="activeLanguage == 'PtBR'">
                <label for="title">{{"global.title_" | translate}}</label>
                <input type="text" [formControl]="formEditQuestion.controls['title_pt_br']" class="form-control"
                    id="edit_title_pt_br" name="edit_title_pt_br" placeholder="{{'global.title_plc' | translate}}">
            </div>

            <div *ngIf="activeLanguage == 'EnUS'">
                <label for="title">{{"global.title_" | translate}}</label>
                <input type="text" [formControl]="formEditQuestion.controls['title_en_us']" class="form-control"
                    id="edit_title_en_us" name="edit_title_en_us" placeholder="{{'global.title_plc' | translate}}">
            </div>

            <div *ngIf="activeLanguage == 'EsES'">
                <label for="title">{{"global.title_" | translate}}</label>
                <input type="text" [formControl]="formEditQuestion.controls['title_es_es']" class="form-control"
                    id="edit_title_es_es" name="edit_title_es_es" placeholder="{{'global.title_plc' | translate}}">
            </div>

            <div *ngIf="activeLanguage == 'FrFR'">
                <label for="title">{{"global.title_" | translate}}</label>
                <input type="text" [formControl]="formEditQuestion.controls['title_fr_fr']" class="form-control"
                    id="edit_title_fr_fr" name="edit_title_fr_fr" placeholder="{{'global.title_plc' | translate}}">
            </div>

            <div *ngIf="activeLanguage == 'DeDE'">
                <label for="title">{{"global.title_" | translate}}</label>
                <input type="text" [formControl]="formEditQuestion.controls['title_de_de']" class="form-control"
                    id="edit_title_de_de" name="edit_title_de_de" placeholder="{{'global.title_plc' | translate}}">
            </div>
        </div>


        <div class="infobooth">
            <div class="form-group" *ngIf="activeLanguage == 'PtBR'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formEditQuestion.controls['infobooth_pt_br']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'EnUS'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formEditQuestion.controls['infobooth_en_us']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'EsES'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formEditQuestion.controls['infobooth_es_es']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'FrFR'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formEditQuestion.controls['infobooth_fr_fr']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>

            <div class="form-group" *ngIf="activeLanguage == 'DeDE'">
                <label for="infobooth_de_de">{{ "global.description" | translate }}</label>
                <ckeditor [formControl]="formEditQuestion.controls['infobooth_de_de']">
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
            </div>
        </div>

        <!-- TYPE IMAGE -->
        <div class="form-group">
            <label>{{"global.picture" | translate}}</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" accept=".png, .jpg, .jpeg, .gif"
                    (change)="onUploadChangeEdit($event)">
                <label class="custom-file-label" for="customFile"
                    *ngIf="fileNameEdit == null">{{"global.select_picture" | translate}}</label>
                <label class="custom-file-label" for="customFile" *ngIf="fileNameEdit !== null">{{fileNameEdit}}</label>
            </div>
        </div>

        <!-- Tipos de perguntas -->
        <div id="edit-question-options">

            <div class="alert-danger" *ngIf="errorSelectQuestionEdit == true">
                <p>
                    <i class='material-icons'>error</i> {{"comp.quiz.error_question_type" | translate}}
                </p>
            </div>

            <p>{{ "global.option_reply" | translate }}</p>

            <!-- permitido selecionar somente uma resposta -->
            <div class="form-group">

                <input type="radio" [formControl]="formEditQuestion.controls['radioTypeQuestion']"
                    name="radioTypeQuestion" id="edit-oneSelect" value="oneSelect" class="edit-questionType"
                    (change)="changeTypeQuestionEdit()"> &nbsp;
                <label for="edit-oneSelect">{{"comp.survey.one_select" | translate}}</label>
                <br>

                <input type="radio" [formControl]="formEditQuestion.controls['radioTypeQuestion']"
                    name="radioTypeQuestion" id="edit-multipleSelect" value="multipleSelect" class="edit-questionType"
                    (change)="changeTypeQuestionEdit()"> &nbsp;
                <label for="edit-multipleSelect" class="black-text">{{"comp.survey.multiple_select" |
            translate}}
                </label>
                <br>
            </div>

        </div>

        <!-- Opcões de gráfico para exibição de resultados -->
        <div id="edit-chart-options" *ngIf="blockGraphicTypevisibilityEdit">

            <div class="alert-danger" *ngIf="errorSelectChartTypeEdit">
                <p>
                    <i class='material-icons'>error</i>{{"comp.quiz.error_graphic" | translate}}
                </p>
            </div>

            <p>{{ "global.charts" | translate }}</p>

            <div class="row">
                <!-- Gráfico de torta -->
                <div class="col-sm-4 col-md-4">
                    <input type="radio" [formControl]="formEditQuestion.controls['radioTypeGraphic']"
                        name="radioTypeGraphic" id="edit-pieChart" value="PieChart"> &nbsp;
                    <label for="edit-pieChart" class="black-text">{{ "global.pizza" | translate }}</label>
                </div>

                <div class="col-sm-4 col-md-4">
                    <input type="radio" [formControl]="formEditQuestion.controls['radioTypeGraphic']"
                        name="radioTypeGraphic" id="edit-horizontalBarChart" value="BarChart"> &nbsp;
                    <label for="edit-horizontalBarChart" class="black-text">{{ "global.ho_bars" | translate }}</label>
                </div>

                <div class="col-sm-4 col-md-4">
                    <input type="radio" [formControl]="formEditQuestion.controls['radioTypeGraphic']"
                        name="radioTypeGraphic" id="edit-verticalBarChart" value="ColumnChart"> &nbsp;
                    <label for="edit-verticalBarChart" class="black-text">{{ "global.ver_bars" | translate }}</label>
                </div>
            </div>
        </div>

        <!-- Edit graphic difusion -->
        <div id="edit-question-options">

            <div class="alert-danger" *ngIf="errorSelectGraphicDifusionEdit == true">
                <p>
                    <i class='material-icons'>error</i> {{"comp.survey.error_no_difusion" | translate}}
                </p>
            </div>

            <p>{{ "comp.survey.graphic_difusion" | translate }}</p>

            <div class="form-group">

                <input type="radio" [formControl]="formEditQuestion.controls['radioGraphicDifusion']"
                    name="newRadioGraphicDifusion" id="showDifusionEdit" value="yes" class="edit-questionType"> &nbsp;
                <label for="showDifusionEdit">{{"comp.survey.graphic_difusion_show" | translate}}</label>
                <br>

                <input type="radio" [formControl]="formEditQuestion.controls['radioGraphicDifusion']"
                    name="newRadioGraphicDifusion" id="noDifusionEdit" value="no" class="edit-questionType"> &nbsp;
                <label for="noDifusionEdit" class="black-text">{{"comp.survey.graphic_difusion_dont_show" |
                    translate}}
                </label>
                <br>
            </div>

        </div>

    </form>

    <!-- Opções de respostas -->
    <div id="edit-answer-options" *ngIf="blockOptionsAnswersVisibilityEdit">
        <div class="alert-danger" *ngIf="errorOptionAnswerEdit == true">
            <p>
                <i class='material-icons'>error</i>{{"comp.quiz.error_option_answer" | translate}}
            </p>
        </div>

        <span class="float-left">{{"comp.survey.answers" | translate}} &nbsp; &nbsp;</span>
        <div class="align-flex">
            <a id="clonador" (click)="cloneInputAnswers()">
                <i class="material-icons add-icon">add_circle_outline</i>
            </a>
        </div>
        <div id="answer-block" *ngFor="let item of listAnswers; let j = index">
            <div class="edit-clone">
                <div class="row">
                    <div class="col-sm-1 col-md-1">
                        <input *ngIf="typeQuestion == 'oneSelect'" type="radio" [checked]="item.correct"
                            name="correctAnswerQuiz" (change)="updateCorrectAnswerEdit(j)">

                        <input *ngIf="typeQuestion == 'multipleSelect'" type="checkbox" [checked]="item.correct"
                            name="correctAnswerQuiz[i]" (change)="updateCorrectAnswerEdit(j)">
                    </div>





                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'PtBR'">
                        <input class="form-control" type="text" id="edit-answer_option_PtBR"
                            name="edit-answer_option_PtBR"
                            placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].answer.PtBR">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'EnUS'">
                        <input class="form-control" type="text" id="edit-answer_option_EnUS"
                            name="edit-answer_option_EnUS"
                            placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].answer.EnUS">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'EsES'">
                        <input class="form-control" type="text" id="edit-answer_option_EsES"
                            name="edit-answer_option_EsES"
                            placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].answer.EsES">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'FrFR'">
                        <input class="form-control" type="text" id="edit-answer_option_FrFR"
                            name="edit-answer_option_FrFR"
                            placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].answer.FrFR">
                    </div>

                    <div class="col-sm-6 col-md-6" *ngIf="activeLanguage == 'DeDE'">
                        <input class="form-control" type="text" id="edit-answer_option_DeDE"
                            name="edit-answer_option_DeDE"
                            placeholder="{{'comp.edit_survey.answer_option_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].answer.DeDE">
                    </div>






                    <div class="col-sm-2 col-md-2" *ngIf="activeWeight">
                        <input class="form-control" type="number" id="edit-answerWeight" name="edit-answerWeight"
                            placeholder="{{'comp.survey.weight_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].weight">
                    </div>

                    <div class="col-sm-2 col-md-2" *ngIf="activeMarker">
                        <input class="form-control" type="text" id="edit-answerMarker" name="edit-answerMarker"
                            placeholder="{{'comp.edit_survey.marker_placeholder' | translate}}"
                            [(ngModel)]="listAnswers[j].marker">
                    </div>

                    <div class="col-sm-1 col-md-1 align-flex-manage">
                        <a class="click-function icon-delete">
                            <i class='material-icons icon-delete Delete-answer' title='edit-Delete'
                                (click)="getDeleteInputAnswers(j)">delete</i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <br>
    </div>

    <br>
    <div class="float-right">
        <button class="btn btn-custom-cancel btn-margin" (click)="resetEditQuestion()">{{"global.btn_cancel" |
          translate}}</button>

        <button class="btn btn-custom" (click)="editQuestion(formEditQuestion.value)">{{"global.btn_save" |
        translate}}</button>
    </div>
    <br>
    <br>
</div>

<div class="table-stats order-table ov-h">
    <table class="table">
        <thead>
            <tr>
                <th>{{"global.title_" | translate}}</th>
                <th>{{"global.manage" | translate}}</th>
            </tr>
        </thead>
        <tbody class="tbody-width">
            <tr *ngFor="let item of questions; let i = index;">
                <td *ngIf="userLanguage == 'pt_BR'">{{item.title.PtBR}}</td>
                <td *ngIf="userLanguage == 'en_US'">{{item.title.EnUS}}</td>
                <td *ngIf="userLanguage == 'es_ES'">{{item.title.EsES}}</td>
                <td *ngIf="userLanguage == 'fr_FR'">{{item.title.FrFR}}</td>
                <td *ngIf="userLanguage == 'de_DE'">{{item.title.DeDE}}</td>

                <td *ngIf="!loaderQuestions[i]">
                    <a class="click-function" (click)="deleteQuestion(i)">
                        <i class="material-icons float-right icon-delete">delete</i>
                    </a>
                    <a class="click-function" (click)="openQuestion(i)">
                        <i class="material-icons float-right manage-icon" id="open-question">create</i>
                    </a>
                </td>

                <td *ngIf="loaderQuestions[i]">
                    <div class="loader-delete-question float-right"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- finish table-->
<br>
<button type="submit" (click)="updateQuiz(formGroup.value)" class="btn btn-custom float-right">{{"global.btn_save"
      | translate}}
</button>

<!-- <div class="modal fade" id="modalUpdateQuizConfirm" tabindex="-1" role="dialog" aria-labelledby="modalUpdateQuizConfirmLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalUpdateQuizConfirm">{{"global.confirm" | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ "comp.edit_quiz.you_lose" | translate }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"global.btn_cancel" | translate}}</button>
            <button type="button" class="btn btn-custom-cancel btn-margin" data-dismiss="modal" (click)="updateQuiz(formGroup.value, true)">{{"global.btn_confirm"
              | translate}}</button>
          </div>
        </div>
      </div>
    </div> -->

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorDeleteLastQuestion title='{{"global.modals.error" | translate}}'
    text='{{"comp.edit_survey.deletion_error_last_question" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>