<!-- Page mode -->
<ion-header *ngIf="!componentMode">
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <p *ngIf="quiz !== null">{{quiz.title[userLanguage]}}</p>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="true"></ion-button>
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="align-loader-custom" *ngIf="loader">
    <div class="loader-default"></div>
</div>

<ion-content *ngIf="setResultVerify && !componentMode">
    <!-- Progress Bar -->
    <span class="percent-align-center" [style.color]="menu_color">
        {{indexSlide + 1}} {{"global.texts.of" | translate}} {{quiz.questions.length}}
    </span>
    <div class="progress-outer">
        <div class="progress-inner" [style.width]="progress + '%'" [style.background]="menu_color">
        </div>
    </div>

    <div id="countdown" *ngIf="quiz.active_timer">
        <div id="countdown-number" [style.color]="menu_color">{{counter}}</div>

        <svg>
            <circle r="18" cx="20" cy="20" [style.stroke]="menu_color"></circle>
        </svg>
    </div>
    <div class="spacer"></div>

    <div class="background">
        <form class="margin-">
            <!-- <ion-list class="custom-ion-list" *ngIf="quiz"> -->
            <ion-slides #mySlider>
                <ion-slide *ngFor="let question of quiz.questions; let i = index">

                    <app-quiz-result *ngIf="currentQuestion && quiz && moduleId && currentQuestion.showResult"
                        [question]="currentQuestion" [quiz]="quiz" [moduleId]="moduleId">
                    </app-quiz-result>

                    <div class="container-image-question"
                        *ngIf="question.image != null && question.image != undefined && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">
                        <div class="image-question" [ngStyle]="{'background-image':'url('+ question.image +')'}">
                            <img src="../../../assets/images/1x1px.png">
                        </div>
                    </div>

                    <ion-item-divider
                        *ngIf="currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)"
                        class="ion-text-wrap">
                        <ion-label class="question-title ion-text-wrap ion-text-center" style="width:100%;"
                            [style.color]="title_color">
                            {{question.title[userLanguage]}}
                        </ion-label>
                    </ion-item-divider>

                    <!-- <ion-item-divider> -->
                    <div class="infobooth"
                        *ngIf="question.infobooth[userLanguage] !== undefined 
              && question.infobooth[userLanguage] !== null
              && question.infobooth[userLanguage] !== '' && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">
                        <small>
                            <p [innerHTML]="question.infobooth[userLanguage] | safeHtml"></p>
                        </small>
                    </div>
                    <!-- </ion-item-divider> -->

                    <div class="questions-to-user"
                        *ngIf="question.type == 'oneSelect' && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">
                        <div (click)="presentToast(question.answered)">
                            <ion-list>
                                <ion-radio-group [(ngModel)]="result[i]" [ngModelOptions]="{standalone: true}"
                                    ngDefaultControl>
                                    <div *ngFor="let option of question.answers; let o = index">

                                        <!-- exibe normalmente -->
                                        <ion-item lines="none"
                                            *ngIf="!(option.showFalse && !option.correct) && !(question.showTrue && option.correct)"
                                            class="justify-text ion-color">
                                            <ion-label class="option-size ion-text-wrap"
                                                [style.color]="content_text_color">{{option.answer[userLanguage]}}
                                            </ion-label>
                                            <ion-radio value="{{option.uid}}"
                                                [disabled]="question.answered == true && quiz.change_answer == false">
                                            </ion-radio>
                                        </ion-item>

                                        <!-- exibe como resposta incorreta -->
                                        <ion-item lines="none" *ngIf="option.showFalse && !option.correct"
                                            class="justify-text ion-color incorrect-answer">
                                            <ion-label class="option-size ion-text-wrap"
                                                [style.color]="content_text_color">{{option.answer[userLanguage]}}
                                            </ion-label>
                                            <ion-radio value="{{option.uid}}"
                                                [disabled]="question.answered == true && quiz.change_answer == false">
                                            </ion-radio>
                                        </ion-item>

                                        <!-- exibe como resposta correta -->
                                        <ion-item lines="none" *ngIf="question.showTrue && option.correct"
                                            class="justify-text ion-color correct-answer">
                                            <ion-label class="option-size ion-text-wrap"
                                                [style.color]="content_text_color">{{option.answer[userLanguage]}}
                                            </ion-label>
                                            <ion-radio value="{{option.uid}}"
                                                [disabled]="question.answered == true && quiz.change_answer == false">
                                            </ion-radio>
                                        </ion-item>
                                    </div>
                                </ion-radio-group>
                            </ion-list>
                        </div>
                        <br>
                    </div>

                    <div class="questions-to-user"
                        *ngIf="question.type == 'multipleSelect' && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">

                        <ion-list (click)="presentToast(question.answered)">
                            <div *ngFor="let option of question.answers; let t = index">
                                <!-- exibe normalmente -->
                                <ion-item lines="none"
                                    *ngIf="!(option.showFalse && !option.correct) && !(question.showTrue && option.correct)"
                                    class="justify-text ion-color">
                                    <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                        {{option.answer[userLanguage]}}
                                    </ion-label>
                                    <ion-checkbox [(ngModel)]="result[i][t]" [ngModelOptions]="{standalone: true}"
                                        [disabled]="question.answered == true && quiz.change_answer == false"
                                        ngDefaultControl>
                                    </ion-checkbox>
                                </ion-item>

                                <!-- exibe como resposta incorreta -->
                                <ion-item lines="none" *ngIf="option.showFalse && !option.correct"
                                    class="justify-text ion-color incorrect-answer">
                                    <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                        {{option.answer[userLanguage]}}
                                    </ion-label>
                                    <ion-checkbox [(ngModel)]="result[i][t]" [ngModelOptions]="{standalone: true}"
                                        [disabled]="question.answered == true && quiz.change_answer == false"
                                        ngDefaultControl>
                                    </ion-checkbox>
                                </ion-item>

                                <!-- exibe como resposta correta -->
                                <ion-item lines="none" *ngIf="question.showTrue && option.correct"
                                    class="justify-text ion-color correct-answer">
                                    <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                        {{option.answer[userLanguage]}}
                                    </ion-label>
                                    <ion-checkbox [(ngModel)]="result[i][t]" [ngModelOptions]="{standalone: true}"
                                        [disabled]="question.answered == true && quiz.change_answer == false"
                                        ngDefaultControl>
                                    </ion-checkbox>
                                </ion-item>
                            </div>
                        </ion-list>
                        <br>
                    </div>

                    <br>
                    <div class="align-buttons-quiz">
                        <ion-button shape="round" class="btn-default btn-custom-shape ion-color"
                            [style.background]="menu_color" [style.color]="menu_text_color"
                            *ngIf="!question.answered || (quiz.change_answer && !currentQuestion.showResult)"
                            (click)="sendQuiz(question, i)">
                            {{"global.buttons.answer" | translate}}
                        </ion-button>

                        <button class="arrow-btn" [style.background]="menu_color" [style.color]="menu_text_color"
                            *ngIf="quiz.questions.length > 1" (click)="slidePrevious()">
                            <ion-icon class="icon-size-arrow" name="arrow-back"></ion-icon>
                        </button>

                        &nbsp;

                        <button class="arrow-btn" [style.background]="menu_color" [style.color]="menu_text_color"
                            *ngIf="quiz.questions.length > 1" (click)="slideNext()">
                            <ion-icon class="icon-size-arrow" name="arrow-forward"></ion-icon>
                        </button>
                    </div>
                </ion-slide>
            </ion-slides>
            <!-- </ion-list> -->

        </form>

    </div>
</ion-content>

<!-- Component mode -->
<div *ngIf="componentMode && setResultVerify" class="background">
    <ion-row class="ion-justify-content-start ion-align-items-center" *ngIf="quiz && backToList">
        <!-- <ion-col size="3"> -->
        <ion-icon class="back-icon" name="arrow-back" [style.color]="title_color" (click)="goBackToList()">
        </ion-icon>
        <!-- </ion-col>
                        <ion-col size="9">
                            <ion-label class="question-title ion-text-wrap ion-text-center" [style.color]="title_color">
                                {{surveyName[userLanguage]}}
                            </ion-label>
                        </ion-col> -->
    </ion-row>

    <!-- Progress Bar -->
    <span class="percent-align-center" [style.color]="menu_color">
        {{indexSlide + 1}} {{"global.texts.of" | translate}} {{quiz.questions.length}}
    </span>
    <div class="progress-outer">
        <div class="progress-inner" [style.width]="progress + '%'" [style.background]="menu_color">
        </div>
    </div>

    <div id="countdown" *ngIf="quiz.active_timer">
        <div id="countdown-number" [style.color]="menu_color">{{counter}}</div>
        <svg>
            <circle r="18" cx="20" cy="20" [style.stroke]="menu_color"></circle>
        </svg>
    </div>
    <div class="spacer"></div>

    <form *ngIf="quiz">
        <ion-slides #mySlider>
            <ion-slide *ngFor="let question of quiz.questions; let i = index">

                <app-quiz-result *ngIf="currentQuestion && quiz && moduleId && currentQuestion.showResult"
                    [question]="currentQuestion" [quiz]="quiz" [moduleId]="moduleId">
                </app-quiz-result>

                <div class="container-image-question"
                    *ngIf="question.image != null && question.image != undefined && (!currentQuestion.showResult || !question.graphicDifusion)">
                    <div class="image-question" [ngStyle]="{'background-image':'url('+ question.image +')'}">
                        <img src="../../../assets/images/1x1px.png">
                    </div>
                </div>

                <ion-item-divider *ngIf="currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)"
                    class="ion-text-wrap">
                    <ion-label class="question-title ion-text-wrap ion-text-center" style="width:100%;"
                        [style.color]="title_color">
                        {{question.title[userLanguage]}}
                    </ion-label>
                </ion-item-divider>

                <div class="infobooth"
                    *ngIf="question.infobooth[userLanguage] !== undefined 
                  && question.infobooth[userLanguage] !== null
                  && question.infobooth[userLanguage] !== '' && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">
                    <small>
                        <p [innerHTML]="question.infobooth[userLanguage] | safeHtml"></p>
                    </small>
                </div>

                <div class="questions-to-user"
                    *ngIf="question.type == 'oneSelect' && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">
                    <div (click)="presentToast(question.answered)">
                        <ion-list>
                            <ion-radio-group [(ngModel)]="result[i]" [ngModelOptions]="{standalone: true}"
                                ngDefaultControl>
                                <div *ngFor="let option of question.answers; let o = index">

                                    <ion-item lines="none"
                                        *ngIf="!(option.showFalse && !option.correct) && !(question.showTrue && option.correct)"
                                        class="justify-text ion-color">
                                        <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                            {{option.answer[userLanguage]}}
                                        </ion-label>
                                        <ion-radio value="{{option.uid}}"
                                            [disabled]="question.answered == true && quiz.change_answer == false">
                                        </ion-radio>
                                    </ion-item>

                                    <ion-item lines="none" *ngIf="option.showFalse && !option.correct"
                                        class="justify-text ion-color incorrect-answer">
                                        <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                            {{option.answer[userLanguage]}}
                                        </ion-label>
                                        <ion-radio value="{{option.uid}}"
                                            [disabled]="question.answered == true && quiz.change_answer == false">
                                        </ion-radio>
                                    </ion-item>

                                    <ion-item lines="none" *ngIf="question.showTrue && option.correct"
                                        class="justify-text ion-color correct-answer">
                                        <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                            {{option.answer[userLanguage]}}
                                        </ion-label>
                                        <ion-radio value="{{option.uid}}"
                                            [disabled]="question.answered == true && quiz.change_answer == false">
                                        </ion-radio>
                                    </ion-item>
                                </div>
                            </ion-radio-group>
                        </ion-list>
                    </div>
                    <br>
                </div>

                <div class="questions-to-user"
                    *ngIf="question.type == 'multipleSelect' && currentQuestion && (!currentQuestion.showResult || !question.graphicDifusion)">

                    <ion-list (click)="presentToast(question.answered)">
                        <div *ngFor="let option of question.answers; let t = index">
                            <ion-item lines="none"
                                *ngIf="!(option.showFalse && !option.correct) && !(question.showTrue && option.correct)"
                                class="justify-text ion-color">
                                <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                    {{option.answer[userLanguage]}}
                                </ion-label>
                                <ion-checkbox [(ngModel)]="result[i][t]" [ngModelOptions]="{standalone: true}"
                                    [disabled]="question.answered == true && quiz.change_answer == false"
                                    ngDefaultControl>
                                </ion-checkbox>
                            </ion-item>

                            <ion-item lines="none" *ngIf="option.showFalse && !option.correct"
                                class="justify-text ion-color incorrect-answer">
                                <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                    {{option.answer[userLanguage]}}
                                </ion-label>
                                <ion-checkbox [(ngModel)]="result[i][t]" [ngModelOptions]="{standalone: true}"
                                    [disabled]="question.answered == true && quiz.change_answer == false"
                                    ngDefaultControl>
                                </ion-checkbox>
                            </ion-item>

                            <ion-item lines="none" *ngIf="question.showTrue && option.correct"
                                class="justify-text ion-color correct-answer">
                                <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                    {{option.answer[userLanguage]}}
                                </ion-label>
                                <ion-checkbox [(ngModel)]="result[i][t]" [ngModelOptions]="{standalone: true}"
                                    [disabled]="question.answered == true && quiz.change_answer == false"
                                    ngDefaultControl>
                                </ion-checkbox>
                            </ion-item>
                        </div>
                    </ion-list>
                    <br>
                </div>

                <br>
                <div class="align-buttons-quiz">
                    <ion-button shape="round" class="btn-default btn-custom-shape ion-color"
                        [style.background]="menu_color" [style.color]="menu_text_color"
                        *ngIf="!question.answered || (quiz.change_answer && !currentQuestion.showResult)"
                        (click)="sendQuiz(question, i)">
                        {{"global.buttons.answer" | translate}}
                    </ion-button>

                    <button class="arrow-btn" [style.background]="menu_color" [style.color]="menu_text_color"
                        *ngIf="quiz.questions.length > 1" (click)="slidePrevious()">
                        <ion-icon class="icon-size-arrow" name="arrow-back"></ion-icon>
                    </button>

                    &nbsp;

                    <button class="arrow-btn" [style.background]="menu_color" [style.color]="menu_text_color"
                        *ngIf="quiz.questions.length > 1" (click)="slideNext()">
                        <ion-icon class="icon-size-arrow" name="arrow-forward"></ion-icon>
                    </button>
                </div>
            </ion-slide>
        </ion-slides>
    </form>
</div>