:host {
    width: 100%;
    height: 100%;
}

ion-col {
    display: flex;
}

.back-icon {
    font-size: 30px;
    cursor: pointer;
}

.correct-answer {
    background-color: #3fd37d !important;
}

.incorrect-answer {
    background-color: #e03838;
}

.correct-answer,
.incorrect-answer {
    font-weight: bold !important;
}

.swiper-slide {
    display: block !important;
}

.custom-ion-list {
    padding-top: 0 !important;
    background: transparent !important;
}

.align-question-title {
    width: 95vw;
    padding-right: 4px;
    text-align: center;
}

ion-item-divider {
    // width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.question-title {
    font-weight: bold;
    font-weight: 1.2em;
}

.questions-to-user {
    position: relative;
    z-index: 99999;
}

.btn-custom-shape {
    border-radius: 15px !important;
}

.arrow-btn {
    margin-top: 5%;
    padding: 13px;
    border-radius: 50%;
    font-size: 1.1em;
}

.progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 7px;
}

.progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 7px;
}

.percent-align-center {
    padding-top: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* animation */
#countdown {
    position: relative;
    margin: auto;
    height: 40px;
    width: 40px;
    text-align: center;
}

#countdown-number {
    display: inline-block;
    line-height: 40px;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    fill: none;
    animation: countdown 11s linear infinite forwards;
}

.image-question {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-image-question {
    width: 100%;
    height: 25vh;
    background-color: #ffffff;
}

.header-align {
    display: block !important;
}

ion-item-divider {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.spacer {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 6px;
}

.align-loader-custom {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    top: 30px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.infobooth {
    background-color: #ffffff;
    padding: 10px 0 0 0;
}