<!-- Page mode -->

<ion-header *ngIf="!componentMode">
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text=""> </ion-back-button>
        </ion-buttons>
        <ion-title>
            <p *ngIf="userNameTitle !== null">{{userNameTitle}}</p>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="isVisioEnabled" (click)="createVisio()">
                <ion-icon class="icon-camera" [style.color]="menu_text_color" name="videocam">
                </ion-icon>
            </ion-button>

            <ion-button *ngIf="groupId" (click)="presentPopover()">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
            <!-- <ion-button [disabled]="true"></ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-visio-conference *ngIf="showVisioWebApp && urlVisio && !componentMode" [comp]="'chat'" [eventId]="eventId"
    [joined]="true" [urlVisio]="urlVisio" [allowChat]="true" [allowScreenshare]="true" [allowLeave]="true"
    (closeVisioEvent)="onCloseVisio()">
</app-visio-conference>

<ion-content *ngIf="!componentMode" #msgs>
    <ng-container *ngIf="messages$ | async as messages">

        <div class="background">
            <div class="message-wrap" *ngIf="messages.length >= 1">
                <div tabindex="1" *ngFor="let msg of messages; let i = index"
                    [class]="msg.from_user === global.userId ? 'left message' : 'right message'">
                    <img class="user-img" [src]="msg.send_from_user_photo"
                        *ngIf="msg.send_from_user_photo !== '' && msg.send_from_user_photo !== null && msg.send_from_user_photo !== undefined" />
                    <ngx-avatar class="user-img" name="{{msg.send_from_user_name}}" initialsSize="2"
                        *ngIf="msg.send_from_user_photo == '' || msg.send_from_user_photo == null || msg.send_from_user_photo == undefined"
                        size="50">
                    </ngx-avatar>
                    <div class="msg-detail">
                        <div class="msg-info">
                            <p>
                                {{msg.send_from_user_name}}
                                &nbsp;&nbsp;&nbsp;{{convertTimestampToDate(msg.send_at)}}
                            </p>
                        </div>
                        <div class="msg-content" [style.background-color]="getColorFromUID(msg.from_user)">
                            <div *ngIf="!msg.url">
                                <span class="triangle"></span>
                                <img class="msg-picture" src="{{msg.message_picture}}"
                                    *ngIf="msg.message_picture !== null && msg.message_picture !== ''" />
                                <p class="line-breaker">{{msg.message}}</p>
                            </div>
                            <div class="visio-message-container" *ngIf="msg.url">
                                <ion-icon *ngIf="msg.url != 'leaved'" class="call-received-icon"
                                    [style.color]="menu_color" name="call"></ion-icon>
                                <ion-icon *ngIf="msg.url == 'leaved'" class="call-exit-icon" [style.color]="menu_color"
                                    name="exit"></ion-icon>
                                <div *ngIf="msg.url != 'leaved'" class="message-container">
                                    <span class="line-breaker" style="margin-bottom: 10px;">
                                        {{ 'global.texts.visio-launched' |
                                        translate }}</span>
                                    <span (click)="onOpenVisio()" class="btn-join-visio"
                                        [style.background-color]="title_color">
                                        {{"global.texts.join-visio" |
                                        translate}}
                                    </span>
                                </div>
                                <span *ngIf="msg.url == 'leaved'" class="line-breaker">
                                    {{ 'global.texts.visio-leaved' | translate
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="no-msgs" *ngIf="messages.length <= 0">
                <span>{{"pages.chat.no_messages" | translate}}</span>
            </div>
        </div>
    </ng-container>
</ion-content>

<ion-footer *ngIf="!componentMode" no-border>
    <div class="pre-send-img-container" *ngIf="fileUrl !== null && fileUrl !== ''">
        <img class="pre-send-img-pic" src="{{fileUrl}}">
        <br><br>
    </div>
    <div class="align-loader" *ngIf="loaderUploadPic == true">
        <div class="loader-default"></div>
    </div>
    <div class="input-wrap">
        <ion-textarea #chatInput placeholder='{{"pages.chat.type_msg" | translate}}' [(ngModel)]="message"
            (keyup.enter)="sendMsg()"></ion-textarea>
        <ion-buttons slot="end">
            <ion-button *ngIf="isMobile" slot="icon-only" (click)="getImageToSend()">
                <ion-icon name="image" class="icon-not-send" [style.color]="'red'"></ion-icon>
            </ion-button>
            <div class="upload-btn-wrapper" *ngIf="!isMobile">
                <input id="picFromWeb" class="input-file" name="picFromWeb" type="file" accept="image/*"
                    (change)="getImageToSendFromWeb($event)" />
                <label for="picFromWeb">
                    <ion-icon name="image" class="icon-not-send"></ion-icon>
                </label>
            </div>
            <ion-button slot="icon-only" (click)="sendMsg()" *ngIf="message !== '' || fileUrl !== ''">
                <ion-icon name="send" class="send-icon" [style.color]="menu_color"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
</ion-footer>

<!-- Component mode -->

<div class="main-container-mode-component" [class.main-container-mode-component-mobile]="isMobile"
    *ngIf="componentMode">
    <div class="back-button-container">
        <ion-icon class="back-icon" name="arrow-back" [style.color]="title_color" (click)="goBackToList()">
        </ion-icon>
    </div>
    <ng-container *ngIf="messages$ | async as messages">
        <div class="background-mode-component">
            <div #msgsComponentMode class="message-wrap" *ngIf="messages.length >= 1">
                <div tabindex="1" *ngFor="let msg of messages; let i = index"
                    [class]="msg.from_user === global.userId ? 'left message' : 'right message'">
                    <img class="user-img" [src]="msg.send_from_user_photo"
                        *ngIf="msg.send_from_user_photo !== '' && msg.send_from_user_photo !== null && msg.send_from_user_photo !== undefined" />
                    <ngx-avatar class="user-img" name="{{msg.send_from_user_name}}" initialsSize="2"
                        *ngIf="msg.send_from_user_photo == '' || msg.send_from_user_photo == null || msg.send_from_user_photo == undefined"
                        size="50">
                    </ngx-avatar>
                    <div class="msg-detail">
                        <div class="msg-info">
                            <p>
                                {{msg.send_from_user_name}}
                                &nbsp;&nbsp;&nbsp;{{convertTimestampToDate(msg.send_at)}}
                            </p>
                        </div>
                        <div class="msg-content" [style.background-color]="getColorFromUID(msg.from_user)">
                            <div *ngIf="!msg.url">
                                <span class="triangle"></span>
                                <img class="msg-picture" src="{{msg.message_picture}}"
                                    *ngIf="msg.message_picture !== null && msg.message_picture !== ''" />
                                <p class="line-breaker">{{msg.message}}</p>
                            </div>
                            <div class="visio-message-container" *ngIf="msg.url">
                                <ion-icon *ngIf="msg.url != 'leaved'" class="call-received-icon"
                                    [style.color]="menu_color" name="call"></ion-icon>
                                <ion-icon *ngIf="msg.url == 'leaved'" class="call-exit-icon" [style.color]="menu_color"
                                    name="exit"></ion-icon>
                                <div *ngIf="msg.url != 'leaved'" class="message-container">
                                    <span class="line-breaker" style="margin-bottom: 10px;">
                                        {{ 'global.texts.visio-launched' |
                                            translate }}</span>
                                    <span (click)="onOpenVisio()" class="btn-join-visio"
                                        [style.background-color]="title_color">
                                        {{"global.texts.join-visio" |
                                            translate}}
                                    </span>
                                </div>
                                <span *ngIf="msg.url == 'leaved'" class="line-breaker">
                                    {{ 'global.texts.visio-leaved' | translate
                                        }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="no-msgs" *ngIf="messages.length <= 0">
                <span>{{"pages.chat.no_messages" | translate}}</span>
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="componentMode" class="chat-footer-sticky-component-mode">
    <div class="pre-send-img-container" *ngIf="fileUrl !== null && fileUrl !== ''">
        <img class="pre-send-img-pic" src="{{fileUrl}}">
        <br><br>
    </div>
    <div class="align-loader" *ngIf="loaderUploadPic == true">
        <div class="loader-default"></div>
    </div>
    <div class="input-wrap">
        <ion-textarea #chatInput placeholder='{{"pages.chat.type_msg" | translate}}' [(ngModel)]="message"
            (keyup.enter)="sendMsg()"></ion-textarea>
        <ion-buttons slot="end">
            <ion-button *ngIf="isMobile" slot="icon-only" (click)="getImageToSend()">
                <ion-icon name="image" class="icon-not-send" [style.color]="'red'"></ion-icon>
            </ion-button>
            <div class="upload-btn-wrapper" *ngIf="!isMobile">
                <input id="picFromWeb" class="input-file" name="picFromWeb" type="file" accept="image/*"
                    (change)="getImageToSendFromWeb($event)" />
                <label for="picFromWeb">
                    <ion-icon name="image" class="icon-not-send"></ion-icon>
                </label>
            </div>
            <ion-button slot="icon-only" (click)="sendMsg()" *ngIf="message !== '' || fileUrl !== ''">
                <ion-icon name="send" class="send-icon" [style.color]="menu_color"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
</div>