:host {
    height: 100%;
    width: 100%;
}

// Component mode part

.chat-footer-sticky-component-mode {
    position: sticky;
    bottom: 0;
    background-color: white;
    max-height: 75px;
    width: 100%;
}

.background-mode-component {
    height: 100%;
    background: #f6f6f6;
}

.main-container-mode-component {
    height: calc(100% - 75px);
    width: 100%;
}

.main-container-mode-component-mobile {
    height: 400px !important;
    width: 100%;
}

.back-button-container {
    position: absolute;
    top: 65px;
    left: 20px;
    z-index: 9999;
    background: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .back-icon {
        font-size: 30px;
        cursor: pointer;
    }
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-btn-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;

    label {
        display: flex;
    }
}

.input-wrap {
    padding: 5px;
    display: flex;

    textarea {
        flex: 1;
        border: 0;
        border-bottom: 1px rgba(0, 0, 0, 0.3);
        border-style: solid;
    }
}

.pre-send-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.pre-send-img-pic {
    height: 30%;
    max-height: 200px;
    object-fit: cover;
}

.background {
    position: relative;
}

.visio-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .call-received-icon,
    .call-exit-icon {
        font-size: 25px;
        margin-right: 20px;
    }

    .message-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.btn-join-visio {
    font-size: 0.95em;
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    color: white;
    cursor: pointer;
}

.icon-camera {
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.icon-camera:hover {
    opacity: 0.9;
}

.line-breaker {
    white-space: pre-line;
}

a.line-breaker {
    cursor: pointer;
    pointer-events: all;
}

.icon-not-send {
    color: rgba(0, 0, 0, 0.3);
    font-size: 26px;
    cursor: pointer;
}

.send-icon {
    cursor: pointer;
}

.message-wrap {
    padding: 5px 10px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: auto;

    .message {
        position: relative;
        padding: 7px 0;
        outline: none !important;

        .user-img {
            position: absolute;
            border-radius: 45px;
            object-fit: cover;
            object-position: center;
            width: 45px;
            height: 45px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        }

        .msg-detail {
            width: 100%;
            display: inline-block;

            p {
                margin: 0;
            }

            .msg-info {
                p {
                    font-size: 0.8em;
                    color: #888;
                }
            }

            .msg-content {
                position: relative;
                margin-top: 5px;
                border-radius: 5px;
                padding: 8px;
                border: 1px solid #ddd;
                color: #1f1f1f;
                width: auto;
                max-width: 80%;
            }

            .msg-picture {
                width: 100%;
                margin: 0 auto;
                display: block;
                border-radius: 10px;
                height: 130px;
                object-fit: cover;
                margin-bottom: 5px;
            }
        }
    }

    .message.left {
        .msg-content {
            background-color: rgba(224, 247, 245, 0.3);
            float: left;
        }

        .msg-detail {
            padding-left: 60px;
        }

        .user-img {
            left: 0;
            object-fit: cover;
        }

        .msg-content {
            color: #343434;

            span.triangle {
                border-top-width: 0;
                border-right-width: 0;
                left: -5px;
            }
        }
    }

    .message.right {
        .msg-detail {
            padding-right: 60px;

            .msg-info {
                text-align: right;
            }
        }

        .user-img {
            right: 0;
        }

        ion-spinner {
            position: absolute;
            right: 10px;
            top: 50px;
        }

        .msg-content {
            background-color: #eafae0;
            float: right;

            span.triangle {
                background-color: #eafae0;
                border-bottom-width: 0;
                border-left-width: 0;
                right: -5px;
            }
        }
    }
}

.no-msgs {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-footer {
    background-color: white;
}