.select-td {
    width: 1px !important;
    margin: 0 !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.drag-icon {
    position: relative;
    top: 5px;
    cursor: grab;
    color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag-icon:active {
    cursor: grabbing;
}