<div class="orders" *ngIf="folderView == false">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>

                    <div class="float-right">
                        <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#addFolder">{{"global.btn_new_folder"
                                          | translate}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label> &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete" (click)="removeSelected()">
                                {{"global.delete_selecteds" | translate}}
                            </button>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group float-right">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                                <option value="custom">{{"global.custom" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="align-loader" *ngIf="loader == true">
                <div class="loader-default"></div>
            </div>

            <div class="onReorder-btn-save text-center" *ngIf="onReorderShow == true">
                <div class="alert alert-light" *ngIf="loaderGeneral == false">
                    {{"global.remind_save_changes" | translate}}
                    <br>
                    <button class="btn btn-custom btn-margin-top"
                        (click)="saveReorder()">{{"global.btn_save" | translate}}</button>
                </div>

                <div class="align-loader" *ngIf="loaderGeneral == true">
                    <div class="loader-default"></div>
                </div>
                <br>
            </div>

            <div class="card" *ngIf="folders.length >= 1 && !loader">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"global.document" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody [dragula]='"bag-folders-list"' [dragulaModel]='folders'>
                                <tr *ngFor="let folder of folders | filter: term; let i = index">
                                    <td class="select-td">
                                        <div class="form-check">
                                            <input [(ngModel)]="foldersSelected[folder.uid]" class="form-check-input"
                                                type="checkbox" id="selectImages">
                                        </div>
                                    </td>
                                    <td>
                                        <i class="material-icons drag-icon">drag_indicator</i>
                                        <span *ngIf="userLanguage == 'pt_BR'">{{folder.name.PtBR}}</span>
                                        <span *ngIf="userLanguage == 'en_US'">{{folder.name.EnUS}}</span>
                                        <span *ngIf="userLanguage == 'es_ES'">{{folder.name.EsES}}</span>
                                        <span *ngIf="userLanguage == 'fr_FR'">{{folder.name.FrFR}}</span>
                                        <span *ngIf="userLanguage == 'de_DE'">{{folder.name.DeDE}}</span>
                                    </td>
                                    <td>
                                        <a (click)="getFolderEdit(folder)" data-toggle="modal"
                                            data-target="#editFolder"><i
                                                class="material-icons default-icon">create</i></a>
                                        <a (click)="folderView=true" routerLink="folder/{{folder.uid}}"><i
                                                class="material-icons default-icon">folder</i></a>
                                        <a (click)="getFolderDelete(folder.uid)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="folderView == true">
    <router-outlet></router-outlet>
</div>

<!-- Modal New Folder -->
<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-labelledby="addFolderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> <strong>{{"global.btn_add" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <!-- {{eventLanguage}} - {{activeLanguage}} - {{languages.PtBR}} -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngIf="languages?.PtBR">
                        <a class="nav-link {{eventLanguage == 'pt_BR' ? 'active' : ''}}"
                            (click)="activeLanguage = 'PtBR'" id="translate-pt-tab" data-toggle="tab"
                            href="#translate-pt" role="tab" aria-controls="translate-pt"
                            aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EnUS">
                        <a class="nav-link {{eventLanguage == 'en_US' ? 'active' : ''}}"
                            (click)="activeLanguage = 'EnUS'" id="translate-en-tab" data-toggle="tab"
                            href="#translate-en" role="tab" aria-controls="translate-en"
                            aria-selected="false">{{"comp.event_info.english" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EsES">
                        <a class="nav-link {{eventLanguage == 'es_ES' ? 'active' : ''}}"
                            (click)="activeLanguage = 'EsES'" id="translate-es-tab" data-toggle="tab"
                            href="#translate-es" role="tab" aria-controls="translate-es"
                            aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.FrFR">
                        <a class="nav-link {{eventLanguage == 'fr_FR' ? 'active' : ''}}"
                            (click)="activeLanguage = 'FrFR'" id="translate-fr-tab" data-toggle="tab"
                            href="#translate-fr" role="tab" aria-controls="translate-fr"
                            aria-selected="false">{{"comp.event_info.french" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.DeDE">
                        <a class="nav-link {{eventLanguage == 'de_DE' ? 'active' : ''}}"
                            (click)="activeLanguage = 'DeDE'" id="translate-de-tab" data-toggle="tab"
                            href="#translate-de" role="tab" aria-controls="translate-de"
                            aria-selected="false">{{"comp.event_info.german" | translate}}</a>
                    </li>
                </ul>
                <br>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade {{eventLanguage == 'pt_BR' ? 'show active' : ''}}" id="translate-pt"
                        role="tabpanel" aria-labelledby="translate-pt-tab">
                        <div class="form-group" *ngIf="languages?.PtBR">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['PtBR']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'en_US' ? 'show active' : ''}}" id="translate-en"
                        role="tabpanel" aria-labelledby="translate-en-tab">
                        <div class="form-group" *ngIf="languages?.EnUS">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['EnUS']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'es_ES' ? 'show active' : ''}}" id="translate-es"
                        role="tabpanel" aria-labelledby="translate-es-tab">
                        <div class="form-group" *ngIf="languages?.EsES">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['EsES']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'fr_FR' ? 'show active' : ''}}" id="translate-fr"
                        role="tabpanel" aria-labelledby="translate-fr-tab">
                        <div class="form-group" *ngIf="languages?.FrFR">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['FrFR']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'de_DE' ? 'show active' : ''}}" id="translate-de"
                        role="tabpanel" aria-labelledby="translate-de-tab">
                        <div class="form-group" *ngIf="languages?.DeDE">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['DeDE']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-custom float-right" (click)="createFolder()" *ngIf="loadingCreate == false">
                    {{"global.btn_create" | translate}}
                </button>
                <div class="align-loader" *ngIf="loadingCreate == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal Edit Folder Name -->
<div class="modal fade" id="editFolder" tabindex="-1" role="dialog" aria-labelledby="editFolderLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> <strong>{{"global.edit" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTabEdit" role="tablist">
                    <li class="nav-item" *ngIf="languages?.PtBR">
                        <a class="nav-link {{eventLanguage == 'pt_BR' ? 'active' : ''}}"
                            (click)="activeLanguage = 'PtBR'" id="translate-pt-edit-tab" data-toggle="tab"
                            href="#translate-pt-edit" role="tab" aria-controls="translate-pt"
                            aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EnUS">
                        <a class="nav-link {{eventLanguage == 'en_US' ? 'active' : ''}}"
                            (click)="activeLanguage = 'EnUS'" id="translate-en-edit-tab" data-toggle="tab"
                            href="#translate-en-edit" role="tab" aria-controls="translate-en"
                            aria-selected="false">{{"comp.event_info.english" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EsES">
                        <a class="nav-link {{eventLanguage == 'es_ES' ? 'active' : ''}}"
                            (click)="activeLanguage = 'EsES'" id="translate-es-edit-tab" data-toggle="tab"
                            href="#translate-es-edit" role="tab" aria-controls="translate-es"
                            aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.FrFR">
                        <a class="nav-link {{eventLanguage == 'fr_FR' ? 'active' : ''}}"
                            (click)="activeLanguage = 'FrFR'" id="translate-fr-edit-tab" data-toggle="tab"
                            href="#translate-fr-edit" role="tab" aria-controls="translate-fr"
                            aria-selected="false">{{"comp.event_info.french" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.DeDE">
                        <a class="nav-link {{eventLanguage == 'de_DE' ? 'active' : ''}}"
                            (click)="activeLanguage = 'DeDE'" id="translate-de-edit-tab" data-toggle="tab"
                            href="#translate-de-edit" role="tab" aria-controls="translate-de"
                            aria-selected="false">{{"comp.event_info.german" | translate}}</a>
                    </li>
                </ul>
                <br>


                <div class="tab-content" id="myTabEditContent">
                    <div class="tab-pane fade {{eventLanguage == 'pt_BR' ? 'show active' : ''}}" id="translate-pt-edit"
                        role="tabpanel" aria-labelledby="translate-pt-edit-tab">
                        <div class="form-group" *ngIf="languages?.PtBR">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['PtBR']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'en_US' ? 'show active' : ''}}" id="translate-en-edit"
                        role="tabpanel" aria-labelledby="translate-en-edit-tab">
                        <div class="form-group" *ngIf="languages?.EnUS">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['EnUS']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'es_ES' ? 'show active' : ''}}" id="translate-es-edit"
                        role="tabpanel" aria-labelledby="translate-es-edit-tab">
                        <div class="form-group" *ngIf="languages?.EsES">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['EsES']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'fr_FR' ? 'show active' : ''}}" id="translate-fr-edit"
                        role="tabpanel" aria-labelledby="translate-fr-edit-tab">
                        <div class="form-group" *ngIf="languages?.FrFR">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['FrFR']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'de_DE' ? 'show active' : ''}}" id="translate-de-edit"
                        role="tabpanel" aria-labelledby="translate-de-edit-tab">
                        <div class="form-group" *ngIf="languages?.DeDE">
                            <label>{{"global.name" | translate}}</label>
                            <input type="text" class="form-control"
                                placeholder='{{"global.placeholder_name" | translate}}'
                                [(ngModel)]="folderName['DeDE']">

                            <div class="alert alert-danger" role="alert" *ngIf="folderNameRequired == true">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-custom float-right" (click)="editFolder()" *ngIf="loadingCreate == false">
                    {{"global.btn_save" | translate}}
                </button>
                <div class="align-loader" *ngIf="loadingCreate == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteFolder()">
</swal>