<ion-header no-border>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title *ngIf="!searchOpen">
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}'
            (ionCancel)="searchOpen=false" (keyup)=filterSessionsByName($event)>
        </ion-searchbar>

        <ion-buttons slot="end">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="ion-color" [style.background]="menu_color">
        <ion-slides pager="false" [options]="slideOpts">
            <ion-slide>
                <span class="{{activeDate == 'all' ? 'date-circle-selected' : 'date-circle'}}"
                    [style.color]="menu_text_color" [style.borderColor]="menu_text_color"
                    (click)="filterByDate('all')">{{"global.texts.all" | translate}}</span>
            </ion-slide>
            <ion-slide *ngFor="let date of dates; let i = index">
                <span class="{{activeDate == date ? 'date-circle-selected' : 'date-circle'}}"
                    [style.color]="menu_text_color" [style.borderColor]="menu_text_color"
                    (click)="filterByDate(date)">{{date}}</span>
            </ion-slide>
        </ion-slides>
        <!-- <ion-item lines="none">
            <ion-label>{{"global.texts.filter" | translate}}</ion-label>
            <ion-select interface="action-sheet" placeholder="Select One" value="all" (ionChange)="filterByDate($event)"
                [cancelText]='cancelTxt'>
                <ion-select-option value="all">{{"global.texts.all" | translate}}</ion-select-option>
                <ion-select-option *ngFor="let date of dates; let i = index" [value]="date">{{date}}</ion-select-option>
            </ion-select>
        </ion-item> -->
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="wrapper" *ngIf="!loader">
        <div class="background">
            <ion-virtual-scroll [items]="sessions" [headerFn]="dateHeader">
                <ion-item-divider class="ion-color" *virtualHeader="let header">
                    <span [style.color]="title_color">{{ header }}</span>
                </ion-item-divider>
                <ion-item lines="none" *virtualItem="let session"
                    routerLink="/event/{{eventId}}/schedule-detail/{{session.moduleId}}/{{session.uid}}"
                    [style.background]="bg_content_color">
                    <div class="session-date">
                        <span class="time" [style.color]="text_content_color">
                            {{session.startTime}}
                            <span *ngIf="session.endTime"> <br>
                                {{session.endTime}}</span>
                        </span>
                        &nbsp;&nbsp;&nbsp;
                    </div>

                    <div class="divider"></div>

                    <div class="session-details">
                        <p class="name" [style.color]="title_color">
                            <span class="title"
                                [style.color]="menu_color">{{session | getNameSession: [userLanguage, eventLanguage]}}</span>
                            <span *ngIf="session.locations.length >= 1">
                                <br>
                                <small class="local" *ngFor="let location of session.locations"
                                    [style.color]="link_color">
                                    <ion-icon name="pin"></ion-icon>&nbsp;{{location.name}}
                                </small>
                            </span>
                            <span *ngIf="session.tracks.length >= 1">
                                <br>
                                <small class="track-name" *ngFor="let track of session.tracks"
                                    [style.color]="track.txtColor" [style.background]="track.bgColor">
                                    {{track.name[userFormatedLang]}}
                                </small>
                            </span>
                        </p>
                    </div>
                </ion-item>
            </ion-virtual-scroll>


            <ion-infinite-scroll threshold="100px" (ionInfinite)="moreSessions($event)">
                <ion-infinite-scroll-content loadingSpinner="dots">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>

    <!-- await loading sessions list -->
    <div class="background" *ngIf="loader">
        <ion-item-divider>
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
        </ion-item-divider>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <ion-avatar slot="start">
                <ion-skeleton-text style="width: 10%"></ion-skeleton-text>
                <ion-skeleton-text style="width: 10%"></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <h3>
                    <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
                </h3>
                <h3>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </h3>
            </ion-label>
        </ion-item>
    </div>
</ion-content>