.card-custom {
    border-radius: 0 !important;
    background: #ffffff;
    margin: 0 auto !important;
    background: #ffffff;
}

.light-color {
    background: #ffffff;
}

.no-avatar-align {
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}

.no-bg {
    background: transparent !important;
}

.flex-align {
    display: flex;
    justify-content: center;
}

.name {
    font-weight: bold;
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.companie-title {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}

.social-icons {
    font-size: 1.7em;
    text-align: center;
}

.linkedin {
    color: #0077b5;
    padding-right: 2px;
}

.twitter {
    color: #1da1f2;
    padding-right: 2px;
}

.facebook {
    color: #3b5998;
    padding-right: 2px;
}

.instagram {
    color: #c13584;
    padding-right: 2px;
}

.link-site {
    color: rgba(0, 0, 0, 0.5);
}

.fields {
    margin-bottom: 8px;
}

.field-title {
    font-weight: 700;
}

.required {
    font-weight: bold;
    color: #c91f1f;
}

.upload-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.photo-icon {
    font-size: 1.2em;
}

.pic-style {
    font-size: 0.8em;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.loader-picture {
    display: flex;
    justify-content: center;
}

ion-icon {
    font-size: 2.1em !important;
}