<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start" *ngIf="!hideMenu">
            <ion-back-button mode="ios" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>
        <ion-title>
            <p>{{"global.texts.profile" | translate}}</p>
        </ion-title>

        <ion-buttons slot="end" (click)="updateUser()">
            <ion-button slot="icon-only">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end" (click)="updateUser()">
        <button ion-button color="light"> {{"global.texts.save" | translate}}</button>
    </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <div *ngIf="loader == false">
            <form [formGroup]="formValidation">
                <br>
                <div *ngIf="pictureLoader == false">
                    <div class="no-avatar-align">
                        <!-- caso o usuário não tenha selecionado uma nova foto e não tenha uma foto no storage -->
                        <ngx-avatar name="{{attendee.name}}" initialsSize="2"
                            *ngIf="(photoUrl == '' || photoUrl == undefined || photoUrl == null) && file == null"
                            size="120">
                        </ngx-avatar>
                    </div>

                    <!-- caso o usuário não tenha selecionado uma nova foto, exibi a foto do storage -->
                    <img [src]="photoUrl" class="profile-picture" (click)="openImage(photoUrl)"
                        *ngIf="(photoUrl !== '' && photoUrl !== null && photoUrl !== undefined) && file == null">

                    <!-- caso o usuário tenha selecionado uma nova foto a exibe-->
                    <img [src]="file" class="profile-picture" *ngIf="file != null">
                </div>
                <div class="loader-picture" *ngIf="pictureLoader == true">
                    <ion-spinner name="crescent" class="ion-color" [style.color]="menu_color"></ion-spinner>
                </div>

                <div class="divider-avatar"></div>
                <div *ngIf="pictureLoader == false">
                    <div class="upload-btn-wrapper" (click)="selectedImage()" *ngIf="!platformIs">
                        <a class="pic-style" [style.color]="link_color"><i
                                class="material-icons photo-icon">photo_camera</i> &nbsp; {{"global.buttons.select_picture" | translate}}</a>
                    </div>
                    <div class="upload-btn-wrapper" *ngIf="platformIs">

                        <input id="picFromWeb" class="input-file" name="picFromWeb" type="file" accept="image/*"
                            (change)="selectPictureFromWeb($event)" />
                        <label for="picFromWeb"><a class="pic-style" [style.color]="link_color"><i
                                    class="material-icons photo-icon">photo_camera</i>
                                &nbsp; {{"global.buttons.select_picture" | translate}}</a></label>
                    </div>
                </div>
                <br>
                <ion-card class="card-custom" [style.background]="bg_content_color">
                    <ion-card-content>
                        <div class="flex-align">
                            <ion-grid>
                                <ion-row>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.name" | translate}}
                                            <span class="required" *ngIf="fieldOptions.name.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="username-input" type="text"
                                            placeholder='{{"pages.editprofile.name_plc" | translate}}' clearInput
                                            formControlName="name">
                                        </ion-input>

                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.company" | translate}}
                                            <span class="required"
                                                *ngIf="fieldOptions.company.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="company"
                                            placeholder='{{"pages.editprofile.company_plc" | translate}}'>
                                        </ion-input>
                                    </ion-col>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color" [style.color]="title_color">
                                            {{"pages.editprofile.position" | translate}}
                                            <span class="required" *ngIf="fieldOptions.title.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="title"
                                            placeholder='{{"pages.editprofile.title_plc" | translate}}'>
                                        </ion-input>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="custom-ion-col" col-12>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.bio" | translate}}
                                            <span class="required"
                                                *ngIf="fieldOptions.description.required == true">*</span>
                                        </ion-label>
                                        <ion-textarea formControlName="description"
                                            placeholder='{{"pages.editprofile.bio_plc" | translate}}'>
                                        </ion-textarea>
                                    </ion-col>
                                </ion-row>
                                <!-- <ion-row>
                  <ion-col class="custom-ion-col" col-6>
                    <ion-label stacked [style.color]="title_color">{{"pages.editprofile.phone" | translate}}
                      <span class="required" *ngIf="fieldOptions.phone.required == true">*</span>
                    </ion-label>

                    <ion-input class="custom-input" type="phone" formControlName="phone" placeholder="(XX) 1234-5678">
                    </ion-input>
                  </ion-col>
                  <ion-col class="custom-ion-col" col-6>
                    <ion-label stacked [style.color]="title_color">{{"pages.editprofile.language" | translate}}
                    </ion-label>
                    <ion-select formControlName="language">
                      <ion-select-option value="de_DE" *ngIf="enableLangDe">{{"global.texts.de_DE" | translate}}
                      </ion-select-option>
                      <ion-select-option value="es_ES" *ngIf="enableLangEs">{{"global.texts.es_ES" | translate}}
                      </ion-select-option>
                      <ion-select-option value="en_US" *ngIf="enableLangEn">{{"global.texts.en_US" | translate}}
                      </ion-select-option>
                      <ion-select-option value="fr_FR" *ngIf="enableLangFr">{{"global.texts.fr_FR" | translate}}
                      </ion-select-option>
                      <ion-select-option value="pt_BR" *ngIf="enableLangPt">{{"global.texts.pt_BR" | translate}}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row> -->

                                <ion-row *ngFor="let item of listCustomFields; let i = index">
                                    <ion-col class="custom-ion-col" col-12
                                        *ngIf="item.exibicao == 2 || item.exibicao == 1">
                                        <!-- <div *ngIf="typeUser == 5; else customFieldSpeaker">
                      <div *ngIf="item.type == 'text'">
                        <ion-label stacked [style.color]="title_color">
                          {{item.name}}
                          <span class="required" *ngIf="item.required == true">*</span>
                        </ion-label>
                        <ion-input class="custom-input" type="text" [(ngModel)]="item.value"
                          [ngModelOptions]="{standalone: true}"
                          placeholder='{{"pages.editprofile.type_some_words" | translate}}'
                          [disabled]="item.edicao == 3 || (item.unique_edit == true && (item.initial_value != '' && item.initial_value != null && item.initial_value != undefined))">
                        </ion-input>
                      </div>

                      <div no-lines *ngIf="item.type == 'select'">
                        <ion-label [style.color]="title_color">
                          {{item.name}}
                          <span class="required" *ngIf="item.required == true">*</span>
                        </ion-label>
                        <ion-select [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
                          [disabled]="item.edicao == 3 || (item.unique_edit == true && (item.initial_value != '' && item.initial_value != null && item.initial_value != undefined))">
                          <ion-select-option value="-1">
                            {{"global.texts.select_option" | translate}}
                          </ion-select-option>
                          <ion-select-option *ngFor="let option of listCustomFieldOptions[i]" value="{{option.uid}}">
                            {{option.answer}}
                          </ion-select-option>
                        </ion-select>
                      </div>
                    </div> -->
                                        <!-- <ng-template #customFieldSpeaker> -->
                                        <div *ngIf="item.type == 'text'">
                                            <ion-label stacked [style.color]="title_color">
                                                {{item.name[userLanguage]}}
                                                <span class="required" *ngIf="item.required == true">*</span>
                                            </ion-label>
                                            <ion-input class="custom-input" type="text"
                                                [(ngModel)]="item.textValue[userLanguage]"
                                                [ngModelOptions]="{standalone: true}"
                                                placeholder='{{"pages.editprofile.type_some_words" | translate}}'
                                                [disabled]="item.edicao == 3 || (item.unique_edit == true && (item.initial_value != '' && item.initial_value != null && item.initial_value != undefined))">
                                            </ion-input>
                                        </div>

                                        <div no-lines *ngIf="item.type == 'select'">
                                            <ion-label [style.color]="title_color">
                                                {{item.name[userLanguage]}}
                                                <span class="required" *ngIf="item.required == true">*</span>
                                            </ion-label>
                                            <ion-select [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
                                                [disabled]="item.edicao == 3 || (item.unique_edit == true && (item.initial_value != '' && item.initial_value != null && item.initial_value != undefined))">
                                                <ion-select-option value="-1">
                                                    {{"global.texts.select_option" | translate}}
                                                </ion-select-option>
                                                <ion-select-option *ngFor="let option of listCustomFieldOptions[i]"
                                                    value="{{option.uid}}">
                                                    {{option.answer[userLanguage]}}
                                                </ion-select-option>
                                            </ion-select>
                                        </div>
                                        <!-- </ng-template> -->
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.site" | translate}}
                                            <span class="required" *ngIf="fieldOptions.site.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="site"
                                            placeholder="https://example.com">
                                        </ion-input>
                                    </ion-col>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.linkedin" | translate}}
                                            <span class="required"
                                                *ngIf="fieldOptions.linkedin.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="linkedin"
                                            placeholder="https://linkedin.com/in/youruser"></ion-input>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.facebook" | translate}}
                                            <span class="required"
                                                *ngIf="fieldOptions.facebook.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="facebook"
                                            placeholder="https://facebook.com/youruser"></ion-input>

                                    </ion-col>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.instagram" | translate}}
                                            <span class="required"
                                                *ngIf="fieldOptions.instagram.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="instagram"
                                            placeholder="https://instagram.com/youruser"></ion-input>

                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="custom-ion-col" col-6>
                                        <ion-label stacked [style.color]="title_color">
                                            {{"pages.editprofile.twitter" | translate}}
                                            <span class="required"
                                                *ngIf="fieldOptions.twitter.required == true">*</span>
                                        </ion-label>

                                        <ion-input class="custom-input" type="text" formControlName="twitter"
                                            placeholder="https://twitter.com/youruser"></ion-input>
                                    </ion-col>
                                    <!-- <ion-col class="custom-ion-col" col-6>
                  <ion-list no-lines>
                      <ion-label stacked>{{"pages.editprofile.language" | translate}}</ion-label>
  
                      <ion-item class="custom-ion-item">
                          <div class="language-select" [navPush]="Languages">
                              {{"pages.editprofile.language" | translate}} <ion-icon class="language-icon" name="ios-arrow-forward-outline"
                                  float-right></ion-icon>
                          </div>
                      </ion-item>
                  </ion-list>
              </ion-col> -->
                                </ion-row>

                            </ion-grid>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </div>
        <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>
    </div>



</ion-content>