.close-fake {
    padding-top: 40px;
    --background: transparent;
    display: flex;
    justify-content: center;

    ion-icon {
        font-size: 1.4rem;
    }

    margin-bottom: 5px;
}

ion-content {
    --background: rgba(37, 33, 37, 0.84);
}

ion-slides {
    height: 85%;
}

.blocked {
    color: #b3b3b3;
}

.habilited {
    color: #ffffff;
}

.btn-download {
    position: fixed;
    bottom: 7px;
    right: 7px;
    z-index: 99;
}
