<ion-content fullscreen>

  <ion-item class="close-fake" lines="none" text-center>
    <ion-buttons slot="start">
      <ion-button (click)="close()" fill="clear" color="light">
        <ion-icon name="close" slot="start"></ion-icon>
        <!-- Back -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="zoom(true)" fill="clear" color="light">
        <ion-icon name="add" slot="start"></ion-icon>
        <!-- in -->
      </ion-button>

      <!-- out -->
      <ion-button fill="clear" (click)="zoom(false)" *ngIf="zoomer">
        <ion-icon class="habilited" name="remove" slot="start"></ion-icon>
      </ion-button>
      <ion-button fill="clear" disabled *ngIf="!zoomer">
        <ion-icon class="blocked" name="remove" slot="start" *ngIf="!zoomer"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="{{ img }}">
      </div>
    </ion-slide>
  </ion-slides>

  <ion-button fill="clear" *ngIf="allowDownload" (click)="download()" class="btn-download">
    <ion-icon ion-fab name="cloud-download" size="large" *ngIf="!downloading" class="habilited"></ion-icon>
    <ion-spinner name="crescent" *ngIf="downloading"></ion-spinner>
  </ion-button>

</ion-content>