<!-- attendees -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- display the module name according to the user's language. -->
                    <!-- <h4 *ngIf="userLanguage == 'pt_BR'" class="box-title float-left">{{module?.name.PtBR}}</h4>
                    <h4 *ngIf="userLanguage == 'en_US'" class="box-title float-left">{{module?.name.EnUS}}</h4>
                    <h4 *ngIf="userLanguage == 'es_ES'" class="box-title float-left">{{module?.name.EsES}}</h4>
                    <h4 *ngIf="userLanguage == 'fr_FR'" class="box-title float-left">{{module?.name.FrFR}}</h4>
                    <h4 *ngIf="userLanguage == 'de_DE'" class="box-title float-left">{{module?.name.DeDE}}</h4> -->
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default"
                            routerLink="/event/{{eventId}}/create-attendee/{{moduleId}}">{{"global.btn_new"
              |
              translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#importModal">{{"global.btn_import"
              |
              translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#selectExportOption">{{"global.btn_export"
              |
              translate}}</button>
                        <button class="btn btn-custom-settings" data-toggle="modal" data-target="#settingsModal"><i
                                class="material-icons icon-settings">settings</i></button>
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">

                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label> &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete"
                                (click)="removeSelected()">{{"global.delete_selecteds" | translate}}</button>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                                <option value="id">ID</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" *ngIf="loader == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="avatar">{{"global.user" | translate}}</th>
                                    <th class="text-center">{{"global.title" | translate}}</th>
                                    <th class="text-center">{{"global.company" | translate}}</th>
                                    <th class="text-center">
                                        <div class="btn-group">
                                            <span class="btn-drop-custom dropdown-toggle btn-drop-att-group"
                                                data-toggle="dropdown">
                                                <span class="normal-txt">{{"global.groups" | translate}}</span>
                                                <span class="caret"></span>
                                            </span>
                                            <ul id="dropdown-menu-3" class="dropdown-menu drop-att-group" role="menu">
                                                <form>
                                                    <li class="">
                                                        <select class="selectpicker custom-select" name="groupFilter"
                                                            (change)="filterAttendeeGroup()" [(ngModel)]="groupFilter">
                                                            <option value="all" selected>
                                                                {{ "global.select_all" | translate }}</option>
                                                            <option *ngFor="let group of listGroup; let i = index"
                                                                value="{{group.uid}}">
                                                                {{group.name}}
                                                            </option>
                                                        </select>
                                                    </li>
                                                </form>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let attendee of listAttendees | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <!-- <tr> -->
                                    <td class="select-td">
                                        <div class="form-check">
                                            <input [(ngModel)]="attendeeSelected[attendee.uid]" class="form-check-input"
                                                type="checkbox" id="selectAttendeee">
                                        </div>
                                    </td>
                                    <td class="avatar">

                                        <div class="round-img align-avatar-name">
                                            <ngx-avatar size="45" initialsSize="2" name="{{attendee.name}}"
                                                *ngIf="attendee.photoUrl == ''">
                                            </ngx-avatar>
                                            <img class="rounded-circle" src="{{attendee.photoUrl}}" alt=""
                                                *ngIf="attendee.photoUrl !== ''">
                                            <span class="name">{{attendee.name}}</span>
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <!-- <span class="group-name color-blue">{{attendee.title}}</span> -->
                                        <p class=" complement-info" *ngIf="userLanguage == 'pt_BR'">
                                            {{attendee.title.PtBR}}</p>
                                        <p class="complement-info" *ngIf="userLanguage == 'en_US'">
                                            {{attendee.title.EnUS}}</p>
                                        <p class="complement-info" *ngIf="userLanguage == 'es_ES'">
                                            {{attendee.title.EsES}}</p>
                                        <p class="complement-info" *ngIf="userLanguage == 'fr_FR'">
                                            {{attendee.title.FrFR}}</p>
                                        <p class="complement-info" *ngIf="userLanguage == 'de_DE'">
                                            {{attendee.title.DeDE}}</p>
                                    </td>
                                    <td class="text-center">
                                        <!-- <span class="complement-info">{{attendee.company}}</span> -->
                                        <p class="complement-info">{{attendee.company}}</p>
                                    </td>
                                    <td>
                                        <div class="align-groups">
                                            <span *ngFor="let group of attendee.groups; let i = index"
                                                [style.background]="group.bgColor" [style.color]="group.txtColor">
                                                <p class="group-name-mini" *ngIf="i<2">{{group.name}}</p>
                                                <p *ngIf="i == attendee.groups.length -1 && (attendee.groups.length > 2)"
                                                    class="more-groups-mini">&nbsp; +{{attendee.groups.length - 2}}</p>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="complement-info">
                                        <!-- edit user infos -->
                                        <a routerLink="/event/{{eventId}}/edit-attendee/{{moduleId}}/{{attendee.uid}}"
                                            data-toggle="tooltip" data-placement="left"
                                            title='{{"comp.attendees.edit_tooltip" | translate}}'><i
                                                class="material-icons default-icon">create</i></a>
                                        <!-- send e-mail for user -->
                                        <a routerLink="#" data-toggle="modal" data-target="#sendEmailUser"><i
                                                class="material-icons default-icon"
                                                (click)="getAttendeeForSendEmail(attendee)" data-toggle="tooltip"
                                                data-placement="left"
                                                title='{{"comp.attendees.email_tooltip" | translate}}'>email</i></a>
                                        <!-- reset pass only if user have created your account -->
                                        <a [swal]="resetPassSwal" (click)="getUserResetPassword(attendee)"><i
                                                class="material-icons default-icon"
                                                *ngIf="attendee.firstAccess == false">lock</i></a>
                                        <i class="material-icons default-icon blocked-item"
                                            *ngIf="attendee.firstAccess == true" data-toggle="tooltip"
                                            data-placement="left"
                                            title='{{"comp.attendees.reset_pass_notallowed_tooltip" | translate}}'>lock</i>
                                        <!-- reset account case have login problems, correct database incosistency uids -->
                                        <a [swal]="confirmResetAccount" (click)="userResetReference=attendee"
                                            data-toggle="tooltip" data-placement="left"
                                            title='{{"comp.attendees.reset_acc_tooltip" | translate}}'>
                                            <i class="material-icons default-icon">build</i>
                                        </a>
                                        <!-- delete confirm modal show -->
                                        <a [swal]="deleteSwal"><i class="material-icons default-icon delete-icon"
                                                data-toggle="tooltip" data-placement="left"
                                                title='{{"comp.attendees.delete_tooltip" | translate}}'
                                                (click)="getRemoveAttendee(attendee.uid, i)">delete</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- /.table-stats -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align" *ngIf="loader == false">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>
<!-- /.attendees -->



<!-- modal e-mail for user -->

<div class="modal fade" id="sendEmailUser" tabindex="-1" role="dialog" aria-labelledby="sendEmailUserLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendEmailUserLabel">
                    <strong>{{"global.send_email" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.send_to" | translate}}</label>
                    <input type="text" class="form-control" value="{{emailsAttendee}}" disabled>
                </div>
                <div class="form-group">
                    <label>{{"global.title_" | translate}}</label>
                    <input type="text" class="form-control" placeholder='{{"global.title_" | translate}}'
                        [(ngModel)]="emailTitle">

                    <div class="alert alert-danger" role="alert" *ngIf="errorEmailTitle == true">
                        <span>{{"global.email_title_required" | translate}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{"global.message" | translate}}</label>
                    <ckeditor [(ngModel)]="emailBody">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                    <div class="alert alert-danger" role="alert" *ngIf="errorEmailBody == true">
                        <span>{{"global.email_body_required" | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom-cancel" data-dismiss="modal"
                    *ngIf="loaderIndividualEmail == false">{{"global.btn_cancel" | translate}}</button>
                <button type="button" class="btn btn-custom" (click)="sendEmailToAttendee()"
                    *ngIf="loaderIndividualEmail == false">{{"global.btn_send" | translate}}</button>
                <div class="align-loader" *ngIf="loaderIndividualEmail == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- IMPORT MODAL -->

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel"><strong>{{"global.btn_import" | translate}}</strong>
                    <button type="button" class="close" (click)="clearInputFile(); clearMessages();"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body text-center">
                <div class="container"
                    *ngIf="theError == false && theErrorApi == false && theErrorApiDb == false && successMsg == false">
                    <p class="import-text">
                        {{"comp.attendees.import_text_01" | translate}}
                    </p>
                    <p class="import-text">
                        {{"global.modal_help" | translate}}
                        <br>
                        <button class="btn btn-custom-outline"
                            (click)="exportTemplate()">{{"global.btn_download" | translate}}</button>
                    </p>
                    <p class="import-text">
                        <strong>*</strong> {{"comp.attendees.import_text_02" | translate}}
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <div class="custom-file">
                            <input #inputFile type="file" class="custom-file-input" id="customFile"
                                (change)="onFileChange($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label class="custom-file-label" for="customFile" *ngIf="nameFile == null">
                                {{"global.modal_placeholder" | translate}}</label>
                            <label class="custom-file-label" for="customFile"
                                *ngIf="nameFile !== null">{{nameFile}}</label>
                        </div>
                    </div>
                </form>
                <div class="container" *ngIf="theErrorApi == true && theError == false && theErrorApiDb == false">
                    <div class="alert alert-warning" role="alert">
                        {{"global.import_some_data_01" | translate}}
                        <br><br> {{"global.import_some_data_02" | translate}}
                        <br><br>
                        <p class="import-text">
                            <button class="btn btn-custom-outline"
                                (click)="downloadAttendeesImportError()">{{"global.btn_download" | translate}}</button>
                        </p>
                        <br>
                        <div *ngFor="let msgError of messageErros; let i = index">
                            {{msgError}}
                        </div>
                    </div>


                    <br>
                    <div class="alert alert-danger" role="alert" *ngFor="let message of messageErrors; let i = index;">
                        {{message}}
                    </div>
                </div>
                <div class="container" *ngIf="invalidFormatSheetMsg !== null">
                    <div class="alert alert-danger" role="alert">{{invalidFormatSheetMsg}}</div>
                </div>
                <div class="container" *ngIf="theError == true && theErrorApi == false && theErrorApiDb == false">
                    <p class="import-text" role="alert">
                        {{"global.import_some_data_03" | translate}}
                    </p>

                    <div class="alert alert-danger" role="alert" *ngFor="let message of messageErrors; let i = index;">
                        {{message}}
                    </div>
                </div>
                <div class="container" *ngIf="theErrorApiDb == true && theError == false && theErrorApi == false">
                    <div class="alert alert-danger" role="alert">
                        {{"global.import_some_data_04" | translate}}
                    </div>
                </div>

                <div class="container">
                    <div class="alert alert-success" role="alert"
                        *ngIf="successMsg == true && attendeeErrorsApi.length <= 0">
                        {{"global.import_data_success" | translate}}

                        <br><br>

                        <span *ngIf="totalAttendeeCreated > 0"> {{totalAttendeeCreated}}
                            {{"comp.attendees.attendees_created" | translate}}
                        </span>
                        <br>
                        <span *ngIf="totalAttendeeUpdated > 0"> {{totalAttendeeUpdated}}
                            {{"comp.attendees.attendees_updated" | translate}}</span>
                    </div>

                    <div class="alert alert-warning" role="alert" *ngIf="theErrorGroup == true">
                        <span>{{"comp.attendees.invalid_groups" | translate}}</span>
                        <br>
                        <ul>
                            <li *ngFor="let groupError of invalidGroups">{{groupError}}</li>
                        </ul>
                    </div>

                    <div class="alert alert-warning" role="alert" *ngIf="theErrorDocument == true">
                        <span>{{"comp.attendees.invalid_documents" | translate}}</span>
                        <br>
                        <ul>
                            <li *ngFor="let documentError of invalidDocuments">{{documentError}}</li>
                        </ul>
                    </div>

                    <div class="alert alert-warning" role="alert" *ngIf="theErrorCustom == true">
                        {{"comp.attendees.invalid_custom_fields_import" | translate}}:<br>
                        <span
                            *ngFor="let customError of invalidCustomFields">{{"comp.attendees.invalid_option" | translate}}
                            <strong>{{customError.custom}}</strong> {{"comp.attendees.invalid_option_msg" | translate}}
                            <strong>{{customError.value}}</strong><br></span>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="totalAttendeeFail > 0">
                        {{totalAttendeeFail}} {{"comp.attendees.attendees_failed" | translate}}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-custom-cancel" (click)="clearInputFile(); clearMessages();"
                    data-dismiss="modal" *ngIf="loaderImport == false">{{"global.btn_cancel" | translate}}</button>
                &nbsp;
                <button type="button" class="btn btn-custom" (click)="checkImport()"
                    *ngIf="loaderImport == false">{{"global.btn_import" | translate}}</button>
                <div class="align-loader" *ngIf="loaderImport == true">
                    <div class="loader-default"></div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

<!-- Modal Select Export Option -->
<div class="modal fade" id="selectExportOption" tabindex="-1" role="dialog" aria-labelledby="selectExportOptionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectExportOptionLabel">
                    <strong>{{"global.select_option" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body text-center">
                <button class="btn btn-custom btn-margin-bottom" (click)="exportAllAttendees()">Participantes</button>
                <br>
                <button class="btn btn-custom" (click)="printQrCodes()">QRCodes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export Attendees -->
<div class="modal fade" id="exportLoading" tabindex="-1" role="dialog" aria-labelledby="exportLoadingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Settings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel"><strong>{{"global.modal_configs" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="moduleSettings-tab" data-toggle="tab" href="#moduleSettings"
                            role="tab" aria-controls="moduleSettings"
                            aria-selected="true">{{"global.configs" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="customField-tab" data-toggle="tab" href="#customField" role="tab"
                            aria-controls="customField" aria-selected="false">{{"global.custom_field" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="requiredFields-tab" data-toggle="tab" href="#requiredFields" role="tab"
                            aria-controls="requiredFields"
                            aria-selected="false">{{"global.required_fields" | translate}}</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- Configurações do módulo -->
                    <div class="tab-pane fade show active" id="moduleSettings" role="tabpanel"
                        aria-labelledby="moduleSettings-tab">
                        <br>
                        <span>
                            <strong>
                                {{"comp.attendees.text_attendee_profile" | translate}}
                            </strong>

                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}' (change)="changeAllowedEditProfile()"
                                *ngIf="allowedEditProfileVal === true" checked>
                            </ui-switch>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}' (change)="changeAllowedEditProfile()"
                                *ngIf="allowedEditProfileVal === false">
                            </ui-switch>
                        </span>
                        <br><br>
                        <!-- <span>
                            <strong>
                                {{"comp.attendees.required_edit_profile" | translate}}
                            </strong>

                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}' (change)="requiredEditProfile($event)"
                                *ngIf="requiredEditProfileVal === true" checked></ui-switch>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                checkedLabel='{{"global.yes_btn" | translate}}' (change)="requiredEditProfile($event)"
                                *ngIf="requiredEditProfileVal === false"></ui-switch>
                            <br />
                            <p><small>{{"global.required_edit_profile_msg_all_modules" | translate}}</small></p>
                        </span> -->

                        <span *ngIf="allowChatSetting == true">
                            <strong>{{"comp.attendees.allow_chat" | translate}}</strong>
                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                [(ngModel)]="allowChatUse" checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="allowChatUseChange($event)"></ui-switch>
                        </span>
                        <br /><br />

                        <!-- <span *ngIf="allowVisioSetting == true">
                            <strong>{{"comp.attendees.allow_visio" | translate}}</strong>
                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                [(ngModel)]="allowVisioUse" checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="allowVisioUseChange($event)"></ui-switch>
                            <br /><br />
                        </span> -->
                        <!-- <span *ngIf="allowPublicEventOptions">
                            <br><br>
                            <strong>{{"comp.attendees.default_public_module" | translate}}</strong>
                            <br>
                            <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                                [(ngModel)]="defaultModulePublicAttendees"
                                checkedLabel='{{"global.yes_btn" | translate}}'
                                (change)="setDefaultAttendeeModule($event)"></ui-switch>
                        </span> -->

                        <span>
                            <!-- <br><br> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>{{"comp.attendees.first_access_language" | translate}}</strong>
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="first_access_language"
                                            (change)="changeFirstAccessLanguage()">
                                            <option value="de_DE">{{"comp.event_info.german" | translate}}</option>
                                            <option value="es_ES">{{"comp.event_info.spanish" | translate}}</option>
                                            <option value="fr_FR">{{"comp.event_info.french" | translate}}</option>
                                            <option value="en_US">{{"comp.event_info.english" | translate}}</option>
                                            <option value="pt_BR">{{"comp.event_info.portuguese" | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>

                    <!-- Custom Field-->
                    <div class="tab-pane fade" id="customField" role="tabpanel" aria-labelledby="customField-tab">
                        <!-- <button class="btn btn-custom" (click)="restaurarCustom()">Restaurar</button> -->
                        <br>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" *ngIf="languages?.PtBR">
                                <a class="nav-link {{event.language == 'pt_BR' ? 'active' : ''}}"
                                    id="customfield-ptbr-tab" data-toggle="tab" role="tab" aria-selected="false"
                                    (click)="activeCustomFieldLanguage='PtBR'">{{"comp.event_info.portuguese" | translate}}</a>
                            </li>
                            <li class="nav-item" *ngIf="languages?.EnUS">
                                <a class="nav-link {{event.language == 'en_US' ? 'active' : ''}}"
                                    id="customfield-enus-tab" data-toggle="tab" role="tab" aria-selected="false"
                                    (click)="activeCustomFieldLanguage='EnUS'">{{"comp.event_info.english" | translate}}</a>
                            </li>
                            <li class="nav-item" *ngIf="languages?.EsES">
                                <a class="nav-link {{event.language == 'es_ES' ? 'active' : ''}}"
                                    id="customfield-eses-tab" data-toggle="tab" role="tab" aria-selected="false"
                                    (click)="activeCustomFieldLanguage='PtBR'">{{"comp.event_info.spanish" | translate}}</a>
                            </li>
                            <li class="nav-item" *ngIf="languages?.FrFR">
                                <a class="nav-link {{event.language == 'fr_FR' ? 'active' : ''}}"
                                    id="customfield-frfr-tab" data-toggle="tab" role="tab" aria-selected="false"
                                    (click)="activeCustomFieldLanguage='FrFR'">{{"comp.event_info.french" | translate}}</a>
                            </li>
                            <li class="nav-item" *ngIf="languages?.DeDE">
                                <a class="nav-link {{event.language == 'de_DE' ? 'active' : ''}}"
                                    id="custom-field-dede-tab" data-toggle="tab" role="tab" aria-selected="false"
                                    (click)="activeCustomFieldLanguage='DeDE'">{{"comp.event_info.german" | translate}}</a>
                            </li>
                        </ul>
                        <br>
                        <form [formGroup]="formCustom">




                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>{{ "global.icon" | translate }}</label>
                                        <div class="icon-selector">
                                            <div class="dropdown">
                                                <button class="btn btn-drop dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <label class="icon-selector">
                                                        <input type="radio" name="icon-selected" value="" />
                                                        <i class="material-icons"
                                                            *ngIf="selectedIconFamily == 'material-icons'">{{selectedIcon}}</i>
                                                        <span class="b3-icons {{selectedIconFamily}}"
                                                            *ngIf="selectedIconFamily !== 'material-icons'"></span>
                                                        <!-- selectedImage é a variável do ngModel, pode ser substituida pelo nome que utilizar no ngModel -->
                                                    </label>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <div *ngFor="let icon of iconsImg; let i = index">
                                                        <div id="menu">
                                                            <li>
                                                                <!--<input type="radio" name="md-add-circle" value="" />-->
                                                                <a (click)="setIcon(icon);" class="float-left">
                                                                    <i class="material-icons"
                                                                        *ngIf="icon.family == 'material-icons'">{{icon.icon}}</i>
                                                                    <span class="b3-icons {{icon.family}}"
                                                                        *ngIf="icon.family !== 'material-icons'"></span>
                                                                </a>
                                                            </li>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group" formGroupName="name">
                                        <label>{{"global.field_name" | translate}}</label>
                                        <input id="nameCustom" type="text" class="form-control" formControlName="PtBR"
                                            placeholder="{{'global.field_name' | translate}}"
                                            *ngIf="activeCustomFieldLanguage == 'PtBR'" />
                                        <input id="nameCustom" type="text" class="form-control" formControlName="EnUS"
                                            placeholder="{{'global.field_name' | translate}}"
                                            *ngIf="activeCustomFieldLanguage == 'EnUS'" />
                                        <input id="nameCustom" type="text" class="form-control" formControlName="EsES"
                                            placeholder="{{'global.field_name' | translate}}"
                                            *ngIf="activeCustomFieldLanguage == 'EsES'" />
                                        <input id="nameCustom" type="text" class="form-control" formControlName="FrFR"
                                            placeholder="{{'global.field_name' | translate}}"
                                            *ngIf="activeCustomFieldLanguage == 'FrFR'" />
                                        <input id="nameCustom" type="text" class="form-control" formControlName="DeDE"
                                            placeholder="{{'global.field_name' | translate}}"
                                            *ngIf="activeCustomFieldLanguage == 'DeDE'" />
                                        <div class="alert alert-danger" role="alert" *ngIf="customFieldNameRequired">
                                            {{"comp.attendee.principal_lang_custom_field_required" | translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label
                                            for="showForType">{{"comp.attendees.type_custom_field" | translate}}</label>
                                        <select formControlName="group_type" name="typeCustom" id="typeCustom"
                                            class="form-control" id="showForType" (change)="changeTypeCustom()">
                                            <option value="text">{{"comp.attendees.text_field" | translate}}</option>
                                            <option value="select">{{"comp.attendees.selection_box" | translate}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="showForExibition">{{"global.show_group" | translate}}</label>
                                        <select formControlName="group_exibicao" class="form-control"
                                            id="showForExibition" (change)="changeCustomExibition()">
                                            <option value="3">{{"global.show_admin" | translate}}</option>
                                            <option value="2">{{"comp.attendees.show_admin_user" | translate}}</option>
                                            <option value="1">{{"comp.attendees.show_all" | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="showForEdit">{{"global.edit_fields" | translate}}</label>
                                        <select formControlName="group_edicao" class="form-control" id="showForEdit">
                                            <option value="3">{{"global.show_admin" | translate}}</option>
                                            <option value="2">{{"comp.attendees.show_admin_user" | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="showTypeCustom == true">
                            <!-- Opções de respostas -->
                            <form>
                                <div id="answer-options">
                                    <span class="float-left">{{"global.options" | translate}} &nbsp; &nbsp;
                                    </span>
                                    <div>
                                        <a>
                                            <i class="material-icons add-icon" title='{{"global.addReply" | translate}}'
                                                (click)="addNewOptionCustom()">add_circle_outline</i>
                                        </a>
                                    </div>
                                    <br>
                                    <div id="answer-block">
                                        <div class="row" *ngFor="let aux of listOptionsCustom; let i = index;">
                                            <div class="col-sm-6 col-md-6">
                                                <input type="text" class="form-control answerOption" id="option{{i}}"
                                                    name="option{{i}}" [(ngModel)]="listOptionsCustom[i].answer.PtBR"
                                                    placeholder="{{'comp.attendee.enter_option' | translate}}"
                                                    *ngIf="activeCustomFieldLanguage == 'PtBR'">
                                                <input type="text" class="form-control answerOption" id="option{{i}}"
                                                    name="option{{i}}" [(ngModel)]="listOptionsCustom[i].answer.EnUS"
                                                    placeholder="{{'comp.attendee.enter_option' | translate}}"
                                                    *ngIf="activeCustomFieldLanguage == 'EnUS'">
                                                <input type="text" class="form-control answerOption" id="option{{i}}"
                                                    name="option{{i}}" [(ngModel)]="listOptionsCustom[i].answer.EsES"
                                                    placeholder="{{'comp.attendee.enter_option' | translate}}"
                                                    *ngIf="activeCustomFieldLanguage == 'EsES'">
                                                <input type="text" class="form-control answerOption" id="option{{i}}"
                                                    name="option{{i}}" [(ngModel)]="listOptionsCustom[i].answer.FrFR"
                                                    placeholder="{{'comp.attendee.enter_option' | translate}}"
                                                    *ngIf="activeCustomFieldLanguage == 'FrFR'">
                                                <input type="text" class="form-control answerOption" id="option{{i}}"
                                                    name="option{{i}}" [(ngModel)]="listOptionsCustom[i].answer.DeDE"
                                                    placeholder="{{'comp.attendee.enter_option' | translate}}"
                                                    *ngIf="activeCustomFieldLanguage == 'DeDE'">
                                                <div class="alert alert-danger" role="alert"
                                                    *ngIf="customFieldOptionNameRequired">
                                                    {{"comp.attendee.principal_lang_custom_field_required" | translate}}
                                                </div>
                                            </div>

                                            <div class="col-sm-2 col-md-2">
                                                <i class='material-icons Delete-answer icon-delete'
                                                    (click)="getDeleteInputOption(i)"
                                                    title='{{"global.delete" | translate}}'>delete</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <button type="submit" id="btn-create-custom" class="btn btn-custom float-right"
                            (click)="createCustomField()" *ngIf="loaderBtnCustomField == false">{{"global.btn_add"
                        |
                        translate}}</button>
                        <div class="align-loader" *ngIf="loaderBtnCustomField == true">
                            <div class="loader-default"></div>
                        </div>
                        <!-- Campo que envia as informacoes para a controler saulo-->

                        <br>
                        <p class="active-custom-fields" *ngIf="listCustomField?.length > 0">
                            {{"global.active_fields" | translate}}
                        </p>

                        <!-- Configuracoes avancadas - "Campos ativos" -->
                        <div class="card">
                            <!-- [sortablejs]="" -->
                            <ul class="list-group list-group-flush" [dragula]='"bag-custom"'
                                [dragulaModel]='listCustomField' *ngIf="loaderDeleteCustom == false">
                                <li class="list-group-item" *ngFor="let item of listCustomField;let i = index">
                                    <i class="material-icons drag-icon">drag_indicator</i>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span *ngIf="item !== undefined && item !== null">
                                        {{item?.name[userLanguageFormat]}}</span>
                                    <a>
                                        <i class="material-icons float-right delete-icon default-icon"
                                            [swal]="deleteCustomFieldSwal"
                                            (click)="getDeleteCustomField(item, i)">delete</i>
                                    </a>
                                    <a>
                                        <i class="material-icons float-right manage-icon default-icon"
                                            (click)="getEditCustom(i)">create</i>
                                    </a>
                                    <!-- CAMPO PARA EDÇÃO DO Custom Field -->
                                    <div class="hidden{{i}} hideAll" style="display: none">
                                        <form [formGroup]="formCustomEdit">
                                            <hr>
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <label>{{ "global.icon" | translate }}</label>
                                                        <div class="icon-selector">
                                                            <div class="dropdown">
                                                                <button class="btn btn-drop dropdown-toggle"
                                                                    type="button" id="dropdownMenuButtonEdit"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <label class="icon-selector">
                                                                        <input type="radio" name="icon-selected"
                                                                            value="" />
                                                                        <i class="material-icons"
                                                                            *ngIf="selectedIconFamilyEdit == 'material-icons'">{{selectedIconEdit}}</i>
                                                                        <span
                                                                            class="b3-icons {{selectedIconFamilyEdit}}"
                                                                            *ngIf="selectedIconFamilyEdit !== 'material-icons'"></span>
                                                                        <!-- selectedImage é a variável do ngModel, pode ser substituida pelo nome que utilizar no ngModel -->
                                                                    </label>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButtonEdit">
                                                                    <div *ngFor="let icon of iconsImg; let i = index">
                                                                        <div id="menu">
                                <li>
                                    <!--<input type="radio" name="md-add-circle" value="" />-->
                                    <a (click)="setIconEdit(icon);" class="float-left">
                                        <i class="material-icons"
                                            *ngIf="icon.family == 'material-icons'">{{icon?.icon}}</i>
                                        <span class="b3-icons {{icon.family}}"
                                            *ngIf="icon.family !== 'material-icons'"></span>
                                    </a>
                                </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="form-group row from-control-sm" formGroupName="name" *ngIf="item !== undefined && item !== null">
    <label>{{"global.field_name" | translate}}</label>
    <input id="nameCustom" type="text" class="form-control" formControlName="PtBR" value="{{item.name.PtBR}}"
        *ngIf="activeCustomFieldLanguage == 'PtBR'">

    <input id="nameCustom" type="text" class="form-control" formControlName="EnUS" value="{{item.name.EnUS}}"
        *ngIf="activeCustomFieldLanguage == 'EnUS'">

    <input id="nameCustom" type="text" class="form-control" formControlName="EsES" value="{{item.name.EsES}}"
        *ngIf="activeCustomFieldLanguage == 'EsES'">

    <input id="nameCustom" type="text" class="form-control" formControlName="FrFR" value="{{item.name.FrFR}}"
        *ngIf="activeCustomFieldLanguage == 'FrFR'">

    <input id="nameCustom" type="text" class="form-control" formControlName="DeDE" value="{{item.name.DeDE}}"
        *ngIf="activeCustomFieldLanguage == 'DeDE'">
    <div class="alert alert-danger" role="alert" *ngIf="customFieldNameRequiredEdit">
        {{"comp.speakers.principal_lang_custom_field_required" | translate}}
    </div>
    <label>{{"comp.attendees.type_custom_field" | translate}}</label>
    <!-- *ngIf="item.exibicao == '2'" -->
    <select class="form-control form-control-sm" [formControl]="formCustomEdit.controls['type']"
        value="{{item.typeCampo}}" (change)="changeTypeCustomEdit()">
        <option value="text">{{"comp.attendees.text_field" |
                                                    translate}}</option>
        <option value="select">{{"comp.attendees.selection_box" |
                                                    translate}}</option>
    </select>

    <label>{{"global.show_group" | translate}} </label>
    <!-- *ngIf="item.exibicao == '2'" -->
    <select class="form-control form-control-sm" [formControl]="formCustomEdit.controls['group_exibicao']"
        value="{{item.exibicao}}" (change)="changeGroupExibicao()">
        <option value="3">{{"global.show_admin" | translate}}</option>
        <option value="2">{{"comp.attendees.show_admin_user" | translate}}
        </option>
        <option value="1">{{"comp.attendees.show_all" | translate}}</option>
    </select>
    <!-- <select *ngIf="item.exibicao == '0'" class="form-control form-control-sm"
                                                [formControl]="formCustomEdit.controls['group_exibicao']" value="{{item.exibicao}}">
                                                <option value="2">{{"global.show_admin" | translate}}</option>
                                                <option value="0" selected>{{"global.show_user" | translate}}</option>
                                            </select> -->

    <label>{{"global.edit_fields" | translate}}</label>
    <!-- *ngIf="item.edicao == '2'" -->
    <select class="form-control form-control-sm" [formControl]="formCustomEdit.controls['group_edicao']"
        value="{{item.edicao}}">
        <option value="3">{{"global.show_admin" | translate}}</option>
        <option value="2">{{"comp.attendees.show_admin_user" | translate}}
        </option>
    </select>
    <!-- <select *ngIf="item.edicao == '0'" class="form-control form-control-sm"
                                                [formControl]="formCustomEdit.controls['group_edicao']" value="{{item.edicao}}">
                                                <option value="2">{{"global.show_admin" | translate}}</option>
                                                <option value="0" selected>{{"global.show_user" | translate}}</option>
                                            </select> -->
</div>
</form>

<div *ngIf="showTypeCustomEdit == true">
    <form>
        <div id="answer-options-edit">
            <span class="float-left">{{"comp.attendees.options" |
                                                    translate}} &nbsp; &nbsp; </span>
            <div>
                <a>
                    <i class="material-icons add-icon" title='{{"global.addReply" | translate}}'
                        (click)="addNewOptionCustomEdit()">add_circle_outline</i>
                </a>
            </div>
            <br>
            <div id="answer-block-edit">
                <div class="row" *ngFor="let aux of listOptionsCustomEdit; let i = index;">
                    <div class="col-sm-6 col-md-6">
                        <input type="text" class="form-control answerOption" id="optionEdit{{i}}" name="optionEdit{{i}}"
                            [(ngModel)]="listOptionsCustomEdit[i].answer.PtBR"
                            placeholder="{{'comp.attendees.enter_option' | translate}}"
                            *ngIf="activeCustomFieldLanguage == 'PtBR'">

                        <input type="text" class="form-control answerOption" id="optionEdit{{i}}" name="optionEdit{{i}}"
                            [(ngModel)]="listOptionsCustomEdit[i].answer.EnUS"
                            placeholder="{{'comp.attendees.enter_option' | translate}}"
                            *ngIf="activeCustomFieldLanguage == 'EnUS'">

                        <input type="text" class="form-control answerOption" id="optionEdit{{i}}" name="optionEdit{{i}}"
                            [(ngModel)]="listOptionsCustomEdit[i].answer.EsES"
                            placeholder="{{'comp.attendees.enter_option' | translate}}"
                            *ngIf="activeCustomFieldLanguage == 'EsES'">

                        <input type="text" class="form-control answerOption" id="optionEdit{{i}}" name="optionEdit{{i}}"
                            [(ngModel)]="listOptionsCustomEdit[i].answer.FrFR"
                            placeholder="{{'comp.attendees.enter_option' | translate}}"
                            *ngIf="activeCustomFieldLanguage == 'FrFR'">

                        <input type="text" class="form-control answerOption" id="optionEdit{{i}}" name="optionEdit{{i}}"
                            [(ngModel)]="listOptionsCustomEdit[i].answer.DeDE"
                            placeholder="{{'comp.attendees.enter_option' | translate}}"
                            *ngIf="activeCustomFieldLanguage == 'DeDE'">
                    </div>
                    <!-- <div class="col-sm-4 col-md-4">
                                                            <input type="number" class="form-control" id="maxResponsesEdit{{i}}" name="maxResponsesEdit{{i}}" [(ngModel)]="listOptionsCustomEdit[i].maxResponses"
                                                            placeholder="{{'comp.attendees.number_of_responses' | translate}}">
                                                        </div> -->

                    <div class="col-sm-2 col-md-2">
                        <i class='material-icons Delete-answer icon-delete' (click)="getDeleteInputOptionEdit(i)"
                            title='{{"global.delete" | translate}}'>delete</i>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<button type="submit" class="btn btn-custom float-right"
    (click)="editCustomFieldAttendee(formCustomEdit.value, item, i)" *ngIf="loaderEditCustomField == false">{{"global.btn_edit"
                                        | translate}}</button>
<div class="align-loader" *ngIf="loaderEditCustomField == tru e">
    <div class="loader-default"></div>
</div>
</div>
</li>
</ul>

<div class="align-loader" *ngIf="loaderDeleteCustom == true">
    <div class="loader-default"></div>
</div>
</div>
<!-- Configuracoes avancadas - "Campos ativos" -->
<button class="btn btn-custom float-right" (click)="saveNewOrder()"
    *ngIf="listCustomField.length >= 1">{{"global.btn_save" | translate}}</button>
</div>

<!-- required fields -->
<div class="tab-pane fade show" id="requiredFields" role="tabpanel" aria-labelledby="requiredFields-tab">
    <br>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <span class=""><strong>{{"global.field" | translate}}</strong></span>
                </div>

                <div class="col-sm-4 col-md-4 text-center">
                    <span class=""><strong><span class="red-star">*</span>{{"global.unique_edit" | translate}}</strong>
                    </span>
                </div>

                <div class="col-sm-4 col-md-4">
                    <span class="float-right"><strong>{{"global.required" | translate}}</strong></span>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush" *ngIf="fieldOptions">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.name" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F" (change)="updatUniqueEditField('name', $event)"
                            [checked]="fieldOptions.name.unique_edit"></ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('name', $event)" [checked]="fieldOptions.name.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.company" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('company', $event)"
                            [checked]="fieldOptions.company.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('company', $event)" [checked]="fieldOptions.company.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.title" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('title', $event)" [checked]="fieldOptions.title.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('title', $event)" [checked]="fieldOptions.title.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.tel" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('phone', $event)" [checked]="fieldOptions.phone.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('phone', $event)" [checked]="fieldOptions.phone.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.site" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F" (change)="updatUniqueEditField('site', $event)"
                            [checked]="fieldOptions.site.unique_edit"></ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('site', $event)" [checked]="fieldOptions.site.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.linkedin" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('linkedin', $event)"
                            [checked]="fieldOptions.linkedin.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('linkedin', $event)"
                            [checked]="fieldOptions.linkedin.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.facebook" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('facebook', $event)"
                            [checked]="fieldOptions.facebook.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('facebook', $event)"
                            [checked]="fieldOptions.facebook.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.instagram" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('instagram', $event)"
                            [checked]="fieldOptions.instagram.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('instagram', $event)"
                            [checked]="fieldOptions.instagram.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.twitter" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('twitter', $event)"
                            [checked]="fieldOptions.twitter.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('twitter', $event)" [checked]="fieldOptions.twitter.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <span class="field-name">{{"global.description" | translate}}</span>

                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <ui-switch class="" size="small" color="#1FC94F"
                            (change)="updatUniqueEditField('description', $event)"
                            [checked]="fieldOptions.description.unique_edit">
                        </ui-switch>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <ui-switch class="float-right" size="small" color="#1FC94F"
                            (change)="updateFieldRequired('description', $event)"
                            [checked]="fieldOptions.description.required">
                        </ui-switch>
                    </div>
                </div>

            </div>
            <ng-container *ngIf="fieldOptionsCustom !== null && listCustomField.length >= 1">

                <div class="list-group-item"
                    *ngFor="let custom of filterCustomEditAttendee(listCustomField); let i = index;">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <span class="field-name">{{custom?.name[principalEventLang]}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 text-center">
                            <ui-switch class="" size="small" color="#1FC94F"
                                *ngIf="fieldOptionsCustom[custom.uid].unique_edit !== undefined"
                                (change)="updatUniqueEditFieldCustom(custom.uid, $event)"
                                [checked]="fieldOptionsCustom[custom.uid].unique_edit">
                            </ui-switch>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <ui-switch class="float-right" size="small" color="#1FC94F"
                                *ngIf="fieldOptionsCustom[custom.uid].required !== undefined"
                                (change)="updateFieldRequiredCustom(custom.uid, $event)"
                                [checked]="fieldOptionsCustom[custom.uid].required">
                            </ui-switch>
                        </div>
                    </div>
                </div>

            </ng-container>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            &nbsp;
            <p><span class="red-star">*</span> {{"comp.attendees.unique_edit_txt" | translate}}</p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="invisible-comp">
    <ngx-qrcode *ngFor="let attendee of allListAttendees; let i = index" id="qrcodesAll{{i}}" qrc-element-type="canvas"
        [qrc-value]="attendee.uid" qrc-class="qrallcodes" qrc-errorCorrectionLevel="L">
    </ngx-qrcode>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeAttendee()">
</swal>

<!-- modal reset account confirm -->
<swal #confirmResetAccount title='{{"global.modals.btn_reconfigure" | translate}}'
    text='{{"global.modals.reset_account_confirm" | translate}}' icon="info"
    confirmButtonText='{{"global.modals.btn_reconfigure" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#4DC3EE" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="resetUserAccountProblem()">
</swal>

<!-- modal confirm reset password -->
<swal #resetPassSwal title='{{"global.modals.reset_pass_title" | translate}}'
    text='{{"global.modals.reset_pass_msg" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_reset" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="resetUserPassword()">
</swal>

<!-- modal delete confirm custom-field -->
<swal #deleteCustomFieldSwal title='{{"global.modals.delete" | translate}}'
    text='{{"global.modals.delete_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeCustomFieldAttendee()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal e-mail success -->
<swal #successEmailSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_send_email" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal e-mail error -->
<swal #errorEmailSwal title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_send_email" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<!-- modal password reset success -->
<swal #successPasswordSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_pass_reset_email" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal password reset error -->
<swal #errorPasswordSwal title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_pass_reset_email" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<!-- modal not reconfigured account -->
<swal #notReconfiguredSwal title='{{"global.modals.not_reconfigured" | translate}}'
    text='{{"global.modals.error_not_reconfigured" | translate}}' icon="info"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<!-- modal not data export -->
<swal #notExport title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_not_data_to_export" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>
