.btn-drop {
    border: 0.6px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: none;
    width: 65px;
    height: 37px;
}

label>input {
    display: none;
    position: absolute;
}

.icon-size {
    width: 22px;
    height: 22px;
}

.icon-margin {
    margin-right: 3px;
}

.manage-icon {
    color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
}

.b3-icons {
    font-size: 24px;
}

.avatar {
    width: max-content;
}

.name {
    color: #000000;
    margin-left: 8px;
    text-transform: none !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 30ch;
}

.user-group {
    color: #ffffff;
}

.group-name {
    border-radius: 8px;
    padding: 3px;
    font-weight: 300;
    font-size: 0.9em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 10ch;
}

.color-blue {
    background: blue;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.select-td {
    width: 1px !important;
    margin: 0 !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.blocked-item {
    opacity: 4 !important;
    color: rgba(0, 0, 0, 0.2) !important;
    cursor: default;
}

.import-text {
    font-size: .9em !important;
}

.active-custom-fields {
    font-size: 1em;
    font-weight: bold;
}

.group-name-mini {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.5em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin-right: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 14ch;
}

.more-groups-mini {
    font-size: 0.7em;
    font-weight: bold;
    color: #373737;
    text-align: center;
}

.align-groups {
    width: max-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.manage-icons-settings {
    display: inline-flex;
}

.normal-txt {
    font-weight: 200 !important;
}

.btn-drop-custom {
    background: transparent;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em !important;
    cursor: pointer;
}

.btn-drop-custom:focus {
    outline: none !important;
}

.dropdown-menu-custom.show {
    background: #ffffff !important;
    border: 1px solid #c5c5c5 !important;
}

.dropdown-menu {
    background: transparent !important;
    border: none !important;
}

#dropdown-menu-3 {
    padding: 8px;
}

li {
    list-style: none;
}

.drag-icon {
    cursor: grab;
    color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag-icon:active {
    cursor: grabbing;
}

.rounded-circle {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.icon-delete {
    color: #c91f1f;
    cursor: pointer;
}

.add-icon {
    cursor: pointer;
}

.btn-margin-bottom {
    margin-bottom: 8px;
}

.invisible-comp {
    display: none;
}

.complement-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 25ch;
}