<div class="orders">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title text-bold"><span
                                class="float-left">{{"comp.analytics.title" | translate}}</span>
                            <button class="btn btn-custom float-right"
                                (click)="exportAll()">{{"global.btn_export" | translate}}</button>
                        </h4>
                    </div>
                </div>

                <!-- PRINCIPAL CONTENT -->
                <div class="principal-wrapper-content" *ngIf="loader == false">
                    <!-- USER INFOS -->
                    <div class="row">
                        <!-- total access -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">group</i>
                                        <br> {{"comp.analytics.total_access" | translate}}
                                        <br>
                                        <span class="total-access">{{totalAccess}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- unique access -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">person</i>
                                        <br> {{"comp.analytics.unique_access" | translate}}
                                        <br>
                                        <span class="total-access">{{uniqueAccess}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- profiles edited -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">edit</i>
                                        <br> {{"comp.analytics.profile_edited" | translate}}
                                        <br>
                                        <span class="total-access">{{profileEdited}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MODULES ANALYTICS -->
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <span
                                    class="float-left"><strong>{{"comp.analytics.modules_access" | translate}}</strong></span>
                                <!-- <button class="btn btn-custom float-right">{{"global.btn_export" | translate}}</button> -->
                            </h5>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{"global.module" | translate}}</th>
                                            <th>{{"global.access" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let module of modules; let i = index">
                                            <td>{{i+1}}. &nbsp;&nbsp; {{module?.name[formatedLanguage.language]}}</td>
                                            <td>{{module.total_access}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- FEED INFOS -->
                    <div class="row" *ngIf="blockFeedInfos == false">
                        <!-- feed posts -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">forum</i>
                                        <br> {{"comp.analytics.total_feed_posts" | translate}}
                                        <br>
                                        <span class="total-access">{{totalFeedPosts}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- feed likes -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">thumb_up</i>
                                        <br> {{"comp.analytics.total_feed_likes" | translate}}
                                        <br>
                                        <span class="total-access">{{totalFeedLikes}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- feed comments -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">message</i>
                                        <br> {{"comp.analytics.total_feed_comments" | translate}}
                                        <br>
                                        <span class="total-access">{{totalFeedComments}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FEED ANALYTICS -->
                    <!-- feed posts likes -->
                    <!-- <div class="card">
            <div class="card-header">
              <h5>
                <span class="float-left"><strong>{{"comp.analytics.feed_post_likes" | translate}}</strong></span>
                 <button class="btn btn-custom float-right">{{"global.btn_export" | translate}}</button>
              </h5>
            </div>
            <div class="card-body--">
              <div class="table-stats order-table ov-h">
                <table class="table">
                  <thead>
                    <tr>
                      <th>{{"global.user" | translate}}</th>
                      <th>{{"global.preview" | translate}}</th>
                      <th>{{"global.likes" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jonathan Camargo</td>
                      <td>Uma vez estava postando sobre algo que não lembro...</td>
                      <td>321</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->
                    <!-- feed posts comments -->
                    <!-- <div class="card">
            <div class="card-header">
              <h5>
                <span class="float-left"><strong>{{"comp.analytics.feed_post_comments" | translate}}</strong></span>
                 <button class="btn btn-custom float-right">{{"global.btn_export" | translate}}</button> 
              </h5>
            </div>
            <div class="card-body--">
              <div class="table-stats order-table ov-h">
                <table class="table">
                  <thead>
                    <tr>
                      <th>{{"global.user" | translate}}</th>
                      <th>{{"global.preview" | translate}}</th>
                      <th>{{"global.comments" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jonathan Camargo</td>
                      <td>Uma vez estava postando sobre algo que não lembro...</td>
                      <td>100</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

                    <!-- DOCUMENTS ACCESS -->
                    <div class="card" *ngIf="blockDocumentInfos == false && bestDocuments.length >= 1">
                        <div class="card-header">
                            <h5>
                                <span
                                    class="float-left"><strong>{{"comp.analytics.documents_access" | translate}}</strong></span>
                                <!-- <button class="btn btn-custom float-right">{{"global.btn_export" | translate}}</button> -->
                            </h5>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{"global.document" | translate}}</th>
                                            <th>{{"comp.analytics.total_access" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let doc of bestDocuments; let i = index">
                                            <td>{{i+1}}. &nbsp;&nbsp; {{doc.name[userLanguage]}}</td>
                                            <td>{{doc.total_access}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- CHAT INFOS -->
                    <div class="row" *ngIf="blockChatInfos == false">
                        <!-- total chats -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">chat</i>
                                        <br> {{"comp.analytics.total_chats" | translate}}
                                        <br>
                                        <span class="total-access">{{totalChats}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- total messages -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">chat_bubble_outline</i>
                                        <br> {{"comp.analytics.total_chat_msgs" | translate}}
                                        <br>
                                        <span class="total-access">{{totalChatMsgs}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- total members chat -->
                        <div class="col-sm-12 col-md-4">
                            <div class="card">
                                <div class="card-body-- card-infos">
                                    <p class="text-center">
                                        <i class="material-icons card-icon">person</i>
                                        <br> {{"comp.analytics.total_members_chat" | translate}}
                                        <br>
                                        <span class="total-access">{{totalChatMembers}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- VISIO INFOS -->
                    <div class="card" *ngIf="blockVisioInfos == false"
                        style="background: transparent; box-shadow: none;">
                        <div class="card-header">
                            <h5>
                                <span
                                    class="float-left"><strong>{{"global.visio-conference" | translate}}</strong></span>
                            </h5>
                        </div>
                        <div class="card-body-- padding-top-30">
                            <div class="row" *ngIf="blockVisioInfos == false">
                                <!-- total PIM -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="card no-margin">
                                        <div class="card-body-- card-infos">
                                            <p class="text-center">
                                                <!-- <i class="material-icons card-icon">chat</i> -->
                                                <br> {{"comp.analytics.total_pim" | translate}}
                                                <br>
                                                <span class="total-access">{{totalPIM}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- total chat between 2 participants -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="card no-margin">
                                        <div class="card-body-- card-infos">
                                            <p class="text-center">
                                                <!-- <i class="material-icons card-icon">chat_bubble_outline</i> -->
                                                <br> {{"comp.analytics.total_rooms_for_2" | translate}}
                                                <br>
                                                <span class="total-access">{{totalVisiosBetween2}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- total rooms -->
                                <div class="col-sm-12 col-md-4">
                                    <div class="card no-margin">
                                        <div class="card-body-- card-infos">
                                            <p class="text-center">
                                                <!-- <i class="material-icons card-icon">person</i> -->
                                                <br> {{"comp.analytics.total_rooms" | translate}}
                                                <br>
                                                <span class="total-access">{{totalRooms}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GALLERY ACCESS -->
                    <div class="card" *ngIf="blockGalleryInfos == false && bestImages.length >= 1">
                        <div class="card-header">
                            <h5>
                                <span
                                    class="float-left"><strong>{{"comp.analytics.images_access" | translate}}</strong></span>
                                <!-- <button class="btn btn-custom float-right">{{"global.btn_export" | translate}}</button> -->
                            </h5>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{"global.preview" | translate}}</th>
                                            <th>{{"comp.analytics.total_access" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let img of bestImages; let i = index">
                                            <td class="avatar">
                                                {{i+1}}. &nbsp;&nbsp;
                                                <img class="img-thumbnail" src="{{img.url}}">
                                            </td>
                                            <td>{{img.total_access}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LOADER -->
                <div class="align-loader" *ngIf="loader == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export -->
<div class="modal fade" id="exportLoading" tabindex="-1" role="dialog" aria-labelledby="exportLoadingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>