.card-header {
    background: #ffffff;
}

.card-infos {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.total-access {
    font-weight: bold;
    font-size: 1.6em;
    color: #000000;
}

.card-icon {
    font-size: 26px !important;
}

.img-thumbnail {
    object-fit: cover;
}