.align-groups {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.group-name-mini {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
}