<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="box-title float-left">{{"global.groups" | translate}}</h4> -->
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#newGroup">{{"global.btn_new" | translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#importModal">{{"global.btn_import"
                |
                translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#exportLoadingGroup" (click)="exportAllGroups()">{{"global.btn_export"
                |
                translate}}</button>
                    </div>
                </div>
            </div>

            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label> &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete"
                                (click)="removeSelected()">{{"global.delete_selecteds" | translate}}</button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" *ngIf="loader == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"global.groups" | translate}}</th>
                                    <th class="text-center">{{"global.preview" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let group of groups | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td class="select-td">
                                        <div *ngIf="!group.multiLanguage" class="form-check">
                                            <input [(ngModel)]="groupsSelected[group.uid]" class="form-check-input"
                                                type="checkbox" id="selectAttendeee">
                                        </div>
                                    </td>
                                    <td>
                                        <span class="name">{{group.name}}</span>
                                    </td>
                                    <td>
                                        <div class="align-groups">
                                            <span class=" group-name-mini" [style.color]="group.txtColor"
                                                [style.background]="group.bgColor">
                                                {{group.name}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <a *ngIf="!group.multiLanguage"><i class="material-icons default-icon"
                                                (click)="getEditGroup(group)" data-toggle="modal"
                                                data-target="#editGroup">create</i></a>
                                        <a *ngIf="!group.multiLanguage" (click)="getDeleteGroup(group.uid)"
                                            [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>


<!-- Create Modal -->
<div class="modal fade" id="newGroup" data-backdrop="static" role="dialog" aria-labelledby="newGroupLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newGroupLabel"><strong>{{"comp.groups.new_group" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">&times;</span>
                    </button>
                </h5>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="groupName"
                        placeholder='{{"global.placeholder_name" | translate}}' />
                    <div class="alert alert-danger" role="alert" *ngIf="nameError">
                        {{"global.invalid_name" | translate}}
                    </div>
                </div>

                <div class="form-group">
                    <label>{{"global.text_color" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="nGroupTxtColor" [cpOutputFormat]="hex"
                        [(colorPicker)]="nGroupTxtColor" cpPosition="top" [value]="nGroupTxtColor" />
                </div>

                <div class="form-group">
                    <label>{{"global.bg_color" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="nGroupBgColor" [cpOutputFormat]="hex"
                        [(colorPicker)]="nGroupBgColor" cpPosition="top" [value]="nGroupBgColor" />
                </div>

                <button class="btn btn-custom float-right" (click)="createGroup()"
                    *ngIf="loaderCreate == false">{{"global.btn_add" | translate}}</button>
                <div class="align-loader" *ngIf="loaderCreate == true">
                    <div class="loader-default"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editGroup" data-backdrop="static" role="dialog" aria-labelledby="editGroupLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editGroupLabel"><strong>{{"comp.groups.edit_group" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">&times;</span>
                    </button>
                </h5>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.identifier" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="groupEditIdentifier"
                        placeholder='{{"global.identifier_plc" | translate}}' disabled />
                </div>

                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="groupName"
                        placeholder='{{"global.placeholder_name" | translate}}' />
                    <div class="alert alert-danger" role="alert" *ngIf="nameErrorEdit">
                        {{"global.invalid_name" | translate}}
                    </div>
                </div>

                <div class="form-group">
                    <label>{{"global.text_color" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="nGroupTxtColor" [cpOutputFormat]="hex"
                        [(colorPicker)]="nGroupTxtColor" cpPosition="top" [value]="nGroupTxtColor" />
                </div>

                <div class="form-group">
                    <label>{{"global.bg_color" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="nGroupBgColor" [cpOutputFormat]="hex"
                        [(colorPicker)]="nGroupBgColor" cpPosition="top" [value]="nGroupBgColor" />
                </div>

                <button class="btn btn-custom float-right" (click)="editGroup()"
                    *ngIf="loaderEdit == false">{{"global.btn_save" | translate}}</button>
                <div class="align-loader" *ngIf="loaderEdit == true">
                    <div class="loader-default"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal Import Groups -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel"><strong>{{"global.btn_import" | translate}}</strong>
                    <button type="button" class="close" (click)="clearInputFile(); clearMessages();"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <p class="import-text text-center">
                    {{"comp.attendees.import_text_01" | translate}}
                </p>
                <p class="import-text text-center">
                    {{"global.modal_help" | translate}}
                    <br>
                    <button class="btn btn-custom-outline"
                        (click)="exportTemplate()">{{"global.btn_download" | translate}}</button>
                </p>
                <form>
                    <div class="form-group">
                        <div class="custom-file">
                            <input #inputFile type="file" class="custom-file-input" id="customFile"
                                (change)="onFileChange($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label class="custom-file-label" for="customFile" *ngIf="nameFile == null">
                                {{"global.modal_placeholder" | translate}}</label>
                            <label class="custom-file-label" for="customFile"
                                *ngIf="nameFile !== null">{{nameFile}}</label>
                        </div>
                    </div>
                </form>

                <div class="alert alert-warning text-center" role="alert" *ngIf="importError == true">
                    {{"global.import_some_data_01" | translate}}
                    <br><br> {{"global.import_some_data_02" | translate}}
                    <br><br>
                    <p class="import-text">
                        <button class="btn btn-custom-outline"
                            (click)="downloadImportError()">{{"global.btn_download" | translate}}</button>
                    </p>
                    <br>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="importSuccess == true">
                    {{"global.import_data_success" | translate}}

                    <br><br>

                    <span *ngIf="totalCreated > 0"> {{totalCreated}}
                        {{"comp.groups.created_groups" | translate}}
                    </span>
                    <br>
                    <span *ngIf="totalUpdated > 0"> {{totalUpdated}}
                        {{"comp.groups.updated_groups" | translate}}</span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="checkImportError == true">
                    <div *ngFor="let msgError of messageErrors; let i = index">
                        {{msgError}}
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="importError == true">
                    <span>{{totalFail}} {{"comp.groups.import_failed" | translate}}</span>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-custom-cancel" (click)="clearInputFile(); clearMessages();"
                        data-dismiss="modal" *ngIf="loaderImport == false">{{"global.btn_cancel" | translate}}</button>
                    &nbsp;
                    <button type="button" class="btn btn-custom" (click)="checkImport()"
                        *ngIf="loaderImport == false">{{"global.btn_import" | translate}}</button>
                    <div class="align-loader" *ngIf="loaderImport == true">
                        <div class="loader-default"></div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export Groups -->
<div class="modal fade" id="exportLoadingGroup" tabindex="-1" role="dialog" aria-labelledby="exportLoadingGroupLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteGroup()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal success -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    text='Erro ao criar usuário' icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}'
    confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<!-- modal not data export -->
<swal #notExport title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_not_data_to_export" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>