ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.invent-logo {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.email-input {
    text-transform: lowercase;
}

.custom-logo {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.login-title {
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;
}

.login-subtitle,
.input-label-text {
    color: rgba(0, 0, 0, 0.65);
    font-size: .8em;
    padding-left: 3px;
}

.not-have-acc {
    position: absolute;
    bottom: 10px;
    text-decoration: none;
}

.timer {
    margin-top: 10px;
    font-size: .8em;
    color: rgba(0, 0, 0, 0.65);
}

.custom-input {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px!important;
    padding-top: 0;
    height: 35px;
    float: left;
}

.custom-btn {
    color: rgba(0, 0, 0, 0.65);
    background: #ffffff;
    height: 41px;
    width: 100%;
}

.border-n-shadow {
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
}

.login-text {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.2em;
}

.login-btn {
    color: #000000;
    font-weight: 300;
    height: 38px;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;
}

.forgot-password {
    font-size: .8em;
    padding-left: 3px;
}

.invalid-code {
    font-size: 0.8em;
    color: #dd2222;
    font-weight: bold;
    text-align: center;
}

.timer {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.term-conditions {
    background-color: transparent;
    border: none;
    font-size: .78em;
    display: flex;
    align-items: center;
}

.space-condition {
    padding-left: 10px;
}

.conditions-class {
    font-size: 1em;
    color: #2979FF;
    margin-top: -5px;
    padding: 0;
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer-txt {
    font-size: .7em;
}