<ion-content>
    <div class="background">
        <div class="logo padding-top-40" *ngIf="loginLogoSize == 'invent-logo'">
            <img src="../../assets/images/{{loginLogo}}" class="invent-logo"
                *ngIf="eventLogo == null || eventLogo == undefined || eventLogo == ''">
            <img [src]="eventLogo" class="custom-logo"
                *ngIf="eventLogo !== null || eventLogo !== undefined || eventLogo !== ''">
        </div>
        <div class="logo" *ngIf="loginLogoSize == 'banner-logo'">
            <img src="../../assets/images/{{loginLogo}}" class="banner-logo"
                *ngIf="eventLogo == null || eventLogo == undefined || eventLogo == ''">
            <img [src]="eventLogo" class="custom-logo"
                *ngIf="eventLogo !== null || eventLogo !== undefined || eventLogo !== ''">
        </div>
        <div *ngIf="normalView == true">
            <ion-grid class="ion-padding">
                <ion-row class="padding-top-40">
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <h3 class="login-title">{{"pages.login.access_your_account" | translate}}</h3>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <ion-label class="input-label-text">{{"pages.login.email" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow email-input" type="email"
                            placeholder='{{"pages.login.input_email_plc" | translate}}' [disabled]="emailDisabled"
                            [(ngModel)]="email" (keyup.enter)="verifyEmail()"></ion-input>

                        <p class="invalid-code"><br><br>{{msgEmail}}</p>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="insertPasswordView == true">
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <ion-label class="input-label-text">{{"pages.login.password" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="password" placeholder="******"
                            [(ngModel)]="password" (keyup.enter)="makeLogin()">
                        </ion-input>

                        <br> <a class="forgot-password" (click)="recoveryPassword()">{{"pages.login.forgot_pass"
              |
              translate}}</a>
                        <p class="invalid-code">{{msgPassword}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="insertPasswordView == true">
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <div class="term-conditions">
                            <ion-checkbox color="primary" [(ngModel)]="termCheck"></ion-checkbox>
                            <ion-label class="space-condition">{{"pages.login.accept_term" | translate}}&nbsp;<a
                                    class="conditions-class" ion-button clear icon-only (click)="openTermsOfUse()">{{"pages.login.terms_of_use"
                  | translate}}</a>
                                {{"global.texts.and" | translate}}&nbsp;<a class="conditions-class" ion-button clear
                                    icon-only (click)="openPrivacy()">{{"pages.login.privacy_txt"
                  | translate}}</a></ion-label>
                        </div>
                        <p class="invalid-code">{{msgTermRequired}}</p>
                    </ion-col>
                </ion-row>

                <br>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-button shape="round" class="btn-default bg-blue" (click)="verifyEmail()"
                            *ngIf="insertPasswordView == false && activeLoader == false" color="blue-default">{{"global.buttons.btn_verify"
              | translate}}</ion-button>
                        <ion-button shape="round" class="btn-default bg-blue" (click)="makeLogin()"
                            *ngIf="insertPasswordView == true && activeLoader == false" color="blue-default"
                            [disabled]="activeLoader">
                            <span *ngIf="!activeLoader">{{"global.buttons.enter"| translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </ion-button>
                        <div class="divider-default" *ngIf="insertPasswordView == false"></div>
                        <!-- <ion-button shape="round" fill="outline" class="btn-default btn-outline-default"
              *ngIf="(!displayPublicEventsBtn) && insertPasswordView == false && activeLoader == false"
              color="blue-default">
              {{"global.buttons.acess_by_shortcode" | translate}}</ion-button> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="firstAccessView == true">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <p class="login-title">{{"pages.login.first_access_txt_01" | translate}}</p>
                        <p class="explanation-txt">{{"pages.login.first_access_txt_02" | translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-label class="input-label-text">{{"pages.login.verify_code" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="number" placeholder="238477"
                            pattern="[0-9]*" min="0" max="10" [(ngModel)]="codeNumberTyped"></ion-input>
                        <br><br> <br><span class="timer">{{"pages.login.remaining_time" | translate}}
                            {{timeRemaining}}</span>
                        <p class="invalid-code" *ngIf="msgCode !== null"><br><br>{{msgCode}}</p>
                        <p class="invalid-code" *ngIf="msgTimeRemaining !== null">{{msgTimeRemaining}}</p>
                        <ion-button class="btn-default" color="medium" shape="round" fill="outline" *ngIf="count == 0"
                            [disabled]="activeLoader2" (click)="createCodeNumber(); activeLoader2=true">
                            <span *ngIf="!activeLoader2">{{"pages.login.resend_code" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader2"></ion-spinner>
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-button shape="round" class="btn-default" (click)="verifyCodeNumber()" color="blue-default"
                            [disabled]="activeLoader">
                            <span *ngIf="!activeLoader">{{"global.buttons.btn_verify" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngIf="createPassView == true">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <p class="login-title">{{"pages.login.great_title" | translate}}</p>
                        <p class="explanation-txt">{{"pages.login.make_pass_txt" | translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-label class="input-label-text">{{"pages.login.new_pass" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="password" placeholder="******"
                            [(ngModel)]="createPass"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-label class="input-label-text">{{"pages.login.confirm_new_pass" | translate}}</ion-label>
                        <ion-input class="custom-input border-n-shadow" type="password" placeholder="******"
                            [(ngModel)]="confirmPass"></ion-input>
                        <p class="invalid-code" *ngIf="msgPassword !== null"><br><br>{{msgPassword}}</p>
                        <p class="invalid-code" *ngIf="msgCreateAccount !== null"><br><br>{{msgCreateAccount}}</p>
                        <p class="invalid-code" *ngIf="msgEmailAlreadyUse !== null"><br><br>{{msgEmailAlreadyUse}}
                            <br>
                            <a class="forgot-password" (click)="forgotPassword()">{{"pages.login.forgot_pass"
                |
                translate}}</a>
                        </p>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
                        <div class="term-conditions">
                            <ion-checkbox color="primary" [(ngModel)]="termCheck"></ion-checkbox>
                            <ion-label class="space-condition">{{"pages.login.accept_term" | translate}}&nbsp;<a
                                    class="conditions-class" ion-button clear icon-only (click)="openTermsOfUse()">{{"pages.login.terms_of_use"
                  | translate}}</a>
                                {{"global.texts.and" | translate}}&nbsp;<a class="conditions-class" ion-button clear
                                    icon-only (click)="openPrivacy()">{{"pages.login.privacy_txt"
                  | translate}}</a></ion-label>
                        </div>
                        <p class="invalid-code">{{msgTermRequired}}</p>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
                        <ion-button shape="round" class="btn-default" (click)="createAccount()" color="blue-default"
                            [disabled]="activeLoader">
                            <span *ngIf="!activeLoader">{{"pages.login.btn_make_pass" | translate}}</span>
                            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <!-- <div class="footer">
      <p class="footer-txt">{{"global.texts.license" | translate}}</p>
    </div> -->
    </div>
</ion-content>