<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <h4><strong>{{"global.terms_of_use" | translate}}</strong></h4>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <ckeditor [(ngModel)]="termsOfUse">
                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                        </ckeditor>
                    </div>
                    <button class="btn btn-custom float-right" (click)="updateTermOfuse()"
                        *ngIf="loader == false">{{"global.btn_save" | translate}}</button>
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
            <br>
            <h4><strong>{{"global.privacy" | translate}}</strong></h4>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <ckeditor [(ngModel)]="privacy">
                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                        </ckeditor>
                    </div>
                    <button class="btn btn-custom float-right" (click)="updatePrivacy()"
                        *ngIf="loader == false">{{"global.btn_save" | translate}}</button>
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal success -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>