<body>
    <form #myForm="ngForm">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                    <div class="card-body" *ngIf="loader == false">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="editEvent-tab" data-toggle="tab" href="#editEvent"
                                    role="tab" aria-controls="editEvent"
                                    aria-selected="true">{{"global.edit_fields" | translate}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                                    aria-controls="settings" aria-selected="false">{{"global.configs" | translate}}</a>
                            </li>
                        </ul>
                        <br>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="editEvent" role="tabpanel"
                                aria-labelledby="editEvent-tab">
                                <!-- INICIO EDIÇÃO DO EVENTO -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"comp.new_event.event_name" | translate}}</label>
                                            <input [formControl]="formValidation.controls['title']" class="form-control"
                                                type="text"
                                                placeholder='{{"comp.new_event.event_name_plc" | translate}}'
                                                name="title" required>

                                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                                *ngIf="formValidation.value.title.length <= 0">
                                                {{"global.required_field" | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- principal language -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"global.principal_language" | translate}}</label>
                                            <select *ngIf="allow_language"
                                                [formControl]="formValidation.controls['language']"
                                                class="custom-select" (change)="changePrincipalLanguage()">
                                                <option selected [ngValue]="formValidation.value.language">
                                                    {{formValidation.value.language.name}}
                                                </option>

                                                <ng-container *ngFor="let l of languages; let i = index">
                                                    <option [ngValue]="l"
                                                        *ngIf="formValidation.value.language.value !== l.value">
                                                        {{l.name}}
                                                    </option>
                                                </ng-container>
                                            </select>
                                            <select *ngIf="!allow_language" disabled
                                                [formControl]="formValidation.controls['language']"
                                                class="custom-select" (change)="changePrincipalLanguage()">
                                                <option selected [ngValue]="formValidation.value.language">
                                                    {{formValidation.value.language.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label
                                                for="inlineFormInputGroup">{{"comp.new_event.event_shortcode" | translate}}</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">{{defaultAppUrl}}</div>
                                                </div>
                                                <input disabled [formControl]="formValidation.controls['shortcode']"
                                                    type="text" class="form-control" id="inlineFormInputGroup">

                                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                                    *ngIf="formValidation.value.shortcode.length <= 0">
                                                    {{"comp.new_event.shortcode_required" | translate}}
                                                </div>

                                                <div *ngIf="invalidShortcodeError"
                                                    class="alert alert-danger red-text text-darken-3 left-align">
                                                    {{"comp.new_event.invalid_shortcode_indb" | translate}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>{{"global.website" | translate}}</label>
                                        <input type="url" [formControl]="formValidation.controls['site']"
                                            class="form-control" placeholder="https://eventwebsite.com" name="site">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"global.start_date" | translate}}</label>
                                            <input [formControl]="formValidation.controls['startDate']"
                                                class="form-control" type="date">
                                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                                *ngIf="formValidation.value.startDate.length <= 0">
                                                {{"global.required_field" | translate}}
                                            </div>

                                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                                *ngIf="dateError">
                                                {{"comp.new_event.end_date_before_start" | translate}}
                                            </div>

                                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                                *ngIf="startDatePastError">
                                                {{"comp.new_event.date_invalid_format" | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"comp.new_event.end_date" | translate}}</label>
                                            <input [formControl]="formValidation.controls['endDate']"
                                                class="form-control" type="date">

                                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                                *ngIf="formValidation.value.endDate.length <= 0">
                                                {{"global.required_field" | translate}}
                                            </div>

                                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                                *ngIf="endDatePastError">
                                                {{"comp.new_event.date_invalid_format" | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"global.timezone" | translate}}</label>
                                            <select class="custom-select" required name="timezone"
                                                [formControl]="formValidation.controls['timezone']">
                                                <option selected [ngValue]="formValidation.value.timezone">
                                                    <label>
                                                        {{formValidation.value.timezone}}
                                                    </label>
                                                </option>
                                                <option *ngFor="let t of timezones" [ngValue]="t">{{t}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"global.visibility" | translate}}</label>
                                            <select [formControl]="formValidation.controls['visibility']"
                                                class="custom-select" required name="visibility">
                                                <option [ngValue]="true">{{"global.public" | translate}}</option>
                                                <option [ngValue]="false">{{"global.private" | translate}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"global.place_name" | translate}}</label>
                                            <input type="text" [formControl]="formValidation.controls['placeName']"
                                                class="form-control" placeholder="Hotel XYZ" name="placeName">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{"global.place_address" | translate}}</label>
                                            <input #search id="place-address" type="text" class="form-control"
                                                placeholder='{{"comp.event_info.address_plc" | translate}}'
                                                name="placeAddress"
                                                [formControl]="formValidation.controls['placeAddress']">
                                        </div>
                                    </div>

                                </div>

                                <!-- emaiil support -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"comp.event_info.support_email" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['emailSupport']" type="email"
                                                placeholder='{{"comp.event_info.support_email_placeholder" | translate}}'>
                                        </div>
                                    </div>
                                </div>


                                <!-- secondary languages -->
                                <div *ngIf="allow_language === true" class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <span>{{"comp.event_info.secondary_languages" | translate}}</span>
                                            <br>

                                            <div *ngIf="eventEdit?.language !== 'pt_BR' && eventEdit.languages?.PtBR"
                                                class="chip selected-chip float-left">
                                                {{"comp.event_info.portuguese" | translate}}
                                                <span class="closebtn"
                                                    (click)="removeLanguageSecondary('pt_BR')">&times;</span>
                                            </div>

                                            <div *ngIf="eventEdit?.language !== 'pt_BR' && !eventEdit.languages?.PtBR"
                                                class="chip float-left" (click)="addLanguageSecondary('pt_BR')">
                                                {{"comp.event_info.portuguese" | translate}}
                                            </div>


                                            <div *ngIf="eventEdit?.language !== 'en_US' && eventEdit.languages?.EnUS"
                                                class="chip selected-chip float-left">
                                                {{"comp.event_info.english" | translate}}
                                                <span class="closebtn"
                                                    (click)="removeLanguageSecondary('en_US')">&times;</span>
                                            </div>

                                            <div *ngIf="eventEdit?.language !== 'en_US' && !eventEdit.languages?.EnUS"
                                                class="chip float-left" (click)="addLanguageSecondary('en_US')">
                                                {{"comp.event_info.english" | translate}}
                                            </div>


                                            <div *ngIf="eventEdit?.language !== 'es_ES' && eventEdit.languages?.EsES"
                                                class="chip selected-chip float-left">
                                                {{"comp.event_info.spanish" | translate}}
                                                <span class="closebtn"
                                                    (click)="removeLanguageSecondary('es_ES')">&times;</span>
                                            </div>

                                            <div *ngIf="eventEdit?.language !== 'es_ES' && !eventEdit.languages?.EsES"
                                                class="chip float-left" (click)="addLanguageSecondary('es_ES')">
                                                {{"comp.event_info.spanish" | translate}}
                                            </div>


                                            <div *ngIf="eventEdit?.language !== 'fr_FR' && eventEdit.languages?.FrFR"
                                                class="chip selected-chip float-left">
                                                {{"comp.event_info.french" | translate}}
                                                <span class="closebtn"
                                                    (click)="removeLanguageSecondary('fr_FR')">&times;</span>
                                            </div>

                                            <div *ngIf="eventEdit?.language !== 'fr_FR' && !eventEdit.languages?.FrFR"
                                                class="chip float-left" (click)="addLanguageSecondary('fr_FR')">
                                                {{"comp.event_info.french" | translate}}
                                            </div>

                                            <div *ngIf="eventEdit?.language !== 'de_DE' && eventEdit.languages?.DeDE"
                                                class="chip selected-chip float-left">
                                                {{"comp.event_info.german" | translate}}
                                                <span class="closebtn"
                                                    (click)="removeLanguageSecondary('de_DE')">&times;</span>
                                            </div>

                                            <div *ngIf="eventEdit?.language !== 'de_DE' && !eventEdit.languages?.DeDE"
                                                class="chip float-left" (click)="addLanguageSecondary('de_DE')">
                                                {{"comp.event_info.german" | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <!-- descriptions -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label
                                                class="float-left">{{"comp.event_info.description" | translate}}</label>
                                        </div>
                                        <br><br>

                                        <div *ngFor="let l of languages; let i = index" class="accordion"
                                            id="accordionEventDescriptions">
                                            <div class="card" *ngIf="l.value == 'en_US' && eventEdit.languages?.EnUS">
                                                <div class="card-header" id="headingEnglish">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link" type="button"
                                                            data-toggle="collapse" data-target="#collapseEnglish"
                                                            aria-expanded="true" aria-controls="collapseEnglish">
                                                            {{"comp.event_info.english" | translate}}
                                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseEnglish"
                                                    class="collapse {{formValidation.value.language.value == 'en_US' ? 'show' : ''}}"
                                                    aria-labelledby="headingEnglish"
                                                    data-parent="#accordionEventDescriptions">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <ckeditor [formControl]="formValidation.controls['en_US']">
                                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                                            </ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card" *ngIf="l.value == 'pt_BR' && eventEdit.languages?.PtBR">
                                                <div class="card-header" id="headingPortuguese">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapsePortuguese"
                                                            aria-expanded="false" aria-controls="collapsePortuguese">
                                                            {{"comp.event_info.portuguese" | translate}}
                                                        </button>

                                                    </h2>
                                                </div>
                                                <div id="collapsePortuguese"
                                                    class="collapse {{formValidation.value.language.value == 'pt_BR' ? 'show' : ''}}"
                                                    aria-labelledby="headingPortuguese"
                                                    data-parent="#accordionEventDescriptions">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <ckeditor [formControl]="formValidation.controls['pt_BR']">
                                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                                            </ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card" *ngIf="l.value == 'es_ES' && eventEdit.languages?.EsES">
                                                <div class="card-header" id="headingSpanish">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseSpanish"
                                                            aria-expanded="false" aria-controls="collapseSpanish">
                                                            {{"comp.event_info.spanish" | translate}}
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseSpanish"
                                                    class="collapse {{formValidation.value.language.value == 'es_ES' ? 'show' : ''}}"
                                                    aria-labelledby="headingSpanish"
                                                    data-parent="#accordionEventDescriptions">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <ckeditor [formControl]="formValidation.controls['es_ES']">
                                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                                            </ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card" *ngIf="l.value == 'fr_FR' && eventEdit.languages?.FrFR">
                                                <div class="card-header" id="headingFrench">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseFrench"
                                                            aria-expanded="false" aria-controls="collapseFrench">
                                                            {{"comp.event_info.french" | translate}}
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseFrench"
                                                    class="collapse {{formValidation.value.language.value == 'fr_FR' ? 'show' : ''}}"
                                                    aria-labelledby="headingFrench"
                                                    data-parent="#accordionEventDescriptions">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <ckeditor [formControl]="formValidation.controls['fr_FR']">
                                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                                            </ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card" *ngIf="l.value == 'de_DE' && eventEdit.languages?.DeDE">
                                                <div class="card-header" id="headingGerman">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseGerman"
                                                            aria-expanded="false" aria-controls="collapseGerman">
                                                            {{"comp.event_info.german" | translate}}
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseGerman"
                                                    class="collapse {{formValidation.value.language.value == 'de_DE' ? 'show' : ''}}"
                                                    aria-labelledby="headingGerman"
                                                    data-parent="#accordionEventDescriptions">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <ckeditor [formControl]="formValidation.controls['de_DE']">
                                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                                            </ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- FIM EDIÇÃO DO EVENTO -->
                            </div>

                            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                <!-- COMEÇO FIELDS VISIBILITY -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <span class=""><strong>{{"global.field" | translate}}</strong></span>
                                            </div>

                                            <div class="col-sm-6 col-md-6 text-center">
                                                <span class="">
                                                    <strong>{{"global.visible" | translate}}</strong>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.new_event.event_date" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventFields.date"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"global.description" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventFields.description"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.event_info.support_email" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventFields.supportEmail"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span class="field-name">{{"global.website" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventFields.site"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"global.place_address" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventFields.location"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIM FIELDS VISIBILITY -->

                                <br />

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <span
                                                    class=""><strong>{{"global.private_access" | translate}}</strong></span>
                                            </div>
                                            <div class="col-sm-12 col-md-6 text-center">
                                                <span class=""><strong>{{"global.option" | translate}}</strong></span>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        {{"comp.attendees.required_edit_profile" | translate}}
                                                    </div>
                                                    <div class="col-sm-12 col-md-6 text-center">
                                                        <ui-switch size="small"
                                                            [(ngModel)]="eventEdit.required_edit_profile"
                                                            [ngModelOptions]="{standalone: true}"></ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        {{"comp.event_info.allow_qrcode_profile" | translate}}
                                                    </div>
                                                    <div class="col-sm-12 col-md-6 text-center">
                                                        <ui-switch size="small" [(ngModel)]="eventEdit.allowProfileQR"
                                                            [ngModelOptions]="{standalone: true}"></ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!-- COMEÇO CONFIGURAÇÕES MODULES -->
                                <div class="row" *ngIf="formValidation.value.visibility">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <span
                                                    class=""><strong>{{"global.public_access" | translate}}</strong></span>
                                            </div>
                                            <div class="col-sm-12 col-md-6 text-center">
                                                <span class=""><strong>{{"global.option" | translate}}</strong></span>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        {{"global.default_register_module" | translate}}
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <select class="form-control" id="selectCenter"
                                                            [formControl]="formValidation.controls['default_attendee_module']">
                                                            <option selected value="">
                                                                {{"global.select_option" | translate}}</option>
                                                            <option *ngFor="let attendeeModule of attendeeModules"
                                                                [value]="attendeeModule.uid">
                                                                {{attendeeModule.name[principalEventLanguage]}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.containers.allow_fb_btn" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventEdit?.publicOptions.facebook_btn"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.containers.allow_google_btn" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventEdit?.publicOptions.google_btn"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.containers.allow_twitter_btn" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventEdit?.publicOptions.twitter_btn"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.containers.allow_microsoft_btn" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventEdit?.publicOptions.microsoft_btn"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.containers.allow_yahoo_btn" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="eventEdit?.publicOptions.yahoo_btn"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->


                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <span
                                                            class="field-name">{{"comp.event_info.respond_interactivity_without_registering" | translate}}</span>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 text-center">
                                                        <ui-switch class="" size="small" color="#1FC94F"
                                                            [(ngModel)]="answerOffline"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (change)="changeInteractivityConfig()">
                                                        </ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- FIM CONFIGURAÇÕES MODULES -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="text-bold">{{"comp.event_info.preview" | translate}}</span>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="event-name">{{formValidation.value.title}}</h4>
                        <h6 class="event-email">{{formValidation.value.startDate}} - {{formValidation.value.endDate}}
                        </h6>
                        <h4 class="event-name">{{formValidation.value.language.name}}</h4>
                        <span class="event-description">{{formValidation.value.timezone}}
                            <br>
                            <a
                                href="{{defaultAppUrl}}{{formValidation.value.shortcode}}">{{defaultAppUrl}}{{formValidation.value.shortcode}}</a>
                        </span>
                        <br>

                        <span class="event-description">{{formValidation.value.site}}</span>
                        <br>

                        <span *ngIf="eventEdit && visibility" class="event-description">{{"global.public" | translate}}
                            -
                            {{eventEdit.userLimit}} <span class="lowercase">{{"global.attendees" | translate}}</span>
                            <br></span>

                        <span *ngIf="eventEdit && !visibility"
                            class="event-description">{{"global.private" | translate}} -
                            {{eventEdit.userLimit}} <span class="lowercase">{{"global.attendees" | translate}}</span>
                            <br></span>

                        <span class="event-description">{{formValidation.value.placeName}}
                            <span *ngIf="addressGoogle == ''">
                                {{formValidation.value.placeAddress}}
                            </span>
                            <span *ngIf="addressGoogle !== ''">
                                {{addressGoogle}}
                            </span>
                        </span>
                        <br> <br>

                        <div class="align-loader" *ngIf="loaderBtn == true">
                            <div class="loader-default"></div>
                        </div>
                        <button [disabled]="!formValidation.valid" (click)="updateEvent()"
                            class="btn btn-secondary btn-center"
                            *ngIf="loaderBtn == false">{{"global.update" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<!-- Modal -->
<div class="modal fade" id="newDescription" tabindex="-1" role="dialog" aria-labelledby="newDescriptionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)="clearAddDescription()" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>

                <div class="form-group">
                    <label for="SelectLanguages">{{"comp.event_info.language" | translate}}</label>
                    <select name="select-languages" id="SelectLanguages" class="custom-select"
                        *ngIf="avaiableDescriptionsToSelect" [(ngModel)]="newSelectedLanguage">
                        <option value="-1" disabled selected>{{"global.select_language" | translate}}</option>
                        <ng-container *ngFor="let item of avaiableDescriptionsToSelect; let i = index">
                            <option value="{{item.language}}" [disabled]="item.used">{{item.translate}}
                            </option>
                        </ng-container>
                    </select>
                    <br>
                    <span>* {{"comp.event_info.duplicate_language_msg" | translate}}</span>
                    <br><br>
                    <button class="btn btn-custom float-right"
                        (click)="addDescription()">{{"global.btn_add" | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal success -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>