textarea {
    resize: none;
}

.user-name {
    font-weight: bold;
}

.user-email {
    font-weight: 400;
    font-size: .9em;
}

.user-description {
    margin-top: 10px;
    font-weight: 200;
    font-size: .8em;
}

.remove-description {
    float: right;
    cursor: pointer;
}

.icon-delete-description {
    color: #c91f1f;
}

.card-header {
    padding: .20rem .25rem;
}

#selectCenter {
    text-align-last: center;
}