:host {
    width: 100%;
    height: 100%;
}

.feedbacks-container {
    background: #F6F6F6;
}

.top-space {
    margin-top: 4px;
}

.feedback-title {
    font-size: 1.2em;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
}

.option-size {
    font-size: .9em;
    opacity: .6;
}

.feedback-question-title {
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    opacity: 0.7;
}

.questions-to-user {
    position: relative;
    z-index: 99999;
}

.evalution-align {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feedback-btn-custom {
    border-radius: 15px;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
}

.align-end-btn {
    margin-top: 6px;
    margin-right: 6px;
    float: right;
}

.text-dark-gray-btn {
    color: #1d1d1d;
}

.text-white-btn {
    color: #ffffff;
}

.btn-border {
    margin-right: 3px;
}

.align-center-btns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.infobooth {
    background-color: #FFFFFF;
    padding: 10px 0 0 0;
}