<div class="top-space feedbacks-container" *ngIf="feedbacks.length > 0">
    <br>
    <div *ngFor="let feedback of feedbacks; let i = index">
        <h3 class="feedback-title" [style.color]="title_color">{{ feedback.title[userLanguage] }}</h3>

        <div *ngFor="let question of feedback.questions; let j = index">
            <div *ngIf="question.visibility">
                <h4 class="feedback-question-title" [style.color]="title_color">
                    {{ question.title[userLanguage] }}</h4>

                <div class="infobooth" *ngIf="question.infobooth[userLanguage] !== undefined 
                            && question.infobooth[userLanguage] !== null
                            && question.infobooth[userLanguage] !== ''">
                    <small>
                        <p [innerHTML]="question.infobooth[userLanguage] | safeHtml"></p>
                    </small>
                </div>

                <ion-list (click)="presentToast(question.answered, feedback.change_answer)">
                    <ion-radio-group [(ngModel)]="result[i][j]" [ngModelOptions]="{standalone: true}" ngDefaultControl
                        *ngIf="question.type == 'oneSelect' && setResult">
                        <ion-item class="justify-text ion-text-wrap" *ngFor="let option of question.answers; let o = index">
                            <ion-label class="option-size ion-text-wrap" [style.color]="text_content_color">
                                {{option.answer[userLanguage]}}
                            </ion-label>
                            <ion-radio value="{{option.uid}}"
                                [disabled]="question.answered == true && feedback.change_answer == false">
                            </ion-radio>
                        </ion-item>
                    </ion-radio-group>

                    <ion-radio-group ngDefaultControl *ngIf="question.type == 'oneSelect' && !setResult">
                        <ion-item class="justify-text ion-text-wrap" *ngFor="let option of question.answers; let o = index">
                            <ion-label class="option-size ion-text-wrap" [style.color]="text_content_color">
                                {{option.answer[userLanguage]}}
                            </ion-label>
                            <ion-radio value="{{option.uid}}"
                                [disabled]="question.answered == true && feedback.change_answer == false">
                            </ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>

                <ion-list (click)="presentToast(question.answered, feedback.change_answer)"
                    *ngIf="question.type == 'multipleSelect' && setResult == true">
                    <div *ngFor="let option of question.answers; let t = index">
                        <ion-item class="justify-text">
                            <ion-label class="option-size ion-text-wrap" [style.color]="text_content_color">
                                {{option.answer[userLanguage]}}
                            </ion-label>
                            <ion-checkbox [(ngModel)]="result[i][j][t]" [ngModelOptions]="{standalone: true}"
                                [disabled]="question.answered == true && feedback.change_answer == false"
                                ngDefaultControl>
                            </ion-checkbox>
                        </ion-item>
                    </div>
                </ion-list>

                <ion-list (click)="presentToast(question.answered, feedback.change_answer)"
                    *ngIf="question.type == 'multipleSelect' && !setResult">
                    <div *ngFor="let option of question.answers; let t = index">
                        <ion-item class="justify-text">
                            <ion-label class="option-size ion-text-wrap" [style.color]="text_content_color">
                                {{option.answer[userLanguage]}}
                            </ion-label>
                            <ion-checkbox [disabled]="question.answered == true && feedback.change_answer == false"
                                ngDefaultControl>
                            </ion-checkbox>
                        </ion-item>
                    </div>
                </ion-list>

                <ion-list class="questions-to-user" (click)="presentToast(question.answered, feedback.change_answer)"
                    *ngIf="question.type == 'evaluation' && setResult == true">
                    <ion-item class="ion-text-wrap" lines="none">
                        <div class="evalution-align">
                            <star-rating [value]="result[i][j]" checkedcolor="gold" uncheckedcolor="#252525" size="24px"
                                [readonly]="question.answered == true && feedback.change_answer == false"
                                (rate)="setEvaluation($event, i, j)"></star-rating>
                        </div>
                    </ion-item>
                    <br>
                </ion-list>

                <ion-list class="questions-to-user" (click)="presentToast(question.answered, feedback.change_answer)"
                    *ngIf="question.type == 'evaluation' && !setResult">
                    <ion-item class="ion-text-wrap" lines="none">
                        <div class="evalution-align">
                            <star-rating value="0" checkedcolor="gold" uncheckedcolor="#252525" size="24px"
                                [readonly]="question.answered == true && feedback.change_answer == false">
                            </star-rating>
                        </div>
                    </ion-item>
                    <br>
                </ion-list>

                <ion-list (click)="presentToast(question.answered, feedback.change_answer)" [(ngModel)]="result[i][j]"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl
                    *ngIf="question.type == 'dissertative' && setResult == true">
                    <ion-item class="ion-text-wrap" lines="none">
                        <ion-textarea placeholder='{{"pages.survey.answer_plc" | translate}}' value="{{result[i][j]}}"
                            [disabled]="question.answered == true && feedback.change_answer == false">
                        </ion-textarea>
                    </ion-item>
                </ion-list>


                <ion-list (click)="presentToast(question.answered, feedback.change_answer)"
                    *ngIf="question.type == 'dissertative' && !setResult">
                    <ion-item class="ion-text-wrap" lines="none">
                        <ion-textarea placeholder='{{"pages.survey.answer_plc" | translate}}'
                            [disabled]="question.answered == true && feedback.change_answer == false">
                        </ion-textarea>
                    </ion-item>
                </ion-list>

                <ion-item class="ion-text-wrap" lines="none"
                    *ngIf="question.type == 'yesOrNo' && setResult == true && (question.answered == false || feedback.change_answer == true)">
                    <ion-buttons class="align-center-btns">
                        <button
                            [class]="buttonColorYes[i][j] == '#f4f4f4' ? 'feedback-btn-custom text-dark-gray-btn btn-border ' : 'feedback-btn-custom text-white-btn btn-border'"
                            [style.background]="buttonColorYes[i][j]"
                            (click)="answeredYesOrNo('yes', i, j)">{{"global.buttons.yes" | translate}}</button>
                        <button
                            [class]="buttonColorNo[i][j] == '#f4f4f4' ? 'feedback-btn-custom text-dark-gray-btn btn-border' : 'feedback-btn-custom text-white-btn btn-border'"
                            [style.background]="buttonColorNo[i][j]"
                            (click)="answeredYesOrNo('no', i, j)">{{"global.buttons.no" | translate}}</button>
                    </ion-buttons>
                </ion-item>

                <ion-item class="ion-text-wrap" lines="none"
                    *ngIf="question.type == 'yesOrNo' && setResult == true && (question.answered == true && feedback.change_answer == false)">
                    <ion-buttons class="align-center-btns">
                        <button class="feedback-btn-custom btn-border"
                            (click)="presentToast(question.answered, feedback.change_answer)"
                            [style.background]="buttonColorYes[i][j]">{{"global.buttons.yes" | translate}}</button>
                        <button class="feedback-btn-custom btn-border"
                            (click)="presentToast(question.answered, feedback.change_answer)"
                            [style.background]="buttonColorNo[i][j]">{{"global.buttons.no" | translate}}</button>
                    </ion-buttons>
                </ion-item>

                <ion-item class="ion-text-wrap" lines="none" *ngIf="question.type == 'yesOrNo' && !setResult">
                    <ion-buttons class="align-center-btns">
                        <button class="feedback-btn-custom text-dark-gray-btn btn-border"
                            style.background-color="#f4f4f4">
                            {{"global.buttons.yes" | translate}}
                        </button>
                        <button class="feedback-btn-custom text-dark-gray-btn btn-border"
                            style.background-color="#f4f4f4">
                            {{"global.buttons.no" | translate}}
                        </button>
                    </ion-buttons>
                </ion-item>
            </div>
        </div>

        <div>
            <ion-spinner name="lines" class="spinner align-end-btn" *ngIf="loadingSend[i]"></ion-spinner>

            <button class="feedback-btn-custom align-end-btn" *ngIf="!loadingSend[i]" [style.color]="menu_text_color"
                [style.background]="menu_color" [disabled]="feedback.response" ion-button (click)="sendFeedback(i)">
                {{"global.texts.btn_send" | translate}}
            </button>
            <br><br>
        </div>
    </div>
</div>