/* smartphone */

.flex-smart {
    display: flex;
    justify-content: center;
}

.smartphone {
    background-image: url('../../../../../assets/images/smartphone.svg');
    background-repeat: no-repeat;
    width: 300px;
    height: 560px;
    position: relative;
}

// .content-smartphone {
//     margin-top: 38% !important;
//     /* padding-left: 0.9vh; */
//     margin-left: 1.2vh;
//     position: absolute;
//     width: 93%;
//     height: 375px;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }

// @media screen and (min-width: 1560px) {
//     .content-smartphone {
//         height: 376.5px;
//         margin-top: 14.4vh;
//         /* padding-left: 1.3vh; */
//     }
// }

.smart-bg {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 89.4px;
    width: 98%;
    min-height: 400px !important;
    max-height: 600px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    background: red;
}

.smartphone-header {
    position: absolute;
    top: 7%;
    width: 88.3%;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.1px solid #ffffff;
    color: #fff;
}

@media screen and (min-width: 690px) and (max-width: 766px) {
    .smartphone-header {
        width: 88.3% !important;
    }

    .smart-bg {
        width: 98% !important;
    }
}

@media screen and (max-width: 1100px) {
    .smartphone-header {
        width: 90%;
    }

    .smart-bg {
        width: 100%;
    }
}

// widgets sizes
.col-12 {
    margin-bottom: 0px;
}

.col-6 {
    // margin-bottom: 1vh !important;
}

.col-rounded img {
    border-radius: 50%;
}

.col-rounded svg {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 95%;
}

.col-1row {
    height: 105.5px;
    margin-bottom: 1vh !important;
    width: 100%;
}

.col-1row img {
    height: 105.5px;
    width: 100%;
}

.col-1row svg {
    height: 105.5px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.col-05row {
    height: 52.75px;
    margin-bottom: 1vh !important;
    width: 100%;
}

.col-05row img {
    height: 52.75px;
    width: 100%;
}

.col-05row svg {
    height: 52.75px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.col-2row {
    height: 210.0px;
    margin-bottom: 1vh !important;
}

.col-2row img {
    height: 210.0px;
    width: auto;
    object-fit: fill;
}

.col-2row svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}


/* visual scrollbar */


/* width */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #2c3035;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #535e6b;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(65, 65, 65, 65);
}

.link {
    cursor: pointer;
}

.widget-title {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

// widgets settings
.widget-sizes>div {
    max-height: 67px;
}

.icon-proportion {
    cursor: pointer;
}

.switch-widget {
    margin-top: 10px;
    margin-bottom: 15px;
}

.explanation-style-widget {
    font-size: .8em;
    margin-top: 3px;
}

.show-icons {
    height: 200px;
    max-height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.b3-icons {
    object-fit: cover;
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
    margin-bottom: 5px;
}

.b3-icons svg {
    width: 50px !important;
    height: 50px !important;
}

.b3-icon-selected {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.btn-color-icon {
    cursor: pointer;
}

.icon-color-setting {
    font-size: 17px;
    position: absolute;
    right: 12px;
}

.card-header-collapse {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .08)
}

.btn-collapse {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.6);
}

.space-smartphone-top {
    padding-top: 10px;
    margin-left: 1.6%;
    width: 95%;
}

#widget-container {
    max-height: 400px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    #widget-container {
        max-height: 280px !important;
        overflow-y: scroll !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 830px) {
    #widget-container {
        max-height: 310px !important;
        overflow-y: scroll !important;
    }
}

@media screen and (min-width: 830px) and (max-width: 870px) {
    #widget-container {
        max-height: 330px !important;
        overflow-y: scroll !important;
    }
}


@media screen and (min-width: 870px) and (max-width: 980px) {
    #widget-container {
        max-height: 345px !important;
    }
}


@media screen and (min-width: 980px) and (max-width: 999px) {
    #widget-container {
        max-height: 330px !important;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1010px) {
    #widget-container {
        max-height: 300px !important;
    }
}

@media screen and (min-width: 1010px) and (max-width: 1100px) {
    #widget-container {
        max-height: 230px !important;
    }
}


@media screen and (min-width: 1100px) and (max-width: 1200px) {
    #widget-container {
        max-height: 260px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
    #widget-container {
        max-height: 310px !important;
    }
}

// @media screen and (max-width: 1100px) {
//     #widget-container {
//         max-height: 350px !important;
//     }
// }

.align-switch {
    display: flex;
    align-items: center;
    height: 100%;
}

// case use icon instead image
.card-icon-b3 {
    box-shadow: none;
    cursor: grab;
}

.card-img-top {
    object-fit: fill !important;
    object-position: center !important;
    border-radius: 10px;
}

.card-icon-top svg {
    object-fit: fill !important;
    object-position: center !important;
    width: 60%;
    border-radius: 10px;
}

.card-icon-b3:active {
    opacity: 0.4;
    cursor: grabbing;
    user-select: all;
}

.btn-setting {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #2c303534;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.icon-config {
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

.icon-config-delete:hover {
    color: #c91f1f;
}

.save-order-txt {
    color: rgba(0, 0, 0, 0.5);
}

.active-effect-img:hover {
    // padding: 1px;
    border-radius: 5px;
    border: 1.2px solid rgba(0, 0, 0, 0.6);
}

.active-size {
    // padding: 1px;
    border-radius: 5px;
    border: 1.2px solid rgba(0, 0, 0, 0.6);
}

.small-size-indicators {
    font-size: .7em;
}

.text-align-center {
    text-align: center !important;
}

.widget-subtitle {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: .75em;
}

.input-colors-change {
    width: 0.1px;
    height: 0.1px;
    background: transparent;
    border: none;
    outline: none;
}

.inutColorLabel {
    font-size: 1em;
    position: absolute;
    top: 1px;
    right: 0;
}

.null-msg {
    font-weight: bold;
}

.bg-cover-widget {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.col-rounded #bgCoverWidget {
    border-radius: 50% !important;
}

.group-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin: 2px;
}

li {
    list-style: none;
}

.img-thumb-custom {
    width: 50%;
    max-height: 250px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
