<div class="orders">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title float-left" *ngIf="moduleWidget && event">
                            {{moduleWidget | getNameModule: [userLanguage, event?.language]}}</h4>
                        <button class="btn btn-custom-settings float-right" data-toggle="modal"
                            data-target="#settingsModal"><i class="material-icons icon-settings">settings</i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngIf="languages?.PtBR">
                        <a class="nav-link {{activeLanguageWidget == 'PtBR' ? 'active' : ''}}" id="translate-pt-tab"
                            data-toggle="tab" (click)="activeLanguageWidget='PtBR'" role="tab"
                            aria-controls="translate-pt"
                            aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EnUS">
                        <a class="nav-link {{activeLanguageWidget == 'EnUS' ? 'active' : ''}}" id="translate-en-tab"
                            data-toggle="tab" (click)="activeLanguageWidget='EnUS'" role="tab"
                            aria-controls="translate-en"
                            aria-selected="false">{{"comp.event_info.english" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EsES">
                        <a class="nav-link {{activeLanguageWidget == 'EsES' ? 'active' : ''}}" id="translate-es-tab"
                            data-toggle="tab" (click)="activeLanguageWidget='EsES'" role="tab"
                            aria-controls="translate-es"
                            aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.FrFR">
                        <a class="nav-link {{activeLanguageWidget == 'FrFR' ? 'active' : ''}}" id="translate-fr-tab"
                            data-toggle="tab" (click)="activeLanguageWidget='FrFR'" role="tab"
                            aria-controls="translate-fr"
                            aria-selected="false">{{"comp.event_info.french" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.DeDE">
                        <a class="nav-link {{activeLanguageWidget == 'DeDE' ? 'active' : ''}}" id="translate-de-tab"
                            data-toggle="tab" (click)="activeLanguageWidget='DeDE'" role="tab"
                            aria-controls="translate-de"
                            aria-selected="false">{{"comp.event_info.german" | translate}}</a>
                    </li>
                </ul>
                <div class="card">
                    <!-- <div class="card-header">
            Configurações de widgets
          </div> -->
                    <div class="card-body" *ngIf="!editView">
                        <ng-container *ngIf="!loader">
                            <div class="widget-sizes">
                                <h4 class="text-bold text-center">{{"comp.widgets.new_widget" | translate}}</h4><br>
                                <h6 class="subtitle-widget-settings text-bold">{{"comp.widgets.proportion" | translate}}
                                </h6>

                                <div *ngFor="let dim of dimensions"
                                    class="icon-proportion float-left text-align-center icon-wide">
                                    <span class="small-size-indicators">{{ dim.text }}</span><br>
                                    <img class="{{activeProportion == dim.cls ? 'active-size' : 'active-effect-img'}}"
                                        (click)="widgetProportion(dim.cls)" [src]="dim.src">
                                </div>
                            </div>

                            <div *ngIf="proportionError"><br /><br /><br /><br /></div>
                            <div class="alert alert-danger" role="alert" *ngIf="proportionError">
                                <span>{{"comp.widgets.select_proportion" | translate}}</span>
                            </div>
                            <div *ngIf="!proportionError"> <br><br><br><br></div>
                            <div class="widget-format">
                                <h6 class="subtitle-widget-settings text-bold">
                                    {{"comp.widgets.style" | translate}}
                                </h6>

                                <div class="switch-widget">
                                    <ui-switch size="small" uncheckedLabel="Imagem" checkedLabel="Ícone"
                                        [(ngModel)]="enableStyle" (change)="widgetStyle()"
                                        [disabled]="isWidgetTypeDisabled(proportion)">
                                    </ui-switch>
                                    <small *ngIf="!proportion">
                                        &nbsp; {{"comp.widgets.select_proportion" | translate}}
                                    </small>
                                    <small class="null-msg" *ngIf="isWidgetTypeDisabled(proportion)">
                                        &nbsp; {{"comp.widgets.selected_proportion_not_style" | translate}}
                                    </small>
                                </div>
                                <p class="explanation-style-widget" *ngIf="enableStyle == false">
                                    {{"comp.widgets.select_from_pc" | translate}}
                                </p>
                                <p class="explanation-style-widget" *ngIf="enableStyle == true">
                                    {{"comp.widgets.select_from_icons" | translate}}
                                </p>
                                <div class="custom-file" *ngIf="enableStyle == false">
                                    <input #fileInput accept="image/jpg, image/jpeg, image/png, image/gif" type="file"
                                        class="custom-file-input" id="customFile" (change)="getWidgetImage($event)">
                                    <label class="custom-file-label" for="customFile" *ngIf="fileName == null">{{"global.no_file_selected"
| translate}}</label>
                                    <label class="custom-file-label" for="customFile"
                                        *ngIf="fileName !== null">{{fileName}}</label>
                                    <div class="alert alert-danger" role="alert" *ngIf="fileError">
                                        {{"comp.widgets.select_item" | translate}}
                                    </div>
                                    <br><br>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <h6 class="subtitle-widget-settings text-bold">
                                            {{"comp.widgets.redirect_for" | translate}}</h6>
                                        <br>
                                        <div class="form-group">
                                            <select class="custom-select" (change)="changeWidgetPage($event)"
                                                [(ngModel)]="widgetRoute">
                                                <option value="-1">{{"comp.widgets.no_item_na" | translate}}
                                                </option>
                                                <option value="externalPage">
                                                    {{"global.external_link" | translate}}
                                                </option>
                                                <option value="personal-page">{{"global.btn_profile" | translate}}
                                                </option>
                                                <option *ngFor="let module of modulesRedirect; let i = index"
                                                    value="{{module.viewApp}}">
                                                    <span
                                                        class="box-title float-left">{{module?.name[principalEventLanguageFormated]}}</span>
                                                </option>
                                            </select>
                                        </div>
                                        <!-- survey-->
                                        <div class="form-group" *ngIf="selectSurvey == true">
                                            <label>{{"comp.widgets.select_survey" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderSurvey == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let survey of listSurveys"
                                                    value="/event/{{eventId}}/survey/{{moduleIdSurvey}}/{{survey.uid}}">
                                                    {{survey.title[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderSurvey == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- quiz -->
                                        <div class="form-group" *ngIf="selectQuiz == true">
                                            <label>{{"comp.widgets.select_quiz" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderQuiz == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let quiz of listQuiz"
                                                    value="/event/{{eventId}}/quiz/{{moduleIdQuiz}}/{{quiz.uid}}">
                                                    {{quiz.title[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderQuiz == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- training -->
                                        <div class="form-group" *ngIf="selectTraining == true">
                                            <label>{{"comp.widgets.select_training" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderTraining == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let training of listTraining"
                                                    value="/event/{{eventId}}/training/{{moduleIdTraining}}/{{training.uid}}">
                                                    {{training.title[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderTraining == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- ask question general -->
                                        <div class="form-group" *ngIf="selectAskQuestion == true">
                                            <label>{{"comp.ask_question.title" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderAskQuestion == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let question of listAskQuestions"
                                                    value="/event/{{eventId}}/ask-question/{{moduleIdAskQuestion}}/{{question.uid}}">
                                                    {{question.name[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderAskQuestion == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- external link -->
                                        <div class="form-group" *ngIf="widgetIsExtern">
                                            <label>{{"global.url" | translate}}</label>
                                            <input class="form-control" type="text" placeholder="https://yourlink.com"
                                                [(ngModel)]="widgetExternUrl">
                                        </div>

                                        <div class="form-group" [hidden]="!widgetExternUrl">
                                            <label>{{"global.url_open_mode" | translate}}</label>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="in-app-browser"
                                                    [(ngModel)]="open_link_behavior" name="open_link_behavior"
                                                    value="in-app">
                                                <label class="custom-control-label" for="in-app-browser">In App
                                                    Browser</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="sf-safari"
                                                    name="open_link_behavior" [(ngModel)]="open_link_behavior"
                                                    value="sf">
                                                <label class="custom-control-label" for="sf-safari">Safari View
                                                    Controller</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <!-- type vision -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <h6 class="subtitle-widget-settings text-bold">
                                            {{"global.type_vision" | translate}}
                                        </h6>
                                        <br>
                                        <select class="custom-select" name="selectTypeVision"
                                            (change)="selectTypeVision($event)" [(ngModel)]="typeVision">
                                            <option value="{{vision_global}}">{{"global.show_for_all" | translate}}
                                            </option>
                                            <option value="{{vision_group_access_permission}}">
                                                {{"global.limit_by_group" | translate}}</option>
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <!-- groups -->
                                <div class="row" *ngIf="typeVision === vision_group_access_permission">
                                    <div class="col-sm-12 col-md-12">
                                        <br>
                                        <div class="form-group">
                                            <h6 class="subtitle-widget-settings text-bold">
                                                {{"global.groups" | translate}}
                                            </h6>
                                            <br>
                                            <input type="text" class="form-control" [(ngModel)]=queryGroupCreate
                                                (keyup)=filterGroupsCreate()
                                                placeholder='{{"global.groups" | translate}}' />
                                        </div>
                                    </div>
                                    <br>

                                    <div class="filter-group" *ngIf="filteredListGroupsCreate.length > 0">
                                        <li *ngFor="let group of filteredListGroupsCreate" class="group-name"
                                            [style.background]="group.bgColor" [style.color]="group.txtColor">
                                            <span>
                                                <a (click)="selectGroupCreate(group)">
                                                    {{group.name}}
                                                </a>
                                            </span>
                                        </li>
                                        <br><br>
                                    </div>

                                    <div class="col-sm-12 col-md-12">
                                        <div class="filter-group" *ngIf="selectedGroupCreate.length > 0">
                                            <span *ngFor="let theGroup of selectedGroupCreate" class="group-name"
                                                [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                                                {{theGroup.name}}
                                                <a (click)="removeGroupCreate(theGroup)">
                                                    <i class="material-icons closebtn">close</i>
                                                </a>
                                            </span>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                                <div class="icons-b3" *ngIf="enableStyle == true">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-10">
                                            <div class="form-group">
                                                <label class="">{{"comp.widgets.border_color" |
    translate}}</label>
                                                <input class="form-control" [cpOutputFormat]="hex"
                                                    [(colorPicker)]="widgets[lastWidget].borderColor"
                                                    [value]="widgets[lastWidget].borderColor" [(ngModel)]="borderColor"
                                                    [disabled]="!enableBorder"
                                                    *ngIf="widgets[lastWidget].borderColor !== undefined && widgets[lastWidget].borderColor !== undefined">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-2">
                                            <div class="align-switch">
                                                <ui-switch size="small"
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    checkedLabel='{{"global.enabled" | translate}}'
                                                    [(ngModel)]="enableBorder" (change)="widgetBorder()"></ui-switch>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-10">
                                            <div class="form-group">
                                                <label class="">{{"comp.widgets.background_color" |
    translate}}</label>
                                                <input class="form-control" [cpOutputFormat]="hex"
                                                    [(colorPicker)]="widgets[lastWidget].backgroundColor"
                                                    [value]="widgets[lastWidget].backgroundColor"
                                                    [(ngModel)]="backgroundColor" (change)="colorsChanged()"
                                                    [disabled]="!enableBg"
                                                    *ngIf="widgets[lastWidget].backgroundColor !== undefined && widgets[lastWidget].backgroundColor !== undefined">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-2">
                                            <div class="align-switch">
                                                <ui-switch size="small"
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    checkedLabel='{{"global.enabled" | translate}}'
                                                    [(ngModel)]="enableBg" (change)="widgetBackground()"></ui-switch>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <label>{{"global.icon" |
translate}}</label>
                                    <div class="card">
                                        <br>
                                        <div class="container">
                                            <div class="row show-icons">
                                                <div class="col-sm-2" *ngFor="let icon of icons; let i = index">
                                                    <label class="inutColorLabel" for="inputColorChange{{i}}"><i
                                                            class="material-icons inutColorLabel">settings</i>
                                                    </label>
                                                    <input id="inputColorChange{{i}}" class="input-colors-change"
                                                        name="inputColors" [cpOutputFormat]="hex"
                                                        [(colorPicker)]="iconColor[i]" cpPosition="right"
                                                        *ngIf="icon.changeColor == true && icon.position == 'right'"
                                                        (colorPickerChange)="changeIconFill(iconColor[i])" />
                                                    <input id="inputColorChange{{i}}" class="input-colors-change"
                                                        name="inputColors" [cpOutputFormat]="hex"
                                                        [(colorPicker)]="iconColor[i]" cpPosition="left"
                                                        *ngIf="icon.changeColor == true && icon.position == 'left'"
                                                        (colorPickerChange)="changeIconFill(iconColor[i])" />
                                                    <svg-icon class="b3-icons"
                                                        src="../../../../../assets/images/icons-db/{{icon.path}}"
                                                        [style.fill]="iconColor[i]"
                                                        (click)="selectIcon(icon, iconColor[i])"></svg-icon>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="fileError">
                                        {{"comp.widgets.select_item" | translate}}
                                    </div>

                                    <div class="widget-text" *ngIf="event">
                                        <h6 class="subtitle-widget-settings text-bold">
                                            {{"global.txt" | translate}}
                                        </h6>
                                        <br>
                                        <div class="form-group">
                                            <label>{{"global.title_" | translate}}</label>
                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
translate}}' [(ngModel)]="widgetText_ptBR" (keyup)="makePreviewSubtitle()" *ngIf="activeLanguageWidget == 'PtBR'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                        translate}}' [(ngModel)]="widgetText_enUS" (keyup)="makePreviewSubtitle()"
                                                *ngIf="activeLanguageWidget == 'EnUS'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                                                              translate}}' [(ngModel)]="widgetText_esES"
                                                (keyup)="makePreviewSubtitle()" *ngIf="activeLanguageWidget == 'EsES'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                        translate}}' [(ngModel)]="widgetText_frFR" (keyup)="makePreviewSubtitle()"
                                                *ngIf="activeLanguageWidget == 'FrFR'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                        translate}}' [(ngModel)]="widgetText_deDE" (keyup)="makePreviewSubtitle()"
                                                *ngIf="activeLanguageWidget == 'DeDE'">
                                        </div>

                                        <div class="form-group">
                                            <label>{{"global.text_color" | translate}}</label>
                                            <input class="form-control" [cpOutputFormat]="hex"
                                                [(colorPicker)]="widgets[lastWidget].subtitleTxtColor"
                                                [value]="widgets[lastWidget].subtitleTxtColor"
                                                [(ngModel)]="subtitleTxtColor"
                                                (colorPickerChange)="changeSubtitleTxtColor(widgets[lastWidget].subtitleTxtColor)" />
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-9">
                                                    <label>{{"global.bg_color" | translate}}</label>
                                                    <input class="form-control" [cpOutputFormat]="hex"
                                                        [(colorPicker)]="widgets[lastWidget].subtitleBgColor"
                                                        [value]="widgets[lastWidget].subtitleBgColor"
                                                        [(ngModel)]="subtitleBgColor"
                                                        (colorPickerChange)="changeSubtitleBgColor(widgets[lastWidget].subtitleBgColor)" />
                                                </div>
                                                <div class="col-sm-12 col-md-3 text-center">
                                                    <div class="form-group">
                                                        <label>{{"global.transparency" | translate}}</label>
                                                        <ui-switch size="small"
                                                            uncheckedLabel='{{"global.disabled" | translate}}'
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            [(ngModel)]="subtitleBgTransparency"
                                                            (change)="subtitleTransparency($event)"></ui-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div *ngIf="loader == false">
                                    <button class="btn btn-custom-cancel" *ngIf="lastWidget !== null"
                                        (click)="clearWidgetAdd()">{{"global.btn_cancel" | translate}}</button>
                                    <button class="btn btn-custom float-right" (click)="checkBeforeAdd()"
                                        [disabled]="!(proportion !== null && (file !== null || selectedIcon != null))"> {{"global.btn_add" |
translate}}</button>
                                </div>
                            </div>
                        </ng-container>
                        <div class="align-loader" *ngIf="loader">
                            <div class="loader-default"></div>
                        </div>
                    </div>

                    <!-- edit widget -->
                    <div class="card-body" *ngIf="editView">
                        <ng-container *ngIf="!loader">
                            <div class="widget-sizes">
                                <h4 class="text-bold text-center">{{"comp.widgets.edit_widget" | translate}}</h4><br>
                                <h6 class="subtitle-widget-settings text-bold">{{"comp.widgets.proportion" | translate}}
                                </h6>

                                <div class="icon-proportion float-left text-align-center icon-wide">
                                    <span class="small-size-indicators">1024x500</span><br>
                                    <img class="{{activeProportion == 'col-12 col-1row' ? 'active-size' : 'active-effect-img'}}"
                                        (click)="widgetProportionEdit('col-12 col-1row')"
                                        src="./assets/images/widget-1.png">
                                </div>
                                <div class="icon-proportion float-left text-align-center icon-small">
                                    <span class="small-size-indicators">500x500</span><br>
                                    <img class="{{activeProportion == 'col-6 col-1row' ? 'active-size' : 'active-effect-img'}}"
                                        (click)="widgetProportionEdit('col-6 col-1row')"
                                        src="./assets/images/widget-2.png">
                                </div>
                                <div class="icon-proportion float-left text-align-center icon-vertical">
                                    <span class="small-size-indicators">500x1024</span><br>
                                    <img class="{{activeProportion == 'col-6 col-2row' ? 'active-size' : 'active-effect-img'}}"
                                        (click)="widgetProportionEdit('col-6 col-2row')"
                                        src="./assets/images/widget-3.png">
                                </div>
                                <div class="icon-proportion float-left text-align-center icon-big">
                                    <span class="small-size-indicators">1024x1024</span><br>
                                    <img class="{{activeProportion == 'col-12 col-2row' ? 'active-size' : 'active-effect-img'}}"
                                        (click)="widgetProportionEdit('col-12 col-2row')"
                                        src="./assets/images/widget-4.png">
                                </div>
                                <div class="icon-proportion float-left text-align-center icon-rounded">
                                    <span class="small-size-indicators">500x500</span><br>
                                    <img class="{{activeProportion == 'col-6 col-1row col-rounded' ? 'active-size' : 'active-effect-img'}}"
                                        (click)="widgetProportionEdit('col-6 col-1row col-rounded')"
                                        src="./assets/images/widget-5.png">
                                </div>
                            </div>
                            <div *ngIf="proportionError"><br><br><br></div>
                            <div class="alert alert-danger" role="alert" *ngIf="proportionError">
                                {{"comp.widgets.select_proportion" | translate}}
                            </div>
                            <div *ngIf="proportionError == false"> <br><br><br><br></div>
                            <div class="widget-format">
                                <h6 class="subtitle-widget-settings text-bold">
                                    {{"comp.widgets.style" | translate}}
                                </h6>

                                <div class="switch-widget">
                                    <ui-switch size="small" uncheckedLabel="Imagem" checkedLabel="Ícone"
                                        [(ngModel)]="enableStyle"
                                        *ngIf="proportion == null || proportion == 'col-12 col-1row' || proportion == 'col-6 col-2row' || proportion == 'col-12 col-2row' || proportion == 'col-6 col-05row'"
                                        disabled></ui-switch>
                                    <ui-switch size="small" uncheckedLabel="Imagem" checkedLabel="Ícone"
                                        [(ngModel)]="enableStyle" (change)="widgetStyle()"
                                        *ngIf="proportion !== null && proportion == 'col-6 col-1row col-rounded' || proportion == 'col-6 col-1row' || proportion == 'col-6 col-05row'">
                                    </ui-switch>
                                    <small *ngIf="proportion == null">
                                        &nbsp; {{"comp.widgets.select_proportion" | translate}}
                                    </small>
                                    <small
                                        *ngIf="proportion == 'col-12 col-1row' || proportion == 'col-6 col-2row' || proportion == 'col-12 col-2row'">
                                        &nbsp; {{"comp.widgets.selected_proportion_not_style" | translate}}
                                    </small>
                                </div>
                                <p class="explanation-style-widget" *ngIf="enableStyle == false">
                                    {{"comp.widgets.select_from_pc" | translate}}
                                </p>
                                <p class="explanation-style-widget" *ngIf="enableStyle == true">
                                    {{"comp.widgets.select_from_icons" | translate}}
                                </p>
                                <div class="custom-file" *ngIf="enableStyle == false">
                                    <input #fileInput accept="image/jpg, image/jpeg, image/png, image/gif" type="file"
                                        class="custom-file-input" id="customFile" (change)="getWidgetImageEdit($event)">
                                    <label class="custom-file-label" for="customFile" *ngIf="fileName == null">{{"global.no_file_selected"
          | translate}}</label>
                                    <label class="custom-file-label" for="customFile"
                                        *ngIf="fileName !== null">{{fileName}}</label>
                                    <div class="alert alert-danger" role="alert" *ngIf="fileError">
                                        {{"comp.widgets.select_item" | translate}}
                                    </div>
                                    <br><br>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <h6 class="subtitle-widget-settings text-bold">
                                            {{"comp.widgets.redirect_for" | translate}}</h6>
                                        <br>
                                        <div class="form-group">
                                            <select class="custom-select" (change)="changeWidgetPage($event)"
                                                [(ngModel)]="widgetRoute">

                                                <option value="-1">{{"comp.widgets.no_item_na" | translate}}
                                                </option>
                                                <option value="externalPage">{{"global.external_link" | translate}}
                                                </option>
                                                <option value="personal-page">{{"global.btn_profile" | translate}}
                                                </option>
                                                <option *ngFor="let module of modulesRedirect; let i = index"
                                                    value="{{module.viewApp}}">
                                                    <span>{{module?.name[principalEventLanguageFormated]}}</span>
                                                </option>
                                            </select>
                                        </div>
                                        <!-- survey -->
                                        <div class="form-group" *ngIf="selectSurvey == true">
                                            <label>{{"comp.widgets.select_survey" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderSurvey == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let survey of listSurveys"
                                                    value="/event/{{eventId}}/survey/{{moduleIdSurvey}}/{{survey.uid}}">
                                                    {{survey.title[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderSurvey == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- quiz -->
                                        <div class="form-group" *ngIf="selectQuiz == true">
                                            <label>{{"comp.widgets.select_quiz" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderQuiz == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let quiz of listQuiz"
                                                    value="/event/{{eventId}}/quiz/{{moduleIdQuiz}}/{{quiz.uid}}">
                                                    {{quiz.title[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderQuiz == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- training -->
                                        <div class="form-group" *ngIf="selectTraining == true">
                                            <label>{{"comp.widgets.select_training" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderTraining == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let training of listTraining"
                                                    value="/event/{{eventId}}/training/{{moduleIdTraining}}/{{training.uid}}">
                                                    {{training.title[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderTraining == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- ask question general -->
                                        <div class="form-group" *ngIf="selectAskQuestion == true">
                                            <label>{{"comp.ask_question.title" | translate}}</label>
                                            <select class="custom-select" (change)="selectInteractivityRoute($event)"
                                                [(ngModel)]="widgetRouteLink" *ngIf="loaderAskQuestion == false">
                                                <option selected disabled value="-1">
                                                    {{"global.select_option" | translate}}
                                                </option>
                                                <option *ngFor="let question of listAskQuestions"
                                                    value="/event/{{eventId}}/ask-question/{{moduleIdAskQuestion}}/{{question.uid}}">
                                                    {{question.name[principalEventLanguageFormated]}}
                                                </option>
                                            </select>
                                            <div class="align-loader" *ngIf="loaderAskQuestion == true">
                                                <div class="loader-default"></div>
                                            </div>
                                        </div>
                                        <!-- external link -->
                                        <div class="form-group" *ngIf="widgetIsExtern">
                                            <label>{{"global.url" | translate}}</label>
                                            <input class="form-control" type="text" placeholder="https://yourlink.com"
                                                [(ngModel)]="widgetExternUrl">
                                        </div>

                                        <div class="form-group" [hidden]="!widgetExternUrl">
                                            <label>{{"global.url_open_mode" | translate}}</label>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="in-app-browser"
                                                    [(ngModel)]="open_link_behavior" name="open_link_behavior"
                                                    value="in-app">
                                                <label class="custom-control-label" for="in-app-browser">In App
                                                    Browser</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="sf-safari"
                                                    name="open_link_behavior" [(ngModel)]="open_link_behavior"
                                                    value="sf">
                                                <label class="custom-control-label" for="sf-safari">Safari View
                                                    Controller</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <!-- type vision -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <h6 class="subtitle-widget-settings text-bold">
                                            {{"global.type_vision" | translate}}
                                        </h6>
                                        <br>
                                        <select class="custom-select" name="selectTypeVision"
                                            (change)="selectWidgetEditTypeVision($event)"
                                            [(ngModel)]="widgetEditTypeVision">
                                            <option value="{{vision_global}}">{{"global.show_for_all" | translate}}
                                            </option>
                                            <option value="{{vision_group_access_permission}}">
                                                {{"global.limit_by_group" | translate}}</option>
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <!-- groups -->
                                <div class="row" *ngIf="widgetEditTypeVision === vision_group_access_permission">
                                    <div class="col-sm-12 col-md-12">
                                        <br>
                                        <div class="form-group">
                                            <h6 class="subtitle-widget-settings text-bold">
                                                {{"global.groups" | translate}}
                                            </h6>
                                            <br>
                                            <input type="text" class="form-control" [(ngModel)]=queryGroupEdit
                                                (keyup)=filterGroupsEdit()
                                                placeholder='{{"global.groups" | translate}}' />
                                        </div>
                                    </div>
                                    <br>

                                    <div class="filter-group" *ngIf="filteredListGroupsEdit.length > 0">
                                        <li *ngFor="let group of filteredListGroupsEdit" class="group-name"
                                            [style.background]="group.bgColor" [style.color]="group.txtColor">
                                            <span>
                                                <a (click)="selectGroupEdit(group)">
                                                    {{group.name}}
                                                </a>
                                            </span>
                                        </li>
                                        <br><br>
                                    </div>

                                    <div class="col-sm-12 col-md-12">
                                        <div class="filter-group" *ngIf="widgetEditGroups.length > 0">
                                            <span *ngFor="let theGroup of widgetEditGroups" class="group-name"
                                                [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                                                {{theGroup.name}}
                                                <a (click)="removeGroupEdit(theGroup)">
                                                    <i class="material-icons closebtn">close</i>
                                                </a>
                                            </span>
                                            <br>
                                        </div>
                                    </div>
                                </div>


                                <div class="icons-b3" *ngIf="enableStyle == true">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-10">
                                            <div class="form-group">
                                                <label class="">{{"comp.widgets.border_color" |
                translate}}</label>
                                                <input class="form-control" [cpOutputFormat]="hex"
                                                    [(colorPicker)]="widgets[widgetEditIndex].borderColor"
                                                    [value]="widgets[widgetEditIndex].borderColor"
                                                    [(ngModel)]="borderColor" [disabled]="!enableBorder">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-2">
                                            <div class="align-switch">
                                                <ui-switch size="small"
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    checkedLabel='{{"global.enabled" | translate}}'
                                                    [(ngModel)]="enableBorder" (change)="widgetBorderEdit()">
                                                </ui-switch>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-10">
                                            <div class="form-group">
                                                <label class="">{{"comp.widgets.background_color" |
                translate}}</label>
                                                <input class="form-control" [cpOutputFormat]="hex"
                                                    [(colorPicker)]="widgets[widgetEditIndex].backgroundColor"
                                                    [value]="widgets[widgetEditIndex].backgroundColor"
                                                    [(ngModel)]="backgroundColor" [disabled]="!enableBg">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-2">
                                            <div class="align-switch">
                                                <ui-switch size="small"
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    checkedLabel='{{"global.enabled" | translate}}'
                                                    [(ngModel)]="enableBg" (change)="widgetBackgroundEdit()">
                                                </ui-switch>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <label>{{"global.icon" |
          translate}}</label>
                                    <div class="card">
                                        <br>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-2" *ngFor="let icon of icons; let i = index">
                                                    <label class="inutColorLabel" for="inputColorChangeEdit{{i}}"><i
                                                            class="material-icons inutColorLabel">settings</i>
                                                    </label> <input id="inputColorChangeEdit{{i}}"
                                                        class="input-colors-change" name="inputColors"
                                                        [cpPosition]="left" [cpOutputFormat]="hex"
                                                        [(colorPicker)]="iconColor[i]" *ngIf="icon.changeColor == true"
                                                        (colorPickerChange)="changeIconFillEdit(iconColor[i])"> <img
                                                        class="b3-icons"
                                                        src="../../../../../assets/images/icons-db/{{icon.path}}"
                                                        alt="{{icon.name}}" (click)="selectIconEdit(icon)">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="fileError">
                                        {{"comp.widgets.select_item" | translate}}
                                    </div>

                                    <div class="widget-text">
                                        <h6 class="subtitle-widget-settings text-bold">
                                            {{"global.txt" | translate}}
                                        </h6>
                                        <br>
                                        <div class="form-group">
                                            <label>{{"global.title_" | translate}}</label>
                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
      translate}}' [(ngModel)]="widgetEdit_ptBR" *ngIf="activeLanguageWidget == 'PtBR'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                                            translate}}' [(ngModel)]="widgetEdit_enUS"
                                                *ngIf="activeLanguageWidget == 'EnUS'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                                                                                  translate}}'
                                                [(ngModel)]="widgetEdit_esES" *ngIf="activeLanguageWidget == 'EsES'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                                            translate}}' [(ngModel)]="widgetEdit_frFR"
                                                *ngIf="activeLanguageWidget == 'FrFR'">

                                            <input class="form-control" type="text" placeholder='{{"comp.widgets.widget_text" |
                                            translate}}' [(ngModel)]="widgetEdit_deDE"
                                                *ngIf="activeLanguageWidget == 'DeDE'">
                                        </div>

                                        <div class="form-group">
                                            <label>{{"global.text_color" | translate}}</label>
                                            <input class="form-control" [cpOutputFormat]="hex"
                                                [(colorPicker)]="widgets[widgetEditIndex].subtitleTxtColor"
                                                [value]="widgets[widgetEditIndex].subtitleTxtColor"
                                                [(ngModel)]="subtitleTxtColorEdit"
                                                (colorPickerChange)="changeSubtitleTxtColorEdit(widgets[widgetEditIndex].subtitleTxtColor)" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{"global.bg_color" | translate}}</label>
                                            <input class="form-control" [cpOutputFormat]="hex"
                                                [(colorPicker)]="widgets[widgetEditIndex].subtitleBgColor"
                                                [value]="widgets[widgetEditIndex].subtitleBgColor"
                                                [(ngModel)]="subtitleBgColorEdit"
                                                (colorPickerChange)="changeSubtitleBgColorEdit(widgets[widgetEditIndex].subtitleBgColor)" />
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <button class="btn btn-custom-cancel" *ngIf="loader == false"
                                    (click)="clearWidgetEdit()">{{"global.btn_cancel" | translate}}</button>
                                <button class="btn btn-custom float-right" (click)="saveWidgetEdit()"
                                    *ngIf="loader == false"> {{"global.btn_save" |
        translate}}</button>

                            </div>
                        </ng-container>
                        <div class="align-loader" *ngIf="loader">
                            <div class="loader-default"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-5">
                <div class="flex-smart">
                    <div class="smartphone">
                        <div class="smartphone-content">
                            <div class="container">
                                <div class="smart-bg" [ngStyle]="getBackground()">
                                    <div class="smartphone-header" id="smartphone-header-color"
                                        [style.background]="eventMenuColor">
                                        <span *ngIf="userLanguage == 'pt_BR'" id="widget-title" class="widget-title"
                                            [style.color]="eventMenuTxtColor">{{moduleWidget?.name.PtBR}}</span>
                                        <span *ngIf="userLanguage == 'en_US'" id="widget-title" class="widget-title"
                                            [style.color]="eventMenuTxtColor">{{moduleWidget?.name.EnUS}}</span>
                                        <span *ngIf="userLanguage == 'es_ES'" id="widget-title" class="widget-title"
                                            [style.color]="eventMenuTxtColor">{{moduleWidget?.name.EsES}}</span>
                                        <span *ngIf="userLanguage == 'fr_FR'" id="widget-title" class="widget-title"
                                            [style.color]="eventMenuTxtColor">{{moduleWidget?.name.FrFR}}</span>
                                        <span *ngIf="userLanguage == 'de_DE'" id="widget-title" class="widget-title"
                                            [style.color]="eventMenuTxtColor">{{moduleWidget?.name.DeDE}}</span>
                                    </div>
                                    <!-- content -->
                                    <div class="space-smartphone-top">
                                        <div class="align-loader" *ngIf="loaderWidgets == true">
                                            <div class="loader-default"></div>
                                        </div>
                                        <div class="row d-flex flex-wrap" id="widget-container" [dragula]='"bag-widget"'
                                            [dragulaModel]='widgets' *ngIf="loaderWidgets == false">
                                            <div id="" *ngFor="let widget of widgets; let i = index"
                                                class="{{widget.proportion}} order-1">
                                                <div class="card card-icon-b3"
                                                    [style.background]="widget.backgroundColor"
                                                    [style.borderColor]="widget.borderColor"
                                                    [style.border]="widget.borderSize">
                                                    <div class="btn-setting">
                                                        <a (click)="editWidget(widget, i)" class="anchor-settings"
                                                            *ngIf="blockNewWidget == false">
                                                            <i class="material-icons icon-config">settings</i>
                                                        </a>
                                                        <a [swal]="deleteSwal" (click)="getWidgetDelete(widget, i)"
                                                            class="anchor-settings-delete"
                                                            *ngIf="blockNewWidget == false">
                                                            <i
                                                                class="material-icons icon-config icon-config-delete">delete</i>
                                                        </a>

                                                        <a class="anchor-settings" *ngIf="blockNewWidget == true"
                                                            data-toggle="tooltip" data-placement="left"
                                                            title="Cancele sua ação atual para ativar este recurso"
                                                            [swal]="errorEditWidgetSwal">
                                                            <i class="material-icons icon-config">settings</i>
                                                        </a>
                                                        <a class="anchor-settings-delete" *ngIf="blockNewWidget == true"
                                                            data-toggle="tooltip" data-placement="left"
                                                            title="Cancele sua ação atual para ativar este recurso"
                                                            [swal]="errorDeleteWidgetSwal">
                                                            <i
                                                                class="material-icons icon-config icon-config-delete">delete</i>
                                                        </a>
                                                    </div>

                                                    <div id="bgCoverWidget" class="bg-cover-widget"
                                                        *ngIf="widget.image[activeLanguageWidget] !== null && widget.isImage == true"
                                                        [ngStyle]="{'background-image':'url(' + widget.image[activeLanguageWidget] + ')'}">
                                                        <img src="../../../../../assets/images/1x1px.png">
                                                    </div>
                                                    <svg-icon class="card-icon-top"
                                                        src="../../../../../assets/images/icons-db/{{widget.image[activeLanguageWidget]}}"
                                                        [style.fill]="widget.iconFill"
                                                        *ngIf="widget.image[activeLanguageWidget] !== null && widget.isImage == false">
                                                    </svg-icon>
                                                    <div class="widget-subtitle" [style.color]="widget.subtitleTxtColor"
                                                        [style.background]="widget.subtitleBgColor"
                                                        *ngIf="event && event.language == 'pt_BR' && widget.title.pt_BR !== '' && widget.title.pt_BR !== null">
                                                        {{widget.title.pt_BR}}
                                                    </div>
                                                    <div class="widget-subtitle" [style.color]="widget.subtitleTxtColor"
                                                        [style.background]="widget.subtitleBgColor"
                                                        *ngIf="event && event.language == 'en_US' && widget.title.en_US !== '' && widget.title.en_US !== null">
                                                        {{widget.title.en_US}}</div>
                                                    <div class="widget-subtitle" [style.color]="widget.subtitleTxtColor"
                                                        [style.background]="widget.subtitleBgColor"
                                                        *ngIf="event && event.language == 'es_ES' && widget.title.es_ES !== '' && widget.title.es_ES !== null">
                                                        {{widget.title.es_ES}}</div>
                                                    <div class="widget-subtitle" [style.color]="widget.subtitleTxtColor"
                                                        [style.background]="widget.subtitleBgColor"
                                                        *ngIf="event && event.language == 'fr_FR' && widget.title.fr_FR !== '' && widget.title.fr_FR !== null">
                                                        {{widget.title.fr_FR}}</div>
                                                    <div class="widget-subtitle" [style.color]="widget.subtitleTxtColor"
                                                        [style.background]="widget.subtitleBgColor"
                                                        *ngIf="event && event.language == 'de_DE' && widget.title.de_DE !== '' && widget.title.de_DE !== null">
                                                        {{widget.title.de_DE}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-save-footer text-center" *ngIf="orderChanged == true">
                    <br>
                    <div class="container" *ngIf="loaderSaveOrder == false">
                        <span class="save-order-txt">{{"global.remind_save_changes" | translate}}</span> &nbsp;
                        <button class="btn btn-custom"
                            (click)="saveNewOrder()">{{"global.btn_save" | translate}}</button>
                    </div>
                    <div class="container" *ngIf="loaderSaveOrder == true">
                        <div class="align-loader">
                            <div class="loader-default"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Settings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel"><strong>{{"global.modal_configs" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body" *ngIf="moduleWidget">
                <div class="row">
                    <div class="col-sm-12 col-md-8 text-center">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h5><strong>{{"comp.widgets.bg_options" | translate}}</strong></h5><br />
                                <div class="form-group">
                                    <small>{{"global.color" | translate}}</small>&nbsp;&nbsp;
                                    <ui-switch size="small" [(ngModel)]="moduleWidget.moduleBackgroundTypeImage"
                                        [ngModelOptions]="{standalone: true}">
                                    </ui-switch> &nbsp;&nbsp;<small>{{"global.image" | translate}}</small>
                                </div>

                                <div class="form-group" *ngIf="!moduleWidget?.moduleBackgroundTypeImage">
                                    <label>{{"comp.colors.background_general_color" | translate}} 1</label>
                                    <input class="form-control" [cpOutputFormat]="hex"
                                        [(colorPicker)]="moduleWidget.moduleBackgroundColor"
                                        [value]="moduleWidget.moduleBackgroundColor"
                                        [(ngModel)]="moduleWidget.moduleBackgroundColor">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <h5><strong>{{"global.degradé" | translate}}</strong></h5><br />
                                <div class="form-group">
                                    <small>{{"global.yes_btn" | translate}}</small>&nbsp;&nbsp;
                                    <ui-switch [disabled]="moduleWidget.moduleBackgroundTypeImage" size="small"
                                        [(ngModel)]="moduleWidget.moduleBackgroundIsDegrade"
                                        [ngModelOptions]="{standalone: true}">
                                    </ui-switch> &nbsp;&nbsp;<small>{{"global.no_btn" | translate}}</small>
                                </div>

                                <div class="form-group" *ngIf="!moduleWidget?.moduleBackgroundTypeImage">
                                    <label>{{"comp.colors.background_general_color" | translate}} 2</label>
                                    <input class="form-control" [disabled]="moduleWidget.moduleBackgroundTypeImage"
                                        [cpOutputFormat]="hex"
                                        [(colorPicker)]="moduleWidget.moduleBackgroundColorSecondary"
                                        [value]="moduleWidget.moduleBackgroundColorSecondary"
                                        [(ngModel)]="moduleWidget.moduleBackgroundColorSecondary">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="moduleWidget?.moduleBackgroundTypeImage">
                            <label>{{"comp.widgets.bg_image" | translate}}
                                <small>({{"comp.widgets.recommended_bg_size" | translate}})</small></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" accept="image/*"
                                    (change)="getPictureModuleBg($event)" />
                                <label class="custom-file-label" for="customFile">
                                    <span *ngIf="nameFile == null">{{"global.select_file" | translate}}</span>
                                    <span *ngIf="nameFile !== null">{{nameFile}}</span>
                                </label>
                            </div>
                        </div>

                        <br />
                        <div class="align-loader" *ngIf="loaderBgUpdate">
                            <div class="loader-default"></div>
                        </div>
                        <div class="alert alert-danger" role="alert"
                            *ngIf="errorBgModuleUpdate || selectBgModuleRequired">
                            <span *ngIf="errorBgModuleUpdate">{{"global.update_failed" | translate}}</span>
                            <span *ngIf="selectBgModuleRequired">{{"comp.widgets.select_from_pc" | translate}}</span>
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="successBgModuleUpdate">
                            {{"global.data_success" | translate}}
                        </div>
                        <button class="btn btn-custom" (click)="saveModuleUpdates()"
                            *ngIf="!loaderBgUpdate">{{"global.btn_save" | translate}}</button>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center" *ngIf="moduleWidget?.moduleBackgroundTypeImage">
                        <ng-container
                            *ngIf="moduleWidget?.moduleBackgroundImage !== '' && moduleWidget?.moduleBackgroundImage !== null">
                            <br /><br />
                            <img [src]="moduleWidget?.moduleBackgroundImage" class="img-thumbnail img-thumb-custom"
                                alt="Logo" />
                        </ng-container>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal ERROR -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<!-- modal ERROR NOT POSSIBLE EDIT -->
<swal #errorWidgetPrincipalLanguageBlank title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_widget_lang_blank" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<!-- modal DELETE -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteWidget()">
</swal>

<!-- modal ERROR NOT POSSIBLE EDIT -->
<swal #errorEditWidgetSwal title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_edit_widget" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<!-- modal ERROR NOT POSSIBLE DELETE -->
<swal #errorDeleteWidgetSwal title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_delete_widget" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>
