/* You can add global styles to this file, and also import other style files */

// GLOBAL
.content {
  min-height: 100vh !important;
  width: calc(100vw - 255px);
}

// MARGIN

.no-margin {
  margin: 0 !important;
}

// PADDING

.no-padding {
  padding: 0 !important;
}

.padding-top-30 {
  padding-top: 30px;
}
// LOGIN
.login-background {
  background-size: cover;
  height: 100vh;
  background-image: url("./assets/images/login-invent.svg");
  overflow: hidden;
}

.header-options {
  width: 100%;
}

.select-delete-options {
  width: 100%;
  display: flex;
  align-items: center;
}

// ICONS
.default-icon {
  font-size: 19px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.delete-icon {
  color: #c91f1f;
}

.icon-settings {
  font-size: 1.3em !important;
  display: flex;
  align-items: center;
}

// BUTTONS
.btn-custom {
  background: #f9b200;
  color: #000;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 450;
}

.btn-custom-outline {
  background: transparent;
  border-color: #f9b200;
  color: #f9b200;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 450;
}

.btn-custom-outline:hover {
  background: #f9b200;
  color: #ffffff;
}

.btn-custom-cancel {
  background: #c91f1f;
  color: #ffffff;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 450;
}

.btn-custom-settings {
  color: #ffffff;
  background: #878787;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.96em;
  font-weight: 450;
}

.btn-custom-no-bg {
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 450;
}

.btn-center {
  margin: 0 auto;
  display: block;
}

.btn-delete {
  background: #c91f1f;
  color: #ffffff;
}

.btn-outline-delete {
  background: transparent;
  border: 1px solid #c91f1f;
}

.btn-outline-delete:hover {
  background: #c91f1f;
  color: #ffffff;
}

.btn-modal-confirm {
  background: #1fc94f;
  color: #ffffff;
  margin-right: 5px;
}

.btn-modal-cancel {
  background: #c91f1f;
  color: #ffffff;
}

.btn-margin-right-default {
  margin-right: 3px;
}

// TEXT
.text-bold {
  font-weight: bold;
}

.lowercase {
  text-transform: lowercase;
}

// CHIP (GROUPS)
.chip {
  display: inline-block;
  padding: 0 10px;
  height: auto;
  font-size: 0.9em;
  line-height: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-left: 3px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #c91f1f;
}

.closebtn:hover {
  color: #000;
}

.selected-chip {
  background: #1fc94f !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

// pagination
.page-align {
  display: flex;
  justify-content: center;
}

.custom-pagination .ngx-pagination .current {
  background: #f9b200;
  border-radius: 8px;
}

// loader
.loader-default {
  width: 45px;
  height: 45px;
  display: inline-flex;
  padding: 0px;
  border-radius: 100%;
  border: 5px solid;
  border-top-color: #f9b200;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-left-color: #f0d591;
  border-right-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: loader-default 1s ease-in-out infinite;
  animation: loader-default 1s ease-in-out infinite;
}

.align-loader {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@keyframes loader-default {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-default {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

// loader delete question interactivity modules
.loader-delete-question {
  width: 30px;
  height: 30px;
  display: inline-flex;
  padding: 0px;
  border-radius: 100%;
  border: 5px solid;
  border-top-color: #2f73a2;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-left-color: #639ebc;
  border-right-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: loader-delete-question 1s ease-in-out infinite;
  animation: loader-delete-question 1s ease-in-out infinite;
}

@keyframes loader-delete-question {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-delete-question {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

// user avatars and names
.default-avatar-create {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.default-avatar-list {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.align-avatar-name {
  display: flex !important;
  align-items: center !important;
}

.divider-avatar {
  margin-top: 10px;
}

// custom btn-picture input upload
.pic-style {
  display: flex;
  color: #34abe2 !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.pac-container {
  z-index: 999999999;
  position: absolute;
}

.ask-question-date-text {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 8px;
  color: #000000;
  padding: 8px;
  background: #f9b200;
  font-weight: bold;
  font-size: 0.8em;
  padding-left: 5px;
}

td,
span.name,
span.description,
p.name,
p.description {
  text-transform: none !important;
}

.footer-credits {
  position: fixed;
  color: #000000;
  bottom: 0;
  clear: both;
  width: 100%;
  left: 50%;
  margin-left: -10%;
  font-size: 0.9em;
  font-weight: 600;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
