// ion-title {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     text-transform: uppercase;
// }

.list-header-ios {
    padding: 0;
    margin: 0 auto;
}

.list-header-md {
    padding: 0;
}

.lateral-color-section {
    width: 5px;
    height: 55px;
    background: grey;
    opacity: 0.4;
    float: left;
}

.section-title {
    color: #7c7c7c;
    font-size: 1.2em;
    font-weight: bold;
}

.lateral-color-card-ok,
.lateral-color-card-warn {
    width: 5px;
    height: 55px;
    float: left;
}

.lateral-color-card-warn {
    background: #CEA244;
}

.lateral-color-card-ok {
    background: #72B746;
}

.card-content {
    margin: 0 auto;
    width: 100%;
}

.bg-content {
    background: #eeeeee;

    .icon-survey-size {
        font-size: 30px;
        margin-right: 5px;
        position: relative;
        top: 5px;
    }
}

ion-item-divider {
    padding: 0;
    margin: 0;
}