.broadcast-preview {
  // fixed aspect ratio
  // https://stackoverflow.com/a/11552460
  object-position: center; /* Center the image within the element */
  overflow:hidden;
}

.live {
  // background-color: #FF0000;
  border: 2px solid #FF0000;
  color: #FF0000;
  padding: 8px 18px;
  border-radius: 20%;
}

.archive {
  // background-color: ;
  border: 2px solid #808080;
  color: #808080;
  padding: 8px;
  border-radius: 20%;
}