<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="box-title float-left" *ngIf="module && event">
            {{module | getNameModule: [userLanguage, event?.language]}}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body--">
    <div class="table-stats order-table ov-h">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Pré-visualização</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">{{"global.title_" | translate}}</th>
            <th class="text-center">{{"global.manage" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-module" *ngFor="let broadcast of listBroadcast; let i = index;">
            <td class="visualizer" (click)="showBroadcast(broadcast)">
              <div class="broadcast-preview text-center" *ngIf="broadcast.preview">
                <img src="{{ broadcast.preview }}" />
              </div>
            </td>
            <td class="broadcast-type text-center">
              <span class="live" *ngIf="broadcast.type == 'live'">
                Ao Vivo
              </span>

              <span class="archive" *ngIf="broadcast.type == 'archived'">
                Arquivada
              </span>
            </td>
            <td class="name text-center">
              <span class="box-title">{{broadcast.title}}</span>
            </td>
            <td class="manage text-center">
              <a [swal]="deleteSwal" (click)="getBroascastRemove(broadcast.id, i)"><i
                  class="material-icons default-icon delete-icon">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Transmissão</h5>
      </div>
      <div class="modal-body">
        <iframe
    style="position: absolute; width: 80%; height: 100%; border: none"
    src="https://dist.bambuser.net/player/?resourceUri=https%3A//cdn.bambuser.net/broadcasts/0b9860dd-359a-67c4-51d9-d87402770319%3Fda_signature_method%3DHMAC-SHA256%26da_id%3D9e1b1e83-657d-7c83-b8e7-0b782ac9543a%26da_timestamp%3D1482921565%26da_static%3D1%26da_ttl%3D0%26da_signature%3Dcacf92c6737bb60beb1ee1320ad85c0ae48b91f9c1fbcb3032f54d5cfedc7afe"
    allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
  text='{{"global.modals.success_message" | translate}}' type="success"
  confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
  type="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
  cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
  [focusCancel]="true" (confirm)="broadcastRemove()">
</swal>