textarea {
    resize: none;
}

.user-name {
    font-weight: bold;
}

.user-email {
    font-weight: 400;
    font-size: .9em;
}

.btn-no-bg {
    width: 50px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
        width: 25px;
    }
}

.user-description {
    margin-top: 10px;
    font-weight: 200;
    font-size: .8em;
}

.div-100 {
    width: 100%;
}

.card-header-collapse {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .08)
}

.btn-collapse {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.6);
}

.avatar-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.filter-location {
    margin-top: 5px;
}

li {
    list-style: none;
}

.track-name {
    border-radius: 8px;
    padding: 1px 3px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: max-content;
    float: left;
    margin-right: 2px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: max-content;
    font-size: 16px;
    line-height: 30px;
    border-radius: 22px;
    background-color: #f1f1f1;
    margin: 0 3px 2px 0;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

li {
    list-style: none;
}

.group-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin: 2px;
}
