<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
      </ion-back-button>
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>

    <ion-title>
      <ion-label *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</ion-label>
      <ion-label *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</ion-label>
      <ion-label *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</ion-label>
      <ion-label *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</ion-label>
      <ion-label *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</ion-label>
    </ion-title>
    <!-- *ngIf="viewGroup === false" -->
    <!-- <ion-buttons slot="end">
      <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background" padding>
    <svg version="1.1" id="illustration" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="1041px" height="817.8px"
      viewBox="0 0 1041 817.8" style="enable-background:new 0 0 1041 817.8;" xml:space="preserve">
      <defs>
      </defs>
      <g>
        <path class="st0" [style.fill]="menu_color"
          d="M508.3,71.7C471,67.3,436.2,53.5,401,41.9c-39.1-12.8-79-23.2-119.5-30.9C238.4,2.8,194-2.6,150.7,1.3
		S65.4,18.9,37.8,44.2C-8.9,87-4.9,151.9,10.5,209.1C28.8,277,60.4,344.1,112.2,402c36.8,41.1,83,76.7,128.8,112
		c25.9,19.9,52,40,82.2,55.7c28.1,14.6,59.2,25,90,35.3c32.9,11,65.9,22.1,99.9,30.5c108.5,26.8,222.7,26,334.4,23.6
		c39.3-0.8,80.4-2.2,113.3-17.5c25.7-12,44-31.4,57.9-52.2c18.2-27.2,29.6-59.6,16.7-89.9c-19-44.7-84.1-71-105.8-115
		c-27.8-56.5,26.2-116.1,10.9-174.9c-6.3-24.4-24.3-46.6-43.2-67.2C852,93.2,791.9,48.4,711,55C642.5,60.5,580.1,80.3,508.3,71.7z" />

        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="839.518" y1="-12.4946" x2="839.518"
          y2="734.6455" gradientTransform="matrix(-1 0 0 -1 1337.3461 778.9109)">
          <stop offset="0" style="stop-color:#808080;stop-opacity:0.25" />
          <stop offset="0.54" style="stop-color:#808080;stop-opacity:0.12" />
          <stop offset="1" style="stop-color:#808080;stop-opacity:0.1" />
        </linearGradient>
        <path class="st1" d="M341.3,44.3h313c17.1,0,30.9,13.8,31,30.9v685.3c-0.1,17.1-13.9,30.9-31,30.9h-313c-17.1,0-30.9-13.8-31-30.9
		V75.2C310.4,58.1,324.3,44.3,341.3,44.3z" />
        <path [style.fill]="menu_color" class="st2" d="M655.6,788.5H340c-14.8,0-26.9-12-26.9-26.9V76.9c0-14.8,12-26.9,26.9-26.9h315.5c14.8,0,26.9,12,26.9,26.9
		v684.8C682.5,776.5,670.4,788.5,655.6,788.5z" />
        <rect x="340.4" y="118.7" class="st3" width="314.9" height="601.2" />
        <circle class="st3" cx="535" cy="84.3" r="2.9" />
        <path class="st3" d="M519.7,87.2h-61c-0.6,0-1-0.4-1-1v-3.7c0-0.6,0.4-1,1-1h61c0.6,0,1,0.4,1,1v3.7
		C520.7,86.7,520.3,87.2,519.7,87.2z" />

        <ellipse transform="matrix(0.9239 -0.3827 0.3827 0.9239 -248.4224 248.0275)" class="st3" cx="499.2" cy="748.5"
          rx="20" ry="20" />
        <ellipse [style.fill]="menu_color" class="st0" cx="482.8" cy="768.8" rx="254" ry="49" />
        <rect [style.fill]="menu_color" x="376.3" y="211.8" class="st0" width="243" height="325" />
        <rect [style.fill]="menu_color" x="375.8" y="588.8" class="st2" width="104" height="31" />
        <rect [style.fill]="menu_color" x="514.8" y="588.8" class="st0" width="104" height="31" />
        <g>
          <path class="st3" d="M584.6,470.6H415.1c-6.6,0-12-5.4-12-12V289.1c0-6.6,5.4-12,12-12h169.5c6.6,0,12,5.4,12,12v169.5
			C596.6,465.2,591.2,470.6,584.6,470.6z" />
          <g>
            <rect x="415.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="455.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="289.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="297.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="305.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="313.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="321.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="329.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="455.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="337.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="345.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="471.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="353.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="455.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="361.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="455.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="369.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="471.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="377.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="471.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="385.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="575.9" y="393.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="455.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="401.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="409.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="417.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="425.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="433.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="487.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="495.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="503.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="519.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="543.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="559.9" y="441.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="415.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="423.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="431.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="439.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="447.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="455.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="463.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="479.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="511.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="527.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="535.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="551.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
            <rect x="567.9" y="449.8" shape-rendering="optimizeSpeed" width="8" height="8" />
          </g>
        </g>
      </g>
    </svg>

    <p class="title" [style.color]="title_color"
      *ngIf="module?.gamingTitle == '' || module?.gamingTitle == null || module?.gamingTitle == undefined">{{"pages.gamification.go_gaming"
      | translate}}
    </p>
    <p class="title" [style.color]="title_color"
      *ngIf="module?.gamingTitle !== '' && module?.gamingTitle !== null && module?.gamingTitle !== undefined">
      {{module?.gamingTitle}}
    </p>
    <p class="body" [style.color]="text_content_color"
      *ngIf="module?.gamingText == '' || module?.gamingText == null || module?.gamingText == undefined">{{"pages.gamification.gaming_default_txt"
      | translate}}</p>
    <p class="body" [style.color]="text_content_color"
      *ngIf="module?.gamingText !== '' && module?.gamingText !== null && module?.gamingText !== undefined">
      {{module?.gamingText}}</p>
    <br>
    <p class="qr-infos" [style.color]="text_content_color">
      <strong>{{"pages.gamification.total_qrcodes" | translate}}</strong>
      <span class="numbers" [style.color]="title_color"> {{qrcodes?.length}}</span><br> <strong>
        {{"pages.gamification.remaining_qrcodes" | translate}}
      </strong> <span class="numbers" [style.color]="title_color">{{readedQrCodes}}</span></p>
    <br>
    <ion-button class="ion-color btn-qrcode" [style.background]="menu_color" (click)="scanQr()"
      *ngIf="module?.gamingBtn == '' || module?.gamingBtn == null || module?.gamingBtn == undefined">{{"pages.gamification.btn_qrcode"
      | translate}}</ion-button>
    <ion-button class="ion-color btn-qrcode" [style.background]="menu_color" (click)="scanQr()"
      *ngIf="module?.gamingBtn !== '' && module?.gamingBtn !== null && module?.gamingBtn !== undefined">
      {{module?.gamingBtn}}</ion-button>
  </div>
</ion-content>