#illustration {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.st0 {
    opacity: 0.1; // fill: #6C63FF;
    enable-background: new;
}

.st1 {
    fill: url(#SVGID_1_);
}

.st2 {
    // fill: #4E5A86;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    fill: url(#SVGID_2_);
}

.title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.body {
    font-size: 1em;
    text-align: center;
}

.qr-infos {
    text-align: center;
}

.numbers {
    font-size: 1.35em;
    font-weight: 800;
}

.btn-qrcode {
    margin: 0 auto;
    display: block;
}