@font-face {
  font-family: 'B3Icons';
  src:  url('../fonts/B3Icons.eot?jr1y8f');
  src:  url('../fonts/B3Icons.eot?jr1y8f#iefix') format('embedded-opentype'),
    url('../fonts/B3Icons.ttf?jr1y8f') format('truetype'),
    url('../fonts/B3Icons.woff?jr1y8f') format('woff'),
    url('../fonts/B3Icons.svg?jr1y8f#B3Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.b3-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'B3Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b3-icon-01:before {
  content: "\e900";
}
.b3-icon-02:before {
  content: "\e901";
}
.b3-icon-03:before {
  content: "\e902";
}
.b3-icon-04:before {
  content: "\e903";
}
.b3-icon-05:before {
  content: "\e904";
}
.b3-icon-06:before {
  content: "\e905";
}
.b3-icon-07:before {
  content: "\e906";
}
.b3-icon-08 .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path14:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path15:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path16:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path17:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path18:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path19:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-08 .path20:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.b3-icon-08 .path21:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.b3-icon-08 .path22:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.b3-icon-09:before {
  content: "\e91d";
}
.b3-icon-10:before {
  content: "\e91e";
}
.b3-icon-11:before {
  content: "\e91f";
}
.b3-icon-12 .path1:before {
  content: "\e920";
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path6:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path8:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path9:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path10:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path11:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path12:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path13:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path14:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path15:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path16:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.b3-icon-12 .path17:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path18:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.b3-icon-12 .path19:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.b3-icon-12 .path20:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.b3-icon-13:before {
  content: "\e934";
}
.b3-icon-14:before {
  content: "\e935";
}
.b3-icon-15:before {
  content: "\e936";
}
.b3-icon-16:before {
  content: "\e937";
}
.b3-icon-17:before {
  content: "\e938";
}
.b3-icon-18:before {
  content: "\e939";
}
.b3-icon-19:before {
  content: "\e93a";
}
.b3-icon-20:before {
  content: "\e93b";
}
.b3-icon-21:before {
  content: "\e93c";
}
.b3-icon-22:before {
  content: "\e93d";
}
.b3-icon-23:before {
  content: "\e93e";
}
.b3-icon-24:before {
  content: "\e93f";
}
.b3-icon-25:before {
  content: "\e940";
}
.b3-icon-26:before {
  content: "\e941";
}
.b3-icon-27:before {
  content: "\e942";
}
.b3-icon-28:before {
  content: "\e943";
}
.b3-icon-29:before {
  content: "\e944";
}
.b3-icon-30:before {
  content: "\e945";
}
.b3-icon-31:before {
  content: "\e946";
}
.b3-icon-32:before {
  content: "\e947";
}
.b3-icon-33:before {
  content: "\e948";
}
.b3-icon-34:before {
  content: "\e949";
}
.b3-icon-35:before {
  content: "\e94a";
}
.b3-icon-36:before {
  content: "\e94b";
}
.b3-icon-37:before {
  content: "\e94c";
}
.b3-icon-38:before {
  content: "\e94d";
}
.b3-icon-39:before {
  content: "\e94e";
}
.b3-icon-40:before {
  content: "\e94f";
}
.b3-icon-41:before {
  content: "\e950";
}
.b3-icon-42:before {
  content: "\e951";
}
.b3-icon-43:before {
  content: "\e952";
}
.b3-icon-44:before {
  content: "\e953";
}
.b3-icon-45:before {
  content: "\e954";
}
.b3-icon-46:before {
  content: "\e955";
}
.b3-icon-47:before {
  content: "\e956";
}
.b3-icon-48:before {
  content: "\e957";
}
.b3-icon-49:before {
  content: "\e958";
}
.b3-icon-50:before {
  content: "\e959";
}
.b3-icon-51:before {
  content: "\e95a";
}
.b3-icon-52:before {
  content: "\e95b";
}
.b3-icon-53:before {
  content: "\e95c";
}
