.align-loader {
  margin-top: 15px;
}

li {
  list-style: none;
}

.participant {
  border-radius: 8px;
  padding: 4px;
  font-weight: 300;
  font-size: 0.7em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: max-content;
  float: left;
  margin: 2px;
}
