<!-- Loading -->
<ng-template #loading>
    <div class="align-loader">
        <div class="loader-default"></div>
    </div>
</ng-template>
<!-- End Loading -->

<body>
    <div *ngIf="groupDiscussion$ | async as gd; else loading">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>{{
                                            'global.group_name' | translate
                                        }}</label>
                                        <input class="form-control" type="text" name="title" [(ngModel)]="gd.title"
                                            placeholder="{{
                                                'global.group_name' | translate
                                            }}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{
                                            'comp.group_discussions.group_creator'
                                                | translate
                                        }}</label>
                                        <input class="form-control" type="text" name="groupCreator"
                                            [(ngModel)]="gd.groupCreator.name" disabled placeholder="{{
                                                'comp.group_discussions.group_creator'
                                                    | translate
                                            }}" />
                                    </div>

                                    <div class="form-group">
                                        <label>{{
                                            'comp.group_discussions.visibility'
                                                | translate
                                        }}</label>

                                        <select class="form-control" name="visibility" [(ngModel)]="gd.visibility">
                                            <option [ngValue]="true">
                                                {{
                                                    'comp.group_discussions.public'
                                                        | translate
                                                }}
                                            </option>

                                            <option [ngValue]="false">
                                                {{
                                                    'comp.group_discussions.private'
                                                        | translate
                                                }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>{{
                                            'comp.group_discussions.visio'
                                                | translate
                                        }}</label>

                                        <select class="form-control" name="visio" [(ngModel)]="gd.visio">
                                            <option [ngValue]="true">
                                                {{
                                                    'global.enabled' | translate
                                                }}
                                            </option>

                                            <option [ngValue]="false">
                                                {{
                                                    'global.disabled'
                                                        | translate
                                                }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{
                                            'comp.group_discussions.participants'
                                                | translate
                                        }}</label>
                                        <input class="form-control" type="text" [(ngModel)]="q" name="user-search"
                                            placeholder="{{
                                                'comp.group_discussions.participants'
                                                    | translate
                                            }}" />
                                    </div>

                                    <div class="form-group" *ngIf="eventUsers$ | async as users">
                                        <div class="filter-participants" *ngIf="q.length">
                                            <ul>
                                                <li *ngFor="
                                                        let u of users
                                                            | filter: q
                                                    ">
                                                    <span class="participant-suggestion">
                                                        <a (click)="
                                                                onPickUser(
                                                                    gd.participants,
                                                                    u,
                                                                    gd
                                                                        .groupCreator
                                                                        .uid
                                                                )
                                                            ">
                                                            {{ u.name }}
                                                        </a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="participants-list">
                                            <span *ngFor="
                                                    let p of gd.participants
                                                " class="participant">
                                                {{ p.name }}

                                                <a (click)="
                                                        onRemoveParticipant(
                                                            gd.participants,
                                                            p
                                                        )
                                                    ">
                                                    <i class="material-icons closebtn">close</i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{
                                            'comp.group_discussions.link_sessions'
                                                | translate
                                        }}</label>

                                        <select class="form-control" name="link_sessions" style="margin-bottom: 15px;"
                                            [(ngModel)]="gd.link_sessions">
                                            <option [selected]="
                                                    gd.link_sessions !=
                                                    'specific'
                                                " value="all">
                                                {{
                                                    'comp.group_discussions.all_sessions'
                                                        | translate
                                                }}
                                            </option>

                                            <option [selected]="
                                                    gd.link_sessions ==
                                                    'specific'
                                                " value="specific">
                                                {{
                                                    'comp.group_discussions.specific_sessions'
                                                        | translate
                                                }}
                                            </option>

                                            <option [selected]="gd.link_sessions == 'none'" value="none">
                                                {{ 'comp.group_discussions.none_session' | translate}}
                                            </option>
                                        </select>

                                        <input *ngIf="
                                                gd.link_sessions === 'specific'
                                            " class="form-control" type="text" [(ngModel)]="q2" name="user-search"
                                            placeholder="{{
                                                'comp.group_discussions.sessions'
                                                    | translate
                                            }}" />
                                    </div>

                                    <ng-container *ngIf="event$ | async as event">
                                        <div class="form-group" *ngIf="
                                                sessions$ | async as sessions
                                            ">
                                            <div class="filter-sessions" *ngIf="
                                                    gd.link_sessions ==
                                                        'specific' && q2.length
                                                ">
                                                <ul>
                                                    <li *ngFor="
                                                            let s of sessions
                                                                | filterSessions
                                                                    : q2
                                                        ">
                                                        <span class="session-suggestion">
                                                            <a (click)="
                                                                    onPickSesssion(
                                                                        gd.sessions,
                                                                        s
                                                                    )
                                                                ">
                                                                {{
                                                                    s
                                                                        | getNameSession
                                                                            : [
                                                                                  userLanguage,
                                                                                  event.language
                                                                              ]
                                                                }}
                                                            </a>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div *ngIf="
                                                    gd.link_sessions ==
                                                    'specific'
                                                " class="sessions-list">
                                                <span *ngFor="
                                                        let s of gd.sessions
                                                    " class="participant">
                                                    {{
                                                        s
                                                            | getNameSession
                                                                : [
                                                                      userLanguage,
                                                                      event.language
                                                                  ]
                                                    }}

                                                    <a (click)="
                                                            onRemoveSession(
                                                                gd.sessions,
                                                                s
                                                            )
                                                        ">
                                                        <i class="material-icons closebtn">close</i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{
                                            'global.description' | translate
                                        }}</label>
                                        <ckeditor name="description" [(ngModel)]="gd.description"></ckeditor>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="text-bold">{{
                            'global.resume' | translate
                        }}</span>
                    </div>
                    <div class="card-body text-center">
                        <button type="submit" class="btn btn-secondary btn-center" (click)="onSubmit(gd)"
                            [disabled]="false">
                            {{
                                (groupId
                                    ? 'global.btn_save'
                                    : 'global.btn_create'
                                ) | translate
                            }}
                        </button>

                        <div class="align-loader" [hidden]="!submiting">
                            <div class="loader-default"></div>
                        </div>

                        <br />

                        <div class="alert alert-danger red-text text-darken-3 left-align" [hidden]="!error">
                            {{
                                'comp.create_session.error_create_session'
                                    | translate
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Modal error -->
<swal #errorSwal title="{{ 'global.modals.error' | translate }}" text="{{ 'global.modals.error_message' | translate }}"
    icon="error" confirmButtonText="{{ 'global.modals.btn_ok' | translate }}" confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>
<!-- End Modal error -->