<!-- Loading mode -->

<ng-template *ngIf="showGroupsList" #discussionsLoading>
    <ion-list *ngFor="let _ of [1, 2]">
        <ion-item-divider>
            <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </ion-item-divider>

        <ion-item lines="full" *ngFor="let _ of [1, 2, 3]">
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                </h3>

                <h3>
                    <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ng-template>

<div *ngIf="showGroupsList">
    <ng-container *ngIf="groupDiscussions$ | async as gds; else discussionsLoading">
        <div class="discussions-container">
            <ion-label class="discussion-type">
                {{ "pages.list_group_discussions.followed_discussions" |
                translate }}
            </ion-label>

            <ion-list *ngIf="userId$ | async as userId; else discussionsLoading">
                <ion-item class="group-discussion-item"
                    *ngFor="let gd of gds | filterGroupDiscussionsActive: [true, userId]" (click)="goToGroup(gd.id)">
                    <ng-container *ngIf="gd.lastMessage; else noLastMessage">
                        <ion-col [size]="(!componentMode) ? 8 : 10">
                            <ion-label class="grp-title">{{ gd.title }}</ion-label>

                            <ion-label>
                                {{ gd.lastMessage.send_from_user_name }}:

                                <ion-icon name="images" *ngIf="gd.lastMessage.message_picture"></ion-icon>

                                <span *ngIf="gd.lastMessage.message">
                                    {{ gd.lastMessage.message }}
                                </span>
                            </ion-label>

                            <ion-label *ngIf="componentMode">
                                {{ convertTimestampToDate(gd.lastMessage.send_at) }}
                            </ion-label>
                        </ion-col>

                        <ion-col [size]="(!componentMode) ? 4 : 2" style="text-align: end;">
                            <ion-label *ngIf="!componentMode">
                                {{ convertTimestampToDate(gd.lastMessage.send_at) }}
                            </ion-label>

                            <ng-container *ngIf="notifications$[gd.id] | async as count">
                                <ion-badge *ngIf="!isMuted(gd.mutedParticipants, userId)" class="not-read">
                                    {{ count }}
                                </ion-badge>
                            </ng-container>
                        </ion-col>
                    </ng-container>

                    <ng-template #noLastMessage>
                        <ion-label class="grp-title">
                            {{ gd.title }}
                        </ion-label>
                    </ng-template>
                </ion-item>
            </ion-list>
        </div>

        <div class="discussions-container">
            <ion-label class="discussion-type">
                {{ "pages.list_group_discussions.other_discussions" | translate }}
            </ion-label>

            <ion-list *ngIf="userId$ | async as userId; else discussionsLoading">
                <ion-item class="group-discussion-item"
                    *ngFor="let gd of gds | filterGroupDiscussionsActive: [false, userId]" (click)="goToGroup(gd.id)">
                    <ng-container *ngIf="gd.lastMessage; else noLastMessage">
                        <ion-col [size]="(!componentMode) ? 8 : 10">
                            <ion-label class="grp-title">{{ gd.title }}</ion-label>

                            <ion-label>
                                {{ gd.lastMessage.send_from_user_name }}:

                                <ion-icon name="images" *ngIf="gd.lastMessage.message_picture"></ion-icon>

                                <ion-icon name="videocam" *ngIf="gd.lastMessage.url"></ion-icon>

                                <span *ngIf="gd.lastMessage.message">
                                    {{ gd.lastMessage.message }}
                                </span>
                            </ion-label>

                            <ion-label *ngIf="componentMode">
                                {{ convertTimestampToDate(gd.lastMessage.send_at) }}
                            </ion-label>
                        </ion-col>

                        <ion-col [size]="(!componentMode) ? 4 : 2" style="text-align: end;">
                            <ion-label *ngIf="!componentMode">
                                {{ convertTimestampToDate(gd.lastMessage.send_at) }}
                            </ion-label>

                            <ng-container *ngIf="notifications$[gd.id] | async as count">
                                <ion-badge class="not-read">
                                    {{ count }}
                                </ion-badge>
                            </ng-container>
                        </ion-col>
                    </ng-container>

                    <ng-template #noLastMessage>
                        <ion-label class="grp-title">
                            {{ gd.title }}
                        </ion-label>
                    </ng-template>
                </ion-item>
            </ion-list>
        </div>
    </ng-container>
</div>

<div class="basic-container" *ngIf="!showGroupsList">
    <app-chat [componentMode]="componentMode" [eventId]="eventId" [groupId]="groupId"
        (goBackEvent)="goBackToList($event)"></app-chat>
</div>