.grp-title,
.discussion-type {
    font-weight: 600;
    color: black;
}

.discussions-container {
    padding: 10px;
}

ion-badge {
    --background: orange;
}

.group-discussion-item {
    cursor: pointer;
}

:host {
    width: 100%;
    height: 100%;
}