.tbody-width,
.width-tr {
    width: 100%;
}

.collapse-custom {
    padding-left: 30px;
    width: 100%;
}

.td-width {
    width: 100vh;
}

.flex-align-q-feedback {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.d-icon,
.d-icon-delete {
    font-size: 17px;
}

.accordion-icon,
.accordion-delete-icon {
    font-size: 16px;
}

.accordion-delete-icon,
.d-icon-delete {
    color: #c91f1f;
    cursor: pointer;
}

.d-icon,
.accordion-icon {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.name-question {
    font-weight: 500;
}

.btn-no-bg {
    background: none;
}

.export-message {
    margin-top: 30px;
    color: #000000;
    opacity: 0.5;
}

.btn-clear-all {
    margin-bottom: 10px;
}

.btn-drop-custom {
    background: transparent;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em !important;
    cursor: pointer;
}

.btn-drop-custom:focus {
    outline: none !important;
}

.dropdown-menu-custom.show {
    background: #ffffff !important;
    border: 1px solid #c5c5c5 !important;
}

.dropdown-menu {
    background: transparent !important;
    border: none !important;
}

#dropdown-menu-3 {
    padding: 8px;
}

.drag-icon {
    position: relative;
    top: 5px;
    cursor: grab;
    color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag-icon:active {
    cursor: grabbing;
}