<ion-list>
    <ion-item (click)="shareInSocialMedia()" *ngIf="isSocialSharing">
        <ion-icon name="share"></ion-icon>&nbsp;&nbsp; {{"global.buttons.share" | translate}}
    </ion-item>

    <ion-item (click)="deletePost()" *ngIf="allowDelete">
        <span class="red">
      <ion-icon name="trash"></ion-icon>&nbsp;&nbsp; {{"global.buttons.delete" | translate}}
    </span>
    </ion-item>
</ion-list>