<ion-header>
    <ion-toolbar *ngIf="event$ | async as event" class="ion-color" [style.background]="event.colors.menu_color"
        [style.color]="event.colors.menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text=""></ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="module$ | async as module">
            {{ module | getNameModule: [userLanguage, event.language] }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-group-discussion-list [eventId]="eventId" [groupModuleId]="groupModuleId"></app-group-discussion-list>
</ion-content>