<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button class="btn btn-custom btn-margin-right-default" data-toggle="modal" data-target="#wordCloudNew">
                {{"global.btn_new" | translate}}
            </button>
            <div class="nav nav-tabs float-right" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="pills-wordcloud-link" data-toggle="tab" href="#pills-wordcloud"
                    role="tab" aria-controls="pills-wordcloud" aria-selected="true">{{"global.listing" | translate}}</a>
                <a class="nav-item nav-link" id="pills-wordcloud-result-link" data-toggle="tab"
                    href="#pills-wordcloud-result" role="tab" aria-controls="pills-wordcloud-result"
                    aria-selected="false">{{ "global.results" | translate }}</a>
            </div>
            <br>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-wordcloud" role="tabpanel"
                    aria-labelledby="pills-wordcloud">

                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-no-bg float-right" data-toggle="tooltip" data-placement="bottom"
                                title='{{"comp.questions.on_all" | translate}}' (click)="enableAll()">
                                <i class="material-icons icon-size">visibility</i>
                            </button>

                            <button class="btn btn-no-bg float-right" data-toggle="tooltip" data-placement="bottom"
                                title='{{"comp.questions.off_all" | translate}}' (click)="disableAll()">
                                <i class="material-icons icon-size delete-icon">visibility_off</i>
                            </button>
                        </div>
                    </div>

                    <!-- list of world cloud -->

                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.name" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cloud of wordclouds; let i = index">
                                    <td>
                                        <span class="name">{{cloud.title}}</span>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#editCloud" (click)="getCloudEdit(cloud)"><i
                                                class="material-icons default-icon">create</i></a>

                                        <a class="click-function" *ngIf="cloud.visibility == true"
                                            (click)="setVisibility(cloud)">
                                            <i class="material-icons default-icon">visibility_off</i>
                                        </a>

                                        <a class="click-function" *ngIf="cloud.visibility == false"
                                            (click)="setVisibility(cloud)">
                                            <i class="material-icons default-icon">visibility</i>
                                        </a>

                                        <a (click)="getClearCloud(cloud)"><i
                                                class="material-icons default-icon delete-icon">clear</i></a>

                                        <a (click)="getRemoveCloud(cloud)"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- results of world cloud list -->
                <div class="tab-pane fade" id="pills-wordcloud-result" role="tabpanel"
                    aria-labelledby="pills-wordcloud-result-tab">

                    <br>
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.name" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cloud of wordclouds; let i = index">
                                    <td>
                                        <span class="name">{{cloud.title}}</span>
                                    </td>
                                    <td>
                                        <a class="click-function" target="_blank"
                                            routerLink="/word-cloud-result/{{eventId}}/{{moduleId}}/{{cloud.uid}}">
                                            <i class="material-icons default-icon">cloud</i>
                                        </a>
                                        <a class="click-function" (click)="prepareExportReport(cloud)">
                                            <i class="material-icons default-icon">file_download</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- new word cloud -->

            <div class="modal fade" id="wordCloudNew" tabindex="-1" role="dialog" aria-labelledby="wordCloudNewLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="wordCloudNewLabel">
                                {{ "comp.word_cloud.add_word_cloud" | translate }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form [formGroup]="formNewCloud" (ngSubmit)="newCloud()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>{{"comp.word_cloud.enter_title" | translate}}</label>
                                    <input class="form-control" type="text" formControlName="title"
                                        placeholder='{{"comp.word_cloud.enter_title_plc" | translate}}'>
                                </div>
                                <div class="form-group">
                                    <label>{{ "global.subtitle" | translate }}</label>
                                    <input class="form-control" type="text" formControlName="subtitle"
                                        placeholder='{{ "global.subtitle" | translate }}'>
                                </div>
                                <div class="form-group">
                                    <label>{{ "global.max_char" | translate }}</label>
                                    <input class="form-control" type="number" formControlName="max_characters"
                                        placeholder='{{ "comp.word_cloud.weight_plc" | translate }}'>
                                </div>
                                <!-- <div class="form-group">
                  <label>Visibilidade</label>
                  <br>
                  <ui-switch color="#F9B200" size='small' (change)="changeVisibility()" checked *ngIf="visibilityNew == true"></ui-switch>
                  <ui-switch color="#F9B200" size='small' (change)="changeVisibility()" *ngIf="visibilityNew == false"></ui-switch>
                </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"global.btn_cancel" |
                  translate}}</button>
                                <button type="submit" class="btn btn-custom">{{"global.btn_confirm"
                  | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- edit cloud modal -->

            <div class="modal fade" id="editCloud" tabindex="-1" role="dialog" aria-labelledby="editCloudLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCloudLabel">
                                {{ "comp.word_cloud.add_word_cloud" | translate }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form [formGroup]="formEditCloud" (ngSubmit)="editCloud()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>{{"comp.word_cloud.enter_title" | translate}}</label>
                                    <input class="form-control" type="text" formControlName="title"
                                        placeholder='{{"comp.word_cloud.enter_title_plc" | translate}}'>
                                </div>
                                <div class="form-group">
                                    <label>{{ "global.subtitle" | translate }}</label>
                                    <input class="form-control" type="text" formControlName="subtitle"
                                        placeholder='Subtítulo'>
                                </div>
                                <div class="form-group">
                                    <label>{{ "global.max_char" | translate }}</label>
                                    <input class="form-control" type="number" formControlName="max_characters"
                                        placeholder='Quantidade'>
                                </div>
                                <!-- <div class="form-group">
                  <label>Visibilidade</label>
                  <br>
                  <ui-switch color="#F9B200" size='small' (change)="changeVisibility()" [checked]="visibilityEdit"></ui-switch>
                </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"global.btn_cancel" |
                  translate}}</button>
                                <button type="submit" class="btn btn-custom">{{"global.btn_confirm"
                  | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal clear survey -->
<swal #clearWordCloudSwal title='{{"global.modals.clear" | translate}}'
    text='{{"global.modals.clear_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_clear" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="clearResults()">
</swal>

<!-- modal remove survey -->
<swal #removeWordCloudSwal title='{{"global.modals.delete" | translate}}'
    text='{{"global.modals.delete_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeCloud()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>