.main-background {
    background: #EFEFEF;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.custom-container {
    margin-top: 90px;
}

.header-title {
    text-transform: uppercase;
}

.header-title,
.header-subttitle,
label {
    color: rgba(0, 0, 0, 0.65);
}

label {
    font-weight: bold;
}

.btn-secondary {
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 450;
    margin-right: 2px;
}

.btn-delete {
    background-color: #c91f1f;
}

.success-icon {
    color: #21F300;
    font-size: 60px;
}

.success-text {
    color: #21F300;
}

.icon-delete {
    color: #c91f1f;
}

.hr-separator {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.07);
    margin-top: 10px;
    margin-bottom: 15px;
}

.nav-link.active {
    // color: #F9B200 !important;
    // font-weight: 600 !important;
}

.icon-manage {
    color: rgba(0, 0, 0, 0.65);
}

a {
    color: rgba(0, 0, 0, 0.65);
}

.custom-card {
    border: none;
}

.result-icons {
    color: #757575;
}

.icon-infos {
    cursor: pointer;
}

.btn-no-bg {
    background: none;
}

.true-icon {
    color: rgba(0, 0, 0, 0.5);
}

.false-icon {
    color: #bb0303;
}