<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-button slot="icon-only" *ngIf="showAll == true || (showAll == false && type !== null)" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" *ngIf="showAll == false && type == null" (click)="showAll=true;showTerms=false;showPrivacy=false">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="showAll == true">{{"global.texts.legal_mentions" | translate}}</span>
      <span *ngIf="showTerms == true">{{"global.texts.terms_of_use" | translate}}</span>
      <span *ngIf="showPrivacy == true">{{"global.texts.privacy" | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background" *ngIf="showAll == true">
    <ion-item detail lines="none" class="ion-color" [style.background]="bg_content_color"
      (click)="showAll=false;showPrivacy=false;showTerms=true;">
      <ion-label class="ion-color" [style.color]="text_content_color">
        {{"global.texts.terms_of_use" | translate}}
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" class="ion-color" [style.background]="bg_content_color"
      (click)="showAll=false;showTerms=false;showPrivacy=true;">
      <ion-label class="ion-color" [style.color]="text_content_color">
        {{"global.texts.privacy" | translate}}
      </ion-label>
    </ion-item>
  </div>
  <div class="background terms" *ngIf="showTerms == true" padding>
    <p [innerHTML]="term | safeHtml"></p>
  </div>
  <div class="background terms" *ngIf="showPrivacy == true" padding>
    <p [innerHTML]="privacy | safeHtml"></p>
  </div>
</ion-content>