<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <div *ngIf="!loader">

            <ion-item-divider *ngIf="unansweredTrainings.length > 0">
                <div class="lateral-color-card-warn">
                </div>
                <h6 *ngIf="unansweredTrainings.length > 0" class="section-title"> &nbsp;&nbsp;&nbsp;
                    {{"pages.survey.not_answered" | translate}}
                </h6>
            </ion-item-divider>

            <div *ngFor="let training of unansweredTrainings; let i = index">
                <ion-item detail class="card-content" [style.background]="bgcontentcolor" *ngIf="training.visibility"
                    (click)="openUnansweredTraining(i)">
                    <span class="b3-icons {{training.iconFamily}} menu-icon"
                        *ngIf="training.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{training.iconFamily}} menu-icon" *ngIf="training.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{training.icon}}</i> &nbsp; &nbsp;
                    <span [style.color]="titleColor">{{training.title[userLanguage]}}</span>
                </ion-item>
            </div>

            <ion-item-divider *ngIf="answeredTrainings.length > 0">
                <div class="lateral-color-card-ok">
                </div>
                <h6 *ngIf="answeredTrainings.length > 0" class="section-title">&nbsp;&nbsp;&nbsp;
                    {{"pages.survey.answered" | translate}}
                </h6>
            </ion-item-divider>

            <div *ngFor="let training of answeredTrainings; let i = index">
                <ion-item detail *ngIf="(training.change_answer || training.view_answered) && training.visibility"
                    class="card-content" [style.background]="bgcontentcolor" (click)="openAnsweredTraining(i)">
                    <span class="b3-icons {{training.iconFamily}} menu-icon"
                        *ngIf="training.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{training.iconFamily}} menu-icon" *ngIf="training.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{training.icon}}</i> &nbsp; &nbsp;
                    <span [style.color]="titleColor">{{training.title[userLanguage]}}</span>
                </ion-item>

                <ion-item
                    *ngIf="(training.change_answer == false && training.view_answered == false) && training.visibility"
                    class="card-content" [style.background]="bgcontentcolor">
                    <span class="b3-icons {{training.iconFamily}} menu-icon"
                        *ngIf="training.iconFamily !== 'material-icons'" [style.color]="menu_color"></span>
                    <i class="{{training.iconFamily}} menu-icon" *ngIf="training.iconFamily == 'material-icons'"
                        [style.color]="menu_color">{{training.icon}}</i> &nbsp; &nbsp;
                    <span [style.color]="titleColor">{{training.title[userLanguage]}}</span>
                </ion-item>
            </div>
        </div>

        <div *ngIf="loader">
            <ion-item-divider style="height: 60px;">
                <ion-skeleton-text animated style="width: 150px; margin-left: 20px;"></ion-skeleton-text>
            </ion-item-divider>
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-avatar slot="start"
                    style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                    <ion-skeleton-text style="width: 25px; height: 25px"></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>