.disabled {
    opacity: .3;
    cursor: not-allowed;
}

.navbar-brand {
    cursor: pointer;
}

.disabled:hover {
    color: rgba(0, 0, 0, 0.4);
}

.material-icons, .menu-icon-b3 {
    font-size: 18px;
}

.navbar-links {
    float: left;
}

.nav-b3-link {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.nav-b3-link-active {
    font-weight: bold;
}

.side-b3-link,
.menu-icon {
    color: #FFFFFF !important;
}

.menu-icon {
    opacity: .7;
}

.side-b3-link:hover {
    color: #bebebe !important;
}

.left-panel,
.navbar-default {
    background: #343a40 !important;
}

.menu-title {
    color: #FFFFFF !important;
}

.sub-menu {
    background: #343a40 !important;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.custom-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
}