<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-title" *ngIf="navActive == 'event'">{{"global.event" | translate}}</li>
                    <!-- /.menu-title -->
                    <li *ngIf="navActive == 'event'">
                        <a class="side-b3-link" routerLink="/event/{{eventId}}/info"> <i class="menu-icon material-icons">info</i>{{"global.informations" | translate}}
                        </a>
                    </li>
                    <li *ngIf="navActive == 'event'">
                        <a class="side-b3-link" routerLink="/event/{{eventId}}/legal"> <i class="menu-icon material-icons">gavel</i>{{"global.legal_data" | translate}}
                        </a>
                    </li>

                    <ng-container *ngIf="navActive == 'modules'">
                        <!-- /.menu-title -->
                        <li class="menu-title">{{"global.geral" | translate}}</li>

                        <!-- manager module -->
                        <li *ngIf="managerModules">
                            <!-- display the module name according to the user's language. -->
                            <a class="side-b3-link" routerLink="{{managerModules.viewBackOffice}}">
                                <i class="menu-icon material-icons">{{managerModules.icon}}</i>
                                <span>{{managerModules.name[formatedLanguage.language]}}</span>
                            </a>
                        </li>

                        <!--module group  -->
                        <li *ngIf="moduleGroup">
                            <a class="side-b3-link" routerLink="{{moduleGroup.viewBackOffice}}">
                                <i class="menu-icon material-icons">{{moduleGroup.icon}}</i>
                                <span>{{moduleGroup.name[formatedLanguage.language]}}</span>
                            </a>
                        </li>

                        <!--module notification  -->
                        <li *ngIf="moduleNotification">
                            <a class="side-b3-link" routerLink="{{moduleNotification.viewBackOffice}}">
                                <i class="menu-icon material-icons">{{moduleNotification.icon}}</i>
                                <span>{{moduleNotification.name[formatedLanguage.language]}}</span>
                            </a>
                        </li>

                        <!--module location  -->
                        <li *ngIf="moduleLocation">
                            <a class="side-b3-link" routerLink="{{moduleLocation.viewBackOffice}}">
                                <i class="menu-icon material-icons">{{moduleLocation.icon}}</i>
                                <span>{{moduleLocation.name[formatedLanguage.language]}}</span>
                            </a>
                        </li>

                        <!-- /.menu-title -->
                        <li class="menu-title">{{"comp.sidebar.btn_modules" | translate}}</li>

                        <!-- dynamic modules -->
                        <li *ngFor="let module of modulesGeneral">
                            <!-- check viewBackOffice -->
                            <ng-template *ngIf="module.viewBackOffice;then viewBackOffice; else notViewBackOffice">
                            </ng-template>

                            <!-- check if viewBackOffice is true -->
                            <ng-template #viewBackOffice>
                                <!-- check external link -->
                                <ng-template *ngIf="module.type === module_external_link;then externalLink; else notExternalLink">
                                </ng-template>

                                <!-- external link module -->
                                <ng-template #externalLink>
                                    <a class="side-b3-link" href="{{module.viewBackOffice}}" target="_blank">
                                        <!-- check the type of icon. -->
                                        <i class="menu-icon material-icons" *ngIf="module.iconFamily == 'material-icons'">{{module.icon}}</i>

                                        <span *ngIf="module.iconFamily == 'custom-icon'">
                                            <img [src]="module.icon"
                                                class="custom-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                        <span class="menu-icon menu-icon-b3 b3-icons {{module.iconFamily}}" *ngIf="module.iconFamily !== 'custom-icon' && module.iconFamily !== 'material-icons'"></span>
                                        <span>{{module.name[formatedLanguage.language]}}</span>
                                    </a>
                                </ng-template>

                                <!-- not external link module -->
                                <ng-template #notExternalLink>
                                    <li>
                                        <a class="side-b3-link" routerLink="{{module.viewBackOffice}}">
                                            <!-- check the type of icon. -->
                                            <i class="menu-icon material-icons" *ngIf="module.iconFamily == 'material-icons'">{{module.icon}}</i>

                                            <span *ngIf="module.iconFamily == 'custom-icon'">
                                    <img [src]="module.icon"
                                        class="custom-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>

                                            <span class="menu-icon menu-icon-b3 b3-icons {{module.iconFamily}}" *ngIf="module.iconFamily !== 'custom-icon' && module.iconFamily !== 'material-icons'"></span>
                                            <span>{{module.name[formatedLanguage.language]}}</span>

                                        </a>
                                    </li>
                                </ng-template>
                            </ng-template>

                            <!-- check if viewBackOffice is false -->
                            <ng-template #notViewBackOffice>
                                <li>
                                    <a class="side-b3-link">
                                        <i class="menu-icon material-icons">{{module.icon}}</i>
                                        <span>{{module.name[formatedLanguage.language]}}</span>
                                    </a>
                                </li>
                            </ng-template>

                        </li>
                    </ng-container>

                    <ng-container *ngIf="navActive == 'design'">
                        <li class="menu-title">{{"comp.sidebar.design" | translate}}</li>
                        <!-- /.menu-title -->
                        <li>
                            <a class="side-b3-link" routerLink="/event/{{eventId}}/design/colors"> <i class="menu-icon material-icons">palette</i>{{"comp.sidebar.btn_colors" | translate}}</a>
                        </li>
                        <li>
                            <a class="side-b3-link" routerLink="/event/{{eventId}}/design/identity"> <i class="menu-icon material-icons">style</i>{{"comp.sidebar.btn_visual_identity" | translate}}</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="navActive == 'analytics'">
                        <li class="menu-title">{{"comp.sidebar.btn_analytics" | translate}}</li>
                        <!-- /.menu-title -->
                        <li>
                            <a class="side-b3-link" routerLink="/event/{{eventId}}/analytics"> <i class="menu-icon material-icons">assessment</i>{{"comp.analytics.title" | translate}}</a>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" (click)="redirectDashboard()"><img src="../../../assets/images/{{navLogo}}" alt="Logo"></a>
                    <a class="navbar-brand hidden" (click)="redirectDashboard()"><img src="../../../assets/images/{{navLogo}}" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>

            </div>
            <div class="top-right">
                <div class="navbar-links">
                    <li class="nav-b3-link {{navActive == 'event' ? 'nav-b3-link-active' : ''}}"><a routerLink="/event/{{eventId}}/info">{{"comp.navbar.event" | translate}}</a></li>
                    <li *ngIf="managerModules !== null" class="nav-b3-link {{navActive == 'modules' ? 'nav-b3-link-active' : ''}}">
                        <a routerLink="{{managerModules.viewBackOffice}}">{{"comp.navbar.modules" | translate}}</a></li>
                    <li class="nav-b3-link {{navActive == 'design' ? 'nav-b3-link-active' : ''}}"><a routerLink="/event/{{eventId}}/design/colors">{{"comp.navbar.visual" | translate}}</a></li>
                    <li class="nav-b3-link {{navActive == 'analytics' ? 'nav-b3-link-active' : ''}}"><a routerLink="/event/{{eventId}}/analytics">{{"comp.navbar.analytics" | translate}}</a>
                    </li>
                    <!-- <li class="nav-b3-link"><a class="disabled" href="#">Nativo</a></li> -->
                </div>
                <div class="header-menu">

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="user-name">{{displayName}} &nbsp;</span>
                            <ngx-avatar name="{{displayName}}" size="40" *ngIf="photoUrl == null || photoUrl == undefined || photoUrl == ''"></ngx-avatar>
                            <img [src]="photoUrl" class="avatar-image" *ngIf="photoUrl !== null && photoUrl !== undefined && photoUrl !== ''">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" (click)="redirectProfile()"><i
                                    class="fa fa- user"></i>{{"global.my_profile" | translate}}</a>
                            <a class="nav-link" (click)="logoutUser()"><i
                                    class="fa fa-power -off"></i>{{"global.btn_logout" | translate}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        {{license}}
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>

</body>
