<div class="background">
    <div *ngIf="!loader && showListSurveys">
        <ion-item-divider *ngIf="unansweredSurveys.length > 0">
            <div class="lateral-color-card-warn">
            </div>
            <h6 *ngIf="unansweredSurveys.length > 0" class="section-title"> &nbsp;&nbsp;&nbsp; {{"pages.survey.not_answered" |
                  translate}}</h6>
        </ion-item-divider>

        <div *ngFor="let survey of unansweredSurveys; let i = index">
            <ion-item detail class="card-content clickable-component" [style.background]="bgcontentcolor"
                (click)="openUnansweredSurvey(i)">
                <span class="b3-icons {{survey.iconFamily}} menu-icon" *ngIf="survey.iconFamily !== 'material-icons'"
                    [style.color]="menu_color"></span>
                <i class="{{survey.iconFamily}} menu-icon" *ngIf="survey.iconFamily == 'material-icons'"
                    [style.color]="menu_color">{{survey.icon}}</i>
                &nbsp; &nbsp;
                <span [style.color]="title_color">{{survey.title[userLanguage]}}</span>
            </ion-item>
        </div>

        <ion-item-divider *ngIf="answeredSurveys.length > 0">
            <div class="lateral-color-card-ok">
            </div>
            <h6 *ngIf="answeredSurveys.length > 0" class="section-title">&nbsp;&nbsp;&nbsp; {{"pages.survey.answered" |
                  translate}}</h6>
        </ion-item-divider>

        <div *ngFor="let survey of answeredSurveys; let i = index">
            <ion-item detail *ngIf="(survey.change_answer || survey.view_answered) && survey.visibility"
                class="card-content clickable-component" [style.background]="bgcontentcolor"
                (click)="openAnsweredSurvey(i)">
                <span class="b3-icons {{survey.iconFamily}} menu-icon" *ngIf="survey.iconFamily !== 'material-icons'"
                    [style.color]="menu_color"></span>
                <i class="{{survey.iconFamily}} menu-icon" *ngIf="survey.iconFamily == 'material-icons'"
                    [style.color]="menu_color">{{survey.icon}}</i>
                &nbsp; &nbsp;
                <span [style.color]="titleColor">{{survey.title[userLanguage]}}</span>
            </ion-item>

            <ion-item *ngIf="(survey.change_answer == false && survey.view_answered == false) && survey.visibility"
                class="card-content clickable-component" [style.background]="bgcontentcolor">
                <span class="b3-icons {{survey.iconFamily}} menu-icon" *ngIf="survey.iconFamily !== 'material-icons'"
                    [style.color]="menu_color"></span>
                <i class="{{survey.iconFamily}} menu-icon" *ngIf="survey.iconFamily == 'material-icons'"
                    [style.color]="menu_color">{{survey.icon}}</i>
                &nbsp; &nbsp;
                <span [style.color]="titleColor">{{survey.title[userLanguage]}}</span>
            </ion-item>
        </div>
    </div>

    <div *ngIf="!showListSurveys">
        <app-survey [componentMode]="true" [backToList]="backToList" [eventId]="eventId" [moduleId]="surveyModule.uid"
            [surveyId]="surveySelectedId" [sessionId]="sessionId" [userId]="userId"
            [scheduleModuleId]="surveyModule.uid" (stopLoaderEvent)="stopLoader($event)"
            (goBackEvent)="goBackToList($event)"></app-survey>
    </div>

    <div *ngIf="loader && surveys.length > 1">
        <ion-item-divider style="height: 60px;">
            <ion-skeleton-text animated style="width: 150px; margin-left: 20px;"></ion-skeleton-text>
        </ion-item-divider>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <ion-avatar slot="start"
                style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <ion-skeleton-text style="width: 25px; height: 25px"></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
        </ion-item>
    </div>
</div>