:host {
    width: 100%;
    height: 100%;
}

.background {
    min-height: fit-content !important;
}

.section-title {
    color: #7c7c7c;
    font-size: 1.2em;
    font-weight: bold;
}

.lateral-color-card-ok,
.lateral-color-card-warn {
    width: 5px;
    height: 55px;
    float: left;
}

.lateral-color-card-warn {
    background: #CEA244;
}

.lateral-color-card-ok {
    background: #72B746;
}

.card-content {
    margin: 0 auto;
    width: 100%;
}

ion-item-divider {
    padding: 0;
    margin: 0;
}