<ion-grid class="grid-interactivity" fixed="true"
    *ngIf="((showSpeakers || showDocuments || showFeedbacks) && isMobile) || showQuestion || showSurvey || showQuiz || allowDiscussionsGroups">

    <!-- Segments tab -->

    <ion-row>
        <!-- <ion-col size="12"> -->
        <ion-segment color="blue-default" [(ngModel)]="type" scrollable mode="md">
            <ion-segment-button mode="md" *ngIf="(showSpeakers || showDocuments || showFeedbacks) && isMobile"
                value="details">
                <ion-label>{{ 'pages.schedule_detail.interactivity.details' | translate }}</ion-label>
            </ion-segment-button>

            <ion-segment-button mode="md" *ngIf="showQuestion" value="question"
                [checked]="(type == 'question') ? true : false">
                <ion-label>{{ questionModule.name[userLanguage] }}</ion-label>
            </ion-segment-button>

            <ion-segment-button mode="md" *ngIf="showSurvey" value="survey"
                [checked]="(type == 'survey') ? true : false">
                <ion-label>{{ surveyModule.name[userLanguage] }}</ion-label>
            </ion-segment-button>

            <ion-segment-button mode="md" *ngIf="showQuiz" value="quiz" [checked]="(type == 'quiz') ? true : false">
                <ion-label>{{ quizModule.name[userLanguage] }}</ion-label>
            </ion-segment-button>

            <ion-segment-button mode="md" *ngIf="training" value="training">
                <ion-label>{{ 'pages.schedule_detail.interactivity.training' | translate }}</ion-label>
            </ion-segment-button>

            <ion-segment-button mode="md" *ngIf="allowDiscussionsGroups" value="groups-discussions">
                <ion-label>{{ 'pages.schedule_detail.interactivity.group-discussion' | translate }}</ion-label>
            </ion-segment-button>
        </ion-segment>
        <!-- </ion-col> -->
    </ion-row>

    <!-- End of segments tabs -->

    <!-- Interactivity components -->

    <ion-row [style.overflow-y]="(type == 'groups-discussions') ? 'none' : 'scroll'"
        [class.row-interactivity]="!isMobile" style="padding-top: 20px;">

        <!-- Details component -->
        <div class="details-tabs" *ngIf="type == 'details'">
            <app-speakers *ngIf="showSpeakers" [eventId]="eventId" [showTitle]="true" [speakers]="speakers">
            </app-speakers>
            <app-documents *ngIf="showDocuments" [eventId]="eventId" [showTitle]="true" [documents]="documents">
            </app-documents>
            <app-feedbacks *ngIf="showFeedbacks" [eventId]="eventId" [sessionId]="sessionId" [userId]="userId"
                [feedbacks]=feedbacks [feedbackModule]="feedbackModule">
            </app-feedbacks>
        </div>

        <!-- Ask a question component -->
        <app-ask-question *ngIf="type == 'question'" [eventId]="eventId" [moduleId]="moduleId" [session]="session"
            [sessionId]="sessionId" [itemId]="itemId" [userId]="userId" [moduleType]="moduleType"
            [questions]="questions" [questionModule]="questionModule">
        </app-ask-question>

        <!-- Survey component -->
        <app-survey-list *ngIf="type == 'survey'" [eventId]="eventId" [moduleId]="moduleId" [sessionId]="sessionId"
            [userId]="userId" [surveys]="surveys" [surveyModule]="surveyModule">
        </app-survey-list>

        <!-- Quiz component -->
        <app-quiz-list *ngIf="type == 'quiz'" [eventId]="eventId" [moduleId]="moduleId" [sessionId]="sessionId"
            [quizs]="quizs" [quizModule]="quizModule" [userId]="userId"></app-quiz-list>

        <!-- Training component -->

        <!-- Discussion group component -->
        <app-group-discussion-list *ngIf="allowDiscussionsGroups && type == 'groups-discussions'" [eventId]="eventId"
            [sessionId]="sessionId">
        </app-group-discussion-list>
    </ion-row>

    <!-- End of interactivity components -->
</ion-grid>