:host {
    width: 100%;
    height: 100%;
}

.grid-interactivity {
    background: #f6f6f6;
}

ion-grid,
ion-segment,
ion-row {
    width: 100% !important;
}

.details-tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.row-interactivity {
    height: calc(100vh - 120px);
    overflow-y: scroll;
}