.disabled {
    opacity: .3;
    cursor: not-allowed;
}

.navbar-brand {
    cursor: pointer;
}

.disabled:hover {
    color: rgba(0, 0, 0, 0.4);
}

.material-icons {
    font-size: 18px;
}

.side-b3-link,
.menu-icon {
    color: #FFFFFF !important;
}

.menu-icon {
    opacity: .7;
}

.side-b3-link:hover {
    color: #bebebe !important;
}

.left-panel,
.navbar-default {
    background: #343a40 !important;
}

.menu-title {
    color: #FFFFFF !important;
}

.sub-menu {
    background: #343a40 !important;
}

.activeMenu {
    font-weight: bold !important;
    border-bottom: 0.5px solid rgba(182, 182, 182, 0.185) !important;
}

.bg-grey {
    width: 100%;
    background: #E8E9EF;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}