<body>
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" (click)="redirectDashboard()"><img src="../../../assets/images/{{navLogo}}"
                            alt="Logo"></a>
                    <a class="navbar-brand hidden" (click)="redirectDashboard()"><img
                            src="../../../assets/images/{{navLogo}}" alt="Logo"></a> </div>
            </div>
            <div class="top-right">
                <div class="header-menu">

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="user-name">{{displayName}} &nbsp;</span>
                            <ngx-avatar name="{{displayName}}" size="40"
                                *ngIf="photoUrl == null || photoUrl == undefined || photoUrl == ''"></ngx-avatar>
                            <img [src]="photoUrl" class="avatar-image"
                                *ngIf="photoUrl !== null && photoUrl !== undefined && photoUrl !== ''">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" (click)="redirectProfile()" routerLinkActive="activeMenu"><i
                                    class="fa fa- user"></i>{{"comp.adm_dashboard.my_profile"
                                | translate}}</a>
                            <a class="nav-link" (click)="logoutUser()"><i class="fa fa-power -off"></i>{{"comp.adm_dashboard.logout"
                                | translate}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
    </div>

    <!-- Content -->
    <div class="content bg-grey">
        <router-outlet></router-outlet>
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6 text-right">
                    {{license}}
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->

</body>