<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
      </ion-back-button>
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    <ion-title>
      <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
      <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
      <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
      <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
      <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
    </ion-title>
    <ion-buttons slot="end" *ngIf="allowButtonsHeader">
      <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
      <ion-button [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div *ngFor="let cloud of clouds; let i = index">
      <ion-item detail class="card-content" [style.background]="bgcontentcolor" *ngIf="cloud.visibility"
        (click)="openItem(cloud)">
        <!-- <span class="b3-icons {{quiz.iconFamily}} menu-icon" *ngIf="quiz.iconFamily !== 'material-icons'"
            [style.color]="menu_color"></span>
          <i class="{{quiz.iconFamily}} menu-icon" *ngIf="quiz.iconFamily == 'material-icons'"
            [style.color]="menu_color">{{quiz.icon}}</i>
          &nbsp; &nbsp; -->
        <span [style.color]="titleColor">{{cloud.title}}</span>
      </ion-item>
    </div>
  </div>

</ion-content>