<section class="main-background">
  <div class="container custom-container">
    <div class="row">
      <div class="col-sm-12 col-md-12">

        <h2 class="header-title">{{sessionName}}</h2>
        <hr>
        <div class="buttons-top" *ngIf="questions.length > 0">
          <br>
          <br>

          <div class="card" *ngIf="loader == false">
            <div class="card-body--">
              <div class="table-stats order-table ov-h">
                <table class="table ">
                  <thead>
                    <tr>
                      <th>{{"global.title" | translate}}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let question of questions; let i = index">
                      <td class="question-description" *ngIf="question.visibility == true">{{question.question}}</td>
                      <td *ngIf="question.visibility == true"><i class="material-icons like-icon-color">thumb_up_alt</i>
                        {{question.totalVotes}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- <div *ngFor="let question of questions; let i = index">
            <div class="card" *ngIf="question.visibility == true">
              <ul class="list-group list-group-flush">

                <li class="list-group-item">

                  <span>{{question.question}}</span>

                  <div class="float-right">
                    <i class="material-icons like-icon-color">thumb_up_alt</i> {{question.totalVotes}}
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
        <div class="align-loader" *ngIf="loader == true">
          <div class="loader-default"></div>
        </div>
      </div>
    </div>
  </div>
</section>