<!-- Animated -->
<div class="animated fadeIn">
  <!-- Widgets  -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-wallet"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text">$<span class="count">4.200</span></div>
                <div class="stat-heading">{{"comp.adm_resume.wallet" | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <i class="pe-7s-cart"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text"><span class="count">50</span></div>
                <div class="stat-heading">{{"comp.adm_resume.sales" | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <i class="pe-7s-users"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text"><span class="count">15</span></div>
                <div class="stat-heading">{{"comp.adm_resume.clients" | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-3">
              <i class="pe-7s-photo-gallery"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-text"><span class="count">5</span></div>
                <div class="stat-heading">{{"comp.adm_resume.containers" | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Widgets -->

  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">{{"comp.adm_resume.latest_sales" | translate}} </h4>
          </div>
          <div class="card-body--">
            <div class="table-stats order-table ov-h">
              <table class="table ">
                <thead>
                  <tr>
                    <th class="serial">#</th>
                    <th class="avatar">{{"comp.adm_resume.image" | translate}}</th>
                    <th>{{"comp.adm_resume.id" | translate}}</th>
                    <th>{{"comp.adm_resume.client" | translate}}</th>
                    <th>{{"comp.adm_resume.package" | translate}}</th>
                    <th>{{"comp.adm_resume.quantity" | translate}}</th>
                    <th>{{"comp.adm_resume.status" | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="serial">1.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <a href="#"><img class="rounded-circle" src="../../../assets/images/no-avatar.svg" alt=""></a>
                      </div>
                    </td>
                    <td> #5469 </td>
                    <td> <span class="name">Samanta Lima</span> </td>
                    <td> <span class="product">Novartis</span> </td>
                    <td><span class="count">2</span></td>
                    <td>
                      <span class="badge badge-pending">{{"comp.adm_resume.pending" | translate}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="serial">2.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <a href="#"><img class="rounded-circle" src="../../../assets/images/no-avatar.svg" alt=""></a>
                      </div>
                    </td>
                    <td> #5468 </td>
                    <td> <span class="name">Genay Cestarolli</span> </td>
                    <td> <span class="product">Sanofi</span> </td>
                    <td><span class="count">4</span></td>
                    <td>
                      <span class="badge badge-complete">{{"comp.adm_resume.completed" | translate}}</span>
                    </td>
                  </tr>
                  <tr class=" pb-0">
                    <td class="serial">5.</td>
                    <td class="avatar pb-0">
                      <div class="round-img">
                        <a href="#"><img class="rounded-circle" src="../../../assets/images/no-avatar.svg" alt=""></a>
                      </div>
                    </td>
                    <td> #5465 </td>
                    <td> <span class="name">Jonas Botafogo</span> </td>
                    <td> <span class="product">Jhonny Walker</span> </td>
                    <td><span class="count">5</span></td>
                    <td>
                      <span class="badge badge-complete">{{"comp.adm_resume.completed" | translate}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /.table-stats -->
          </div>
        </div> <!-- /.card -->
      </div> <!-- /.col-lg-8 -->
    </div>
  </div>
  <!-- /.orders -->

  <div class="clearfix"></div>

  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="box-title">Salesforce API Dados </h4>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-body">
            </div>
          </div>
        </div>
        <div class="card-body"></div>
      </div>
    </div>
  </div> -->

</div>