ion-grid.flexer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: initial;
    // padding-bottom: 30px;
    max-width: 600px; // <---  add Emmanuel Aires for align in webview in computer
    margin: 0 auto; // <---  add Emmanuel Aires for align in webview in compute

    >div {
        display: block;
        margin: 6px;
        border-radius: 5px;
    }

    .col-6 {
        width: calc(50% - 12px) !important;
        position: relative !important;
    }

    .col-12 {
        width: 100vw !important;
        position: relative !important;
    }

    .col-1row {
        // height: 40vw !important;
    }

    .col-2row {
        // height: 50vh !important;
    }

    .col-6 img,
    .col-12 img {
        width: -webkit-fill-available !important;
        height: -webkit-fill-available !important;
        border-radius: 10px;
        object-fit: fill !important;
        object-position: center;
    }

    .col-6 svg,
    .col-12 svg {
        width: -webkit-fill-available !important;
        height: -webkit-fill-available !important;
        border-radius: 10px;
        object-fit: fill !important;
        object-position: center;
        margin: 0 auto;
    }

    .col-rounded svg {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        margin: 0 auto;
        object-fit: contain;
        object-position: center;
    }

    .col-rounded #bgCoverWidget {
        border-radius: 50% !important;
    }

    .widget-text {
        position: absolute;
        left: 0;
        bottom: 7px;
        width: 100%;
        height: 25px;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.65);
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card-icon-top {
        width: -webkit-fill-available !important;
        height: -webkit-fill-available !important;
        border-radius: 10px !important;
    }

    .card-icon-top svg {
        width: 60% !important;
        margin: 0 auto;
        display: block;
    }

    .bg-cover-widget {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    // .widget-subtitle {
    //     position: absolute;
    //     bottom: 0;
    //     height: 20px;
    //     width: 100%;
    //     background: rgba(0, 0, 0, 0.65);
    //     color: #ffffff;
    //     text-align: center;
    //     font-size: .75em;
    // }
}

// @media only screen and (min-width: 320px) {
//     .col-1row {
//         height: 22vh !important;
//     }

//     .col-2row {
//         height: 42vh !important;
//     }
// }

// @media only screen and (min-width: 360px) {
//     .col-1row {
//         height: 24vh !important;
//     }

//     .col-2row {
//         height: 44vh !important;
//     }
// }

// @media only screen and (min-width: 375px) {
//     .col-1row {
//         height: 26vh !important;
//     }

//     .col-2row {
//         height: 36vh !important;
//     }
// }

// @media only screen and (min-width: 411px) {
//     .col-1row {
//         height: 26vh !important;
//     }
// }

// @media only screen and (min-width: 414px) {
//     .col-1row {
//         height: 26vh !important;
//     }
// }

// @media only screen and (min-width: 425px) {
//     .col-1row {
//         height: 26vh !important;
//     }
// }

// @media only screen and (min-width: 500px) {
//     .col-1row {
//         height: 35vh !important;
//     }

//     .col-2row {
//         height: 73vh !important;
//     }
// }

// @media only screen and (min-width: 568px) {
//     .col-1row {
//         height: 37vh !important;
//     }

//     .col-2row {
//         height: 75vh !important;
//     }
// }

// @media only screen and (min-width: 640px) {
//     .col-1row {
//         height: 43vh !important;
//     }

//     .col-2row {
//         height: 86vh !important;
//     }

//     .widget-text {
//         height: 30px !important;
//         font-size: 1.2em !important;
//     }
// }

// @media only screen and (min-width: 768px) {
//     .col-1row {
//         height: 48vh !important;
//     }

//     .widget-text {
//         height: 32px !important;
//         font-size: 1.3em !important;
//     }
// }

// @media only screen and (min-width: 800px) {
//     .col-1row {
//         height: 45vh !important;
//     }

//     .widget-text {
//         height: 32px !important;
//         font-size: 1.3em !important;
//     }
// }

// @media only screen and (min-width: 800px) and (orientation: landscape) {
//     .col-1row {
//         height: 52vh !important;
//     }

//     .col-2row {
//         height: 75vh !important;
//     }

//     .widget-text {
//         height: 32px !important;
//         font-size: 1.3em !important;
//     }
// }

// @media only screen and (min-width: 1024px) {
//     .col-1row {
//         height: 20vh !important;
//     }

//     .col-2row {
//         height: 30vh !important;
//     }

//     .widget-text {
//         height: 35px !important;
//         font-size: 1.5em !important;
//     }
// }

// @media only screen and (min-width: 1024px) and (orientation: landscape) {
//     .col-1row {
//         height: 35vh !important;
//     }

//     .col-2row {
//         height: 70vh !important;
//     }

//     .widget-text {
//         height: 35px !important;
//         font-size: 1.5em !important;
//     }
// }

// @media only screen and (min-width: 1030px) {
//     .col-1row {
//         height: 53vh !important;
//     }

//     .col-2row {
//         height: 63vh !important;
//     }

//     .widget-text {
//         height: 35px !important;
//         font-size: 1.5em !important;
//     }
// }

// @media only screen and (min-width: 1110px) {
//     .col-1row {
//         height: 43vh !important;
//     }

//     .col-2row {
//         height: 53vh !important;
//     }

//     .widget-text {
//         height: 35px !important;
//         font-size: 1.5em !important;
//     }
// }

// @media only screen and (min-width: 1280px) {
//     .col-1row {
//         height: 44vh !important;
//     }

//     .col-2row {
//         height: 80vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1350px) {
//     .col-1row {
//         height: 47vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1400px) {
//     .col-1row {
//         height: 49vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1500px) {
//     .col-1row {
//         height: 51vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1600px) {
//     .col-1row {
//         height: 54vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1700px) {
//     .col-1row {
//         height: 59vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1800px) {
//     .col-1row {
//         height: 64vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 1900px) {
//     .col-1row {
//         height: 66vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 2000px) {
//     .col-1row {
//         height: 69vh !important;
//     }

//     .col-2row {
//         height: 85vh !important;
//     }

//     .widget-text {
//         height: 38px !important;
//         font-size: 1.6em !important;
//     }
// }

// @media only screen and (min-width: 2040px) {
//     .col-1row {
//         height: 70vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

// @media only screen and (min-width: 2100px) {
//     .col-1row {
//         height: 74vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

// @media only screen and (min-width: 2200px) {
//     .col-1row {
//         height: 75vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

// @media only screen and (min-width: 2300px) {
//     .col-1row {
//         height: 77vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

// @media only screen and (min-width: 2400px) {
//     .col-1row {
//         height: 79vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

// @media only screen and (min-width: 2500px) {
//     .col-1row {
//         height: 81vh !important;
//     }

//     .col-2row {
//         height: 84vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

// @media only screen and (min-width: 2600px) {
//     .col-1row {
//         height: 83vh !important;
//     }

//     .col-2row {
//         height: 87vh !important;
//     }

//     .widget-text {
//         height: 52px !important;
//         font-size: 2.5em !important;
//     }
// }

.background-widget {
    width: 100%;
    min-height: 100vh !important;
    object-fit: cover;
}

.clickable-doc {
    cursor: pointer;
}