<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-widget" [ngStyle]="getBackground()">
        <ion-grid class="flexer clickable-doc" id="flexerGrid">
            <div *ngFor="let widget of widgets$ | async" class="{{widget?.proportion}}"
                [style.height.px]="widget.finalHeight">
                <div *ngIf="widget.isExtern == false">
                    <!-- case widget is image -->
                    <div id="bgCoverWidget" class="bg-cover-widget" (click)="openWidget(widget)"
                        *ngIf="widget.isImage == true && widget.route !== '-1'"
                        [ngStyle]="{'background-image':'url(' + widget.image[userLanguageFormated] + ')'}"
                        [style.height.px]="widget.finalHeight">
                        <img src="../../../assets/images/1x1px.png" />
                    </div>
                    <div id="bgCoverWidget" class="bg-cover-widget"
                        *ngIf="widget.isImage == true && widget.route == '-1'"
                        [ngStyle]="{'background-image':'url(' + widget.image[userLanguageFormated] + ')'}"
                        [style.height.px]="widget.finalHeight">
                        <img src="../../../assets/images/1x1px.png" />
                    </div>
                    <!-- case widget is icon -->
                    <a (click)="openWidget(widget)"
                        *ngIf="widget.isImage == false && widget.route !== '-1'">
                        <!-- case widget icon no have border and background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill"
                            *ngIf="widget.borderEnabled == false && widget.backgroundEnabled == false">
                        </svg-icon>
                        <!-- case widget icon have border and background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.border]="widget.borderSize"
                            [style.borderColor]="widget.borderColor" [style.background]="widget.backgroundColor"
                            *ngIf="widget.borderEnabled == true && widget.backgroundEnabled == true">
                        </svg-icon>
                        <!-- case widget icon have background but do not have border -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.background]="widget.backgroundColor"
                            *ngIf="widget.borderEnabled == false && widget.backgroundEnabled == true">
                        </svg-icon>
                        <!-- case widget icon have border and do not have background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.border]="widget.borderSize"
                            [style.borderColor]="widget.borderColor"
                            *ngIf="widget.borderEnabled == true && widget.backgroundEnabled == false">
                        </svg-icon>
                    </a>
                    <a *ngIf="widget.isImage == false && widget.route == '-1'">
                        <!-- case widget icon no have border and background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill"
                            *ngIf="widget.borderEnabled == false && widget.backgroundEnabled == false">
                        </svg-icon>
                        <!-- case widget icon have border and background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.border]="widget.borderSize"
                            [style.borderColor]="widget.borderColor" [style.background]="widget.backgroundColor"
                            *ngIf="widget.borderEnabled == true && widget.backgroundEnabled == true">
                        </svg-icon>
                        <!-- case widget icon have background but do not have border -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.background]="widget.backgroundColor"
                            *ngIf="widget.borderEnabled == false && widget.backgroundEnabled == true">
                        </svg-icon>
                        <!-- case widget icon have border and do not have background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.border]="widget.borderSize"
                            [style.borderColor]="widget.borderColor"
                            *ngIf="widget.borderEnabled == true && widget.backgroundEnabled == false">
                        </svg-icon>
                    </a>
                </div>
                <div *ngIf="widget.isExtern == true">
                    <!-- case widget is image -->
                    <div id="bgCoverWidget" class="bg-cover-widget"
                        (click)="openLink(widget.route, widget.open_link_behavior)"
                        *ngIf="widget.isImage == true && widget.route !== '-1'"
                        [ngStyle]="{'background-image':'url(' + widget.image[userLanguageFormated] + ')'}"
                        [style.height.px]="widget.finalHeight">
                        <img src="../../../assets/images/1x1px.png" />
                    </div>
                    <div id="bgCoverWidget" class="bg-cover-widget"
                        *ngIf="widget.isImage == true && widget.route == '-1'"
                        [ngStyle]="{'background-image':'url(' + widget.image[userLanguageFormated] + ')'}"
                        [style.height.px]="widget.finalHeight">
                        <img src="../../../assets/images/1x1px.png" />
                    </div>

                    <!-- case widget is icon -->
                    <a (click)="openLink(widget.route)" *ngIf="widget.isImage == false">
                        <!-- case widget icon no have border and background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill"
                            *ngIf="widget.borderEnabled == false && widget.backgroundEnabled == false">
                        </svg-icon>
                        <!-- case widget icon have border and background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.border]="widget.borderSize"
                            [style.borderColor]="widget.borderColor" [style.background]="widget.backgroundColor"
                            *ngIf="widget.borderEnabled == true && widget.backgroundEnabled == true">
                        </svg-icon>
                        <!-- case widget icon have background but do not have border -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.background]="widget.backgroundColor"
                            *ngIf="widget.borderEnabled == false && widget.backgroundEnabled == true">
                        </svg-icon>
                        <!-- case widget icon have border and do not have background -->
                        <svg-icon class="card-icon-top"
                            src="../../../assets/icon/{{widget.image[userLanguageFormated]}}"
                            [style.fill]="widget.iconFill" [style.border]="widget.borderSize"
                            [style.borderColor]="widget.borderColor"
                            *ngIf="widget.borderEnabled == true && widget.backgroundEnabled == false">
                        </svg-icon>
                    </a>
                </div>
                <div class="widget-text" [style.color]="widget.subtitleTxtColor"
                    [style.background]="widget.subtitleBgColor"
                    *ngIf="widget.title[userLanguage] !== '' && widget.title[userLanguage] !== null">
                    {{widget.title[userLanguage]}}
                </div>
                <!-- <div class="widget-text" [style.color]="widget.subtitleTxtColor" [style.background]="widget.subtitleBgColor" *ngIf="event && event.language == 'en_US' && widget.title.en_US !== null && widget.title.en_US !== ''">
                    {{widget.title.en_US}}</div>
                <div class="widget-text" [style.color]="widget.subtitleTxtColor" [style.background]="widget.subtitleBgColor" *ngIf="event && event.language == 'es_ES' && widget.title.es_ES !== null && widget.title.es_ES !== ''">
                    {{widget.title.es_ES}}</div>
                <div class="widget-text" [style.color]="widget.subtitleTxtColor" [style.background]="widget.subtitleBgColor" *ngIf="event && event.language == 'fr_FR' && widget.title.fr_FR !== null && widget.title.fr_FR !== ''">
                    {{widget.title.fr_FR}}</div>
                <div class="widget-text" [style.color]="widget.subtitleTxtColor" [style.background]="widget.subtitleBgColor" *ngIf="event && event.language == 'de_DE' && widget.title.de_DE !== null && widget.title.de_DE !== ''">
                    {{widget.title.de_DE}}</div> -->
            </div>
        </ion-grid>
        <!-- <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div> -->
    </div>
</ion-content>