.rounded-circle {
    width: 33px;
    border-radius: 50%;
}

.round-img {
    padding-left: 8px;
}

.ng-autocomplete {
    width: 100% !important;

    .autocomplete-container {
        width: 100% !important;
        color: #495057 !important;
        box-shadow: none !important;
    }

    input {
        display: block !important;
        width: 100% !important;
        height: calc(2.25rem + 2px) !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        line-height: 1.5 !important;
        color: #495057 !important;
        background-color: rgb(102, 93, 93);
        background-clip: padding-box !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem !important;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;

        &::placeholder {
            color: #495057 !important;
        }
    }
}