.name-lenght {
    overflow: hidden;
    max-width: 20ch;
}

.banner {
    width: 100vw;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.card-content {
    padding-top: 4px;
}