<div class="back-div">
    <a class="back-link" (click)="redirectList()"><i class="material-icons">arrow_back</i> &nbsp;
        {{"global.back" | translate}}</a>
</div>
<br>
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formValidation">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>{{"global.name" | translate}} <span class="required">*</span></label>
                                <input class="form-control" [formControl]="formValidation.controls['name']" type="text"
                                    placeholder='{{"global.name" | translate}}'>
                            </div>

                            <!-- msg error input name -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['name'].hasError('required') && formValidation.controls['name'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{"global.title" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['title']" type="text"
                                    placeholder='{{"global.title" | translate}}'>
                            </div>

                            <!-- msg error input name -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['title'].hasError('required') && formValidation.controls['title'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_title" | translate}}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{"global.company" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['company']"
                                    type="text" placeholder='{{"global.company" | translate}}'>
                            </div>

                            <!-- msg error input name -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['company'].hasError('required') && formValidation.controls['lastName'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_company" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>{{"global.email" | translate}} <span class="required">*</span></label>
                                <input class="form-control" [formControl]="formValidation.controls['email']"
                                    type="email" placeholder='{{"global.email" | translate}}'>
                            </div>

                            <!-- msg error input email -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['email'].hasError('required') && formValidation.controls['email'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_email" | translate}}
                            </div>
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['email'].hasError('email') && formValidation.controls['email'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_email_format" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"global.password" | translate}} <span class="required">*</span></label>
                                <input class="form-control" [formControl]="formValidation.controls['password']"
                                    type="password" placeholder="******">
                            </div>
                            <!-- msg error input password -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['password'].hasError('required') && formValidation.controls['password'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_pass" | translate}}
                            </div>

                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="validPassword == false && showErrorPassword">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.password_pattern" | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"global.language" | translate}}</label>
                                <select class="form-control" [formControl]="formValidation.controls['language']">
                                    <option value="pt_BR">{{"comp.event_info.portuguese" | translate}}</option>
                                    <option value="es_ES">{{"comp.event_info.spanish" | translate}}</option>
                                    <option value="en_US">{{"comp.event_info.english" | translate}}</option>
                                    <option value="fr_FR">{{"comp.event_info.french" | translate}}</option>
                                    <option value="de_DE">{{"comp.event_info.german" | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>{{"global.description" | translate}}</label>
                                <ckeditor [formControl]="formValidation.controls['description']">
                                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                                    </ckbutton>
                                </ckeditor>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card">
            <div class="card-header text-center">
                <span class="text-bold">{{"global.btn_profile" | translate}}</span>
            </div>
            <div class="card-body text-center">
                <div class="avatar-area">
                    <ngx-avatar size="80" name='{{"global.name" | translate}}'
                        *ngIf="formValidation.value.name == null && croppedImage == undefined "></ngx-avatar>
                    <ngx-avatar size="80" name="{{formValidation.value.name}}"
                        *ngIf="formValidation.value.name && croppedImage == undefined "></ngx-avatar>
                    <img [src]="croppedImage" class="default-avatar-create" *ngIf="croppedImage !== undefined">
                </div>
                <div class="divider-avatar"></div>
                <div class="upload-btn-wrapper">
                    <a class="pic-style" data-toggle="modal" data-target="#selectPicture" data-backdrop="static"
                        data-keyboard="false"><i class="material-icons">photo_camera</i> &nbsp; {{"global.select_picture" |
            translate}}</a>
                </div>
                <br>
                <h4 class="user-name">{{formValidation.value.name}}</h4>
                <h6 class="user-email">{{formValidation.value.email}} <span
                        *ngIf="formValidation.value.email && formValidation.value.emailRecovery">|</span>
                    {{formValidation.value.emailRecovery}}</h6>
                <h6 class="user-email">{{formValidation.value.title}} <span
                        *ngIf="formValidation.value.title && formValidation.value.company">-</span>
                    {{formValidation.value.company}}</h6>
                <h6 class="user-email"><a href="{{formValidation.value.site}}"
                        target="_blank">{{formValidation.value.site}}</a>
                </h6>
                <h6 class="user-description" [innerHTML]="formValidation.value.description | safeHtml"></h6>
                <br>
                <button type="submit" class="btn btn-secondary btn-center" (click)="checkEmailCreateEmployee()"
                    [disabled]="!formValidation.valid || !validPassword"
                    *ngIf="loader == false">{{"global.btn_create" | translate}}</button>
                <div class="align-loader" *ngIf="loader == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Select Picture -->
<div class="modal fade" id="selectPicture" tabindex="-1" role="dialog" aria-labelledby="selectPictureLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <strong>{{"global.photo" | translate}}</strong>
                    <button type="button" class="close" (click)="clearCropper()" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <br>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="profilePic"
                        (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .gif" />
                    <label class="custom-file-label" for="customFile"
                        *ngIf="fileName == null">{{"global.select_picture" | translate}}</label>
                    <label class="custom-file-label" for="customFile" *ngIf="fileName !== null">{{fileName}}</label>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="invalidSizeImg == false">
                    <small>{{"global.img_size_alert" | translate}}</small>
                </div>
                <br>

                <div class="text-center" *ngIf="cropperShow == true">
                    <image-cropper style="width: 450px; height: 450px;" #cropper [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true" [roundCropper]="true" [aspectRatio]="1/1" [resizeToWidth]="450"
                        format="png,jpeg" (imageCropped)="imageCropped($event)"></image-cropper>

                    <img style="width: 450px; height: auto; border-radius: 100%" [src]="croppedImage" />
                    <br><br>
                    <button class="btn btn-custom float-right"
                        (click)="saveProfilePicture()">{{"global.btn_save" | translate}}</button>
                </div>
                <div class="alert alert-danger" *ngIf="invalidSizeImg == true">
                    {{"global.invalid_file_size" | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" (confirm)="redirectList()"
    [showCancelButton]="false">
</swal>
<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    text='Erro ao criar usuário' icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}'
    confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>
<!-- modal change to employee -->
<swal #confirmChangeToClientSwal title='{{"global.modals.title_confirm_change" | translate}}'
    text='{{"global.modals.msg_confirm_change_typeuser" | translate}}' icon="question"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#6C757D"
    cancelButtonColor="#c91f1f" [showCancelButton]="true" (confirm)="changeUserToClient()" (cancel)="loader=false">
</swal>

<!-- modal permission -->
<swal #errorPermissionSwal title='{{"global.modals.error" | translate}}'
    text='{{"global.modals.error_permission_email" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>

<swal #confirmChangeUserTypeSwal title='Confirmação'
    text='{{"global.modals.warning_change_type_user" | translate}} {{userRemoveTypeStr}}. {{"global.modals.confirm_change_type_user_question" | translate}}'
    icon="error" confirmButtonText='Sim' cancelButtonText='{{"global.modals.btn_cancel" | translate}}'
    confirmButtonColor="#c91f1f" [showCancelButton]="true" [focusCancel]="true" (confirm)="confirmChangeUserType()">
</swal>

<swal #alreadyExistsSwal title='{{"global.modals.warning" | translate}}'
    text='{{"global.modals.email_already_belongs_employee" | translate}}' icon="warning"
    confirmButtonText='{{"global.btn_confirm" | translate}}' cancelButtonText='' confirmButtonColor="#6C747F"
    [showCancelButton]="false" [focusCancel]="false">
</swal>