textarea {
    resize: none;
}

.user-name {
    font-weight: bold;
}

.user-email {
    font-weight: 400;
    font-size: .9em;
}

.user-description {
    margin-top: 10px;
    font-weight: 200;
    font-size: .8em;
}

.div-100 {
    width: 100%;
}

.card-header-collapse {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .08)
}

.btn-collapse {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.6);
}

.avatar-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.back-div {
    width: 100%;
    display: flex;
    align-items: center;
}

.back-link {
    display: flex;
    align-items: center;
    color: #2F73A2!important;
    cursor: pointer;
}

.back-link:hover {
    color: #878787;
}

.required {
    font-weight: bold;
    color: #c91f1f;
}