<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>

                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default"
                            (click)="exportRanking()">{{"global.btn_export" | translate}}</button>
                        <a class="btn btn-custom btn-margin-right-default" target="_blank"
                            routerLink="/realtime-ranking/{{eventId}}">{{"global.realtime" | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="header-options">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6 float-right">
                    <div class="pipe-filter">
                        <div class="input-group md-3">
                            <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                                placeholder='{{"global.search_plc" | translate}}'>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="material-icons search-icon">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="card" *ngIf="loader == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.name" | translate}}</th>
                                    <th>{{"global.points" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let attendee of attendees | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td>{{i+1}}. &nbsp;&nbsp; {{attendee.name}}</td>
                                    <td>{{attendee.points}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="align-loader" *ngIf="loader == true">
                <div class="loader-default"></div>
            </div>
            <div class="page-align" *ngIf="loader == false">
                <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true"
                    directionLinks="false" autoHide="true"></pagination-controls>
            </div>
        </div>
    </div>
</div>