.card,
.card-body {
    width: 100%;
    height: auto;
}

.logo-cropp {
    width: 85%;
    height: 280px;
    border: 1px dashed #474747;
    padding: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-cropp {
    width: 100%;
    height: 120px;
    border: 1px dashed #474747;
    padding: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.align-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}