<div class="orders">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-bold text-center">{{"comp.identity.title" | translate}}</h5>

                        <br><br>
                        <div class="row" *ngIf="!loader">
                            <div class="col-sm-12 col-md-6">
                                <ng-container *ngIf="logoLoading == false">
                                    <div class="align-flex"
                                        *ngIf="event.logo.url !== null || event.logo.url !== undefined || event.logo.url !== ''">
                                        <div class="logo-cropp"
                                            [ngStyle]="{'background-image':'url(' + event.logo.url + ')'}">
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="align-loader" *ngIf="logoLoading == true">
                                    <div class="loader-default"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.identity.logo" | translate}} <br>
                                        <small>{{"comp.identity.logo_size" | translate}}</small></label>
                                    <div class="custom-file">
                                        <input type="file" accept="image/jpg, image/jpeg, image/png, image/gif"
                                            class="custom-file-input" id="customFileLogo"
                                            (change)="onUploadChangeLogo($event)">
                                        <label class="custom-file-label"
                                            for="customFileLogo">{{"global.no_file_selected" | translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <div class="row" *ngIf="!loader && event.webApp !== undefined">
                            <div class="col-sm-12 col-md-6">
                                <ng-container *ngIf="iconLoading == false">
                                    <div class="align-flex"
                                        *ngIf="event.webApp.touchIcon.url !== null || event.webApp.touchIcon.url !== undefined || event.webApp.touchIcon.url !== ''">
                                        <div class="logo-cropp"
                                            [ngStyle]="{'background-image':'url(' + event.webApp.touchIcon.url + ')'}">
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="align-loader" *ngIf="iconLoading == true">
                                    <div class="loader-default"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.identity.icon" | translate}} <br>
                                        <small>{{"comp.identity.icon_size" | translate}}</small></label>
                                    <div class="custom-file">
                                        <input type="file" accept="image/jpg, image/jpeg, image/png, image/gif"
                                            class="custom-file-input" id="customFileLogo"
                                            (change)="onUploadChangeTouchIcon($event)">
                                        <label class="custom-file-label"
                                            for="customFileLogo">{{"global.no_file_selected" | translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <div class="row" *ngIf="!loader">
                            <div class="col-sm-12 col-md-6">
                                <ng-container *ngIf="bannerLoading == false">
                                    <div class="align-flex"
                                        *ngIf="event.banner.url !== null || event.banner.url !== undefined || event.banner.url !== ''">
                                        <div class="banner-cropp"
                                            [ngStyle]="{'background-image':'url(' + event.banner.url + ')'}">
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="align-loader" *ngIf="bannerLoading == true">
                                    <div class="loader-default"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.identity.banner" | translate}} <br>
                                        <small>{{"comp.identity.banner_size" | translate}}</small></label>
                                    <div class="custom-file">
                                        <input type="file" accept="image/jpg, image/jpeg, image/png, image/gif"
                                            class="custom-file-input" id="customFileBanner"
                                            (change)="onUploadChangeBanner($event)">
                                        <label class="custom-file-label"
                                            for="customFileBanner">{{"global.no_file_selected" | translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row text-center" *ngIf="loader == false">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>{{"comp.identity.logo" | translate}} <br>
                    <small>{{"comp.identity.logo_size" | translate}}</small></label>
                  <div class="custom-file">
                    <input type="file" accept="image/jpg, image/jpeg, image/png, image/gif" class="custom-file-input"
                      id="customFileLogo" (change)="onUploadChangeLogo($event)">
                    <label class="custom-file-label"
                      for="customFileLogo">{{"global.no_file_selected" | translate}}</label>
                  </div>
                </div>
                <br>

                <ng-container *ngIf="logoLoading == false">
                  <div class="align-flex"
                    *ngIf="event.logo.url !== null || event.logo.url !== undefined || event.logo.url !== ''">
                    <div class="logo-cropp" [ngStyle]="{'background-image':'url(' + event.logo.url + ')'}">
                    </div>
                  </div>
                </ng-container>
                <div class="align-loader" *ngIf="logoLoading == true">
                  <div class="loader-default"></div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>{{"comp.identity.banner" | translate}} <br>
                    <small>{{"comp.identity.banner_size" | translate}}</small></label>
                  <div class="custom-file">
                    <input type="file" accept="image/jpg, image/jpeg, image/png, image/gif" class="custom-file-input"
                      id="customFileBanner" (change)="onUploadChangeBanner($event)">
                    <label class="custom-file-label"
                      for="customFileBanner">{{"global.no_file_selected" | translate}}</label>
                  </div>
                </div>
                <br>

                <ng-container *ngIf="bannerLoading == false">
                  <div class="align-flex"
                    *ngIf="event.banner.url !== null || event.banner.url !== undefined || event.banner.url !== ''">
                    <div class="banner-cropp" [ngStyle]="{'background-image':'url(' + event.banner.url + ')'}">
                    </div>
                  </div>
                </ng-container>
                <div class="align-loader" *ngIf="bannerLoading == true">
                  <div class="loader-default"></div>
                </div>
                <br>
              </div>
            </div> -->
                        <div class="align-loader" *ngIf="loader == true">
                            <div class="loader-default"></div>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>