<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title *ngIf="!searchOpen">
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}'
            (ionCancel)="searchOpen=false" (keyup)="searchBar($event)">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <div class="wrapper" *ngIf="!loader">
            <div *ngFor="let map of mapsList; let i = index">
                <ion-item detail lines="none" [style.background]="bg_content_color" *ngIf="map.type == 'address'"
                    routerLink="/event/{{eventId}}/map/{{moduleId}}/{{map.uid}}">
                    <ion-avatar>
                        <img src="../../../assets/images/map_placeholder.svg">
                    </ion-avatar>
                    <ion-label class="ion-color" [style.color]="title_color">
                        &nbsp;&nbsp; <strong>{{map.name}}</strong>
                    </ion-label>
                </ion-item>
                <ion-item detail lines="none" [style.background]="bg_content_color" *ngIf="map.type == 'image'"
                    (click)="zoomImg(map.image)">
                    <ion-avatar>
                        <img src="../../../assets/images/picture-2.svg">
                    </ion-avatar>
                    <ion-label class="ion-color" [style.color]="title_color">
                        &nbsp;&nbsp; <strong>{{map.name}}</strong>
                    </ion-label>
                </ion-item>
            </div>
        </div>
        <!-- await loading maps list -->
        <div *ngIf="loader">
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/grey.jpg">
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>