<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="!searchOpen">
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>
        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}'
            (ionCancel)="searchOpen=false" (keyup)="searchBar($event)">
        </ion-searchbar>

        <ion-buttons slot="end" *ngIf="viewGroup === false">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!-- show groups -->
    <div *ngIf="viewGroup === true">
        <div class="background">
            <div *ngIf="loader == false">
                <ng-container *ngFor="let group of groups">
                    <ion-item *ngIf="group.qtdSessions > 0" detail lines="none"
                        (click)="getAttendeesGroupDividByGroup(group)">
                        <div class="group-details" [style.background]="group.bgColor">
                            <small class="name" [style.color]="group.txtColor">
                                {{group.name}}
                            </small>
                        </div>
                    </ion-item>
                </ng-container>
            </div>
        </div>
    </div>


    <div class="background" *ngIf="viewGroup === false">
        <div *ngIf="loader == false && searchedAttendees.length <= 0">
            <ion-virtual-scroll [items]="attendees" [headerFn]="attendeeHeader">
                <ion-item-divider class="ion-color" *virtualHeader="let header">
                    {{ header }}
                </ion-item-divider>
                <ion-item lines="none" *virtualItem="let attendee" (click)="profileDetails(attendee)"
                    class="ion-color clickable-component" [style.background]="bg_content_color">
                    <ion-avatar>
                        <img class="picture" [src]="attendee?.photoUrl" *ngIf="attendee.photoUrl !== ''">
                        <ngx-avatar name="{{attendee?.name}}" initialsSize="2" *ngIf="attendee?.photoUrl == ''"
                            size="47">
                        </ngx-avatar>
                    </ion-avatar>

                    <ion-label>
                        <p class="name" [style.color]="title_color">{{attendee?.name}}</p>
                        <p class="job-info" [style.color]="text_content_color">
                            <span *ngIf="attendee?.title !== ''"> {{attendee?.principal_title}}</span><br>
                            <span *ngIf="attendee?.company !== ''"> {{attendee?.company}}</span>
                        </p>
                    </ion-label>
                </ion-item>
            </ion-virtual-scroll>

            <ion-infinite-scroll threshold=" 100px" (ionInfinite)="moreAttendees($event)">
                <ion-infinite-scroll-content loadingSpinner="dots">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>

        <div *ngIf="loader == false && searchedAttendees.length >= 1">
            <ion-virtual-scroll [items]="searchedAttendees" [headerFn]="attendeeHeader">
                <ion-item-divider class="ion-color" *virtualHeader="let header">
                    {{ header }}
                </ion-item-divider>
                <ion-item lines="none" *virtualItem="let attendee" (click)="profileDetails(attendee)" class="ion-color"
                    [style.background]="bg_content_color">
                    <ion-avatar>
                        <img class="picture" [src]="attendee?.photoUrl" *ngIf="attendee.photoUrl !== ''">
                        <ngx-avatar name="{{attendee?.name}}" initialsSize="2" *ngIf="attendee?.photoUrl == ''"
                            size="47">
                        </ngx-avatar>
                    </ion-avatar>

                    <ion-label>
                        <p class="name" [style.color]="title_color">{{attendee?.name}}</p>
                        <p class="job-info" [style.color]="text_content_color">
                            <span *ngIf="attendee?.title !== ''"> {{attendee?.principal_title}}</span><br>
                            <span *ngIf="attendee?.company !== ''"> {{attendee?.company}}</span>
                        </p>
                    </ion-label>

                </ion-item>
            </ion-virtual-scroll>
        </div>

        <!-- await loading attendees list -->
        <div *ngIf="loader">
            <ion-item-divider>
                <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
            </ion-item-divider>
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-avatar slot="start">
                    <!-- <ion-skeleton-text></ion-skeleton-text> -->
                    <img src="../../../assets/images/grey.jpg">
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <h3>
                        <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
                    </h3>
                    <h3>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>