<body>

    <form #myForm="ngForm">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>{{"comp.new_event.event_name" | translate}}</label>
                                    <input class="form-control" type="text"
                                        placeholder='{{"comp.new_event.event_name_plc" | translate}}' name="title"
                                        [(ngModel)]="title" #inputTitle="ngModel" required>
                                    <div class="alert alert-danger red-text text-darken-3 left-align"
                                        *ngIf="inputTitle.invalid && (inputTitle.dirty || inputTitle.touched)">
                                        {{"global.required_field" | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label for="inlineFormInputGroup">{{"comp.new_event.event_shortcode" | translate}}
                                        <small>({{"global.shortcode_special_characters" | translate}})</small></label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">{{defaultAppUrl}}</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroup"
                                            placeholder='{{"comp.new_event.plc_shortcode" | translate}}'
                                            name="shortcode" [(ngModel)]="shortcode" #inputShortcode="ngModel" required>

                                        <div class="alert alert-danger red-text text-darken-3 left-align"
                                            *ngIf="inputShortcode.invalid && (inputShortcode.dirty || inputShortcode.touched)">
                                            {{"comp.new_event.shortcode_required" | translate}}
                                        </div>

                                        <div *ngIf="invalidShortcodeError"
                                            class="alert alert-danger red-text text-darken-3 left-align">
                                            {{"comp.new_event.invalid_shortcode_indb" | translate}}
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{"global.start_date" | translate}}</label>
                                    <input class="form-control" type="date" name="startDate" [(ngModel)]="startDate"
                                        #inputStartDate="ngModel" required>

                                    <div class="alert alert-danger red-text text-darken-3 left-align"
                                        *ngIf="inputStartDate.invalid && (inputStartDate.dirty || inputStartDate.touched)">
                                        {{"global.required_field" | translate}}
                                    </div>

                                    <div class="alert alert-danger red-text text-darken-3 left-align" *ngIf="dateError">
                                        {{"comp.new_event.end_date_before_start" | translate}}
                                    </div>

                                    <div class="alert alert-danger red-text text-darken-3 left-align"
                                        *ngIf="startDatePastError">
                                        {{"comp.new_event.date_invalid_format" | translate}}
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{"comp.new_event.end_date" | translate}}</label>
                                    <input class="form-control" type="date" name="endDate" [(ngModel)]="endDate"
                                        #inputEndDate="ngModel" required>

                                    <div class="alert alert-danger red-text text-darken-3 left-align"
                                        *ngIf="inputEndDate.invalid && (inputEndDate.dirty || inputEndDate.touched)">
                                        {{"global.required_field" | translate}}
                                    </div>

                                    <div class="alert alert-danger red-text text-darken-3 left-align"
                                        *ngIf="endDatePastError">
                                        {{"comp.new_event.date_invalid_format" | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{"global.visibility" | translate}}</label>
                                    <select class="custom-select" required name="visibility" [(ngModel)]="visibility">
                                        <!-- <== changed -->
                                        <option [ngValue]="true">{{"global.public" | translate}}</option>
                                        <option [ngValue]="false">{{"global.private" | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{"comp.new_event.part_limit" | translate}}</label>
                                    <input type="number" class="form-control" placeholder="Ex: 80" name="userLimit"
                                        [(ngModel)]="userLimit" #inputUserLimit="ngModel" required>
                                </div>

                                <div class="alert alert-danger red-text text-darken-3 left-align"
                                    *ngIf="inputUserLimit.invalid && (inputUserLimit.dirty || inputUserLimit.touched)">
                                    {{"global.required_field_number" | translate}}
                                </div>

                                <div *ngIf="createEventError"
                                    class="alert alert-danger red-text text-darken-3 left-align">
                                    {{"comp.new_event.create_ev_error" | translate}}
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="galleryLimit">{{"global.gallery_max_size" | translate}}</label>
                                <select class="custom-select" id="galleryLimit" name="galleryLimit"
                                    [(ngModel)]="gallery_file_limit">
                                    <option value="1024000">1MB</option>
                                    <option value="2048000">2MB</option>
                                    <option value="3072000">3MB</option>
                                    <option value="5120000">5MB</option>
                                    <option value="10240000">10MB</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="documentsLimit">{{"global.documents_max_size" | translate}}</label>
                                <select class="custom-select" id="documentsLimit" name="documentsLimit"
                                    [(ngModel)]="documents_file_limit">
                                    <option value="1024000">1MB</option>
                                    <option value="2048000">2MB</option>
                                    <option value="3072000">3MB</option>
                                    <option value="5120000">5MB</option>
                                    <option value="10240000">10MB</option>
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <!-- chat -->
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.allow_chat_use" | translate}}</label>
                                    <select id="chatAllowed" class="custom-select" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="allowChatUse">
                                        <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                        <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- multi language -->
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.allow_language_use" | translate}}</label>
                                    <select id="languageAllowed" class="custom-select"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="allowLanguageUse">
                                        <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                        <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <!-- broadcast -->
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.allow_broadcast_use" | translate}}</label>
                                    <select id="broadcastAllowed" class="custom-select"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="allowBroadcastUse">
                                        <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                        <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- visio -->
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.allow_visio_use" | translate}}</label>
                                    <select id="visioAllowed" class="custom-select"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="allowVisioUse">
                                        <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                        <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row" *ngIf="!allowLanguageUse || allowVisioUse">
                            <!-- visio for 2 -->
                            <div class="col-sm-12 col-md-6" *ngIf="allowVisioUse">
                                <div class="form-group">
                                    <label>{{"comp.attendees.allow_visio" | translate}}</label>
                                    <select id="visioAllowedFor2" class="custom-select"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="allowVisioUseFor2">
                                        <option [ngValue]="true">{{"global.enabled" | translate}}</option>
                                        <option [ngValue]="false">{{"global.disabled" | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6" *ngIf="!allowLanguageUse">
                                <div class="form-group">
                                    <label>{{"global.principal_language" | translate}}</label>
                                    <select class="custom-select" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="language_principal">
                                        <option selected [ngValue]="language_principal">
                                            {{language_principal.name}}
                                        </option>

                                        <ng-container *ngFor="let l of languages; let i = index">
                                            <option [ngValue]="l" *ngIf="language_principal.value !== l.value">
                                                {{l.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>{{"comp.new_event.select_the_modules" | translate}}</label>
                                    <br>

                                    <div *ngFor="let m of modules">
                                        <div class="chip float-left" (click)="addModule(m)"
                                            *ngIf="m.selected == false; else selectedModule">
                                            <!-- display the module name according to the user's language. -->
                                            <span *ngIf="userLanguage == 'pt_BR'">{{m.name.PtBR}}</span>
                                            <span *ngIf="userLanguage == 'en_US'">{{m.name.EnUS}}</span>
                                            <span *ngIf="userLanguage == 'es_ES'">{{m.name.EsES}}</span>
                                            <span *ngIf="userLanguage == 'fr_FR'">{{m.name.FrFR}}</span>
                                            <span *ngIf="userLanguage == 'de_DE'">{{m.name.DeDE}}</span>
                                        </div>

                                        <ng-template #selectedModule>
                                            <div class="chip selected-chip float-left">
                                                <!-- display the module name according to the user's language. -->
                                                <span *ngIf="userLanguage == 'pt_BR'">{{m.name.PtBR}}</span>
                                                <span *ngIf="userLanguage == 'en_US'">{{m.name.EnUS}}</span>
                                                <span *ngIf="userLanguage == 'es_ES'">{{m.name.EsES}}</span>
                                                <span *ngIf="userLanguage == 'fr_FR'">{{m.name.FrFR}}</span>
                                                <span *ngIf="userLanguage == 'de_DE'">{{m.name.DeDE}}</span>

                                                <span class="closebtn" (click)="removeModule(m)">&times;</span>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="text-bold">{{"global.resume" | translate}}</span>
                    </div>
                    <div class="card-body text-center">

                        <h4 class="event-name">{{title}}</h4>
                        <h6 class="event-email">{{startDate}} - {{endDate}}</h6>
                        <span class="event-description">
                            <br><br>
                            <a href="#">{{defaultAppUrl}}{{shortcode}}</a>
                        </span>
                        <br>

                        <span *ngIf="visibility" class="event-description">{{"global.public" | translate}} -
                            {{userLimit}} <span class="lowercase">{{"global.attendees" | translate}}</span> <br></span>

                        <span *ngIf="!visibility" class="event-description">{{"global.private" | translate}} -
                            {{userLimit}} <span class="lowercase">{{"global.attendees" | translate}}</span> <br></span>

                        <br> <br>
                        <button [disabled]="!myForm.valid || qtdModels <= 0" (click)="createEvent()"
                            class="btn btn-secondary btn-center" *ngIf="loader == false">{{"global.btn_create"
              | translate}}</button>
                        <div class="align-loader" *ngIf="loader == true">
                            <div class="loader-default"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" (confirm)="redirectList()"
    [showCancelButton]="false">
</swal>