<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
      
    <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" text=""></ion-back-button>
        <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    
    <ion-title>
        <!-- <p>{{"pages.schedule_detail.transmit" | translate}}</p> -->
        <p>Transmitir</p>
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content class="ion-color bg-transparent">
  <div class="bg-transparent" *ngIf="allow_broadcast">
    <!-- [disabled]="!broadcaster || isPending" -->
    <button class="live-btn-custom"
      [style.color]="menu_text_color" [style.background]="menu_color"
      ion-button (click)="presentPrompt()">
      <!-- {{"pages.schedule_detail.play" | translate}} -->
      Iniciar
    </button>
  
    <button ion-button
      class="live-btn-custom danger-bg"
      *ngIf="isBroadcasting"
      [disabled]="isPending"
      (click)="stop()"
      [style.color]="menu_text_color">
      <!-- {{"pages.schedule_detail.stop" | translate}} -->
      Interromper
    </button>
  
    <button ion-button icon-only
      class="reverse-camera-btn grey-btn-color"
      *ngIf="broadcaster"
      [disabled]="isPending"
      (click)="switchCamera()"
      [style.color]="menu_text_color">
      <ion-icon name="reverse-camera"></ion-icon>
    </button>
  </div> 
</ion-content>

