// body, ion-content {
//     background-color: red !important;
// }

/**
    * For debugging: a semi-transparent <body>
    * Uncomment to illustrate whether or not the ionic app is transparent,
    * regardless of whether or not a viewfinder is displayed
    */
// background-color: rgba(255, 0, 0, 0.5);

.live-btn-custom {
    border-radius: 5px;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 7px;
    margin: 10px;
}

.reverse-camera-btn {
    border-radius: 5px;
    font-size: 1.5 em;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 10px;
}

.danger-bg {
    background-color: #f60404;
}

.grey-btn-color {
    background-color: #878787;
}

.bg-transparent, ion-app, ion-content, ion-router-outlet {
    background-color: transparent !important;
}