.session-name {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.slide-height {
    height: 40px;
}

.star-favorite {
    font-size: 1.2em;
}

.date-style {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: .8em;
}

.active {
    font-weight: bold;
    color: white;
    background: #2973A2;
}

.time {
    font-size: .8em;
}

.date {
    width: 100%;
}

.divider {
    height: 100%;
    width: 1px;
    opacity: .2;
    background: rgba(0, 0, 0, 0.5);
}

.divider-row {
    height: 1px;
    width: 100%;
    opacity: .2;
    background: rgba(0, 0, 0, 0.5);
}

.divider-date {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.session-item {
    height: 74px;
    // min-height: 60px;
}

.session-item-container {
    height: 74px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.session-divider {
    height: 30px;
}

.session-date {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.session-details {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 20px;
    height: 100%;
}

.time-align {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-times {
    font-size: 0.8em;
    text-align: center;
    margin-left: 10px;
}


.agenda-card {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3px;
}


.name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70vw;
    margin: 0;
}

.local {
    font-weight: 200 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 65vw;
}

.group {
    background: red;
    border-radius: 5px;
    padding: 3px;
    font-size: .6em;
}

.remove-agenda-icon {
    color: #F9B200 !important;
}

.custom-btnbg {
    background: transparent;
}

.add-agenda-icon,
.remove-agenda-icon {
    font-size: 1.7em;
}

.align-tracks {
    width: 100%;
    height: 100%
}

.track-style {
    font-size: .8em;
}

.bg-white {
    background: #ffffff;
}

// .track-mg {
//     display: flex;
//     justify-content: center;
// }

// .track-name {
//     border-radius: 8px;
//     padding: 4px;
//     font-weight: 500;
//     font-size: .64em;
//     text-transform: uppercase;
//     display: flex;
//     align-items: center;
//     // width: max-content;
//     max-width: 20ch;
//     float: left;
//     margin-right: 1px;
//     margin-top: 1px;
//     margin-bottom: 1px;
// }

ion-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    // margin-bottom: 4px !important;
}

.custom-toolbar {
    border-bottom: 1px solid #4b4b4b;
}

.group-details {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    // margin-bottom: 5px;
}

.date-circle,
.date-circle-selected {
    padding-bottom: 2.2px;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    max-width: 39px;
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.date-circle {
    border: 1px solid;
    font-weight: 600;
}

.date-circle-selected {
    border: 2px solid;
    font-weight: bold !important;
}