<ion-header no-border>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>

        <!-- print the module name -->
        <ion-title *ngIf="!searchOpen">
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <!-- clicking the button activates the ion-searchbar below. -->
        <ion-buttons slot="end" *ngIf="searchBtn == true">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
        </ion-buttons>


        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}'
            (ionCancel)="searchOpen=false" (keyup)=filterSessionsByName($event)>
        </ion-searchbar>
    </ion-toolbar>


    <ion-toolbar *ngIf="viewHour == true || viewTrack == true && viewGroup == false" class="ion-color custom-toolbar"
        [style.background]="menu_color">
        <ion-segment mode="md" (ionChange)="changeView($event)" value="byHour" class="ion-color custom-segment"
            [style.background]="menu_color">
            <ion-segment-button mode="md" value="byHour" class="ion-color" [style.color]="menu_text_color">
                <ion-label>{{"pages.schedule.filter_hour" | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="byTracks" class="ion-color" [style.color]="menu_text_color"
                *ngIf="allowFilterTracks">
                <ion-label>{{scheduleTrackName}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-toolbar *ngIf="viewHour == true && viewTrack == false && viewGroup == false" class="ion-color"
        [style.background]="menu_color">
        <ion-slides pager="false" [options]="slideOpts">
            <ion-slide>
                <span class="{{activeDate == 'all' ? 'date-circle-selected' : 'date-circle'}}"
                    [style.color]="menu_text_color" [style.borderColor]="menu_text_color"
                    (click)="filterByDate('all')">{{"global.texts.all" | translate}}</span>
            </ion-slide>
            <ion-slide *ngFor="let date of dates; let i = index">
                <span class="{{activeDate == date ? 'date-circle-selected' : 'date-circle'}}"
                    [style.color]="menu_text_color" [style.borderColor]="menu_text_color"
                    (click)="filterByDate(date)">{{date}}</span>
            </ion-slide>
        </ion-slides>
    </ion-toolbar>

    <ion-toolbar *ngIf="viewTrack == true && viewHour == false && viewGroup == false">
        <div *ngIf="loaderByTrack == false">
            <ion-item lines="none">
                <ion-label>{{"global.texts.filter" | translate}}</ion-label>
                <ion-select interface="action-sheet" value="all" (ionChange)="filterByTrack($event)"
                    [cancelText]='cancelTxt'>
                    <ion-select-option value="all">{{"global.texts.all" | translate}}</ion-select-option>
                    <ion-select-option *ngFor="let track of tracks; let i = index" [value]="track">
                        {{track.name[userFormatedLang]}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="wrapper" *ngIf="!loader">
        <div *ngIf="viewGroup === true">
            <div class="background">
                <ng-container *ngFor="let group of groups">
                    <ion-item *ngIf="group.qtdSessions > 0" lines="none" (click)="getSessionsGroupDividByGroup(group)">
                        <div class="session-details" [style.background]="group.bgColor">
                            <small class="name" [style.color]="group.txtColor">
                                {{group.name}}
                            </small>
                        </div>
                    </ion-item>
                </ng-container>
            </div>
        </div>


        <div class="viewHour" *ngIf="viewHour == true && viewTrack == false">
            <div class="background">
                <ion-virtual-scroll [items]="sessions" [headerFn]="dateHeader" [itemHeight]="itemHeightFn"
                    [headerHeight]="headerHeightFn" approxHeaderHeight="30px" approxItemHeight="75px">
                    <ion-item-divider class="ion-color session-divider" *virtualHeader="let header">
                        <span class="divider-date" [style.color]="title_color">{{ header }}</span>
                    </ion-item-divider>
                    <ion-item lines="none" *virtualItem="let session" (click)="openSession(session.uid)"
                        [style.background]="bg_content_color" class="clickable-component session-item">
                        <div class="session-item-container">
                            <div class="session-date">
                                <span class="time" [style.color]="text_content_color">
                                    {{session.startTime}}
                                    <span *ngIf="session.endTime"> <br>
                                        {{session.endTime}}</span>
                                </span>
                                &nbsp;&nbsp;&nbsp;
                            </div>

                            <div class="divider"></div>

                            <div class="session-details">
                                <p class="name" [style.color]="title_color">
                                    <span *ngIf="userLanguage && eventLanguage"
                                        class="session-name">{{session | getNameSession: [userLanguage, eventLanguage]}}<br /></span>
                                    <span *ngIf="session.locations.length >= 1">
                                        <!-- <br> -->
                                        <ion-label class="local">
                                            <small style="display:inline-flex; align-items: center"
                                                *ngFor="let location of session.locations" [style.color]="link_color">
                                                <ion-icon name="pin"></ion-icon>&nbsp;{{location.name}}
                                            </small>
                                        </ion-label>
                                    </span>
                                    <span *ngIf="session.tracks.length >= 1">
                                        <!-- <br> -->
                                        <small class="track-name" *ngFor="let track of session.tracks"
                                            [style.color]="track.txtColor" [style.background]="track.bgColor">
                                            {{track.name[userFormatedLang]}}
                                        </small>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </ion-item>
                </ion-virtual-scroll>

                <ion-infinite-scroll threshold="100px" (ionInfinite)="moreSessions($event)">
                    <ion-infinite-scroll-content loadingSpinner="dots">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>

        <div class="viewTrack" *ngIf="viewTrack == true && viewHour == false">
            <div class="background">
                <!-- await loading sessions list -->
                <div *ngIf="loaderByTrack">
                    <ion-item-divider>
                        <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                    </ion-item-divider>
                    <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                        <ion-avatar slot="start">
                            <ion-skeleton-text style="width: 10%"></ion-skeleton-text>
                            <ion-skeleton-text style="width: 10%"></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </h3>
                            <h3>
                                <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
                            </h3>
                            <h3>
                                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                            </h3>
                        </ion-label>
                    </ion-item>
                </div>
                <br>
                <div *ngIf="!loaderByTrack">
                    <ion-virtual-scroll [items]="sessions" [headerFn]="dateHeader">
                        <ion-item-divider class="ion-color" *virtualHeader="let header">
                            <span [style.color]="title_color">{{ header }}</span>
                        </ion-item-divider>
                        <ion-item lines="none" *virtualItem="let session" (click)="openSession(session.uid)"
                            [style.background]="bg_content_color">
                            <div class="session-date">
                                <span class="time" [style.color]="text_content_color">
                                    {{session.startTime}}
                                    <span *ngIf="session.endTime"> <br>
                                        {{session.endTime}}</span>
                                </span>
                                &nbsp;&nbsp;&nbsp;
                            </div>

                            <div class="divider"></div>

                            <div class="session-details">
                                <p class="name" [style.color]="title_color">
                                    <span
                                        *ngIf="userLanguage && eventLanguage">{{session | getNameSession: [userLanguage, eventLanguage]}}</span>
                                    <span *ngIf="session.locations.length >= 1">
                                        <br>
                                        <ion-label class="local">
                                            <small style="display:inline-flex; align-items: center"
                                                *ngFor="let location of session.locations" [style.color]="link_color">
                                                <ion-icon name="pin"></ion-icon>&nbsp;{{location.name}}
                                            </small>
                                        </ion-label>
                                    </span>
                                    <span *ngIf="session.tracks.length >= 1">
                                        <br>
                                        <small class="track-name" *ngFor="let track of session.tracks"
                                            [style.color]="track.txtColor" [style.background]="track.bgColor">
                                            {{track.name[userFormatedLang]}}
                                        </small>
                                    </span>
                                </p>
                            </div>
                        </ion-item>
                    </ion-virtual-scroll>
                </div>
            </div>
        </div>

    </div>
    <!-- await loading sessions list -->
    <div class="background" *ngIf="loader">
        <ion-item-divider>
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
        </ion-item-divider>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <ion-avatar slot="start">
                <ion-skeleton-text style="width: 10%"></ion-skeleton-text>
                <ion-skeleton-text style="width: 10%"></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <h3>
                    <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
                </h3>
                <h3>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </h3>
            </ion-label>
        </ion-item>
    </div>
</ion-content>