<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
      </ion-back-button>
      <!-- <ion-button slot="icon-only" (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button> -->
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    <ion-title>
      <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
      <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
      <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
      <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
      <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeGrid()" *ngIf="allowGrid">
        <ion-icon slot="icon-only" *ngIf="!grid" name="grid"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="grid" name="albums"></ion-icon>
      </ion-button>
      <ion-button (click)="downloadAll()" *ngIf="allowDownloadAll">
        <ion-icon slot="icon-only" name="cloud-download" *ngIf="!downloadingAll"></ion-icon>
        <ion-spinner name="crescent" *ngIf="downloadingAll"></ion-spinner>
      </ion-button>
      <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <ion-grid *ngIf="loader == false && images.length >= 1">
      <ion-row>
        <ion-col *ngFor="let image of images; let i = index" [attr.size]="grid == true ? 6 : 12"
          [attr.size]="grid == false ? 12 : 6">
          <div>
            <img src="{{image.url}}" (click)="openImage(image)">
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="align-loader" *ngIf="loader == true">
      <div class="loader-default"></div>
    </div>
  </div>
</ion-content>