.name {
    font-weight: bold;
}

.job-info {
    font-size: .7em;
    color: rgba(0, 0, 0, 0.5);
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

ion-item {
    padding-bottom: 4px;
}

ion-avatar {
    margin-right: 20px;
}

.group-details {
    padding-left: 6px;
    padding-right: 6px;
    // margin-left: 10px;
    margin: 0;
    border-radius: 20px;
}