<ion-header>
    <ion-toolbar color="blue-default">
        <ion-buttons slot="start">
            <ion-button ion-button clear (click)="logOut()">
                <ion-icon class="icon-size-back" ios="ios-arrow-back" md="ios-arrow-back">
                </ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="!searchOpen">
            <span>{{"pages.my_events.title" | translate}}</span>
        </ion-title>
        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.cancel" | translate}}' [(ngModel)]="terms"
            (ionCancel)="searchOpen=false" animated>
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button ion-button icon-only *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ng-container *ngIf="loader == false">
            <ion-card class="full-card white-color" *ngFor="let event of events | searchFilter: terms; let i = index"
                (click)="openEvent(event)">
                <ion-card-header class="full-card">
                    <span *ngIf="event.banner.url == ''"><br /></span>
                    <ion-img class="banner" [src]="event.banner.url"
                        *ngIf="event.banner.url !== '' && event.banner.url !== undefined && event.banner.url !== null">
                    </ion-img>
                </ion-card-header>

                <ion-card-content class="card-content">
                    <strong>{{event.title}}</strong>
                    <br />
                    <p class="float-left name-lenght">{{event.placeName}}</p>
                    <span class="float-right">{{event.startDate}}</span>
                    <br />
                </ion-card-content>
            </ion-card>
        </ng-container>
        <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>
    </div>
</ion-content>