<div class="btn-group dropup">
  <button type="button" class="btn btn-custom-no-bg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <span *ngIf="language == 'de_DE'">{{"comp.event_info.german" | translate}}</span>
    <span *ngIf="language == 'es_ES'">{{"comp.event_info.spanish" | translate}}</span>
    <span *ngIf="language == 'en_US'">{{"comp.event_info.english" | translate}}</span>
    <span *ngIf="language == 'fr_FR'">{{"comp.event_info.french" | translate}}</span>
    <span *ngIf="language == 'pt_BR'">{{"comp.event_info.portuguese" | translate}}</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="changeLanguage('de_DE')">{{"comp.event_info.german" | translate}}</a>
    <a class="dropdown-item" (click)="changeLanguage('es_ES')">{{"comp.event_info.spanish" | translate}}</a>
    <a class="dropdown-item" (click)="changeLanguage('en_US')">{{"comp.event_info.english" | translate}}</a>
    <a class="dropdown-item" (click)="changeLanguage('fr_FR')">{{"comp.event_info.french" | translate}}</a>
    <a class="dropdown-item" (click)="changeLanguage('pt_BR')">{{"comp.event_info.portuguese" | translate}}</a>
  </div>
</div>