<ion-content>
  <div class="background general">
    <div class="padding-top-100">
      <ion-img class="logo" src="../../assets/images/login-logo.png"></ion-img>
    </div>

    <div class="padding-top-150">
      <ion-button class="btn-default" color="medium" shape="round" routerLink="/login">{{"pages.select_login.have_account"|
        translate}}</ion-button>
      <div class="divider-default"></div>
      <ion-button class="btn-default" color="medium" shape="round" routerLink="/public">{{"pages.select_login.not_have_account"|
        translate}}</ion-button>
    </div>

    <div class="footer">
      <!-- <p class="footer-txt">{{"global.texts.license" | translate}}</p> -->
    </div>
  </div>

</ion-content>