.general {
    overflow-x: hidden;
    overflow-y: hidden;
}
.logo {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer-txt {
    font-size: .7em;
}