.card-header-collapse {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .08)
}

.btn-collapse {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.6);
}

.align-groups {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.group-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin: 2px;
}

li {
    list-style: none;
}