<body>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formValidation">

                        <!-- TITLES (HEADINGS) -->
                        <div class="accordion" id="accordionHeadings">
                            <div class="card">
                                <div class="card-header card-header-collapse" id="headingOfHeadings">
                                    <h2 class="mb-0">
                                        <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                            data-target="#collapseOfHeadings" aria-expanded="true"
                                            aria-controls="collapseOfHeadings">
                                            {{"global.title_" | translate}}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOfHeadings" class="collapse show" aria-labelledby="headingOfHeadings"
                                    data-parent="#accordionHeadings">
                                    <div class="card-body" *ngIf="event">
                                        <!-- Portuguese title -->
                                        <div class="form-group" *ngIf="event.description.pt_BR !== null">
                                            <label>{{"global.title_" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.portuguese" | translate}}</label>
                                            <input class="form-control" placeholder='{{"global.title_plc" | translate}}'
                                                [formControl]="formValidation.controls['title_pt_BR']" />
                                        </div>

                                        <!-- English title -->
                                        <div class="form-group" *ngIf="event.description.en_US !== null">
                                            <label>{{"global.title_" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.english" | translate}}</label>
                                            <input class="form-control" placeholder='{{"global.title_plc" | translate}}'
                                                [formControl]="formValidation.controls['title_en_US']" />
                                        </div>

                                        <!-- Spanish title -->
                                        <div class="form-group" *ngIf="event.description.es_ES !== null">
                                            <label>{{"global.title_" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.spanish" | translate}}</label>
                                            <input class="form-control" placeholder='{{"global.title_plc" | translate}}'
                                                [formControl]="formValidation.controls['title_es_ES']" />
                                        </div>

                                        <!-- French title -->
                                        <div class="form-group" *ngIf="event.description.fr_FR !== null">
                                            <label>{{"global.title_" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.french" | translate}}</label>
                                            <input class="form-control" placeholder='{{"global.title_plc" | translate}}'
                                                [formControl]="formValidation.controls['title_fr_FR']" />
                                        </div>

                                        <!-- German title -->
                                        <div class="form-group" *ngIf="event.description.de_DE !== null">
                                            <label>{{"global.title_" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.german" | translate}}</label>
                                            <input class="form-control" placeholder='{{"global.title_plc" | translate}}'
                                                [formControl]="formValidation.controls['title_de_DE']" />
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="requiredTitleLanguage">
                                            {{"comp.notifications.principal_title_language_required" | translate}}
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="requiredTitle">
                                            {{"comp.notifications.one_title_required" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- MESSAGES (CONTENTS) -->
                        <div class="accordion" id="accordionContents">
                            <div class="card">
                                <div class="card-header card-header-collapse" id="headingOfContents">
                                    <h2 class="mb-0">
                                        <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                            data-target="#collapseOfContents" aria-expanded="true"
                                            aria-controls="collapseOfContents">
                                            {{"global.message" | translate}}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOfContents" class="collapse show" aria-labelledby="headingOfContents"
                                    data-parent="#accordionContents">
                                    <div class="card-body" *ngIf="event">
                                        <!-- Portuguese message -->
                                        <div class="form-group" *ngIf="event.description.pt_BR !== null">
                                            <label>{{"global.message" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.portuguese" | translate}}</label>
                                            <textarea class="form-control" row="3"
                                                placeholder='{{"global.message_plc" | translate}}'
                                                [formControl]="formValidation.controls['msg_pt_BR']"></textarea>
                                        </div>

                                        <!-- English message -->
                                        <div class="form-group" *ngIf="event.description.en_US !== null">
                                            <label>{{"global.message" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.english" | translate}}</label>
                                            <textarea class="form-control" row="3"
                                                placeholder='{{"global.message_plc" | translate}}'
                                                [formControl]="formValidation.controls['msg_en_US']"></textarea>
                                        </div>

                                        <!-- Spanish message -->
                                        <div class="form-group" *ngIf="event.description.es_ES !== null">
                                            <label>{{"global.message" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.spanish" | translate}}</label>
                                            <textarea class="form-control" row="3"
                                                placeholder='{{"global.message_plc" | translate}}'
                                                [formControl]="formValidation.controls['msg_es_ES']"></textarea>
                                        </div>

                                        <!-- French message -->
                                        <div class="form-group" *ngIf="event.description.fr_FR !== null">
                                            <label>{{"global.message" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.french" | translate}}</label>
                                            <textarea class="form-control" row="3"
                                                placeholder='{{"global.message_plc" | translate}}'
                                                [formControl]="formValidation.controls['msg_fr_FR']"></textarea>
                                        </div>

                                        <!-- German message -->
                                        <div class="form-group" *ngIf="event.description.de_DE !== null">
                                            <label>{{"global.message" | translate}} {{"global.in" | translate}}
                                                {{"comp.event_info.german" | translate}}</label>
                                            <textarea class="form-control" row="3"
                                                placeholder='{{"global.message_plc" | translate}}'
                                                [formControl]="formValidation.controls['msg_de_DE']"></textarea>
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="requiredMessageLanguage">
                                            {{"comp.notifications.principal_msg_language_required" | translate}}
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="requiredMessage">
                                            {{"comp.notifications.one_title_required" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- HIGHLIGHT PICTURE -->
                        <div class="form-group">
                            <label>{{"comp.notifications.highlight_pic" | translate}}
                                <small>({{"comp.notifications.highlight_pic_size" | translate}})</small></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile"
                                    accept="image/jpg, image/jpeg, image/png, image/gif"
                                    (change)="uploadPicture($event)">
                                <label class="custom-file-label"
                                    for="customFile">{{"global.select_picture" | translate}}</label>
                            </div>
                        </div>

                        <!-- URL TO OPEN ON CLICK IN NOTIFICATION -->
                        <div class="form-group">
                            <label>{{"global.message" | translate}} <small>
                                    ({{"comp.notifications.open_url_onclick" | translate}})</small></label>
                            <input class="form-control" type="url" placeholder='{{"global.url_plc" | translate}}'
                                [formControl]="formValidation.controls['url']" />
                        </div>

                        <!-- CHOICE SEND NOW OR SEND AFTER (SCHEDULE) -->
                        <div class="form-group">
                            <label>{{"comp.notifications.when_send" | translate}}</label>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="whenSend" name="whenSend" class="custom-control-input"
                                    value="now" (change)="whenSendRadios($event)">
                                <label class="custom-control-label"
                                    for="whenSend">{{"comp.notifications.send_now" | translate}}</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sendScheduled" name="whenSend" class="custom-control-input"
                                    value="scheduled" (change)="whenSendRadios($event)">
                                <label class="custom-control-label"
                                    for="sendScheduled">{{"comp.notifications.send_scheduled" | translate}}</label>
                            </div>

                            <div class="alert alert-danger" role="alert" *ngIf="requiredWhenSend">
                                {{"comp.notifications.send_to_required" | translate}}
                            </div>
                        </div>
                        <div class="schedule-dates" *ngIf="scheduledInputs == true">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label>{{"global.date" | translate}}</label>
                                        <input class="form-control" type="date"
                                            [formControl]="formValidation.controls['date']" />
                                        <div class="alert alert-danger" role="alert" *ngIf="requiredDate">
                                            {{"comp.notifications.date_required" | translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label>{{"global.hour" | translate}}</label>
                                        <input class="form-control" type="time"
                                            [formControl]="formValidation.controls['time']" />
                                        <div class="alert alert-danger" role="alert" *ngIf="requiredTime">
                                            {{"comp.notifications.time_required" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="alert alert-warning" role="alert" *ngIf="event">
                                        {{"comp.notifications.used_timezone_is" | translate}} {{event.timezone}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CHOICE SEND ALL OR SEND TO GROUP(S) -->
                        <div class="form-group">
                            <label>{{"comp.notifications.send_to" | translate}}</label>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sendTo" name="sendTo" class="custom-control-input" value="all"
                                    (change)="sendToRadios($event)">
                                <label class="custom-control-label"
                                    for="sendTo">{{"comp.notifications.send_all" | translate}}</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sendGroup" name="sendTo" class="custom-control-input"
                                    value="group" (change)="sendToRadios($event)">
                                <label class="custom-control-label"
                                    for="sendGroup">{{"comp.notifications.send_group" | translate}}</label>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="requiredSendTo">
                                {{"comp.notifications.send_to_required" | translate}}
                            </div>
                        </div>

                        <div class="send-to-div" *ngIf="groupsInput == true">
                            <div class="form-group">
                                <label>{{"global.groups" | translate}}</label>
                                <input class="form-control" type="text" placeholder='{{"global.groups" | translate}}'
                                    [(ngModel)]=queryGroup [ngModelOptions]="{standalone: true}"
                                    (keyup)=filterGroups() />
                                <div class="alert alert-danger" role="alert" *ngIf="requiredGroups">
                                    {{"comp.notifications.group_required" | translate}}
                                </div>
                                <div class="filter-group" *ngIf="filteredListGroups.length > 0">
                                    <ul>
                                        <li *ngFor="let group of filteredListGroups">
                                            <div class="group-name" [style.background]="group.bgColor"
                                                [style.color]="group.txtColor">
                                                <a (click)="selectGroup(group)">
                                                    {{group.name}}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <br>

                                <div class="form-group" *ngIf="selectedGroup.length >= 1">
                                    <div class="align-groups">
                                        <span *ngFor="let theGroup of selectedGroup" class="group-name"
                                            [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                                            {{theGroup.name}}
                                            <a (click)="removeGroup(theGroup)">
                                                <i class="material-icons closebtn">close</i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showTotalUserReceive">
                            <div class="alert alert-info" role="alert">
                                {{"comp.notifications.notification_send_to_approximated" | translate}}
                                <strong>{{numberAttendeesReceive}}
                                    <span
                                        *ngIf="numberAttendeesReceive <= 1">{{"comp.notifications.people" | translate}}</span>
                                    <span
                                        *ngIf="numberAttendeesReceive >= 2">{{"comp.notifications.peoples" | translate}}</span>
                                </strong>
                            </div>
                        </div>
                        <button class="btn btn-custom float-right" (click)="checkNotification(formValidation.value)"
                            *ngIf="loader == false">{{"global.btn_create" | translate}}</button>
                        <div class="align-loader" *ngIf="loader == true">
                            <div class="loader-default"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal success -->
    <swal #successSwal title='{{"global.modals.success" | translate}}'
        text='{{"global.modals.success_message" | translate}}' icon="success"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F"
        [showCancelButton]="false" (confirm)="redirectToList()">
    </swal>

    <!-- modal error -->
    <swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
        icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- modal title error -->
    <swal #errorTitleSwal title='{{"global.modals.error" | translate}}'
        text='{{"global.modals.error_required_fill_title" | translate}}' icon="error"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>
    <!-- modal msg error -->
    <swal #errorMsgSwal title='{{"global.modals.error" | translate}}'
        text='{{"global.modals.error_required_fill_msg" | translate}}' icon="error"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>
</body>