.disabled-checkin {
    opacity: 0.2;
    text-decoration: line-through;
}

.align-groups {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.group-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin: 2px;
}

li {
    list-style: none;
}

.invisible-comp {
    display: none;
}

.checkin-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.drag-icon {
    cursor: grab;
    color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag-icon:active {
    cursor: grabbing;
}

.name {
    text-transform: none !important;
}