<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>

                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#newCheckin"
                            *ngIf="statusView == false">{{"global.btn_new" | translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" (click)="printAllQrCodes()"
                            *ngIf="statusView == false">{{"global.download_all_qrcodes" | translate}}</button>

                        <button class="btn btn-custom btn-margin-right-default" (click)="qrCodeStart()"
                            data-toggle="modal" data-target="#qrCodeModal"
                            *ngIf="statusView == true">{{"global.btn_qrcode" | translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" (click)="exportCheckin()"
                            data-toggle="modal" data-target="#exportLoading"
                            *ngIf="statusView == true">{{"global.btn_export" | translate}}</button>
                        <button class="btn btn-custom-settings btn-margin-right-default" (click)="getCheckinConfigs()"
                            data-toggle="modal" data-target="#realtimeCheckinSettings" *ngIf="statusView == true"><i
                                class="material-icons icon-settings">settings</i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="statusView == false">
                <div class="col-sm-12 col-md-6">
                    <div class="select-delete-options">
                        <div class="form-check float-left">
                            <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                id="selectAll" (change)="selectedAll()">
                            <label class="form-check-label" for="selectAll">
                                {{"global.select_all" | translate}}
                            </label>
                        </div>
                        &nbsp;&nbsp;
                        <button class="btn btn-custom-no-bg btn-outline-delete" (click)="removeSelected()">
                            {{"global.delete_selecteds" | translate}}
                        </button>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="pipe-filter float-right">
                        <div class="input-group md-3">
                            <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                                placeholder='{{"global.search_plc" | translate}}'>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="material-icons search-icon">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="onReorder-btn-save text-center" *ngIf="onReorderShow == true">
                <div class="alert alert-light" *ngIf="loaderGeneral == false">
                    {{"global.remind_save_changes" | translate}}
                    <br>
                    <button class="btn btn-custom btn-margin-top"
                        (click)="saveReorder()">{{"global.btn_save" | translate}}</button>
                </div>

                <div class="align-loader" *ngIf="loaderGeneral == true">
                    <div class="loader-default"></div>
                </div>
                <br>
            </div>
            <div class="card" *ngIf="loader == false && statusView == false && checkins.length >= 1">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.name" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody [dragula]='"bag-checkin-list"' [dragulaModel]='checkins'>
                                <tr
                                    *ngFor="let checkin of checkins | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <div class="invisible-comp">
                                        <ngx-qrcode id="qrcodesAll{{i}}" qrc-element-type="canvas"
                                            [qrc-value]="checkin.qrcodeId" qrc-class="qrallcodes"
                                            qrc-errorCorrectionLevel="L">
                                        </ngx-qrcode>
                                    </div>
                                    <td>
                                        <div class="form-check">
                                            <input [(ngModel)]="checkinSelected[checkin.uid]" class="form-check-input"
                                                type="checkbox" id="selectImages">
                                        </div>
                                        <div class="checkin-name">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="material-icons drag-icon">drag_indicator</i>
                                            <span
                                                class="name {{checkin.visibility == true ? '' : 'disabled-checkin'}}">{{checkin.name}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <a><i class="material-icons default-icon" (click)="getEditCheckin(checkin)"
                                                data-toggle="modal" data-target="#editCheckin">create</i></a>
                                        <a (click)="changeVisibility(checkin.uid, true)"
                                            *ngIf="checkin.visibility == false">
                                            <i class="material-icons default-icon">visibility</i>
                                        </a>
                                        <a (click)="changeVisibility(checkin.uid, false)"
                                            *ngIf="checkin.visibility == true">
                                            <i class="material-icons default-icon">visibility_off</i>
                                        </a>
                                        <a routerLink="status/{{checkin.uid}}"
                                            (click)="statusView=true;startCheckinRef(checkin.uid, checkin.name)"><i
                                                class="material-icons default-icon">account_circle</i></a>
                                        <a target="_blank" routerLink="/checkin-time/{{moduleId}}/{{checkin.uid}}"><i
                                                class="material-icons default-icon">exit_to_app</i></a>
                                        <a (click)="getDeleteCheckin(checkin.uid)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div *ngIf="statusView == true">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="statusView == false && loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align" *ngIf="statusView == false">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>


<!-- Create Modal -->
<div class="modal fade" id="newCheckin" data-backdrop="static" role="dialog" aria-labelledby="newCheckinLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCheckinLabel"><strong>{{"comp.checkin.new_checkin" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">×</span>
                    </button>
                </h5>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="checkinName"
                        placeholder='{{"global.placeholder_name" | translate}}' />
                    <div class="alert alert-danger" role="alert" *ngIf="requiredName">
                        {{"global.invalid_name" | translate}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectModule">{{"global.type_vision" | translate}}</label>
                    <select name="selectTypeVision" id="selectTypeVision" class="custom-select"
                        [(ngModel)]="checkinTypeVision">
                        <option *ngIf="checkinTypeVision === vision_global" selected [ngValue]="vision_global">
                            {{"global.show_for_all" | translate}}</option>
                        <option *ngIf="checkinTypeVision === vision_group_vision" selected
                            [ngValue]="vision_group_vision">{{"global.show_by_groups" | translate}}</option>

                        <option *ngIf="checkinTypeVision !== vision_global" [ngValue]="vision_global">
                            {{"global.show_for_all" | translate}}</option>
                        <option *ngIf="checkinTypeVision !== vision_group_vision" [ngValue]="vision_group_vision">
                            {{"global.show_by_groups" | translate}}</option>
                    </select>
                </div>

                <div *ngIf="checkinTypeVision === vision_group_vision" class="form-group">
                    <label>{{"global.groups" | translate}}</label>
                    <input type="text" class="form-control" [(ngModel)]=queryGroupsCreate (keyup)=filterGroupsCreate()
                        placeholder='{{"global.groups" | translate}}' />
                </div>

                <div *ngIf="checkinTypeVision === vision_group_vision" class="form-group">
                    <div class="filter-group" *ngIf="filteredListGroupsCreate.length > 0">
                        <ul>
                            <li *ngFor="let group of filteredListGroupsCreate">
                                <div class="group-name" [style.background]="group.bgColor"
                                    [style.color]="group.txtColor">
                                    <a (click)="selectGroupCreate(group)">
                                        {{group.name}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <br><br>
                    </div>


                    <div class="filter-group" *ngIf="selectedGroupsCreate.length > 0">
                        <span *ngFor="let theGroup of selectedGroupsCreate" class="group-name"
                            [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                            {{theGroup.name}}
                            <a (click)="removeGroupCreate(theGroup)">
                                <i class="material-icons closebtn">close</i>
                            </a>
                        </span>
                        <br>
                    </div>
                </div>

                <button class="btn btn-custom float-right" (click)="createCheckin()"
                    *ngIf="loaderCreate == false">{{"global.btn_add" | translate}}</button>

                <div class="align-loader" *ngIf="loaderCreate == true">
                    <div class="loader-default"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editCheckin" data-backdrop="static" role="dialog" aria-labelledby="editCheckinLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCheckinLabel">
                    <strong>{{"comp.checkin.edit_checkin" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">×</span>
                    </button>
                </h5>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" type="text" [(ngModel)]="checkinEditName"
                        placeholder='{{"global.placeholder_name" | translate}}' />
                    <div class="alert alert-danger" role="alert" *ngIf="requiredName">
                        {{"global.invalid_name" | translate}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectModule">{{"global.type_vision" | translate}}</label>
                    <select name="checkinEditTypeVision" id="selectEditTypeVision" class="custom-select"
                        [(ngModel)]="checkinEditTypeVision">
                        <option *ngIf="checkinEditTypeVision === vision_global" selected [ngValue]="vision_global">
                            {{"global.show_for_all" | translate}}</option>
                        <option *ngIf="checkinEditTypeVision === vision_group_vision" selected
                            [ngValue]="vision_group_vision">{{"global.show_by_groups" | translate}}</option>

                        <option *ngIf="checkinEditTypeVision !== vision_global" [ngValue]="vision_global">
                            {{"global.show_for_all" | translate}}</option>
                        <option *ngIf="checkinEditTypeVision !== vision_group_vision" [ngValue]="vision_group_vision">
                            {{"global.show_by_groups" | translate}}</option>
                    </select>
                </div>

                <div *ngIf="checkinEditTypeVision === vision_group_vision" class="form-group">
                    <label>{{"global.groups" | translate}}</label>
                    <input type="text" class="form-control" [(ngModel)]=queryGroupsEdit (keyup)=filterGroupsEdit()
                        placeholder='{{"global.groups" | translate}}' />
                </div>

                <div *ngIf="checkinEditTypeVision === vision_group_vision" class="form-group">
                    <div class="filter-group" *ngIf="filteredListGroupsEdit.length > 0">
                        <ul>
                            <li *ngFor="let group of filteredListGroupsEdit">
                                <div class="group-name" [style.background]="group.bgColor"
                                    [style.color]="group.txtColor">
                                    <a (click)="selectGroupEdit(group)">
                                        {{group.name}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <br><br>
                    </div>


                    <div class="filter-group" *ngIf="selectedGroupsEdit.length > 0">
                        <span *ngFor="let theGroup of selectedGroupsEdit" class="group-name"
                            [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                            {{theGroup.name}}
                            <a (click)="removeGroupEdit(theGroup)">
                                <i class="material-icons closebtn">close</i>
                            </a>
                        </span>
                        <br>
                    </div>
                </div>

                <button class="btn btn-custom float-right" (click)="editCheckin()"
                    *ngIf="loaderEdit == false">{{"global.btn_save" | translate}}</button>

                <div class="align-loader" *ngIf="loaderEdit == true">
                    <div class="loader-default"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteCheckin()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    text='Erro ao criar usuário' icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}'
    confirmButtonColor="#6C757D" [showCancelButton]="false">
</swal>




<!-- Modal Export -->
<div class="modal fade" id="exportLoading" tabindex="-1" role="dialog" aria-labelledby="exportLoadingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal QrCode -->
<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="qrCodeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <strong>{{"comp.checkin.txt_qrcode" | translate}}</strong>
                <br>
                <ngx-qrcode qrc-element-type="canvas" [qrc-value]="qrCodeValue" qrc-class="aclass"
                    qrc-errorCorrectionLevel="L">
                </ngx-qrcode>
                <button class="btn btn-custom" (click)="printQr()">{{"global.print" | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Print All -->
<div class="modal fade" id="printAll" tabindex="-1" role="dialog" aria-labelledby="printAllLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Realtime Settings -->
<div class="modal fade" id="realtimeCheckinSettings" tabindex="-1" role="dialog"
    aria-labelledby="realtimeCheckinSettingsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="realtimeCheckinSettingsLabel">
                    <strong>{{"global.modal_configs" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </h5>
            </div>

            <div class="align-loader" *ngIf="generalSettingsLoader == true && checkinConfigs == null">
                <div class="loader-default"></div>
            </div>
            <div class="modal-body" *ngIf="generalSettingsLoader == false && checkinConfigs !== null">
                <div class="form-group">
                    <label>{{"global.title_" | translate}}</label>
                    <input class="form-control" type="text" placeholder='{{"global.title_plc" | translate}}'
                        [(ngModel)]="checkinConfigs.title">
                    <div class="form-check">
                        <label class="form-label">
                            {{"comp.checkin.display_username_after" | translate}}
                        </label>
                        <br>
                        <ui-switch size="small" checkedLabel='{{"global.enabled" | translate}}'
                            [checked]="checkinConfigs.allowUsername" (change)="changeConfigAllowUsername($event)">
                        </ui-switch>
                    </div>
                </div>
                <div class="form-group">
                    <label> {{"global.text" | translate}}
                    </label>
                    <ckeditor [(ngModel)]="checkinConfigs.text">
                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                    </ckeditor>
                </div>

                <div class="form-group">
                    <br> {{"comp.checkin.allow_footer" | translate}}
                    <br>
                    <ui-switch size="small" checkedLabel='{{"global.enabled" | translate}}'
                        [checked]="checkinConfigs.allowFooter" (change)="changeConfigAllowFooter($event)">
                    </ui-switch>
                </div>

                <div class="row" *ngIf="checkinConfigs.allowFooter">
                    <br>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>{{"comp.checkin.total_attendees_txt_color" | translate}}</label>
                            <input type="text" class="form-control" [cpOutputFormat]="hex"
                                [(colorPicker)]="totalAttendeeTxtColor" [value]="totalAttendeeTxtColor">
                        </div>
                        <div class="form-group">
                            <label>{{"comp.checkin.total_attendees_present_txt_color" | translate}}</label>
                            <input type="text" class="form-control" [cpOutputFormat]="hex"
                                [(colorPicker)]="totalPresentTxtColor" [value]="totalPresentTxtColor">
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">

                        <div class="form-group">
                            <label>{{"comp.checkin.total_attendees_bg_color" | translate}}</label>
                            <input type="text" class="form-control" [cpOutputFormat]="hex"
                                [(colorPicker)]="totalAttendeeBgColor" [value]="totalAttendeeBgColor">
                        </div>
                        <div class="form-group">
                            <label>{{"comp.checkin.total_attendees_present_bg_color" | translate}}</label>
                            <input type="text" class="form-control" [cpOutputFormat]="hex"
                                [(colorPicker)]="totalPresentBgColor" [value]="totalPresentBgColor">
                        </div>
                    </div>
                </div>

                <button class="btn btn-custom float-right"
                    (click)="updateCheckinConfigs()">{{"global.btn_save" | translate}}</button>
            </div>
        </div>
    </div>
</div>