<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#newQrCode">{{"global.btn_new" | translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#exportLoadingLocation" (click)="printAllQRCodes()">{{"global.print"
                  |
                  translate}}</button>
                        <button class="btn btn-custom btn-margin-right-default" (click)="exportQRCodeAccess()"
                            data-toggle="modal" data-target="#printAllQrCodes">{{"global.btn_export"
                      |
                      translate}}</button>
                        <button class="btn btn-custom-settings" data-toggle="modal" data-target="#settingsModal"><i
                                class="material-icons icon-settings">settings</i></button>
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label>
                                &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete"
                                (click)="deleteAll()">{{"global.delete_selecteds" | translate}}</button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" *ngIf="!loader">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"global.title_" | translate}}</th>
                                    <th>{{"global.points" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let code of codes | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <div class="invisible-comp">
                                        <ngx-qrcode id="qrcodesAll{{i}}" qrc-element-type="canvas"
                                            [qrc-value]="code.uid" qrc-class="qrallcodes" qrc-errorCorrectionLevel="L">
                                        </ngx-qrcode>
                                    </div>
                                    <td class="select-td">
                                        <div class="form-check">
                                            <input [(ngModel)]="codesSelected[code.uid]" class="form-check-input"
                                                type="checkbox" id="selectedCodes">
                                        </div>
                                    </td>
                                    <td>
                                        <span class="name">{{code.title}}</span>
                                    </td>
                                    <td>
                                        <span class="name">{{code.points}}</span>
                                    </td>
                                    <td>
                                        <a><i class="material-icons default-icon" (click)="getEditQR(code)"
                                                data-toggle="modal" data-target="#editQrCode">create</i></a>
                                        <a><i class="material-icons default-icon" (click)="printQrCode(code)"
                                                data-toggle="modal">print</i></a>
                                        <a (click)="getDelete(code)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="loader">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>

<!-- Create Modal -->
<div class="modal fade" id="newQrCode" data-backdrop="static" role="dialog" aria-labelledby="newQrCodeLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newQrCodeLabel">
                    <strong>{{"comp.gamification.new_qrcode" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValidation">
                    <div class="form-group">
                        <label>{{"global.title_" | translate}}</label>
                        <input class="form-control" type="text" [formControl]="formValidation.controls['title']"
                            placeholder='{{"global.title_plc" | translate}}' />
                    </div>
                    <div class="form-group">
                        <label>{{"global.points" | translate}}</label>
                        <input class="form-control" type="number" [formControl]="formValidation.controls['points']"
                            placeholder='1' />
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="fillAllFieldsError">
                            {{"comp.gamification.all_fields_required" | translate}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" *ngIf="!loaderModal"
                            (click)="createQRCode(formValidation.value)">{{"global.btn_new" | translate}}</button>
                        <div class="align-loader" *ngIf="loaderModal">
                            <div class="loader-default"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editQrCode" data-backdrop="static" role="dialog" aria-labelledby="editQrCodeLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editQrCodeLabel">
                    <strong>{{"comp.gamification.edit_qrcode" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="clearForm()">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValidationEdit">
                    <div class="form-group">
                        <label>{{"global.title_" | translate}}</label>
                        <input class="form-control" type="text" [formControl]="formValidationEdit.controls['title']"
                            placeholder='{{"global.title_plc" | translate}}' />
                    </div>
                    <div class="form-group">
                        <label>{{"global.points" | translate}}</label>
                        <input class="form-control" type="number" [formControl]="formValidationEdit.controls['points']"
                            placeholder='1' />
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="fillAllFieldsError">
                            {{"comp.gamification.all_fields_required" | translate}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" *ngIf="!loaderModal"
                            (click)="editQR(formValidationEdit.value)">{{"global.btn_new" | translate}}</button>
                        <div class="align-loader" *ngIf="loaderModal">
                            <div class="loader-default"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export QRCodes -->
<div class="modal fade" id="printAllQrCodes" tabindex="-1" role="dialog" aria-labelledby="printAllQrCodesLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Settings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendEmailUserLabel">
                    <strong>{{"global.settings" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValidationSettings">
                    <div class="form-group">
                        <label>{{"comp.gamification.game_title" | translate}}</label>
                        <input class="form-control" type="text"
                            [formControl]="formValidationSettings.controls['gamingTitle']"
                            placeholder='{{"comp.gamification.game_title" | translate}}' />
                    </div>
                    <div class="form-group">
                        <label>{{"comp.gamification.complement_text" | translate}}</label>
                        <input class="form-control" type="text"
                            [formControl]="formValidationSettings.controls['gamingText']"
                            placeholder='{{"comp.gamification.complement_text" | translate}}' />
                    </div>
                    <div class="form-group">
                        <label>{{"comp.gamification.button_text" | translate}}</label>
                        <input class="form-control" type="text"
                            [formControl]="formValidationSettings.controls['gamingBtn']"
                            placeholder='{{"comp.gamification.button_text" | translate}}' />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" (click)="updateModuleTexts(formValidationSettings.value)"
                            *ngIf="!loaderModal">{{"global.btn_save" | translate}}</button>
                        <div class="align-loader" *ngIf="loaderModal">
                            <div class="loader-default"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteQRCode()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>


<div class="invisible-comp" *ngFor="let code of codes; let i = index">
    <ngx-qrcode id="qrcodesAll{{i}}" qrc-element-type="canvas" [qrc-value]="code.uid" qrc-class="qrallcodes"
        qrc-errorCorrectionLevel="L">
    </ngx-qrcode>
</div>