<!-- attendees -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="back-div">
                <a class="back-link" routerLink="/dash"><i class="material-icons">arrow_back</i> &nbsp; {{"global.btn_back"
          |
          translate}}</a>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"comp.containers.title" | translate}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default"
                            routerLink="/dash/create-container/{{userId}}">{{"global.btn_new"
              |
              translate}}</button>
                    </div>
                </div>
            </div>
            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>

                    <div class="col-sm-12 col-md-3">
                        <!-- <div class="form-group">
              <select [(ngModel)]="typeOrder" class="custom-select" id="select-left" (change)="changeOrder()">
                <option value="asc">{{"global.a_z" | translate}}</option>
                <option value="desc">{{"global.z_a" | translate}}</option>
                <option value="recent">{{"global.latest" | translate}}</option>
                <option value="oldest">{{"global.oldest" | translate}}</option>
              </select>
            </div> -->
                    </div>

                    <div class="col-sm-12 col-md-3">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body--" *ngIf="loader == false">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>{{"global.title_" | translate}}</th>
                                    <!-- <th class="text-center">{{"comp.adm_resume.client" | translate}}</th> -->
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let container of containers | filter: term | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <ng-container *ngIf="container.uid !== 'defaultContainer'">
                                        <td> <span class="name">{{container?.appName}}</span> </td>
                                        <!-- <td class="text-center"> <span class="product">{{container?.clientName}}</span> </td> -->
                                        <td>
                                            <a routerLink="/dash/edit-container/{{container.uid}}"><i
                                                    class="material-icons default-icon">create</i></a>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>

                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>