.local-img {
    width: 100%;
    max-height: 230px!important;
    object-fit: cover;
}

.light-color {
    background: #FFFFFF;
}

.local-title {
    font-weight: bold;
    font-size: 1.2em;
}

.local-description {
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}