<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
      </ion-back-button>
      <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
      <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    <ion-title>
      <p>{{"global.texts.locations" | translate}}</p>
    </ion-title>
    <ion-buttons slot="end" *ngIf="allowButtonsHeader">
      <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
      <ion-button [disabled]="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div *ngIf="location">
      <img class="local-img" src="{{location.image}}"
        *ngIf="location.image !== '' && location.image !== null && location.image !== undefined"
        (click)="openImage(location.image)">

      <div class="content">
        <br>
        <ion-card class="light-color ion-color" [style.background]="bg_content_color">
          <ion-card-header>
            <ion-card-subtitle class="local-title" [style.color]="title_color">{{location.name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content
            *ngIf="location.description !== null && location.description !== undefined && location.description !== ''">
            <span class="local-description" [style.color]="text_content_color">
              {{location.description}}
            </span>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>