.notification-title {
    font-weight: bold;
    font-size: .9em;
}

.notification-msg {
    font-weight: 300;
    font-size: .72em;
}

.notification-title-detail {
    font-weight: bold;
    font-size: 1.2em;
}

.notification-msg-detail {
    font-weight: 400;
    font-size: 1em;
}

.highlight-pic {
    width: 100%;
    height: 100%;
    object-fit: fill;
}