<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="close()" *ngIf="viewAllNotifications == true">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" (click)="backAllNotifications()" *ngIf="viewNotificationDetail == true">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span>{{"pages.notifications.default_title" | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div *ngIf="viewAllNotifications == true; else detailNotification">
      <ion-virtual-scroll [items]="notifications" [headerFn]="notificationHeader">
        <ion-item-divider *virtualHeader="let header">
          {{ header }}
        </ion-item-divider>
        <ion-item *virtualItem="let notification" (click)="notificationOpenDetail(notification)">
          <label>
            <span class="notification-title" [style.color]="title_color">{{notification.principal_title}}</span>
            <!-- <span class="notification-title" [style.color]="title_color"
              *ngIf="languageUser == 'en_US' && notification.headings.en !== ''">{{notification.headings.en}}</span>
            <span class="notification-title" [style.color]="title_color"
              *ngIf="languageUser == 'es_ES' && notification.headings.es !== ''">{{notification.headings.es}}</span>
            <span class="notification-title" [style.color]="title_color"
              *ngIf="languageUser == 'fr_FR' && notification.headings.fr !== ''">{{notification.headings.fr}}</span>
            <span class="notification-title" [style.color]="title_color"
              *ngIf="languageUser == 'de_DE' && notification.headings.de !== ''">{{notification.headings.de}}</span> -->
            <!-- <br>
            <span class="notification-msg" [style.color]="text_content_color">{{notification.principal_msg}}</span> -->
            <!-- <span class="notification-msg" [style.color]="text_content_color"
              *ngIf="languageUser == 'en_US' && notification.contents.en !== ''">{{notification.contents.en}}</span>
            <span class="notification-msg" [style.color]="text_content_color"
              *ngIf="languageUser == 'es_ES' && notification.contents.es !== ''">{{notification.contents.es}}</span>
            <span class="notification-msg" [style.color]="text_content_color"
              *ngIf="languageUser == 'fr_FR' && notification.contents.fr !== ''">{{notification.contents.fr}}</span>
            <span class="notification-msg" [style.color]="text_content_color"
              *ngIf="languageUser == 'de_DE' && notification.contents.de !== ''">{{notification.contents.de}}</span> -->
          </label>
          <ion-note slot="end"><small>{{notification.delivery_date | date: "dd/MM HH:mm"}}</small>
          </ion-note>
        </ion-item>
      </ion-virtual-scroll>
    </div>

    <ng-template #detailNotification>
      <ion-img [src]="notificationDetail.highlight_picture" class="highlight-pic"
        *ngIf="notificationDetail.highlight_picture !== '' && notificationDetail.highlight_picture !== null && notificationDetail.highlight_picture !== undefined">
      </ion-img>
      <ion-card class="custom-card" [style.background]="bg_content_color">
        <ion-card-content>
          <h4 class="notification-title-detail" [style.color]="title_color">{{notificationDetail.principal_title}}
          </h4>

          <!-- <h4 class="notification-title-detail" [style.color]="title_color"
            *ngIf="languageUser == 'en_US' && notificationDetail.headings.en !== ''">{{notificationDetail.headings.en}}
          </h4>
          <h4 class="notification-title-detail" [style.color]="title_color"
            *ngIf="languageUser == 'es_ES' && notificationDetail.headings.es !== ''">{{notificationDetail.headings.es}}
          </h4>
          <h4 class="notification-title-detail" [style.color]="title_color"
            *ngIf="languageUser == 'fr_FR' && notificationDetail.headings.fr !== ''">{{notificationDetail.headings.fr}}
          </h4>
          <h4 class="notification-title-detail" [style.color]="title_color"
            *ngIf="languageUser == 'de_DE' && notificationDetail.headings.de !== ''">{{notificationDetail.headings.de}}
          </h4> -->

          <small [style.color]="text_content_color">{{notificationDetail.delivery_date | date: "dd/MM HH:mm"}}</small>
          <p class="notification-msg-detail" [style.color]="text_content_color">{{notificationDetail.principal_msg}}
          </p>

          <!-- <p class="notification-msg-detail" [style.color]="text_content_color"
            *ngIf="languageUser == 'en_US' && notificationDetail.contents.en !== ''">{{notificationDetail.contents.en}}
          </p>
          <p class="notification-msg-detail" [style.color]="text_content_color"
            *ngIf="languageUser == 'es_ES' && notificationDetail.contents.es !== ''">{{notificationDetail.contents.es}}
          </p>
          <p class="notification-msg-detail" [style.color]="text_content_color"
            *ngIf="languageUser == 'fr_FR' && notificationDetail.contents.fr !== ''">{{notificationDetail.contents.fr}}
          </p>
          <p class="notification-msg-detail" [style.color]="text_content_color"
            *ngIf="languageUser == 'de_DE' && notificationDetail.contents.de !== ''">{{notificationDetail.contents.de}}
          </p> -->

        </ion-card-content>
      </ion-card>
    </ng-template>

  </div>
</ion-content>