body {
    background: #fafafa;
    overflow-x: hidden;
    min-height: 100vh;
}

#tabs {
    margin-top: 15vh;
}

.btn-custom {
    background: #F9B200;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 450;
}

.btn-secondary {
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 450;
    margin-right: 2px;
}

.custom-pagination .ngx-pagination .current {
    background: #F9B200;
    color: #000000;
    border-radius: 8px;
}

.card {
    margin-bottom: 3vh;
}

h6 {
    margin-bottom: -1px;
}

.material-icons {
    font-size: 17px;
    cursor: pointer;
}

.btn-delete {
    color: red;
}

.manage-icon {
    color: rgba(0, 0, 0, 0.65) !important;
}

.event-name {
    word-wrap: break-word;
}

.input-group-text {
    background: #fff;
}

.search-icon {
    color: #2c3035;
    opacity: 0.5;
}

.pagination-contr {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
