<ion-app>
    <ion-split-pane contentId="main-content" class="bg-transparent">
        <ion-menu contentId="main-content" [class.hamburger-activated]="hamburgerActivated">
            <ion-header>
                <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
                    <ion-buttons [class.hamburger-header]="hamburgerActivated" slot="start"
                        *ngIf="totalEvents > 1 && userId !== null">
                        <ion-button slot="icon-only" (click)="confirmRedirectToContainer()">
                            <ion-icon name="exit" class="exit-icon" [style.color]="menu_text_color">
                            </ion-icon>
                        </ion-button>
                        <ion-button *ngIf="hamburgerActivated" slot="icon-only" (click)="logout()">
                            <ion-icon name="power" class="logout-icon" [style.color]="menu_text_color"></ion-icon>
                        </ion-button>
                    </ion-buttons>

                    <ion-buttons [class.hamburger-header]="hamburgerActivated" slot="start" *ngIf="userId == null">
                        <ion-button slot="icon-only" (click)="confirmBackToLogin()">
                            <ion-icon name="exit" class="exit-icon" [style.color]="menu_text_color">
                            </ion-icon>
                        </ion-button>
                        <ion-button *ngIf="hamburgerActivated" slot="icon-only" (click)="logout()">
                            <ion-icon name="power" class="logout-icon" [style.color]="menu_text_color"></ion-icon>
                        </ion-button>
                    </ion-buttons>

                    <ion-title *ngIf="!hamburgerActivated">{{"global.texts.menu" | translate}}</ion-title>

                    <ion-buttons slot="end" *ngIf="userId !== null">
                        <ion-button *ngIf="!isMobile" slot="icon-only"
                            (click)="hamburgerActivated = !hamburgerActivated; hamburgerClicked()">
                            <ion-icon name="menu" class="logout-icon" [style.color]="menu_text_color"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="!hamburgerActivated" slot="icon-only" (click)="logout()">
                            <ion-icon name="power" class="logout-icon" [style.color]="menu_text_color"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-color" [style.background]="menu_color">

                <ion-menu-toggle auto-hide="false" type="overlay">
                    <ion-card class="full-card" color="light" *ngIf="userId == null && !hamburgerActivated">
                        <img class="menu-event-banner" [src]="bannerUrl"
                            *ngIf="bannerUrl !== null && bannerUrl !== undefined && bannerUrl !== ''">

                        <div class="language-no-user" *ngIf="allow_language">
                            <a (click)="changeLanguage()">
                                <span class="flag-icon flag-icon-br float-right"
                                    *ngIf="global.language == 'pt_BR'"></span>
                                <span class="flag-icon flag-icon-um float-right"
                                    *ngIf="global.language == 'en_US'"></span>
                                <span class="flag-icon flag-icon-de float-right"
                                    *ngIf="global.language == 'de_DE'"></span>
                                <span class="flag-icon flag-icon-fr float-right"
                                    *ngIf="global.language == 'fr_FR'"></span>
                                <span class="flag-icon flag-icon-es float-right"
                                    *ngIf="global.language == 'es_ES'"></span>
                            </a>
                        </div>

                        <div *ngIf="!allowPublicRegister"> <br /> <br />
                        </div>
                        <ion-card-content class="align-all-btns" *ngIf="allowPublicRegister">
                            <button class="ion-color btn-user-null" [style.border-color]="menu_color"
                                [style.color]="menu_color" (click)="openPublicLogin()">
                                <ion-icon name="person"></ion-icon>&nbsp;{{"global.buttons.access" | translate}}
                            </button>
                            <button class="ion-color btn-user-null" [style.border-color]="menu_color"
                                [style.color]="menu_color" (click)="openPublicRegister()">
                                <ion-icon name="add"></ion-icon>&nbsp;{{"global.buttons.register" | translate}}
                            </button>
                        </ion-card-content>
                    </ion-card>

                    <ion-card class="full-card" color="light" *ngIf="userId !== null && !hamburgerActivated">
                        <ion-card-content>
                            <ion-grid>
                                <ion-row class="ion-justify-content-start">
                                    <ion-col style="display: flex; flex-direction: column;">

                                        <a *ngIf="allow_language" (click)="changeLanguage()">
                                            <span class="flag-icon flag-icon-br float-right"
                                                *ngIf="global.language == 'pt_BR'"></span>
                                            <span class="flag-icon flag-icon-um float-right"
                                                *ngIf="global.language == 'en_US'"></span>
                                            <span class="flag-icon flag-icon-de float-right"
                                                *ngIf="global.language == 'de_DE'"></span>
                                            <span class="flag-icon flag-icon-fr float-right"
                                                *ngIf="global.language == 'fr_FR'"></span>
                                            <span class="flag-icon flag-icon-es float-right"
                                                *ngIf="global.language == 'es_ES'"></span>
                                        </a>

                                        <div class="menu-avatar">
                                            <ngx-avatar name="{{displayName}}" initialsSize="2" *ngIf="photoUrl == ''"
                                                size="80" (click)="personalPage()">
                                            </ngx-avatar>
                                            <img [src]="photoUrl" class="menu-avatar" (click)="personalPage()"
                                                *ngIf="photoUrl !== ''">
                                        </div>
                                        <div class="menu-align">
                                            <br>
                                            <p class="menu-name" [style.color]="title_color">
                                                <strong>{{displayName}}</strong></p>
                                        </div>
                                        <div class="menu-badges-align">
                                            <ion-buttons id="badges-menu">
                                                <ion-button slot="icon-only" id="notifyBtn"
                                                    (click)="openNotifications()" [style.color]="title_color">
                                                    <ion-icon name="notifications">
                                                    </ion-icon>
                                                    <ion-badge color="danger" id="notify-badge"
                                                        *ngIf="notificationBadge >= 1">
                                                        {{notificationBadge}}</ion-badge>
                                                </ion-button>
                                                <ion-button slot="icon-only" id="chatBtn"
                                                    routerLink="/event/{{eventId}}/chat-history"
                                                    *ngIf="allowChat == true" [style.color]="title_color">
                                                    <ion-icon name="chatbubbles"></ion-icon>
                                                    <ion-badge color="danger" id="chat-badge" *ngIf="chatBadge >= 1">
                                                        {{chatBadge}}</ion-badge>
                                                </ion-button>
                                            </ion-buttons>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>



                    <ion-list class="ion-color menu-btn-style" [style.background]="menu_color" lines="none">
                        <ion-item *ngIf="hamburgerActivated" [style.color]="menu_text_color" [detail]="false"
                            (click)="personalPage()" class="ion-color">
                            <div class="menu-list-items" [class.hamburger-items]="hamburgerActivated">
                                <i class="material-icons menu-icon">person</i>
                            </div>
                        </ion-item>
                        <ion-item [style.color]="menu_text_color" [detail]="!hamburgerActivated"
                            *ngFor="let module of menuModules" (click)="openModule(module)" class="ion-color">
                            <div class="menu-list-items" [class.hamburger-items]="hamburgerActivated">
                                <i class="material-icons menu-icon"
                                    *ngIf="module.iconFamily == 'material-icons'">{{module.icon}}</i>

                                <span *ngIf="module.iconFamily == 'custom-icon'">
                                    <img [src]="module.icon" class="custom-icon menu-icon-img">
                                </span>

                                <span
                                    *ngIf="module.iconFamily != 'custom-icon' && module.iconFamily != 'material-icons'"
                                    class="b3-icons {{module.iconFamily}} menu-icon"></span>

                                <ion-label *ngIf="!hamburgerActivated">
                                    &nbsp;&nbsp;{{module?.name[SUtility.convertLangFormat(global.language)]}}
                                </ion-label>
                            </div>
                            <!-- <ion-label *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</ion-label>
                            <ion-label *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</ion-label>
                            <ion-label *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</ion-label>
                            <ion-label *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</ion-label>
                            <ion-label *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</ion-label> -->

                        </ion-item>
                    </ion-list>

                    <div class="legal-btn">
                        <button class="ion-color btn-legal-custom" fill="clear" expand="full"
                            [style.border-color]="menu_text_color" [style.color]="menu_text_color"
                            (click)="openLegalTerms()">
                            {{"global.texts.terms_legal" | translate}}</button>
                    </div>

                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
    <ion-footer no-border>
        <p class="ion-footer-network" *ngIf="connectionStatus == 'OFFLINE'">
            {{"global.texts.network_offline" | translate}}</p>
        <p class="ion-footer-network" *ngIf="connectionStatus == 'ONLINE'">
            {{"global.texts.network_online" | translate}}</p>
    </ion-footer>
</ion-app>

<div class="splash-container" *ngIf="showSplashScreenWeb">
    <div class="loader-container">
        <div class="loader-default"></div>
    </div>
    <!-- <img class="splash-img" src="/assets/images/splash.png"> -->
</div>