<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"comp.interactivity.title" | translate}}</h4>
                    <button class="btn btn-custom float-right" data-toggle="modal"
                        data-target="#personalizeResultsModal">{{"comp.interactivity.personalization_results" | translate}}</button>
                </div>
            </div>
            <ul class="nav nav-tabs" *ngIf="loader == false">
                <li class="nav-item" *ngFor="let module of modules; let i = index">
                    <a class="{{activeRoute == module?.type ? 'nav-link active' : 'nav-link'}} "
                        (click)="changeActiveRoute(module.type)" routerLink="{{module?.viewBackOffice}}">
                        <!-- display the module name according to the user's language. -->
                        <span *ngIf="userLanguage == 'pt_BR'">{{module?.name.PtBR}}</span>
                        <span *ngIf="userLanguage == 'en_US'">{{module?.name.EnUS}}</span>
                        <span *ngIf="userLanguage == 'es_ES'">{{module?.name.EsES}}</span>
                        <span *ngIf="userLanguage == 'fr_FR'">{{module?.name.FrFR}}</span>
                        <span *ngIf="userLanguage == 'de_DE'">{{module?.name.DeDE}}</span>
                    </a>
                    <!-- ADD THIS TO THE CLASS {{activeRoute == 'survey' ? 'active' : ''}} -->
                </li>
            </ul>
            <div class="card" *ngIf="modules?.length >= 1 && loader == false">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <div class="card" *ngIf="showModerate">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="align-loader" *ngIf="loader == true">
                <div class="loader-default"></div>
            </div>
        </div>
    </div>

    <!-- Modal personalizar resultados -->
    <div class="modal fade" id="personalizeResultsModal" tabindex="-1" role="dialog"
        aria-labelledby="personalizeResultsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personalizeResultsModalLabel">
                        <strong>{{"comp.interactivity.colors_graphic" | translate}}</strong>
                    </h5>
                </div>

                <div class="modal-body">
                    <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="columnColor"
                        [value]="columnColor" />

                    <br>

                    <button class="btn btn-custom float-right"
                        (click)="addNewColorCharts()">{{"global.add" | translate}}</button>

                    <br>
                    <br>




                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.color" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>

                            <tbody [dragula]='"bag-color"' [dragulaModel]='listColorsChart'>
                                <tr *ngFor="let color of listColorsChart; let i = index;">
                                    <td>
                                        <i class="material-icons drag-icon">drag_indicator</i>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="color-swatch-rectangle" [style.background]="color.color">
                                        </div>
                                    </td>

                                    <td>
                                        <a (click)="getRemoveColor(color.uid, i)">
                                            <i class="material-icons default-icon delete-icon">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-custom btn-margin-top float-right" (click)="saveNewOrder()"
                        *ngIf="onReorderShow">{{"global.btn_save" | translate}}</button>
                </div>

            </div>
        </div>
    </div>


    <!-- modal remove quiz -->
    <swal #removeColorSwal title='{{"global.modals.delete" | translate}}'
        text='{{"global.modals.delete_message" | translate}}' icon="error"
        confirmButtonText='{{"global.modals.btn_delete" | translate}}'
        cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f"
        [showCancelButton]="true" [focusCancel]="true" (confirm)="removeColor()">
    </swal>

    <!-- modal success -->
    <swal #successSwal title='{{"global.modals.success" | translate}}'
        text='{{"global.modals.success_message" | translate}}' icon="success"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F"
        [showCancelButton]="false">
    </swal>

    <!-- modal error -->
    <swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
        icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>