<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <div *ngIf="!loader">
            <ion-item detail *ngFor="let page of pages" color="light" (click)="openPage(page)">
                <ion-label *ngIf="global.language == 'pt_BR'">{{page?.title.PtBR}}</ion-label>
                <ion-label *ngIf="global.language == 'en_US'">{{page?.title.EnUS}}</ion-label>
                <ion-label *ngIf="global.language == 'es_ES'">{{page?.title.EsES}}</ion-label>
                <ion-label *ngIf="global.language == 'fr_FR'">{{page?.title.FrFR}}</ion-label>
                <ion-label *ngIf="global.language == 'de_DE'">{{page?.title.DeDE}}</ion-label>
            </ion-item>
        </div>
        <!-- await loading gallery list -->
        <div *ngIf="loader">
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>