<!-- Page mode -->
<ion-header *ngIf="!componentMode">
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <p *ngIf="survey !== null">{{surveyName[userLanguage]}}</p>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button [disabled]="true"></ion-button>
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="align-loader-custom" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>

<ion-content *ngIf="!componentMode">
    <div class="background">

        <div class="align-loader-custom" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>

        <form *ngIf="survey">
            <div *ngFor="let question of survey.questions; let i = index">
                <div *ngIf="question.visibility">
                    <div *ngIf="i >= 1 && question?.mainTitle[userLanguage]"><br /></div>
                    <ion-item-divider *ngIf="question?.mainTitle[userLanguage]">
                        <ion-label class="question-title-main ion-text-wrap ion-text-center" style="width:100%;"
                            [style.color]="title_color">
                            {{question.mainTitle[userLanguage]}}</ion-label>
                    </ion-item-divider>

                    <p class="question-title ion-text-wrap ion-text-center" style="width:100%;"
                        [style.color]="title_color">
                        {{question.title[userLanguage]}}</p>

                    <div class="infobooth" *ngIf="question.infobooth[userLanguage] !== undefined 
            && question.infobooth[userLanguage] !== null
            && question.infobooth[userLanguage] !== ''">
                        <small>
                            <p [innerHTML]="question.infobooth[userLanguage] | safeHtml"></p>
                        </small>
                    </div>

                    <div class="questions-to-user" *ngIf="question.type == 'oneSelect'">
                        <div (click)="presentToast(question.answered)">
                            <ion-list>
                                <ion-radio-group [(ngModel)]="result[i].answer" [ngModelOptions]="{standalone: true}"
                                    ngDefaultControl>
                                    <ion-item class="justify-text"
                                        *ngFor="let option of question.answers; let o = index">
                                        <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                            {{option.answer[userLanguage]}}
                                        </ion-label>
                                        <ion-radio value="{{option.uid}}"
                                            [disabled]="question.answered == true && survey.change_answer == false">
                                        </ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                            </ion-list>
                        </div>
                    </div>

                    <div class="questions-to-user" *ngIf="question.type == 'multipleSelect'">

                        <ion-list (click)="presentToast(question.answered)">
                            <div *ngFor="let option of question.answers; let t = index">
                                <ion-item class="justify-text">
                                    <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                        {{option.answer[userLanguage]}}
                                    </ion-label>
                                    <ion-checkbox [(ngModel)]="result[i][t].answer"
                                        [ngModelOptions]="{standalone: true}"
                                        [disabled]="question.answered == true && survey.change_answer == false"
                                        ngDefaultControl>
                                    </ion-checkbox>
                                </ion-item>
                            </div>
                        </ion-list>
                    </div>

                    <ion-item class="justify-text" lines="none" *ngIf="question.type == 'evaluation'">
                        <div class="evalution-align">
                            <star-rating [value]="result[i].answer" checkedcolor="gold" uncheckedcolor="#252525"
                                size="24px" [readonly]="question.answered == true && survey.change_answer == false"
                                (rate)="setEvaluation($event, i)">
                            </star-rating>
                        </div>
                    </ion-item>

                    <div class="questions-to-user" *ngIf="question.type == 'dissertative'"
                        (click)="presentToast(question.answered)">
                        <ion-list [(ngModel)]="result[i].answer" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                            <ion-item class="ion-text-wrap" lines="none">
                                <ion-textarea placeholder='{{"pages.survey.answer_plc" | translate}}'
                                    value="{{result[i].answer}}"
                                    [disabled]="question.answered == true && survey.change_answer == false">
                                </ion-textarea>
                            </ion-item>
                        </ion-list>
                    </div>

                    <div class="questions-to-user" *ngIf="question.type == 'date'"
                        (click)="presentToast(question.answered)">
                        <ion-item class="ion-text-wrap" lines="none">
                            <ionic-calendar-date-picker
                                [itemSelectedStyle]="{'color': menu_text_color, 'background-color': menu_color, 'border-radius': '45%'}"
                                (onSelect)="dateSelected($event, i)">
                            </ionic-calendar-date-picker>
                        </ion-item>
                    </div>

                    <!-- Document survey -->
                    <div class="questions-to-user document-type-question" *ngIf="question.type == 'document'">
                        <!-- <img [src]="question.answer" class="question-document-img first-img"
                            *ngIf="question.answer && !result[i] || (result[i] && question.answer == result[i])"> -->
                        <img [src]="(checkImg(result[i])) ? result[i].answer : '/assets/images/generic-file_ico.png'"
                            class="question-document-img" *ngIf="result[i].answer">
                        <ion-label *ngIf="result[i].answer">{{ result[i].title }}</ion-label>
                        <div class="upload-btn-wrapper" (click)="selectPictureForDocType(null, i)" *ngIf="isMobile && !view_only">
                            <a class="pic-style" [style.color]="title_color">
                                <i class="material-icons photo-icon">vertical_align_bottom</i>
                            </a>
                        </div>

                        <div class="upload-btn-wrapper" *ngIf="!isMobile && !view_only">
                            <input [id]="'picFromWeb' + i" class="input-file" name="picFromWeb" type="file" accept="*"
                                (change)="selectPictureForDocType($event, i)" />
                            <label [for]="'picFromWeb' + i">
                                <a class="pic-style" [style.color]="title_color">
                                    <i class="material-icons photo-icon">vertical_align_bottom</i>
                                </a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br>

        <ion-spinner name="lines" class="spinner" *ngIf="loadingSend"></ion-spinner>

        <ion-button shape="round" class="btn-default ion-color" [style.background]="menu_color" [disabled]="view_only"
            [style.color]="menu_text_color" (click)="sendSurvey()" *ngIf="!loadingSend">
            {{"global.buttons.answer" | translate}}</ion-button>
        <br>
    </div>
</ion-content>

<!-- Component mode -->
<div *ngIf="componentMode" class="background">
    <ion-row class="ion-justify-content-start ion-align-items-center" *ngIf="survey && backToList">
        <!-- <ion-col size="3"> -->
        <ion-icon class="back-icon" name="arrow-back" [style.color]="title_color" (click)="goBackToList()">
        </ion-icon>
        <!-- </ion-col>
        <ion-col size="9">
            <ion-label class="question-title ion-text-wrap ion-text-center" [style.color]="title_color">
                {{surveyName[userLanguage]}}
            </ion-label>
        </ion-col> -->
    </ion-row>

    <form *ngIf="survey">
        <div *ngFor="let question of survey.questions; let i = index">
            <div *ngIf="question.visibility">
                <div *ngIf="i >= 1 && question?.mainTitle[userLanguage]"><br /></div>
                <ion-item-divider *ngIf="question?.mainTitle[userLanguage]">
                    <ion-label class="question-title-main ion-text-wrap ion-text-center" style="width:100%;"
                        [style.color]="title_color">
                        {{ question.mainTitle[userLanguage] }}</ion-label>
                </ion-item-divider>

                <p class="question-title ion-text-wrap ion-text-center" style="width:100%;" [style.color]="title_color">
                    {{question.title[userLanguage]}}</p>

                <div class="infobooth" *ngIf="question.infobooth[userLanguage] !== undefined 
            && question.infobooth[userLanguage] !== null
            && question.infobooth[userLanguage] !== ''">
                    <small>
                        <p [innerHTML]="question.infobooth[userLanguage] | safeHtml"></p>
                    </small>
                </div>

                <div class="questions-to-user" *ngIf="question.type == 'oneSelect'">
                    <div (click)="presentToast(question.answered)">
                        <ion-list>
                            <ion-radio-group [(ngModel)]="result[i].answer" [ngModelOptions]="{standalone: true}"
                                ngDefaultControl>
                                <ion-item class="justify-text" *ngFor="let option of question.answers; let o = index">
                                    <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                        {{option.answer[userLanguage]}}
                                    </ion-label>
                                    <ion-radio value="{{option.uid}}"
                                        [disabled]="question.answered == true && survey.change_answer == false">
                                    </ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>
                    </div>
                </div>

                <div class="questions-to-user" *ngIf="question.type == 'multipleSelect'">

                    <ion-list (click)="presentToast(question.answered)">
                        <div *ngFor="let option of question.answers; let t = index">
                            <ion-item class="justify-text">
                                <ion-label class="option-size ion-text-wrap" [style.color]="content_text_color">
                                    {{option.answer[userLanguage]}}
                                </ion-label>
                                <ion-checkbox [(ngModel)]="result[i][t].answer" [ngModelOptions]="{standalone: true}"
                                    [disabled]="question.answered == true && survey.change_answer == false"
                                    ngDefaultControl>
                                </ion-checkbox>
                            </ion-item>
                        </div>
                    </ion-list>
                </div>

                <ion-item class="justify-text" lines="none" *ngIf="question.type == 'evaluation'"
                    (click)="presentToast(question.answered)">
                    <div class="evalution-align">
                        <star-rating [value]="result[i].answer" checkedcolor="gold" uncheckedcolor="#252525" size="24px"
                            [readonly]="question.answered == true && survey.change_answer == false"
                            (rate)="setEvaluation($event, i)">
                        </star-rating>
                    </div>
                </ion-item>

                <div class="questions-to-user" *ngIf="question.type == 'dissertative'"
                    (click)="presentToast(question.answered)">
                    <ion-list [(ngModel)]="result[i].answer" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                        <ion-item class="ion-text-wrap" lines="none">
                            <ion-textarea placeholder='{{"pages.survey.answer_plc" | translate}}'
                                value="{{result[i].answer}}"
                                [disabled]="question.answered == true && survey.change_answer == false">
                            </ion-textarea>
                        </ion-item>
                    </ion-list>
                </div>

                <div class="questions-to-user" *ngIf="question.type == 'date'"
                    (click)="presentToast(question.answered)">
                    <ion-item class="ion-text-wrap" lines="none">
                        <ionic-calendar-date-picker
                            [itemSelectedStyle]="{'color': menu_text_color, 'background-color': menu_color, 'border-radius': '45%'}"
                            (onSelect)="dateSelected($event, i)">
                        </ionic-calendar-date-picker>
                    </ion-item>
                </div>

                <!-- Document survey -->
                <div class="questions-to-user document-type-question" *ngIf="question.type == 'document'">
                    <!-- <img [src]="question.answer" class="question-document-img first-img"
                        *ngIf="question.answer && !result[i] || (result[i] && question.answer == result[i])"> -->
                    <img [src]="(checkImg(result[i])) ? result[i].answer : '/assets/images/generic-file_ico.png'"
                        class="question-document-img" *ngIf="result[i].answer">
                    <ion-label *ngIf="result[i].answer">{{ result[i].title }}</ion-label>
                    <div class="upload-btn-wrapper" (click)="selectPictureForDocType(null, i)" *ngIf="isMobile && !view_only">
                        <a class="pic-style" [style.color]="title_color">
                            <i class="material-icons photo-icon">vertical_align_bottom</i>
                        </a>
                    </div>

                    <div class="upload-btn-wrapper" *ngIf="!isMobile && !view_only">
                        <input [id]="'picFromWeb' + i" class="input-file" name="picFromWeb" type="file" accept="image/*"
                            (change)="selectPictureForDocType($event, i)" />
                        <label [for]="'picFromWeb' + i">
                            <a class="pic-style" [style.color]="title_color">
                                <i class="material-icons photo-icon">vertical_align_bottom</i>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>

    <ion-spinner name="lines" class="spinner" *ngIf="loadingSend"></ion-spinner>

    <ion-button shape="round" class="btn-default ion-color" [style.background]="menu_color" [disabled]="view_only"
        [style.color]="menu_text_color" (click)="sendSurvey()" *ngIf="!loadingSend">
        {{"global.buttons.answer" | translate}}</ion-button>
    <br>
</div>