:host {
    width: 100%;
    height: 100%;
}

ion-col {
    display: flex;
}

.back-icon {
    font-size: 30px;
    cursor: pointer;
}


.align-question-title {
    width: 100%;
    text-align: center;
}

ion-item-divider {
    // width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

ionic-calendar-date-picker {
    display: block;
    margin: 0 auto;
}

.ion-ios-star-outline {
    color: #252525;
}

ul {
    padding: 0px;

    &.rating li {
        padding: 5px 10px !important;
        background: none;
        color: #ffb400;

        ion-icon {
            font-size: 30px;
        }
    }
}

.stars {
    color: #ffd600;
    font-size: 25px;
}

.bg-content {
    background: #eeeeee;
}

.survey-title {
    font-size: 1.2em;
}

.card-content {
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 9999;
}

ion-textarea {
    height: 90px;
}

.question-title-main {
    font-size: 1.3em;
    font-weight: 600;
}

.question-title {
    font-size: 1em;
    font-weight: 600;
}

.option-size {
    font-size: .9em;
    opacity: .4;
}

.survey-title {
    position: relative;
    z-index: 1;
}

.questions-to-user {
    position: relative;
    z-index: 99999;
}

.evalution-align {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-default {
    border-radius: 15px !important;
}

.spinner {
    margin: 0 auto;
    display: block;
}

.align-loader-custom {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    top: 30px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

ion-item-divider {
    margin-bottom: 5px !important;
}

.infobooth {
    background-color: #FFFFFF;
    padding: 10px 0 0 0;
}

.upload-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-icon {
    font-size: 1.2em;
}

.pic-style {
    font-size: 1.6em;
    cursor: pointer;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.document-type-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .question-document-img {
        max-width: 200px;
        margin-bottom: 15px;
    }
}