<ion-content>
  <div class="background">
    <div class="padding-left-10 padding-top-20">
      <ion-button fill="clear" color="dark" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>
    <div class="logo padding-top-40">
      <img [src]="logoUrl" class="custom-logo" *ngIf="logoUrl !== '' && logoUrl !== undefined && logoUrl !== null">
    </div>
    <ion-grid class="ion-padding">
      <ion-row class="padding-top-20">
        <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
          <h3 class="login-title">{{"pages.login.access_your_account" | translate}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
          <ion-label class="input-label-text">{{"global.texts.name" | translate}}</ion-label>
          <ion-input class="custom-input border-n-shadow" type="name"
            placeholder='{{"pages.login.input_name_plc" | translate}}' [(ngModel)]="name"></ion-input>

          <p class="invalid-code"><br><br>{{msgName}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
          <ion-label class="input-label-text">{{"pages.login.email" | translate}}</ion-label>
          <ion-input class="custom-input border-n-shadow" type="email"
            placeholder='{{"pages.login.input_email_plc" | translate}}' [(ngModel)]="email"></ion-input>

          <p class="invalid-code"><br><br>{{msgEmail}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
          <ion-label class="input-label-text">{{"pages.login.password" | translate}}
            ({{"pages.login.min_6_characters" | translate}})</ion-label>
          <ion-input class="custom-input border-n-shadow" type="password" placeholder="******" [(ngModel)]="password">
          </ion-input>
          <p class="invalid-code">{{msgPassword}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="msgGeral !== null">
        <br>
        <ion-col size="12" text-center>
          <p class="info-msg">{{msgGeral}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3">
          <div class="term-conditions">
            <ion-checkbox color="primary" [(ngModel)]="termCheck" disabled *ngIf="termCheck"></ion-checkbox>
            <ion-checkbox color="primary" [(ngModel)]="termCheck" *ngIf="!termCheck"></ion-checkbox>
            <ion-label class="space-condition">{{"pages.login.accept_term" | translate}}&nbsp;<a
                class="conditions-class" ion-button clear icon-only (click)="openTermsOfUseAndPrivacy('termsOfUse')">{{"pages.login.terms_of_use"
                    | translate}}</a>
              {{"global.texts.and" | translate}}&nbsp;<a class="conditions-class" ion-button clear icon-only
                (click)="openTermsOfUseAndPrivacy('privacy')">{{"pages.login.privacy_txt"
                    | translate}}</a></ion-label>
          </div>
          <p class="invalid-code">{{msgGeral}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" size-md="6" size-lg="6" push-md="3" push-lg="3" text-center>
          <button class="btn-default btn-shaped ion-color" [style.color]="menuTxtColor" [style.background]="menuColor"
            (click)="createAccount()" color="blue-default" [disabled]="activeLoader">
            <span *ngIf="!activeLoader">{{"global.buttons.register" | translate}}</span>
            <ion-spinner name="crescent" color="secondary" *ngIf="activeLoader"></ion-spinner>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br /><br /><br />
  </div>
</ion-content>