<div class="orders">
    <div class="container">
        <div class="row" *ngIf="loader == false">
            <div class="col-sm-12 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title text-bold text-center">{{"comp.colors.title" | translate}}</h4>
                        <br><br><br>
                        <div class="form-group">
                            <label>{{"global.degradé" | translate}}</label>
                            <br />
                            <ui-switch color="#1FC94F" size='small' (change)="allowDegrade = $event"
                                [checked]="allowDegrade">
                            </ui-switch>
                        </div>
                        <div class="row" *ngIf="!allowDegrade; else activatedDegrade">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.colors.menu_color" | translate}}</label>
                                    <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="menu_color"
                                        [value]="menu_color" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.colors.menu_text_color" | translate}}</label>
                                    <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="menu_text_color"
                                        [value]="menu_text_color" />
                                </div>
                            </div>
                        </div>

                        <ng-template #activatedDegrade>
                            <div class="row">
                                <!-- menu color one -->
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label>{{"comp.colors.menu_color" | translate}} 1</label>
                                        <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="menu_color"
                                            [value]="menu_color" />
                                    </div>
                                </div>
                                <!-- menu color two -->
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label>{{"comp.colors.menu_color" | translate}} 2</label>
                                        <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="menu_color2"
                                            [value]="menu_color2" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{"comp.colors.menu_text_color" | translate}}</label>
                                        <input class="form-control" [cpOutputFormat]="hex"
                                            [(colorPicker)]="menu_text_color" [value]="menu_text_color" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.colors.title_color" | translate}}</label>
                                    <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="title_color"
                                        [value]="title_color" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.colors.text_content_color" | translate}}</label>
                                    <input class="form-control" [cpOutputFormat]="hex"
                                        [(colorPicker)]="text_content_color" [value]="text_content_color" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"comp.colors.background_content_color" | translate}}</label>
                                    <input class="form-control" [cpOutputFormat]="hex"
                                        [(colorPicker)]="bg_content_color" [value]="bg_content_color" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <!-- <div class="form-group">
                  <label>{{"comp.colors.background_general_color" | translate}}</label>
                  <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="bg_general_color"
                    [value]="bg_general_color" />
                </div> -->
                                <div class="form-group">
                                    <label>{{"comp.colors.link_colors" | translate}}</label>
                                    <input class="form-control" [cpOutputFormat]="hex" [(colorPicker)]="link_color"
                                        [value]="link_color" />
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <button class="btn btn-custom float-right" (click)="updateColors()"
                            *ngIf="saveLoader == false">{{"global.btn_save" | translate}}</button>
                        <div class="align-loader" *ngIf="saveLoader == true">
                            <div class="loader-default"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-5">
                <div class="flex-smart">
                    <div class="smartphone">
                        <div class="smartphone-content">
                            <div class="container">
                                <div class="smartphone-header" id="smartphone-header-color"
                                    [style.backgroundColor]="menu_color" [style.color]="menu_text_color"
                                    *ngIf="!allowDegrade">
                                    <span id="smartphone-menu-title"
                                        class="smartphone-menu-title">{{"comp.colors.menu_title" | translate}}</span>
                                </div>
                                <div class="smartphone-header" id="smartphone-header-color"
                                    style.background="linear-gradient(to right, {{menu_color}}, {{menu_color2}})"
                                    [style.color]="menu_text_color" *ngIf="allowDegrade">
                                    <span id="smartphone-menu-title"
                                        class="smartphone-menu-title">{{"comp.colors.menu_title" | translate}}</span>
                                </div>
                                <!-- content -->
                                <div class="space-smartphone-top">
                                    <div class="row d-flex flex-wrap" id="smart-container">
                                        <div class="card card-icon-b3" [style.backgroundColor]="bg_content_color">
                                            <h5 class="text-bold" [style.color]="title_color">
                                                {{"comp.colors.content_title" | translate}}</h5>
                                            <p class="text-content" [style.color]="text_content_color">
                                                {{"comp.colors.content_msg" | translate}}</p>
                                            <a href="#"
                                                [style.color]="link_color">{{"comp.colors.click_me" | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>