/* smartphone */
.smartphone-menu-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-smart {
    display: flex;
    justify-content: center;
}

.smartphone {
    background-image: url('../../../../../assets/images/smartphone.svg');
    background-repeat: no-repeat;
    width: 300px;
    height: 560px;
    position: relative;
}

.content-smartphone {
    margin-top: 38% !important;
    /* padding-left: 0.9vh; */
    margin-left: 1.2vh;
    position: absolute;
    width: 93%;
    height: 375px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 1560px) {
    .content-smartphone {
        height: 376.5px;
        margin-top: 14.4vh;
        /* padding-left: 1.3vh; */
    }
}

.smartphone-header {
    position: absolute;
    top: 7%;
    width: 88.3%;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.space-smartphone-top {
    margin-top: 100px;
    margin-left: 5.8%;
    width: 92%;
}

#smart-container {
    max-height: 380px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-icon-b3 {
    width: 95%;
    height: auto;
    padding-top: 3px;
    padding-left: 3px;
}

@media screen and (max-width: 1100px) {
    #smart-container {
        max-height: 350px !important;
    }
}

@media screen and (min-width: 690px) {
    .smartphone-header {
        width: 88.3% !important;
    }
}

@media screen and (max-width: 1100px) {
    .smartphone-header {
        width: 90%;
    }
}