.user-picture {
    margin-top: 9vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.ngx-align {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bg-checkin {
    width: 100vw;
    min-height: 100vh;
    background: #ececec;
    overflow: hidden;
}

.col-color {
    width: 100vw;
    height: 100vh;
    background: #e7e7e7;
    overflow-x: auto;
}

.card,
.list-group-item {
    background-color: transparent !important;
    box-shadow: none !important;
}

.circle-avatar {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
}

.avatar {
    margin-right: 3.4%;
}

.infos {
    display: flex;
    align-items: center;
}

.recent-checkin-name {
    font-size: .9em;
    font-weight: bold;
}

.recent-checkin-title {
    font-weight: 200;
    font-size: .8em;
}

.col-total {
    width: 100vw;
    height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13vh;
    color: black;
    text-align: center;
}