<div class="align-loader" *ngIf="checkin == null">
    <div class="loader-default"></div>
</div>

<div class="bg-checkin" *ngIf="checkin !== null">
    <div class="row">
        <div class="col-sm-12 col-md-8 text-center">
            <br>
            <h2>{{checkin.name}}</h2>
            <br><br>
            <div class="real-user" *ngFor="let attendee of lastsCheckins; let i = index">
                <div class="limit" *ngIf="i < 1">
                    <div class="ngx-align">
                        <ngx-avatar class="user-picture-noavatar" size="200" name="{{attendee.name}}" initialsSize="2" *ngIf="attendee.photoUrl == ''">
                        </ngx-avatar>
                    </div>
                    <img class="user-picture" [src]="attendee.photoUrl" *ngIf="attendee.photoUrl !== ''">
                    <br><br>
                    <div class="container">
                        <br>
                        <h4>{{checkin.title}} <span *ngIf="allowUserName == true">{{attendee.name}}</span></h4>
                        <p [innerHTML]="checkin.text | safeHtml"></p>
                    </div>
                </div>
            </div>
            <footer *ngIf="allowFooter == true">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-4 col-total" [style.background-color]="checkin.totalBgColor">
                        <br>
                        <span [style.color]="totalTxtColor">{{"comp.checkin.total_invited" | translate}}</span>
                        <h3><strong>{{totalEvent}}</strong></h3>
                    </div>
                    <div class="col-sm-12 col-md-4 col-total" [style.background-color]="checkin.totalPresentBgColor">
                        <br>
                        <span [style.color]="totalPresentTxtColor">{{"comp.checkin.total_showd" | translate}}</span><br>
                        <h3><strong>{{totalPresent}}</strong></h3>
                    </div>
                </div>
            </footer>
        </div>


        <div class="col-sm-12 col-md-4 col-color">
            <div class="container">
                <br>
                <h4 class="text-center">{{"comp.checkin.last_checkins" | translate}}</h4>

                <br><br>
                <div class="card">
                    <ul class="list-group list-group-flush" *ngIf="lastsCheckins !== undefined">
                        <li class="list-group-item" *ngFor="let attendee of lastsCheckins">
                            <div class="infos">
                                <div class="avatar">
                                    <ngx-avatar name="{{attendee?.name}}" size="55" initialsSize="2" *ngIf="attendee?.photoUrl == ''">
                                    </ngx-avatar>
                                    <img [src]="attendee?.photoUrl" class="circle-avatar" *ngIf="attendee?.photoUrl !== ''">
                                </div>

                                <span class="recent-checkin-name">{{attendee?.name}}
                  <br>
                  <span class="recent-checkin-title"
                    *ngIf="attendee?.title !== '' && attendee?.title !== null || attendee?.company !== '' && attendee?.company !== null">{{attendee?.title[formatedLanguage.language]}}
                    <span
                      *ngIf="attendee?.title !== '' && attendee?.title !== null && attendee?.company !== '' && attendee?.company !== null">-</span> {{attendee?.company}}
                                </span>
                                <p><small>{{attendee?.checkinTime * 1000 | date: 'mediumTime'}}</small></p>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>