.custom-card {
    position: relative;
    top: 20vh;
    border-radius: 15px;
    padding: 20px;
    border: none;
}

.logo-plat {
    padding-top: 5%;
    width: 70%;
    margin: 0 auto;
    display: block;
}

.form-group {
    padding: 10px;
}

.form-control {
    border: none;
    margin-bottom: 20px;
}

.custom-input {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
}

.btn-custom-access {
    margin: 0 auto;
    display: block;
}

.forget-password {
    color: rgba(0, 107, 161, 0.5) !important;
    text-decoration: none;
    cursor: pointer;
}

.modal-footer {
    border: none;
}

.invalid-user {
    color: #FE0C0C;
}