<body class="login-background">

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-1 col-lg-1"></div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card custom-card">
                        <div class="card-content">
                            <img src="../../assets/images/{{loginLogo}}" class="logo-plat" alt="Logo" />
                            <br>
                            <form #loginForm="ngForm" (ngSubmit)="loginClick(loginForm.value)">
                                <div class="form-group">
                                    <input type="email" class="form-control custom-input" id="email" name="email"
                                        placeholder='{{"global.email" | translate}}' ngModel />
                                    <input type="password" class="form-control custom-input" id="password"
                                        name="password" placeholder='{{"global.password" | translate}}' ngModel />
                                    <a data-toggle="modal" data-target="#resetPassword" class="forget-password">{{"comp.login.forgot_password"
                    | translate}}</a>
                                </div>
                                <p *ngIf="loginFailed" class="invalid-user text-center">
                                    <br>{{"comp.login.login_error" | translate}}
                                </p>
                                <p *ngIf="noAccessFail == true" class="invalid-user text-center"> <br>{{noAccessMsg}}
                                </p>
                                <br>
                                <button type="submit" class="btn btn-custom btn-custom-access" *ngIf="loader == false">{{
                  "comp.login.access_platform" | translate }}</button>
                                <div class="align-loader" *ngIf="loader == true">
                                    <div class="loader-default"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-7"></div>
            </div>
        </div>

        <!-- Modal recovery password -->
        <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resetPasswordLabel">
                            {{"comp.login.recovery_pass" | translate}}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email-recovery">{{"global.email" | translate}}</label>
                            <input type="email" id="email-recovery" name="email-recovery" class="form-control"
                                [(ngModel)]="email" placeholder='{{"global.placeholder_email" | translate}}'>

                            <div class="alert alert-danger" role="alert" *ngIf="incorretEmail">
                                <br>
                                {{"comp.login.invalid_email_recovery" | translate}}
                            </div>
                            <br>
                            <div class="alert alert-danger" role="alert" *ngIf="recoveryPassError">
                                {{"comp.login.error_send_pass_recovery" | translate}}
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="accNotExist">
                                {{"comp.login.email_not_exist" | translate}}
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="recoveryPassSuccess">
                                {{"comp.login.recovery_pass_success" | translate}}
                            </div>
                            <button class="btn btn-custom float-right" (click)="resetPassword()"
                                *ngIf="loaderModal == false">{{"comp.login.btn_recovery" |
                translate}}</button>
                            <div class="align-loader" *ngIf="loaderModal == true">
                                <div class="loader-default"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <p class="footer-credits">{{ license }}</p>
    </footer>
</body>