:host {
    width: 100%;
    height: fit-content;

    .container-visio {
        z-index: 9;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .background-iframe {
            // background: white;
            position: relative;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .btn-visio-container {
                position: absolute;
                width: 100px;
                z-index: 12;
                top: 15px;
                left: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .btn-mini-player-container {
                position: absolute;
                width: 100px;
                z-index: 12;
                top: 15px;
                right: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .fullscreen-container {
            padding: 12px;
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 5px 0px;
            cursor: pointer;
        }

        .fullscreen-container:hover {
            opacity: 0.8;
        }

        .fullscreen-icon {
            background-color: #7F7F7F;
        }

        .exit-icon {
            background-color: #F26B4D
        }

        .custom-icon-visio {
            width: 25px;
            height: 25px;
            color: white;
            font-size: 25px;
        }

        .mini-player {
            position: absolute;
            width: fit-content;
            height: fit-content;
            z-index: 100000;
            -webkit-box-shadow: 0px 0px 5px 0px rgb(173, 173, 173);
            -moz-box-shadow: 0px 0px 5px 0px rgb(173, 173, 173);
            box-shadow: 0px 0px 5px 0px rgb(173, 173, 173);
        }
    }

    .background-large-player {
        width: 100%;
        position: fixed;
        top: 55px;
        left: 0;
    }

    .background-mini-player {
        width: fit-content;
        display: block;
    }

    .no-transform {
        transform: none !important;
    }

    iframe {
        width: 100%;
        height: 600px;
        max-height: 600px;
    }

    .btn-join-visio {
        font-size: .95em;
        border: 1px solid;
        border-radius: 20px;
        padding: 4px 8px 4px 8px;
        cursor: pointer;
    }
}