<div class="container-visio" [class.background-mini-player]="miniPlayer && comp == 'chat'"
    [class.background-large-player]="!miniPlayer && comp == 'chat'"
    (mouseup)="moveMiniPlayerActivation(false, $event)">
    <div id="backgroundIframe" class="background-iframe" [class.mini-player]="miniPlayer" *ngIf="plat == 'desktop'"
        [ngDraggable]="miniPlayer && moveMiniPlayer" [class.no-transform]="noTransform">
        <div *ngIf="joined" class="btn-visio-container">
            <div class="fullscreen-container fullscreen-icon" (click)="fullScreenVisio()">
                <img class="custom-icon-visio" src="/assets/icon/scan.svg">
            </div>
            <div *ngIf="!fullscreenMode" class="fullscreen-container fullscreen-icon" (click)="miniPlayerActivation()">
                <img class="custom-icon-visio" src="/assets/icon/mini-player.svg">
            </div>
            <div *ngIf="allowLeave" class="fullscreen-container exit-icon" (click)="leaveVisio()">
                <ion-icon class="custom-icon-visio" name="exit" color="light"></ion-icon>
            </div>
        </div>

        <div *ngIf="miniPlayer && !fullscreenMode" class="btn-mini-player-container">
            <div class="fullscreen-container fullscreen-icon" (mousedown)="moveMiniPlayerActivation(true, $event)">
                <ion-icon class="custom-icon-visio" name="move" color="light"></ion-icon>
            </div>
        </div>

        <iframe [style.width]="width" [style.height]="height" [style.max-height]="height" id="visioIframe"
            *ngIf="joined" [src]="urlIframe" allow="camera; microphone; fullscreen; speaker; display-capture"></iframe>
        <span *ngIf="!joined" (click)="joined = true; analyticsVisio()" class="btn-join-visio" [style.color]="btnColor">
            {{"global.texts.join-visio" | translate}}
        </span>
    </div>

    <span *ngIf="plat == 'mobile'" (click)="openVisio()" class="btn-join-visio" [style.color]="btnColor">
        {{"global.texts.join-visio" | translate}}
    </span>
</div>