<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>

                    <div class="float-right">
                        <button class="btn btn-custom" data-toggle="modal"
                            data-target="#newMap">{{"global.btn_new" | translate}}</button>
                    </div>
                </div>
            </div>

            <div class="header-options">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-2 float-right">
                    <div class="form-group">
                        <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                            (change)="changeOrder()">
                            <option value="asc">{{"global.a_z" | translate}}</option>
                            <option value="desc">{{"global.z_a" | translate}}</option>
                            <option value="recent">{{"global.latest" | translate}}</option>
                            <option value="oldest">{{"global.oldest" | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 float-right">
                    <div class="pipe-filter">
                        <div class="input-group md-3">
                            <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                                placeholder='{{"global.search_plc" | translate}}'>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="material-icons search-icon">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="card" *ngIf="loader == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.type" | translate}}</th>
                                    <th>{{"global.name" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let map of maps | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td class="avatar">
                                        <img src="../../../../../assets/images/map_placeholder.svg"
                                            *ngIf="map.type == 'address'">
                                        <img src="../../../../../assets/images/picture-2.svg"
                                            *ngIf="map.type == 'image'">
                                    </td>
                                    <td>{{map.name}}</td>
                                    <td>
                                        <a><i class="material-icons default-icon" (click)="getMapEdit(map)"
                                                data-toggle="modal" data-target="#editMap">create</i></a>
                                        <a (click)="getMapDelete(map)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="align-loader" *ngIf="loader == true">
                <div class="loader-default"></div>
            </div>
            <div class="page-align">
                <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true"
                    directionLinks="false" autoHide="true"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Map -->
<div class="modal fade" id="newMap" tabindex="-1" role="dialog" aria-labelledby="newMapLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newMapLabel">
                    <strong>{{"comp.maps.new_map" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" type="text" placeholder='{{"global.placeholder_name" | translate}}'
                        [(ngModel)]="mapName" />
                    <div class="alert alert-danger" role="alert" *ngIf="nameError == true">
                        <span>{{"global.required_name" | translate}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"global.type" | translate}}</label>
                    <br>
                    <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"comp.maps.type_map" | translate}}'
                        checkedLabel='{{"comp.maps.type_image" | translate}}' (change)="changeTypeMap($event)"
                        [(ngModel)]="typeMap">
                    </ui-switch>
                </div>
                <!-- TYPE ADDRESS-->
                <div class="form-group" *ngIf="typeMap == false">
                    <label>{{"global.place_address" | translate}}</label>
                    <input class="form-control" type="text" placeholder='{{"global.placeholder_name" | translate}}'
                        #search id="place-address" [(ngModel)]="mapAddress" />
                    <div class="alert alert-danger" role="alert" *ngIf="addressError == true">
                        <span>{{"global.required_address" | translate}}</span>
                    </div>
                </div>
                <!-- TYPE IMAGE -->
                <div class="form-group" *ngIf="typeMap == true">
                    <label>{{"global.picture" | translate}}</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" accept=".png, .jpg, .jpeg, .gif"
                            (change)="onUploadChange($event)">
                        <label class="custom-file-label" for="customFile"
                            *ngIf="fileName == null">{{"global.select_picture" | translate}}</label>
                        <label class="custom-file-label" for="customFile" *ngIf="fileName !== null">{{fileName}}</label>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="imageError == true">
                        <span>{{"global.required_image" | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="modalLoader == false">
                <button type="button" class="btn btn-custom"
                    (click)="createMap()">{{"global.btn_add" | translate}}</button>
            </div>
            <div class="align-loader" *ngIf="modalLoader == true">
                <div class="loader-default"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Map -->
<div class="modal fade" id="editMap" tabindex="-1" role="dialog" aria-labelledby="editMapLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMapLabel">
                    <strong>{{"comp.maps.new_map" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{{"global.name" | translate}}</label>
                    <input class="form-control" type="text" placeholder='{{"global.placeholder_name" | translate}}'
                        [(ngModel)]="mapName" />
                    <div class="alert alert-danger" role="alert" *ngIf="nameError == true">
                        <span>{{"global.required_name" | translate}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"global.type" | translate}}</label>
                    <br>
                    <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"comp.maps.type_map" | translate}}'
                        checkedLabel='{{"comp.maps.type_image" | translate}}' (change)="changeTypeMap($event)"
                        [(ngModel)]="typeMap">
                    </ui-switch>
                </div>
                <!-- TYPE ADDRESS-->
                <div class="form-group" *ngIf="typeMap == false">
                    <label>{{"global.place_address" | translate}}</label>
                    <input class="form-control" type="text" placeholder='{{"global.placeholder_name" | translate}}'
                        #searchEdit id="place-address-edit" [(ngModel)]="mapAddress" />
                    <div class="alert alert-danger" role="alert" *ngIf="addressError == true">
                        <span>{{"global.required_address" | translate}}</span>
                    </div>
                </div>
                <!-- TYPE IMAGE -->
                <div class="form-group" *ngIf="typeMap == true">
                    <label>{{"global.picture" | translate}}</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" accept=".png, .jpg, .jpeg, .gif"
                            (change)="onUploadChange($event)">
                        <label class="custom-file-label" for="customFile"
                            *ngIf="fileName == null">{{"global.select_picture" | translate}}</label>
                        <label class="custom-file-label" for="customFile" *ngIf="fileName !== null">{{fileName}}</label>
                    </div>
                    <div class="alert alert-info" role="alert">
                        {{"global.current_image" | translate}}
                        <br>
                        <img src="{{mapEditImage}}" class="img-current">
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="imageError == true">
                        <span>{{"global.required_image" | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" (click)="editMap()"
                    *ngIf="modalLoader == false">{{"global.btn_save" | translate}}</button>
            </div>
            <div class="align-loader" *ngIf="modalLoader == true">
                <div class="loader-default"></div>
            </div>
        </div>
    </div>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeMap()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>