// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*:focus {
    outline: 0;
}

.basic-container {
    height: 100%;
}

.hamburger-activated {
    --width: 80px !important;
    width: 80px !important;
    --min-width: 80px !important;
    min-width: 80px !important;
    --max-width: 80px !important;
    max-width: 80px !important;

    .hamburger-header {
        display: flex;
        flex-direction: column;
    }

    .hamburger-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-icon {
        font-size: 1.4em;
    }
}

.menu-list-items {
    display: flex;
    flex-direction: row;
}

.splash-container {
    z-index: 999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;

    .loader-container {
        position: absolute;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .splash-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logout-icon {
    cursor: pointer;
    font-size: 20px;
}

.exit-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    font-size: 20px;
}

// .toolbar-custom-title {
//     width: 100vw !important;
//     text-align: center !important;
// }

.supreme-title {
    display: flex !important;
    justify-content: center !important;
    color: #fff;
}

ion-title {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
}

ion-title p {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100vw;
    text-align: center;
}

// BG
.background {
    width: 100%;
    min-height: 100vh !important;
    background: #f6f6f6;
}

.align-btn {
    text-align: center;
}

.btn-legal {
    text-transform: uppercase;
    width: 60%;
}

.btn-default {
    margin: 0 auto;
    display: block;
    width: 500px; // <---  add Emmanuel Aires (before: 100%)
    max-width: 60%; // <---  add Emmanuel Aires
}

.divider-default {
    margin-top: 12px;
}

.icon-exit {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.menu-align {
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 3px;
    display: block;
    object-fit: cover;
    object-position: center;
}

.menu-name {
    font-size: 0.9em;
    text-align: center;
}

.menu-icon {
    font-size: 1.1em;
}

.menu-icon-img {
    width: 1.1rem;
    height: 1.06rem;
}

.menu-btn-style {
    cursor: pointer;
}

// .scroll-content {
//     overflow-y: hidden !important;
// }
// **** PADDINGS **** //
.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-top-200 {
    padding-top: 200px;
}

.padding-left-10 {
    padding-left: 10px;
}

.custom-col {
    width: 100%;
    margin: 0;
    padding: 0;
}

.custom-card {
    border-radius: 10px !important;
}

.full-card {
    //margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    border-radius: 0;
    width: 100%; //
}

.toolbar-background {
    background-color: var(--toolbar-background);
    border-bottom: none;
}

.hide-card {
    box-shadow: none !important;
    padding-bottom: 15px;
    margin: 0;
    width: 100%;
}

.btn-menu {
    text-transform: uppercase;
    font-size: 0.9em;
}

.img-avatar {
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.menuIcons {
    color: rgba(0, 0, 0, 0.603);
}

input.cordova-camera-select {
    position: absolute !important;
    z-index: 999999 !important;
    top: 28% !important;
    left: 45% !important;
}

.btn-cancel-scanqr {
    position: absolute !important;
    z-index: 9999999999999 !important;
}

.icon-size {
    font-size: 30px !important;
}

.icon-size-back {
    font-size: 25px !important;
}

ion-popover {
    top: 30px !important;
}

ion-backdrop {
    top: -30px !important;
    height: 100vh;
}

.white-color {
    background: #ffffff;
}

.text-center {
    text-align: center !important;
}

.ion-color-blue-default {
    --ion-color-base: var(--ion-color-blue-default) !important;
    --ion-color-base-rgb: var(--ion-color-blue-default-rgb) !important;
    --ion-color-contrast: var(--ion-color-blue-default-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-blue-default-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-blue-default-shade) !important;
    --ion-color-tint: var(--ion-color-blue-default-tint) !important;
}

// loader
.loader-default {
    width: 45px;
    height: 45px;
    display: inline-flex;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: #2f73a2;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-left-color: #639ebc;
    border-right-color: rgba(255, 255, 255, 0.3);
    -webkit-animation: loader-default 1s ease-in-out infinite;
    animation: loader-default 1s ease-in-out infinite;
}

.align-loader {
    margin-top: 15px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@keyframes loader-default {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-default {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.item ion-thumbnail ion-img,
.item ion-thumbnail img {
    width: auto !important;
    height: 30px !important;
}

.item ion-thumbnail,
.item ion-thumbnail {
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
}

#notifyBtn,
#chatBtn {
    position: relative;
    font-size: 1.3em;
}

#menu-btn-toggle {
    position: relative;
}

#notify-badge,
#chat-badge,
#menu-badge-ctrl {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
}

.menu-badges-align {
    width: 100%;
    height: 100%;
    margin-top: 4px;
}

#badges-menu {
    display: flex;
    justify-content: center;
    // margin: 0 auto;
    // display: block;
}

.calendar-button {
    text-decoration: none !important;
    color: #8b8b8b !important;
}

.legal-btn {
    margin-top: 6%;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-legal-custom {
    background: transparent !important;
    width: 55%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 0.9em;
    border: 1px solid;
    border-radius: 8px;
}

.language-no-user {
    padding: 6px 6px 0 6px;
    margin-bottom: -15px;
}

.align-all-btns {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-user-null {
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 1em;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
    background: transparent !important;
}

.menu-event-banner {
    width: 100%;
    max-height: 120px;
    object-fit: contain;
    object-position: top;
}

ion-modal {
    .modal-wrapper {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        display: block !important;
        width: 100vw !important;
        height: 100vh !important;
    }
}

ion-footer {
    z-index: 1;
}

.ion-footer-network {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background: rgba(0, 0, 0, 0.774);
    color: #ffffff;
    padding: 10px;
}

span.star {
    font-size: 1.9em !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.action-sheet-group {
    overflow: auto !important;
}

.red-text {
    color: #c91f1f;
}

.clickable-component {
    cursor: pointer;
}

.clickable-component:hover {
    opacity: 0.8;
}

// modif manu <---  add Emmanuel Aires for align in webview in computer
ion-card {
    display: block;
    max-width: 700px;
    margin: 10px auto !important;
    width: 95%;
}

.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 22%;
}

// modif manu <---  add Emmanuel Aires for align in webview in computer

// Track css

.track-name {
    border-radius: 8px;
    padding: 1px 3px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin-right: 3px;
    margin-bottom: 4px;
}