<div style="display: block;">
    <canvas *ngIf="loaded" baseChart [datasets]="barChartData" [colors]="barChartColors" [labels]="barChartLabels"
        [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
</div>