<ion-header>
    <ion-toolbar class="ion-color" [style.background]="SGlobal.eventColors.menu_color"
        [style.color]="SGlobal.eventColors.menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <p>{{docModule?.name[userLanguage]}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ion-list *ngIf="!loader && !oneFolder">
            <ion-item lines="none" class="ion-color" [style.background]="SGlobal.eventColors.bg_content_color"
                *ngFor="let folder of folders"
                routerLink="/event/{{eventId}}/documents/{{moduleId}}/folder/{{folder.uid}}">
                <ion-label [style.color]="SGlobal.eventColors.title_color">
                    <strong>{{folder?.name[userLanguage]}}</strong></ion-label>
            </ion-item>
        </ion-list>

        <!-- await loading documents list -->
        <div *ngIf="loader">
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>

        <app-documents *ngIf="!loader && oneFolder" [eventId]="eventId" [documents]="documents" [showTitle]="false">
        </app-documents>
    </div>
</ion-content>