<body>
    <div class="row">
        <div class="col-xl-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="principal-tab" data-toggle="tab" href="#principal" role="tab"
                        aria-controls="principal" aria-selected="true">
                        {{"global.principal" | translate}} -
                        <span *ngIf="event?.language == 'pt_BR'">{{"comp.event_info.portuguese" | translate}}</span>
                        <span *ngIf="event?.language == 'en_US'">{{"comp.event_info.english" | translate}}</span>
                        <span *ngIf="event?.language == 'es_ES'">{{"comp.event_info.spanish" | translate}}</span>
                        <span *ngIf="event?.language == 'fr_FR'">{{"comp.event_info.french" | translate}}</span>
                        <span *ngIf="event?.language == 'de_DE'">{{"comp.event_info.german" | translate}}</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="languages?.PtBR && event?.language !== 'pt_BR'">
                    <a class="nav-link" id="translate-pt-tab" data-toggle="tab" href="#translate-pt" role="tab"
                        aria-controls="translate-pt"
                        aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.EnUS && event?.language !== 'en_US'">
                    <a class="nav-link" id="translate-en-tab" data-toggle="tab" href="#translate-en" role="tab"
                        aria-controls="translate-en" aria-selected="false">{{"comp.event_info.english" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.EsES && event?.language !== 'es_ES'">
                    <a class="nav-link" id="translate-es-tab" data-toggle="tab" href="#translate-es" role="tab"
                        aria-controls="translate-es" aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.FrFR && event?.language !== 'fr_FR'">
                    <a class="nav-link" id="translate-fr-tab" data-toggle="tab" href="#translate-fr" role="tab"
                        aria-controls="translate-fr" aria-selected="false">{{"comp.event_info.french" | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="languages?.DeDE && event?.language !== 'de_DE'">
                    <a class="nav-link" id="translate-de-tab" data-toggle="tab" href="#translate-de" role="tab"
                        aria-controls="translate-de" aria-selected="false">{{"comp.event_info.german" | translate}}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="principal" role="tabpanel" aria-labelledby="principal-tab">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="formValidation">
                                <div class="row">
                                    <div class="col-12">
                                        <label>{{"global.identifier" | translate}}</label>
                                        <input class="form-control" type="text"
                                            [formControl]="formValidation.controls['id']"
                                            placeholder='{{"global.identifier_plc" | translate}}'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{"global.name" | translate}}</label>
                                            <input class="form-control" [formControl]="formValidation.controls['name']"
                                                type="text" placeholder='{{"global.name" | translate}}'>
                                        </div>

                                        <!-- msg error input name -->
                                        <div class="alert alert-danger red-text text-darken-3 left-align"
                                            *ngIf="formValidation.controls['name'].hasError('required') && formValidation.controls['name'].touched">
                                            <i
                                                class="material-icons size-of-error-icons">error</i>{{"global.alert_name" | translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>{{"global.email" | translate}}</label>
                                            <input class="form-control" [formControl]="formValidation.controls['email']"
                                                type="email" placeholder='{{"global.email" | translate}}'>
                                        </div>

                                        <!-- msg error input email -->
                                        <div class="alert alert-danger red-text text-darken-3 left-align"
                                            *ngIf="formValidation.controls['email'].hasError('required') && formValidation.controls['email'].touched">
                                            <i
                                                class="material-icons size-of-error-icons">error</i>{{"global.alert_email" | translate}}
                                        </div>
                                        <div class="alert alert-danger red-text text-darken-3 left-align"
                                            *ngIf="(formValidation.controls['email'].hasError('email') || formValidation.controls['email'].hasError('pattern')) && formValidation.controls['email'].touched">
                                            <i
                                                class="material-icons size-of-error-icons">error</i>{{"global.alert_email_format" | translate}}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>{{"global.email_recovery" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['emailRecovery']" type="email"
                                                placeholder='{{"global.email" | translate}}'>
                                        </div>

                                        <!-- msg error input email -->
                                        <div class="alert alert-danger red-text text-darken-3 left-align"
                                            *ngIf="(formValidation.controls['emailRecovery'].hasError('email') || formValidation.controls['emailRecovery'].hasError('pattern')) && formValidation.controls['emailRecovery'].touched">
                                            <i
                                                class="material-icons size-of-error-icons">error</i>{{"global.alert_email_format" | translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>{{"global.title" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_ptBR']" type="text"
                                                placeholder='{{"global.title" | translate}}'
                                                *ngIf="event?.language == 'pt_BR'">

                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_enUS']" type="text"
                                                placeholder='{{"global.title" | translate}}'
                                                *ngIf="event?.language == 'en_US'">

                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_esES']" type="text"
                                                placeholder='{{"global.title" | translate}}'
                                                *ngIf="event?.language == 'es_ES'">

                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_frFR']" type="text"
                                                placeholder='{{"global.title" | translate}}'
                                                *ngIf="event?.language == 'fr_FR'">

                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_deDE']" type="text"
                                                placeholder='{{"global.title" | translate}}'
                                                *ngIf="event?.language == 'de_DE'">
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>{{"global.company" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['company']" type="text"
                                                placeholder='{{"global.company" | translate}}'>
                                        </div>

                                        <!-- msg error input name -->
                                        <div class="alert alert-danger red-text text-darken-3 left-align"
                                            *ngIf="formValidation.controls['company'].hasError('required') && formValidation.controls['lastName'].touched">
                                            <i
                                                class="material-icons size-of-error-icons">error</i>{{"global.alert_company" | translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>{{"global.groups" | translate}}</label>
                                            <input type="text" class="form-control"
                                                [formControl]="formValidation.controls['groups']" [(ngModel)]=queryGroup
                                                (keyup)=filterGroups() placeholder='{{"global.groups" | translate}}' />
                                        </div>
                                        <div class="form-group">
                                            <div class="filter-group" *ngIf="filteredListGroups.length > 0">
                                                <ul>
                                                    <li *ngFor="let group of filteredListGroups">
                                                        <div class="group-name" [style.background]="group.bgColor"
                                                            [style.color]="group.txtColor">
                                                            <a (click)="selectGroup(group)">
                                                                {{group.name}}
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <br><br>
                                            </div>


                                            <div class="filter-group" *ngIf="selectedGroup.length > 0">
                                                <span *ngFor="let theGroup of selectedGroup" class="group-name"
                                                    [style.background]="theGroup.bgColor"
                                                    [style.color]="theGroup.txtColor">
                                                    {{theGroup.name}}
                                                    <a (click)="removeGroup(theGroup)">
                                                        <i class="material-icons closebtn">close</i>
                                                    </a>
                                                </span>
                                                <br>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>{{"global.documents" | translate}}</label>
                                            <input type="text" class="form-control"
                                                [formControl]="formValidation.controls['documents']"
                                                [(ngModel)]=queryDocument (keyup)=filterDocuments()
                                                placeholder='{{"global.documents" | translate}}' />
                                        </div>
                                        <div class="form-group">
                                            <div class="filter-group" *ngIf="filteredListDocuments.length > 0">
                                                <ul *ngFor="let document of filteredListDocuments">
                                                    <li>
                                                        <div class="chip-doc" (click)="selectDocument(document)">
                                                            <img src="../../../../../../assets/images/{{document.icon}}"
                                                                width="35" height="35" alt="Icon" class="doc-icon">
                                                            <span
                                                                *ngIf="event?.language == 'pt_BR'">{{document.name.PtBR}}</span>
                                                            <span
                                                                *ngIf="event?.language == 'en_US'">{{document.name.EnUS}}</span>
                                                            <span
                                                                *ngIf="event?.language == 'es_ES'">{{document.name.EsES}}</span>
                                                            <span
                                                                *ngIf="event?.language == 'fr_FR'">{{document.name.FrFR}}</span>
                                                            <span
                                                                *ngIf="event?.language == 'de_DE'">{{document.name.DeDE}}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <br><br>
                                            </div>

                                            <div class="filter-document" *ngIf="selectedDocument.length > 0">
                                                <div class="chip-doc" *ngFor="let theDocument of selectedDocument">
                                                    <img src="../../../../../../assets/images/{{theDocument.icon}}"
                                                        width="35" height="35" alt="Icon" class="doc-icon">
                                                    <span
                                                        *ngIf="event?.language == 'pt_BR'">{{theDocument.name.PtBR}}</span>
                                                    <span
                                                        *ngIf="event?.language == 'en_US'">{{theDocument.name.EnUS}}</span>
                                                    <span
                                                        *ngIf="event?.language == 'es_ES'">{{theDocument.name.EsES}}</span>
                                                    <span
                                                        *ngIf="event?.language == 'fr_FR'">{{theDocument.name.FrFR}}</span>
                                                    <span
                                                        *ngIf="event?.language == 'de_DE'">{{theDocument.name.DeDE}}</span>
                                                    <span class="closebtn"
                                                        (click)="removeDocument(theDocument)">&times;</span>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>






                                </div>

                                <!-- start custom field -->
                                <div class="row" *ngIf="listCustomFields.length >= 1">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row" *ngFor="let item of listCustomFields; let i = index">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" *ngIf="item.type == 'text'">
                                                    <label>{{item.name[principalEventLanguageFormated]}}</label>
                                                    <input placeholder="..."
                                                        [(ngModel)]="item.textValue[principalEventLanguageFormated]"
                                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                                        type="text">
                                                </div>

                                                <div class="form-group" *ngIf="item.type == 'select'">
                                                    <label>{{item.name[principalEventLanguageFormated]}}</label>
                                                    <select class="form-control" [(ngModel)]="item.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option [value]="option.uid"
                                                            *ngFor="let option of listCustomFieldsOptions[i];">
                                                            {{option.answer[principalEventLanguageFormated]}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish custom field -->

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="accordion" id="accordionExample">
                                            <div class="card">
                                                <div class="card-header card-header-collapse" id="headingOne">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-collapse" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="true" aria-controls="collapseOne">
                                                            {{"global.social_infos" | translate}}
                                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12">
                                                                <div class="form-group">
                                                                    <label>{{"global.site" | translate}}</label>
                                                                    <input class="form-control"
                                                                        [formControl]="formValidation.controls['website']"
                                                                        type="text"
                                                                        placeholder='{{"global.site" | translate}}'>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{"global.linkedin" | translate}}</label>
                                                                    <input class="form-control"
                                                                        [formControl]="formValidation.controls['linkedin']"
                                                                        type="text"
                                                                        placeholder='{{"global.linkedin" | translate}}'>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{"global.twitter" | translate}}</label>
                                                                    <input class="form-control"
                                                                        [formControl]="formValidation.controls['twitter']"
                                                                        type="text"
                                                                        placeholder='{{"global.twitter" | translate}}'>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{"global.facebook" | translate}}</label>
                                                                    <input class="form-control"
                                                                        [formControl]="formValidation.controls['facebook']"
                                                                        type="text"
                                                                        placeholder='{{"global.facebook" | translate}}'>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{"global.instagram" | translate}}</label>
                                                                    <input class="form-control"
                                                                        [formControl]="formValidation.controls['instagram']"
                                                                        type="text"
                                                                        placeholder='{{"global.instagram" | translate}}'>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.description" | translate}}</label>
                                            <ckeditor [formControl]="formValidation.controls['description_ptBR']"
                                                *ngIf="event?.language == 'pt_BR'">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                            <ckeditor [formControl]="formValidation.controls['description_enUS']"
                                                *ngIf="event?.language == 'en_US'">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                            <ckeditor [formControl]="formValidation.controls['description_es_ES']"
                                                *ngIf="event?.language == 'es_ES'">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                            <ckeditor [formControl]="formValidation.controls['description_fr_FR']"
                                                *ngIf="event?.language == 'fr_FR'">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                            <ckeditor [formControl]="formValidation.controls['description_deDE']"
                                                *ngIf="event?.language == 'de_DE'">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- additional data - portuguese -->
                <div class="tab-pane fade" id="translate-pt" role="tabpanel" aria-labelledby="translate-pt-tab">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="formValidation">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.title" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_ptBR']" type="text"
                                                placeholder='{{"global.title" | translate}}'>
                                        </div>
                                    </div>
                                </div>
                                <!-- start custom field -->
                                <div class="row" *ngIf="listCustomFields.length >= 1">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row" *ngFor="let item of listCustomFields; let i = index">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" *ngIf="item.type == 'text'">
                                                    <label>{{item.name.PtBR}}</label>
                                                    <input placeholder="..." [(ngModel)]="item.textValue.PtBR"
                                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                                        type="text">
                                                </div>

                                                <div class="form-group" *ngIf="item.type == 'select'">
                                                    <label>{{item.name.PtBR}}</label>
                                                    <select class="form-control" [(ngModel)]="item.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option [value]="option.uid"
                                                            *ngFor="let option of listCustomFieldsOptions[i];">
                                                            {{option.answer.PtBR}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish custom field -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.description" | translate}}</label>
                                            <ckeditor [formControl]="formValidation.controls['description_ptBR']">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- additional data - english -->
                <div class="tab-pane fade" id="translate-en" role="tabpanel" aria-labelledby="translate-en-tab">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="formValidation">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.title" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_enUS']" type="text"
                                                placeholder='{{"global.title" | translate}}'>
                                        </div>
                                    </div>
                                </div>
                                <!-- start custom field -->
                                <div class="row" *ngIf="listCustomFields.length >= 1">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row" *ngFor="let item of listCustomFields; let i = index">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" *ngIf="item.type == 'text'">
                                                    <label>{{item.name.EnUS}}</label>
                                                    <input placeholder="..." [(ngModel)]="item.textValue.EnUS"
                                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                                        type="text">
                                                </div>

                                                <div class="form-group" *ngIf="item.type == 'select'">
                                                    <label>{{item.name.EnUS}}</label>
                                                    <select class="form-control" [(ngModel)]="item.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option [value]="option.uid"
                                                            *ngFor="let option of listCustomFieldsOptions[i];">
                                                            {{option.answer.EnUS}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish custom field -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.description" | translate}}</label>
                                            <ckeditor [formControl]="formValidation.controls['description_enUS']">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- additional data - spanish -->
                <div class="tab-pane fade" id="translate-es" role="tabpanel" aria-labelledby="translate-es-tab">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="formValidation">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.title" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_esES']" type="text"
                                                placeholder='{{"global.title" | translate}}'>
                                        </div>
                                    </div>
                                </div>
                                <!-- start custom field -->
                                <div class="row" *ngIf="listCustomFields.length >= 1">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row" *ngFor="let item of listCustomFields; let i = index">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" *ngIf="item.type == 'text'">
                                                    <label>{{item.name.EsES}}</label>
                                                    <input placeholder="..." [(ngModel)]="item.textValue.EsES"
                                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                                        type="text">
                                                </div>

                                                <div class="form-group" *ngIf="item.type == 'select'">
                                                    <label>{{item.name.EsES}}</label>
                                                    <select class="form-control" [(ngModel)]="item.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option [value]="option.uid"
                                                            *ngFor="let option of listCustomFieldsOptions[i];">
                                                            {{option.answer.EsES}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish custom field -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.description" | translate}}</label>
                                            <ckeditor [formControl]="formValidation.controls['description_esES']">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- additional data - french -->
                <div class="tab-pane fade" id="translate-fr" role="tabpanel" aria-labelledby="translate-fr-tab">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="formValidation">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.title" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_frFR']" type="text"
                                                placeholder='{{"global.title" | translate}}'>
                                        </div>
                                    </div>
                                </div>
                                <!-- start custom field -->
                                <div class="row" *ngIf="listCustomFields.length >= 1">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row" *ngFor="let item of listCustomFields; let i = index">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" *ngIf="item.type == 'text'">
                                                    <label>{{item.name.FrFR}}</label>
                                                    <input placeholder="..." [(ngModel)]="item.textValue.FrFR"
                                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                                        type="text">
                                                </div>

                                                <div class="form-group" *ngIf="item.type == 'select'">
                                                    <label>{{item.name.FrFR}}</label>
                                                    <select class="form-control" [(ngModel)]="item.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option [value]="option.uid"
                                                            *ngFor="let option of listCustomFieldsOptions[i];">
                                                            {{option.answer.FrFR}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish custom field -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.description" | translate}}</label>
                                            <ckeditor [formControl]="formValidation.controls['description_frFR']">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- additional data - german -->
                <div class="tab-pane fade" id="translate-pt" role="tabpanel" aria-labelledby="translate-de-tab">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="formValidation">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.title" | translate}}</label>
                                            <input class="form-control"
                                                [formControl]="formValidation.controls['title_deDE']" type="text"
                                                placeholder='{{"global.title" | translate}}'>
                                        </div>
                                    </div>
                                </div>
                                <!-- start custom field -->
                                <div class="row" *ngIf="listCustomFields.length >= 1">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row" *ngFor="let item of listCustomFields; let i = index">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" *ngIf="item.type == 'text'">
                                                    <label>{{item.name.DeDE}}</label>
                                                    <input placeholder="..." [(ngModel)]="item.textValue.DeDE"
                                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                                        type="text">
                                                </div>

                                                <div class="form-group" *ngIf="item.type == 'select'">
                                                    <label>{{item.name.DeDE}}</label>
                                                    <select class="form-control" [(ngModel)]="item.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option [value]="option.uid"
                                                            *ngFor="let option of listCustomFieldsOptions[i];">
                                                            {{option.answer.DeDE}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish custom field -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>{{"global.description" | translate}}</label>
                                            <ckeditor [formControl]="formValidation.controls['description_deDE']">
                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                    [toolbar]="'clipboard,1'"></ckbutton>
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header text-center">
                    <span class="text-bold">{{"global.btn_profile" | translate}}</span>
                </div>
                <div class="card-body text-center">
                    <div class="avatar-area">
                        <ngx-avatar size="80" initialsSize="2" name='{{"global.name" | translate}}'
                            *ngIf="formValidation.value.name == null && croppedImage == null && croppedImage == undefined">
                        </ngx-avatar>
                        <ngx-avatar size="80" initialsSize="2" name="{{formValidation.value.name}}"
                            *ngIf="formValidation.value.name && croppedImage == null && croppedImage == undefined">
                        </ngx-avatar>
                        <img class="default-avatar-create" [src]="croppedImage" *ngIf="croppedImage">
                    </div>
                    <div class="divider-avatar"></div>
                    <div class="upload-btn-wrapper">
                        <a class="pic-style" data-toggle="modal" data-target="#selectPicture" data-backdrop="static"
                            data-keyboard="false"><i class="material-icons">photo_camera</i> &nbsp; {{"global.select_picture" |
              translate}}</a>
                    </div>
                    <h4 class="user-name">{{formValidation.value.name}}</h4>
                    <h6 class="user-email">{{formValidation.value.email}} <span
                            *ngIf="formValidation.value.email && formValidation.value.emailRecovery">|</span>
                        {{formValidation.value.emailRecovery}}
                    </h6>
                    <h6 class="user-email">
                        <span *ngIf="userLanguage == 'pt_BR'">{{formValidation.value.title.PtBR}}</span>
                        <span *ngIf="userLanguage == 'en_US'">{{formValidation.value.title.EnUS}}</span>
                        <span *ngIf="userLanguage == 'es_ES'">{{formValidation.value.title.EsES}}</span>
                        <span *ngIf="userLanguage == 'fr_FR'">{{formValidation.value.title.FrFR}}</span>
                        <span *ngIf="userLanguage == 'de_DE'">{{formValidation.value.title.DeDE}}</span>
                        <span *ngIf="formValidation.value.title && formValidation.value.company">-</span>
                        {{formValidation.value.company}}
                    </h6>
                    <h6 class="user-email"><a href="{{formValidation.value.site}}"
                            target="_blank">{{formValidation.value.site}}</a></h6>
                    <h6 class="user-description" [innerHTML]="formValidation.value.description_ptBR | safeHtml"
                        *ngIf="userLanguage == 'pt_BR'"></h6>
                    <h6 class="user-description" [innerHTML]="formValidation.value.description_enUS | safeHtml"
                        *ngIf="userLanguage== 'en_US'"></h6>
                    <h6 class="user-description" [innerHTML]="formValidation.value.description_esES | safeHtml"
                        *ngIf="userLanguage== 'es_ES'"></h6>
                    <h6 class="user-description" [innerHTML]="formValidation.value.description_frFR | safeHtml"
                        *ngIf="userLanguage== 'fr_FR'"></h6>
                    <h6 class="user-description" [innerHTML]="formValidation.value.description_deDE | safeHtml"
                        *ngIf="userLanguage== 'de_DE'"></h6>
                    <br>
                    <button type="submit" class="btn btn-secondary btn-center"
                        (click)="createAttendee(formValidation.value)" [disabled]="!formValidation.valid"
                        *ngIf="loader == false">{{"global.btn_create" | translate}}</button>
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal success -->
    <swal #successSwal title='{{"global.modals.success" | translate}}'
        text='{{"global.modals.success_message" | translate}}' icon="success"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F"
        (confirm)="redirectList()" [showCancelButton]="false">
    </swal>

    <!-- modal error -->
    <swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
        icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- modal e-mail error -->
    <swal #errorEmailSwal title='{{"global.modals.error" | translate}}' text='Esse e-mail já existe' icon="error"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- modal e-mail error -->
    <swal #errorEmailAdmSwal title='{{"global.modals.error" | translate}}'
        text='Não é possivel criar um participante com esse e-mail' icon="error"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- modal e-mail in speakers error -->
    <swal #errorEmailSpeakerSwal title='{{"global.modals.error" | translate}}'
        text='{{"global.modals.email_exist_in_speakers" | translate}}' icon="error"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- modal identifier error -->
    <swal #errorIdentifierSwal title='{{"global.modals.error" | translate}}' text='Esse identificador já existe'
        icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- Modal Select Picture -->
    <div class="modal fade" id="selectPicture" tabindex="-1" role="dialog" aria-labelledby="selectPictureLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <strong>Foto de perfil</strong>
                        <button type="button" class="close" (click)="clearCropper()" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="profilePic"
                            (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .gif" />
                        <label class="custom-file-label" for="customFile" *ngIf="fileName == null">
                            {{"global.select_picture" | translate}}</label>
                        <label class="custom-file-label" for="customFile" *ngIf="fileName !== null">{{fileName}}</label>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="invalidSizeImg == false">
                        <small>{{"global.img_size_alert" | translate}}</small>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="invalidSizeImg == true">
                        {{"global.img_size_above_allowed" | translate}}
                    </div>
                    <br>
                    <div class="text-center" *ngIf="cropperShow == true">
                        <image-cropper style="width: 450px; height: 450px;" #cropper
                            [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [roundCropper]="true"
                            [aspectRatio]="1/1" [resizeToWidth]="450" format="png,jpeg"
                            (imageCropped)="imageCropped($event)"></image-cropper>

                        <img style="width: 450px; height: auto; border-radius: 100%" [src]="croppedImage" />
                        <br><br>
                        <button class="btn btn-custom float-right"
                            (click)="saveProfilePicture()">{{"global.btn_save" | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>