<body>
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formValidation">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="accordion" id="accordionCustomField">
                                        <div class="card">
                                            <div class="card-header card-header-collapse" id="headingTitle">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-collapse" type="button"
                                                        data-toggle="collapse" data-target="#collapseTitle"
                                                        aria-expanded="true" aria-controls="collapseTitle">
                                                        {{"global.title_" | translate}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapseTitle" class="collapse show" aria-labelledby="headingTitle"
                                                data-parent="#accordionTitle">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div *ngFor="let l of languages; let i = index"
                                                            class="col-sm-12 col-md-12">
                                                            <div *ngIf="l.value == 'pt_BR' && event?.languages?.PtBR"
                                                                class="form-group">
                                                                <label>{{"global.title_pt_br" | translate}}</label>
                                                                <input class="form-control"
                                                                    [formControl]="formValidation.controls['title_pt_br']"
                                                                    type="text"
                                                                    placeholder='{{"global.title_pt_br" | translate}}'>
                                                            </div>


                                                            <div *ngIf="l.value == 'en_US' && event?.languages?.EnUS"
                                                                class="form-group">
                                                                <label>{{"global.title_en_us" | translate}}</label>
                                                                <input class="form-control"
                                                                    [formControl]="formValidation.controls['title_en_us']"
                                                                    type="text"
                                                                    placeholder='{{"global.title_en_us" | translate}}'>
                                                            </div>

                                                            <div *ngIf="l.value == 'es_ES' && event?.languages?.EsES"
                                                                class="form-group">
                                                                <label>{{"global.title_es_es" | translate}}</label>
                                                                <input class="form-control"
                                                                    [formControl]="formValidation.controls['title_es_es']"
                                                                    type="text"
                                                                    placeholder='{{"global.title_es_es" | translate}}'>
                                                            </div>

                                                            <div *ngIf="l.value == 'fr_FR' && event?.languages?.FrFR"
                                                                class="form-group">
                                                                <label>{{"global.title_fr_fr" | translate}}</label>
                                                                <input class="form-control"
                                                                    [formControl]="formValidation.controls['title_fr_fr']"
                                                                    type="text"
                                                                    placeholder='{{"global.title_fr_fr" | translate}}'>
                                                            </div>

                                                            <div *ngIf="l.value == 'de_DE' && event?.languages?.DeDE"
                                                                class="form-group">
                                                                <label>{{"global.title_de_de" | translate}}</label>
                                                                <input class="form-control"
                                                                    [formControl]="formValidation.controls['title_de_de']"
                                                                    type="text"
                                                                    placeholder='{{"global.title_de_de" | translate}}'>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.date" | translate}}</label>
                                    <input class="form-control" [formControl]="formValidation.controls['date']"
                                        type="date">
                                </div>

                                <div *ngIf="datePast" class="alert alert-danger red-text text-darken-3 left-align">
                                    {{"global.invalid_date_session" | translate}}
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.start_time" | translate}}</label>
                                    <input class="form-control" [formControl]="formValidation.controls['startTime']"
                                        type="time" step="1" placeholder='{{"global.start_time" | translate}}'>
                                </div>

                                <div *ngIf="timeError" class="alert alert-danger red-text text-darken-3 left-align">
                                    {{"global.time_error" | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.end_time" | translate}}</label>
                                    <input class="form-control" [formControl]="formValidation.controls['finalTime']"
                                        type="time" step="1" placeholder='{{"global.end_time" | translate}}'>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.locations" | translate}}</label>
                                    <input class="form-control" [formControl]="formValidation.controls['locations']"
                                        type="text" [(ngModel)]=queryLocation (keyup)=filterLocations()
                                        placeholder='{{"global.locations" | translate}}'>
                                </div>

                                <div class="alert-danger" *ngIf="errorFormLocation">
                                    <i
                                        class="material-icons size-of-error-icons">error</i>{{"comp.create_session.invalid_location" | translate}}
                                </div>

                                <div class="filter-location" *ngIf="filteredListLocations.length > 0">
                                    <ul>
                                        <li *ngFor="let item of filteredListLocations">
                                            <div class="chip">
                                                <img src={{item.image}} width="96" height="96"
                                                    *ngIf="item.image !== ''">
                                                <img src="../../../../../assets/images/location-vector.svg" width="96"
                                                    height="96" *ngIf="item.image == ''">
                                                <a (click)="selectLocation(item)">
                                                    {{item.name}}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                                <div class="filter-location">
                                    <span *ngFor="let item of selectedLocations" class="chip">
                                        <img src={{item.image}} width="96" height="96" *ngIf="item.image !== ''">
                                        <img src="../../../../../assets/images/location-vector.svg" width="96"
                                            height="96" *ngIf="item.image == ''">
                                        {{item.name}}
                                        <a (click)="removeLocation(item)">
                                            <i class="material-icons closebtn">close</i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.tracks" | translate}}</label>
                                    <input class="form-control" [formControl]="formValidation.controls['tracks']"
                                        type="text" [(ngModel)]=queryTrack (keyup)=filterTracks()
                                        placeholder='{{"global.tracks" | translate}}'>
                                </div>

                                <div class="alert-danger" *ngIf="errorFormTrack">
                                    <i
                                        class="material-icons size-of-error-icons">error</i>{{"comp.create_session.invalid_track" | translate}}
                                </div>

                                <div class="filter-location" *ngIf="filteredListTrack.length > 0">
                                    <ul>
                                        <li *ngFor="let track of filteredListTrack">
                                            <div class="track-name" [style.background]="track.bgColor"
                                                [style.color]="track.txtColor">
                                                <a (click)="selectTrack(track)">
                                                    {{track.name[principalEventLangFormated]}}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                                <div class="filter-track">
                                    <span *ngFor="let theTrack of selectedTrack" class="track-name"
                                        [style.background]="theTrack.bgColor" [style.color]="theTrack.txtColor">
                                        {{theTrack.name[principalEventLangFormated]}}
                                        <a (click)="removeTrack(theTrack)">
                                            <i class="material-icons closebtn">close</i>
                                        </a>
                                    </span>
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>{{"global.groups" | translate}}</label>
                                        <input type="text" class="form-control"
                                            [formControl]="formValidation.controls['groups']" [(ngModel)]=queryGroup
                                            (keyup)=filterGroups() placeholder='{{"global.groups" | translate}}' />
                                    </div>
                                    <div class="form-group">
                                        <div class="filter-group" *ngIf="filteredListGroups.length > 0">
                                            <ul>
                                                <li *ngFor="let group of filteredListGroups">
                                                    <div class="group-name" [style.background]="group.bgColor"
                                                        [style.color]="group.txtColor">
                                                        <a (click)="selectGroup(group)">
                                                            {{group.name}}
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                            <br><br>
                                        </div>


                                        <div class="filter-group" *ngIf="selectedGroup.length > 0">
                                            <span *ngFor="let theGroup of selectedGroup" class="group-name"
                                                [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                                                {{theGroup.name}}
                                                <a (click)="removeGroup(theGroup)">
                                                    <i class="material-icons closebtn">close</i>
                                                </a>
                                            </span>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.speakers" | translate}}</label>
                                    <input class="form-control" type="text"
                                        placeholder='{{"global.speakers" | translate}}'
                                        [formControl]="formValidation.controls['speakers']" [(ngModel)]=querySpeaker
                                        (keyup)=filterSpeakers()>
                                </div>

                                <div class="alert-danger" *ngIf="errorFormSpeaker">
                                    <i
                                        class="material-icons size-of-error-icons">error</i>{{"comp.create_session.invalid_speaker" | translate}}
                                </div>

                                <div class="form-group">
                                    <div class="filter-group" *ngIf="filteredListSpeakers.length > 0">
                                        <ul *ngFor="let speaker of filteredListSpeakers">
                                            <li>
                                                <div class="chip">
                                                    <a (click)="selectSpeaker(speaker)">{{speaker.name}}</a>
                                                </div>
                                            </li>
                                        </ul>
                                        <br><br>
                                    </div>


                                    <div class="filter-group" *ngIf="selectedSpeaker.length > 0">
                                        <span *ngFor="let speaker of selectedSpeaker" class="chip">
                                            {{speaker.name}}
                                            <a (click)="removeSelectedSpeakers(speaker)">
                                                <i class="material-icons closebtn">close</i>
                                            </a>
                                        </span>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.documents" | translate}}</label>
                                    <input class="form-control" type="text"
                                        placeholder='{{"global.documents" | translate}}'
                                        [formControl]="formValidation.controls['documents']" [(ngModel)]=queryDocument
                                        (keyup)=filterDocuments()>
                                </div>

                                <div class="alert-danger" *ngIf="errorFormDocument">
                                    <i
                                        class="material-icons size-of-error-icons">error</i>{{"comp.create_session.invalid_document" | translate}}
                                </div>

                                <div class="form-group">
                                    <div class="filter-group" *ngIf="filteredListDocuments.length > 0">
                                        <ul *ngFor="let document of filteredListDocuments">
                                            <li>
                                                <div class="chip">
                                                    <a (click)="selectDocument(document)">
                                                        <span
                                                            *ngIf="event?.language == 'pt_BR'">{{document.name.PtBR}}</span>
                                                        <span
                                                            *ngIf="event?.language == 'en_US'">{{document.name.EnUS}}</span>
                                                        <span
                                                            *ngIf="event?.language == 'es_ES'">{{document.name.EsES}}</span>
                                                        <span
                                                            *ngIf="event?.language == 'fr_FR'">{{document.name.FrFR}}</span>
                                                        <span
                                                            *ngIf="event?.language == 'de_DE'">{{document.name.DeDE}}</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <br><br>
                                    </div>


                                    <div class="filter-group" *ngIf="selectedDocument.length > 0">
                                        <span *ngFor="let document of selectedDocument" class="chip">
                                            <span *ngIf="event?.language == 'pt_BR'">{{document.name.PtBR}}</span>
                                            <span *ngIf="event?.language == 'en_US'">{{document.name.EnUS}}</span>
                                            <span *ngIf="event?.language == 'es_ES'">{{document.name.EsES}}</span>
                                            <span *ngIf="event?.language == 'fr_FR'">{{document.name.FrFR}}</span>
                                            <span *ngIf="event?.language == 'de_DE'">{{document.name.DeDE}}</span>
                                            <a (click)="removeSelectedDocuments(document)">
                                                <i class="material-icons closebtn">close</i>
                                            </a>
                                        </span>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{{"global.total_attendees" | translate}}</label>
                                    <input class="form-control"
                                        [formControl]="formValidation.controls['totalAttendees']" type="number"
                                        placeholder='{{"global.total_attendees" | translate}}'>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="accordion" id="accordionCustomField">
                                    <div class="card">
                                        <div class="card-header card-header-collapse" id="headingCustomField">
                                            <h2 class="mb-0">
                                                <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                                    data-target="#collapseCustomField" aria-expanded="true"
                                                    aria-controls="collapseCustomField">
                                                    {{"global.description" | translate}}
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseCustomField" class="collapse show"
                                            aria-labelledby="headingCustomField" data-parent="#accordionCustomField">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div *ngFor="let l of languages; let i = index"
                                                        class="input-field description-area">
                                                        <label *ngIf="l.value == 'de_DE' && event?.languages?.DeDE"
                                                            for="description">{{"global.description" |
                              translate}}
                                                            {{ "global.in" | translate }}
                                                            {{"comp.event_info.german" | translate}}</label>
                                                        <ckeditor *ngIf="l.value == 'de_DE' && event?.languages?.DeDE"
                                                            [(ngModel)]="descriptionLanguage_de_DE"
                                                            [formControl]="formValidation.controls['descriptionlanguages_de_DE']">
                                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                [toolbar]="'clipboard,1'">
                                                            </ckbutton>
                                                        </ckeditor>

                                                        <label *ngIf="l.value == 'en_US' && event?.languages?.EnUS"
                                                            for="description">{{"global.description" |
                              translate}}
                                                            {{ "global.in" | translate }}
                                                            {{"comp.event_info.english" | translate}}</label>
                                                        <ckeditor *ngIf="l.value == 'en_US' && event?.languages?.EnUS"
                                                            [(ngModel)]="descriptionLanguage_en_US"
                                                            [formControl]="formValidation.controls['descriptionlanguages_en_US']">
                                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                [toolbar]="'clipboard,1'">
                                                            </ckbutton>
                                                        </ckeditor>

                                                        <label *ngIf="l.value == 'es_ES' && event?.languages?.EsES"
                                                            for="description">{{"global.description" |
                              translate}}
                                                            {{ "global.in" | translate }}
                                                            {{"comp.event_info.spanish" | translate}}</label>
                                                        <ckeditor *ngIf="l.value == 'es_ES' && event?.languages?.EsES"
                                                            [(ngModel)]="descriptionLanguage_es_ES"
                                                            [formControl]="formValidation.controls['descriptionlanguages_es_ES']">
                                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                [toolbar]="'clipboard,1'">
                                                            </ckbutton>
                                                        </ckeditor>

                                                        <label *ngIf="l.value == 'fr_FR' && event?.languages?.FrFR"
                                                            for="description">{{"global.description" |
                              translate}}
                                                            {{ "global.in" | translate }}
                                                            {{"comp.event_info.french" | translate}}</label>
                                                        <ckeditor *ngIf="l.value == 'fr_FR' && event?.languages?.FrFR"
                                                            [(ngModel)]="descriptionLanguage_fr_FR"
                                                            [formControl]="formValidation.controls['descriptionlanguages_fr_FR']">
                                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                [toolbar]="'clipboard,1'">
                                                            </ckbutton>
                                                        </ckeditor>

                                                        <label *ngIf="l.value == 'pt_BR' && event?.languages?.PtBR"
                                                            for="description">{{"global.description" |
                              translate}}
                                                            {{ "global.in" | translate }}
                                                            {{"comp.event_info.portuguese" | translate}}</label>
                                                        <ckeditor *ngIf="l.value == 'pt_BR' && event?.languages?.PtBR"
                                                            [(ngModel)]="descriptionLanguage_pt_BR"
                                                            [formControl]="formValidation.controls['descriptionlanguages_pt_BR']">
                                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'"
                                                                [toolbar]="'clipboard,1'">
                                                            </ckbutton>
                                                        </ckeditor>
                                                    </div>



                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header text-center">
                    <span class="text-bold">{{"global.resume" | translate}}</span>
                </div>
                <div class="card-body text-center">
                    <h4 class="user-name">{{formValidation.value.title}}</h4>
                    <h6 class="user-email">{{formValidation.value.locations}}</h6>
                    <h6 class="user-email">{{formValidation.value.date}}</h6>
                    <h6 class="user-email">{{formValidation.value.startTime}} <span
                            *ngIf="formValidation.value.startTime && formValidation.value.finalTime">-</span>
                        {{formValidation.value.finalTime}}
                    </h6>
                    <h6 class="user-email">
                        <!-- show session locations -->
                    </h6>
                    <h6 class="user-email">
                        <!-- show session groups  -->
                    </h6>
                    <h6 class="user-email">
                        <!-- show session tracks  -->
                    </h6>
                    <h6 class="user-email">
                        <!-- show session documents -->
                    </h6>
                    <br>
                    <button type="submit" class="btn btn-secondary btn-center"
                        (click)="createSession(formValidation.value)" [disabled]="!formValidation.valid"
                        *ngIf="loader == false">{{"global.btn_create" | translate}}</button>
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>

                    <br>
                    <div *ngIf="createSessionError" class="alert alert-danger red-text text-darken-3 left-align">
                        {{"comp.create_session.error_create_session" | translate}}
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="event?.allow_visio && module?.allowVisio">
                <div class="col-sm-12 col-md-12">
                    <div class="accordion" id="accordionWhereby">
                        <div class="card">
                            <div class="card-header card-header-collapse" id="headingWhereby">
                                <h2 class="mb-0">
                                    <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                        data-target="#collapseWhereby" aria-expanded="true"
                                        aria-controls="collapseWhereby">
                                        {{"global.visio-conference" | translate}}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseWhereby" class="collapse show" aria-labelledby="headingWhereby"
                                data-parent="#accordionWhereby">
                                <div class="card-body">
                                    <form [formGroup]="wherebyForm">
                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-name" | translate}}*</label>
                                                <input class="form-control" formControlName="name" type="text"
                                                    placeholder='{{"comp.edit-schedule.visio-name" | translate}}'>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-url" | translate}}</label>
                                                <input class="form-control" type="text" formControlName="url"
                                                    placeholder='{{"comp.edit-schedule.visio-url" | translate}}'
                                                    readonly>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{"global.start_date" | translate}}*</label>
                                                    <input class="form-control" formControlName="startDate" type="date"
                                                        step="1" placeholder='{{"global.start_date" | translate}}'>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{"global.end_date" | translate}}*</label>
                                                    <input class="form-control" formControlName="endDate" type="date"
                                                        step="1" placeholder='{{"global.end_date" | translate}}'>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-num-participants" | translate}}</label>
                                                <select class="form-control" formControlName="mode">
                                                    <option value="normal">{{"comp.edit-schedule.less-4" | translate}}
                                                    </option>
                                                    <option value="group">{{"comp.edit-schedule.more-4" | translate}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-allow-chat" | translate}}</label>
                                                <select class="form-control" formControlName="allowChatOnVisio">
                                                    <option [ngValue]="true">{{"global.yes_btn" | translate}}
                                                    </option>
                                                    <option [ngValue]="false">{{"global.no_btn" | translate}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-allow-screenshare" | translate}}</label>
                                                <select class="form-control" formControlName="allowScreenShareOnVisio">
                                                    <option [ngValue]="true">{{"global.yes_btn" | translate}}
                                                    </option>
                                                    <option [ngValue]="false">{{"global.no_btn" | translate}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-allow-leave" | translate}}</label>
                                                <select class="form-control" formControlName="allowLeaveOnVisio">
                                                    <option [ngValue]="true">{{"global.yes_btn" | translate}}
                                                    </option>
                                                    <option [ngValue]="false">{{"global.no_btn" | translate}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{"comp.edit-schedule.visio-activation" | translate}}</label>
                                                <select class="form-control" formControlName="activated">
                                                    <option [ngValue]="true">{{"global.yes_btn" | translate}}
                                                    </option>
                                                    <option [ngValue]="false">{{"global.no_btn" | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal success -->
    <swal #successSwal title='{{"global.modals.success" | translate}}'
        text='{{"global.modals.success_message" | translate}}' icon="success"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F"
        (confirm)="redirectList()" [showCancelButton]="false">
    </swal>

    <!-- modal error -->
    <swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
        icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>
</body>