<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!-- tabs geral and session -->
            <ul
                class="nav nav-tabs float-right"
                id="myAskQuestionTab"
                role="tablist"
            >
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        id="geral-question-tab"
                        data-toggle="tab"
                        href="#geral-question"
                        role="tab"
                        aria-controls="geral-question"
                        aria-selected="true"
                        >{{ 'global.geral' | translate }}</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        id="session-question-tab"
                        data-toggle="tab"
                        href="#session-question"
                        role="tab"
                        aria-controls="session-question"
                        aria-selected="false"
                        >{{ 'global.sessions' | translate }}</a
                    >
                </li>
            </ul>

            <div class="tab-content" id="myAskQuestionTabContent">
                <!-- geral tab -->
                <div
                    class="tab-pane fade show active"
                    id="geral-question"
                    role="tabpanel"
                    aria-labelledby="geral-question-tab"
                >
                    <br /><br />
                    <!-- geral list and result tab -->
                    <ul
                        class="nav nav-tabs float-left"
                        id="geralTabAskQuestionN"
                        role="tablist"
                    >
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                id="geral-question-list-tab"
                                data-toggle="tab"
                                href="#geral-question-list"
                                role="tab"
                                aria-controls="geral-question-list"
                                aria-selected="true"
                                >{{ 'global.listing' | translate }}</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                id="geral-question-result-tab"
                                data-toggle="tab"
                                href="#geral-question-result"
                                role="tab"
                                aria-controls="geral-question-result"
                                aria-selected="false"
                                >{{ 'global.results' | translate }}</a
                            >
                        </li>
                    </ul>
                    <br /><br />

                    <div
                        class="onReorder-btn-save text-center"
                        *ngIf="onReorderShow == true"
                    >
                        <!--  -->
                        <div
                            class="alert alert-light"
                            *ngIf="loaderOrder == false"
                        >
                            {{ 'global.remind_save_changes' | translate }}
                            <br />
                            <button
                                class="btn btn-custom btn-margin-top"
                                (click)="saveNewOrder()"
                            >
                                {{ 'global.btn_save' | translate }}
                            </button>
                        </div>

                        <div class="align-loader" *ngIf="loaderOrder == true">
                            <div class="loader-default"></div>
                        </div>
                    </div>

                    <div class="tab-content" id="geralTabAskQuestionNContent">
                        <div
                            class="tab-pane fade show active"
                            id="geral-question-list"
                            role="tabpanel"
                            aria-labelledby="geral-question-list-tab"
                        >
                            <!-- start content of geral list tab-->
                            <div class="row text-center">
                                <div class="col-sm-12 col-md-6">
                                    <button
                                        class="btn btn-custom btn-margin-right-default float-left"
                                        data-toggle="modal"
                                        data-target="#newAsk"
                                    >
                                        {{ 'global.btn_new' | translate }}
                                    </button>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="buttons-disable-enable">
                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.on_all'
                                                    | translate
                                            }}"
                                            (click)="enableAll()"
                                        >
                                            <i
                                                class="material-icons icon-size true-icon"
                                                >visibility</i
                                            >
                                        </button>

                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.off_all'
                                                    | translate
                                            }}"
                                            (click)="disableAll()"
                                        >
                                            <i
                                                class="material-icons icon-size false-icon"
                                                >visibility_off</i
                                            >
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-2">
                                    <div class="buttons-disable-enable">
                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.on_all'
                                                    | translate
                                            }}"
                                            (click)="enableAllModerate()"
                                        >
                                            <i
                                                class="material-icons icon-size true-icon"
                                                >visibility</i
                                            >
                                        </button>

                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.off_all'
                                                    | translate
                                            }}"
                                            (click)="disableAllModerate()"
                                        >
                                            <i
                                                class="material-icons icon-size false-icon"
                                                >visibility_off</i
                                            >
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-2">
                                    <div class="buttons-disable-enable">
                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.on_all'
                                                    | translate
                                            }}"
                                            (click)="enableAllAnonymous()"
                                        >
                                            <i class="material-icons icon-size true-icon">visibility</i>
                                        </button>

                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.off_all'
                                                    | translate
                                            }}"
                                            (click)="disableAllAnonymous()"
                                        >
                                            <i
                                                class="material-icons icon-size false-icon"
                                                >visibility_off</i
                                            >
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="card-header custom-card-header">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <strong>{{
                                                    'global.name' | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>{{
                                                    'global.visibility'
                                                        | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>{{
                                                    'global.moderate'
                                                        | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>{{
                                                    'global.anonymous'
                                                        | translate
                                                }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div
                                [dragula]="'bag-questions'"
                                [dragulaModel]="questions"
                            >
                                <div
                                    *ngFor="
                                        let question of questions;
                                        let i = index
                                    "
                                >
                                    <div class="row">
                                        <!-- <div class="col-sm-2 col-md-2">
                                            
                                        </div> -->

                                        <div class="col-sm-6 col-md-6">
                                            <i class="material-icons drag-icon"
                                                >drag_indicator</i
                                            >&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="session-quest-name">{{
                                                question.name[activeLanguage]
                                            }}</span>
                                        </div>

                                        <div
                                            class="col-sm-2 col-md-2 text-center"
                                        >
                                            <ui-switch
                                                color="#1FC94F"
                                                size="small"
                                                (change)="
                                                    changeVisibility(question)
                                                "
                                                checked
                                                *ngIf="
                                                    question.visibility == true
                                                "
                                            ></ui-switch>
                                            <ui-switch
                                                color="#1FC94F"
                                                size="small"
                                                (change)="
                                                    changeVisibility(question)
                                                "
                                                *ngIf="
                                                    question.visibility == false
                                                "
                                            ></ui-switch>
                                        </div>

                                        <div
                                            class="col-sm-2 col-md-2 text-center"
                                        >
                                            <ui-switch
                                                color="#1FC94F"
                                                size="small"
                                                (change)="
                                                    changeModerate(question)
                                                "
                                                checked
                                                *ngIf="
                                                    question.moderate == true
                                                "
                                            ></ui-switch>
                                            <ui-switch
                                                color="#1FC94F"
                                                size="small"
                                                (change)="
                                                    changeModerate(question)
                                                "
                                                *ngIf="
                                                    question.moderate == false
                                                "
                                            ></ui-switch>
                                        </div>

                                        <div
                                            class="col-sm-2 col-md-2 text-center"
                                        >
                                            <ui-switch
                                                color="#1FC94F"
                                                size="small"
                                                (change)="
                                                    changeAnonymous(question)
                                                "
                                                [(ngModel)]="question.anonymous"
                                            ></ui-switch>
                                        </div>

                                        <div
                                            class="col-sm-2 col-md-2 text-center"
                                        >
                                            <a
                                                (click)="
                                                    getEditAsk(question.uid, i)
                                                "
                                            >
                                                <i
                                                    class="material-icons default-icon"
                                                >
                                                    create
                                                </i>
                                            </a>

                                            <a
                                                (click)="
                                                    getDeleteQuestion(
                                                        question.uid,
                                                        i
                                                    )
                                                "
                                            >
                                                <i
                                                    class="material-icons default-icon delete-icon"
                                                >
                                                    delete
                                                </i>
                                            </a>
                                        </div>
                                        <div
                                            class="hr-separator"
                                            *ngIf="i < sessions.length - 1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                            <!-- finish content of geral list tab -->
                        </div>
                        <div class="tab-pane fade" id="geral-question-result" role="tabpanel"
                            aria-labelledby="geral-question-result-tab">
                            <div class="row">
                                <div class="col-12">
                                    <button
                                        class="btn btn-custom-cancel btn-margin-right-default btn-clear-all float-right"
                                        (click)="launchSwalClearAllQuestion()">{{"global.clear_all" | translate}}</button>
                                </div>
                            </div>
                            <!-- start content of geral result tab-->
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="card-header custom-card-header">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-7">
                                                <strong>{{
                                                    'global.name' | translate
                                                }}</strong>
                                            </div>

                                            <div class="col-sm-12 col-md-5">
                                                <strong class="float-right">{{
                                                    'global.manage' | translate
                                                }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div
                                *ngFor="
                                    let question of questions;
                                    let i = index
                                "
                            >
                                <div class="row">
                                    <div class="col-sm-12 col-md-7">
                                        <p class="session-quest-name">
                                            {{ question.name[activeLanguage] }}
                                        </p>
                                    </div>

                                    <div class="col-sm-12 col-md-5">
                                        <!-- <a class=""><i class="material-icons"></i></a> -->
                                        <a
                                            class="float-right"
                                            target="_blank"
                                            routerLink="/result-ask-question/{{
                                                eventId
                                            }}/{{ moduleId }}/{{
                                                question.uid
                                            }}"
                                        >
                                            <i
                                                class="material-icons manage-icon"
                                                >bar_chart</i
                                            >
                                        </a>
                                        <a
                                            class="float-right"
                                            (click)="
                                                prepareExportReportGeral(
                                                    question
                                                )
                                            "
                                        >
                                            <i
                                                class="material-icons manage-icon"
                                                >file_download</i
                                            >
                                        </a>
                                        <a
                                            class="float-right"
                                            target="_blank"
                                            routerLink="/moderate-ask-question/{{
                                                eventId
                                            }}/{{ moduleId }}/{{
                                                question.uid
                                            }}"
                                        >
                                            <i
                                                class="material-icons manage-icon"
                                                >thumb_up_alt</i
                                            >
                                        </a>

                                        <a
                                            class="click-function"
                                            (click)="getQuestionClear(question)"
                                        >
                                            <i
                                                class="material-icons d-icon-delete icon-manage float-right"
                                                >clear</i
                                            >
                                        </a>
                                        <!-- <a class=""><i class="material-icons"></i></a> -->
                                    </div>
                                    <div
                                        class="hr-separator"
                                        *ngIf="i < sessions.length - 1"
                                    ></div>
                                </div>
                            </div>
                            <!-- finish content of gerl result tab-->
                        </div>
                    </div>
                </div>
                <!-- session tab -->
                <div
                    class="tab-pane fade"
                    id="session-question"
                    role="tabpanel"
                    aria-labelledby="session-question-tab"
                >
                    <br /><br />
                    <!-- session list and result tab -->
                    <ul
                        class="nav nav-tabs float-left"
                        id="sessionTabAskQuestionN"
                        role="tablist"
                    >
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                id="session-question-list-tab"
                                data-toggle="tab"
                                href="#session-question-list"
                                role="tab"
                                aria-controls="session-question-list"
                                aria-selected="true"
                                >{{ 'global.listing' | translate }}</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                id="session-question-result-tab"
                                data-toggle="tab"
                                href="#session-question-result"
                                role="tab"
                                aria-controls="session-question-result"
                                aria-selected="false"
                                >{{ 'global.results' | translate }}</a
                            >
                        </li>
                    </ul>
                    <br /><br />
                    <div class="tab-content" id="sessionTabAskQuestionNContent">
                        <div
                            class="tab-pane fade show active"
                            id="session-question-list"
                            role="tabpanel"
                            aria-labelledby="session-question-list-tab"
                        >
                            <!-- start content of session list tab-->
                            <div class="row text-center">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="buttons-disable-enable">
                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.on_all'
                                                    | translate
                                            }}"
                                            (click)="enableAllSession()"
                                        >
                                            <i
                                                class="material-icons icon-size true-icon"
                                                >visibility</i
                                            >
                                        </button>

                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.off_all'
                                                    | translate
                                            }}"
                                            (click)="disableAllSession()"
                                        >
                                            <i
                                                class="material-icons icon-size false-icon"
                                                >visibility_off</i
                                            >
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-2">
                                    <div class="buttons-disable-enable">
                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.on_all'
                                                    | translate
                                            }}"
                                            (click)="enableAllModerateSession()"
                                        >
                                            <i
                                                class="material-icons icon-size true-icon"
                                                >visibility</i
                                            >
                                        </button>

                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.off_all'
                                                    | translate
                                            }}"
                                            (click)="
                                                disableAllModerateSession()
                                            "
                                        >
                                            <i
                                                class="material-icons icon-size false-icon"
                                                >visibility_off</i
                                            >
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-2">
                                    <div class="buttons-disable-enable">
                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.on_all'
                                                    | translate
                                            }}"
                                            (click)="
                                                toggleAllAnonymousSession(true)
                                            "
                                        >
                                            <i
                                                class="material-icons icon-size true-icon"
                                                >visibility</i
                                            >
                                        </button>

                                        <button
                                            class="btn btn-no-bg"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="{{
                                                'comp.questions.off_all'
                                                    | translate
                                            }}"
                                            (click)="
                                                toggleAllAnonymousSession(false)
                                            "
                                        >
                                            <i
                                                class="material-icons icon-size false-icon"
                                                >visibility_off</i
                                            >
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="card-header custom-card-header">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2">
                                                <strong>{{
                                                    'global.session' | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>
                                                    {{
                                                        'global.init'
                                                            | translate
                                                    }}</strong
                                                >
                                            </div>
                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>
                                                    {{
                                                        'global.end' | translate
                                                    }}</strong
                                                >
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>{{
                                                    'global.visibility'
                                                        | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>{{
                                                    'global.moderate'
                                                        | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-2 col-md-2 text-center"
                                            >
                                                <strong>{{
                                                    'global.anonymous'
                                                        | translate
                                                }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div
                                *ngFor="let session of sessions; let i = index"
                            >
                                <div class="row">
                                    <div
                                        class="col-sm-12 col-md-12"
                                        *ngIf="i == 0"
                                    >
                                        <div class="date-separator">
                                            <span
                                                class="ask-question-date-text"
                                                >{{ session.date }}</span
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="col-sm-12 col-md-12"
                                        *ngIf="i != 0"
                                    >
                                        <div
                                            class="date-separator"
                                            *ngIf="
                                                session.date !=
                                                sessions[i - 1].date
                                            "
                                        >
                                            <span
                                                class="ask-question-date-text"
                                                >{{ session.date }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        <p
                                            *ngIf="
                                                userLanguage && eventLanguage
                                            "
                                            class="session-quest-name"
                                        >
                                            {{
                                                session
                                                    | getNameSession
                                                        : [
                                                              userLanguage,
                                                              eventLanguage
                                                          ]
                                            }}
                                        </p>
                                    </div>

                                    <div class="col-sm-2 col-md-2 text-center">
                                        {{ session.startTime }}
                                    </div>
                                    <div class="col-sm-2 col-md-2 text-center">
                                        {{ session.endTime }}
                                    </div>

                                    <div class="col-sm-2 col-md-2 text-center">
                                        <ui-switch
                                            color="#1FC94F"
                                            size="small"
                                            (change)="
                                                changeVisibilitySession(session)
                                            "
                                            checked
                                            *ngIf="session.askQuestion == true"
                                        ></ui-switch>
                                        <ui-switch
                                            color="#1FC94F"
                                            size="small"
                                            (change)="
                                                changeVisibilitySession(session)
                                            "
                                            *ngIf="session.askQuestion == false"
                                        ></ui-switch>
                                    </div>

                                    <div class="col-sm-2 col-md-2 text-center">
                                        <ui-switch
                                            color="#1FC94F"
                                            size="small"
                                            (change)="
                                                changeModerateSession(session)
                                            "
                                            checked
                                            *ngIf="session.askModerate == true"
                                        ></ui-switch>
                                        <ui-switch
                                            color="#1FC94F"
                                            size="small"
                                            (change)="
                                                changeModerateSession(session)
                                            "
                                            *ngIf="session.askModerate == false"
                                        ></ui-switch>
                                    </div>

                                    <div class="col-sm-2 col-md-2 text-center">
                                        <ui-switch
                                            color="#1FC94F"
                                            size="small"
                                            (change)="
                                                changeAnonymousSession(session)
                                            "
                                            [(ngModel)]="session.anonymous"
                                        ></ui-switch>
                                    </div>

                                    <div
                                        class="hr-separator"
                                        *ngIf="i < sessions.length - 1"
                                    ></div>
                                </div>
                            </div>
                            <!-- finish content of session list tab-->
                        </div>
                        <div class="tab-pane fade" id="session-question-result" role="tabpanel"
                            aria-labelledby="session-question-result-tab">
                            <div class="row">
                                <div class="col-12">
                                    <button
                                        class="btn btn-custom-cancel btn-margin-right-default btn-clear-all float-right"
                                        (click)="launchSwalClearAllSessionQuestion()">{{"global.clear_all" | translate}}</button>
                                </div>
                            </div>
                            <!-- start content of session result tab-->
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="card-header custom-card-header">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <strong>{{
                                                    'global.session' | translate
                                                }}</strong>
                                            </div>

                                            <div
                                                class="col-sm-12 col-md-2 text-center"
                                            >
                                                <strong>
                                                    {{
                                                        'global.init'
                                                            | translate
                                                    }}</strong
                                                >
                                            </div>
                                            <div
                                                class="col-sm-12 col-md-2 text-center"
                                            >
                                                <strong>
                                                    {{
                                                        'global.end' | translate
                                                    }}</strong
                                                >
                                            </div>

                                            <div class="col-sm-12 col-md-3">
                                                <strong class="float-right">{{
                                                    'global.manage' | translate
                                                }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div
                                *ngFor="let session of sessions; let i = index"
                            >
                                <div class="row">
                                    <div
                                        class="col-sm-12 col-md-12"
                                        *ngIf="i == 0"
                                    >
                                        <div class="date-separator">
                                            <span
                                                class="ask-question-date-text"
                                                >{{ session.date }}</span
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="col-sm-12 col-md-12"
                                        *ngIf="i != 0"
                                    >
                                        <div
                                            class="date-separator"
                                            *ngIf="
                                                session.date !=
                                                sessions[i - 1].date
                                            "
                                        >
                                            <span
                                                class="ask-question-date-text"
                                                >{{ session.date }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <p
                                            *ngIf="
                                                userLanguage && eventLanguage
                                            "
                                            class="session-quest-name"
                                        >
                                            {{
                                                session
                                                    | getNameSession
                                                        : [
                                                              userLanguage,
                                                              eventLanguage
                                                          ]
                                            }}
                                        </p>
                                    </div>

                                    <div class="col-sm-12 col-md-2 text-center">
                                        {{ session.startTime }}
                                    </div>
                                    <div class="col-sm-12 col-md-2 text-center">
                                        {{ session.endTime }}
                                    </div>

                                    <div class="col-sm-12 col-md-3">
                                        <!-- <a class=""><i class="material-icons"></i></a> -->
                                        <a
                                            class="float-right"
                                            target="_blank"
                                            routerLink="/result-ask-question-session/{{
                                                eventId
                                            }}/{{ session.moduleId }}/{{
                                                session.uid
                                            }}"
                                        >
                                            <i
                                                class="material-icons manage-icon"
                                                >bar_chart</i
                                            >
                                        </a>
                                        <a
                                            class="float-right"
                                            (click)="
                                                prepareExportReportSession(
                                                    session
                                                )
                                            "
                                        >
                                            <i
                                                class="material-icons manage-icon"
                                                >file_download</i
                                            >
                                        </a>
                                        <a
                                            class="float-right"
                                            target="_blank"
                                            routerLink="/moderate-ask-question-session/{{
                                                eventId
                                            }}/{{ session.moduleId }}/{{
                                                session.uid
                                            }}"
                                        >
                                            <i
                                                class="material-icons manage-icon"
                                                >thumb_up_alt</i
                                            >
                                        </a>

                                        <a
                                            class="click-function"
                                            (click)="
                                                getQuestionClearSession(session)
                                            "
                                        >
                                            <i
                                                class="material-icons d-icon-delete icon-manage float-right"
                                                >clear</i
                                            >
                                        </a>
                                        <!-- <a class=""><i class="material-icons"></i></a> -->
                                    </div>
                                    <div
                                        class="hr-separator"
                                        *ngIf="i < sessions.length - 1"
                                    ></div>
                                </div>
                            </div>
                            <!-- finish content of session result tab-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="align-loader" *ngIf="loader == true">
        <div class="loader-default"></div>
    </div>
</div>

<!-- Create Modal -->
<div
    class="modal fade"
    id="newAsk"
    data-backdrop="static"
    role="dialog"
    aria-labelledby="newAskLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAskLabel">
                    <strong>{{
                        'comp.ask_question.new_ask' | translate
                    }}</strong>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true" (click)="clearForm()"
                            >&times;</span
                        >
                    </button>
                </h5>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngIf="languages?.PtBR">
                        <a
                            class="nav-link {{
                                eventLanguage == 'pt_BR' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'PtBR'"
                            id="translate-pt-tab"
                            data-toggle="tab"
                            href="#translate-pt"
                            role="tab"
                            aria-controls="translate-pt"
                            aria-selected="false"
                            >{{ 'comp.event_info.portuguese' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.EnUS">
                        <a
                            class="nav-link {{
                                eventLanguage == 'en_US' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'EnUS'"
                            id="translate-en-tab"
                            data-toggle="tab"
                            href="#translate-en"
                            role="tab"
                            aria-controls="translate-en"
                            aria-selected="false"
                            >{{ 'comp.event_info.english' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.EsES">
                        <a
                            class="nav-link {{
                                eventLanguage == 'es_ES' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'EsES'"
                            id="translate-es-tab"
                            data-toggle="tab"
                            href="#translate-es"
                            role="tab"
                            aria-controls="translate-es"
                            aria-selected="false"
                            >{{ 'comp.event_info.spanish' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.FrFR">
                        <a
                            class="nav-link {{
                                eventLanguage == 'fr_FR' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'FrFR'"
                            id="translate-fr-tab"
                            data-toggle="tab"
                            href="#translate-fr"
                            role="tab"
                            aria-controls="translate-fr"
                            aria-selected="false"
                            >{{ 'comp.event_info.french' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.DeDE">
                        <a
                            class="nav-link {{
                                eventLanguage == 'de_DE' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'DeDE'"
                            id="translate-de-tab"
                            data-toggle="tab"
                            href="#translate-de"
                            role="tab"
                            aria-controls="translate-de"
                            aria-selected="false"
                            >{{ 'comp.event_info.german' | translate }}</a
                        >
                    </li>
                </ul>
                <br /><br />

                <div class="tab-content" id="myTabContent">
                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'pt_BR' ? 'show active' : ''
                        }}"
                        id="translate-pt"
                        role="tabpanel"
                        aria-labelledby="translate-pt-tab"
                    >
                        <div class="form-group" *ngIf="languages?.PtBR">
                            <label>{{ 'global.name' | translate }}</label>
                            <input
                                [(ngModel)]="createQuestionName['PtBR']"
                                class="form-control"
                                type="text"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />
                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'en_US' ? 'show active' : ''
                        }}"
                        id="translate-en"
                        role="tabpanel"
                        aria-labelledby="translate-en-tab"
                    >
                        <div class="form-group" *ngIf="languages?.EnUS">
                            <label>{{ 'global.name' | translate }}</label>
                            <input
                                [(ngModel)]="createQuestionName['EnUS']"
                                class="form-control"
                                type="text"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />
                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'es_ES' ? 'show active' : ''
                        }}"
                        id="translate-es"
                        role="tabpanel"
                        aria-labelledby="translate-es-tab"
                    >
                        <div class="form-group" *ngIf="languages?.EsES">
                            <label>{{ 'global.name' | translate }}</label>
                            <input
                                [(ngModel)]="createQuestionName['EsES']"
                                class="form-control"
                                type="text"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />
                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'fr_FR' ? 'show active' : ''
                        }}"
                        id="translate-fr"
                        role="tabpanel"
                        aria-labelledby="translate-fr-tab"
                    >
                        <div class="form-group" *ngIf="languages?.FrFR">
                            <label>{{ 'global.name' | translate }}</label>
                            <input
                                [(ngModel)]="createQuestionName['FrFR']"
                                class="form-control"
                                type="text"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />
                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'de_DE' ? 'show active' : ''
                        }}"
                        id="translate-de"
                        role="tabpanel"
                        aria-labelledby="translate-de-tab"
                    >
                        <div class="form-group" *ngIf="languages?.DeDE">
                            <label>{{ 'global.name' | translate }}</label>
                            <input
                                [(ngModel)]="createQuestionName['DeDE']"
                                class="form-control"
                                type="text"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />
                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{
                        'comp.ask_question.visibility' | translate
                    }}</label
                    ><br />
                    <ui-switch
                        [(ngModel)]="createQuestionVisibility"
                        color="#1FC94F"
                        size="small"
                        checked
                    >
                    </ui-switch>
                </div>

                <div class="form-group">
                    <label>{{
                        'comp.ask_question.moderation' | translate
                    }}</label
                    ><br />
                    <ui-switch
                        [(ngModel)]="createQuestionModerate"
                        color="#1FC94F"
                        size="small"
                    >
                    </ui-switch>
                </div>

                <div class="form-group">
                    <label>{{
                        'global.anonymous' | translate
                    }}</label
                    ><br />
                    <ui-switch
                        [(ngModel)]="createQuestionAnonymous"
                        color="#1FC94F"
                        size="small"
                    >
                    </ui-switch>
                </div>

                <button
                    class="btn btn-custom float-right"
                    (click)="createAsk()"
                    *ngIf="loaderCreate == false"
                >
                    {{ 'global.btn_add' | translate }}
                </button>
                <div class="align-loader" *ngIf="loaderCreate == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div
    class="modal fade"
    id="editAsk"
    data-backdrop="static"
    role="dialog"
    aria-labelledby="editAskLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAskLabel">
                    <strong>Edição do faça uma pergunta</strong>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true" (click)="clearFormEdit()"
                            >&times;</span
                        >
                    </button>
                </h5>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTabEdit" role="tablist">
                    <li class="nav-item" *ngIf="languages?.PtBR">
                        <a
                            class="nav-link {{
                                eventLanguage == 'pt_BR' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'PtBR'"
                            id="translate-pt-edit-tab"
                            data-toggle="tab"
                            href="#translate-pt-edit"
                            role="tab"
                            aria-controls="translate-pt"
                            aria-selected="false"
                            >{{ 'comp.event_info.portuguese' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.EnUS">
                        <a
                            class="nav-link {{
                                eventLanguage == 'en_US' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'EnUS'"
                            id="translate-en-edit-tab"
                            data-toggle="tab"
                            href="#translate-en-edit"
                            role="tab"
                            aria-controls="translate-en"
                            aria-selected="false"
                            >{{ 'comp.event_info.english' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.EsES">
                        <a
                            class="nav-link {{
                                eventLanguage == 'es_ES' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'EsES'"
                            id="translate-es-edit-tab"
                            data-toggle="tab"
                            href="#translate-es-edit"
                            role="tab"
                            aria-controls="translate-es"
                            aria-selected="false"
                            >{{ 'comp.event_info.spanish' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.FrFR">
                        <a
                            class="nav-link {{
                                eventLanguage == 'fr_FR' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'FrFR'"
                            id="translate-fr-edit-tab"
                            data-toggle="tab"
                            href="#translate-fr-edit"
                            role="tab"
                            aria-controls="translate-fr"
                            aria-selected="false"
                            >{{ 'comp.event_info.french' | translate }}</a
                        >
                    </li>
                    <li class="nav-item" *ngIf="languages?.DeDE">
                        <a
                            class="nav-link {{
                                eventLanguage == 'de_DE' ? 'active' : ''
                            }}"
                            (click)="activeLanguage = 'DeDE'"
                            id="translate-de-edit-tab"
                            data-toggle="tab"
                            href="#translate-de-edit"
                            role="tab"
                            aria-controls="translate-de"
                            aria-selected="false"
                            >{{ 'comp.event_info.german' | translate }}</a
                        >
                    </li>
                </ul>
                <br /><br />

                <div class="tab-content" id="myTabEditContent">
                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'pt_BR' ? 'show active' : ''
                        }}"
                        id="translate-pt-edit"
                        role="tabpanel"
                        aria-labelledby="translate-pt-edit-tab"
                    >
                        <div class="form-group" *ngIf="languages?.PtBR">
                            <label for="name_pt_br">{{
                                'global.name' | translate
                            }}</label>
                            <input
                                [(ngModel)]="editQuestionName['PtBR']"
                                type="text"
                                class="form-control"
                                id="name_pt_br"
                                name="name_pt_br"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />

                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'en_US' ? 'show active' : ''
                        }}"
                        id="translate-en-edit"
                        role="tabpanel"
                        aria-labelledby="translate-en-edit-tab"
                    >
                        <div class="form-group" *ngIf="languages?.EnUS">
                            <label for="name_en_us">{{
                                'global.name' | translate
                            }}</label>
                            <input
                                [(ngModel)]="editQuestionName['EnUS']"
                                type="text"
                                class="form-control"
                                id="name_en_us"
                                name="name_en_us"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />

                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'es_ES' ? 'show active' : ''
                        }}"
                        id="translate-es-edit"
                        role="tabpanel"
                        aria-labelledby="translate-es-edit-tab"
                    >
                        <div class="form-group" *ngIf="languages?.EsES">
                            <label for="name_es_es">{{
                                'global.name' | translate
                            }}</label>
                            <input
                                [(ngModel)]="editQuestionName['EsES']"
                                type="text"
                                class="form-control"
                                id="name_es_es"
                                name="name_es_es"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />

                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'fr_FR' ? 'show active' : ''
                        }}"
                        id="translate-fr-edit"
                        role="tabpanel"
                        aria-labelledby="translate-fr-edit-tab"
                    >
                        <div class="form-group" *ngIf="languages?.FrFR">
                            <label for="name_fr_fr">{{
                                'global.name' | translate
                            }}</label>
                            <input
                                [(ngModel)]="editQuestionName['FrFR']"
                                type="text"
                                class="form-control"
                                id="name_fr_fr"
                                name="name_fr_fr"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />

                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-pane fade {{
                            eventLanguage == 'de_DE' ? 'show active' : ''
                        }}"
                        id="translate-de-edit"
                        role="tabpanel"
                        aria-labelledby="translate-de-edit-tab"
                    >
                        <div class="form-group" *ngIf="languages?.DeDE">
                            <label for="name_de_de">{{
                                'global.name' | translate
                            }}</label>
                            <input
                                [(ngModel)]="editQuestionName['DeDE']"
                                type="text"
                                class="form-control"
                                id="name_de_de"
                                name="name_de_de"
                                placeholder="{{
                                    'global.placeholder_name' | translate
                                }}"
                            />

                            <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="nameError"
                            >
                                {{ 'global.invalid_name' | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{
                        'comp.ask_question.visibility' | translate
                    }}</label
                    ><br />
                    <ui-switch
                        [(ngModel)]="editQuestionVisibility"
                        color="#1FC94F"
                        size="small"
                    >
                    </ui-switch>
                </div>

                <div class="form-group">
                    <label>{{
                        'comp.ask_question.moderation' | translate
                    }}</label
                    ><br />
                    <ui-switch
                        [(ngModel)]="editQuestionModerate"
                        color="#1FC94F"
                        size="small"
                    >
                    </ui-switch>
                </div>

                <button
                    class="btn btn-custom float-right"
                    (click)="editAsk()"
                    *ngIf="loaderCreate == false"
                >
                    {{ 'global.btn_add' | translate }}
                </button>
                <div class="align-loader" *ngIf="loaderCreate == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Export ask-question -->
<div
    class="modal fade"
    id="exportLoading"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exportLoadingLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="align-loader">
                    <div class="loader-default"></div>
                </div>

                <div class="text-center export-message">
                    {{ 'global.modals.exporting_results' | translate }} <br />
                    {{ 'global.modals.some_minutes' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal delete confirm ask question -->
<swal
    #deleteAskQuestionSwal
    title="{{ 'global.modals.delete' | translate }}"
    text="{{ 'global.modals.delete_message' | translate }}"
    icon="error"
    confirmButtonText="{{ 'global.modals.btn_delete' | translate }}"
    cancelButtonText="{{ 'global.modals.btn_cancel' | translate }}"
    confirmButtonColor="#c91f1f"
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="deleteQuestion()"
>
</swal>

<!-- modal clear question -->
<swal
    #clearQuestionSwal
    title="{{ 'global.modals.clear' | translate }}"
    text="{{ 'global.modals.clear_message' | translate }}"
    icon="error"
    confirmButtonText="{{ 'global.modals.btn_clear' | translate }}"
    cancelButtonText="{{ 'global.modals.btn_cancel' | translate }}"
    confirmButtonColor="#c91f1f"
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="clearQuestion()"
>
</swal>

<!-- modal clear all question -->
<swal #clearAllQuestionSwal title='{{"global.modals.clear" | translate}}'
    text='{{"global.modals.clear_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_clear" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="clearAllQuestionsResults()">
</swal>

<!-- modal clear question session -->
<swal
    #clearQuestionSessionSwal
    title="{{ 'global.modals.clear' | translate }}"
    text="{{ 'global.modals.clear_message' | translate }}"
    icon="error"
    confirmButtonText="{{ 'global.modals.btn_clear' | translate }}"
    cancelButtonText="{{ 'global.modals.btn_cancel' | translate }}"
    confirmButtonColor="#c91f1f"
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="clearQuestionSession()"
>
</swal>

<!-- modal clear all question session -->
<swal #clearAllQuestionSessionSwal title='{{"global.modals.clear" | translate}}'
    text='{{"global.modals.clear_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_clear" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="clearAllSessionQuestionsResults()">
</swal>



<!-- modal success -->
<swal
    #successSwal
    title="{{ 'global.modals.success' | translate }}"
    text="{{ 'global.modals.success_message' | translate }}"
    type="success"
    confirmButtonText="{{ 'global.modals.btn_ok' | translate }}"
    confirmButtonColor="#1FC94F"
    [showCancelButton]="false"
>
</swal>

<!-- modal error -->
<swal
    #errorSwal
    title="{{ 'global.modals.error' | translate }}"
    text="{{ 'global.modals.error_message' | translate }}"
    type="error"
    confirmButtonText="{{ 'global.modals.btn_ok' | translate }}"
    confirmButtonColor="#6C757D"
    [showCancelButton]="false"
>
</swal>

<!-- modal not found -->
<swal
    #notFountSwal
    title="{{ 'global.none_result' | translate }}"
    text="{{ 'global.modals.error_not_data_to_export' | translate }}"
    type="info"
    confirmButtonText="{{ 'global.modals.btn_ok' | translate }}"
    confirmButtonColor="#6C757D"
    [showCancelButton]="false"
>
</swal>
