:host {

    .container {
        position: relative;

        .align-loader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            max-height: 300px;
            top: 0;
            left: 0;
        }
    }
}

.main-background {
    background: #EFEFEF;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.custom-container {
    margin-top: 90px;
}

.header-title {
    text-transform: uppercase;
}

.header-title,
.header-subttitle,
label {
    color: rgba(0, 0, 0, 0.65);
}

label {
    font-weight: bold;
}

.success-icon {
    color: #21F300;
    font-size: 60px;
}

.success-text {
    color: #21F300;
}

.material-icons {
    font-size: 17px;
    cursor: pointer;
}

.manage-icon {
    color: rgba(0, 0, 0, 0.5);
}

a {
    color: rgba(0, 0, 0, 0.65);
}

.custom-card {
    border: none;
}

.custom-card-header {
    background: none;
}

.pipe-filter {
    position: absolute;
    right: 15px;
}

.hr-separator {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.07);
    margin-top: 10px;
    margin-bottom: 15px;
}

.session-quest-name {
    margin-left: 4px;
}

.align-flex {
    display: flex;
    align-items: center;
}

.date-separator {
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttons-disable-enable {
    position: relative;
    bottom: 5px;
}

.btn-no-bg {
    background: none;
}

.true-icon {
    color: rgba(0, 0, 0, 0.5);
}

.false-icon {
    color: #bb0303;
}

.export-message {
    margin-top: 30px;
    color: #000000;
    opacity: 0.5;
}

.btn-drop-custom {
    background: transparent;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em !important;
    cursor: pointer;
}

.btn-drop-custom:focus {
    outline: none !important;
}

.dropdown-menu-custom.show {
    background: #ffffff !important;
    border: 1px solid #c5c5c5 !important;
}

.dropdown-menu {
    background: transparent !important;
    border: none !important;
}

#dropdown-menu-3 {
    padding: 8px;
}

.drag-icon {
    position: relative;
    top: 5px;
    cursor: grab;
    color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag-icon:active {
    cursor: grabbing;
}
