.module-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: none;
}

.module-name-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 30ch;
}

.drag-icon {
    cursor: grab;
    color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag-icon:active {
    cursor: grabbing;
}

.btn-drop {
    border: 0.6px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: none;
    width: 65px;
    height: 37px;
}

.icon-size {
    width: 22px;
    height: 22px;
}

.icon-margin {
    margin-right: 3px;
}

a {
    cursor: pointer;
}

label>input {
    display: none;
    position: absolute;
}

.table-module:hover {
    background: rgba(0, 0, 0, 0.05);
}

.btn-margin-top {
    margin-top: 10px;
}

.group-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin: 2px;
}

li {
    list-style: none;
}

.manage-icon {
    color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
}

.b3-icons {
    font-size: 24px;
}

.material-icons {
    font-size: 24px;
}

.custom-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin: 0 !important;
}

input[type='file'] {
    display: none
}

.label-file {
    color: #333333;
    cursor: pointer;
    padding-left: 3px;
}

.home-icon-default {
    margin-left: 2px !important;
    font-size: 15px !important;
}