<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"comp.manage_modules.page_title" | translate}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#addNew">{{"global.btn_new"
            |
            translate}}</button>
                        <button class="btn btn-custom-settings" data-toggle="modal" data-target="#settings"><i
                                class="material-icons icon-settings" data-toggle="tooltip" data-placement="bottom"
                                title='{{"global.configs" | translate}}'>settings</i></button>
                    </div>
                </div>
            </div>

            <div class="onReorder-btn-save text-center" *ngIf="onReorderShow == true">
                <div class="alert alert-light" *ngIf="loaderGeneral == false">
                    {{"global.remind_save_changes" | translate}}
                    <br>
                    <button class="btn btn-custom btn-margin-top"
                        (click)="saveChanges()">{{"global.btn_save" | translate}}</button>
                </div>

                <div class="align-loader" *ngIf="loaderGeneral == true">
                    <div class="loader-default"></div>
                </div>
            </div>


            <div class="card">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{"global.module" | translate}}
                                    </th>
                                    <th class="text-center">{{"global.visibility_backoffice" | translate}}</th>
                                    <th class="text-center">{{"global.visibility_app" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody [dragula]='"bag-manage-module"' [dragulaModel]='modules'>
                                <tr class="table-module" *ngFor="let module of modules; let i = index;">
                                    <td>
                                        <div class="module-name">
                                            <i
                                                class="material-icons drag-icon">drag_indicator</i>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="material-icons"
                                                *ngIf="module.iconFamily == 'material-icons'">{{module.icon}}</i>

                                            <img [src]="module.icon" class="custom-icon"
                                                *ngIf="module.iconFamily == 'custom-icon'">

                                            <span class="b3-icons {{module.iconFamily}}"
                                                *ngIf="module.iconFamily !== 'custom-icon' && module.iconFamily !== 'material-icons'"></span>

                                            &nbsp;&nbsp;&nbsp;
                                            <span class="module-name-text">
                                                <span>{{module.name[formatedLanguage.language]}}</span>

                                            </span>
                                            <i class="material-icons manage-icon home-icon-default"
                                                *ngIf="module.viewApp == homePage">home</i>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="module.habilitedBackOffice != null">
                                            <div
                                                *ngIf="module.habilitedBackOffice; then habilitedBackOffice else notHabilitedBackOffice">
                                            </div>
                                            <ng-template #habilitedBackOffice>
                                                <ui-switch size="small" checkedLabel='{{"global.enabled" | translate}}'
                                                    checked (click)="disableBackoffice(i)">
                                                </ui-switch>
                                            </ng-template>


                                            <ng-template #notHabilitedBackOffice>
                                                <ui-switch size="small"
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    (click)="enableBackoffice(i)">
                                                </ui-switch>
                                            </ng-template>
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <div *ngIf="module.habilitedApp != null">
                                            <div *ngIf="module.habilitedApp; then habilitedApp else notHabilitedApp">
                                            </div>
                                            <ng-template #habilitedApp>
                                                <ui-switch color="#1FC94F" size="small"
                                                    checkedLabel='{{"global.enabled" | translate}}' checked
                                                    (click)="disableApp(i)">
                                                </ui-switch>
                                            </ng-template>


                                            <ng-template #notHabilitedApp>
                                                <ui-switch size="small"
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    (click)="enableApp(i)">
                                                </ui-switch>
                                            </ng-template>
                                        </div>
                                    </td>


                                    <td>
                                        <a data-toggle="tooltip" data-placement="bottom"
                                            title='{{"global.btn_edit" | translate}}'><i
                                                class="material-icons default-icon" (click)="getModuleEdit(module)"
                                                data-toggle="modal" data-target="#edit">create</i></a>

                                        <a *ngIf="module.remove" (click)="getModuleRemove(module)" [swal]="deleteSwal"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title='{{"global.btn_delete" | translate}}'><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- /.table-stats -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add New -->
<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewLabel"><strong>{{"global.create_modules" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <label for="">{{"global.icon" | translate}}</label>
                            <div class="icon-selector">
                                <div class="dropdown">
                                    <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <label class="icon-selector">
                                            <input type="radio" name="icon-selected" value="" />
                                            <i *ngIf="selectedIconCreate !== null && selectedIconCreate !== '' && (base64CustomIcon == null)"
                                                class="{{selectedIconCreateFamily}}">{{selectedIconCreate}}</i>
                                            <span
                                                *ngIf="selectedIconCreate == null || selectedIconCreate == '' && (base64CustomIcon == null)"
                                                class="b3-icons {{selectedIconCreateFamily}}"></span>
                                            <span *ngIf="base64CustomIcon !== null">
                                                <img [src]="base64CustomIcon" class="custom-icon">
                                            </span>
                                            <!-- selectedImage é a variável do ngModel, pode ser substituida pelo nome que utilizar no ngModel -->
                                        </label>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div *ngFor="let item of iconsImg; let i=index">
                                            <div id="menu">
                                                <!--<input type="radio " name="md-add-circle " value=" " />-->
                                                <a (click)="setIconCreate(i);" class="float-left">
                                                    <i class="{{item.family}}"
                                                        *ngIf="item.family == 'material-icons'">{{item.icon}}</i>
                                                    <span class="b3-icons {{item.family}}"
                                                        *ngIf="item.family !== 'material-icons'"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <label>
                                                <hr>
                                                <label class="label-file"
                                                    for='selecao-arquivo'>{{"comp.manage_modules.import_icon" | translate}}</label>
                                                <input id='selecao-arquivo' type='file'
                                                    (change)="importCustomIcon($event)">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- names module -->
                <div class="row">
                    <div *ngFor="let l of languages; let i = index" class="col-sm-12 col-md-10">
                        <div *ngIf="l.value == 'pt_BR' && event?.languages?.PtBR" class="form-group">
                            <label for="moduleName">{{"global.name_pt_br" | translate}}</label>
                            <input [formControl]="formGroupCreate.controls['module_name_pt_br']" class="form-control"
                                name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                        </div>

                        <div *ngIf="l.value == 'en_US' && event?.languages?.EnUS" class="form-group">
                            <label for="moduleName">{{"global.name_en_us" | translate}}</label>
                            <input [formControl]="formGroupCreate.controls['module_name_en_us']" class="form-control"
                                name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                        </div>

                        <div *ngIf="l.value == 'es_ES' && event?.languages?.EsES" class="form-group">
                            <label for="moduleName">{{"global.name_es_es" | translate}}</label>
                            <input [formControl]="formGroupCreate.controls['module_name_es_es']" class="form-control"
                                name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                        </div>

                        <div *ngIf="l.value == 'fr_FR' && event?.languages?.FrFR" class="form-group">
                            <label for="moduleName">{{"global.name_fr_fr" | translate}}</label>
                            <input [formControl]="formGroupCreate.controls['module_name_fr_fr']" class="form-control"
                                name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                        </div>

                        <div *ngIf="l.value == 'de_DE' && event?.languages?.DeDE" class="form-group">
                            <label for="moduleName">{{"global.name_de_de" | translate}}</label>
                            <input [formControl]="formGroupCreate.controls['module_name_de_de']" class="form-control"
                                name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label for="selectModule">{{"global.module" | translate}}</label>
                        <select name="selectModule" class="custom-select"
                            (change)="selectTypeModule($event.target.value)" [(ngModel)]="moduleType">
                            <option selected disabled value="null">{{"global.select_module" | translate}}</option>

                            <option *ngIf="availableModules.module_attendees" value="{{module_attendee}}">
                                {{"global.attendees" | translate}}</option>

                            <option *ngIf="availableModules.module_schedule" value="{{module_schedule}}">
                                {{"global.schedule" | translate}}</option>

                            <option *ngIf="availableModules.module_speaker" value="{{module_speaker}}">
                                {{"global.speaker" | translate}}</option>

                            <option *ngIf="availableModules.module_widget" value="{{module_widget}}">
                                {{"global.widget" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_survey" value="{{module_survey}}">
                                {{"global.survey" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_quiz" value="{{module_quiz}}">
                                {{"global.quiz" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_training" value="{{module_training}}">
                                {{"global.training" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_ask_question" value="{{module_ask_question}}">
                                {{"global.ask_question" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_document" value="{{module_documents}}">
                                {{"global.documents" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_gallery" value="{{module_gallery}}">
                                {{"global.gallery" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_feed_news" value="{{module_news_feed}}">
                                {{"global.feednews" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_infobooth" value="{{module_infobooth}}">
                                {{"global.infobooth" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_custom_page" value="{{module_custom_pages}}">
                                {{"global.custom_pages" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_external_link" value="{{module_external_link}}">
                                {{"global.external_link" | translate}}
                            </option>

                            <option *ngIf="availableModules.module_group_discussion" value="{{module_group_discussion}}">
                                {{"global.group_discussion" | translate}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- moodule external link -->
                <br>
                <div class="row" *ngIf="typeChosenModule == module_external_link">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="externalUrl">{{"global.url" | translate}}</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">https://</div>
                                <input [formControl]="formGroupCreate.controls['external_link']" type="text"
                                    class="form-control" placeholder="yourlink.com">
                            </div>
                        </div>

                        <div [formGroup]="formGroupCreate" class="form-group">
                            <label for="mode">{{"global.url_open_mode" | translate}}</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="in-app-browser"
                                    formControlName="open_link_behavior" name="open_link_behavior" value="in-app">
                                <label class="custom-control-label" for="in-app-browser">In App Browser</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="sf-safari"
                                    name="open_link_behavior" formControlName="open_link_behavior" value="sf">
                                <label class="custom-control-label" for="sf-safari">Safari View Controller</label>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row" *ngIf="typeChosenModule === module_survey">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <select name="" id="selectSurvey" class="custom-select" *ngIf="loaderSurvey == false"
                                [(ngModel)]="surveyRedirectSelect">
                                <option selected disabled value="-1">{{"global.select_option" | translate}}</option>
                                <option *ngFor="let survey of listSurveys"
                                    value="/event/{{eventId}}/survey/{{moduleIdSurvey}}/{{survey.uid}}">
                                    {{survey.title}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" *ngIf="surveyRequiredSelect == true">
                                {{"comp.manage_modules.required_select_survey" | translate}}
                            </div>
                            <div class="align-loader" *ngIf="loaderSurvey == true">
                                <div class="loader-default"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row" *ngIf="typeChosenModule === module_quiz">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <select name="" id="selectQuiz" class="custom-select" *ngIf="loaderSurvey == false"
                                [(ngModel)]="quizRedirectSelect">
                                <option selected disabled value="-1">{{"global.select_option" | translate}}</option>
                                <option *ngFor="let quiz of listQuizes"
                                    value="/event/{{eventId}}/quiz/{{moduleIdQuiz}}/{{quiz.uid}}">
                                    {{quiz.title}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" *ngIf="quizRequiredSelect == true">
                                {{"comp.manage_modules.required_select_quiz" | translate}}
                            </div>
                            <div class="align-loader" *ngIf="loaderSurvey == true">
                                <div class="loader-default"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row" *ngIf="typeChosenModule === module_training">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <select name="" id="selectQuiz" class="custom-select" *ngIf="loaderSurvey == false"
                                [(ngModel)]="trainingRedirectSelect">
                                <option selected disabled value="-1">{{"global.select_option" | translate}}</option>
                                <option *ngFor="let training of listQuizes"
                                    value="/event/{{eventId}}/training/{{moduleIdQuiz}}/{{training.uid}}">
                                    {{training.title}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" *ngIf="trainingRequiredSelect == true">
                                {{"comp.manage_modules.required_select_training" | translate}}
                            </div>
                            <div class="align-loader" *ngIf="loaderSurvey == true">
                                <div class="loader-default"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row" *ngIf="typeChosenModule === module_ask_question">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <select name="" id="selectAskQuestion" class="custom-select" *ngIf="loaderSurvey == false"
                                [(ngModel)]="askQuestionRedirectSelect">
                                <option selected disabled value="-1">{{"global.select_option" | translate}}</option>
                                <option *ngFor="let askQuestion of listQuestions"
                                    value="/event/{{eventId}}/ask-question/{{moduleIdAskQuestion}}/{{askQuestion.uid}}">
                                    {{askQuestion.name}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" *ngIf="askQuestionRequiredSelect == true">
                                {{"comp.manage_modules.required_select_askQuestion" | translate}}
                            </div>
                            <div class="align-loader" *ngIf="loaderSurvey == true">
                                <div class="loader-default"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row"
                    *ngIf="typeChosenModule === module_attendee || typeChosenModule === module_schedule || typeChosenModule === module_speaker">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="selectModule">{{"global.type_vision" | translate}}</label>
                            <select name="selectModule" id="selectModule" class="custom-select"
                                (change)="selectVisonModuleCreate($event.target.value)" [(ngModel)]="moduleTypeVision">
                                <option selected disabled value="-1">{{"global.select_type_vision" | translate}}
                                </option>
                                <option value="{{vision_global}}">{{"global.show_for_all" | translate}}</option>
                                <option value="{{vision_divided_by_groups}}">{{"global.divide_by_groups" | translate}}
                                </option>
                                <option value="{{vision_group_vision}}">{{"global.show_by_groups" | translate}}</option>
                                <option value="{{vision_group_access_permission}}">
                                    {{"global.limit_by_group" | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row"
                    *ngIf="typeChosenModule === module_widget || typeChosenModule === module_documents || typeChosenModule === module_gallery || typeChosenModule === module_news_feed
          || typeChosenModule === module_infobooth || typeChosenModule === module_custom_pages || typeChosenModule === module_external_link">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="selectModule">{{"global.type_vision" | translate}}</label>
                            <select name="selectModule" id="selectModule" class="custom-select"
                                (change)="selectVisonModuleCreate($event.target.value)" [(ngModel)]="moduleTypeVision">
                                <option selected disabled value="-1">{{"global.select_type_vision" | translate}}
                                </option>
                                <option value="{{vision_global}}">{{"global.show_for_all" | translate}}</option>
                                <option value="{{vision_group_access_permission}}">
                                    {{"global.limit_by_group" | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>


                <div class="row" *ngIf="visionChosenCreateModule === vision_group_access_permission">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label>{{"global.groups" | translate}}</label>
                            <input type="text" class="form-control" [(ngModel)]=queryGroupCreate
                                (keyup)=filterGroupsCreate() placeholder='{{"global.groups" | translate}}' />
                        </div>

                        <div class="form-group">
                            <div class="filter-group" *ngIf="filteredListGroupsCreate.length > 0">
                                <ul>
                                    <li *ngFor="let group of filteredListGroupsCreate">
                                        <div class="group-name" [style.background]="group.bgColor"
                                            [style.color]="group.txtColor">
                                            <a (click)="selectGroupCreate(group)">
                                                {{group.name}}
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <br><br>
                            </div>


                            <div class="filter-group" *ngIf="selectedGroupCreate.length > 0">
                                <span *ngFor="let theGroup of selectedGroupCreate" class="group-name"
                                    [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                                    {{theGroup.name}}
                                    <a (click)="removeGroupCreate(theGroup)">
                                        <i class="material-icons closebtn">close</i>
                                    </a>
                                </span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- loader div -->
                <div class="align-loader" *ngIf="loaderCreateModule == true">
                    <div class="loader-default"></div>
                </div>

                <!-- if the modem is not filled -->
                <div *ngIf="errorRequiredModuleName" class="alert alert-danger red-text text-darken-3 left-align">
                    {{"global.required_module_name" | translate}}
                </div>

                <!-- if the module type is not selected -->
                <div *ngIf="errorRequiredTypeModule" class="alert alert-danger red-text text-darken-3 left-align">
                    {{"global.required_type_module" | translate}}
                </div>


                <div *ngIf="errorRequiredIconModule" class="alert alert-danger red-text text-darken-3 left-align">
                    {{"global.required_icon_module" | translate}}
                </div>

                <div *ngIf="errorRequiredExternalLink" class="alert alert-danger red-text text-darken-3 left-align">
                    {{"comp.manage_modules.required_external_link" | translate}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom-cancel" (click)="clearForm()"
                    data-dismiss="modal">{{"global.btn_cancel" | translate}}</button>
                <button type="button" class="btn btn-custom"
                    (click)="createModule(formGroupCreate.value)">{{"global.btn_add" | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLabel"><strong>{{"global.edit_module" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>

            <form class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group" [formGroup]="formGroupEdit">
                            <label for="">{{"global.icon" | translate}}</label>
                            <div class="icon-selector">
                                <div class="dropdown">
                                    <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <label class="icon-selector">
                                            <input type="radio" name="icon-selected" value="" />
                                            <i class="{{selectedEditIconFamily}}"
                                                *ngIf="selectedEditIconFamily == 'material-icons' && (base64CustomIcon == null)">{{selectedEditIcon}}</i>
                                            <span class="b3-icons {{selectedEditIconFamily}}"
                                                *ngIf="selectedEditIconFamily !== 'material-icons' && (base64CustomIcon == null)"></span>
                                            <span *ngIf="base64CustomIcon !== null">
                                                <img [src]="base64CustomIcon" class="custom-icon">
                                            </span>
                                            <!-- selectedImage é a variável do ngModel, pode ser substituida pelo nome que utilizar no ngModel -->
                                        </label>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div *ngFor="let item of iconsImg; let i=index">
                                            <div id="menu">

                                                <!--<input type="radio " name="md-add-circle " value=" " />-->
                                                <a (click)="setIcon(i);" class="float-left">
                                                    <i class="{{item.family}}"
                                                        *ngIf="item.family == 'material-icons'">{{item.icon}}</i>
                                                    <span class="b3-icons {{item.family}}"
                                                        *ngIf="item.family !== 'material-icons'"></span>
                                                </a>

                                            </div>

                                        </div>
                                        <div>
                                            <label>
                                                <hr>
                                                <label class="label-file"
                                                    for='selecao-arquivo'>{{"comp.manage_modules.import_icon" | translate}}</label>
                                                <input id='selecao-arquivo' type='file'
                                                    (change)="importCustomIcon($event)">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div *ngFor="let l of languages; let i = index" class="col-sm-12 col-md-10">
                        <div *ngIf="l.value == 'pt_BR' && event?.languages?.PtBR" class="col-sm-12 col-md-10">
                            <div class="form-group">
                                <label for="moduleName">{{"global.name_pt_br" | translate}}</label>
                                <input [formControl]="formGroupEdit.controls['module_name_pt_br']" class="form-control"
                                    name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                            </div>
                        </div>

                        <div *ngIf="l.value == 'en_US' && event?.languages?.EnUS" class="col-sm-12 col-md-10">
                            <div class="form-group">
                                <label for="moduleName">{{"global.name_en_us" | translate}}</label>
                                <input [formControl]="formGroupEdit.controls['module_name_en_us']" class="form-control"
                                    name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                            </div>
                        </div>

                        <div *ngIf="l.value == 'es_ES' && event?.languages?.EsES" class="col-sm-12 col-md-10">
                            <div class="form-group">
                                <label for="moduleName">{{"global.name_es_es" | translate}}</label>
                                <input [formControl]="formGroupEdit.controls['module_name_es_es']" class="form-control"
                                    name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                            </div>
                        </div>

                        <div *ngIf="l.value == 'fr_FR' && event?.languages?.FrFR" class="col-sm-12 col-md-10">
                            <div class="form-group">
                                <label for="moduleName">{{"global.name_fr_fr" | translate}}</label>
                                <input [formControl]="formGroupEdit.controls['module_name_fr_fr']" class="form-control"
                                    name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                            </div>
                        </div>

                        <div *ngIf="l.value == 'de_DE' && event?.languages?.DeDE" class="col-sm-12 col-md-10">
                            <div class="form-group">
                                <label for="moduleName">{{"global.name_de_de" | translate}}</label>
                                <input [formControl]="formGroupEdit.controls['module_name_de_de']" class="form-control"
                                    name="moduleName" type="text" placeholder='{{"global.name" | translate}}'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="typeModuleEdit == module_external_link">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="externalUrl">{{"global.url" | translate}}</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">https://</div>
                                <input [formControl]="formGroupEdit.controls['module_external_link']" type="text"
                                    class="form-control" placeholder="https://yourlink.com">
                            </div>
                        </div>

                        <div [formGroup]="formGroupEdit" class="form-group">
                            <label>{{"global.url_open_mode" | translate}}</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="in-app-browser"
                                    formControlName="open_link_behavior" name="open_link_behavior" value="in-app">
                                <label class="custom-control-label" for="in-app-browser">In App Browser</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="sf-safari"
                                    name="open_link_behavior" formControlName="open_link_behavior" value="sf">
                                <label class="custom-control-label" for="sf-safari">Safari View Controller</label>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row"
                    *ngIf="typeModuleEdit == module_attendee || typeModuleEdit == module_schedule || typeModuleEdit == module_speaker">
                    <div class="col-sm-12 col-md-12">
                        <label for="selectModule">{{"global.type_vision" | translate}}</label>
                        <select name="selectModule" class="custom-select"
                            (change)="selectVisionModuleEdit($event.target.value)">
                            <option *ngIf="visionModuleEdit === vision_global" selected value="{{vision_global}}">
                                {{"global.show_for_all" | translate}}</option>
                            <option *ngIf="visionModuleEdit === vision_divided_by_groups" selected
                                value="{{vision_divided_by_groups}}">{{"global.divide_by_groups" | translate}}</option>
                            <option *ngIf="visionModuleEdit === vision_group_vision" selected
                                value="{{vision_group_vision}}">
                                {{"global.show_by_groups" | translate}}</option>
                            <option *ngIf="visionModuleEdit === vision_group_access_permission" selected
                                value="{{vision_group_access_permission}}">{{"global.limit_by_group" | translate}}
                            </option>

                            <option *ngIf="visionModuleEdit !== vision_global" value="{{vision_global}}">
                                {{"global.show_for_all" | translate}}</option>
                            <option *ngIf="visionModuleEdit !== vision_divided_by_groups"
                                value="{{vision_divided_by_groups}}">
                                {{"global.divide_by_groups" | translate}}</option>
                            <option *ngIf="visionModuleEdit !== vision_group_vision" value="{{vision_group_vision}}">
                                {{"global.show_by_groups" | translate}}</option>
                            <option *ngIf="visionModuleEdit !== vision_group_access_permission"
                                value="{{vision_group_access_permission}}">{{"global.limit_by_group" | translate}}
                            </option>
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="row"
                    *ngIf="typeModuleEdit == module_widget || typeModuleEdit == module_documents || typeModuleEdit == module_gallery
          ||  typeModuleEdit === module_news_feed || typeModuleEdit === module_infobooth ||  typeModuleEdit === module_custom_pages || typeModuleEdit === module_checkin
          || typeModuleEdit === module_maps || typeModuleEdit === module_ranking || typeModuleEdit === module_interactivity || typeModuleEdit === module_external_link || typeModuleEdit === module_gamification">
                    <div class="col-sm-12 col-md-12">
                        <label for="selectModule">{{"global.type_vision" | translate}}</label>
                        <select name="selectModule2" class="custom-select"
                            (change)="selectVisionModuleEdit($event.target.value)">
                            <option *ngIf="visionModuleEdit === vision_group_access_permission" selected
                                value="{{vision_group_access_permission}}">{{"global.limit_by_group" | translate}}
                            </option>
                            <option *ngIf="visionModuleEdit === vision_global" selected value="{{vision_global}}">
                                {{"global.show_for_all" | translate}}</option>

                            <option *ngIf="visionModuleEdit !== vision_group_access_permission"
                                value="{{vision_group_access_permission}}">{{"global.limit_by_group" | translate}}
                            </option>
                            <option *ngIf="visionModuleEdit !== vision_global" value="{{vision_global}}">
                                {{"global.show_for_all" | translate}}</option>

                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="row" *ngIf="visionModuleEdit === vision_group_access_permission">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label>{{"global.groups" | translate}}</label>
                            <input type="text" class="form-control" name="groupEditName" [(ngModel)]=queryGroupEdit
                                (keyup)=filterGroupsEdit() placeholder='{{"global.groups" | translate}}' />

                            <div class="form-group">
                                <div class="filter-group" *ngIf="filteredListGroupsEdit.length > 0">
                                    <ul>
                                        <li *ngFor="let group of filteredListGroupsEdit">
                                            <div class="group-name" [style.background]="group.bgColor"
                                                [style.color]="group.txtColor">
                                                <a (click)="selectGroupEdit(group)">
                                                    {{group.name}}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <br><br>
                                </div>

                                <div class="filter-group" *ngIf="selectedGroupEdit.length > 0">
                                    <span *ngFor="let theGroup of selectedGroupEdit" class="group-name"
                                        [style.background]="theGroup.bgColor" [style.color]="theGroup.txtColor">
                                        {{theGroup.name}}
                                        <a (click)="removeGroupEdit(theGroup)">
                                            <i class="material-icons closebtn">close</i>
                                        </a>
                                    </span>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="align-loader" *ngIf="loaderEditModule == true">
                    <div class="loader-default"></div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-custom-cancel" (click)="clearForm()"
                    data-dismiss="modal">{{"global.btn_cancel" | translate}}</button>
                <button type="button" class="btn btn-custom"
                    (click)="editModule(formGroupEdit.value)">{{"global.btn_save" | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Settings -->

<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsLabel"><strong>{{"global.settings" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="setHomePage">{{"comp.manage_modules.default_page" | translate}}</label>
                            <select name="setHomePage" class="custom-select" [(ngModel)]="changedHomePage">
                                <option selected disabled value="-1">
                                    {{"comp.manage_modules.select_default_page" | translate}}</option>
                                <option *ngFor="let module of modules; let i = index" value="{{module.viewApp}}">
                                    <span>{{module.name[formatedLanguage.language]}}</span>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" (click)="changeHomePage()"
                    *ngIf="loaderChangeHome == false">{{"global.btn_save" | translate}}</button>
                <div class="align-loader" *ngIf="loaderChangeHome == true">
                    <div class="loader-default"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeModule()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>
