<ng-template #loading>
    <div class="group-header">
        <ion-row class="ion-justify-content-center">
            <ion-col size="3">
                <div class="ion-text-center">
                    <ion-label>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated class="visibility"></ion-skeleton-text>
                    </ion-label>
                </div>
            </ion-col>
        </ion-row>
    </div>

    <div>
        <ion-row>
            <ion-col>
                <h3>
                    <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                </h3>

                <ion-label>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <h3>
                    <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                </h3>

                <ion-row class="ion-justify-content-between">
                    <ion-thumbnail *ngFor="let _ of [1, 2, 3, 4, 5]">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <h3>
                    <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                </h3>

                <ion-list lines="none">
                    <ion-item *ngFor="let _ of [1, 2, 3]">
                        <ion-avatar>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-avatar>

                        <ion-col>
                            <ion-skeleton-text animated style="width: 20%;" *ngFor="let _ of [1, 2, 3]">
                            </ion-skeleton-text>
                        </ion-col>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </div>
</ng-template>

<ion-header *ngIf="!componentMode">
    <ion-toolbar *ngIf="event$ | async as event; else loading" class="ion-color"
        [style.background]="event.colors.menu_color" [style.color]="event.colors.menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button mode="ios" text=""></ion-back-button>
        </ion-buttons>

        <ion-title>{{ 'pages.group_chat.group_info' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!componentMode">
    <ng-container *ngIf="group$ | async as gd; else loading">
        <div class="group-header">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <div class="ion-text-center">
                        <h3 class="title">{{ gd.title }}</h3>

                        <ion-label>{{ gd.createdAt.toDate() | date:'dd/MM/yyy' }}</ion-label>

                        <ion-label>
                            {{ (gd.visibility ? 'pages.group_discussions_detail.public' : 'pages.group_discussions_detail.private') | translate }}
                        </ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div>
            <ion-row>
                <ion-col>
                    <h3 class="title">{{ 'pages.group_discussions_detail.description' | translate }}</h3>

                    <ion-label no-wrap>{{ gd.description }}</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h3 class="title">{{ 'pages.group_discussions_detail.attachments' | translate }}</h3>

                    <ng-container *ngIf="docs$ | async as docs">
                        <ng-container class="attachments" *ngIf="docs.length; else noDoc">
                            <ion-virtual-scroll [items]="docs" lines="none">
                                <ion-item *virtualItem="let d">
                                    <ion-icon name="images" style="font-size: 50px;"></ion-icon>

                                    <ion-button [href]="d.message_picture">{{ 'global.buttons.download' | translate }}
                                    </ion-button>
                                </ion-item>
                            </ion-virtual-scroll>
                        </ng-container>

                        <ng-template #noDoc>
                            No Document :(
                        </ng-template>
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h3 class="title">
                        {{ gd.participants.length }} {{
                        'pages.group_discussions_detail.participants' |
                        translate }}
                    </h3>

                    <ion-list lines="none">
                        <ion-item *ngFor="let p of gd.participants">
                            <ion-avatar>
                                <img *ngIf="p.avatar; else noAvatar" [src]="p.avatar" />

                                <ng-template #noAvatar>
                                    <ngx-avatar name="{{p.name}}" initialsSize="2" size="40"></ngx-avatar>
                                </ng-template>
                            </ion-avatar>

                            <ion-col>
                                <ion-label class="participant-name">
                                    {{ p.name }}
                                </ion-label>

                                <ion-label>
                                    {{ p.email }}
                                </ion-label>
                            </ion-col>

                            <ion-label *ngIf="p.creator">
                                {{ 'pages.group_discussions_detail.creator' |
                                translate }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </div>
    </ng-container>
</ion-content>

<!-- Component mode -->

<div *ngIf="componentMode">
    <ng-container *ngIf="group$ | async as gd; else loading">
        <ion-row class="ion-justify-content-start ion-align-items-center" *ngIf="survey && backToList">
            <ion-icon class="back-icon" name="arrow-back" [style.color]="title_color" (click)="goBackToList()">
            </ion-icon>
        </ion-row>

        <div class="group-header">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <div class="ion-text-center">
                        <h3 class="title">{{ gd.title }}</h3>

                        <ion-label>{{ gd.createdAt.toDate() | date:'dd/MM/yyy' }}</ion-label>

                        <ion-label>
                            {{ (gd.visibility ? 'pages.group_discussions_detail.public' : 'pages.group_discussions_detail.private') | translate }}
                        </ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div>
            <ion-row>
                <ion-col>
                    <h3 class="title">{{ 'pages.group_discussions_detail.description' | translate }}</h3>

                    <ion-label no-wrap>{{ gd.description }}</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h3 class="title">{{ 'pages.group_discussions_detail.attachments' | translate }}</h3>

                    <ng-container *ngIf="docs$ | async as docs">
                        <ng-container class="attachments" *ngIf="docs.length; else noDoc">
                            <ion-virtual-scroll [items]="docs" lines="none">
                                <ion-item *virtualItem="let d">
                                    <ion-icon name="images" style="font-size: 50px;"></ion-icon>

                                    <ion-button [href]="d.message_picture">{{ 'global.buttons.download' | translate }}
                                    </ion-button>
                                </ion-item>
                            </ion-virtual-scroll>
                        </ng-container>

                        <ng-template #noDoc>
                            No Document :(
                        </ng-template>
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h3 class="title">
                        {{ gd.participants.length }} {{
                        'pages.group_discussions_detail.participants' |
                        translate }}
                    </h3>

                    <ion-list lines="none">
                        <ion-item *ngFor="let p of gd.participants">
                            <ion-avatar>
                                <img *ngIf="p.avatar; else noAvatar" [src]="p.avatar" />

                                <ng-template #noAvatar>
                                    <ngx-avatar name="{{p.name}}" initialsSize="2" size="40"></ngx-avatar>
                                </ng-template>
                            </ion-avatar>

                            <ion-col>
                                <ion-label class="participant-name">
                                    {{ p.name }}
                                </ion-label>

                                <ion-label>
                                    {{ p.email }}
                                </ion-label>
                            </ion-col>

                            <ion-label *ngIf="p.creator">
                                {{ 'pages.group_discussions_detail.creator' |
                                translate }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </div>
    </ng-container>
</div>