ion-header {
    position: absolute;
}

.group-header {
    margin: 45px;
    padding: 5px;
}

.visibility {
    margin: 0 auto;
    width: 30%;
}

.title,
.participant-name {
    color: blue;
}

.back-icon {
    font-size: 30px;
    cursor: pointer;
}