<body>
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>{{"global.name" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['name']" type="text"
                                    placeholder='{{"global.name" | translate}}'>
                            </div>

                            <!-- msg error input name -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['name'].hasError('required') && formValidation.controls['name'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_name" | translate}}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"global.email" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['email']"
                                    type="email" placeholder='{{"global.email" | translate}}'>
                            </div>

                            <!-- msg error input email -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['email'].hasError('required') && formValidation.controls['email'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_email" | translate}}
                            </div>
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="(formValidation.controls['email'].hasError('email') || formValidation.controls['email'].hasError('pattern')) && formValidation.controls['email'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_email_format" | translate}}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"global.password" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['password']"
                                    type="password" placeholder="******">
                            </div>

                            <!-- msg error input password -->
                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="formValidation.controls['password'].hasError('required') && formValidation.controls['password'].touched">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.alert_pass" | translate}}
                            </div>

                            <div class="alert alert-danger red-text text-darken-3 left-align"
                                *ngIf="validPassword == false && showErrorPassword">
                                <i
                                    class="material-icons size-of-error-icons">error</i>{{"global.password_pattern" | translate}}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"global.company" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['company']"
                                    type="text" placeholder='{{"global.company" | translate}}'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{"global.title" | translate}}</label>
                                <input class="form-control" [formControl]="formValidation.controls['title']" type="text"
                                    placeholder='{{"global.title" | translate}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"global.language" | translate}}</label>
                                <select class="form-control" [formControl]="formValidation.controls['language']">
                                    <option value="pt_BR">{{"comp.event_info.portuguese" | translate}}</option>
                                    <option value="es_ES">{{"comp.event_info.spanish" | translate}}</option>
                                    <option value="en_US">{{"comp.event_info.english" | translate}}</option>
                                    <option value="fr_FR">{{"comp.event_info.french" | translate}}</option>
                                    <option value="de_DE">{{"comp.event_info.german" | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{"global.description" | translate}}</label>
                                <textarea class="form-control" [formControl]="formValidation.controls['description']"
                                    placeholder='{{"global.description" | translate}}' rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header text-center">
                    <span class="text-bold">{{"global.btn_profile" | translate}}</span>
                </div>
                <div class="card-body text-center">

                    <h4 class="user-name">{{formValidation.value.name}}</h4>
                    <h6 class="user-email">{{formValidation.value.email}}</h6>
                    <h6 class="user-description">{{formValidation.value.description}}</h6>
                    <br>
                    <button type="submit" class="btn btn-secondary btn-center" (click)="checkEmailEditClient()"
                        [disabled]="!formValidation.valid || !validPassword"
                        *ngIf="loader == false">{{"global.btn_edit" | translate}}</button>

                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal success -->
    <swal #successSwal title='{{"global.modals.success" | translate}}'
        text='{{"global.modals.success_message" | translate}}' icon="success"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F"
        (confirm)="redirectList()" [showCancelButton]="false">
    </swal>

    <!-- modal error -->
    <swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
        icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <!-- modal permission -->
    <swal #errorPermissionSwal title='{{"global.modals.error" | translate}}'
        text='{{"global.modals.error_permission_email" | translate}}' icon="error"
        confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
        [showCancelButton]="false">
    </swal>

    <swal #confirmChangeUserTypeSwal title='Confirmação'
        text='{{"global.modals.warning_change_type_user" | translate}} {{userRemoveTypeStr}}. {{"global.modals.confirm_change_type_user_question" | translate}}'
        icon="error" confirmButtonText='Sim' cancelButtonText='{{"global.modals.btn_cancel" | translate}}'
        confirmButtonColor="#c91f1f" [showCancelButton]="true" [focusCancel]="true" (confirm)="confirmChangeUserType()">
    </swal>

    <swal #alreadyExistsSwal title='{{"global.modals.warning" | translate}}'
        text='{{"global.modals.email_already_belongs_client" | translate}}' icon="warning"
        confirmButtonText='{{"global.btn_confirm" | translate}}' cancelButtonText='' confirmButtonColor="#6C747F"
        [showCancelButton]="false" [focusCancel]="false">
    </swal>
</body>