.main-background {
    background: #EFEFEF;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.custom-container {
    margin-top: 90px;
}

.header-title {
    text-transform: uppercase;
}

.header-title,
.header-subttitle,
label {
    color: rgba(0, 0, 0, 0.65);
}

label {
    font-weight: bold;
}

.success-icon {
    color: #21F300;
    font-size: 60px;
}

.success-text {
    color: #21F300;
}

.btn-delete {
    background-color: #c91f1f;
}

.btn-custom {
    background: #F9B200;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 450;
    margin-right: 2px;
}

.btn-no-bg {
    background: none;
}

.true-icon {
    color: rgba(0, 0, 0, 0.5);
}

.false-icon {
    color: #bb0303;
}

.container-filter {
    display: block;
}

.pipe-filter {
    width: 270px;
}

.btn-blue {
    background: #2973A2;
    color: #fff;
}

.pipe-filter {
    position: relative;
    bottom: 40px;
}

.question-description {
    text-transform: none !important;
}