<!-- client-containers(apps) -->
<div class="orders">
    <div class="row justify-content-end">
        <div class="col-sm-12 col-md-5">
            <div class="form-group">
                <div class="pipe-filter float-right">
                    <div class="input-group md-3">
                        <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                            placeholder='{{"global.search_plc" | translate}}'>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="material-icons search-icon">search</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"comp.containers.title" | translate}}</h4>
                    <button class="btn btn-secondary float-right" routerLink="/dashboard/containers/create">{{"global.btn_new" |
                    translate}}</button>
                </div>

                <div class="card-body--" *ngIf="loader == false">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{"global.title_" | translate}}</th>
                                    <th class="text-center">{{"comp.adm_resume.client" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let container of containers | filter: term | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <ng-container *ngIf="container.uid !== 'defaultContainer'">
                                        <td> <span class="name">{{container?.appName}}</span> </td>
                                        <td class="text-center"> <span class="product">{{container?.clientName}}</span>
                                        </td>
                                        <td>
                                            <a routerLink="/dashboard/containers/edit/{{container?.uid}}"><i
                                                    class="material-icons default-icon">create</i></a>
                                            <a (click)="getDelete(container)" [swal]="deleteSwal"><i
                                                    class="material-icons default-icon delete-icon">delete</i></a>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-stats -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteContainer()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>