.next-prev-row {
  width: 100%;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

  .prev-next-btn-container {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    cursor: pointer;

    ion-label {
      margin: 0px 10px;
    }

    .prev-next-btn {
      height: 35px;
      width: 35px;
      border-radius: 100%;
      padding: 0;

      .material-icons {
        color: white;
        font-size: 30px;
      }
    }

    .prev-next-btn:disabled {
      opacity: 0.5;
    }
  }
}

.schedule-details-container {
  width: 100%;
  background: #f6f6f6;
  overflow: scroll;
}

.card-custom {
  background: #ffffff;
  margin: 0 !important;
}

.header-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.4em;
}

.date {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.track-mg {
  display: inline-flex;
  justify-content: center;
  margin-top: 4px;
}

.btn-add {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0.8em;
}

.btn-blue {
  background-color: #2973a2;
  float: right;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.btn-add-align {
  display: flex;
  justify-content: center;
}

.add-schedule,
.rm-schedule {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  padding: 6px;
  border-radius: 20px;
  font-size: 0.7em;
}

.add-schedule {
  color: #2973a2;
}

.rm-schedule {
  color: #f04141;
}

.rectangle-avatar {
  border-radius: 0 !important;
}

.group {
  background: red;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.6em;
}

.text-center {
  text-align: center;
}

.top-space {
  margin-top: 4px;
}

.track-name {
  border-radius: 8px;
  padding: 4px;
  font-weight: 300;
  font-size: 0.65em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  // width: max-content;
  max-width: 20ch;
  float: left;
  margin-right: 2px;
  // margin-right: 3px;
  // margin-bottom: 4px;
}

.location-align {
  display: flex;
  justify-content: center;
  width: 100%;
  // align-items: center;
}

.location-name {
  border-radius: 8px;
  padding: 4px;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 90vw;
  float: left;
  margin-top: 2px;
}

.pin-icon {
  font-size: 1.5em;
}

.ion-float-right {
  float: right;
  font-size: 20px;
}

.speaker-name {
  border-radius: 8px;
  padding: 4px;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: max-content;
  float: left;
  margin-top: 2px;
}

.feedback-title {
  font-size: 1.2em;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
}

.option-size {
  font-size: 0.9em;
  opacity: 0.6;
}

.feedback-question-title {
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  opacity: 0.7;
}

.questions-to-user {
  position: relative;
  z-index: 99999;
}

.evalution-align {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feedback-btn-custom {
  border-radius: 8px;
  font-size: 1em;
  padding-top: 6px;
  padding-bottom: 7px;
}

.align-end-btn {
  margin-top: 6px;
  margin-right: 6px;
  float: right;
}

.text-dark-gray-btn {
  color: #1d1d1d;
}

.text-white-btn {
  color: #ffffff;
}

.btn-border {
  margin-right: 3px;
}

.align-center-btns {
  width: 100%;
  display: flex;
  justify-content: center;
}

.align-all {
  display: flex;
  align-items: center;
}

.btn-add-schedule {
  font-size: 0.95em;
  border: 1px solid;
  border-radius: 20px;
  padding: 4px 8px 4px 8px;
}

.btn-rm-schedule {
  font-size: 0.95em;
  border: 1px solid;
  border-radius: 20px;
  padding: 4px 8px 4px 8px;
}

.align-flex {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-loader-custom {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.infobooth {
  background-color: #ffffff;
  padding: 10px 0 0 0;
}

// modif manu <---  add Emmanuel Aires for align in webview in computer
ion-card {
  display: block;
  max-width: 100%;
  margin: 10px auto !important;
  width: 95%;
}
