<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <!-- <div
                style="width: 48px; height: 48px; display: flex; flex-direction: row; align-items: center; justify-content: center">
                <ion-icon style="font-size: 25px;" name="md-arrow-back" (click)="navigateBack()">
                </ion-icon>
            </div> -->
            <ion-back-button icon="md-arrow-back" text=""> </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <p>{{ moduleAgenda?.name[userLanguage] }}</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollY="(isMobile) ? true : false">
    <ion-grid style="padding: 0;">
        <ion-row>
            <ion-col [size]="(!fullWidth && !isMobile) ? 8.5 : 12" style="padding: 0px 5px;">
                <div class="schedule-details-container"
                    [style.height]="(!isMobile) ? 'calc(100vh - 65px)' : 'fit-content'"
                    [style.padding-bottom]="(isMobile) ? '30px' : '0px'">
                    <div class="text-center header-content">
                        <div *ngIf="allowNextPrevBtn" class="next-prev-row">
                            <div class="prev-next-btn-container" [style.pointer-events]="(prevBtn) ? 'all' : 'none'"
                                [style.opacity]="(prevBtn) ? 1 : 0.5" (click)="goNextOrPrevSession('prev')">
                                <button class="prev-next-btn" [style.background-color]="title_color"
                                    [style.border-color]="title_color" [style.color]="title_color">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                </button>
                                <ion-label [color]="title_color">
                                    {{ 'pages.schedule_detail.prev-session' | translate }}
                                </ion-label>
                            </div>

                            <div class="prev-next-btn-container" [style.pointer-events]="(nextBtn) ? 'all' : 'none'"
                                [style.opacity]="(nextBtn) ? 1 : 0.5" (click)="goNextOrPrevSession('next')">
                                <ion-label [color]="title_color">
                                    {{ 'pages.schedule_detail.next-session' | translate }}
                                </ion-label>
                                <button class="prev-next-btn" [style.background-color]="title_color"
                                    [style.border-color]="title_color" [style.color]="title_color">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </button>
                            </div>
                        </div>
                        <span class="title"
                            [style.color]="title_color">{{session | getNameSession: [userLanguage, eventLanguage]}}</span>
                        <br />
                        <small class="date" [style.color]="title_color">
                            <ion-icon name="calendar"></ion-icon> &nbsp; {{date}} &nbsp; |
                            &nbsp; <ion-icon name="time"></ion-icon> &nbsp; {{startTime}} -
                            {{endTime}}
                        </small>
                        <div class="" *ngIf="locations.length >= 1">
                            <small class="location-align" *ngFor="let local of locations; let i = index"
                                routerLink="/event/{{eventId}}/location/{{local.uid}}">
                                <span class="location-name" [style.color]="link_color">
                                    <ion-icon class="pin-icon" name="pin"></ion-icon>&nbsp;{{local.name}}
                                </span>
                                <br />
                            </small>
                            <!-- <br> -->
                        </div>
                        <div *ngIf="tracks.length >= 1">
                            <div class="track-mg" *ngFor="let track of tracks; let i = index">
                                <span class="track-name" [style.color]="track.txtColor"
                                    [style.background]="track.bgColor">{{track.name[userLanguage]}}</span>
                            </div>
                        </div>

                        <!-- Shows the number of session participants and the number of available seats. -->
                        <small *ngIf="habilitedLimit === true && session.limitAttendees > 0"
                            [style.color]="text_content_color">
                            <p>
                                {{"pages.schedule_detail.number_attendees" | translate}}
                                {{qtdAttendees}}
                            </p>

                            <p *ngIf="qtdAttendees < session.limitAttendees">
                                {{"pages.schedule_detail.number_available_vacancies" |
                translate}} {{session.limitAttendees - qtdAttendees}}
                            </p>

                            <p *ngIf="qtdAttendees >= session.limitAttendees">
                                {{"pages.schedule_detail.number_available_vacancies" |
                translate}} {{"pages.schedule_detail.unavailable" | translate}}
                            </p>
                        </small>

                        <!-- Personal schedule enabled and participant limit enabled.     -->
                        <div class="align-flex" *ngIf="habiliedPersonal === true && habilitedLimit === true">
                            <span
                                *ngIf="statePersonalAgenda === false && (session.limitAttendees === 0 || qtdAttendees < session.limitAttendees)"
                                (click)="addSession(session)" class="btn-add-schedule" [style.color]="menu_color">
                                <ion-icon name="add"></ion-icon> {{"global.texts.addschedule" |
                translate}}
                            </span>

                            <span class="btn-rm-schedule" [style.color]="menu_color" (click)="removeSession(session)"
                                *ngIf="statePersonalAgenda === true">
                                <ion-icon name="close"></ion-icon>
                                {{"global.texts.removeschedule" | translate}}
                            </span>
                        </div>

                        <!-- Personal schedule enabled and attendee limit disabled. -->
                        <div *ngIf="habiliedPersonal === true && habilitedLimit === false" class="align-flex">
                            <span *ngIf="statePersonalAgenda === false" (click)="addSession(session)"
                                class="btn-add-schedule" [style.color]="menu_color">
                                <ion-icon name="add"></ion-icon> {{"global.texts.addschedule" |
                translate}}
                            </span>

                            <span *ngIf="statePersonalAgenda === true" (click)="removeSession(session)"
                                class="btn-rm-schedule" [style.color]="menu_color">
                                <ion-icon name="close"></ion-icon>
                                {{"global.texts.removeschedule" | translate}}
                            </span>
                        </div>
                    </div>

                    <ion-card class="custom-card" [style.background]="bg_content_color"
                        *ngIf="session.descriptions.PtBR !=='' || session.descriptions.FrFR !=='' || session.descriptions.EsES !=='' || session.descriptions.EnUS !=='' || session.descriptions.DeDE !==''">
                        <ion-card-content>
                            <div class="description" *ngIf="language">
                                <small>
                                    <p *ngIf="language=='de_DE'" [innerHTML]="session.descriptions.DeDE | safeHtml"></p>
                                    <p *ngIf="language=='en_US'" [innerHTML]="session.descriptions.EnUS | safeHtml"></p>
                                    <p *ngIf="language=='es_ES'" [innerHTML]="session.descriptions.EsES | safeHtml"></p>
                                    <p *ngIf="language=='fr_FR'" [innerHTML]="session.descriptions.FrFR | safeHtml"></p>
                                    <p *ngIf="language=='pt_BR'" [innerHTML]="session.descriptions.PtBR | safeHtml"></p>
                                </small>
                            </div>
                        </ion-card-content>
                    </ion-card>

                    <app-visio-conference style="margin: 0px 10px;"
                        *ngIf="event && event.allow_visio && session && session.visio && session.visio.activated"
                        [comp]="'schedule'" [eventId]="eventId" [urlVisio]="session?.visio?.roomUrl"
                        [allowChat]="session?.visio?.allowChatOnVisio"
                        [allowScreenshare]="session?.visio?.allowScreenShareOnVisio"
                        [allowLeave]="session?.visio?.allowLeaveOnVisio" [btnColor]="menu_color"
                        (closeVisioEvent)="showVisioWebApp = false; urlVisio = ''"></app-visio-conference>

                    <!-- ================================ INICIO CARD LIVESTREAM ================================ -->
                    <ion-item class="align-all ion-color" lines="none" detail [style.background]="bg_content_color"
                        *ngIf="SGlobal.userLoaded && userType == 4 && isSessionSpeaker && allow_broadcast"
                        (click)="openBroadcastPage()">
                        <span class="b3-icons icon-space" [style.color]="text_content_color"></span>
                        <i class="icon-space material-icons" [style.color]="text_content_color">play_circle_outline</i>
                        &nbsp;

                        <ion-label class="ion-color" [style.color]="title_color">
                            {{"pages.schedule_detail.start_broadcast" | translate}}
                        </ion-label>
                    </ion-item>

                    <ion-item class="align-all ion-color" lines="none" detail [style.background]="bg_content_color"
                        *ngIf="session.broadcastId != '' && session.broadcastId !== undefined && allow_broadcast"
                        (click)="openLivePage()">
                        <span class="b3-icons icon-space" [style.color]="text_content_color"></span>
                        <i class="icon-space material-icons" [style.color]="text_content_color">play_circle_outline</i>
                        &nbsp;

                        <ion-label class="ion-color" [style.color]="title_color">
                            {{"pages.schedule_detail.watch_broadcast" | translate}}
                        </ion-label>
                    </ion-item>

                    <app-speakers *ngIf="!isMobile && speakers && speakers.length > 0"
                        [title]="moduleAgenda?.oratorsField" [eventId]="eventId" [showTitle]="true"
                        [speakers]="speakers">
                    </app-speakers>
                    <app-documents *ngIf="!isMobile && documents && documents.length > 0" [eventId]="eventId"
                        [showTitle]="true" [documents]="documents">
                    </app-documents>
                    <app-feedbacks *ngIf="!isMobile && feedbacks && feedbacks.length > 0" [eventId]="eventId"
                        [sessionId]="sessionId" [userId]="userId" [feedbacks]="feedbacks"
                        [feedbackModule]="sessionFeedbackModule">
                    </app-feedbacks>
                </div>
            </ion-col>
            <ion-col [size]="(!fullWidth && !isMobile) ? 3.5 : 12" style="padding: 0px 5px;">
                <app-interactivity-segments [eventId]="eventId" [moduleId]="moduleId" [sessionId]="sessionId"
                    [session]="session" [userId]="userId" [moduleType]="'session'"
                    [allowDiscussionsGroups]="allowDiscussionsGroups">
                </app-interactivity-segments>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>