<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="!allowButtonsHeader">
            <ion-button [disabled]="true"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ng-container *ngIf="event">
            <ion-img class="event-banner" [src]="event.banner.url"
                *ngIf="event.banner.url !== '' && event.banner.url !== undefined && event.banner.url !== null">
            </ion-img>
        </ng-container>

        <ion-grid *ngIf="event && loader == false">
            <ion-row padding>
                <ion-col col-12 text-center>
                    <h3 class="event-title" [style.color]="title_color">{{event.title}}</h3>
                    <p class="start-day" [style.color]="title_color" *ngIf="event.eventFields.date">{{dayStartDate}} -
                        {{dayEndDate}}</p>
                    <span class="start-month" *ngIf="event.eventFields.date">{{monthStartDate}}/{{yearStartDate}}
                        &nbsp; &nbsp;
                        &nbsp;
                        {{monthEndDate}}/{{yearEndDate}}</span>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="description !== null && 
        description !== undefined &&
         description !== '' &&
         event.eventFields.description || 
         event.site !== '' && 
         event.site !== null && 
         event.site !== undefined &&
         event.eventFields.site ||
         event.emailSupport !== '' && 
         event.emailSupport !== null && 
         event.emailSupport !== undefined &&
         event.eventFields.supportEmail">
                <ion-col col-12 class="custom-col">
                    <ion-card class="custom-card" [style.background]="bg_content_color">
                        <ion-card-content>
                            <h6 *ngIf="description !== null && description !== undefined && event.eventFields.description"
                                class="description-event-title" [style.color]="title_color">
                                {{"global.texts.description" | translate}}
                            </h6>

                            <div *ngIf="global.language == 'de_DE' && event.eventFields.description"
                                [innerHTML]="description?.de_DE | safeHtml" class="description-event-text"></div>
                            <div *ngIf="global.language == 'en_US' && event.eventFields.description"
                                [innerHTML]="description?.en_US| safeHtml" class="description-event-text"></div>
                            <div *ngIf="global.language == 'es_ES' && event.eventFields.description"
                                [innerHTML]="description?.es_ES| safeHtml" class="description-event-text"></div>
                            <div *ngIf="global.language == 'fr_FR' && event.eventFields.description"
                                [innerHTML]="description?.fr_FR| safeHtml" class="description-event-text"></div>
                            <div *ngIf="global.language == 'pt_BR' && event.eventFields.description"
                                [innerHTML]="description?.pt_BR| safeHtml" class="description-event-text"></div>

                            <div class="support"
                                *ngIf="event.emailSupport !== '' && event.emailSupport !== null && event.emailSupport !== undefined && event.eventFields.supportEmail">
                                <br>
                                <h6 class="description-event-title" [style.color]="title_color">
                                    {{"global.texts.support" | translate}}</h6>
                                <a href="mailto:{{event.emailSupport}}"
                                    [style.color]="link_color">{{event.emailSupport}}</a>
                            </div>

                        </ion-card-content>
                        <div class="align-social-icons">
                            <!-- www icon -->
                            <a (click)="openLink(event.site)" *ngIf="event.site !== '' && event.eventFields.site">
                                <svg version="1.1" id="Capa_1" class="social-icons" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 491.858 491.858" style="enable-background:new 0 0 491.858 491.858;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M245.929,0.001C110.106,0.001,0,110.106,0,245.929s110.106,245.928,245.929,245.928
             c54.538,0,104.919-17.764,145.702-47.806c-2.169-0.146-4.286-1.097-5.853-2.847l-40.28-45.014l-21.693,33.293l-17.911-90.492
             l92.117,28.655l-39.651,17.035l40.28,45.016c1.869,2.086,2.503,4.825,2.012,7.378c55.635-45.087,91.206-113.957,91.206-191.147
             C491.858,110.106,381.752,0.001,245.929,0.001z" />
                                                <g style="enable-background:new    ;">
                                                    <path style="fill:#FFFFFF;" d="M91.849,263.346l2.255,12.53l0.25,0.084l2.757-12.614l18.21-57.806h12.53l18.211,57.806
               l2.924,13.7h0.25l2.84-13.7l14.619-57.806h15.371l-26.23,90.385h-12.531l-17.876-55.718l-3.926-16.123h-0.25l-3.759,16.123
               l-17.542,55.718H87.338l-26.23-90.385h15.454L91.849,263.346z" />
                                                    <path style="fill:#FFFFFF;" d="M221.329,263.346l2.255,12.53l0.25,0.084l2.757-12.614l18.21-57.806h12.531l18.211,57.806
               l2.922,13.7h0.252l2.84-13.7l14.619-57.806h15.369l-26.229,90.385h-12.531l-17.877-55.718l-3.926-16.123h-0.25l-3.76,16.123
               l-17.542,55.718h-12.614l-26.23-90.385h15.454L221.329,263.346z" />
                                                    <path style="fill:#FFFFFF;" d="M350.809,263.346l2.255,12.53l0.251,0.084l2.757-12.614l18.211-57.806h12.53l18.211,57.806
               l2.923,13.7h0.251l2.84-13.7l14.619-57.806h15.37l-26.229,90.385h-12.53l-17.877-55.718l-3.926-16.123h-0.251l-3.759,16.123
               l-17.543,55.718h-12.613l-26.23-90.385h15.454L350.809,263.346z" />
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                </svg>
                            </a>

                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="event.placeAddress && event.eventFields.location">
                <ion-col col-12 class="custom-col">
                    <p class="address-event">{{event.placeAddress}}</p>
                    <ion-card class="custom-card" [style.background]="bgcontentcolor">
                        <div #map id="map"></div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="align-loader" *ngIf="loader == true">
            <div class="loader-default"></div>
        </div>
    </div>
</ion-content>