.event-banner {
    width: 100%;
    max-height: 130px;
    object-fit: contain;
    object-position: top;
}

.light-color {
    background: #FFFFFF;
}

.event-title {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}

.start-day {
    font-size: 3.3em;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.start-month {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.65);
}

.time-icon {
    color: rgba(0, 0, 0, 0.65);
}

.description-event-title {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}

.description-event-text {
    margin-top: 10px;
    font-weight: 300;
}

.align-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#Capa_1,
#Capa_2,
#Capa_3,
#Capa_4 {
    width: 35px;
    margin-right: 9.4px;
}

.social-icons {
    fill: #0000006c;
}

.address-event {
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    margin-left: 15px;
    max-width: 305px;
}

#map {
    width: 100%;
    height: 250px;
}