<div *ngIf="documents.length > 0" class="top-space">
    <h5 *ngIf="showTitle" [style.color]="title_color" class="text-center">
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ "pages.documents.default_title" | translate }}</strong>
    </h5>
    <ion-list>
        <ion-virtual-scroll [items]="documents">
            <ion-item detail="true" lines="none" [style.background]="bg_content_color"
                class="align-flex clickable-component" *virtualItem="let document" (click)="openDocument(document)">
                <ion-thumbnail slot="start">
                    <img src="../../../assets/images/{{document.icon}}">
                </ion-thumbnail>
                <ion-label [style.color]="title_color">{{ document?.name[userLanguage] }}</ion-label>
            </ion-item>
        </ion-virtual-scroll>
    </ion-list>
</div>