<ion-header>
  <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
    
    <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" text=""></ion-back-button>
        <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
        <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
    </ion-buttons>
    
    <ion-title>
        <!-- <p>{{"pages.watch_broadcast.watch" | translate}}</p> -->
        <p>Assistir</p>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="player-container" *ngIf="playerNative">
    <div #player></div>
    <ion-icon class="logo" name="ionitron"></ion-icon>
  </div>

  <div class="player-container" *ngIf="playerJavascript">
    <div #playerJavascript></div>
    <ion-icon class="logo" name="ionitron"></ion-icon>
  </div>

  <!-- <div class="player-log">
    <div *ngFor="let line of playerLog">{{ line }}</div>
  </div> -->
</ion-content>