<ion-content>
    <div class="background">
        <div class="align-loader" *ngIf="loader">
            <div class="loader-default"></div>
        </div>
        <div *ngIf="!loader">
            <div class="logo padding-top-40" *ngIf="container?.logoSize == 'invent-logo'">
                <img [src]="container?.logo" class="invent-logo">
            </div>
            <div class="logo" *ngIf="container?.logoSize == 'banner-logo'">
                <img [src]="container?.logo" class="banner-logo">
            </div>

            <app-login-with-code-confirm [containerApp]="container" *ngIf="container?.loginPage.type == 0">
            </app-login-with-code-confirm>
            <app-login-without-code-confirm [containerApp]="container" *ngIf="container?.loginPage.type == 1">
            </app-login-without-code-confirm>
            <app-login-with-shortcode [containerApp]="container" *ngIf="container?.loginPage.type == 2">
            </app-login-with-shortcode>
        </div>
    </div>
</ion-content>