ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.invent-logo {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.banner-logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 600px;
}
