<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formValidation">
                    <ngx-avatar name="{{nameUser}}"
                        *ngIf="name !== null && urlPhoto == '' && croppedImage == null && croppedImage == undefined"
                        size="130" class="custom-avatar">
                    </ngx-avatar>
                    <img class="rounded-circle avatar-size" [src]="urlPhoto" alt=""
                        *ngIf="urlPhoto !== '' && croppedImage == null && croppedImage == undefined">
                    <img class="rounded-circle avatar-size" [src]="croppedImage" *ngIf="croppedImage">
                    <br>
                    <div class="upload-btn-wrapper">
                        <a class="pic-style" data-toggle="modal" data-target="#selectPicture" data-backdrop="static"
                            data-keyboard="false"><i class="material-icons">photo_camera</i> &nbsp; {{"global.select_picture" |
              translate}}</a>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="form-group">
                                <label>{{"global.name" | translate}}</label>
                                <input type="text" class="form-control" placeholder='{{"global.name" | translate}}'
                                    [formControl]="formValidation.controls['name']">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="name.errors?.minlength || name.errors?.maxlenght">
                                    <span *ngIf="name.errors?.minlength">- {{"global.invalid_name" | translate}}
                                        <br></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6" *ngIf="changePassActive == false">
                            <div class="form-group">
                                <label>{{"global.email" | translate}}</label>
                                <input type="email" class="form-control" placeholder='{{"global.email" | translate}}'
                                    [formControl]="formValidation.controls['email']">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="email.errors?.minlength || email.errors?.maxlenght">
                                    <span class="display-error" *ngIf="email.errors?.minlength">-
                                        {{"global.invalid_name" | translate}}
                                        <br>
                                    </span>
                                    <span class="display-error" *ngIf=" email.errors?.email">-
                                        {{"global.invalid_email" | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12" *ngIf="changePassActive == true">
                            <div class="form-group">
                                <label>{{"global.email" | translate}}</label>
                                <input type="email" class="form-control" placeholder='{{"global.email" | translate}}'
                                    [formControl]="formValidation.controls['email']">
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="email.errors?.minlength || email.errors?.maxlenght">
                                    <span class="display-error" *ngIf="email.errors?.minlength">-
                                        {{"global.invalid_name" | translate}}
                                        <br>
                                    </span>
                                    <span class="display-error" *ngIf=" email.errors?.email">-
                                        {{"global.invalid_email" | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6" *ngIf="changePassActive == false">
                            <div class="form-group">
                                <label class="float-left">{{"global.password" | translate}}</label>
                                <a class=" float-right change-passwd" (click)="changePassActive=true">{{"global.change_password"
                  | translate}}</a>
                                <input type="password" class="form-control" placeholder="******" disabled>
                                <div class="alert alert-danger" role="alert" *ngIf="password.errors?.minlength">
                                    - {{"global.alert_password" | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="changePassActive == true">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label class="float-left">{{"global.active_password" | translate}}</label>

                                <input type="password" class="form-control"
                                    [formControl]="formValidation.controls['activePassword']" placeholder="******">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label class="float-left">{{"global.new_password" | translate}}</label>
                                <input type="password" class="form-control"
                                    [formControl]="formValidation.controls['password']" placeholder="******">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label class="float-left">{{"global.confirm_password" | translate}}</label>
                                <input type="password" class="form-control"
                                    [formControl]="formValidation.controls['confirmPassword']" placeholder="******">
                                <a class=" float-right change-passwd-cancel" (click)="changePassActive=false"
                                    (click)="resetPass()">{{"global.cancel_change" | translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="activePassword.errors?.minlength || password.errors?.minlength || confirmPassword.errors?.minlength || passwordNotMatch == true || currentPasswordInvalid == true">
                        <span
                            *ngIf="activePassword.errors?.minlength || password.errors?.minlength || confirmPassword.errors?.minlength">-
                            {{"global.alert_password" | translate}}</span>
                        <br>
                        <span *ngIf="passwordNotMatch == true">- {{"global.password_not_match" | translate}}</span>
                        <span *ngIf="currentPasswordInvalid == true">-
                            {{"global.active_password_invalid" | translate}}</span>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{"global.language" | translate}}</label>
                                <select class="custom-select" [formControl]="formValidation.controls['language']">
                                    <option disabled>{{"global.select_language" | translate}}</option>
                                    <option value="de_DE">{{"comp.event_info.german" | translate}}</option>
                                    <option value="es_ES">{{"comp.event_info.spanish" | translate}}</option>
                                    <option value="en_US">{{"comp.event_info.english" | translate}}</option>
                                    <option value="fr_FR">{{"comp.event_info.french" | translate}}</option>
                                    <option value="pt_BR">{{"comp.event_info.portuguese" | translate}}</option>
                                </select>
                                <div class="alert alert-danger" role="alert" *ngIf="language.errors?.required">
                                    - {{"global.select_language" | translate}}.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="float-left">{{"global.user_type" | translate}}</label>
                                <input type="text" class="form-control" [formControl]="formValidation.controls['type']"
                                    disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>{{"global.description" | translate}}</label>
                                <textarea class="form-control" [formControl]="formValidation.controls['description']"
                                    placeholder='{{"global.placeholder_description" | translate}}' rows="4"></textarea>
                                <!-- <ckeditor [formControl]="formValidation.controls['description']">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
              </ckeditor> -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-custom float-right" (click)="saveProfile(formValidation.value)"
                        [disabled]="!formValidation.valid"
                        *ngIf="loader == false">{{"global.save" | translate}}</button>
                    <div class="align-loader" *ngIf="loader == true">
                        <div class="loader-default"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>


<!-- Modal Select Picture -->
<div class="modal fade" id="selectPicture" tabindex="-1" role="dialog" aria-labelledby="selectPictureLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <strong>{{"global.photo" | translate}}</strong>
                    <button type="button" class="close" (click)="clearCropper()" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <br>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="profilePic"
                        (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .gif" />
                    <label class="custom-file-label" for="customFile"
                        *ngIf="fileName == null">{{"global.select_picture" | translate}}</label>
                    <label class="custom-file-label" for="customFile" *ngIf="fileName !== null">{{fileName}}</label>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="invalidSizeImg == false">
                    <small>{{"global.img_size_alert" | translate}}</small>
                </div>
                <div class="alert alert-danger" *ngIf="invalidSizeImg == true">
                    {{"global.img_size_above_allowed" | translate}}
                </div>
                <br>

                <div class="text-center" *ngIf="cropperShow == true">
                    <image-cropper style="width: 450px; height: 450px;" #cropper [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true" [roundCropper]="true" [aspectRatio]="1/1" [resizeToWidth]="450"
                        format="png,jpeg" (imageCropped)="imageCropped($event)"></image-cropper>

                    <img style="width: 450px; height: auto; border-radius: 100%" [src]="croppedImage" />
                    <br><br>
                    <button class="btn btn-custom float-right"
                        (click)="saveProfilePicture()">{{"global.btn_save" | translate}}</button>
                </div>

            </div>
        </div>
    </div>
</div>