.bg-rl-ranking {
    width: 100vw;
    min-height: 100vh;
    background: #ececec;
    overflow: hidden;
}

.event-banner {
    width: 100vw;
    height: 200px;
}

.img-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.statusbar-event {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-statusbar {
    margin: 0;
    padding: 0;
    font-display: 2em;
    font-weight: bold;
}