<div class="bg-rl-ranking">
  <div class="event-banner" *ngIf="event && event?.banner.url">
    <img src="{{event?.banner.url}}" alt="Logo" class="img-banner">
  </div>
  <div class="statusbar-event" *ngIf="event && !event?.banner.url" [style.background]="event?.colors.menu_color">
    <p class="text-statusbar" [style.color]="event?.colors.menu_text_color">{{event?.title}}</p>
  </div>
  <div class="card" *ngIf="loader == false">
    <div class="card-body--">
      <div class="table-stats order-table ov-h">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>{{"global.name" | translate}}</th>
              <th>{{"global.points" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attendee of attendees; let i = index">
              <td>{{i+1}}.</td>
              <td> {{attendee.name}}</td>
              <td>{{attendee.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
  </div>
</div>