.align-back-btn,
.align-icons-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.align-icons-btn {
    justify-content: center;
}

.checked-txt {
    color: #1FC94F !important;
}

.unchecked-txt {
    color: #c91f1f !important;
}

.opacity-change {
    opacity: 0.3 !important;
}

.group-name-mini {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.5em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin-right: 2px;
}

.align-groups {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.name {
    text-transform: none !important;
}