<div class="row">
    <div class="col-sm-12 col-md-9">
        <a class="align-back-btn float-left" (click)="back()"><i class="material-icons default-icon">arrow_back</i>
            {{"global.back" | translate}}</a>
        <div class="pipe-filter float-right">
            <div class="input-group md-3">
                <input type="text" class="form-control" [(ngModel)]="termS" aria-describedby="basic-addon1"
                    placeholder='{{"global.search_plc" | translate}}'>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="material-icons search-icon">search</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left" (change)="changeOrder()">
                <option value="asc">{{"global.a_z" | translate}}</option>
                <option value="desc">{{"global.z_a" | translate}}</option>
                <option value="present">{{"comp.checkin.presents" | translate}}</option>
                <option value="away">{{"comp.checkin.aways" | translate}}</option>
            </select>
        </div>
    </div>
</div>
<br>
<div class="card" *ngIf="loaderStatus == false">
    <div class="card-body--">
        <div class="table-stats order-table ov-h">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{"global.id" | translate}}</th>
                        <th>{{"global.name" | translate}}</th>
                        <th class="text-center">
                            <div class="btn-group">
                                <span class="btn-drop-custom dropdown-toggle btn-drop-att-group" data-toggle="dropdown">
                                    <span class="normal-txt">{{"global.groups" | translate}}</span>
                                    <span class="caret"></span>
                                </span>
                                <ul id="dropdown-menu-3" class="dropdown-menu drop-att-group" role="menu">
                                    <form>
                                        <li class="">
                                            <select class="selectpicker custom-select" name="groupFilter"
                                                (change)="filterAttendeeGroup()" [(ngModel)]="groupFilter">
                                                <option value="all" selected>{{ "global.select_all" | translate }}
                                                </option>
                                                <option *ngFor="let group of listGroup; let i = index"
                                                    value="{{group.uid}}">
                                                    {{group.name}}
                                                </option>
                                            </select>
                                        </li>
                                    </form>
                                </ul>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="btn-group">
                                <span class="btn-drop-custom dropdown-toggle btn-drop-att-module"
                                    data-toggle="dropdown">
                                    <span class="normal-txt">{{"global.module" | translate}}</span>
                                    <span class="caret"></span>
                                </span>
                                <ul id="dropdown-menu-3" class="dropdown-menu drop-att-module" role="menu">
                                    <form>
                                        <li class="">
                                            <select class="selectpicker custom-select" name="moduleFilter"
                                                (change)="filterAttendeeModule(e)" [(ngModel)]="moduleFilter">
                                                <option value="all" selected>{{ "global.select_all" | translate }}
                                                </option>
                                                <option *ngFor="let module of listModule; let i = index"
                                                    value="{{module.uid}}">
                                                    <span>{{module?.name[formatedLanguage.language]}}</span>
                                                </option>
                                            </select>
                                        </li>
                                    </form>
                                </ul>
                            </div>
                        </th>
                        <th class="text-center">{{"global.status" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let attendee of attendees | filter: termS | paginate: { itemsPerPage: 10, currentPage: pP }; let i = index">
                        <td>{{attendee.identifier}}</td>
                        <td><span class="name">{{attendee.name}}</span></td>
                        <td>
                            <div class="align-groups">
                                <span class="group-name-mini" *ngFor="let group of attendee.groups"
                                    [style.background]="group.bgColor"
                                    [style.color]="group.txtColor">{{group.name}}</span>
                            </div>
                        </td>

                        <td class="text-center">{{attendee?.module.name[formatedLanguage.language]}}</td>


                        <td class="text-center">
                            <a class="align-icons-btn checked-txt {{changeActive == true ? 'opacity-change' : ''}}"
                                (click)="changeUserCheckin(attendee, attendee.moduleId, false)"
                                *ngIf="attendee.checkinStatus == true"><i
                                    class="material-icons default-icon">check_circle_outline</i>
                                &nbsp;{{"comp.checkin.showed" | translate}} &nbsp;
                            </a>
                            <a class="align-icons-btn unchecked-txt {{changeActive == true ? 'opacity-change' : ''}}"
                                (click)="changeUserCheckin(attendee, attendee.moduleId, true)"
                                *ngIf="attendee.checkinStatus !== true "><i
                                    class="material-icons default-icon">highlight_off</i>&nbsp;
                                {{"comp.checkin.away" | translate}}</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="align-loader" *ngIf="loaderStatus == true">
    <div class="loader-default"></div>
</div>
<div class="page-align" *ngIf="loaderStatus == false">
    <pagination-controls (pageChange)="pP = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>