<div class="questions-main-container">
    <!-- List of questions -->
    <div #mainContainer [class.background]="isMobile" [class.desktop-background]="!isMobile">
        <div *ngFor="let question of questions; let i = index">
            <div *ngIf="question?.visibility == true || session?.askModerate == false">
                <ion-item class="justify-text" [style.background]="bg_content_color">
                    <label class="ask-text ion-text-wrap"
                        [style.color]="text_content_color">{{ question?.question }}</label>

                    <ion-text slot="end">
                        <span class="num-and-icon" (click)="questionAddVote(question)">
                            <span class="ask-text" [style.color]="text_content_color"
                                class="num-votes">{{ question?.totalVotes }}
                                &nbsp;</span>
                            <i class="material-icons false" *ngIf="!question?.userLiked">thumb_up</i>
                            <i class="material-icons" [style.color]="menu_color"
                                *ngIf="question?.userLiked">thumb_up</i>
                        </span>
                    </ion-text>
                </ion-item>
            </div>
        </div>
    </div>

    <!-- End of list of questions -->

    <!-- Footer for submitting a new question -->
    <ion-footer [class.footer-desktop]="!isMobile">
        <ion-list [(ngModel)]="txtQuestion" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            <ion-item lines="none">
                <ion-textarea placeholder='{{"pages.ask_question.ask_question_plc" | translate}}'
                    value="{{txtQuestion}}">
                </ion-textarea>
            </ion-item>
        </ion-list>

        <ion-button shape="round" class="btn-default btn-custom-shaped ion-color" [style.background]="menu_color"
            [style.color]="menu_text_color" (click)="createQuestion()"
            [disabled]="txtQuestion === null || txtQuestion === ''">
            {{"global.buttons.ask_question" | translate}}
        </ion-button>
    </ion-footer>

    <!-- End of Footer -->
</div>