:host {
    width: 100%;
    height: 100%;

    .questions-main-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.false {
    color: rgba(0, 0, 0, 0.5);
}

.num-and-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.btn-custom-shaped {
    margin-top: 20px;
    border-radius: 15px;
    display: block;
}

.background {
    min-height: 80% !important;
}

.desktop-background {
    overflow: hidden;
    height: calc(100% - 150px);
    overflow: scroll;
}

ion-text {
    cursor: pointer;
}

ion-footer {
    padding-bottom: 20px;
}

.footer-desktop {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    height: 150px;
}