<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>

        <ion-title>
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>
        </ion-title>

        <ion-buttons slot="end" *ngIf="allowButtonsHeader">
            <app-notifys-badges [eventId]="eventId"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background">
        <ion-list *ngIf="!loader">
            <ion-item lines="none" class="ion-color" [style.background]="bg_content_color"
                *ngFor="let folder of folders; let i = index"
                routerLink="/event/{{eventId}}/gallery/{{moduleId}}/folder/{{folder.uid}}">
                <ion-label [style.color]="title_color" *ngIf="global.language == 'pt_BR'">
                    <strong>{{folder?.name.PtBR}}</strong></ion-label>
                <ion-label [style.color]="title_color" *ngIf="global.language == 'en_US'">
                    <strong>{{folder?.name.EnUS}}</strong></ion-label>
                <ion-label [style.color]="title_color" *ngIf="global.language == 'es_ES'">
                    <strong>{{folder?.name.EsES}}</strong></ion-label>
                <ion-label [style.color]="title_color" *ngIf="global.language == 'fr_FR'">
                    <strong>{{folder?.name.FrFR}}</strong></ion-label>
                <ion-label [style.color]="title_color" *ngIf="global.language == 'de_DE'">
                    <strong>{{folder?.name.DeDE}}</strong></ion-label>
            </ion-item>
        </ion-list>

        <!-- await loading gallery list -->
        <div *ngIf="loader">
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>