<div class="row">
    <div class="col-xl-7">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12">

                            <div class="form-group" *ngIf="container?.uid">
                                <label> {{"global.identifier" | translate}}</label>
                                <input class="form-control" [value]="container.uid" disabled>
                            </div>

                            <div class="form-group">
                                <label><small style="color: red">*</small>
                                    {{"comp.containers.container_name" | translate}}</label>
                                <input type="text" class="form-control"
                                    placeholder='{{"global.placeholder_name" | translate}}'
                                    [(ngModel)]="container.appName" [ngModelOptions]="{standalone: true}" />
                            </div>

                            <!-- <div class="form-group" *ngIf="container?.clientName">
                <label><small style="color: red">*</small> {{"comp.adm_resume.client" | translate}}</label>
                <input class="form-control" [value]="container.clientName" disabled>
              </div> -->

                            <div class="form-group">
                                <label><small style="color: red">*</small> {{"comp.identity.logo" | translate}}</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" accept="image/*"
                                        (change)="getPicture($event)" />
                                    <label class="custom-file-label" for="customFile">
                                        <span *ngIf="nameFile == null">{{"global.select_file" | translate}}</span>
                                        <span *ngIf="nameFile !== null">{{nameFile}}</span>
                                    </label>
                                </div>
                                <ng-container *ngIf="container?.logo && displayImage == null">
                                    <br /><br />
                                    <img [src]="container?.logo" class="{{container?.logoSize}}" alt="Logo" />
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <label><small style="color: red">*</small>
                                    {{"comp.containers.logo_size" | translate}}</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="logoSize" id="half"
                                        value="invent-logo" [(ngModel)]="container.logoSize" checked>
                                    <label class="form-check-label" for="half">
                                        {{"comp.containers.normal" | translate}}
                                        <small>({{"comp.containers.recommended_size" | translate}}:
                                            250x250px)</small>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="logoSize" id="full"
                                        value="banner-logo" [(ngModel)]="container.logoSize">
                                    <label class="form-check-label" for="full">
                                        {{"comp.containers.banner" | translate}}
                                        <small>({{"comp.containers.recommended_size" | translate}}:
                                            1024x500px)</small>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label><small style="color: red">*</small>
                                    {{"comp.containers.login_options" | translate}}</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="loginType"
                                        (change)="changeLoginType($event)" id="codeConfirm" [value]="0"
                                        (change)="loginTypeEventChange()" [(ngModel)]="container.loginPage.type"
                                        checked>
                                    <label class="form-check-label" for="codeConfirm">
                                        {{"comp.containers.login_with_code_confirm" | translate}}
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="loginType"
                                        (change)="changeLoginType($event)" id="withoutConfirm" [value]="1"
                                        (change)="loginTypeEventChange()" [(ngModel)]="container.loginPage.type">
                                    <label class="form-check-label" for="withoutConfirm">
                                        {{"comp.containers.login_without_code_confirm" | translate}}
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="loginType"
                                        (change)="changeLoginType($event)" id="withShortcode" [value]="2"
                                        (change)="loginTypeEventChange()" [(ngModel)]="container.loginPage.type">
                                    <label class="form-check-label" for="withShortcode">
                                        {{"comp.containers.by_shortcode" | translate}}
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="loginType"
                                        (change)="changeLoginType($event)" id="specificEvent" [value]="3"
                                        (change)="loginTypeEventChange()" [(ngModel)]="container.loginPage.type"
                                        [disabled]="container.clientId == null">
                                    <label class="form-check-label" for="specificEvent">
                                        {{"comp.containers.by_public_event_home" | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="alert alert-warning" role="alert" *ngIf="!displaySelectEvent && noEvents">
                                {{"comp.containers.no_public_events" | translate}}
                            </div>
                            <div class="loader-default" *ngIf="eventLoader"></div>
                            <div class="form-group" *ngIf="displaySelectEvent && !eventLoader">
                                <label>{{"comp.containers.select_event" | translate}}</label>
                                <select class="custom-select" [(ngModel)]="container.loginPage.eventId"
                                    (change)="selectEventClient()" [ngModelOptions]="{standalone: true}"
                                    *ngFor="let event of events">
                                    <option selected disabled value="null">{{"global.select_option" | translate}}
                                    </option>
                                    <option [value]="event.uid">{{event.title}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>{{"comp.containers.additional_options" | translate}}</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [value]="true" id="showShortcodeBtn"
                                        [(ngModel)]="container.loginOptions.shortcodeBtn"
                                        [ngModelOptions]="{standalone: true}" [disabled]="container.clientId == null">
                                    <label class="form-check-label" for="showShortcodeBtn">
                                        {{"comp.containers.allow_shortcode_btn" | translate}}
                                    </label>
                                </div>
                                <!-- <div class="form-check">
                  <input class="form-check-input" type="checkbox" [value]="false" id="showFbBtn"
                    [disabled]="!allowPublicOptions">
                  <label class="form-check-label" for="showFbBtn">
                    {{"comp.containers.allow_fb_btn" | translate}}
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [value]="false" id="showGoogleBtn"
                    [disabled]="!allowPublicOptions">
                  <label class="form-check-label" for="showGoogleBtn">
                    {{"comp.containers.allow_google_btn" | translate}}
                  </label>
                </div> -->
                                <br />
                                <div class="form-group">
                                    <label>{{"global.terms_of_use" | translate}}</label>
                                    <ckeditor [(ngModel)]="container.termsOfUse" [ngModelOptions]="{standalone: true}">
                                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                                        </ckbutton>
                                    </ckeditor>
                                </div>
                                <div class="form-group">
                                    <label>{{"global.privacy" | translate}}</label>
                                    <ckeditor [(ngModel)]="container.privacyTerms"
                                        [ngModelOptions]="{standalone: true}">
                                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'">
                                        </ckbutton>
                                    </ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-xl-5">
        <div class="card">
            <div class="card-header text-center">
                <span class="text-bold">{{"global.resume" | translate}}</span>
            </div>
            <div class="card-body text-center">
                <h4 class="event-name" *ngIf="container?.appName == null">-</h4>
                <h4 class="event-name" *ngIf="container?.appName !== null"><strong>{{container?.appName}}</strong></h4>
                <h4 class="event-name" *ngIf="container?.clientId !== null">{{container?.clientName}}<br /><br />
                </h4>
                <h6 *ngIf="container?.clientId !== null && container?.logoSize == 'invent-logo'">
                    {{"comp.identity.logo" | translate}} {{"comp.containers.normal" | translate}}</h6>
                <h6 *ngIf="container?.clientId !== null && container?.logoSize == 'banner-logo'">
                    {{"comp.identity.logo" | translate}} {{"comp.containers.banner" | translate}}</h6>
                <h6 *ngIf="container?.clientId !== null">
                    <span
                        *ngIf="container?.loginPage.type == 0">{{"comp.containers.login_with_code_confirm" | translate}}</span>
                    <span
                        *ngIf="container?.loginPage.type == 1">{{"comp.containers.login_without_code_confirm" | translate}}</span>
                    <span *ngIf="container?.loginPage.type == 2">{{"comp.containers.by_shortcode" | translate}}</span>
                    <span *ngIf="container?.loginPage.type == 3">{{"comp.containers.by_public_event_home" | translate}}
                        <br />
                        <span *ngIf="selectedEvent !== null">{{event?.title}}</span>
                    </span>
                </h6>
                <h6 *ngIf="container?.clientId !== null">
                    <span
                        *ngIf="container?.loginOptions.shortcodeBtn">{{"comp.containers.allow_shortcode_btn" | translate}}<br /></span>
                    <span
                        *ngIf="container?.loginOptions.fbLoginBtn">{{"comp.containers.allow_fb_btn" | translate}}<br /></span>
                    <span
                        *ngIf="container?.loginOptions.gLoginBtn">{{"comp.containers.allow_google_btn" | translate}}<br /></span>
                </h6>
                <br />
                <div class="alert alert-danger" role="alert" *ngIf="blankField">
                    {{"comp.containers.fill_all_required_fields" | translate}} "<strong>*</strong>"
                </div>
                <div class="align-loader" *ngIf="saveLoader">
                    <div class="loader-default"></div>
                </div>
                <button class="btn btn-custom" *ngIf="!saveLoader" (click)="updateContainer()"
                    [disabled]="blockBtnSave">{{"global.btn_save" | translate}}
                    {{"comp.containers.container" | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false"
    (confirm)="redirectList()">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>