<div class="card">
    <div class="card-body">
        <label class="text-bold">{{"global.privacy" | translate}}</label>
        <ckeditor [(ngModel)]="privacy">
            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
        </ckeditor>
        <br>
        <button class="btn btn-secondary float-right" type="submit" (click)="savePrivacy()" [swal]="confirmSwal">{{"global.save"
      | translate}}</button>
    </div>
</div>

<swal #confirmSwal title="Sucesso!" text="Os dados foram salvos com sucesso." icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>