.img-thumbnail {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.visible-right {
    margin-right: 2px;
}

.normal-icon,
.red-icon {
    cursor: pointer;
    font-size: 1.5em;
}

.red-icon {
    color: #c91f1f;
}