<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTabFeed" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="feed-posts" data-toggle="tab" href="#allposts" role="tab"
                        aria-controls="allposts" aria-selected="true">{{"comp.feed_news.posts" | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="adm-posts" data-toggle="tab" href="#moderation" role="tab"
                        aria-controls="moderation" aria-selected="false">{{"comp.feed_news.moderation" | translate}}</a>
                </li>
            </ul>

            <div *ngIf="loader === false" class="tab-content" id="myTabFeedContent">
                <div class="tab-pane fade show active" id="allposts" role="tabpanel" aria-labelledby="feed-posts">
                    <div class="card">
                        <div class="card-body">
                            <div class="header-buttons">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                    </div>
                                    <div class="col-sm-12 col-md-6 ">
                                        <button class="btn btn-custom float-right" data-toggle="modal"
                                            data-target="#newPostFeed"
                                            (click)="modalOpened='#newPostFeed'">{{"global.btn_new" | translate}}</button>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="table-stats order-table ov-h">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{"global.picture" | translate}}</th>
                                            <th>{{"global.description" | translate}}</th>
                                            <th class="text-center">{{"global.fixed" | translate}}</th>
                                            <th>{{"global.manage" | translate}}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr
                                            *ngFor="let post of posts  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                            <td>
                                                <span *ngIf="post.img.url.length > 0" class="picture">
                                                    <img class="img-thumbnail" src="{{post.img.url}}">
                                                </span>
                                            </td>

                                            <td>
                                                <p [innerHTML]="post.description | safeHtml"></p>
                                            </td>

                                            <td class="text-center">
                                                <ui-switch *ngIf="post.fixedTop === 1" size="small"
                                                    checkedLabel='{{"global.disabled" | translate}}'
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    (click)="onChangeFixedTopPost(post, 0)">
                                                </ui-switch>

                                                <ui-switch *ngIf="post.fixedTop === 0" size="small"
                                                    checkedLabel='{{"global.enabled" | translate}}'
                                                    uncheckedLabel='{{"global.enabled" | translate}}'
                                                    (click)="onChangeFixedTopPost(post, 1)" checked>
                                                </ui-switch>
                                            </td>

                                            <td>
                                                <a data-toggle="modal" data-target="#editPostFeed"
                                                    (click)="getEditPost(post);modalOpened='#editPostFeed'"><i
                                                        class="material-icons default-icon">create</i></a>
                                                <a (click)="getRemovePost(post)" [swal]="deleteSwal"><i
                                                        class="material-icons default-icon delete-icon">delete</i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div class="page-align">
                                    <pagination-controls (pageChange)="p = $event" class="custom-pagination"
                                        responsive="true" directionLinks="false" autoHide="true"></pagination-controls>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="moderation" role="tabpanel" aria-labelledby="adm-posts">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-stats order-table ov-h">
                                <div class="header-buttons">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">{{"comp.feed_news.public_feed" | translate}}
                                                    </th>
                                                    <th class="text-center">
                                                        {{"comp.feed_news.need_moderation" | translate}}</th>
                                                    <th class="text-center">
                                                        {{"comp.feed_news.allow_comments" | translate}}</th>
                                                    <th class="text-center">
                                                        {{"comp.feed_news.social_shared" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <!-- public -->
                                                    <td *ngIf="isPublic === true" class="text-center">
                                                        <ui-switch size="small"
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            uncheckedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModulePublic(false)" checked>
                                                        </ui-switch>
                                                    </td>

                                                    <td *ngIf="isPublic === false" class="text-center">
                                                        <ui-switch size="small"
                                                            uncheckedLabel='{{"global.disabled" | translate}}'
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModulePublic(true)">
                                                        </ui-switch>
                                                    </td>

                                                    <!-- need moderate -->
                                                    <td *ngIf="isNeed_moderate === true" class="text-center">
                                                        <ui-switch size="small"
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            uncheckedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModuleNeedModerate(false)" checked>
                                                        </ui-switch>
                                                    </td>

                                                    <td *ngIf="isNeed_moderate === false" class="text-center">
                                                        <ui-switch size="small"
                                                            uncheckedLabel='{{"global.disabled" | translate}}'
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModuleNeedModerate(true)">
                                                        </ui-switch>
                                                    </td>



                                                    <!-- comments -->
                                                    <td *ngIf="isComment === true" class="text-center">
                                                        <ui-switch size="small"
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            uncheckedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModuleComment(false)" checked>
                                                        </ui-switch>
                                                    </td>

                                                    <td *ngIf="isComment === false" class="text-center">
                                                        <ui-switch size="small"
                                                            uncheckedLabel='{{"global.disabled" | translate}}'
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModuleComment(true)">
                                                        </ui-switch>
                                                    </td>

                                                    <!-- social shared -->
                                                    <td *ngIf="social_sharing === true" class="text-center">
                                                        <ui-switch size="small"
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            uncheckedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModuleSocialSharing(false)" checked>
                                                        </ui-switch>
                                                    </td>

                                                    <td *ngIf="social_sharing === false" class="text-center">
                                                        <ui-switch size="small"
                                                            uncheckedLabel='{{"global.disabled" | translate}}'
                                                            checkedLabel='{{"global.enabled" | translate}}'
                                                            (click)="onChangeModuleSocialSharing(true)">
                                                        </ui-switch>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{"global.picture" | translate}}</th>
                                            <th>{{"global.description" | translate}}</th>
                                            <th>{{"global.visible" | translate}}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr
                                            *ngFor="let post of posts  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                            <td>
                                                <span *ngIf="post.img.url.length > 0" class="picture">
                                                    <img class="img-thumbnail" src="{{post.img.url}}">
                                                </span>
                                            </td>

                                            <td>
                                                <p [innerHTML]="post.description | safeHtml"></p>
                                            </td>

                                            <td *ngIf="post.active === true">
                                                <ui-switch size="small" checkedLabel='{{"global.enabled" | translate}}'
                                                    uncheckedLabel='{{"global.enabled" | translate}}'
                                                    (change)="onChangeActivePost(post, false)" checked>
                                                </ui-switch>
                                            </td>

                                            <td *ngIf="post.active === false">
                                                <ui-switch size="small" checkedLabel='{{"global.disabled" | translate}}'
                                                    uncheckedLabel='{{"global.disabled" | translate}}'
                                                    (change)="onChangeActivePost(post, true)">
                                                </ui-switch>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="align-loader" *ngIf="loader == true">
                <div class="loader-default"></div>
            </div>

        </div>
    </div>
</div>

<!-- Modal Create New Post -->
<div class="modal fade" id="newPostFeed" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
    aria-labelledby="newPostFeedLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formValidationCreatePost">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPostFeedLabel">
                        <strong>{{"comp.feed_news.new_post" | translate}}</strong>
                        <button type="button" class="close" (click)="closeModal('#newPostFeed')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{"global.picture" | translate}}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileImage"
                                (change)="onUploadChangeCreatePost($event)">
                            <label class="custom-file-label" for="customFileImage">{{fileCreatePostName}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{"global.description" | translate}}</label>
                        <!-- <textarea class="form-control" rows="4" placeholder='{{"global.placeholder_description" | translate}}' [formControl]="formValidationCreatePost.controls['description']"></textarea> -->
                        <ckeditor [formControl]="formValidationCreatePost.controls['description']">
                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                        </ckeditor>
                    </div>

                    <div class="form-group">
                        <label>{{"comp.feed_news.fixed_post_txt" | translate}}</label>
                        <br>

                        <ui-switch *ngIf="formValidationCreatePost.value.fixedTop === false" size="small"
                            checkedLabel='{{"global.disabled" | translate}}'
                            uncheckedLabel='{{"global.disabled" | translate}}' (click)="onChangeFixedTop(true)">
                        </ui-switch>

                        <ui-switch *ngIf="formValidationCreatePost.value.fixedTop === true" size="small"
                            checkedLabel='{{"global.enabled" | translate}}'
                            uncheckedLabel='{{"global.enabled" | translate}}' (click)="onChangeFixedTop(false)" checked>
                        </ui-switch>
                    </div>
                </div>

                <div class="align-loader" *ngIf="loaderCreatePost === true">
                    <div class="loader-default"></div>
                </div>

                <div class="modal-footer">
                    <button (click)="createPost(formValidationCreatePost.value)" type="button"
                        class="btn btn-custom float-right">{{"global.btn_add" | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Edit Post -->
<div class="modal fade" id="editPostFeed" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
    aria-labelledby="editPostFeedLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formValidationEditPost">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPostFeedLabel">
                        <strong>{{"comp.feed_news.edit_post" | translate}}</strong>
                        <button type="button" class="close" (click)="closeModal('#editPostFeed')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{"global.picture" | translate}}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileImage"
                                (change)="onUploadChangeEditPost($event)">
                            <label class="custom-file-label" for="customFileImage">{{fileEditPostName}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{"global.description" | translate}}</label>
                        <ckeditor [formControl]="formValidationEditPost.controls['description']">
                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [toolbar]="'clipboard,1'"></ckbutton>
                        </ckeditor>
                    </div>

                    <div class="form-group">
                        <label>{{"comp.feed_news.fixed_post_txt" | translate}}</label>
                        <br>

                        <ui-switch *ngIf="formValidationEditPost.value.fixedTop === false" size="small"
                            checkedLabel='{{"global.disabled" | translate}}'
                            uncheckedLabel='{{"global.disabled" | translate}}' (click)="onChangeEditPostFixedTop(true)">
                        </ui-switch>

                        <ui-switch *ngIf="formValidationEditPost.value.fixedTop === true" size="small"
                            checkedLabel='{{"global.enabled" | translate}}'
                            uncheckedLabel='{{"global.enabled" | translate}}' (click)="onChangeEditPostFixedTop(false)"
                            checked>
                        </ui-switch>
                    </div>
                </div>

                <div class="align-loader" *ngIf="loaderEditPost === true">
                    <div class="loader-default"></div>
                </div>

                <div class="modal-footer">
                    <button (click)="editPost(formValidationEditPost.value)" type="button"
                        class="btn btn-custom float-right">{{"global.btn_add" | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removePost()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>