<a class="align-back-btn float-left" (click)="back()"><i class="material-icons default-icon">arrow_back</i>
    {{"global.back" | translate}}</a><br>
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 *ngIf="userLanguage == 'pt_BR'" class="box-title float-left">{{module?.name.PtBR}}</h4>
                    <h4 *ngIf="userLanguage == 'en_US'" class="box-title float-left">{{module?.name.EnUS}}</h4>
                    <h4 *ngIf="userLanguage == 'es_ES'" class="box-title float-left">{{module?.name.EsES}}</h4>
                    <h4 *ngIf="userLanguage == 'fr_FR'" class="box-title float-left">{{module?.name.FrFR}}</h4>
                    <h4 *ngIf="userLanguage == 'de_DE'" class="box-title float-left">{{module?.name.DeDE}}</h4>

                    <div class="float-right">
                        <button type="button" class="btn btn-custom btn-margin-right-default" data-toggle="modal"
                            data-target="#add-img-gallery">{{"global.btn_new"
                                      | translate}}
                        </button>
                        <button class="btn btn-custom-settings" data-toggle="modal" data-target="#settingsModal"><i
                                class="material-icons icon-settings">settings</i></button>
                    </div>
                </div>
            </div>

            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label> &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete" [swal]="deleteAllSwal">
                                {{"global.delete_selecteds" | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-1"></div>
                    <div class="col-sm-12 col-md-5">
                        <div class="form-group float-right">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="card" *ngIf="images.length >= 1 && loader == false">
                <div class="card-body--">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 mg-bottom" *ngFor="let img of images; let i = index">
                            <div class="select-td">
                                <div class="form-check">
                                    <input [(ngModel)]="imagesSelected[img.uid]" class="form-check-input"
                                        type="checkbox" id="selectImages">
                                </div>
                            </div>
                            <div class="align-btns">
                                <a target="_blank" href="{{img.url}}"><i
                                        class="material-icons download-icon">cloud_download</i></a>
                                <a (click)="getImageDelete(img.uid, img.storageId)" [swal]="deleteSwal"><i
                                        class="material-icons delete-icon">delete</i></a>
                            </div> <img class="gallery-img" [src]="img.url" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-loader" *ngIf="loader == true">
                <div class="loader-default"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Upload Gallery -->
<div class="modal fade" id="add-img-gallery" tabindex="-1" role="dialog" aria-labelledby="add-img-galleryLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert" *ngIf="event">
                    <span>{{"global.max_size_file" | translate}}
                        <span *ngIf="event.gallery_file_limit == 1024000">1MB</span>
                        <span *ngIf="event.gallery_file_limit == 2048000">2MB</span>
                        <span *ngIf="event.gallery_file_limit == 3072000">3MB</span>
                        <span *ngIf="event.gallery_file_limit == 5120000">5MB</span>
                        <span *ngIf="event.gallery_file_limit == 10240000">10MB</span>
                    </span>
                </div>
                <dropzone [config]="dropConfig" [message]="translateMsg" (success)="upload($event)">
                </dropzone>

                <div class="alert alert-danger" role="alert" *ngIf="invalidSize == true">
                    <span>{{"global.invalid_file_size" | translate}}
                        <span *ngIf="event.gallery_file_limit == 1024000">(1MB)</span>
                        <span *ngIf="event.gallery_file_limit == 2048000">(2MB)</span>
                        <span *ngIf="event.gallery_file_limit == 3072000">(3MB)</span>
                        <span *ngIf="event.gallery_file_limit == 5120000">(5MB)</span>
                        <span *ngIf="event.gallery_file_limit == 10240000">(10MB)</span>

                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteImage()">
</swal>


<!-- modal delete confirm -->
<swal #deleteAllSwal title='{{"global.modals.delete" | translate}}'
    text='{{"global.modals.delete_message" | translate}}' icon="error"
    confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="removeSelected()">
</swal>

<!-- Modal Settings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel"><strong>{{"global.modal_configs" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <p><strong>{{"comp.gallery.grid_format" | translate}}</strong></p>
                <select class="form-control col-4" [(ngModel)]="grid" (change)="changeGridFormat($event)">
                    <option disabled value="-1">{{"global.select_option" | translate}}</option>
                    <option value="false">{{"comp.gallery.row" | translate}}</option>
                    <option value="true">{{"comp.gallery.col" | translate}}</option>
                </select>
                <br>
                <p><strong>{{"comp.gallery.allow_change_grid" | translate}}</strong></p>
                <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                    checkedLabel='{{"global.yes_btn" | translate}}' [checked]="allowChangeGrid"
                    (change)="allowChangeGridFormat($event)">
                </ui-switch>
                <p><strong>{{"comp.gallery.allow_download" | translate}}</strong></p>
                <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                    checkedLabel='{{"global.yes_btn" | translate}}' [checked]="allowDownload"
                    (change)="allowDownloadSave($event)">
                </ui-switch>
                <p><strong>{{"comp.gallery.allow_download_all" | translate}}</strong></p>
                <ui-switch size="small" color="#1FC94F" uncheckedLabel='{{"global.no_btn" | translate}}'
                    checkedLabel='{{"global.yes_btn" | translate}}' [checked]="allowDownloadAll"
                    (change)="allowDownloadAllSave($event)">
                </ui-switch>
            </div>
        </div>
    </div>
</div>