.card-drag {
    padding: 2% 0 2% 0;
    text-align: center;
    background: #e6e6e6;
    border: dashed 1px rgba(0, 0, 0, 0.452);
}

.cloud {
    margin: 0 auto;
    display: block;
}

.btn-drag {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.drag-style {
    width: 100%;
    text-align: center;
    padding: 30px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    background: #f0f0f0;
}

.gallery-img {
    margin: 0 auto;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-body-- {
    padding: 10px;
}

.align-btns {
    position: absolute;
    top: 3.5%;
    right: 10%;
    cursor: pointer;
}

.delete-icon,
.download-icon {
    font-size: 17px;
}

.download-icon {
    color: #2e2e2e;
}

.mg-bottom {
    margin-bottom: 15px;
}

.select-td {
    width: 1px !important;
    margin: 0 !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.align-back-btn,
.align-icons-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}