<ion-header>
    <ion-toolbar class="ion-color" [style.background]="menu_color" [style.color]="menu_text_color">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!allowButtonsHeader" icon="md-arrow-back" text="">
            </ion-back-button>
            <ion-menu-button id="menu-btn-toggle"></ion-menu-button>
            <!-- <ion-badge color="danger" id="menu-badge-ctrl" *ngIf="menuBadge >= 1">{{menuBadge}}</ion-badge> -->
        </ion-buttons>
        <ion-title *ngIf="!searchOpen">
            <p *ngIf="global.language == 'pt_BR'">{{module?.name.PtBR}}</p>
            <p *ngIf="global.language == 'en_US'">{{module?.name.EnUS}}</p>
            <p *ngIf="global.language == 'es_ES'">{{module?.name.EsES}}</p>
            <p *ngIf="global.language == 'fr_FR'">{{module?.name.FrFR}}</p>
            <p *ngIf="global.language == 'de_DE'">{{module?.name.DeDE}}</p>

        </ion-title>
        <ion-searchbar *ngIf="searchOpen" placeholder='{{"global.texts.search_plc" | translate}}'
            showCancelButton="true" cancelButtonText='{{"global.buttons.cancel" | translate}}'
            (ionCancel)="searchOpen=false" (keyup)="searchBar($event)">
        </ion-searchbar>

        <ion-buttons slot="end">
            <ion-button slot="icon-only" *ngIf="!searchOpen" (click)="searchOpen=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <app-notifys-badges [eventId]="eventId" *ngIf="allowButtonsHeader"></app-notifys-badges>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background" *ngIf="!loader">
        <!-- <ion-list> -->
        <ion-item detail lines="none" class="ion-color" [style.background]="bg_content_color"
            *ngFor="let checkin of checkins; let i = index" (click)="openDetail(checkin.uid)">
            <ion-label [style.color]="title_color">
                {{checkin.name}}
            </ion-label>
        </ion-item>
        <!-- </ion-list> -->
    </div>
    <!-- await loading checkin list -->
    <div class="background" *ngIf="loader">
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
            </ion-label>
        </ion-item>
    </div>
</ion-content>