<div class="container">
    <!-- <div class="row text-center">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header card-header-1">{{totalEvents}}</div>
        <div class="card-content">
          <p class="card-text lowercase">{{"global.events" | translate}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header card-header-2">{{totalAttendees}}</div>
        <div class="card-content">
          <p class="card-text lowercase">{{"global.attendees" | translate}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header card-header-3">{{totalAccess}}</div>
        <div class="card-content">
          <p class="card-text lowercase">{{"global.access_total" | translate}}</p>
        </div>
      </div>
    </div>
  </div> -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="float-right">
                <button class="btn btn btn-custom btn-margin-right-default" disabled>
                    {{"global.add_new_event" | translate}}
                </button>
                <button class="btn btn btn-custom btn-margin-right-default" *ngIf="userType <= 2"
                    (click)="openContainers()">
                    {{"comp.adm_dashboard.application" | translate}}
                </button>
                <button class="btn btn btn-custom btn-margin-right-default" (click)="openEmployees()"
                    *ngIf="userType <= 2">
                    {{"global.employees" | translate}}
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- <div class="col-sm-12 col-md-6">
      <button class="btn btn-custom" disabled>
        {{"global.add_new_event" | translate}}
      </button>
      &nbsp;
      <button class="btn btn-custom" (click)="openEmployees()" *ngIf="userType <= 2">
        {{"global.employees" | translate}}
      </button>
    </div> -->
        <div class="col-sm-12 col-md-12 float-right">
            <div class="row">
                <div class="col-sm-12 col-md-3"></div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <select [(ngModel)]="typeOrder" class="custom-select" id="select-left" (change)="changeOrder()">
                            <option value="asc">{{"global.a_z" | translate}}</option>
                            <option value="desc">{{"global.z_a" | translate}}</option>
                            <option value="nearest">{{"global.latest" | translate}}</option>
                            <option value="distant">{{"global.oldest" | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="pipe-filter">
                        <div class="input-group md-6">
                            <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                                placeholder='{{"global.search_plc" | translate}}'>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="material-icons search-icon">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="card" *ngIf="loader == false">
        <div class="card-body--">
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>{{"global.event" | translate}}</th>
                            <th class="text-center">{{"global.date" | translate}}</th>
                            <th>{{"global.manage" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let event of events | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <td>
                                <span class=" group-name color-blue">{{event.title}}</span>
                            </td>
                            <td class="text-center">
                                <span class="group-name color-blue">{{event.startDate}}</span>
                            </td>
                            <td>
                                <a routerLink="/event/{{event.uid}}"><i
                                        class="material-icons default-icon">create</i></a>
                                <!-- <a [swal]="deleteSwal" (click)="getEventRemove(event.uid, i)"><i class="material-icons default-icon delete-icon">delete</i></a> -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div> <!-- /.table-stats -->
        </div>
    </div> <!-- /.card -->
    <div class="align-loader" *ngIf="loader == true">
        <div class="loader-default"></div>
    </div>
</div>