.lowercase {
    text-transform: lowercase
}

.card {
    border: none;
}

.card-header-1,
.card-header-2,
.card-header-3 {
    margin: 0;
    text-align: center;
    border: none;
    font-size: 2em;
    font-weight: 600;
}

.card-header-1 {
    background: #3BE1A4;
}

.card-header-2 {
    background: #63D1FA;
}

.card-header-3 {
    background: #F0FA63;
}

.card-text {
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 15px 0 15px 0;
    text-transform: lowercase;
}

.default-icon {
    font-size: 1.7em;
}