<a class="align-back-btn float-left" (click)="back()"><i class="material-icons default-icon">arrow_back</i>
    {{"global.back" | translate}}</a><br>
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 *ngIf="userLanguage == 'pt_BR'" class="box-title float-left">{{module?.name.PtBR}}</h4>
                    <h4 *ngIf="userLanguage == 'en_US'" class="box-title float-left">{{module?.name.EnUS}}</h4>
                    <h4 *ngIf="userLanguage == 'es_ES'" class="box-title float-left">{{module?.name.EsES}}</h4>
                    <h4 *ngIf="userLanguage == 'fr_FR'" class="box-title float-left">{{module?.name.FrFR}}</h4>
                    <h4 *ngIf="userLanguage == 'de_DE'" class="box-title float-left">{{module?.name.DeDE}}</h4>

                    <div class="float-right">
                        <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#add-document">{{"global.btn_new"
                                          | translate}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="header-options">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="select-delete-options">
                            <div class="form-check float-left">
                                <input [(ngModel)]="selectedAllInput" class="form-check-input" type="checkbox" value=""
                                    id="selectAll" (change)="selectedAll()">
                                <label class="form-check-label" for="selectAll">
                                    {{"global.select_all" | translate}}
                                </label> &nbsp;
                            </div>

                            <button class="btn btn-custom-no-bg btn-outline-delete" (click)="removeSelected()">
                                {{"global.delete_selecteds" | translate}}
                            </button>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="pipe-filter float-right">
                            <div class="input-group md-3">
                                <input type="text" class="form-control" [(ngModel)]="term"
                                    aria-describedby="basic-addon1" placeholder='{{"global.search_plc" | translate}}'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="material-icons search-icon">search</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group float-right">
                            <select [(ngModel)]="typeOrder" class="custom-select float-right" id="select-left"
                                (change)="changeOrder()">
                                <option value="asc">{{"global.a_z" | translate}}</option>
                                <option value="desc">{{"global.z_a" | translate}}</option>
                                <option value="recent">{{"global.latest" | translate}}</option>
                                <option value="oldest">{{"global.oldest" | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card" *ngIf="documents.length >= 1">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"global.document" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doc of documents | filter: term : activeLanguage; let i = index">
                                    <td class="select-td">
                                        <div class="form-check">
                                            <input [(ngModel)]="documentsSelected[doc.uid]" class="form-check-input"
                                                type="checkbox" id="selectImages">
                                        </div>
                                    </td>
                                    <td>
                                        <img class="file-type" src="../../../../../assets/images/{{doc.icon}}">
                                        <span class="doc-name" *ngIf="userLanguage == 'pt_BR'">{{doc.name.PtBR}}</span>
                                        <span class="doc-name" *ngIf="userLanguage == 'en_US'">{{doc.name.EnUS}}</span>
                                        <span class="doc-name" *ngIf="userLanguage == 'es_ES'">{{doc.name.EsES}}</span>
                                        <span class="doc-name" *ngIf="userLanguage == 'fr_FR'">{{doc.name.FrFR}}</span>
                                        <span class="doc-name" *ngIf="userLanguage == 'de_DE'">{{doc.name.DeDE}}</span>
                                    </td>
                                    <td>
                                        <!-- <a (click)="getDocEdit(doc, doc.name)" data-toggle="modal"
                                            data-target="#editDocument"><i
                                                class="material-icons default-icon">create</i></a> -->
                                        <a target="_blank" href="{{doc.url}}"><i
                                                class="material-icons default-icon">cloud_download</i></a>
                                        <a (click)="getDocumentDelete(doc.uid, doc.storageId)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Upload Documents -->
<div class="modal fade" id="add-document" tabindex="-1" role="dialog" aria-labelledby="add-documentLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert" *ngIf="event">
                    <span>{{"global.max_size_file" | translate}}
                        <span *ngIf="event.documents_file_limit == 1024000">1MB</span>
                        <span *ngIf="event.documents_file_limit == 2048000">2MB</span>
                        <span *ngIf="event.documents_file_limit == 3072000">3MB</span>
                        <span *ngIf="event.documents_file_limit == 4096000">4MB</span>
                        <span *ngIf="event.documents_file_limit == 5120000">5MB</span>
                        <span *ngIf="event.documents_file_limit == 10240000">10MB</span>
                    </span>
                </div>
                <dropzone [message]="'Clique aqui para selecionar ou arraste e solte arquivos'"
                    (success)="upload($event)" (error)="onUploadError($event)">
                </dropzone>

                <div class="alert alert-danger" role="alert" *ngIf="invalidSize == true">
                    <span>{{"global.invalid_file_size" | translate}}
                        <span *ngIf="event.documents_file_limit == 1024000">(1MB)</span>
                        <span *ngIf="event.documents_file_limit == 2048000">(2MB)</span>
                        <span *ngIf="event.documents_file_limit == 3072000">(3MB)</span>
                        <span *ngIf="event.documents_file_limit == 4096000">(4MB)</span>
                        <span *ngIf="event.documents_file_limit == 5120000">(5MB)</span>
                        <span *ngIf="event.documents_file_limit == 10240000">10MB</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal Edit Document Name -->
<div class="modal fade" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="editDocumentLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> <strong>{{"global.edit" | translate}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs" id="myTabEdit" role="tablist">
                    <li class="nav-item" *ngIf="languages?.PtBR">
                        <a class="nav-link {{eventLanguage == 'pt_BR' ? 'active' : ''}}"
                            (click)="activeLanguage = 'PtBR'" id="translate-pt-edit-tab" data-toggle="tab"
                            href="#translate-pt-edit" role="tab" aria-controls="translate-pt"
                            aria-selected="false">{{"comp.event_info.portuguese" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EnUS">
                        <a class="nav-link {{eventLanguage == 'en_US' ? 'active' : ''}}"
                            (click)="activeLanguage = 'EnUS'" id="translate-en-edit-tab" data-toggle="tab"
                            href="#translate-en-edit" role="tab" aria-controls="translate-en"
                            aria-selected="false">{{"comp.event_info.english" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.EsES">
                        <a class="nav-link {{eventLanguage == 'es_ES' ? 'active' : ''}}"
                            (click)="activeLanguage = 'EsES'" id="translate-es-edit-tab" data-toggle="tab"
                            href="#translate-es-edit" role="tab" aria-controls="translate-es"
                            aria-selected="false">{{"comp.event_info.spanish" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.FrFR">
                        <a class="nav-link {{eventLanguage == 'fr_FR' ? 'active' : ''}}"
                            (click)="activeLanguage = 'FrFR'" id="translate-fr-edit-tab" data-toggle="tab"
                            href="#translate-fr-edit" role="tab" aria-controls="translate-fr"
                            aria-selected="false">{{"comp.event_info.french" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="languages?.DeDE">
                        <a class="nav-link {{eventLanguage == 'de_DE' ? 'active' : ''}}"
                            (click)="activeLanguage = 'DeDE'" id="translate-de-edit-tab" data-toggle="tab"
                            href="#translate-de-edit" role="tab" aria-controls="translate-de"
                            aria-selected="false">{{"comp.event_info.german" | translate}}</a>
                    </li>
                </ul>
                <br>

                <div class="tab-content" id="myTabEditContent">
                    <div class="tab-pane fade {{eventLanguage == 'pt_BR' ? 'show active' : ''}}" id="translate-pt-edit"
                        role="tabpanel" aria-labelledby="translate-pt-edit-tab">
                        <div class="form-group" *ngIf="languages?.PtBR">
                            <label>{{"global.name" | translate}}</label>
                            <input class="form-control" type="text"
                                placeholder='{{"global.placeholder_name" | translate}}' [(ngModel)]="newName['PtBR']" />
                            <div class="alert alert-danger" role="alert" *ngIf="emptyName">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'en_US' ? 'show active' : ''}}" id="translate-en-edit"
                        role="tabpanel" aria-labelledby="translate-en-edit-tab">
                        <div class="form-group" *ngIf="languages?.EnUS">
                            <label>{{"global.name" | translate}}</label>
                            <input class="form-control" type="text"
                                placeholder='{{"global.placeholder_name" | translate}}' [(ngModel)]="newName['EnUS']" />
                            <div class="alert alert-danger" role="alert" *ngIf="emptyName">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'es_ES' ? 'show active' : ''}}" id="translate-es-edit"
                        role="tabpanel" aria-labelledby="translate-es-edit-tab">
                        <div class="form-group" *ngIf="languages?.EsES">
                            <label>{{"global.name" | translate}}</label>
                            <input class="form-control" type="text"
                                placeholder='{{"global.placeholder_name" | translate}}' [(ngModel)]="newName['EsES']" />
                            <div class="alert alert-danger" role="alert" *ngIf="emptyName">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'fr_FR' ? 'show active' : ''}}" id="translate-fr-edit"
                        role="tabpanel" aria-labelledby="translate-fr-edit-tab">
                        <div class="form-group" *ngIf="languages?.FrFR">
                            <label>{{"global.name" | translate}}</label>
                            <input class="form-control" type="text"
                                placeholder='{{"global.placeholder_name" | translate}}' [(ngModel)]="newName['FrFR']" />
                            <div class="alert alert-danger" role="alert" *ngIf="emptyName">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade {{eventLanguage == 'de_DE' ? 'show active' : ''}}" id="translate-de-edit"
                        role="tabpanel" aria-labelledby="translate-de-edit-tab">
                        <div class="form-group" *ngIf="languages?.DeDE">
                            <label>{{"global.name" | translate}}</label>
                            <input class="form-control" type="text"
                                placeholder='{{"global.placeholder_name" | translate}}' [(ngModel)]="newName['DeDE']" />
                            <div class="alert alert-danger" role="alert" *ngIf="emptyName">
                                {{"global.required_name" | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="float-right">
                    <button class="btn btn-custom" (click)="editName()"
                        *ngIf="loaderEdit == false">{{"global.btn_save" | translate}}</button>
                    <div class="align-loader" *ngIf="loaderEdit == true">
                        <div class="loader-default"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>

<!-- modal error -->
<swal #errorSwal title='{{"global.modals.error" | translate}}' text='{{"global.modals.error_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#6C757D"
    [showCancelButton]="false">
</swal>

<!-- modal delete confirm -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteDocument()">
</swal>