.select-td {
    width: 1px !important;
    margin: 0 !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.align-back-btn,
.align-icons-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.doc-name {
    text-transform: none!important;
}