.uppercase {
    text-transform: uppercase;
}

.update-color {
    color: #c9b81f;
}

.create-color {
    color: #1FC94F;
}

.delete-color {
    color: #c91f1f;
}

.text-small {
    font-size: .8em;
}