<!-- logs -->
<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="box-title float-left">{{"global.logs_use" | translate}}</h4>
          <button class="btn btn-secondary float-right" routerLink="#" data-toggle="tooltip" data-placement="bottom"
            title="Exportação não disponível" disabled>{{"global.btn_export" | translate}}</button>
        </div>
        <div class="card-body--" *ngIf="loader == false">
          <div class="table-stats order-table ov-h">
            <table class="table ">
              <thead>
                <tr>
                  <th>{{"global.date" | translate}}</th>
                  <th class="text-center">{{"global.user" | translate}}</th>
                  <th class="text-center">{{"global.operation" | translate}}</th>
                  <th>{{"global.action" | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                  <td class="uppercase">{{log.date * 1000 | date: "dd-MMM-yy 'às' hh:mma"}}</td>
                  <td class="uppercase text-center">{{log.userName}}</td>
                  <td class="uppercase text-center">
                    <span class="uppercase delete-color" *ngIf="log.operation == 'delete'">{{"global.deleted" |
                      translate}}</span>
                    <span class="uppercase update-color" *ngIf="log.operation == 'update'">{{"global.updated" |
                      translate}}</span>
                    <span class="uppercase create-color" *ngIf="log.operation == 'create'">{{"global.created" |
                      translate}}</span>
                  </td>
                  <td class="uppercase text-small">
                    <span *ngIf="log.where.type == 'user'">{{"global.user" | translate}}</span>
                    {{log.where.itemName}}
                    <span *ngIf="log.where.type == 'inEvent'">{{"global.at_event" | translate}}</span>
                    {{log.where.eventName}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div> <!-- /.table-stats -->
        </div>
      </div> <!-- /.card -->
    </div> <!-- /.col-lg-8 -->
  </div>
</div>
<div class="align-loader" *ngIf="loader == true">
  <div class="loader-default"></div>
</div>
<div class="page-align">
  <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
    autoHide="true"></pagination-controls>
</div>
<!-- /.logs -->