<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- display the module name according to the user's language. -->
                    <h4 class="box-title float-left" *ngIf="module && event">
                        {{module | getNameModule: [userLanguage, event?.language]}}</h4>
                    <div class="float-right">
                        <button class="btn btn-custom btn-margin-right-default" data-toggle="modal" (click)="export()">{{"global.btn_export"
                |
                translate}}</button>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="loader == false">
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>{{"global.session" | translate}}</th>
                                    <th class="text-center">{{"comp.personal_schedule.limit" | translate}}</th>
                                    <th class="text-center">{{"comp.personal_schedule.occupy" | translate}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- *ngFor="let attendee of listAttendees | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"> -->
                                <tr
                                    *ngFor="let session of sessions | filter: term  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td>
                                        <span *ngIf="userLanguage && eventLanguage" class="name">
                                            {{session | getNameSession: [userLanguage, eventLanguage]}}</span>
                                    </td>

                                    <td *ngIf="session.limitAttendees > 0" class="text-center">
                                        <span class="">{{session.limitAttendees}}</span>
                                    </td>

                                    <td *ngIf="session.limitAttendees === 0" class="text-center">
                                        <span class="">∞</span>
                                    </td>

                                    <td class="text-center">
                                        <span class="">{{session.qtdAttendees}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOADER  -->
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>

<!-- PAGINATION CONTROLS -->
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>