.main-background {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.btn-settings {
    background: #A3A3A3;
    border-radius: 8px;
    font-size: 0.2em;
    color: #000000;
}

.mg-0 {
    display: flex;
    justify-content: flex-start; 
}

.legend {
    display: flex;
    align-items: center;
}

.result-percent-graph {
    width: 30px;
    height: 20px;
    border-radius: 4px;
}

.header-page {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 100%;
    padding: 10px 0;
}

.logo-img {
    float: left;
    width: 120px;
    height: auto;
    margin-left: 7%;
}

.page-title {
    margin-right: 7%;
}

.pink-bg {
    background-color: rgba(255, 99, 132, 0.2);
}

.blue-bg {
    background-color: rgba(54, 162, 235, 0.2);
}

.yellow-bg {
    background-color: rgba(255, 206, 86, 0.2);
}

.green-bg {
    background-color: rgba(75, 192, 192, 0.2);
}

.purple-bg {
    background-color: rgba(153, 102, 255, 0.2);
}

.orange-bg {
    background-color: rgba(255, 159, 64, 0.2);
}

.dropdown-toggle {
    background: transparent;
    outline: 0;
    border: none;
    position: relative;
    left: 70%;
}

.row-padding {
    padding: 20px 0 20px 0;
}

.dropdown-toggle:before {
    content: none
}

.dropdown-menu {
    margin-top: 40px;
    width: 30vw;
    text-align: center;
}

.d-flex-col {
    display: flex;
    align-items: center;
}

.fixed-height-chart {
    height: 700px;
}

input[type=number] {
    text-align: center;
}