<section class="main-background">
    <div class="row row-padding">
        <!-- <div class="col-sm-2 col-md-1 d-flex-col">
  
    </div> -->
        <div class="col-sm-12 col-md-3">
            <img src="{{logo}}" alt="Logo do evento" class="logo-img">

            <div class="btn-group dropleft">
                <button type="button" class="dropdown-toggle-btn-custom dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">settings</i>
                </button>
                <div class="dropdown-menu">
                    <div class="container">
                        <div class="row" id="config-box">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="formControlRange">{{"global.font_size_graphic" | translate}}</label>
                                    <input type="range" class="form-control-range" id="formControlRange" min="10"
                                        max="50" [(ngModel)]="chartFontSize" [ngModelOptions]="{standalone: true}"
                                        (change)="changeFontSize()">

                                    <div class="text-center">
                                        {{chartFontSize}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="formControlRangeLabel">{{"global.font_size_label" | translate}}</label>
                                    <input type="range" class="form-control-range" id="formControlRangeLabel" min="10"
                                        max="50" [(ngModel)]="subtitleFontSize" [ngModelOptions]="{standalone: true}"
                                        (change)="changeFontSize()">

                                    <div class="text-center">
                                        {{subtitleFontSize}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="text-center">
                                        <label
                                            for="formControlHeightChart">{{"global.height_chart_px" | translate}}</label>

                                        <input class="form-control" type="number" id="formControlHeightChart" max="5000"
                                            min="1" [(ngModel)]="chartHeight" [ngModelOptions]="{standalone: true}"
                                            (change)="changeChartHeight()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="text-center">
                                        <label
                                            for="formControlWidthChart">{{"global.width_chart_px" | translate}}</label>

                                        <input class="form-control" type="number" id="formControlWidthChart" max="5000"
                                            min="1" [(ngModel)]="chartWidth" [ngModelOptions]="{standalone: true}"
                                            (change)="changeChartWidth()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="check-show-index"
                                        [(ngModel)]="chartIndexShow" [ngModelOptions]="{standalone: true}"
                                        (change)="changeViewIndexChart()">
                                    <label for="check-show-index">{{"global.show_index_graphic" | translate}}</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="check-show-label"
                                        [(ngModel)]="chartLabelShow" [ngModelOptions]="{standalone: true}"
                                        (change)="changeViewLabelChart()">
                                    <label for="check-show-label">{{"global.show_field_graphic" | translate}}</label>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-custom btn-align" (click)="saveChangeOptionsChart()"
                            *ngIf="global.userId !== null && global.userId !== undefined"
                            style="display:block;margin:0 auto;">{{"global.save" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <h3 class="text-center">{{trainingName}}</h3>
            <h4 class="text-center">{{questionTitle}}</h4>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" id="chart-box">
            <div class="col-sm-12 col-md-12">
                <br><br>
                <div class="fixed-height-chart">
                    <canvas id="trainingChart"></canvas>
                </div>
            </div>
        </div>

        <br><br>

        <div class="row" *ngFor="let percentage of answeredPorcentage; let i = index">
            <div class="col-sm-12 col-md-12 mg-0">
                <div class="legend">

                    <span class="result-percent-graph" [style.background-color]="retangleColor[i]"></span>

                    <span class="result-percent-number" [ngStyle]="{'font-size': subtitleFontSize + 'pt'}">
                        &nbsp; ({{percentage}}%) {{objOptFinal[0][i].name}}
                    </span>
                </div>
            </div>
        </div>

        <br><br>
    </div>
</section>


<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>