<!-- events-client -->
<div class="orders">
    <div class="row justify-content-end">
        <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <select [(ngModel)]="typeOrder" class="custom-select" id="select-left" (change)="changeOrder()">
                    <option value="asc">{{"global.a_z" | translate}}</option>
                    <option value="desc">{{"global.z_a" | translate}}</option>
                    <option value="nearest">{{"global.latest" | translate}}</option>
                    <option value="distant">{{"global.oldest" | translate}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="pipe-filter float-right">
                <div class="input-group md-3">
                    <input type="text" class="form-control" [(ngModel)]="term" aria-describedby="basic-addon1"
                        placeholder='{{"global.search_plc" | translate}}'>

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="material-icons search-icon">search</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title float-left">{{"global.client_events" | translate}}</h4>
                    <button class="btn btn-secondary float-right"
                        routerLink="/dashboard/events-client/create">{{"global.btn_new" | translate}}</button>
                </div>
                <div class="card-body--" *ngIf="loader == false">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>{{"global.event" | translate}}</th>
                                    <th>{{"comp.adm_resume.client" | translate}}</th>
                                    <th>{{"global.start_date" | translate}}</th>
                                    <th>{{"global.end_date" | translate}}</th>
                                    <th>{{"global.manage" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let event of events | filter: term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td> <span class="name">{{event.title}}</span> </td>

                                    <td> <span class="product">{{event.client.name}} {{event.client.name.last}}</span>
                                    </td>

                                    <td> <span class="product">{{event.startDate}}</span> </td>
                                    <td> <span class="product">{{event.endDate}}</span> </td>
                                    <td>
                                        <a routerLink="/event/{{event.uid}}"><i
                                                class="material-icons default-icon">visibility</i></a>
                                        <a routerLink="edit/{{event.uid}}"><i
                                                class="material-icons default-icon">create</i></a>
                                        <a (click)="setEventRemove(event)" [swal]="deleteSwal"><i
                                                class="material-icons default-icon delete-icon">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-stats -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
</div>
<div class="align-loader" *ngIf="loader == true">
    <div class="loader-default"></div>
</div>
<div class="page-align">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" responsive="true" directionLinks="false"
        autoHide="true"></pagination-controls>
</div>
<!-- /.events-client -->
<swal #deleteSwal title='{{"global.modals.delete" | translate}}' text='{{"global.modals.delete_message" | translate}}'
    icon="error" confirmButtonText='{{"global.modals.btn_delete" | translate}}'
    cancelButtonText='{{"global.modals.btn_cancel" | translate}}' confirmButtonColor="#c91f1f" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteEvent()">
</swal>

<!-- modal success -->
<swal #successSwal title='{{"global.modals.success" | translate}}'
    text='{{"global.modals.success_message" | translate}}' icon="success"
    confirmButtonText='{{"global.modals.btn_ok" | translate}}' confirmButtonColor="#1FC94F" [showCancelButton]="false">
</swal>