.btn-drop {
    border: 0.6px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: none;
    width: 65px;
    height: 37px;
}

.icon-size {
    width: 22px;
    height: 22px;
}

.icon-margin {
    margin-right: 3px;
}

label>input {
    display: none;
    position: absolute;
}

.group-name {
    border-radius: 8px;
    padding: 4px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    float: left;
    margin: 2px;
}

li {
    list-style: none;
}

.manage-icon {
    color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
}

.b3-icons {
    font-size: 24px;
}

.simple-chip {
    background-color: #e6e4e4;
    color: #1f1f1f;
}

.add-icon {
    color: #4a88cf;
    cursor: pointer;
}

.Delete-answer,
.btnDelete {
    color: #c91f1f !important;
    cursor: pointer;
}

.btnEdit {
    cursor: pointer;
}

.btnDelete,
.btnEdit {
    font-size: 15px;
}

.align-flex-manage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tbody-width,
.width-tr {
    width: 100%;
}

.collapse-custom {
    padding-left: 30px;
    width: 100%;
}

.td-width {
    width: 100vh;
}

.icon-delete,
.manage-icon {
    font-size: 16px;
    cursor: pointer;
}

.icon-delete {
    color: #c91f1f;
}

.simple-chip {
    background-color: #e6e4e4;
    color: #1f1f1f;
}

.btn-margin {
    margin-right: 2px;
}